
.spectrum--large .spectrum-Card {
  --spectrum-card-min-width: 300px;
  --spectrum-card-border-radius: 5px;
  --spectrum-card-coverphoto-height: 212px;
  --spectrum-card-coverphoto-border-bottom-size: 1px;
  --spectrum-card-body-padding-top: 25px;
  --spectrum-card-body-padding-right: 30px;
  --spectrum-card-body-padding-left: 30px;
  --spectrum-card-body-padding-bottom: 25px;
  --spectrum-card-checkbox-margin: 20px;
  --spectrum-card-body-header-height: 22px;
  --spectrum-card-body-content-height: 18px;
  --spectrum-card-body-content-margin-top: 8px;
  --spectrum-card-title-padding-right: 10px;
  --spectrum-card-title-text-size: 17px;
  --spectrum-card-subtitle-text-size: 13px;
  --spectrum-card-subtitle-padding-right: 10px;
  --spectrum-card-subtitle-letter-spacing: 0.06em;
  --spectrum-card-actions-margin: 13px;
  --spectrum-card-footer-padding-top: 18px;
  --spectrum-card-footer-border-top-size: 1px;
  --spectrum-card-border-size: 1px;
  --spectrum-card-quiet-border-radius: 5px;
  --spectrum-card-quiet-border-size: 1px;
  --spectrum-card-quiet-min-size: 212px;
  --spectrum-card-quiet-preview-padding: 25px;
  --spectrum-card-quiet-body-header-height: 22px;
  --spectrum-card-quiet-body-header-margin-top: 18px;
  --spectrum-card-quiet-small-body-header-height: 15px;
  --spectrum-card-quiet-small-body-margin-top: 10px;
  --spectrum-card-quiet-small-preview-padding: 15px;
  --spectrum-card-quiet-small-checkbox-margin: 13px;
  --spectrum-card-quiet-small-min-size: 112px;
  --spectrum-card-quiet-small-title-text-size: 17px;
  --spectrum-quickactions-height: 50px;
}
