
.spectrum--dark .spectrum-Stepper {
  --spectrum-textfield-border-color: rgb(74, 74, 74);
  --spectrum-textfield-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-textfield-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-textfield-border-color-error: rgb(236, 91, 98);
  --spectrum-textfield-quiet-border-color-disabled: rgb(74, 74, 74);
}
