
.spectrum--dark .spectrum-CircleLoader {
  --spectrum-loader-circle-medium-track-color: rgb(74, 74, 74);
  --spectrum-loader-circle-medium-track-fill-color: rgb(55, 142, 240);
  --spectrum-loader-circle-medium-over-background-track-color: rgba(255,255,255,0.2);
  --spectrum-loader-circle-medium-over-background-track-fill-color: rgb(255, 255, 255);
}
