
.spectrum--large .spectrum-Tooltip {
  --spectrum-dropdown-flyout-menu-offset-y: 8px;
  --spectrum-tooltip-text-font-weight: 400;
  --spectrum-tooltip-min-height: 30px;
  --spectrum-tooltip-padding-x: 13px;
  --spectrum-tooltip-padding-top: 5px;
  --spectrum-tooltip-content-max-width: 126px;
  --spectrum-tooltip-icon-size: 18px;
  --spectrum-tooltip-icon-margin-x: 10px;
  --spectrum-tooltip-tip-height: 5px;
  --spectrum-tooltip-tip-margin: 10px;
  --spectrum-tooltip-border-radius: 5px;
  --spectrum-tooltip-text-size: 15px;
  --spectrum-tooltip-text-line-height: 19px;
}
