/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum-Alert {
  background-color: rgb(255, 255, 255);
  /* default color set to body color, header element overwrites this */
  color: rgb(112, 112, 112);
}
.spectrum-Alert-header {
  color: rgb(44, 44, 44);
}
.spectrum-Alert-content {
  color: rgb(112, 112, 112);
}
/* topdoc
---
name: Alert - Info
description: The Spectrum alert 'info'
markup: |
  <div class="spectrum-Alert spectrum-Alert--info">
    <svg class="spectrum-Icon spectrum-Alert-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertInfo" />
    </svg>
    <div class="spectrum-Alert-header">Infomation Alert Header</div>
    <div class="spectrum-Alert-content">This is an alert.</div>
  </div>

*/
.spectrum-Alert--info {
  border-color: rgb(38, 128, 235);
}
.spectrum-Alert--info .spectrum-Alert-icon {
    color: rgb(38, 128, 235);
  }
/* topdoc
---
name: Alert - Error
description: The Spectrum alert 'error'
markup: |
  <div class="spectrum-Alert spectrum-Alert--error">
    <svg class="spectrum-Icon spectrum-Alert-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertError" />
    </svg>
    <div class="spectrum-Alert-header">Error Alert - Oh no</div>
    <div class="spectrum-Alert-content">This is an alert.</div>
  </div>

*/
.spectrum-Alert--error {
  border-color: rgb(227, 72, 80);
}
.spectrum-Alert--error .spectrum-Alert-icon {
    color: rgb(227, 72, 80);
  }
/* topdoc
---
name: Alert - Success
description: The Spectrum alert 'success'
markup: |
  <div class="spectrum-Alert spectrum-Alert--success">
    <svg class="spectrum-Icon spectrum-Alert-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertSuccess" />
    </svg>
    <div class="spectrum-Alert-header">Successful Alert Header</div>
    <div class="spectrum-Alert-content">This is an alert.</div>
  </div>

*/
.spectrum-Alert--success {
  border-color: rgb(45, 157, 120);
}
.spectrum-Alert--success .spectrum-Alert-icon {
    color: rgb(45, 157, 120);
  }
/* topdoc
---
name: Alert - Warning
description: The Spectrum alert 'warning'
markup: |
  <div class="spectrum-Alert spectrum-Alert--warning">
    <svg class="spectrum-Icon spectrum-Alert-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertError" />
    </svg>
    <div class="spectrum-Alert-header">Warning Alert Header</div>
    <div class="spectrum-Alert-content">This is an alert.</div>
  </div>

*/
.spectrum-Alert--warning {
  border-color: rgb(230, 134, 25);
}
.spectrum-Alert--warning .spectrum-Alert-icon {
    color: rgb(230, 134, 25);
  }
