/* -------------------------*/
/* BASE */
/* -------------------------*/
.sdldocs-body {
  font-size: 1.1rem;
}
/* this is a temporary hack until link styles come from spectrum-css */
.sdldocs-link {
  color: #4b4b4b;
  text-decoration: none;
  font-weight: bold;
}
.sdldocs-link:hover {
  border-bottom: 2px solid #2c2c2c;
}
.sdldocs-main-content,
.sdldocs-header {
  margin: 0 auto;
  max-width: 1100px;
}
/* typekit font loading */
.wf-loading {
  visibility: hidden;
}
/* TODO: the commons defines the font @ 14px, spectrum.corp use 18px */
.spectrum {
  font-size: 1.125rem;
  line-height: 24px;
}
/*TODO: move this when spectrum-css has header styles*/
.spectrum-Heading {
  font-weight: normal;
}
.spectrum-Heading--display {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 100;
}
.spectrum-Heading--pagetitle {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 100;
}
.spectrum-Heading--subtitle {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.spectrum-Heading--subtitle2 {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: bold;
}
.spectrum-Text {
  color: #4b4b4b; /* grey9 (Light); */
  margin: 0 0 1rem 0;
}
.spectrum-Text--small {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1rem;
}
.spectrum-Text--regular {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.25rem;
}
.spectrum-Text--large {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.5rem;
}
.sdldocs-component {
  margin-bottom: 3rem;
}
.sdldocs-component-description {
  padding-left: 1rem;
  font-size: 0.99rem;
}
.sdldocs-component-description p {
  margin-top: 0;
}
.sdldocs-component-markup {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
section.examples a,
.sdldocs-code-link a {
  color: #005abe;
  text-decoration: none;
}
section.examples a:hover,
.sdldocs-code-link a:hover {
  text-decoration: underline;
}
.sdldocs-code-example {
  display: none;
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 0 14px 25px 14px;
  font-size: 12px;
  border-radius: 1px;
  font-weight: 400;
  width: 100%;
}
.sdldocs-code-example-title {
  margin-bottom: 3px;
}
/* let's help rainbow work right */
pre.html {
  margin: 0;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
}
/* utilities */
.u-sdldocs-clearfix {
  zoom: 1;
}
.u-sdldocs-clearfix:before,
.u-sdldocs-clearfix:after {
  content: "";
  display: table;
}
.u-sdldocs-clearfix:after {
  clear: both;
}
