.sdldocs-article {
  color: #4b4b4b; /* grey9 (Light); */
  margin: 0 0 3rem 0;
  font-weight: normal;
}
.sdldocs-article h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-weight: 100;
}
.sdldocs-article h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 100;
}
.sdldocs-article h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: bold;
}
.sdldocs-article a {
  color: #4b4b4b;
  text-decoration: none;
  font-weight: bold;
}
.sdldocs-article a:hover {
  border-bottom: 2px solid #005abe;
}
.sdldocs-article p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: #4b4b4b;
  margin: 0 0 1rem;
}
.sdldocs-article-recent-title {
  margin-bottom: 3rem;
}
.sdldocs-article-title-link {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
}
.sdldocs-article-link-teaser {
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 0.1rem;
}
.sdldocs-article-back {
  float: right;
  padding-left: 1rem;
}
.sdldocs-article-back:before {
  content: '<- ';
}
.sdldocs-article-footer {
  margin-bottom: 3rem;
}
