/* -------------------------*/
/* SCROLL (nav and scrollable) */
/* -------------------------*/
.sdldocs-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
  height: 100%;
}
.sdldocs-nav {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: none;
}
.sdldocs-menu {
  margin-left: 1.1rem;
}
.sdldocs-menu-link {
  display: inline-block;
  margin: 0 0.875rem;
  padding: 0;
  color: #707070 !important;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 3rem;
/* tint bottom line for selected  */
}
.sdldocs-menu-link:hover {
  border-bottom: solid 2px #2c2c2c;
}
.sdldocs-menu-link.is-selected {
  border-bottom: solid 2px #2c2c2c;
}
/*

.sdldocs-ScrollNav-Wrapper {
  padding-right: 0;
  padding-bottom: 75px;
  padding-left: 0;
  width: 190px;
}
*/
.sdldocs-nav-item {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.sdldocs-nav-link {
  color: #6b6b6b;
  text-decoration: none;
  font-size: 2rem;
  line-height: 80px;
}
/*.sdldocs-ScrollNav-Subitem {
  display: none;
  margin-bottom: 0.6rem;
  padding: 0 0 0 1.3rem;
}

.sdldocs-ScrollNav-Subitem.active {
  display: block;
}

.sdldocs-ScrollNav-Sublink {
  display: block;

  color: #6b6b6b;
  text-decoration: none;
  line-height: 23px;
}

.sdldocs-ScrollNav-Link:hover,
.sdldocs-ScrollNav-Sublink:hover {
  color: #2b2b2b;
}

.sdldocs-ScrollNav-Link:visited {
  color: #6b6b6b;
}

.sdldocs-ScrollNav-Link.active,
.sdldocs-ScrollNav-Sublink.active {
  color: #326ec8;
  cursor: default;

  pointer-events: none;
}

.sdldocs-ScrollNav-Link.active .sdldocs-ScrollNav-Link:hover {
  color: #2b2b2b;
}

.sdldocs-Scrollnav-item.active > .sdldocs-ScrollNav-Link {
  color: #326ec8;
}
*/
@media (min-width: 48em) {
  .sdldocs-nav {
    display: block;
  }
  .sdldocs-nav-item {
    border: none;
  }
  .sdldocs-nav-link {
    font-size: inherit;
    line-height: inherit;
  }
}
