/* For documentation beautification only - DO NOT COPY */

.dummy-spacing {
  height: 160px;
}

/* topdoc
name: Select - Default
description: A Spectrum 'default' dropdown with a flyout. If you are using in a web form, this should proxy to hidden <select> element for form serialization purposes.
markup: |
  <h4>Closed - Default</h4>
  <div class="spectrum-Select" style="width: 192px;">
    <button class="spectrum-Select-trigger" aria-haspopup="true">
      <span class="spectrum-Select-trigger-label">Select a Country</span>
      <span class="spectrum-Select-open-icon"></span>
      <span class="spectrum-Select-invalid-icon spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
    </button>
    <ul class="spectrum-Flyout" role="menu" tabindex="0">
      <li class="spectrum-Flyout-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-Flyout-divider">
      <li class="spectrum-Flyout-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <h4>Open - Default</h4>
  <div class="spectrum-Select is-open" style="width: 192px;">
    <button class="spectrum-Select-trigger" aria-haspopup="true">
      <span class="spectrum-Select-trigger-label">Select a Country</span>
      <span class="spectrum-Select-open-icon"></span>
      <span class="spectrum-Select-invalid-icon spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
    </button>
    <ul class="spectrum-Flyout" role="menu" tabindex="0">
      <li class="spectrum-Flyout-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-Flyout-divider">
      <li class="spectrum-Flyout-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <div class="dummy-spacing"></div>
*/

.spectrum-Select {
  position: relative;
  box-sizing: border-box;
  transition: border-color 150ms;
  border-radius: 4px;
  font-size: 0.875rem;
  cursor: pointer;
  display: inline-block;
}

.spectrum-Select .spectrum-Flyout {
    opacity: 0;
    pointer-events: none;
    margin-top:2px;
    transition: opacity 150ms, transform 150ms;
  }

.spectrum-Select.is-disabled {
    border-width: 0;
  }

.spectrum-Select.is-disabled .spectrum-Select-trigger {
      border-width: 0;
      cursor: default;
    }

.spectrum-Select.is-open {
    transition: border-color 150ms;
  }

.spectrum-Select.is-open .spectrum-Select-trigger {
      transition: background-color 150ms;
      border: 1px solid;
    }

.spectrum-Select.is-open .spectrum-Flyout {
      opacity: 1;
      transform: translateY(4px); /*needed for the proper spectrum transition*/
      pointer-events: all;
      position: absolute;
    }

.spectrum-Select-trigger {
  width: 100%;
  font-style: italic;
  height: 32px;
  border: 1px solid;
  border-radius: 4px;
  outline: none;
  margin: 0;
  cursor: pointer;
  padding: 0 10px;
  font-family: inherit;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  transition: background-color 150ms;
}

.spectrum-Select-open-icon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 4px; /* to create a gap between label and icon in quiet mode */
  margin-right: 8px;
}

/* to create a gap between icons */

.spectrum-Select-open-icon::after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 8px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    content: '';
  }

/* topdoc
name: Select - Quiet
description: Default dropdown with labels
markup: |
  <h4>Closed - Quiet</h4>
  <div class="spectrum-Select spectrum-Select--quiet" style="width: 192px;">
    <button class="spectrum-Select-trigger" aria-haspopup="true">
      <span class="spectrum-Select-trigger-label">Select a Country</span>
      <span class="spectrum-Select-open-icon"></span>
      <span class="spectrum-Select-invalid-icon spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
    </button>
    <ul class="spectrum-Flyout" role="menu" tabindex="0">
      <li class="spectrum-Flyout-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-Flyout-divider">
      <li class="spectrum-Flyout-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <h4>Open - Quiet</h4>
  <div class="spectrum-Select spectrum-Select--quiet is-open" style=" width: 192px;">
    <button class="spectrum-Select-trigger" aria-haspopup="true">
      <span class="spectrum-Select-trigger-label">Select a Country</span>
      <span class="spectrum-Select-open-icon"></span>
      <span class="spectrum-Select-invalid-icon spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
    </button>
    <ul class="spectrum-Flyout" role="menu" tabindex="0">
      <li class="spectrum-Flyout-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-Flyout-divider">
      <li class="spectrum-Flyout-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>
  <div class="dummy-spacing"></div>

*/