
.spectrum--light .spectrum-Textfield {
  --spectrum-textfield-placeholder-text-color: rgb(142, 142, 142);
  --spectrum-textfield-text-color: rgb(75, 75, 75);
  --spectrum-textfield-background-color: rgb(255, 255, 255);
  --spectrum-textfield-border-color: rgb(225, 225, 225);
  --spectrum-textfield-placeholder-text-color-hover: rgb(44, 44, 44);
  --spectrum-textfield-border-color-hover: rgb(202, 202, 202);
  --spectrum-textfield-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-textfield-placeholder-text-color-disabled: rgb(179, 179, 179);
  --spectrum-textfield-text-color-disabled: rgb(179, 179, 179);
  --spectrum-textfield-background-color-disabled: rgb(234, 234, 234);
  --spectrum-textfield-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-textfield-border-color-down: rgb(20, 115, 230);
  --spectrum-textfield-border-color-error: rgb(215, 55, 63);
  --spectrum-textfield-quiet-background-color: rgba(0, 0, 0, 0);
  --spectrum-textfield-quiet-border-color: rgb(225, 225, 225);
  --spectrum-textfield-quiet-border-color-hover: rgb(202, 202, 202);
  --spectrum-textfield-quiet-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-textfield-quiet-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-textfield-quiet-border-color-disabled: rgb(225, 225, 225);
  --spectrum-textfield-quiet-border-color-down: rgb(20, 115, 230);
}
