/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
.spectrum-Link {
  color: rgb(55, 142, 240);
}
.spectrum-Link:hover {
    color: rgb(55, 142, 240);
  }
.spectrum-Link:active {
    color: rgb(75, 156, 245);
  }
.spectrum-Link:focus {
    color: rgb(55, 142, 240);
  }
.spectrum-Link.is-disabled {
    color: rgb(73, 73, 73);
  }
.spectrum-Link--subtle {
  color: inherit;
}
.spectrum-Link--subtle:hover {
    color: inherit;
  }
.spectrum-Link--subtle:active {
    color: inherit;
  }
.spectrum-Link--subtle:focus {
    color: inherit;
  }

