/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-Link {
  color: rgb(13, 102, 208);
}
.spectrum-Link:hover {
    color: rgb(13, 102, 208);
  }
.spectrum-Link:active {
    color: rgb(9, 90, 186);
  }
.spectrum-Link:focus {
    color: rgb(13, 102, 208);
  }
.spectrum-Link.is-disabled {
    color: rgb(179, 179, 179);
  }
.spectrum-Link--subtle {
  color: inherit;
}
.spectrum-Link--subtle:hover {
    color: inherit;
  }
.spectrum-Link--subtle:active {
    color: inherit;
  }
.spectrum-Link--subtle:focus {
    color: inherit;
  }

