/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum-Rule {
  border-color: rgb(180, 180, 180);
}
.spectrum-Rule--subsection {
  border-color: rgb(45, 45, 45);
}
.spectrum-Rule--subsection2 {
  border-color: rgb(38, 38, 38);
}
.spectrum-Rule--panel {
  border-color: rgb(45, 45, 45);
}
