/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum-Rule {
  border-color: rgb(205, 205, 205);
}
.spectrum-Rule--subsection {
  border-color: rgb(62, 62, 62);
}
.spectrum-Rule--subsection2 {
  border-color: rgb(57, 57, 57);
}
.spectrum-Rule--panel {
  border-color: rgb(62, 62, 62);
}
