/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-Rule {
  border-color: rgb(75, 75, 75);
}
.spectrum-Rule--subsection {
  border-color: rgb(225, 225, 225);
}
.spectrum-Rule--subsection2 {
  border-color: rgb(234, 234, 234);
}
.spectrum-Rule--panel {
  border-color: rgb(225, 225, 225);
}
