/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--lightest .spectrum-Button.focus-ring {
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum--lightest .spectrum-Button:hover {
    box-shadow: none;
  }
.spectrum--lightest .spectrum-Button:active {
    box-shadow: none;
  }
.spectrum--lightest .spectrum-Button.is-selected .spectrum-Icon {
    color: rgb(80, 80, 80);
  }
/* topdoc
---
name: Button - CTA
description: A Spectrum 'call-to-action' button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--cta">Button</button>
  <button class="spectrum-Button spectrum-Button--cta" disabled>Button</button>

*/
.spectrum--lightest .spectrum-Button--cta {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}
.spectrum--lightest .spectrum-Button--cta.focus-ring {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--cta:hover {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--cta:active {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--cta:disabled,
  .spectrum--lightest .spectrum-Button--cta.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Primary
description: A Spectrum 'primary' button (which is also the default style)
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--primary">Button</button>

  <button class="spectrum-Button spectrum-Button--primary"
  disabled>Button</button>

*/
.spectrum--lightest .spectrum-Button--primary {
  background-color: transparent;
  border-color: rgb(80, 80, 80);
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Button--primary.focus-ring {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--primary:hover {
    background-color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--primary:active {
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--primary:disabled,
  .spectrum--lightest .spectrum-Button--primary.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Secondary
description: A Spectrum 'secondary' style button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--secondary"
  disabled>Button</button>

*/
.spectrum--lightest .spectrum-Button--secondary {
  background-color: transparent;
  border-color: rgb(149, 149, 149);
  color: rgb(149, 149, 149);
}
.spectrum--lightest .spectrum-Button--secondary.focus-ring {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--secondary:hover {
    background-color: rgb(149, 149, 149);
    border-color: rgb(149, 149, 149);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--secondary:active {
    background-color: rgb(118, 118, 118);
    border-color: rgb(118, 118, 118);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--secondary:disabled,
  .spectrum--lightest .spectrum-Button--secondary.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Warning
description: A Spectrum button in 'warning' style
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--warning"
  disabled>Button</button>

*/
.spectrum--lightest .spectrum-Button--warning {
  background-color: transparent;
  border-color: rgb(227, 72, 80);
  color: rgb(227, 72, 80);
}
.spectrum--lightest .spectrum-Button--warning.focus-ring {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--warning:hover {
    background-color: rgb(227, 72, 80);
    border-color: rgb(227, 72, 80);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--warning:active {
    background-color: rgb(201, 37, 45);
    border-color: rgb(201, 37, 45);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--warning:disabled,
  .spectrum--lightest .spectrum-Button--warning.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Quiet Primary
description: A 'quiet primary' Spectrum button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--primary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--primary"
  disabled>Button</button>

*/
.spectrum--lightest .spectrum-Button--quiet--primary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Button--quiet--primary.focus-ring {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--quiet--primary:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--quiet--primary:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--quiet--primary:disabled,
  .spectrum--lightest .spectrum-Button--quiet--primary.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Quiet Secondary
description: A 'quiet secondary' Spectrum button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--secondary"
  disabled>Button</button>

*/
.spectrum--lightest .spectrum-Button--quiet--secondary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(149, 149, 149);
}
.spectrum--lightest .spectrum-Button--quiet--secondary.focus-ring {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--quiet--secondary:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Button--quiet--secondary:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Button--quiet--secondary:disabled,
  .spectrum--lightest .spectrum-Button--quiet--secondary.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Action
description: A Spectrum 'action' button, used in the action bar
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--action">Button</button>
  <button class="spectrum-Button spectrum-Button--action" disabled>Button</button>

  <button class="spectrum-Button spectrum-Button--action">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--action" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>

  <button class="spectrum-Button spectrum-Button--action spectrum-Button--action--icon-only">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
  <button class="spectrum-Button spectrum-Button--action spectrum-Button--action--icon-only" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>

*/
.spectrum--lightest .spectrum-Button--action {
  background-color: rgb(255, 255, 255);
  border-color: rgb(234, 234, 234);
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Button--action.focus-ring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--action:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--action:active,
  .spectrum--lightest .spectrum-Button--action.is-selected {
    background-color: rgb(244, 244, 244);
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--action:disabled,
  .spectrum--lightest .spectrum-Button--action.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Quiet Action
description: A Spectrum 'action' button, used in the action bar
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--quiet--action">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--quiet--action" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>

  <button class="spectrum-Button spectrum-Button--quiet--action spectrum-Button--quiet--action--icon-only">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
  <button class="spectrum-Button spectrum-Button--quiet--action spectrum-Button--quiet--action--icon-only" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>

*/
.spectrum--lightest .spectrum-Button--quiet--action {
  background-color: transparent;
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Button--quiet--action.focus-ring {
    background-color: transparent;
    box-shadow: 0 0 0 2px rgb(38, 128, 235);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--quiet--action.is-selected {
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Button--quiet--action:hover {
    background-color: transparent;
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--quiet--action:active {
    background-color: rgb(234, 234, 234);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
/* Make sure background color overrides hover and active */
.spectrum--lightest .spectrum-Button--quiet--action.is-selected {
    background-color: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-Button--quiet--action:disabled,
  .spectrum--lightest .spectrum-Button--quiet--action[disabled] {
    background-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Toggle
description: A Spectrum 'toggle' button, used in toolbar
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
  '.is-selected': Selected state
markup: |
  <button class="spectrum-Button spectrum-Button--toggle">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle is-selected">
    Selected Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle spectrum-Button--toggle--icon-only">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
  <button class="spectrum-Button spectrum-Button--toggle spectrum-Button--toggle--icon-only" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
*/
.spectrum--lightest .spectrum-Button--toggle {
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  color: rgb(80, 80, 80);

}
.spectrum--lightest .spectrum-Button--toggle.focus-ring {
    background-color: transparent;
    border-color: rgb(38, 128, 235);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--toggle:hover {
    background-color: transparent;
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--toggle:active {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--toggle:disabled,
  .spectrum--lightest .spectrum-Button--toggle.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Button--toggle.is-selected {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Button--toggle.is-selected.focus-ring {
    background-color: rgb(234, 234, 234);
    border-color: rgb(38, 128, 235);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--toggle.is-selected:hover {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--toggle.is-selected:active {
    background-color: transparent;
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--toggle.is-selected:disabled,
  .spectrum--lightest .spectrum-Button--toggle.is-selected.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/*! topdoc
---
name: Button - Quiet Warning
description: A 'quiet warning' Spectrum button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--warning"
  disabled>Button</button>

*/
.spectrum--lightest .spectrum-Button--quiet--warning {
  background-color: transparent;
  border-color: transparent;
  color: rgb(227, 72, 80);
}
.spectrum--lightest .spectrum-Button--quiet--warning.focus-ring {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--quiet--warning:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(215, 55, 63);
  }
.spectrum--lightest .spectrum-Button--quiet--warning:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(215, 55, 63);
  }
.spectrum--lightest .spectrum-Button--quiet--warning:disabled,
  .spectrum--lightest .spectrum-Button--quiet--warning.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Logic Button AND
description: The Spectrum logical AND button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--logic--and">And</button>
  <button class="spectrum-Button spectrum-Button--logic--and" disabled>And</button>

*/
.spectrum--lightest .spectrum-Button--logic--and {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}
.spectrum--lightest .spectrum-Button--logic--and.focus-ring {
    background-color: rgb(13, 102, 208);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--logic--and:hover {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--logic--and:disabled,
  .spectrum--lightest .spectrum-Button--logic--and.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Logic Button OR
description: The Spectrum logical OR button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--logic--or">Or</button>
  <button class="spectrum-Button spectrum-Button--logic--or" disabled>Or</button>

*/
.spectrum--lightest .spectrum-Button--logic--or {
  background-color: rgb(216, 55, 144);
  border-color: rgb(216, 55, 144);
  color: rgb(255, 255, 255);
}
.spectrum--lightest .spectrum-Button--logic--or.focus-ring {
    background-color: rgb(188, 28, 116);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--logic--or:hover {
    background-color: rgb(188, 28, 116);
    border-color: rgb(188, 28, 116);
    color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Button--logic--or:disabled,
  .spectrum--lightest .spectrum-Button--logic--or.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
---
name: Button - Icon
description: A Spectrum icon-only button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--icon"><div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Close" role="img" aria-label="info"></div></button>
  <button class="spectrum-Button spectrum-Button--icon" disabled><div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Close" role="img" aria-label="info"></div></button>

*/
.spectrum--lightest .spectrum-Button--icon {
  color: rgb(118, 118, 118);
}
.spectrum--lightest .spectrum-Button--icon.focus-ring {
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Button--icon:hover {
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Button--icon:active {
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Button--icon:active::before {
      background-color: rgb(244, 244, 244);
    }
.spectrum--lightest .spectrum-Button--icon:disabled {
    color: rgb(211, 211, 211);
  }
.spectrum--lightest .spectrum-Button--dropdown {
  color: rgb(80, 80, 80);
  background-color: rgb(255, 255, 255);
  border-color: rgb(234, 234, 234);
}
.spectrum--lightest .spectrum-Button--dropdown:hover {
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    border-color: rgb(211, 211, 211);
  }
.spectrum--lightest .spectrum-Button--dropdown.focus-ring,
  .spectrum--lightest .spectrum-Button--dropdown.is-focused {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-Button--dropdown:active,
  .spectrum--lightest .spectrum-Button--dropdown.is-selected {
    background-color: rgb(244, 244, 244);
    border-color: rgb(211, 211, 211);
  }
.spectrum--lightest .spectrum-Button--dropdown:active.focus-ring,
    .spectrum--lightest .spectrum-Button--dropdown:active.is-focused,
    .spectrum--lightest .spectrum-Button--dropdown.is-selected.focus-ring,
    .spectrum--lightest .spectrum-Button--dropdown.is-selected.is-focused {
      box-shadow: none;
    }
.spectrum--lightest .spectrum-Button--dropdown.is-invalid {
    border-color: rgb(236, 91, 98);
  }
.spectrum--lightest .spectrum-Button--dropdown.is-invalid.focus-ring,
    .spectrum--lightest .spectrum-Button--dropdown.is-invalid.is-focused {
      border-color: rgb(236, 91, 98);
      box-shadow: 0 0 0 1px rgb(236, 91, 98);
    }
.spectrum--lightest .spectrum-Button--dropdown:disabled,
  .spectrum--lightest .spectrum-Button--dropdown.is-disabled {
    background-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Button--dropdown:disabled.focus-ring, .spectrum--lightest .spectrum-Button--dropdown.is-disabled.focus-ring {
      box-shadow: none;
    }
.spectrum--lightest .spectrum-Button--quiet--dropdown {
  border-color: transparent;
  background-color: transparent;
}
.spectrum--lightest .spectrum-Button--quiet--dropdown.focus-ring,
  .spectrum--lightest .spectrum-Button--quiet--dropdown.is-focused {
    box-shadow: 0 2px 0 0 rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-Button--quiet--dropdown.is-invalid.focus-ring,
    .spectrum--lightest .spectrum-Button--quiet--dropdown.is-invalid.is-focused {
      box-shadow: 0 2px 0 0 rgb(236, 91, 98);
    }
.spectrum--lightest .spectrum-Button--quiet--dropdown:disabled,
  .spectrum--lightest .spectrum-Button--quiet--dropdown.is-disabled {
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Button--quiet--dropdown:disabled.focus-ring, .spectrum--lightest .spectrum-Button--quiet--dropdown.is-disabled.focus-ring {
      box-shadow: none;
    }
