/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum--light .spectrum-Button.focus-ring {
    box-shadow: 0 0 0 1px rgb(13, 102, 208);
  }
.spectrum--light .spectrum-Button:hover {
    box-shadow: none;
  }
.spectrum--light .spectrum-Button:active {
    box-shadow: none;
  }
.spectrum--light .spectrum-Button.is-selected .spectrum-Icon {
    color: rgb(75, 75, 75);
  }
/* topdoc
---
name: Button - CTA
description: A Spectrum 'call-to-action' button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--cta">Button</button>
  <button class="spectrum-Button spectrum-Button--cta" disabled>Button</button>

*/
.spectrum--light .spectrum-Button--cta {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}
.spectrum--light .spectrum-Button--cta.focus-ring {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--cta:hover {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--cta:active {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--cta:disabled,
  .spectrum--light .spectrum-Button--cta.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Primary
description: A Spectrum 'primary' button (which is also the default style)
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--primary">Button</button>

  <button class="spectrum-Button spectrum-Button--primary"
  disabled>Button</button>

  <br><br>

  <a role="button" href="#" class="spectrum-Button spectrum-Button--primary">Button</a>

  <a role="button" class="spectrum-Button spectrum-Button--primary is-disabled">Button</a>

*/
.spectrum--light .spectrum-Button--primary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(75, 75, 75);
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Button--primary.focus-ring {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--primary:hover {
    background-color: rgb(75, 75, 75);
    border-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--primary:active {
    background-color: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--primary:disabled,
  .spectrum--light .spectrum-Button--primary.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Secondary
description: A Spectrum 'secondary' style button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--secondary"
  disabled>Button</button>

*/
.spectrum--light .spectrum-Button--secondary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(142, 142, 142);
  color: rgb(142, 142, 142);
}
.spectrum--light .spectrum-Button--secondary.focus-ring {
    background-color: rgb(38, 128, 235);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--secondary:hover {
    background-color: rgb(142, 142, 142);
    border-color: rgb(142, 142, 142);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--secondary:active {
    background-color: rgb(112, 112, 112);
    border-color: rgb(112, 112, 112);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--secondary:disabled,
  .spectrum--light .spectrum-Button--secondary.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Warning
description: A Spectrum button in 'warning' style
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--warning"
  disabled>Button</button>

*/
.spectrum--light .spectrum-Button--warning {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(215, 55, 63);
  color: rgb(215, 55, 63);
}
.spectrum--light .spectrum-Button--warning.focus-ring {
    background-color: rgb(9, 90, 186);
    border-color: rgb(9, 90, 186);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--warning:hover {
    background-color: rgb(215, 55, 63);
    border-color: rgb(215, 55, 63);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--warning:active {
    background-color: rgb(187, 18, 26);
    border-color: rgb(187, 18, 26);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--warning:disabled,
  .spectrum--light .spectrum-Button--warning.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Quiet Primary
description: A 'quiet primary' Spectrum button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--primary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--primary"
  disabled>Button</button>

*/
.spectrum--light .spectrum-Button--quiet--primary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Button--quiet--primary.focus-ring {
    background-color: rgb(38, 128, 235);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--quiet--primary:hover {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--quiet--primary:active {
    background-color: rgb(225, 225, 225);
    border-color: rgb(225, 225, 225);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--quiet--primary:disabled,
  .spectrum--light .spectrum-Button--quiet--primary.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Quiet Secondary
description: A 'quiet secondary' Spectrum button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--secondary"
  disabled>Button</button>

*/
.spectrum--light .spectrum-Button--quiet--secondary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(142, 142, 142);
}
.spectrum--light .spectrum-Button--quiet--secondary.focus-ring {
    background-color: rgb(38, 128, 235);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--quiet--secondary:hover {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Button--quiet--secondary:active {
    background-color: rgb(225, 225, 225);
    border-color: rgb(225, 225, 225);
    color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Button--quiet--secondary:disabled,
  .spectrum--light .spectrum-Button--quiet--secondary.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Action
description: A Spectrum 'action' button, used in the action bar
status: Released 
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--action">Button</button>
  <button class="spectrum-Button spectrum-Button--action" disabled>Button</button>

  <button class="spectrum-Button spectrum-Button--action">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--action" disabled>
        <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    Button
  </button>

  <button class="spectrum-Button spectrum-Button--action spectrum-Button--action--iconOnly">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>
  <button class="spectrum-Button spectrum-Button--action spectrum-Button--action--iconOnly" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>

*/
.spectrum--light .spectrum-Button--action {
  background-color: rgb(251, 251, 251);
  border-color: rgb(225, 225, 225);
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Button--action.focus-ring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--action:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
    box-shadow: none;
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--action:active,
  .spectrum--light .spectrum-Button--action.is-selected {
    background-color: rgb(234, 234, 234);
    border-color: rgb(202, 202, 202);
    box-shadow: none;
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--action:disabled,
  .spectrum--light .spectrum-Button--action.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Quiet Action
description: A Spectrum 'action' button, used in the action bar
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--quiet--action">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--quiet--action" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    Button
  </button>

  <button class="spectrum-Button spectrum-Button--quiet--action spectrum-Button--quiet--action--iconOnly">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>
  <button class="spectrum-Button spectrum-Button--quiet--action spectrum-Button--quiet--action--iconOnly" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>

*/
.spectrum--light .spectrum-Button--quiet--action {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Button--quiet--action.focus-ring {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 2px rgb(38, 128, 235);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--quiet--action.is-selected {
    color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Button--quiet--action:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--quiet--action:active {
    background-color: rgb(225, 225, 225);
    box-shadow: none;
    color: rgb(44, 44, 44);
  }
/* Make sure background color overrides hover and active */
.spectrum--light .spectrum-Button--quiet--action.is-selected {
    background-color: rgb(225, 225, 225);
  }
.spectrum--light .spectrum-Button--quiet--action:disabled,
  .spectrum--light .spectrum-Button--quiet--action[disabled] {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Toggle
description: A Spectrum 'toggle' button, used in toolbar
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
  '.is-selected': Selected state
markup: |
  <button class="spectrum-Button spectrum-Button--toggle">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle is-selected">
    Selected Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle spectrum-Button--toggle--icon-only">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>
  <button class="spectrum-Button spectrum-Button--toggle spectrum-Button--toggle--icon-only" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>

*/
.spectrum--light .spectrum-Button--toggle {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  border-radius: 4px;
  color: rgb(75, 75, 75);

}
.spectrum--light .spectrum-Button--toggle.focus-ring {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(38, 128, 235);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--toggle:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--toggle:active {
    background-color: rgb(225, 225, 225);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--toggle:disabled,
  .spectrum--light .spectrum-Button--toggle.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(179, 179, 179);
  }
.spectrum--light .spectrum-Button--toggle.is-selected {
    background-color: rgb(225, 225, 225);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Button--toggle.is-selected.focus-ring {
    background-color: rgb(225, 225, 225);
    border-color: rgb(38, 128, 235);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--toggle.is-selected:hover {
    background-color: rgb(225, 225, 225);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--toggle.is-selected:active {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--toggle.is-selected:disabled,
  .spectrum--light .spectrum-Button--toggle.is-selected.is-disabled {
    background-color: rgb(225, 225, 225);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(179, 179, 179);
  }
/*! topdoc
---
name: Button - Quiet Warning
description: A 'quiet warning' Spectrum button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--warning"
  disabled>Button</button>

*/
.spectrum--light .spectrum-Button--quiet--warning {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(215, 55, 63);
}
.spectrum--light .spectrum-Button--quiet--warning.focus-ring {
    background-color: rgb(38, 128, 235);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--quiet--warning:hover {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(201, 37, 45);
  }
.spectrum--light .spectrum-Button--quiet--warning:active {
    background-color: rgb(225, 225, 225);
    border-color: rgb(225, 225, 225);
    color: rgb(201, 37, 45);
  }
.spectrum--light .spectrum-Button--quiet--warning:disabled,
  .spectrum--light .spectrum-Button--quiet--warning.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Logic Button AND
description: The Spectrum logical AND button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--logic--and">And</button>
  <button class="spectrum-Button spectrum-Button--logic--and" disabled>And</button>

*/
.spectrum--light .spectrum-Button--logic--and {
  background-color: rgb(20, 115, 230);
  border-color: rgb(20, 115, 230);
  color: rgb(255, 255, 255);
}
.spectrum--light .spectrum-Button--logic--and.focus-ring {
    background-color: rgb(9, 90, 186);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--logic--and:hover {
    background-color: rgb(9, 90, 186);
    border-color: rgb(9, 90, 186);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--logic--and:disabled,
  .spectrum--light .spectrum-Button--logic--and.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Logic Button OR
description: The Spectrum logical OR button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--logic--or">Or</button>
  <button class="spectrum-Button spectrum-Button--logic--or" disabled>Or</button>

*/
.spectrum--light .spectrum-Button--logic--or {
  background-color: rgb(202, 41, 150);
  border-color: rgb(202, 41, 150);
  color: rgb(255, 255, 255);
}
.spectrum--light .spectrum-Button--logic--or.focus-ring {
    background-color: rgb(174, 14, 102);
    border-color: rgb(38, 128, 235);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--logic--or:hover {
    background-color: rgb(174, 14, 102);
    border-color: rgb(174, 14, 102);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Button--logic--or:disabled,
  .spectrum--light .spectrum-Button--logic--or.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
/* topdoc
---
name: Button - Icon
description: A Spectrum icon-only button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--icon">
    <svg class="spectrum-Icon spectrum-Icon--sizeXS" focusable="false" aria-hidden="true" aria-label="Close">
      <use xlink:href="#spectrum-icon-24-Close" />
    </svg>
  </button>
  <button class="spectrum-Button spectrum-Button--icon" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeXS" focusable="false" aria-hidden="true" aria-label="Close">
      <use xlink:href="#spectrum-icon-24-Close" />
    </svg>
  </button>

*/
.spectrum--light .spectrum-Button--icon {
  color: rgb(112, 112, 112);
}
.spectrum--light .spectrum-Button--icon.focus-ring {
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--icon:hover {
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--icon:active {
    color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Button--icon:active::before {
      background-color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-Button--icon:disabled {
    color: rgb(112, 112, 112);
  }
.spectrum--light .spectrum-Button--dropdown {
  color: rgb(75, 75, 75);
  background-color: rgb(251, 251, 251);
  border-color: rgb(225, 225, 225);
}
.spectrum--light .spectrum-Button--dropdown:hover {
    color: rgb(44, 44, 44);
    background-color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
  }
.spectrum--light .spectrum-Button--dropdown.focus-ring,
  .spectrum--light .spectrum-Button--dropdown.is-focused {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Button--dropdown:active,
  .spectrum--light .spectrum-Button--dropdown.is-selected {
    background-color: rgb(234, 234, 234);
    border-color: rgb(202, 202, 202);
  }
.spectrum--light .spectrum-Button--dropdown:active.focus-ring,
    .spectrum--light .spectrum-Button--dropdown:active.is-focused,
    .spectrum--light .spectrum-Button--dropdown.is-selected.focus-ring,
    .spectrum--light .spectrum-Button--dropdown.is-selected.is-focused {
      box-shadow: none;
    }
.spectrum--light .spectrum-Button--dropdown.is-invalid {
    border-color: rgb(227, 72, 80);
  }
.spectrum--light .spectrum-Button--dropdown.is-invalid.focus-ring,
    .spectrum--light .spectrum-Button--dropdown.is-invalid.is-focused {
      border-color: rgb(227, 72, 80);
      box-shadow: 0 0 0 1px rgb(227, 72, 80);
    }
.spectrum--light .spectrum-Button--dropdown:disabled,
  .spectrum--light .spectrum-Button--dropdown.is-disabled {
    background-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
.spectrum--light .spectrum-Button--dropdown:disabled.focus-ring, .spectrum--light .spectrum-Button--dropdown.is-disabled.focus-ring {
      box-shadow: none;
    }
.spectrum--light .spectrum-Button--quiet--dropdown {
  color: rgb(75, 75, 75);
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
.spectrum--light .spectrum-Button--quiet--dropdown:hover {
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-Button--quiet--dropdown.focus-ring,
  .spectrum--light .spectrum-Button--quiet--dropdown.is-focused {
    box-shadow: 0 2px 0 0 rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Button--quiet--dropdown.is-invalid.focus-ring,
    .spectrum--light .spectrum-Button--quiet--dropdown.is-invalid.is-focused {
      box-shadow: 0 2px 0 0 rgb(227, 72, 80);
    }
.spectrum--light .spectrum-Button--quiet--dropdown:disabled,
  .spectrum--light .spectrum-Button--quiet--dropdown.is-disabled {
    color: rgb(179, 179, 179);
  }
.spectrum--light .spectrum-Button--quiet--dropdown:disabled.focus-ring, .spectrum--light .spectrum-Button--quiet--dropdown.is-disabled.focus-ring {
      box-shadow: none;
    }
