/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

.spectrum--lightest .spectrum-Button.focus-ring {
    box-shadow: 0 0 0 3px rgb(55, 142, 240);
  }

.spectrum--lightest .spectrum-Button:active {
    /* Override focus -- clicking with spacebar should not show outline */
    box-shadow: none;
  }

/* topdoc
---
name: Button - CTA
description: A Spectrum 'call-to-action' button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--cta">Button</button>
  <button class="spectrum-Button spectrum-Button--cta" disabled>Button</button>

*/

.spectrum--lightest .spectrum-Button--cta {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}

.spectrum--lightest .spectrum-Button--cta:hover {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--cta.focus-ring {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--cta:active {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--cta:disabled,
  .spectrum--lightest .spectrum-Button--cta.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Button - Primary
description: A Spectrum 'primary' button (which is also the default style)
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--primary">
    <span class="spectrum-Button-label">Button</span>
  </button>

  <button class="spectrum-Button spectrum-Button--primary" disabled>
    <span class="spectrum-Button-label">Button</span>
  </button>

  <br><br>

  <a role="button" href="#" class="spectrum-Button spectrum-Button--primary">
    <span class="spectrum-Button-label">Button</span>
  </a>

  <a role="button" class="spectrum-Button spectrum-Button--primary is-disabled">
    <span class="spectrum-Button-label">Button</span>
  </a>

*/

.spectrum--lightest .spectrum-Button--primary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(80, 80, 80);
  color: rgb(80, 80, 80);
}

.spectrum--lightest .spectrum-Button--primary:hover {
    background-color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--primary.focus-ring {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--primary:active {
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--primary:disabled,
  .spectrum--lightest .spectrum-Button--primary.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Button - Secondary
description: A Spectrum 'secondary' style button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--secondary"
  disabled>Button</button>

*/

.spectrum--lightest .spectrum-Button--secondary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(149, 149, 149);
  color: rgb(149, 149, 149);
}

.spectrum--lightest .spectrum-Button--secondary:hover {
    background-color: rgb(149, 149, 149);
    border-color: rgb(149, 149, 149);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--secondary.focus-ring {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--secondary:active {
    background-color: rgb(118, 118, 118);
    border-color: rgb(118, 118, 118);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--secondary:disabled,
  .spectrum--lightest .spectrum-Button--secondary.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Button - Warning
description: A Spectrum button in 'warning' style
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--warning"
  disabled>Button</button>

*/

.spectrum--lightest .spectrum-Button--warning {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(227, 72, 80);
  color: rgb(227, 72, 80);
}

.spectrum--lightest .spectrum-Button--warning:hover {
    background-color: rgb(227, 72, 80);
    border-color: rgb(227, 72, 80);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--warning.focus-ring {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--warning:active {
    background-color: rgb(215, 55, 63);
    border-color: rgb(215, 55, 63);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--warning:disabled,
  .spectrum--lightest .spectrum-Button--warning.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Button - Over Background
description: A Spectrum button that's meant to be placed over a non-standard color. In order to implement this button, you must set the CSS color property of a parent element to the same value as the background the button is placed against.
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div style="background-color: rgb(15, 121, 125); color: rgb(15, 121, 125); padding: 15px 20px; display: inline-block;">
    <button class="spectrum-Button spectrum-Button--overBackground">Button</button>

    <button class="spectrum-Button spectrum-Button--overBackground" disabled>Button</button>
  </div>

*/

.spectrum--lightest .spectrum-Button--overBackground {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.spectrum--lightest .spectrum-Button--overBackground:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: inherit;
  }

.spectrum--lightest .spectrum-Button--overBackground.focus-ring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: inherit;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--overBackground:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: inherit;
    box-shadow: none;
  }

.spectrum--lightest .spectrum-Button--overBackground:disabled,
  .spectrum--lightest .spectrum-Button--overBackground.is-disabled {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.35);
  }

/* topdoc
---
name: Button - Quiet Over Background
description: A Spectrum quiet button that's meant to be placed over a non-standard color. In order to implement this button, you must set the CSS color property of a parent element to the same value as the background the button is placed against.
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div style="background-color: rgb(15, 121, 125); color: rgb(15, 121, 125); padding: 15px 20px; display: inline-block;">
    <button class="spectrum-Button spectrum-Button--quiet--overBackground">Button</button>

    <button class="spectrum-Button spectrum-Button--quiet--overBackground" disabled>Button</button>
  </div>

*/

.spectrum--lightest .spectrum-Button--quiet--overBackground {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}

.spectrum--lightest .spectrum-Button--quiet--overBackground:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--quiet--overBackground.focus-ring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: inherit;
    box-shadow: 0 0 0 1px rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--quiet--overBackground:active {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: none;
  }

.spectrum--lightest .spectrum-Button--quiet--overBackground:disabled,
  .spectrum--lightest .spectrum-Button--quiet--overBackground.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.35);
  }

/* topdoc
---
name: Button - Quiet Primary
description: A 'quiet primary' Spectrum button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--primary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--primary"
  disabled>Button</button>

*/

.spectrum--lightest .spectrum-Button--quiet--primary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(80, 80, 80);
}

.spectrum--lightest .spectrum-Button--quiet--primary:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-Button--quiet--primary.focus-ring {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--quiet--primary:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-Button--quiet--primary:disabled,
  .spectrum--lightest .spectrum-Button--quiet--primary.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Button - Quiet Secondary
description: A 'quiet secondary' Spectrum button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--secondary"
  disabled>Button</button>

*/

.spectrum--lightest .spectrum-Button--quiet--secondary {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(149, 149, 149);
}

.spectrum--lightest .spectrum-Button--quiet--secondary:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(80, 80, 80);
  }

.spectrum--lightest .spectrum-Button--quiet--secondary.focus-ring {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--quiet--secondary:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(80, 80, 80);
  }

.spectrum--lightest .spectrum-Button--quiet--secondary:disabled,
  .spectrum--lightest .spectrum-Button--quiet--secondary.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Action Button
description: The action button.
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-ActionButton"><span class="spectrum-ActionButton-label">Button</span></button>
  <button class="spectrum-ActionButton" disabled><span class="spectrum-ActionButton-label">Button</span></button>

  <button class="spectrum-ActionButton">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    <span class="spectrum-ActionButton-label">Button</span>
  </button>
  <button class="spectrum-ActionButton" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    <span class="spectrum-ActionButton-label">Button</span>
  </button>

  <button class="spectrum-ActionButton">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>
  <button class="spectrum-ActionButton" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>

*/

.spectrum--lightest .spectrum-ActionButton,
.spectrum--lightest .spectrum-Tool {
  background-color: rgb(255, 255, 255);
  border-color: rgb(234, 234, 234);
  color: rgb(80, 80, 80);
}

.spectrum--lightest .spectrum-ActionButton:hover,
.spectrum--lightest .spectrum-Tool:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton.focus-ring,
.spectrum--lightest .spectrum-Tool.focus-ring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton:active,
.spectrum--lightest .spectrum-ActionButton.is-selected,
.spectrum--lightest .spectrum-Tool:active {
    background-color: rgb(244, 244, 244);
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton:disabled,
.spectrum--lightest .spectrum-ActionButton.is-disabled,
.spectrum--lightest .spectrum-Tool:disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

.spectrum--lightest .spectrum-ActionButton.is-selected {
    background-color: rgb(244, 244, 244);
    border-color: rgb(234, 234, 234);
    color: rgb(80, 80, 80);
  }

.spectrum--lightest .spectrum-ActionButton.is-selected.focus-ring {
    background-color: rgb(244, 244, 244);
    border-color: rgb(55, 142, 240);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton.is-selected:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(211, 211, 211);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton.is-selected:active {
    background-color: rgb(244, 244, 244);
    border-color: rgb(211, 211, 211);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton.is-selected:disabled,
  .spectrum--lightest .spectrum-ActionButton.is-selected.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Action Button - Quiet
description: The quiet action button.
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-ActionButton spectrum-ActionButton--quiet">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    <span class="spectrum-ActionButton-label">Button</span>
  </button>
  <button class="spectrum-ActionButton spectrum-ActionButton--quiet" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    <span class="spectrum-ActionButton-label">Button</span>
  </button>

  <button class="spectrum-ActionButton spectrum-ActionButton--quiet">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>
  <button class="spectrum-ActionButton spectrum-ActionButton--quiet" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
  </button>

*/

.spectrum--lightest .spectrum-ActionButton--quiet,
.spectrum--lightest .spectrum-Tool {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(80, 80, 80);
}

.spectrum--lightest .spectrum-ActionButton--quiet.is-selected {
    color: rgb(80, 80, 80);
  }

.spectrum--lightest .spectrum-ActionButton--quiet:hover,
.spectrum--lightest .spectrum-Tool:hover {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton--quiet.focus-ring,
.spectrum--lightest .spectrum-Tool.focus-ring {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 2px rgb(55, 142, 240);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton--quiet:active,
.spectrum--lightest .spectrum-Tool:active {
    background-color: rgb(234, 234, 234);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton--quiet:disabled,
.spectrum--lightest .spectrum-ActionButton--quiet[disabled],
.spectrum--lightest .spectrum-Tool:disabled,
.spectrum--lightest .spectrum-Tool[disabled] {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(188, 188, 188);
  }

.spectrum--lightest .spectrum-ActionButton--quiet.is-selected {
    background-color: rgb(234, 234, 234);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(80, 80, 80);
  }

.spectrum--lightest .spectrum-ActionButton--quiet.is-selected.focus-ring {
    background-color: rgb(234, 234, 234);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton--quiet.is-selected:hover {
    background-color: rgb(234, 234, 234);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton--quiet.is-selected:active {
    background-color: rgb(234, 234, 234);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ActionButton--quiet.is-selected:disabled,
  .spectrum--lightest .spectrum-ActionButton--quiet.is-selected.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Button - Quiet Warning
description: A 'quiet warning' Spectrum button
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--quiet--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--warning" disabled>Button</button>

*/

.spectrum--lightest .spectrum-Button--quiet--warning {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(227, 72, 80);
}

.spectrum--lightest .spectrum-Button--quiet--warning:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(215, 55, 63);
  }

.spectrum--lightest .spectrum-Button--quiet--warning.focus-ring {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-Button--quiet--warning:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(215, 55, 63);
  }

.spectrum--lightest .spectrum-Button--quiet--warning:disabled,
  .spectrum--lightest .spectrum-Button--quiet--warning.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Logic Button
description: A button that toggles between and/or when clicked.
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-LogicButton spectrum-LogicButton--and">And</button>
  <button class="spectrum-LogicButton spectrum-LogicButton--or">Or</button>

  <br><br>

  <button class="spectrum-LogicButton spectrum-LogicButton--and" disabled>And</button>
  <button class="spectrum-LogicButton spectrum-LogicButton--or" disabled>Or</button>

*/

.spectrum--lightest .spectrum-LogicButton--and {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}

.spectrum--lightest .spectrum-LogicButton--and:hover {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-LogicButton--and.focus-ring {
    background-color: rgb(13, 102, 208);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-LogicButton--and:disabled,
  .spectrum--lightest .spectrum-LogicButton--and.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

.spectrum--lightest .spectrum-LogicButton--or {
  background-color: rgb(216, 55, 144);
  border-color: rgb(216, 55, 144);
  color: rgb(255, 255, 255);
}

.spectrum--lightest .spectrum-LogicButton--or:hover {
    background-color: rgb(188, 28, 116);
    border-color: rgb(188, 28, 116);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-LogicButton--or.focus-ring {
    background-color: rgb(188, 28, 116);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }

.spectrum--lightest .spectrum-LogicButton--or:disabled,
  .spectrum--lightest .spectrum-LogicButton--or.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

/* topdoc
---
name: Clear Button
description: The clear button used in search and tags.
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-ClearButton">
    <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-TagClose" />
    </svg>
  </button>
  <button class="spectrum-ClearButton" disabled>
    <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-TagClose" />
    </svg>
  </button>

  <br><br>

  <button class="spectrum-ClearButton spectrum-ClearButton--small">
    <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-TagClose" />
    </svg>
  </button>
  <button class="spectrum-ClearButton spectrum-ClearButton--small" disabled>
    <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-TagClose" />
    </svg>
  </button>

*/

.spectrum--lightest .spectrum-FieldButton {
  color: rgb(80, 80, 80);
  background-color: rgb(255, 255, 255);
  border-color: rgb(234, 234, 234);
}

.spectrum--lightest .spectrum-FieldButton:hover {
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    border-color: rgb(211, 211, 211);
  }

.spectrum--lightest .spectrum-FieldButton.focus-ring,
  .spectrum--lightest .spectrum-FieldButton.is-focused {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }

.spectrum--lightest .spectrum-FieldButton:active,
  .spectrum--lightest .spectrum-FieldButton.is-selected {
    background-color: rgb(244, 244, 244);
    border-color: rgb(211, 211, 211);
  }

.spectrum--lightest .spectrum-FieldButton:active.focus-ring,
    .spectrum--lightest .spectrum-FieldButton:active.is-focused,
    .spectrum--lightest .spectrum-FieldButton.is-selected.focus-ring,
    .spectrum--lightest .spectrum-FieldButton.is-selected.is-focused {
      box-shadow: none;
    }

.spectrum--lightest .spectrum-FieldButton.is-invalid {
    border-color: rgb(236, 91, 98);
  }

.spectrum--lightest .spectrum-FieldButton.is-invalid.focus-ring,
    .spectrum--lightest .spectrum-FieldButton.is-invalid.is-focused {
      border-color: rgb(236, 91, 98);
      box-shadow: 0 0 0 1px rgb(236, 91, 98);
    }

.spectrum--lightest .spectrum-FieldButton:disabled,
  .spectrum--lightest .spectrum-FieldButton.is-disabled {
    background-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }

.spectrum--lightest .spectrum-FieldButton:disabled.focus-ring, .spectrum--lightest .spectrum-FieldButton.is-disabled.focus-ring {
      box-shadow: none;
    }

.spectrum--lightest .spectrum-FieldButton--quiet {
  color: rgb(80, 80, 80);
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

.spectrum--lightest .spectrum-FieldButton--quiet:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-FieldButton--quiet.focus-ring,
  .spectrum--lightest .spectrum-FieldButton--quiet.is-focused {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 0 0 rgb(55, 142, 240);
  }

.spectrum--lightest .spectrum-FieldButton--quiet:active,
  .spectrum--lightest .spectrum-FieldButton--quiet.is-selected {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
  }

.spectrum--lightest .spectrum-FieldButton--quiet:active.focus-ring,
    .spectrum--lightest .spectrum-FieldButton--quiet:active.is-focused,
    .spectrum--lightest .spectrum-FieldButton--quiet.is-selected.focus-ring,
    .spectrum--lightest .spectrum-FieldButton--quiet.is-selected.is-focused {
      box-shadow: none;
    }

.spectrum--lightest .spectrum-FieldButton--quiet.is-invalid.focus-ring,
    .spectrum--lightest .spectrum-FieldButton--quiet.is-invalid.is-focused {
      box-shadow: 0 2px 0 0 rgb(236, 91, 98);
    }

.spectrum--lightest .spectrum-FieldButton--quiet:disabled,
  .spectrum--lightest .spectrum-FieldButton--quiet.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(188, 188, 188);
  }

.spectrum--lightest .spectrum-FieldButton--quiet:disabled.focus-ring, .spectrum--lightest .spectrum-FieldButton--quiet.is-disabled.focus-ring {
      box-shadow: none;
    }

.spectrum--lightest .spectrum-ClearButton {
  background-color: rgba(0, 0, 0, 0);

  color: rgb(149, 149, 149);
}

.spectrum--lightest .spectrum-ClearButton:hover {
    background-color: rgba(0, 0, 0, 0);

    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ClearButton:active {
    background-color: rgba(0, 0, 0, 0);

    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ClearButton.focus-ring {
    background-color: rgba(0, 0, 0, 0);

    color: rgb(50, 50, 50);
  }

.spectrum--lightest .spectrum-ClearButton:disabled,
  .spectrum--lightest .spectrum-ClearButton.is-disabled {
    background-color: rgba(0, 0, 0, 0);

    color: rgb(188, 188, 188);
  }

.spectrum--lightest .spectrum-Tool.is-selected {
    color: rgb(38, 128, 235);
  }

.spectrum--lightest .spectrum-Tool.is-selected .spectrum-Tool-hold {
      color: rgb(118, 118, 118);
    }

.spectrum--lightest .spectrum-Tool.is-selected:hover {
      color: rgb(20, 115, 230);
    }

.spectrum--lightest .spectrum-Tool.is-selected:hover .spectrum-Tool-hold {
        color: rgb(50, 50, 50);
      }

.spectrum--lightest .spectrum-Tool.is-selected:active {
      color: rgb(13, 102, 208);
    }

.spectrum--lightest .spectrum-Tool.is-selected:active .spectrum-Tool-hold {
        color: rgb(50, 50, 50);
      }

.spectrum--lightest .spectrum-Tool.is-selected.focus-ring {
      color: rgb(20, 115, 230);
    }

.spectrum--lightest .spectrum-Tool.is-selected.focus-ring .spectrum-Tool-hold {
        color: rgb(50, 50, 50);
      }

.spectrum--lightest .spectrum-Tool.is-selected:disabled,
    .spectrum--lightest .spectrum-Tool.is-selected.is-disabled {
      background-color: rgba(0, 0, 0, 0);
      border-color: rgba(0, 0, 0, 0);
      color: rgb(188, 188, 188);
    }
