/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum--dark .spectrum-MillerColumn-item:focus,
  .spectrum--dark .spectrum-MillerColumn-item:hover {
    background-color: rgb(57, 57, 57);
  }
.spectrum--dark .spectrum-MillerColumn-item.is-navigated {
      /* gray background */
      background-color: rgb(62, 62, 62);
    }
.spectrum--dark .spectrum-MillerColumn-item.is-navigated:hover {
        background-color: rgb(62, 62, 62);
      }
.spectrum--dark .spectrum-MillerColumn-item.is-selected {
      background-color: rgba(20, 115, 230, 0.1);
    }
.spectrum--dark .spectrum-MillerColumn-item.is-selected:hover {
        background-color: rgba(20, 115, 230, 0.2);
      }
