
.spectrum--dark .spectrum-Breadcrumbs {
  --spectrum-breadcrumb-ui-icon-color: rgb(110, 110, 110);
  --spectrum-breadcrumb-text-color: rgb(185, 185, 185);
  --spectrum-breadcrumb-text-color-hover: rgb(255, 255, 255);
  --spectrum-breadcrumb-text-color-down: rgb(255, 255, 255);
  --spectrum-breadcrumb-item-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-breadcrumb-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-breadcrumb-item-border-color-drop: rgb(55, 142, 240);
  --spectrum-breadcrumb-item-background-color-drop: rgba(55,142,240,0.15);
  --spectrum-breadcrumb-item-text-color-drop: rgb(255, 255, 255);
}
