
.spectrum--lightest .spectrum-Rating {
  --spectrum-alias-icon-color-selected: rgb(38, 128, 235);
  --spectrum-rating-icon-color: rgb(116, 116, 116);
  --spectrum-rating-focus-ring-color: rgb(55, 142, 240);
  --spectrum-rating-icon-color-hover: rgb(20, 115, 230);
  --spectrum-rating-icon-color-down: rgb(13, 102, 208);
  --spectrum-rating-icon-color-selected: rgb(38, 128, 235);
  --spectrum-rating-icon-color-disabled: rgb(211, 211, 211);
  --spectrum-rating-quiet-icon-color: rgb(116, 116, 116);
  --spectrum-rating-quiet-icon-color-hover: rgb(80, 80, 80);
  --spectrum-rating-quiet-icon-color-down: rgb(50, 50, 50);
  --spectrum-rating-quiet-icon-color-selected: rgb(116, 116, 116);
}
