
.spectrum--darkest .spectrum-Rating {
  --spectrum-alias-icon-color-selected: rgb(38, 128, 235);
  --spectrum-rating-icon-color: rgb(162, 162, 162);
  --spectrum-rating-focus-ring-color: rgb(20, 115, 230);
  --spectrum-rating-icon-color-hover: rgb(55, 142, 240);
  --spectrum-rating-icon-color-down: rgb(75, 156, 245);
  --spectrum-rating-icon-color-selected: rgb(38, 128, 235);
  --spectrum-rating-icon-color-disabled: rgb(73, 73, 73);
  --spectrum-rating-quiet-icon-color: rgb(162, 162, 162);
  --spectrum-rating-quiet-icon-color-hover: rgb(200, 200, 200);
  --spectrum-rating-quiet-icon-color-down: rgb(239, 239, 239);
  --spectrum-rating-quiet-icon-color-selected: rgb(162, 162, 162);
}
