.spectrum--large .spectrum-Textfield {
  border: 1px solid;
  border-radius: 4px;
  padding: 3px 12px 5px;

  min-width: 112px;
  height: 40px;
  width: 192px;
  font-size: 14px;
  line-height: 20px;

  transition: border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
}
.spectrum--large .spectrum-Textfield:-ms-input-placeholder {
    font-weight: 400;
    font-style: italic;
    transition: color 125ms ease-in-out;
  }
.spectrum--large .spectrum-Textfield::placeholder {
    font-weight: 400;
    font-style: italic;
    transition: color 125ms ease-in-out;
  }
.spectrum--large .spectrum-Textfield:hover:-ms-input-placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield:hover::placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield:disabled:-ms-input-placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield:disabled::placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield--quiet {
  border-radius: 0;
}
