
.spectrum--large .spectrum-ButtonGroup {
  --spectrum-actionbuttongroup-text-button-gap-y: 10px;
  --spectrum-actionbuttongroup-text-button-gap-x: 10px;
  --spectrum-buttongroup-button-gap-y: 16px;
  --spectrum-buttongroup-button-gap-x: 16px;
  --spectrum-toolgroup-text-button-gap-y: 10px;
  --spectrum-toolgroup-text-button-gap-x: 10px;
}
