:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
---
name: Link - Default
description: A link
markup: |
  <a href="#" class="spectrum-Link">Link using spectrum-Link</a>

*/

.spectrum-Link {
  text-decoration: none;
  transition: color 125ms ease-in-out;
  outline: none;
}

.spectrum-Link:hover {
    text-decoration: underline;
  }

.spectrum-Link:focus {
    text-decoration: underline;
    -webkit-text-decoration-style: double;
            text-decoration-style: double;
  }

/* topdoc
---
name: Link - Disabled
description: A disabled link
markup: |
  <p> This uses <a class="spectrum-Link is-disabled">is-disabled</a>.</p>

*/

.spectrum-Link.is-disabled {
  	cursor: default;
    pointer-events: none;
  }

.spectrum-Link.is-disabled:hover,
    .spectrum-Link.is-disabled:focus {
      text-decoration: none;
    }

/* topdoc
---
name: Link - Subtle
description: A subtle link
markup: |
  <p> This uses <a href="#" class="spectrum-Link
  spectrum-Link--subtle">spectrum-Link--subtle</a>.</p>

*/

.spectrum-Link--subtle {
  text-decoration: underline;
}
