/* topdoc
{{ link/link-default.yml }}
*/

.spectrum-Link {
  text-decoration: none;
  transition: color 150ms ease-in-out;
  outline: none;
}

/* topdoc
{{ link/link-disabled.yml }}
*/

.spectrum-Link.is-disabled {
  	cursor: default;
  }

/* topdoc
{{ link/link-subtle.yml }}
*/

.spectrum-Link--subtle {
  text-decoration: underline;
}
