/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
.spectrum--dark .spectrum-Link {
  color: rgb(75, 156, 245);
}
.spectrum--dark .spectrum-Link:hover {
    color: rgb(75, 156, 245);
  }
.spectrum--dark .spectrum-Link:active {
    color: rgb(90, 169, 250);
  }
.spectrum--dark .spectrum-Link:focus {
    color: rgb(75, 156, 245);
    box-shadow: 0 1px 0 rgb(75, 156, 245);
  }
.spectrum--dark .spectrum-Link.is-disabled {
    color: rgb(92, 92, 92);
  }
.spectrum--dark .spectrum-Link--subtle {
  color: inherit;
}
.spectrum--dark .spectrum-Link--subtle:hover {
    color: inherit;
  }
.spectrum--dark .spectrum-Link--subtle:active {
    color: inherit;
  }
.spectrum--dark .spectrum-Link--subtle:focus {
    color: inherit;
    /* focus box-shadow color vale should be inherited like the color, too */
    box-shadow: 0 1px 0 rgb(205, 205, 205);
  }
