/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum--darkest .spectrum-Link {
  color: rgb(55, 142, 240);
}
.spectrum--darkest .spectrum-Link:hover {
    color: rgb(55, 142, 240);
  }
.spectrum--darkest .spectrum-Link:active {
    color: rgb(75, 156, 245);
  }
.spectrum--darkest .spectrum-Link.focus-ring {
    color: rgb(55, 142, 240);
  }
.spectrum--darkest .spectrum-Link.is-disabled {
    color: rgb(73, 73, 73);
  }
.spectrum--darkest .spectrum-Link--subtle {
  color: inherit;
}
.spectrum--darkest .spectrum-Link--subtle:hover {
    color: inherit;
  }
.spectrum--darkest .spectrum-Link--subtle:active {
    color: inherit;
  }
.spectrum--darkest .spectrum-Link--subtle:focus {
    color: inherit;
  }
