/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-ComboBox .spectrum-Button {
    border-color: rgb(45, 45, 45);
    background-color: rgb(24, 24, 24);
    color: rgb(133, 133, 133);
  }
.spectrum-ComboBox .spectrum-Button:hover {
      border-color: rgb(60, 60, 60);
      background-color: rgb(8, 8, 8);
      color: rgb(226, 226, 226);
    }
.spectrum-ComboBox .spectrum-Button:active,
    .is-open .spectrum-ComboBox .spectrum-Button {
      border-color: rgb(60, 60, 60);
      background-color: rgb(38, 38, 38);
      color: rgb(226, 226, 226);
    }
.spectrum-ComboBox .spectrum-Button:disabled {
      background-color: rgb(38, 38, 38);
    }
.spectrum-ComboBox .spectrum-Button:disabled:hover {
        border-color: transparent;
        background-color: rgb(38, 38, 38);
        color: rgb(73, 73, 73);
      }
.spectrum-ComboBox .spectrum-Button.is-invalid,
    .spectrum-ComboBox .spectrum-Button:invalid {
      border-color: rgb(215, 55, 63);
    }
.spectrum-ComboBox-input:focus ~ .spectrum-Button {
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum-ComboBox-input:focus.is-invalid ~ .spectrum-Button, .spectrum-ComboBox-input:focus:invalid ~ .spectrum-Button {
      border-color: rgb(215, 55, 63);
      box-shadow: 0 0 0 1px rgb(215, 55, 63);
    }
.spectrum-ComboBox--quiet .spectrum-Button {
    border-color: rgb(45, 45, 45);
    background-color: inherit;
  }
.spectrum-ComboBox--quiet .spectrum-Button:hover,
    .spectrum-ComboBox--quiet .spectrum-Button.focus-ring,
    .spectrum-ComboBox--quiet .spectrum-Button:active,
    .spectrum-ComboBox--quiet .spectrum-Button.is-open,
    .spectrum-ComboBox--quiet .spectrum-Button:invalid,
    .spectrum-ComboBox--quiet .spectrum-Button.is-invalid,
    .spectrum-ComboBox--quiet .spectrum-Button:disabled,
    .spectrum-ComboBox--quiet .spectrum-Button:disabled:hover {
      background-color: inherit;
    }
.spectrum-ComboBox--quiet:hover .spectrum-Button {
      border-color: rgb(60, 60, 60);
    }
.spectrum-ComboBox--quiet .spectrum-ComboBox-input.is-invalid ~ .spectrum-Button, .spectrum-ComboBox--quiet .spectrum-ComboBox-input:invalid ~ .spectrum-Button {
        border-color: rgb(215, 55, 63);
      }
.spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus ~ .spectrum-Button {
        border-color: rgb(38, 128, 235);
        box-shadow: 0 1px 0 rgb(38, 128, 235);
      }
.spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus.is-invalid ~ .spectrum-Button, .spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus:invalid ~ .spectrum-Button {
          border-color: rgb(215, 55, 63);
          box-shadow: 0 1px 0 rgb(215, 55, 63);
        }
