/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-ComboBox .spectrum-Button {
    border-color: rgb(62, 62, 62);
    background-color: rgb(45, 45, 45);
    color: rgb(153, 153, 153);
  }
.spectrum-ComboBox .spectrum-Button:hover {
      border-color: rgb(77, 77, 77);
      background-color: rgb(37, 37, 37);
      color: rgb(255, 255, 255);
    }
.spectrum-ComboBox .spectrum-Button:active,
    .is-open .spectrum-ComboBox .spectrum-Button {
      border-color: rgb(77, 77, 77);
      background-color: rgb(57, 57, 57);
      color: rgb(255, 255, 255);
    }
.spectrum-ComboBox .spectrum-Button:disabled {
      background-color: rgb(57, 57, 57);
    }
.spectrum-ComboBox .spectrum-Button:disabled:hover {
        border-color: transparent;
        background-color: rgb(57, 57, 57);
        color: rgb(92, 92, 92);
      }
.spectrum-ComboBox .spectrum-Button.is-invalid,
    .spectrum-ComboBox .spectrum-Button:invalid {
      border-color: rgb(227, 72, 80);
    }
.spectrum-ComboBox-input:focus ~ .spectrum-Button {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum-ComboBox-input:focus.is-invalid ~ .spectrum-Button, .spectrum-ComboBox-input:focus:invalid ~ .spectrum-Button {
      border-color: rgb(227, 72, 80);
      box-shadow: 0 0 0 1px rgb(227, 72, 80);
    }
.spectrum-ComboBox--quiet .spectrum-Button {
    border-color: rgb(62, 62, 62);
    background-color: inherit;
  }
.spectrum-ComboBox--quiet .spectrum-Button:hover,
    .spectrum-ComboBox--quiet .spectrum-Button.focus-ring,
    .spectrum-ComboBox--quiet .spectrum-Button:active,
    .spectrum-ComboBox--quiet .spectrum-Button.is-open,
    .spectrum-ComboBox--quiet .spectrum-Button:invalid,
    .spectrum-ComboBox--quiet .spectrum-Button.is-invalid,
    .spectrum-ComboBox--quiet .spectrum-Button:disabled,
    .spectrum-ComboBox--quiet .spectrum-Button:disabled:hover {
      background-color: inherit;
    }
.spectrum-ComboBox--quiet:hover .spectrum-Button {
      border-color: rgb(77, 77, 77);
    }
.spectrum-ComboBox--quiet .spectrum-ComboBox-input.is-invalid ~ .spectrum-Button, .spectrum-ComboBox--quiet .spectrum-ComboBox-input:invalid ~ .spectrum-Button {
        border-color: rgb(227, 72, 80);
      }
.spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus ~ .spectrum-Button {
        border-color: rgb(55, 142, 240);
        box-shadow: 0 1px 0 rgb(55, 142, 240);
      }
.spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus.is-invalid ~ .spectrum-Button, .spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus:invalid ~ .spectrum-Button {
          border-color: rgb(227, 72, 80);
          box-shadow: 0 1px 0 rgb(227, 72, 80);
        }
