/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-ComboBox-textfield:focus ~ .spectrum-ComboBox-button {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum-ComboBox-textfield:focus.is-invalid ~ .spectrum-ComboBox-button, .spectrum-ComboBox-textfield:focus:invalid ~ .spectrum-ComboBox-button {
      border-color: rgb(227, 72, 80);
      box-shadow: 0 0 0 1px rgb(227, 72, 80);
    }
.spectrum-ComboBox--quiet .spectrum-ComboBox-button {
    border-color: rgb(225, 225, 225);
  }
.spectrum-ComboBox--quiet:hover .spectrum-ComboBox-button {
      border-color: rgb(202, 202, 202);
    }
.spectrum-ComboBox--quiet .spectrum-ComboBox-textfield.is-invalid ~ .spectrum-ComboBox-button, .spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:invalid ~ .spectrum-ComboBox-button {
        border-color: rgb(227, 72, 80);
      }
.spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:focus ~ .spectrum-ComboBox-button {
        border-color: rgb(20, 115, 230);
        box-shadow: 0 1px 0 rgb(20, 115, 230);
      }
.spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:focus.is-invalid ~ .spectrum-ComboBox-button, .spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:focus:invalid ~ .spectrum-ComboBox-button {
          border-color: rgb(227, 72, 80);
          box-shadow: 0 1px 0 rgb(227, 72, 80);
        }
.spectrum-ComboBox-button {
  border-color: rgb(225, 225, 225);
  background-color: rgb(252, 252, 252);
  color: rgb(112, 112, 112);

}
.spectrum-ComboBox-button:hover {
    border-color: rgb(202, 202, 202);
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
  }
.spectrum-ComboBox-button:active,
  .is-open .spectrum-ComboBox-button {
    border-color: rgb(202, 202, 202);
    background-color: rgb(234, 234, 234);
    color: rgb(44, 44, 44);
  }
.spectrum-ComboBox-button:disabled:hover {
    border-color: transparent;
    background-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
.spectrum-ComboBox-button.is-invalid,
  .spectrum-ComboBox-button:invalid {
    border-color: rgb(227, 72, 80);
  }
.spectrum-ComboBox--quiet .spectrum-ComboBox-button {
    background-color: inherit;
  }
.spectrum-ComboBox--quiet .spectrum-ComboBox-button:hover,
    .spectrum-ComboBox--quiet .spectrum-ComboBox-button.focus-ring,
    .spectrum-ComboBox--quiet .spectrum-ComboBox-button:active,
    .spectrum-ComboBox--quiet .spectrum-ComboBox-button.is-open,
    .spectrum-ComboBox--quiet .spectrum-ComboBox-button:invalid,
    .spectrum-ComboBox--quiet .spectrum-ComboBox-button.is-invalid,
    .spectrum-ComboBox--quiet .spectrum-ComboBox-buttondisabled {
      background-color: inherit;
    }
