
.spectrum--lightest .spectrum-Popover {
  --spectrum-popover-background-color: rgb(255, 255, 255);
  --spectrum-popover-border-color: rgb(211, 211, 211);
  --spectrum-popover-shadow-color: rgba(0,0,0,0.15);
}
