:root {

  /* Radio button */

  /* Field group */
}

.spectrum-InputGroup {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 192px;
}

.spectrum-InputGroup-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-width: 0;
  -ms-flex: 1;
      flex: 1;
}

.spectrum-InputGroup-button {
  padding: 0;
  width: 34px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.spectrum-InputGroup--quiet .spectrum-InputGroup-button {
    border-bottom: 1px solid;
  }
