.spectrum-Button,
.spectrum-ActionButton,
.spectrum-LogicButton,
.spectrum-FieldButton,
.spectrum-ClearButton,
.spectrum-Tool {
  display: -ms-inline-flexbox;
  display: inline-flex;
  box-sizing: border-box;

  -ms-flex-align: center;

      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;

  /* Show the button overflow in Edge. */
  overflow: visible;

  /* Remove button the margin in Firefox and Safari. */
  margin: 0;

  border-style: solid;
  white-space: nowrap;

  /* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
  text-transform: none;
  -webkit-font-smoothing: antialiased;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Adjacent buttons should be aligned correctly */
  vertical-align: top;

  transition: background 125ms ease-out,
              border-color 125ms ease-out,
              color 125ms ease-out,
              box-shadow 125ms ease-out;

  text-decoration: none;
  font-family: adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;

  cursor: pointer;
}.spectrum-Button:focus,
.spectrum-ActionButton:focus,
.spectrum-LogicButton:focus,
.spectrum-FieldButton:focus,
.spectrum-ClearButton:focus,
.spectrum-Tool:focus {
    outline: none;
  }/* Fix Firefox */.spectrum-Button::-moz-focus-inner,
.spectrum-ActionButton::-moz-focus-inner,
.spectrum-LogicButton::-moz-focus-inner,
.spectrum-FieldButton::-moz-focus-inner,
.spectrum-ClearButton::-moz-focus-inner,
.spectrum-Tool::-moz-focus-inner {
    border: 0;

    /* Remove the inner border and padding for button in Firefox. */
    border-style: none;
    padding: 0;

    /* Use uppercase PX so values don't get converted to rem */
    margin-top: -2PX;
    margin-bottom: -2PX;
  }/* Restore the focus styles unset by the previous rule. */.spectrum-Button:-moz-focusring,
.spectrum-ActionButton:-moz-focusring,
.spectrum-LogicButton:-moz-focusring,
.spectrum-FieldButton:-moz-focusring,
.spectrum-ClearButton:-moz-focusring,
.spectrum-Tool:-moz-focusring {
    outline: 1px dotted ButtonText;
  }.spectrum-Button:disabled,
.spectrum-ActionButton:disabled,
.spectrum-LogicButton:disabled,
.spectrum-FieldButton:disabled,
.spectrum-ClearButton:disabled,
.spectrum-Tool:disabled {
    cursor: default;
  }.spectrum-Button .spectrum-Icon,
.spectrum-ActionButton .spectrum-Icon,
.spectrum-LogicButton .spectrum-Icon,
.spectrum-FieldButton .spectrum-Icon,
.spectrum-ClearButton .spectrum-Icon,
.spectrum-Tool .spectrum-Icon {
    max-height: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }.spectrum-Button {

  border-width: 2px;
  border-style: solid;
  border-radius: 20px;

  height: 40px;

  padding: 0 18px 1px; /* 1px to push up text, sits kind of low */

  font-size: 18px;
  font-weight: 700;
}.spectrum-Button:hover,
  .spectrum-Button:active {
    box-shadow: none;
  }.spectrum-Button .spectrum-Icon + .spectrum-Button-label {
    margin-left: 10px;
  }a.spectrum-Button {
  /* Remove appearance for clickable types in iOS and Safari. */
  -webkit-appearance: none;
  /* Make link text not selectable  */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}.spectrum-ActionButton,
.spectrum-Tool {

  height: 40px;
  min-width: 40px;
  padding: 0 15px;

  border-width: 1px;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 400;
}.spectrum-ActionButton .spectrum-Icon + .spectrum-ActionButton-label,
.spectrum-Tool .spectrum-Icon + .spectrum-ActionButton-label {
    margin-left: 10px;
  }.spectrum-ActionButton .spectrum-Icon:only-child,
.spectrum-Tool .spectrum-Icon:only-child {
    /* Remove padding if we're the only child */
    margin: 0 -15px;
  }.spectrum-ActionButton-label:empty, .spectrum-Button-label:empty {
    display: none;
  }.spectrum-ActionButton--quiet,
.spectrum-Tool {
  padding: 0 15px;

  border-width: 0;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 400;
}.spectrum-LogicButton {

  height: 24px;
  padding: 10px;

  border-width: 2px;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 700;
  line-height: 0;
}/* topdoc
---
name: Button - Block
description: Spectrum buttons modified with the --block variant
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--cta spectrum-Button--block">
    <span class="spectrum-Button-label">Button</span>
  </button>

  <br>

  <button class="spectrum-Button spectrum-Button--primary spectrum-Button--block">
    <span class="spectrum-Button-label">Button</span>
  </button>

  <br>

  <button class="spectrum-Button spectrum-Button--secondary spectrum-Button--block">
    <span class="spectrum-Button-label">Button</span>
  </button>

  <br>

  <button class="spectrum-ActionButton spectrum-Button--block">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
      <use xlink:href="#spectrum-icon-18-Delete" />
    </svg>
    <span class="spectrum-ActionButton-label">Button</span>
  </button>

*/.spectrum-Button--block {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}.spectrum-FieldButton {

  height: 40px;

  padding: 0 15px;

  font-family: inherit;
  font-weight: normal;
  font-size: 17px;
  line-height: normal;
  -webkit-font-smoothing: initial;

  cursor: pointer;
  outline: none;
}.spectrum-FieldButton {
  margin: 0;
  padding: 0 15px;

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  transition: background-color 125ms,
    box-shadow 125ms,
    border-color 125ms;
}.spectrum-FieldButton:disabled,
  .spectrum-FieldButton.is-disabled {
    border-width: 0;
    cursor: default;
  }.spectrum-FieldButton.is-open {
    border-width: 1px;
  }.spectrum-FieldButton--quiet {
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;
}.spectrum-ClearButton {

  width: 40px;
  height: 40px;

  padding: 0;
  margin: 0;

  border: none;
}.spectrum-ClearButton .spectrum-Icon {
    width: 10px;
    height: 100%;
  }.spectrum-ClearButton--small {
  width: 30px;
  height: 30px;
}/* topdoc
---
name: Tool
description: The tool button.
status: Released
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Tool">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
  </button>

  <button class="spectrum-Tool is-selected">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
  </button>

  <button class="spectrum-Tool" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
  </button>

  <button class="spectrum-Tool is-selected" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
  </button>

  <br><br>

  <button class="spectrum-Tool">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
    <svg class="spectrum-Icon spectrum-Tool-hold" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-CornerTriangle" />
    </svg>
  </button>

  <button class="spectrum-Tool is-selected">
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
    <svg class="spectrum-Icon spectrum-Tool-hold" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-CornerTriangle" />
    </svg>
  </button>

  <button class="spectrum-Tool" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
    <svg class="spectrum-Icon spectrum-Tool-hold" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-CornerTriangle" />
    </svg>
  </button>

  <button class="spectrum-Tool is-selected" disabled>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Brush">
      <use xlink:href="#spectrum-icon-18-Brush" />
    </svg>
    <svg class="spectrum-Icon spectrum-Tool-hold" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-CornerTriangle" />
    </svg>
  </button>

*/.spectrum-Tool {

  position: relative;

  width: 40px;
  height: 40px;

  padding: 0;
}.spectrum-Tool .spectrum-Tool-hold {
    /* Increase specificity */
    width: 5px;
    height: 5px;
  }.spectrum-Tool-hold {
  position: absolute;
  right: 5px;
  bottom: 5px;
}/* Potentially temporary: Add back default margin between all buttons when adjacent */.spectrum-Button:not(.spectrum-Button--block) + .spectrum-Button {
  margin-left: 16px;
}.spectrum-ActionButton + .spectrum-ActionButton,
.spectrum-Tool + .spectrum-Tool {
  margin-left: 10px;
}.spectrum-Tool + .spectrum-Tool {
  margin-left: 10px;
}
