/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--light .spectrum-Dropdown .spectrum-Dropdown-trigger:hover .spectrum-Dropdown-icon {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-Dropdown.is-invalid .spectrum-Icon {
      color: rgb(227, 72, 80);
    }
.spectrum--light .spectrum-Dropdown.is-invalid:hover .spectrum-Dropdown-icon {
      color: rgb(227, 72, 80);
    }
.spectrum--light .spectrum-Dropdown.is-disabled .spectrum-Dropdown-icon, .spectrum--light .spectrum-Dropdown.is-disabled .spectrum-Dropdown-trigger:hover .spectrum-Dropdown-icon {
        color: rgb(179, 179, 179);
      }
.spectrum--light .spectrum-Dropdown-icon {
  color: rgb(75, 75, 75);
}
