/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
/* Default Label Style is 'incomplete' */
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-label {
    color: rgb(123, 123, 123)
  }
/* Default Marker Style is 'incomplete' */
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-marker {
    border-color: rgb(62, 62, 62)
  }
/* Default Line Style is 'incomplete' */
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-segment {
    border-bottom-color: rgb(62, 62, 62)
  }
/* Step Completed */
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-label {
        color: rgb(153, 153, 153)
      }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-marker {
        background-color: rgb(123, 123, 123)
      }
/* Step Selected aka Current */
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-label {
        color: rgb(205, 205, 205)
      }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-marker {
        background-color: rgb(205, 205, 205)
      }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-segment, .spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-segment {
        border-bottom-color: rgb(92, 92, 92)
      }
/* Interactivity Styles */
/* Step Focused */
.spectrum--dark .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item:focus .spectrum-Steplist-marker {
          background-color: rgb(38, 128, 235)
        }
