
.spectrum--large .spectrum-Search {
  --spectrum-icon-magnifier-width: 20px;
  --spectrum-search-padding-left: 36px;
  --spectrum-search-padding-right: 28px;
  --spectrum-search-quiet-padding-left: 24px;
  --spectrum-search-quiet-padding-right: 20px;
  --spectrum-textfield-height: 40px;
}
