.spectrum--darkest .spectrum-Dialog-wrapper {
  background: rgb(24, 24, 24);
}
.spectrum--darkest .spectrum-Dialog-header {
  background: rgb(24, 24, 24);
}
.spectrum--darkest .spectrum-Dialog-header:after {
    background: rgb(38, 38, 38);
  }
.spectrum--darkest .spectrum-Dialog-title {
  /* Todo: Determine if missing class is required */
  color: rgb(226, 226, 226);
}
.spectrum--darkest .spectrum-Dialog-typeIcon {
  /* Todo: Determine if missing class is required */
  color: rgb(226, 226, 226);
}
.spectrum--darkest .spectrum-Dialog-footer {
  background: rgb(24, 24, 24);
}
/* topdoc
{{ dialog/dialog-success.yml }}
*/
.spectrum--darkest .spectrum-Dialog--success .spectrum-Dialog-title {
    color: rgb(45, 157, 120);
  }
.spectrum--darkest .spectrum-Dialog--success .spectrum-Dialog-typeIcon {
    color: rgb(45, 157, 120);
  }
/* topdoc
{{ dialog/dialog-info.yml }}
*/
.spectrum--darkest .spectrum-Dialog--help .spectrum-Dialog-title, .spectrum--darkest .spectrum-Dialog--info .spectrum-Dialog-title {
    color: rgb(38, 128, 235);
  }
.spectrum--darkest .spectrum-Dialog--help .spectrum-Dialog-typeIcon, .spectrum--darkest .spectrum-Dialog--info .spectrum-Dialog-typeIcon {
    color: rgb(38, 128, 235);
  }
/* topdoc
{{ dialog/dialog-warning.yml }}
*/
.spectrum--darkest .spectrum-Dialog--warning .spectrum-Dialog-title {
    color: rgb(230, 134, 25);
  }
.spectrum--darkest .spectrum-Dialog--warning .spectrum-Dialog-typeIcon {
    color: rgb(230, 134, 25);
  }
/* topdoc
{{ dialog/dialog-error.yml }}
*/
.spectrum--darkest .spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(227, 72, 80);
  }
.spectrum--darkest .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(227, 72, 80);
  }
/* topdoc
{{ dialog/dialog-modal.yml }}
*/
.spectrum--darkest .spectrum-Dialog--modal {
  background: rgba(0, 0, 0, 0.6);
}
