.spectrum--light .spectrum-Dialog-wrapper {
  background: rgb(251, 251, 251);
}
.spectrum--light .spectrum-Dialog-header {
  background: rgb(251, 251, 251);
}
.spectrum--light .spectrum-Dialog-header:after {
    background: rgb(234, 234, 234);
  }
.spectrum--light .spectrum-Dialog-title {
  /* Todo: Determine if missing class is required */
  color: rgb(44, 44, 44);
}
.spectrum--light .spectrum-Dialog-typeIcon {
  /* Todo: Determine if missing class is required */
  color: rgb(44, 44, 44);
}
.spectrum--light .spectrum-Dialog-footer {
  background: rgb(251, 251, 251);
}
/* topdoc
{{ dialog/dialog-success.yml }}
*/
.spectrum--light .spectrum-Dialog--success .spectrum-Dialog-title {
    color: rgb(38, 142, 108);
  }
.spectrum--light .spectrum-Dialog--success .spectrum-Dialog-typeIcon {
    color: rgb(38, 142, 108);
  }
/* topdoc
{{ dialog/dialog-info.yml }}
*/
.spectrum--light .spectrum-Dialog--help .spectrum-Dialog-title, .spectrum--light .spectrum-Dialog--info .spectrum-Dialog-title {
    color: rgb(20, 115, 230);
  }
.spectrum--light .spectrum-Dialog--help .spectrum-Dialog-typeIcon, .spectrum--light .spectrum-Dialog--info .spectrum-Dialog-typeIcon {
    color: rgb(20, 115, 230);
  }
/* topdoc
{{ dialog/dialog-warning.yml }}
*/
.spectrum--light .spectrum-Dialog--warning .spectrum-Dialog-title {
    color: rgb(218, 123, 17);
  }
.spectrum--light .spectrum-Dialog--warning .spectrum-Dialog-typeIcon {
    color: rgb(218, 123, 17);
  }
/* topdoc
{{ dialog/dialog-error.yml }}
*/
.spectrum--light .spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(215, 55, 63);
  }
.spectrum--light .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(215, 55, 63);
  }
/* topdoc
{{ dialog/dialog-modal.yml }}
*/
.spectrum--light .spectrum-Dialog--modal {
  background: rgba(0, 0, 0, 0.6);
}
