
.spectrum--medium .spectrum-Breadcrumbs {
  --spectrum-global-dimension-size-10: 1px;
  --spectrum-breadcrumb-compact-item-text-size: 14px;
  --spectrum-breadcrumb-list-height: 32px;
  --spectrum-breadcrumb-item-text-line-height: 1.5;
  --spectrum-breadcrumb-item-text-font-weight: 400;
  --spectrum-breadcrumb-item-margin-right: 1px;
  --spectrum-breadcrumb-item-border-radius: 4px;
  --spectrum-breadcrumb-item-padding-x: 8px;
  --spectrum-breadcrumb-title-text-font-weight: 700;
  --spectrum-breadcrumb-button-gap: 1px;
  --spectrum-breadcrumb-ui-icon-width: 6px;
  --spectrum-breadcrumb-ui-icon-height: 8px;
  --spectrum-breadcrumb-item-text-size: 16px;
  --spectrum-breadcrumb-item-border-size-key-focus: 2px;
  --spectrum-breadcrumb-multiline-item-text-line-height: 1.5;
  --spectrum-breadcrumb-multiline-item-text-font-weight: 400;
  --spectrum-breadcrumb-multiline-title-margin-top: 0px;
  --spectrum-breadcrumb-multiline-title-text-line-height: 1.3;
  --spectrum-breadcrumb-multiline-title-text-font-weight: 700;
  --spectrum-breadcrumb-multiline-item-text-size: 12px;
  --spectrum-breadcrumb-multiline-title-text-size: 18px;
  --spectrum-breadcrumb-title-margin: 0.3em 0;
  --spectrum-breadcrumb-title-active-text-size: 28px;
  --spectrum-breadcrumb-title-active-text-font-weight: 300;
  --spectrum-breadcrumb-title-active-text-line-height: 32px;
}
