.spectrum--large .spectrum-MillerColumns {
  padding: 8px 0;
}
.spectrum--large .spectrum-MillerColumn {
  width: 272px;
  margin-right: 8px;
}
.spectrum--large .spectrum-MillerColumn:first-child {
    margin-left: 8px;
  }
.spectrum--large .spectrum-MillerColumn-childIndicator {
  width: 6px;
  height: 10px;
  transition: transform ease 125ms;
}
.spectrum--large .spectrum-MillerColumn-item {
  padding: 0 16px 0 16px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 400;
  height: 40px;
  border-radius: 4px;
  width: 272px;
  transition: background-color 125ms ease-in-out;
}
.spectrum--large .spectrum-MillerColumn-item .spectrum-MillerColumn-itemThumbnail {

    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
.spectrum--large .spectrum-MillerColumn-itemLabel {
  padding-left: 8px;
}
