.spectrum--large .spectrum {
  font-family: adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.spectrum--large .spectrum:lang(zh-Hans) {
    font-family: adobe-clean-han-simplified-c, adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;
  }
.spectrum--large .spectrum:lang(zh) {
    font-family: adobe-clean-han-traditional, adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;
  }
.spectrum--large .spectrum:lang(ko) {
    font-family: adobe-clean-han-korean, adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;
  }
.spectrum--large .spectrum:lang(ja) {
    font-family: adobe-clean-han-japanese,  adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;
  }
.spectrum--large .spectrum,
.spectrum--large .spectrum-Body {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}
.spectrum--large .spectrum-Body--large {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}
.spectrum--large .spectrum-Body--small {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}
.spectrum--large .spectrum-Body--secondary {
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
}
.spectrum--large .spectrum-Heading--display {
  font-weight: 300;
  font-size: 51px;
  line-height: 1.5;
}
.spectrum--large .spectrum-Heading--pageTitle {

  font-weight: 300;
  font-size: 36px;
  line-height: 1.5;
}
.spectrum--large .spectrum-Heading--subtitle1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
}
.spectrum--large .spectrum-Heading--subtitle2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
}
.spectrum--large .spectrum-Heading--subtitle3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.spectrum--large .spectrum-Link {
  transition: color 125ms ease-in-out;
}
.spectrum--large .spectrum-Label {

  border-radius: 4px;

  font-size: 15px;
  line-height: 20px;
}
.spectrum--large .spectrum-Breadcrumb-separator {
  top: calc(50% - 3px);
  right: -18.5px;

  width: 5px;
  height: 8px;
}
.spectrum--large .spectrum-Breadcrumb {

  margin-right: 32px;

  font-size: 16px;
  font-weight: 300;
}
.spectrum--large .spectrum-Breadcrumbs--title .spectrum-Breadcrumb:last-of-type {

    margin: 0.3em 0;

    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
  }
.spectrum--large .spectrum-Button,
.spectrum--large .spectrum-ActionButton,
.spectrum--large .spectrum-LogicButton,
.spectrum--large .spectrum-FieldButton,
.spectrum--large .spectrum-ClearButton,
.spectrum--large .spectrum-Tool {

  transition: background 125ms ease-out,
              border-color 125ms ease-out,
              color 125ms ease-out,
              box-shadow 125ms ease-out;
  font-family: adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif
}
.spectrum--large .spectrum-Button {

  border-width: 2px;
  border-radius: 20px;

  height: 40px;

  padding: 0 18px 1px;

  font-size: 18px;
  font-weight: 700;
}
.spectrum--large .spectrum-Button .spectrum-Icon + .spectrum-Button-label {
    margin-left: 10px;
  }
.spectrum--large .spectrum-ActionButton,
.spectrum--large .spectrum-Tool {

  height: 40px;
  min-width: 40px;
  padding: 0 15px;

  border-width: 1px;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 400;
}
.spectrum--large .spectrum-ActionButton .spectrum-Icon + .spectrum-ActionButton-label,
.spectrum--large .spectrum-Tool .spectrum-Icon + .spectrum-ActionButton-label {
    margin-left: 10px;
  }
.spectrum--large .spectrum-Button-label {
  line-height: 36px;
}
.spectrum--large .spectrum-ActionButton-label {
  line-height: 38px;
}
.spectrum--large .spectrum-ActionButton--quiet,
.spectrum--large .spectrum-Tool {
  padding: 0 15px;

  border-width: 0;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 400;
}
.spectrum--large .spectrum-ActionButton--quiet .spectrum-ActionButton-label,
.spectrum--large .spectrum-Tool .spectrum-ActionButton-label {
    line-height: 40px;
  }
.spectrum--large .spectrum-LogicButton {

  height: 24px;
  padding: 10px;

  border-width: 2px;
  border-radius: 5px;

  font-size: 17px;
  font-weight: 700;
}
.spectrum--large .spectrum-FieldButton {

  height: 40px;

  padding: 0 15px;
  font-size: 17px;
}
.spectrum--large .spectrum-FieldButton {
  padding: 0 15px;

  border-width: 1px;
  border-radius: 4px;

  transition: background-color 125ms,
    box-shadow 125ms,
    border-color 125ms;
}
.spectrum--large .spectrum-FieldButton.is-open {
    border-width: 1px;
  }
.spectrum--large .spectrum-ClearButton {

  width: 40px;
  height: 40px;
}
.spectrum--large .spectrum-ClearButton .spectrum-Icon {
    width: 10px;
  }
.spectrum--large .spectrum-ClearButton--small {
  width: 30px;
  height: 30px;
}
.spectrum--large .spectrum-Tool {

  width: 40px;
  height: 40px;
}
.spectrum--large .spectrum-Tool .spectrum-Tool-hold {
    width: 5px;
    height: 5px;
  }
.spectrum--large .spectrum-Tool-hold {
  right: 5px;
  bottom: 5px;
}
.spectrum--large .spectrum-Button:not(.spectrum-Button--block) + .spectrum-Button {
  margin-left: 16px;
}
.spectrum--large .spectrum-ActionButton + .spectrum-ActionButton,
.spectrum--large .spectrum-Tool + .spectrum-Tool {
  margin-left: 10px;
}
.spectrum--large .spectrum-Tool + .spectrum-Tool {
  margin-left: 10px;
}
.spectrum--large .spectrum-ButtonGroup .spectrum-Button + .spectrum-Button {
    margin-left: 16px;
  }
.spectrum--large .spectrum-ButtonGroup .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: 10px;
  }
.spectrum--large .spectrum-ButtonGroup .spectrum-Tool + .spectrum-Tool {
    margin-left: 10px;
  }
.spectrum--large .spectrum-ButtonGroup--vertical .spectrum-Button + .spectrum-Button {
    margin-top: 16px;
  }
.spectrum--large .spectrum-ButtonGroup--vertical .spectrum-ActionButton + .spectrum-ActionButton {
    margin-top: 10px;
  }
.spectrum--large .spectrum-ButtonGroup--vertical .spectrum-Tool + .spectrum-Tool {
    margin-top: 10px;
  }
.spectrum--large .spectrum-Alert {
  min-width: 368px;
  min-height: 38px;
  padding: 20px 20px;

  border-width: 2px;
  border-radius: 4px;
}
.spectrum--large .spectrum-Alert-content {
  margin: 8px 0 0 0;
}
.spectrum--large .spectrum-Avatar {
  width: 20px;
  height: 20px;

  border-radius: 50%;
}
.spectrum--large .spectrum-Checkbox {
  height: 40px;
  line-height: 40px;

  padding: 0 10px;
  margin-left: -10px;
}
.spectrum--large .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-width: 9px
  }
.spectrum--large .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box,
  .spectrum--large .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-width: 9px
  }
.spectrum--large .spectrum-Checkbox-label {
  margin: 0 13px;
  font-size: 17px;
  font-weight: 400;
  transition: color 125ms ease-in-out;
}
.spectrum--large .spectrum-Checkbox-box {
  width: 18px;
  height: 18px;

  border-radius: 2px;
  border-width: 2px;

  transition: border 125ms ease-in-out, box-shadow 125ms ease-in-out;
}
.spectrum--large .spectrum-Checkbox-checkmark,
.spectrum--large .spectrum-Checkbox-partialCheckmark {
  width: 12px;
  height: 12px;

  margin-top: -6px;
  margin-left: -6px;

  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;
}
.spectrum--large .spectrum-Radio {

  padding: 0 10px;
  margin-left: -10px;

  height: 40px;
  line-height: 40px
}
.spectrum--large .spectrum-Radio-input:checked + .spectrum-Radio-button {
    border-width: 7px;

  }
.spectrum--large .spectrum-Radio-label {
  margin-left: 13px;

  font-size: 17px;

  transition: color 125ms ease-in-out;
}
.spectrum--large .spectrum-Radio-button {
  width: 18px;
  height: 18px;

  border-radius: 9px;
  border-width: 2px;

  transition: border 125ms ease-in-out, box-shadow 125ms ease-in-out;
}
.spectrum--large .spectrum-FieldGroup--vertical .spectrum-Radio,
  .spectrum--large .spectrum-FieldGroup--vertical .spectrum-Checkbox {
    margin: 0 0 0 -10px;
  }
.spectrum--large .spectrum-FieldGroup--vertical + .spectrum-FieldGroup--vertical {
    margin-left: 15px
  }
.spectrum--large .spectrum-Textfield {
  border: 1px solid;
  border-radius: 4px;
  padding: 3px 12px 5px;

  min-width: 112px;
  height: 40px;
  width: 192px;
  font-size: 14px;
  line-height: 20px;

  transition: border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
}
.spectrum--large .spectrum-Textfield:-ms-input-placeholder {
    font-weight: 400;
    font-style: italic;
    transition: color 125ms ease-in-out;
  }
.spectrum--large .spectrum-Textfield::placeholder {
    font-weight: 400;
    font-style: italic;
    transition: color 125ms ease-in-out;
  }
.spectrum--large .spectrum-Textfield:hover:-ms-input-placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield:hover::placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield:disabled:-ms-input-placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield:disabled::placeholder {
      font-weight: 400;
    }
.spectrum--large .spectrum-Textfield--quiet {
  border-radius: 0;
}
.spectrum--large .spectrum-InputGroup {
  min-width: 192px;
}
.spectrum--large .spectrum-InputGroup .spectrum-FieldButton {
    padding: 0 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
.spectrum--large .spectrum-InputGroup-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.spectrum--large .spectrum-InputGroup-icon {
  width: 10px;
  height: 10px;
}
.spectrum--large .spectrum-InputGroup--quiet .spectrum-FieldButton {
    border-radius: 0;
    border-bottom: 1px solid
  }
.spectrum--large .spectrum-Tooltip {
  visibility: hidden;

  opacity: 0;

  transition: transform 125ms ease-in-out,
              opacity 125ms ease-in-out,
              visibility 0ms linear 125ms;

  pointer-events: none;
}
.spectrum--large .spectrum-Tooltip.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum--large .spectrum-Tooltip--bottom.is-open {
  transform: translateY(6px);
}
.spectrum--large .spectrum-Tooltip--top.is-open {
  transform: translateY(-6px);
}
.spectrum--large .spectrum-Tooltip--right.is-open {
  transform: translateX(6px);
}
.spectrum--large .spectrum-Tooltip--left.is-open {
  transform: translateX(-6px);
}
.spectrum--large .spectrum-Tooltip {
  max-width: 256px;
  border-radius: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.spectrum--large .spectrum-Tooltip-tip {
  width: 11px;
  height: 11px;
}
.spectrum--large .spectrum-Tooltip-tip::after {
    width: 8px;
    height: 8px;
  }
.spectrum--large .spectrum-Tooltip--right .spectrum-Tooltip-tip, .spectrum--large .spectrum-Tooltip--left .spectrum-Tooltip-tip {
    top: calc(50% - 5.5px);
  }
.spectrum--large .spectrum-Tooltip--right {
  margin-left: 3px;
}
.spectrum--large .spectrum-Tooltip--right .spectrum-Tooltip-tip {
    left: -8px;
    top: calc(50% - 5px);
  }
.spectrum--large .spectrum-Tooltip--left {
  margin-right: 3px;
}
.spectrum--large .spectrum-Tooltip--left .spectrum-Tooltip-tip {
    right: -8px;
  }
.spectrum--large .spectrum-Tooltip--bottom {
  margin-top: 3px;
}
.spectrum--large .spectrum-Tooltip--bottom .spectrum-Tooltip-tip {
    top: -8px;
  }
.spectrum--large .spectrum-Tooltip--top {
  margin-bottom: 3px;
}
.spectrum--large .spectrum-Tooltip--top .spectrum-Tooltip-tip {
    bottom: -8px;
  }
.spectrum--large .spectrum-Tooltip--bottom .spectrum-Tooltip-tip, .spectrum--large .spectrum-Tooltip--top .spectrum-Tooltip-tip {
    margin-left: -5.5px;
  }
.spectrum--large .spectrum-Tooltip-typeIcon {
  margin-right: 10px;
}
.spectrum--large .spectrum-Tooltip-label {
  line-height: 25px;
}
.spectrum--large .u-tooltip-showOnHover .spectrum-Tooltip {
    transition: transform 125ms ease-in-out;
  }
.spectrum--large {@keyframes spectrum-fill-mask-1 {
  0% {
    transform: rotate(90deg);
  }

  1.69% {
    transform: rotate(72.3deg);
  }

  3.39% {
    transform: rotate(55.5deg);
  }

  5.08% {
    transform: rotate(40.3deg);
  }

  6.78% {
    transform: rotate(25deg);
  }

  8.47% {
    transform: rotate(10.6deg);
  }

  10.17% {
    transform: rotate(0deg);
  }

  11.86% {
    transform: rotate(0deg);
  }

  13.56% {
    transform: rotate(0deg);
  }

  15.25% {
    transform: rotate(0deg);
  }

  16.95% {
    transform: rotate(0deg);
  }

  18.64% {
    transform: rotate(0deg);
  }

  20.34% {
    transform: rotate(0deg);
  }

  22.03% {
    transform: rotate(0deg);
  }

  23.73% {
    transform: rotate(0deg);
  }

  25.42% {
    transform: rotate(0deg);
  }

  27.12% {
    transform: rotate(0deg);
  }

  28.81% {
    transform: rotate(0deg);
  }

  30.51% {
    transform: rotate(0deg);
  }

  32.2% {
    transform: rotate(0deg);
  }

  33.9% {
    transform: rotate(0deg);
  }

  35.59% {
    transform: rotate(0deg);
  }

  37.29% {
    transform: rotate(0deg);
  }

  38.98% {
    transform: rotate(0deg);
  }

  40.68% {
    transform: rotate(0deg);
  }

  42.37% {
    transform: rotate(5.3deg);
  }

  44.07% {
    transform: rotate(13.4deg);
  }

  45.76% {
    transform: rotate(20.6deg);
  }

  47.46% {
    transform: rotate(29deg);
  }

  49.15% {
    transform: rotate(36.5deg);
  }

  50.85% {
    transform: rotate(42.6deg);
  }

  52.54% {
    transform: rotate(48.8deg);
  }

  54.24% {
    transform: rotate(54.2deg);
  }

  55.93% {
    transform: rotate(59.4deg);
  }

  57.63% {
    transform: rotate(63.2deg);
  }

  59.32% {
    transform: rotate(67.2deg);
  }

  61.02% {
    transform: rotate(70.8deg);
  }

  62.71% {
    transform: rotate(73.8deg);
  }

  64.41% {
    transform: rotate(76.2deg);
  }

  66.1% {
    transform: rotate(78.7deg);
  }

  67.8% {
    transform: rotate(80.6deg);
  }

  69.49% {
    transform: rotate(82.6deg);
  }

  71.19% {
    transform: rotate(83.7deg);
  }

  72.88% {
    transform: rotate(85deg);
  }

  74.58% {
    transform: rotate(86.3deg);
  }

  76.27% {
    transform: rotate(87deg);
  }

  77.97% {
    transform: rotate(87.7deg);
  }

  79.66% {
    transform: rotate(88.3deg);
  }

  81.36% {
    transform: rotate(88.6deg);
  }

  83.05% {
    transform: rotate(89.2deg);
  }

  84.75% {
    transform: rotate(89.2deg);
  }

  86.44% {
    transform: rotate(89.5deg);
  }

  88.14% {
    transform: rotate(89.9deg);
  }

  89.83% {
    transform: rotate(89.7deg);
  }

  91.53% {
    transform: rotate(90.1deg);
  }

  93.22% {
    transform: rotate(90.2deg);
  }

  94.92% {
    transform: rotate(90.1deg);
  }

  96.61% {
    transform: rotate(90deg);
  }

  98.31% {
    transform: rotate(89.8deg);
  }

  100% {
    transform: rotate(90deg);
  }
}@keyframes spectrum-fill-mask-2 {
  0% {
    transform: rotate(180deg);
  }

  1.69% {
    transform: rotate(180deg);
  }

  3.39% {
    transform: rotate(180deg);
  }

  5.08% {
    transform: rotate(180deg);
  }

  6.78% {
    transform: rotate(180deg);
  }

  8.47% {
    transform: rotate(180deg);
  }

  10.17% {
    transform: rotate(179.2deg);
  }

  11.86% {
    transform: rotate(164deg);
  }

  13.56% {
    transform: rotate(151.8deg);
  }

  15.25% {
    transform: rotate(140.8deg);
  }

  16.95% {
    transform: rotate(130.3deg);
  }

  18.64% {
    transform: rotate(120.4deg);
  }

  20.34% {
    transform: rotate(110.8deg);
  }

  22.03% {
    transform: rotate(101.6deg);
  }

  23.73% {
    transform: rotate(93.5deg);
  }

  25.42% {
    transform: rotate(85.4deg);
  }

  27.12% {
    transform: rotate(78.1deg);
  }

  28.81% {
    transform: rotate(71.2deg);
  }

  30.51% {
    transform: rotate(89.1deg);
  }

  32.2% {
    transform: rotate(105.5deg);
  }

  33.9% {
    transform: rotate(121.3deg);
  }

  35.59% {
    transform: rotate(135.5deg);
  }

  37.29% {
    transform: rotate(148.4deg);
  }

  38.98% {
    transform: rotate(161deg);
  }

  40.68% {
    transform: rotate(173.5deg);
  }

  42.37% {
    transform: rotate(180deg);
  }

  44.07% {
    transform: rotate(180deg);
  }

  45.76% {
    transform: rotate(180deg);
  }

  47.46% {
    transform: rotate(180deg);
  }

  49.15% {
    transform: rotate(180deg);
  }

  50.85% {
    transform: rotate(180deg);
  }

  52.54% {
    transform: rotate(180deg);
  }

  54.24% {
    transform: rotate(180deg);
  }

  55.93% {
    transform: rotate(180deg);
  }

  57.63% {
    transform: rotate(180deg);
  }

  59.32% {
    transform: rotate(180deg);
  }

  61.02% {
    transform: rotate(180deg);
  }

  62.71% {
    transform: rotate(180deg);
  }

  64.41% {
    transform: rotate(180deg);
  }

  66.1% {
    transform: rotate(180deg);
  }

  67.8% {
    transform: rotate(180deg);
  }

  69.49% {
    transform: rotate(180deg);
  }

  71.19% {
    transform: rotate(180deg);
  }

  72.88% {
    transform: rotate(180deg);
  }

  74.58% {
    transform: rotate(180deg);
  }

  76.27% {
    transform: rotate(180deg);
  }

  77.97% {
    transform: rotate(180deg);
  }

  79.66% {
    transform: rotate(180deg);
  }

  81.36% {
    transform: rotate(180deg);
  }

  83.05% {
    transform: rotate(180deg);
  }

  84.75% {
    transform: rotate(180deg);
  }

  86.44% {
    transform: rotate(180deg);
  }

  88.14% {
    transform: rotate(180deg);
  }

  89.83% {
    transform: rotate(180deg);
  }

  91.53% {
    transform: rotate(180deg);
  }

  93.22% {
    transform: rotate(180deg);
  }

  94.92% {
    transform: rotate(180deg);
  }

  96.61% {
    transform: rotate(180deg);
  }

  98.31% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}@keyframes spectrum-fills-rotate {
  0% {transform: rotate(-90deg)}
  100% {transform: rotate(270deg)}
}

}
.spectrum--large .spectrum-Loader--indeterminate-fill-submask-2 {
  animation: 1s infinite linear spectrum-fill-mask-2;
}
.spectrum--large .spectrum-Loader {
  width: 32px;
  height: 32px;
}
.spectrum--large .spectrum-Loader-track {
  width: 24px;
  height: 24px;
  border: solid 4px;
  border-radius: 32px;
}
.spectrum--large .spectrum-Loader-fill {
  width: 24px;
  height: 24px;
  border: solid 4px;
  border-radius: 32px;
}
.spectrum--large .spectrum-Loader--small {
  width: 16px;
  height: 16px;
}
.spectrum--large .spectrum-Loader--small .spectrum-Loader-track {
    width: 10px;
    height: 10px;
    border: solid 3px;
    border-radius: 16px;
  }
.spectrum--large .spectrum-Loader--small .spectrum-Loader-fill {
    width: 10px;
    height: 10px;
    border: solid 3px;
    border-radius: 16px;
  }
.spectrum--large .spectrum-Loader--large {
  width: 80px;
  height: 80px;
}
.spectrum--large .spectrum-Loader--large .spectrum-Loader-track {
    width: 70px;
    height: 70px;
    border: solid 5px;
    border-radius: 80px;
  }
.spectrum--large .spectrum-Loader--large .spectrum-Loader-fill {
    width: 70px;
    height: 70px;
    border: solid 5px;
    border-radius: 80px;
  }
.spectrum--large .spectrum-Loader--overBackground {
  width: 80px;
  height: 80px;
}
.spectrum--large .spectrum-Loader--overBackground .spectrum-Loader-track {
    width: 70px;
    height: 70px;
    border: solid 5px;
    border-radius: 80px;
  }
.spectrum--large .spectrum-Loader--overBackground .spectrum-Loader-fill {
    width: 70px;
    height: 70px;
    border: solid 5px;
    border-radius: 80px;
  }
.spectrum--large .spectrum-Loader--bar {
  width: 182px
}
.spectrum--large .spectrum-Loader--bar-track {
  width: 182px;
  height: 6px;
  border-radius: 4px;
}
.spectrum--large .spectrum-Loader--bar-fill {
  height: 6px;
}
.spectrum--large .spectrum-Loader--bar-label, .spectrum--large .spectrum-Loader--bar-percentage {
  font-size: 12px;
  margin-bottom: 8px;
}
.spectrum--large .spectrum-Loader--side-label .spectrum-Loader--bar-label {
    margin-right: 12px;
  }
.spectrum--large .spectrum-Loader--side-label .spectrum-Loader--bar-percentage {
    margin-left: 12px;
  }
.spectrum--large .spectrum-Loader--bar--small {
  height: 4px;
  min-width: 148px;
}
.spectrum--large .spectrum-Loader--bar--small .spectrum-Loader--bar-fill {
    height: 4px;
  }
.spectrum--large .spectrum-Loader--bar--small .spectrum-Loader--bar-track {
    height: 4px;
    border-radius: 2px;
  }
.spectrum--large .spectrum-Toast {

  border-radius: 4px;

  font-size: 17px;
  font-weight: 600;
}
.spectrum--large .spectrum-Toast-closeButton {

  transition: background-color 125ms ease-in-out
}
.spectrum--large .spectrum-Underlay {
  visibility: hidden;

  opacity: 0;

  transition: transform 125ms ease-in-out,
              opacity 125ms ease-in-out,
              visibility 0ms linear 125ms;

  pointer-events: none;
}
.spectrum--large .spectrum-Underlay.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum--large .spectrum-Dialog {
  visibility: hidden;

  opacity: 0;

  transition: transform 125ms ease-in-out,
              opacity 125ms ease-in-out,
              visibility 0ms linear 125ms;

  pointer-events: none;
}
.spectrum--large .spectrum-Dialog.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum--large .spectrum-Dialog {
  transform: translateX(-50%) translateY(-50%) translateY(8px);
  max-height: calc(100vh - 64px);
  max-width: 90%;

  min-width: 288px;

  padding: 40px 39px;
  padding-top: 46px;

  border-radius: 5px;
}
.spectrum--large .spectrum-Dialog-header {
  padding: 0 1px;
  -ms-flex: 0 0 34px;
      flex: 0 0 34px;

  border-radius: 5px 5px 0 0;
}
.spectrum--large .spectrum-Dialog-header::after {

    height: 2px;
  }
.spectrum--large .spectrum-Dialog-content {
  padding: 11px 1px 1px 1px;
  margin-bottom: -1px;

  font-size: 14px;
  font-weight: 400;
}
.spectrum--large .spectrum-Dialog-footer {
  border-radius: 0 0 5px 5px;
  margin-top: 40px
}
.spectrum--large .spectrum-Dialog-title {
  font-size: 18px;
  font-weight: 700;
}
.spectrum--large .spectrum-Dialog--fullscreen {
  left: 32px;
  top: 32px;
  right: 32px;
  bottom: 32px;

  transform: translate(0, 8px)
}
.spectrum--large .spectrum-Dialog--fullscreen,
.spectrum--large .spectrum-Dialog--fullscreenTakeover {

  padding-top: 36px;
}
.spectrum--large .spectrum-Dialog--fullscreen .spectrum-Dialog-header, .spectrum--large .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-header {
    -ms-flex: 0 0 48px;
        flex: 0 0 48px;
  }
.spectrum--large .spectrum-Dialog--fullscreen .spectrum-Dialog-title, .spectrum--large .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-title {
    font-size: 28px;
    font-weight: 100;
  }
.spectrum--large .spectrum-Slider {
  min-height: 32px;
  width: 160px;
}
.spectrum--large .spectrum-Slider-controls {
  min-height: 32px;
}
.spectrum--large .spectrum-Slider-track {
  border-radius: 1px;
  height: 2px;

  top: 16px;
  padding: 0 20px 0 0;
  margin-left: -10px;
}
.spectrum--large .spectrum-Slider-track--fill {
  height: 2px;
}
.spectrum--large .spectrum-Slider-track--ramp {
  height: 16px;
}
.spectrum--large .spectrum-Slider-handle {

  top: 16px;
  border-radius: 10px;
  margin-top: -10px;
  margin-left: -10px;
  width: 20px;
  height: 20px;

  border-width: 2px;

  transition: border-width 130ms (.45, 0, .40, 1);
}
.spectrum--large .spectrum-Slider-handle:active,
  .spectrum--large .spectrum-Slider-handle.is-focused,
  .spectrum--large .spectrum-Slider-handle.is-dragged,
  .spectrum--large .spectrum-Slider-handle.is-tophandle {
    border-width: 10px;
  }
.spectrum--large .spectrum-Slider-labelContainer {

  border-radius: 4px;

  font-size: 12px;
  line-height: 12px;
}
.spectrum--large .spectrum-Slider-ticks {
  margin: 0 1px;
}
.spectrum--large .spectrum-Slider-tick-mark {

  width: 2px;
}
.spectrum--large .spectrum-Slider-tick-mark:after {
    left: calc(50% - 1px);
    width: 2px;
    height: 10px;

    border-radius: 1px;
  }
.spectrum--large .spectrum-Slider--color .spectrum-Slider-controls,
  .spectrum--large .spectrum-Slider--color .spectrum-Slider-track {
    height: 24px;
  }
.spectrum--large .spectrum-Slider--round {
  width: 48px;
}
.spectrum--large .spectrum-Slider--round .spectrum-Slider-controls {
    width: 32px;
    height: 32px;

    border-radius: 20px;
    margin-right: 24px;
  }
.spectrum--large .spectrum-Slider--round .spectrum-Slider-controls::before {
      transform: rotate(45deg);
    }
.spectrum--large .spectrum-Slider--round .spectrum-Slider-controls::after {
      transform: rotate(-45deg);
    }
.spectrum--large .spectrum-Slider--round.spectrum-Slider--round--small .spectrum-Slider-controls {
      width: 24px;
      height: 24px;
    }
.spectrum--large .spectrum-Slider--round .spectrum-Slider-handle {
    border-radius: 20px;
    transform: rotate(-45deg);

    transition: background-color 130ms (.45, 0, .40, 1);
  }
.spectrum--large .spectrum-Slider--round .spectrum-Slider-handle::after {
      width: 12px;
      height: 2px;
      border-radius: 1px;
      transition: background-color 130ms (.45, 0, .40, 1);
    }
.spectrum--large .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
      .spectrum--large .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active {
        border-width: 1px;
      }
.spectrum--large .spectrum-Tabs-item {

  height: 58px;
  line-height: 58px;

  transition: color 125ms ease-out;
}
.spectrum--large .spectrum-Tabs-item .spectrum-Icon {
    height: 58px;
  }
.spectrum--large .spectrum-Tabs-item .spectrum-Icon + .spectrum-Tabs-item-label {
      margin-left: 8px;
    }
.spectrum--large .spectrum-Tabs-item::before {

    height: 40px;
    margin-top: -19px;
    left: -11px;
    right: -11px;
    border: 2px solid transparent;
    border-radius: 6px;
  }
.spectrum--large .spectrum-Tabs-selectionIndicator {

  transition: transform 125ms ease-in-out;

  border-radius: 1px;
}
.spectrum--large .spectrum-Tabs--compact .spectrum-Tabs-item {
    height: 38px;
    line-height: 38px;
  }
.spectrum--large .spectrum-Tabs--compact .spectrum-Tabs-item .spectrum-Icon {
      height: 38px;
    }
.spectrum--large .spectrum-Tabs--horizontal {
  border-bottom: 2px solid;
}
.spectrum--large .spectrum-Tabs--horizontal .spectrum-Tabs-item + .spectrum-Tabs-item {
      margin-left: 30px;
    }
.spectrum--large .spectrum-Tabs--horizontal .spectrum-Tabs-selectionIndicator {
    height: 2px;

    bottom: -2px;
  }
.spectrum--large .spectrum-Tabs--vertical .spectrum-Tabs-item {
    margin-left: 2px;
  }
.spectrum--large .spectrum-Tabs--vertical .spectrum-Tabs-item::before {
      margin-top: -20px;
    }
.spectrum--large .spectrum-Tabs--vertical .spectrum-Tabs-selectionIndicator {
    left: -9px;
    width: 2px;
  }
.spectrum--large .spectrum-Steplist {
  padding-top: 22px;
  padding-left: 60px;
  padding-right: 60px;
}
.spectrum--large .spectrum-Steplist-item {

  width: 80px;
  padding: 0 40px 0 0;
}
.spectrum--large .spectrum-Steplist-item.is-complete + .spectrum-Steplist-item .spectrum-Steplist-segment {
      border-bottom-width: 2px;
    }
.spectrum--large .spectrum-Steplist-label {
  bottom: 10px;
  width: 120px;

  font-size: 12px;
}
.spectrum--large .spectrum-Steplist-markerContainer {

  width: 20px;
  height: 20px;

  margin-left: -10px;
}
.spectrum--large .spectrum-Steplist-marker {
  margin-top: -4px;
  margin-left: -4px;

  width: 8px;
  height: 8px;

  border-radius: 8px;
}
.spectrum--large .spectrum-Steplist-segment {
  right: 68px;
  width: 104px;
  bottom: -1px;
  border-bottom-width: 2px;
}
.spectrum--large .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    margin-right: -10px;
  }
.spectrum--large .spectrum-Steplist-item:last-child .spectrum-Steplist-segment {
    right: 8px;
  }
.spectrum--large .spectrum-Steplist-item:first-child,
.spectrum--large .spectrum-Steplist-item:last-child {
  width: 20px;
}
.spectrum--large .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    margin-left: -10px;
  }
.spectrum--large .spectrum-Steplist-tooltip {
  margin-top: -40px !important;
}
.spectrum--large .spectrum-ToggleSwitch {
  height: 40px;
  line-height: 40px;
}
.spectrum--large .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::after {
      transform: translateX(18px);
    }
.spectrum--large .spectrum-ToggleSwitch-label {
  margin: 0 13px;
  font-size: 17px;
}
.spectrum--large .spectrum-ToggleSwitch-switch {

  height: 18px;
  width: 36px;
}
.spectrum--large .spectrum-ToggleSwitch-switch::before {
    transition: background 125ms ease-in-out, border 125ms ease-in-out;

    height: 18px;

    border-radius: 9px;
  }
.spectrum--large .spectrum-ToggleSwitch-switch::after {
    transition: background 125ms ease-in-out, border 125ms ease-in-out, transform 125ms ease-in-out, box-shadow 125ms ease-in-out;

    width: 18px;
    height: 18px;

    border-width: 2px;
    border-radius: 9px;
  }
.spectrum--large .spectrum-SelectList-checkmark {

  width: 12px;
  height: 12px;
}
.spectrum--large .spectrum-SelectList-item {

  padding: 0 36px 0 12px;

  height: 32px;
  line-height: 32px;

  font-size: 17px;
  font-weight: 400;
}
.spectrum--large .spectrum-SelectList-divider {

  height: 2px;
  margin: 3px 12px;
}
.spectrum--large .spectrum-Dropdown .spectrum-Popover {
    margin-top: 8px;
  }
.spectrum--large .spectrum-Dropdown--quiet .spectrum-Popover {
    left: -15px;
  }
.spectrum--large .spectrum-Dropdown-trigger .spectrum-Dropdown-label {

    height: 38px;
    line-height: 38px;

    font-size: 17px
  }
.spectrum--large .spectrum-Dropdown-label + .spectrum-Dropdown-icon {
  margin-left: 15px;
}
.spectrum--large .spectrum-Dropdown-label ~ .spectrum-Dropdown-icon {
  margin-left: 15px;
}
.spectrum--large .spectrum-Dropdown-icon {

  width: 10px;
  height: 6px;
}
.spectrum--large .spectrum-Dropdown .spectrum-Icon:not(.spectrum-Dropdown-icon) {
    margin-left: 15px;
  }
.spectrum--large .spectrum-Icon + .spectrum-Dropdown-icon {
  margin-left: 10px;
}
.spectrum--large .spectrum-Popover {
  visibility: hidden;

  opacity: 0;

  transition: transform 125ms ease-in-out,
              opacity 125ms ease-in-out,
              visibility 0ms linear 125ms;

  pointer-events: none;
}
.spectrum--large .spectrum-Popover.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum--large .spectrum-Popover--bottom.is-open {
  transform: translateY(6px);
}
.spectrum--large .spectrum-Popover--top.is-open {
  transform: translateY(-6px);
}
.spectrum--large .spectrum-Popover--right.is-open {
  transform: translateX(6px);
}
.spectrum--large .spectrum-Popover--left.is-open {
  transform: translateX(-6px);
}
.spectrum--large .spectrum-Popover {

  min-width: 192px;
  min-height: 32px;
  border-width: 1px;
  border-radius: 5px;
}
.spectrum--large .spectrum-Popover .spectrum-SelectList {
    border-radius: 5px;
  }
.spectrum--large .spectrum-Popover-tip {
  width: 25px;
  height: 13.5px;
}
.spectrum--large .spectrum-Popover-tip::after {
    width: 25px;
    height: 25px;
    border-width: 1px;
  }
.spectrum--large .spectrum-Popover--dialog {
  min-width: 270px;
  padding: 30px 29px;
}
.spectrum--large .spectrum-Popover--left.spectrum-Popover--withTip {
    margin-right: 13px;
  }
.spectrum--large .spectrum-Popover--right.spectrum-Popover--withTip {
    margin-left: 13px;
  }
.spectrum--large .spectrum-Popover--bottom.spectrum-Popover--withTip {
    margin-top: 13px;
  }
.spectrum--large .spectrum-Popover--top.spectrum-Popover--withTip {
    margin-bottom: 13px;
  }
.spectrum--large .spectrum-SplitButton + .spectrum-SplitButton,
  .spectrum--large .spectrum-SplitButton + .spectrum-Button {
    margin-left: 12px;
  }
.spectrum--large .spectrum-Button + .spectrum-SplitButton {
  margin-left: 12px;
}
.spectrum--large .spectrum-SplitButton-action {
  border-radius: 20px 0 0 20px;
}
.spectrum--large .spectrum-SplitButton-action.spectrum-Button--cta {
    margin-right: 2px;
  }
.spectrum--large .spectrum-SplitButton-trigger {

  border-radius: 0 20px 20px 0;
  border-left-width: 0;
  padding-left: 8.00004px;
  padding-right: 10px
}
.spectrum--large .spectrum-SplitButton-icon {
  width: 10px;
  height: 6px;
}
.spectrum--large .spectrum-Accordion-indicator {
  width: 6px;
  height: 10px;
  left: 16px;
  top: 14.5px;

  transition: transform ease 125ms;
}
.spectrum--large .spectrum-Accordion-item {

  border-bottom: 1px solid transparent;
}
.spectrum--large .spectrum-Accordion-item:first-of-type {
    border-top: 1px solid transparent;
  }
.spectrum--large .spectrum-Accordion-header {
  padding: 0 16px 0 34px;

  height: 39px;

  font-size: 13px;
  line-height: 39px;
  letter-spacing: 0.6pt;
}
.spectrum--large .spectrum-Accordion-header:focus::after {
      top: -var(--spectrum-accordion-item-border-size);

      height: 40px;
      width: 2px;
    }
.spectrum--large .spectrum-Accordion-content {
  padding: 0 16px 16px 16px;
}
.spectrum--large .spectrum-Accordion-item.is-open .spectrum-Accordion-header::after {
      height: 39px;
    }
.spectrum--large .spectrum-Well {
  border-radius: 4px;
}
.spectrum--large .spectrum-FieldLabel,
.spectrum--large .spectrum-Form-itemLabel {

  min-width: 100px;

  margin: 0 0 6px;

  font-size: 12px;
  line-height: 12px;
}
.spectrum--large .spectrum-FieldLabel--left {
  padding: 10px 5px 0 0;
}
.spectrum--large .spectrum-FieldLabel--right {
  padding: 10px 8px 0 0;
}
.spectrum--large .spectrum-Form {
  border-spacing: 0 20px;
  margin: -20px 0;
}
.spectrum--large .spectrum-Search-input {
  padding-left: 36px;
  padding-right: 28px;
}
.spectrum--large .spectrum-Search-input.spectrum-Textfield--quiet {
    padding-left: 24px;
    padding-right: 20px
  }
.spectrum--large .spectrum-Search-icon {
  width: 16px;
  height: 40px;
}
.spectrum--large .spectrum-Stepper {

  width: 192px;
  border-radius: 4px;
  transition: border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
}
.spectrum--large .spectrum-Stepper-stepUp,
.spectrum--large .spectrum-Stepper-stepDown {

  height: 16px;
  width: 24px;

  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px 0 0 4px;
}
.spectrum--large .spectrum-Stepper-stepUp .spectrum-Icon, .spectrum--large .spectrum-Stepper-stepDown .spectrum-Icon {
    width: 8px;
    height: 6px;
  }
.spectrum--large .spectrum-Calendar-header {
  height: 32px;
}
.spectrum--large .spectrum-Calendar-heading {

  font-size: 22px;
  line-height: 32px;
  padding: 0 32px;
}
.spectrum--large .spectrum-Calendar-chevron {
  width: 12px;
  height: 16px;
}
.spectrum--large .spectrum-Calendar-dayOfWeek {
  bottom: 4px;

  width: 32px;

  font-size: 13px;
  font-weight: 500
}
.spectrum--large .spectrum-Calendar-tableCell {
  height: 32px;
  width: 32px;
  padding: 4px
}
.spectrum--large .spectrum-Calendar-date {

  height: 32px;
  width: 32px;
  margin: 4px;

  border-radius: 32px;
  border: 2px solid transparent;

  font-size: 17px;
  line-height: 28px;

  transition: background 125ms ease-in-out,
        color 125ms ease-in-out,
        border-color 125ms ease-in-out;
}
.spectrum--large .spectrum-Calendar-date:before {
    top: calc(50% - 16px);
    left: calc(50% - 16px);
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid transparent;
  }
.spectrum--large .spectrum-Calendar-date.is-selected:not(.is-range-selection) {
    font-weight: 700
  }
.spectrum--large .spectrum-Calendar-date.is-today {
    font-weight: 700;
  }
.spectrum--large .spectrum-Calendar-date.is-range-selection {
    margin: 4px 0;
    line-height: 32px;
    width: 40px;
  }
.spectrum--large .spectrum-Calendar-date.is-range-selection.is-range-start,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-range-end,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-start,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-end {
      width: 36px;
    }
.spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-start,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-end {
      font-weight: 700;
    }
.spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-start:after, .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-end:after {

        height: 32px;
        width: 32px;

        border-radius: 32px;
      }
.spectrum--large .spectrum-Calendar-date.is-range-selection.is-range-start,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-start {
      padding-right: 4px;
      margin-left: 4px;
      border-radius: 32px 0 0 32px
    }
.spectrum--large .spectrum-Calendar-date.is-range-selection.is-range-end,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-end {
      padding-left: 4px;
      margin-right: 4px;
      border-radius: 0 32px 32px 0
    }
.spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-start.is-selection-end,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-start.is-range-end,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-selection-end.is-range-start,
    .spectrum--large .spectrum-Calendar-date.is-range-selection.is-range-start.is-range-end {
      width: 32px;
      border-radius: 32px;
    }
.spectrum--large .spectrum-Table-sortedIcon {
  margin-left: 4px;

  width: 10px;
  height: 12px;

  transition: transform 125ms ease-in-out;
}
.spectrum--large .spectrum-Table-headCell {
  font-size: 13px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.06em;
  padding: 4px 16px;
  transition: color 125ms ease-in-out;
}
.spectrum--large .spectrum-Table-body {
  border-radius: 4px;
}
.spectrum--large .spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:first-child .spectrum-Table-cell:first-child {
      border-top-left-radius: 4px;
    }
.spectrum--large .spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:first-child .spectrum-Table-cell:last-child {
      border-top-right-radius: 4px;
    }
.spectrum--large .spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:last-child .spectrum-Table-cell:first-child {
      border-bottom-left-radius: 4px;
    }
.spectrum--large .spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:last-child .spectrum-Table-cell:last-child {
      border-bottom-right-radius: 4px;
    }
.spectrum--large .spectrum-Table-cell {
  font-size: 17px;
  line-height: 30px;
  padding: 12px 16px;
}
.spectrum--large .spectrum-Table-row {
  transition: background-color 125ms ease-in-out
}
.spectrum--large .spectrum-Rating-input {
  width: 120px;
  height: 16px;
}
.spectrum--large .spectrum-Rating-icon {
  width: 24px;
  height: 16px;
}
.spectrum--large .spectrum-Rating-starActive,
.spectrum--large .spectrum-Rating-starInactive {
  width: 16px;
  height: 16px;
}
.spectrum--large .spectrum-Tags-item {

  margin: 5px 5px;
  padding: 0 12px;
  height: 30px;

  border-width: 1px;
  border-radius: 4px;

  transition: border-color 125ms ease-in-out,
    color 125ms ease-in-out,
    box-shadow 125ms ease-in-out,
    background-color 125ms ease-in-out;
}
.spectrum--large .spectrum-Tags-item > .spectrum-Icon,
  .spectrum--large .spectrum-Tags-item > .spectrum-Avatar {
    margin-right: 10px;
    margin-left: -3px;
  }
.spectrum--large .spectrum-Tags-item > .spectrum-Icon ~ .spectrum-Tags-item-label, .spectrum--large .spectrum-Tags-item > .spectrum-Avatar ~ .spectrum-Tags-item-label {
      margin-right: -3px;
    }
.spectrum--large .spectrum-Tags-item .spectrum-ClearButton {
    margin-right: -13px;
  }
.spectrum--large .spectrum-Tags-item-label {
  line-height: 28px;
  font-size: 15px;
}
.spectrum--large .spectrum-SearchWithin {
  width: 250px;
}
.spectrum--large .spectrum-SearchWithin .spectrum-Dropdown-trigger {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
.spectrum--large .spectrum-SearchWithin .spectrum-Textfield {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
  }
.spectrum--large .spectrum-QuickActions {
  visibility: hidden;

  opacity: 0;

  transition: transform 125ms ease-in-out,
              opacity 125ms ease-in-out,
              visibility 0ms linear 125ms;

  pointer-events: none;
}
.spectrum--large .spectrum-QuickActions.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum--large .spectrum-QuickActions--left.is-open {
  transform: translateX(6px);
}
.spectrum--large .spectrum-QuickActions--right.is-open {
  transform: translateX(-6px);
}
.spectrum--large .spectrum-QuickActions-item {

  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-width: 1px;
  border-radius: 5px;
  transition: border-color 125ms ease-out,
    color 125ms ease-out,
    box-shadow 125ms ease-out
}
.spectrum--large .spectrum-MillerColumns {
  padding: 8px 0;
}
.spectrum--large .spectrum-MillerColumn {
  width: 272px;
  margin-right: 8px;
}
.spectrum--large .spectrum-MillerColumn:first-child {
    margin-left: 8px;
  }
.spectrum--large .spectrum-MillerColumn-childIndicator {
  width: 6px;
  height: 10px;
  transition: transform ease 125ms;
}
.spectrum--large .spectrum-MillerColumn-item {
  padding: 0 16px 0 16px;
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 400;
  height: 40px;
  border-radius: 4px;
  width: 272px;
  transition: background-color 125ms ease-in-out;
}
.spectrum--large .spectrum-MillerColumn-item .spectrum-MillerColumn-itemThumbnail {

    width: 24px;
    height: 24px;
    margin-left: 8px;
  }
.spectrum--large .spectrum-MillerColumn-itemLabel {
  padding-left: 8px;
}
.spectrum--large .spectrum-SplitView-gripper {
  border-radius: 2px;
  left: -4px;
  width: 4px;
  height: 16px;
  border-width: 4px 3px;
}
.spectrum--large .spectrum-SplitView-splitter {

  width: 2px;
}
.spectrum--large .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before, .spectrum--large .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
        left: calc(50% - 1px);
        width: 2px;
      }
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-gripper {
    top: -4px;
    width: 16px;
    height: 4px;
    border-width: 3px 4px;
  }
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter {
    height: 2px;
  }
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before, .spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
          top: calc(50% - 1px);
          height: 2px;
        }
.spectrum--large .spectrum-CycleButton {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px
}
.spectrum--large .spectrum-Pagination-input {
  width: 48px;
  min-width: 48px;
}
.spectrum--large .spectrum-Pagination-counter {
  height: 32px;
  line-height: 32px;
  margin-left: 5px;
}
.spectrum--large .spectrum-Pagination-directionButton {
  font-size: 15px;
}
.spectrum--large .spectrum-Pagination-pageButton {
  width: 32px;
  height: 32px;
  line-height: 26px;
  margin: 0 5px;
  border: 2px solid transparent;
  transition: background-color 125ms ease-in-out,
              color 125ms ease-in-out,
              border-color 125ms ease-in-out;
}
.spectrum--large .spectrum-Pagination-prevButton {
  border-radius: 20px 0 0 20px;
  padding-right: 6px;
  padding-left: 6px
}
.spectrum--large .spectrum-Pagination-nextButton {
  border-radius: 0 20px 20px 0;
}
.spectrum--large .spectrum-Pagination-nextButton.spectrum-Button--cta {
    margin-left: 2px !important;
  }
.spectrum--large .spectrum-Pagination-prevButton .spectrum-Icon, .spectrum--large .spectrum-Pagination-nextButton .spectrum-Icon {
    width: 7px;
    height: 10px;
  }
.spectrum--large .spectrum-Banner {
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 15px;
  line-height: 20px;
}
.spectrum--large .spectrum-Rule {
  border-width: 2px;
  border-radius: 2px;
}
.spectrum--large .spectrum-StatusLight {
  height: 40px;

  line-height: 40px;
  font-size: 17px;
  font-weight: 400;
}
.spectrum--large .spectrum-StatusLight::before {
    width: 10px;
    height: 10px;
    margin: 0 15px;
  }
.spectrum--large .spectrum-Shell {
  height: 48px
}
.spectrum--large .spectrum-Shell-logoIcon {
  height: 24px;
  width: 24px;
}
.spectrum--large .spectrum-Shell-avatar {
  width: 24px;
  height: 24px
}
.spectrum--large .spectrum-TreeView-link {

  padding: 12px 30px;
}
.spectrum--large .spectrum-TreeView-link .spectrum-Icon {
    margin-right: 10px;
  }
.spectrum--large .spectrum-TreeView-link::before {
    left: 2px;
    margin-top: -8px;

    height: 45px;

    border-radius: 5px;
  }
.spectrum--large .spectrum-TreeView-indicator {
  width: 6px;
  height: 10px;

  transition: transform ease 125ms;
}
.spectrum--large .spectrum-TreeView .spectrum-TreeView {

  padding-left: 35px;
}
.spectrum--large .spectrum-TreeView-item--indent1 {
  padding-left: 35px;
}
.spectrum--large .spectrum-TreeView-item--indent2 {
  padding-left: 70px;
}
.spectrum--large .spectrum-TreeView-item--indent3 {
  padding-left: 105px;
}
.spectrum--large .spectrum-TreeView-item--indent4 {
  padding-left: 140px;
}
.spectrum--large .spectrum-TreeView-item--indent5 {
  padding-left: 175px;
}
.spectrum--large .spectrum-TreeView-item--indent6 {
  padding-left: 210px;
}
.spectrum--large .spectrum-TreeView-item--indent7 {
  padding-left: 245px;
}
.spectrum--large .spectrum-TreeView-item--indent8 {
  padding-left: 280px;
}
.spectrum--large .spectrum-TreeView-item--indent9 {
  padding-left: 315px;
}
.spectrum--large .spectrum-TreeView-item--indent10 {
  padding-left: 350px;
}
