:root {
  --spectrum-global-dimension-scale-factor: 1.25;
  --spectrum-global-dimension-size-10: 1px;
  --spectrum-global-dimension-size-25: 2px;
  --spectrum-global-dimension-size-50: 5px;
  --spectrum-global-dimension-size-75: 8px;
  --spectrum-global-dimension-size-100: 10px;
  --spectrum-global-dimension-size-125: 13px;
  --spectrum-global-dimension-size-130: 14px;
  --spectrum-global-dimension-size-150: 15px;
  --spectrum-global-dimension-size-175: 18px;
  --spectrum-global-dimension-size-200: 20px;
  --spectrum-global-dimension-size-225: 22px;
  --spectrum-global-dimension-size-250: 25px;
  --spectrum-global-dimension-size-300: 30px;
  --spectrum-global-dimension-size-350: 35px;
  --spectrum-global-dimension-size-400: 40px;
  --spectrum-global-dimension-size-450: 45px;
  --spectrum-global-dimension-size-500: 50px;
  --spectrum-global-dimension-size-600: 60px;
  --spectrum-global-dimension-size-700: 70px;
  --spectrum-global-dimension-size-800: 80px;
  --spectrum-global-dimension-size-900: 112px;
  --spectrum-global-dimension-size-1200: 120px;
  --spectrum-global-dimension-size-1600: 160px;
  --spectrum-global-dimension-size-1700: 212px;
  --spectrum-global-dimension-size-2400: 240px;
  --spectrum-global-dimension-size-3400: 340px;
  --spectrum-global-dimension-size-3600: 360px;
  --spectrum-global-dimension-size-4600: 460px;
  --spectrum-global-dimension-size-6000: 600px;
  --spectrum-global-dimension-font-size-50: 13px;
  --spectrum-global-dimension-font-size-75: 15px;
  --spectrum-global-dimension-font-size-100: 17px;
  --spectrum-global-dimension-font-size-150: 18px;
  --spectrum-global-dimension-font-size-200: 19px;
  --spectrum-global-dimension-font-size-300: 22px;
  --spectrum-global-dimension-font-size-400: 25px;
  --spectrum-global-dimension-font-size-500: 28px;
  --spectrum-global-dimension-font-size-600: 32px;
  --spectrum-global-dimension-font-size-700: 36px;
  --spectrum-global-dimension-font-size-800: 40px;
  --spectrum-global-dimension-font-size-900: 45px;
  --spectrum-global-dimension-font-size-1000: 51px;
  --spectrum-alias-font-size-default: 17px;
  --spectrum-alias-line-height-small: 20px;
  --spectrum-alias-line-height-medium: 25px;
  --spectrum-alias-line-height-large: 30px;
  --spectrum-alias-line-height-xlarge: 40px;
  --spectrum-alias-line-height-xxlarge: 60px;
  --spectrum-alias-layout-label-gap-size: 10px;
  --spectrum-alias-pill-button-text-size: 18px;
  --spectrum-alias-pill-button-text-baseline: 14px;
  --spectrum-alias-border-radius-xsmall: 1px;
  --spectrum-alias-border-radius-small: 2px;
  --spectrum-alias-border-radius-regular: 5px;
  --spectrum-alias-border-radius-medium: 10px;
  --spectrum-alias-border-radius-large: 20px;
  --spectrum-alias-single-line-height: 40px;
  --spectrum-alias-single-line-width: 240px;
  --spectrum-accordion-item-height: 40px;
  --spectrum-accordion-item-padding: 16px;
  --spectrum-accordion-item-border-size: 1px;
  --spectrum-accordion-icon-spacing: 16px;
  --spectrum-accordion-icon-width: 6px;
  --spectrum-accordion-icon-height: 10px;
  --spectrum-accordion-item-title-text-size: 13px;
  --spectrum-accordion-item-title-tracking: 60pt;
  --spectrum-accordion-item-content-padding: 16px;
  --spectrum-accordion-item-border-size-key-focus: 2px;
  --spectrum-actionbutton-text-font-style: regular;
  --spectrum-actionbutton-text-font-weight: 400;
  --spectrum-actionbutton-text-size: 17px;
  --spectrum-actionbutton-text-line-height: 25px;
  --spectrum-actionbutton-text-baseline: 15px;
  --spectrum-actionbutton-height: 40px;
  --spectrum-actionbutton-min-width: 40px;
  --spectrum-actionbutton-border-radius: 5px;
  --spectrum-actionbutton-text-padding-x: 15px;
  --spectrum-actionbutton-icon-padding-x: 10px;
  --spectrum-actionbutton-icon-padding-y: 10px;
  --spectrum-actionbutton-hold-icon-padding-bottom: 5px;
  --spectrum-actionbutton-hold-icon-padding-right: 5px;
  --spectrum-actionbutton-hold-icon-size: 5px;
  --spectrum-actionbutton-border-size: 1px;
  --spectrum-actionbutton-touch-hit-x: 4px;
  --spectrum-actionbutton-touch-hit-y: 4px;
  --spectrum-actionbutton-border-size-key-focus: 2px;
  --spectrum-actionbutton-quiet-text-font-style: regular;
  --spectrum-actionbutton-quiet-text-font-weight: 400;
  --spectrum-actionbutton-quiet-text-size: 17px;
  --spectrum-actionbutton-quiet-text-line-height: 25px;
  --spectrum-actionbutton-quiet-text-baseline: 15px;
  --spectrum-actionbutton-quiet-height: 40px;
  --spectrum-actionbutton-quiet-min-width: 40px;
  --spectrum-actionbutton-quiet-border-radius: 5px;
  --spectrum-actionbutton-quiet-text-padding-x: 15px;
  --spectrum-actionbutton-quiet-icon-padding-x: 10px;
  --spectrum-actionbutton-quiet-icon-padding-y: 10px;
  --spectrum-actionbutton-quiet-hold-icon-padding-bottom: 5px;
  --spectrum-actionbutton-quiet-hold-icon-padding-right: 5px;
  --spectrum-actionbutton-quiet-hold-icon-size: 5px;
  --spectrum-actionbutton-quiet-border-size: 0;
  --spectrum-actionbutton-quiet-touch-hit-x: 4px;
  --spectrum-actionbutton-quiet-touch-hit-y: 4px;
  --spectrum-actionbutton-quiet-border-size-key-focus: 2px;
  --spectrum-actionbuttongroup-icon-button-gap-y: 10px;
  --spectrum-actionbuttongroup-icon-button-gap-x: 10px;
  --spectrum-actionbuttongroup-text-button-gap-y: 10px;
  --spectrum-actionbuttongroup-text-button-gap-x: 10px;
  --spectrum-alert-padding-x: 20px;
  --spectrum-alert-padding-y: 20px;
  --spectrum-alert-min-width: 368px;
  --spectrum-alert-content-margin-top: 8px;
  --spectrum-alert-error-padding-x: 20px;
  --spectrum-alert-error-padding-y: 20px;
  --spectrum-alert-error-min-width: 368px;
  --spectrum-alert-error-content-margin-top: 8px;
  --spectrum-alert-info-padding-x: 20px;
  --spectrum-alert-info-padding-y: 20px;
  --spectrum-alert-info-min-width: 368px;
  --spectrum-alert-info-content-margin-top: 8px;
  --spectrum-alert-success-padding-x: 20px;
  --spectrum-alert-success-padding-y: 20px;
  --spectrum-alert-success-min-width: 368px;
  --spectrum-alert-success-content-margin-top: 8px;
  --spectrum-alert-warning-padding-x: 20px;
  --spectrum-alert-warning-padding-y: 20px;
  --spectrum-alert-warning-min-width: 368px;
  --spectrum-alert-warning-content-margin-top: 8px;
  --spectrum-avatar-small-border-radius: 50%;
  --spectrum-avatar-small-width: 20px;
  --spectrum-avatar-small-height: 20px;
  --spectrum-banner-border-radius: 8px;
  --spectrum-banner-padding-y: 4px;
  --spectrum-banner-padding-x: 8px;
  --spectrum-banner-text-size: 15px;
  --spectrum-banner-text-line-height: 20px;
  --spectrum-breadcrumb-height: 32px;
  --spectrum-breadcrumb-text-size: 16px;
  --spectrum-breadcrumb-text-font-weight: 300;
  --spectrum-breadcrumb-text-line-height: 24px;
  --spectrum-breadcrumb-ui-icon-width: 5px;
  --spectrum-breadcrumb-ui-icon-height: 8px;
  --spectrum-breadcrumb-margin: 32px;
  --spectrum-breadcrumb-title-margin: 0.3em 0;
  --spectrum-breadcrumb-title-active-text-size: 28px;
  --spectrum-breadcrumb-title-active-text-font-weight: 300;
  --spectrum-breadcrumb-title-active-text-line-height: 32px;
  --spectrum-button-cta-height: 40px;
  --spectrum-button-cta-padding-x: 20px;
  --spectrum-button-cta-border-radius: 20px;
  --spectrum-button-cta-border-size: 2px;
  --spectrum-button-cta-text-font-weight: 700;
  --spectrum-button-cta-text-gap: 10px;
  --spectrum-button-cta-text-size: 18px;
  --spectrum-button-cta-text-baseline: 14px;
  --spectrum-button-cta-min-width: 90px;
  --spectrum-button-cta-touch-hit-x: 4px;
  --spectrum-button-cta-touch-hit-y: 4px;
  --spectrum-button-cta-border-size-increase-key-focus: 1px;
  --spectrum-button-over-background-height: 40px;
  --spectrum-button-over-background-padding-x: 20px;
  --spectrum-button-over-background-border-radius: 20px;
  --spectrum-button-over-background-border-size: 2px;
  --spectrum-button-over-background-text-font-weight: 700;
  --spectrum-button-over-background-text-gap: 10px;
  --spectrum-button-over-background-text-size: 18px;
  --spectrum-button-over-background-text-baseline: 14px;
  --spectrum-button-over-background-min-width: 90px;
  --spectrum-button-over-background-touch-hit-x: 4px;
  --spectrum-button-over-background-touch-hit-y: 4px;
  --spectrum-button-over-background-border-size-increase-key-focus: 1px;
  --spectrum-button-primary-height: 40px;
  --spectrum-button-primary-padding-x: 20px;
  --spectrum-button-primary-border-radius: 20px;
  --spectrum-button-primary-border-size: 2px;
  --spectrum-button-primary-text-font-weight: 700;
  --spectrum-button-primary-text-gap: 10px;
  --spectrum-button-primary-text-size: 18px;
  --spectrum-button-primary-text-baseline: 14px;
  --spectrum-button-primary-min-width: 90px;
  --spectrum-button-primary-touch-hit-x: 4px;
  --spectrum-button-primary-touch-hit-y: 4px;
  --spectrum-button-primary-border-size-increase-key-focus: 1px;
  --spectrum-button-quiet-over-background-height: 40px;
  --spectrum-button-quiet-over-background-padding-x: 20px;
  --spectrum-button-quiet-over-background-border-radius: 20px;
  --spectrum-button-quiet-over-background-border-size: 0;
  --spectrum-button-quiet-over-background-text-font-weight: 700;
  --spectrum-button-quiet-over-background-text-gap: 10px;
  --spectrum-button-quiet-over-background-text-size: 18px;
  --spectrum-button-quiet-over-background-text-baseline: 14px;
  --spectrum-button-quiet-over-background-min-width: 90px;
  --spectrum-button-quiet-over-background-touch-hit-x: 20px;
  --spectrum-button-quiet-over-background-touch-hit-y: 4px;
  --spectrum-button-quiet-over-background-cursor-hit-x: 20px;
  --spectrum-button-quiet-over-background-border-size-increase-key-focus: 1px;
  --spectrum-button-quiet-primary-height: 40px;
  --spectrum-button-quiet-primary-padding-x: 20px;
  --spectrum-button-quiet-primary-border-radius: 20px;
  --spectrum-button-quiet-primary-border-size: 0;
  --spectrum-button-quiet-primary-text-font-weight: 700;
  --spectrum-button-quiet-primary-text-gap: 10px;
  --spectrum-button-quiet-primary-text-size: 18px;
  --spectrum-button-quiet-primary-text-baseline: 14px;
  --spectrum-button-quiet-primary-min-width: 90px;
  --spectrum-button-quiet-primary-touch-hit-x: 20px;
  --spectrum-button-quiet-primary-touch-hit-y: 4px;
  --spectrum-button-quiet-primary-cursor-hit-x: 20px;
  --spectrum-button-quiet-primary-border-size-increase-key-focus: 1px;
  --spectrum-button-quiet-secondary-height: 40px;
  --spectrum-button-quiet-secondary-padding-x: 20px;
  --spectrum-button-quiet-secondary-border-radius: 20px;
  --spectrum-button-quiet-secondary-border-size: 0;
  --spectrum-button-quiet-secondary-text-font-weight: 700;
  --spectrum-button-quiet-secondary-text-gap: 10px;
  --spectrum-button-quiet-secondary-text-size: 18px;
  --spectrum-button-quiet-secondary-text-baseline: 14px;
  --spectrum-button-quiet-secondary-min-width: 90px;
  --spectrum-button-quiet-secondary-touch-hit-x: 20px;
  --spectrum-button-quiet-secondary-touch-hit-y: 4px;
  --spectrum-button-quiet-secondary-cursor-hit-x: 20px;
  --spectrum-button-quiet-secondary-border-size-increase-key-focus: 1px;
  --spectrum-button-quiet-warning-height: 40px;
  --spectrum-button-quiet-warning-padding-x: 20px;
  --spectrum-button-quiet-warning-border-radius: 20px;
  --spectrum-button-quiet-warning-border-size: 0;
  --spectrum-button-quiet-warning-text-font-weight: 700;
  --spectrum-button-quiet-warning-text-gap: 10px;
  --spectrum-button-quiet-warning-text-size: 18px;
  --spectrum-button-quiet-warning-text-baseline: 14px;
  --spectrum-button-quiet-warning-min-width: 90px;
  --spectrum-button-quiet-warning-touch-hit-x: 20px;
  --spectrum-button-quiet-warning-touch-hit-y: 4px;
  --spectrum-button-quiet-warning-cursor-hit-x: 20px;
  --spectrum-button-quiet-warning-border-size-increase-key-focus: 1px;
  --spectrum-button-secondary-height: 40px;
  --spectrum-button-secondary-padding-x: 20px;
  --spectrum-button-secondary-border-radius: 20px;
  --spectrum-button-secondary-border-size: 2px;
  --spectrum-button-secondary-text-font-weight: 700;
  --spectrum-button-secondary-text-gap: 10px;
  --spectrum-button-secondary-text-size: 18px;
  --spectrum-button-secondary-text-baseline: 14px;
  --spectrum-button-secondary-min-width: 90px;
  --spectrum-button-secondary-touch-hit-x: 4px;
  --spectrum-button-secondary-touch-hit-y: 4px;
  --spectrum-button-secondary-border-size-increase-key-focus: 1px;
  --spectrum-button-warning-height: 40px;
  --spectrum-button-warning-padding-x: 20px;
  --spectrum-button-warning-border-radius: 20px;
  --spectrum-button-warning-border-size: 2px;
  --spectrum-button-warning-text-font-weight: 700;
  --spectrum-button-warning-text-gap: 10px;
  --spectrum-button-warning-text-size: 18px;
  --spectrum-button-warning-text-baseline: 14px;
  --spectrum-button-warning-min-width: 90px;
  --spectrum-button-warning-touch-hit-x: 4px;
  --spectrum-button-warning-touch-hit-y: 4px;
  --spectrum-button-warning-border-size-increase-key-focus: 1px;
  --spectrum-buttongroup-button-gap-y: 16px;
  --spectrum-buttongroup-button-gap-x: 16px;
  --spectrum-calendar-day-width: 32px;
  --spectrum-calendar-day-height: 32px;
  --spectrum-calendar-day-padding: 4px;
  --spectrum-calendar-day-text-size: 17px;
  --spectrum-calendar-day-title-text-size: 13px;
  --spectrum-calendar-day-title-text-font-weight: 500;
  --spectrum-calendar-day-today-text-font-weight: 700;
  --spectrum-calendar-day-text-font-weight-selected: 700;
  --spectrum-calendar-day-text-font-weight-cap-selected: 700;
  --spectrum-calendar-day-border-size-key-focus: 2px;
  --spectrum-calendar-width: 250px;
  --spectrum-calendar-title-height: 32px;
  --spectrum-calendar-title-text-size: 22px;
  --spectrum-checkbox-text-font-style: regular;
  --spectrum-checkbox-text-font-weight: 400;
  --spectrum-checkbox-text-size: 17px;
  --spectrum-checkbox-text-line-height: 25px;
  --spectrum-checkbox-box-border-size: 2px;
  --spectrum-checkbox-box-border-radius: 2px;
  --spectrum-checkbox-checkmark-size: 12px;
  --spectrum-checkbox-box-size: 18px;
  --spectrum-checkbox-margin-bottom: 0;
  --spectrum-checkbox-height: 40px;
  --spectrum-checkbox-cursor-hit-x: 10px;
  --spectrum-checkbox-touch-hit-x: 10px;
  --spectrum-checkbox-touch-hit-y: 4px;
  --spectrum-checkbox-text-gap: 13px;
  --spectrum-checkbox-text-baseline: 15px;
  --spectrum-checkbox-box-border-size-key-focus: 3px;
  --spectrum-checkbox-text-gap-key-focus: 12px;
  --spectrum-checkbox-box-border-size-selected-key-focus: 3px;
  --spectrum-checkbox-box-border-size-indeterminate-key-focus: 3px;
  --spectrum-checkbox-box-border-size-error-key-focus: 3px;
  --spectrum-clearbutton-medium-icon-size: 10px;
  --spectrum-clearbutton-medium-width: 40px;
  --spectrum-clearbutton-medium-height: 40px;
  --spectrum-clearbutton-small-icon-size: 10px;
  --spectrum-clearbutton-small-width: 30px;
  --spectrum-clearbutton-small-height: 30px;
  --spectrum-combobox-textfield-border-top-right-radius: 0;
  --spectrum-combobox-textfield-border-bottom-right-radius: 0;
  --spectrum-combobox-fieldbutton-border-top-left-radius: 0;
  --spectrum-combobox-fieldbutton-border-bottom-left-radius: 0;
  --spectrum-cyclebutton-text-font-style: regular;
  --spectrum-cyclebutton-text-font-weight: 400;
  --spectrum-cyclebutton-text-size: 17px;
  --spectrum-cyclebutton-text-line-height: 25px;
  --spectrum-cyclebutton-text-baseline: 15px;
  --spectrum-cyclebutton-height: 40px;
  --spectrum-cyclebutton-min-width: 40px;
  --spectrum-cyclebutton-border-radius: 5px;
  --spectrum-cyclebutton-text-padding-x: 15px;
  --spectrum-cyclebutton-icon-padding-x: 10px;
  --spectrum-cyclebutton-icon-padding-y: 10px;
  --spectrum-cyclebutton-hold-icon-padding-bottom: 5px;
  --spectrum-cyclebutton-hold-icon-padding-right: 5px;
  --spectrum-cyclebutton-hold-icon-size: 5px;
  --spectrum-cyclebutton-border-size: 0;
  --spectrum-cyclebutton-touch-hit-x: 4px;
  --spectrum-cyclebutton-touch-hit-y: 4px;
  --spectrum-cyclebutton-border-size-key-focus: 2px;
  --spectrum-dial-container-width: 48px;
  --spectrum-dial-height: 32px;
  --spectrum-dial-width: 32px;
  --spectrum-dial-border-radius: 20px;
  --spectrum-dial-margin-right: 24px;
  --spectrum-dial-min-max-tick-angles: 45deg;
  --spectrum-dial-handle-marker-width: 12px;
  --spectrum-dial-handle-marker-height: 2px;
  --spectrum-dial-handle-marker-border-radius: 1px;
  --spectrum-dial-border-size-key-focus: 2px;
  --spectrum-dial-small-height: 24px;
  --spectrum-dial-small-width: 24px;
  --spectrum-dial-small-border-radius: 20px;
  --spectrum-dial-small-margin-right: 24px;
  --spectrum-dial-small-min-max-tick-angles: 45deg;
  --spectrum-dial-small-handle-marker-width: 12px;
  --spectrum-dial-small-handle-marker-height: 2px;
  --spectrum-dial-small-handle-marker-border-radius: 1px;
  --spectrum-dial-small-border-size-key-focus: 2px;
  --spectrum-dialog-width: 90%;
  --spectrum-dialog-min-width: 288px;
  --spectrum-dialog-max-width: 400px;
  --spectrum-dialog-icon-margin-left: 24px;
  --spectrum-dialog-rule-height: 2px;
  --spectrum-dialog-rule-margin-top: 12px;
  --spectrum-dialog-rule-margin-bottom: 16px;
  --spectrum-dialog-rule-border-radius: 1px;
  --spectrum-dialog-title-text-size: 18px;
  --spectrum-dialog-title-text-line-height: 30px;
  --spectrum-dialog-title-text-font-weight: 700;
  --spectrum-dialog-content-text-size: 14px;
  --spectrum-dialog-content-text-font-weight: 400;
  --spectrum-dialog-padding: 24px;
  --spectrum-dialog-border-radius: 5px;
  --spectrum-dialog-content-margin-bottom: 40px;
  --spectrum-dialog-icon-height: 22px;
  --spectrum-dialog-icon-width: 22px;
  --spectrum-dialog-button-gap: 16px;
  --spectrum-dialog-content-text-line-height: 25px;
  --spectrum-dropdown-placeholder-text-font-style: italic;
  --spectrum-dropdown-placeholder-text-font-weight: 400;
  --spectrum-dropdown-placeholder-text-size: 17px;
  --spectrum-dropdown-text-font-style: regular;
  --spectrum-dropdown-text-font-weight: 400;
  --spectrum-dropdown-text-size: 17px;
  --spectrum-dropdown-text-line-height: 25px;
  --spectrum-dropdown-border-size: 1px;
  --spectrum-dropdown-border-size-focus: 2px;
  --spectrum-dropdown-ui-icon-height: 6px;
  --spectrum-dropdown-ui-icon-width: 10px;
  --spectrum-dropdown-height: 40px;
  --spectrum-dropdown-min-width: 60px;
  --spectrum-dropdown-padding-x: 15px;
  --spectrum-dropdown-border-radius: 5px;
  --spectrum-dropdown-affixed-border-radius: 0;
  --spectrum-dropdown-label-gap-x: 10px;
  --spectrum-dropdown-label-gap-y: 10px;
  --spectrum-dropdown-asterisk-size: 10px;
  --spectrum-dropdown-asterisk-gap: 5px;
  --spectrum-dropdown-text-baseline: 15px;
  --spectrum-dropdown-icon-gap: 10px;
  --spectrum-dropdown-icon-margin-left: 15px;
  --spectrum-dropdown-flyout-menu-offset-y: 8px;
  --spectrum-dropdown-flyout-menu-offset-x: 0px;
  --spectrum-dropdown-touch-hit-x: 4px;
  --spectrum-dropdown-touch-hit-y: 4px;
  --spectrum-dropdown-border-size-key-focus: 2px;
  --spectrum-dropdown-quiet-placeholder-text-font-style: italic;
  --spectrum-dropdown-quiet-placeholder-text-font-weight: 400;
  --spectrum-dropdown-quiet-placeholder-text-size: 17px;
  --spectrum-dropdown-quiet-text-font-style: regular;
  --spectrum-dropdown-quiet-text-font-weight: 400;
  --spectrum-dropdown-quiet-text-size: 17px;
  --spectrum-dropdown-quiet-text-line-height: 25px;
  --spectrum-dropdown-quiet-border-size: 1px;
  --spectrum-dropdown-quiet-border-size-focus: 2px;
  --spectrum-dropdown-quiet-ui-icon-height: 6px;
  --spectrum-dropdown-quiet-ui-icon-width: 10px;
  --spectrum-dropdown-quiet-height: 40px;
  --spectrum-dropdown-quiet-min-width: 60px;
  --spectrum-dropdown-quiet-padding-x: 15px;
  --spectrum-dropdown-quiet-border-radius: 0px;
  --spectrum-dropdown-quiet-affixed-border-radius: 0;
  --spectrum-dropdown-quiet-label-gap-x: 10px;
  --spectrum-dropdown-quiet-label-gap-y: 10px;
  --spectrum-dropdown-quiet-asterisk-size: 10px;
  --spectrum-dropdown-quiet-asterisk-gap: 5px;
  --spectrum-dropdown-quiet-text-baseline: 15px;
  --spectrum-dropdown-quiet-icon-gap: 10px;
  --spectrum-dropdown-quiet-icon-margin-left: 15px;
  --spectrum-dropdown-quiet-affixed-border-size: 1px;
  --spectrum-dropdown-quiet-cursor-hit-x: 40px;
  --spectrum-dropdown-quiet-touch-hit-x: 40px;
  --spectrum-dropdown-quiet-touch-hit-y: 4px;
  --spectrum-dropdown-quiet-flyout-menu-offset-x: 15px;
  --spectrum-dropdown-quiet-flyout-menu-offset-y: 0px;
  --spectrum-dropdown-quiet-border-size-key-focus: 2px;
  --spectrum-fieldbutton-placeholder-text-font-style: italic;
  --spectrum-fieldbutton-placeholder-text-font-weight: 400;
  --spectrum-fieldbutton-placeholder-text-size: 17px;
  --spectrum-fieldbutton-text-font-style: regular;
  --spectrum-fieldbutton-text-font-weight: 400;
  --spectrum-fieldbutton-text-size: 17px;
  --spectrum-fieldbutton-text-line-height: 25px;
  --spectrum-fieldbutton-border-size: 1px;
  --spectrum-fieldbutton-border-size-focus: 2px;
  --spectrum-fieldbutton-ui-icon-height: 6px;
  --spectrum-fieldbutton-ui-icon-width: 10px;
  --spectrum-fieldbutton-height: 40px;
  --spectrum-fieldbutton-min-width: 40px;
  --spectrum-fieldbutton-padding-x: 15px;
  --spectrum-fieldbutton-border-radius: 5px;
  --spectrum-fieldbutton-affixed-border-radius: 0;
  --spectrum-fieldbutton-label-gap-x: 10px;
  --spectrum-fieldbutton-label-gap-y: 10px;
  --spectrum-fieldbutton-asterisk-size: 10px;
  --spectrum-fieldbutton-asterisk-gap: 5px;
  --spectrum-fieldbutton-text-baseline: 15px;
  --spectrum-fieldbutton-icon-gap: 10px;
  --spectrum-fieldbutton-icon-margin-left: 15px;
  --spectrum-fieldbutton-border-size-key-focus: 2px;
  --spectrum-fieldbutton-quiet-placeholder-text-font-style: italic;
  --spectrum-fieldbutton-quiet-placeholder-text-font-weight: 400;
  --spectrum-fieldbutton-quiet-placeholder-text-size: 17px;
  --spectrum-fieldbutton-quiet-text-font-style: regular;
  --spectrum-fieldbutton-quiet-text-font-weight: 400;
  --spectrum-fieldbutton-quiet-text-size: 17px;
  --spectrum-fieldbutton-quiet-text-line-height: 25px;
  --spectrum-fieldbutton-quiet-border-size: 1px;
  --spectrum-fieldbutton-quiet-border-size-focus: 2px;
  --spectrum-fieldbutton-quiet-ui-icon-height: 6px;
  --spectrum-fieldbutton-quiet-ui-icon-width: 10px;
  --spectrum-fieldbutton-quiet-height: 40px;
  --spectrum-fieldbutton-quiet-min-width: 40px;
  --spectrum-fieldbutton-quiet-padding-x: 15px;
  --spectrum-fieldbutton-quiet-border-radius: 0px;
  --spectrum-fieldbutton-quiet-affixed-border-radius: 0;
  --spectrum-fieldbutton-quiet-label-gap-x: 10px;
  --spectrum-fieldbutton-quiet-label-gap-y: 10px;
  --spectrum-fieldbutton-quiet-asterisk-size: 10px;
  --spectrum-fieldbutton-quiet-asterisk-gap: 5px;
  --spectrum-fieldbutton-quiet-text-baseline: 15px;
  --spectrum-fieldbutton-quiet-icon-gap: 10px;
  --spectrum-fieldbutton-quiet-icon-margin-left: 15px;
  --spectrum-fieldbutton-quiet-affixed-border-size: 1px;
  --spectrum-fieldbutton-quiet-border-size-key-focus: 2px;
  --spectrum-flyout-padding-x: 0px;
  --spectrum-flyout-padding-y: 5px;
  --spectrum-label-text-font-weight: 400;
  --spectrum-label-text-size: 15px;
  --spectrum-label-text-line-height: 20px;
  --spectrum-label-large-text-font-weight: 400;
  --spectrum-label-large-text-size: 19px;
  --spectrum-label-large-text-line-height: 30px;
  --spectrum-link-text-font-style: regular;
  --spectrum-link-text-font-weight: 400;
  --spectrum-link-text-size: 17px;
  --spectrum-link-text-line-height: 25px;
  --spectrum-link-underline-gap: 1px;
  --spectrum-link-underline-size: 1px;
  --spectrum-link-over-background-underline-gap: 1px;
  --spectrum-link-over-background-underline-size: 1px;
  --spectrum-loader-bar-large-height: 8px;
  --spectrum-loader-bar-large-border-radius: 4px;
  --spectrum-loader-bar-large-fill-border-radius: 0;
  --spectrum-loader-bar-large-label-gap-y: 15px;
  --spectrum-loader-bar-large-over-background-height: 8px;
  --spectrum-loader-bar-large-over-background-border-radius: 4px;
  --spectrum-loader-bar-large-over-background-fill-border-radius: 0;
  --spectrum-loader-bar-large-over-background-label-gap-y: 15px;
  --spectrum-loader-bar-small-height: 5px;
  --spectrum-loader-bar-small-border-radius: 3px;
  --spectrum-loader-bar-small-fill-border-radius: 0;
  --spectrum-loader-bar-small-label-gap-y: 15px;
  --spectrum-loader-bar-small-over-background-height: 5px;
  --spectrum-loader-bar-small-over-background-border-radius: 3px;
  --spectrum-loader-bar-small-over-background-fill-border-radius: 0;
  --spectrum-loader-bar-small-over-background-label-gap-y: 15px;
  --spectrum-loader-circle-large-height: 80px;
  --spectrum-loader-circle-large-width: 80px;
  --spectrum-loader-circle-large-border-size: 5px;
  --spectrum-loader-circle-large-over-background-height: 80px;
  --spectrum-loader-circle-large-over-background-width: 80px;
  --spectrum-loader-circle-large-over-background-border-size: 5px;
  --spectrum-loader-circle-medium-height: 32px;
  --spectrum-loader-circle-medium-width: 32px;
  --spectrum-loader-circle-medium-border-size: 4px;
  --spectrum-loader-circle-medium-over-background-height: 32px;
  --spectrum-loader-circle-medium-over-background-width: 32px;
  --spectrum-loader-circle-medium-over-background-border-size: 4px;
  --spectrum-loader-circle-small-height: 16px;
  --spectrum-loader-circle-small-width: 16px;
  --spectrum-loader-circle-small-border-size: 3px;
  --spectrum-loader-circle-small-over-background-height: 16px;
  --spectrum-loader-circle-small-over-background-width: 16px;
  --spectrum-loader-circle-small-over-background-border-size: 3px;
  --spectrum-logicbutton-and-border-size: 2px;
  --spectrum-logicbutton-and-border-radius: 5px;
  --spectrum-logicbutton-and-text-size: 17px;
  --spectrum-logicbutton-and-text-font-weight: 700;
  --spectrum-logicbutton-and-height: 24px;
  --spectrum-logicbutton-and-padding-x: 10px;
  --spectrum-logicbutton-or-border-size: 2px;
  --spectrum-logicbutton-or-border-radius: 5px;
  --spectrum-logicbutton-or-text-size: 17px;
  --spectrum-logicbutton-or-text-font-weight: 700;
  --spectrum-logicbutton-or-height: 24px;
  --spectrum-logicbutton-or-padding-x: 10px;
  --spectrum-meter-large-height: 8px;
  --spectrum-meter-large-border-radius: 4px;
  --spectrum-meter-large-fill-border-radius: 0;
  --spectrum-meter-large-label-gap-y: 15px;
  --spectrum-meter-small-height: 5px;
  --spectrum-meter-small-border-radius: 3px;
  --spectrum-meter-small-fill-border-radius: 0;
  --spectrum-meter-small-label-gap-y: 15px;
  --spectrum-miller-column-item-height: 40px;
  --spectrum-miller-column-ui-icon-height: 12px;
  --spectrum-miller-column-thumbnail-width: 24px;
  --spectrum-miller-column-thumbnail-height: 24px;
  --spectrum-miller-column-thumbnail-margin-left: 8px;
  --spectrum-miller-column-item-label-padding-left: 8px;
  --spectrum-miller-column-item-margin-bottom: 4px;
  --spectrum-miller-column-width: 272px;
  --spectrum-miller-column-item-border-radius: 4px;
  --spectrum-miller-column-item-padding-left: 16px;
  --spectrum-miller-column-item-padding-right: 16px;
  --spectrum-pagination-textfield-width: 48px;
  --spectrum-pagination-counter-height: 32px;
  --spectrum-pagination-counter-margin-left: 5px;
  --spectrum-pagination-direction-button-text-size: 15px;
  --spectrum-pagination-page-button-width: 32px;
  --spectrum-pagination-page-button-line-height: 26px;
  --spectrum-pagination-page-button-margin-horizontal: 5px;
  --spectrum-pagination-page-button-border-size: 2px;
  --spectrum-popover-border-size: 1px;
  --spectrum-popover-border-radius: 5px;
  --spectrum-popover-shadow-blur: 5px;
  --spectrum-popover-shadow-offset-y: 1px;
  --spectrum-popover-padding-x: 0px;
  --spectrum-popover-padding-y: 0px;
  --spectrum-popover-tip-width: 25px;
  --spectrum-popover-tip-height: 13px;
  --spectrum-popover-shadow-y-offset: 1px;
  --spectrum-popover-source-gap: 8px;
  --spectrum-quickactions-icon-button-gap-y: 10px;
  --spectrum-quickactions-icon-button-gap-x: 10px;
  --spectrum-quickactions-text-button-gap-y: 5px;
  --spectrum-quickactions-text-button-gap-x: 5px;
  --spectrum-quickactions-padding-x: 5px;
  --spectrum-quickactions-padding-y: 5px;
  --spectrum-quickactions-border-radius: 5px;
  --spectrum-quickactions-height: 40px;
  --spectrum-radio-text-font-style: regular;
  --spectrum-radio-text-font-weight: 400;
  --spectrum-radio-text-size: 17px;
  --spectrum-radio-text-line-height: 25px;
  --spectrum-radio-text-gap: 13px;
  --spectrum-radio-circle-dot-size: 4px;
  --spectrum-radio-circle-border-size: 2px;
  --spectrum-radio-circle-diameter: 18px;
  --spectrum-radio-height: 40px;
  --spectrum-radio-margin-bottom: 8px;
  --spectrum-radio-text-baseline: 15px;
  --spectrum-radio-cursor-hit-x: 10px;
  --spectrum-radio-touch-hit-x: 10px;
  --spectrum-radio-touch-hit-y: 4px;
  --spectrum-radio-text-gap-key-focus: 12px;
  --spectrum-rail-content-width: 304px;
  --spectrum-rail-handle-width: 2px;
  --spectrum-rail-gripper-width: 4px;
  --spectrum-rail-gripper-height: 16px;
  --spectrum-rail-gripper-border-width-vertical: 4px;
  --spectrum-rail-gripper-border-width-horizontal: 3px;
  --spectrum-rail-gripper-border-radius: 2px;
  --spectrum-rule-large-height: 4px;
  --spectrum-rule-large-border-radius: 2px;
  --spectrum-rule-medium-height: 2px;
  --spectrum-rule-medium-border-radius: 1px;
  --spectrum-rule-small-height: 1px;
  --spectrum-rule-small-border-radius: 1px;
  --spectrum-search-placeholder-text-font-style: italic;
  --spectrum-search-placeholder-text-font-weight: 400;
  --spectrum-search-placeholder-text-size: 17px;
  --spectrum-search-text-font-style: regular;
  --spectrum-search-text-font-weight: 400;
  --spectrum-search-text-size: 17px;
  --spectrum-search-text-line-height: 25px;
  --spectrum-search-height: 40px;
  --spectrum-search-min-width: 112px;
  --spectrum-search-padding-x: 15px;
  --spectrum-search-padding-top: 6px;
  --spectrum-search-padding-bottom: 9px;
  --spectrum-search-border-radius: 5px;
  --spectrum-search-label-gap-x: 10px;
  --spectrum-search-label-gap-y: 10px;
  --spectrum-search-label-padding-top: 10px;
  --spectrum-search-label-padding-bottom: 15px;
  --spectrum-search-counter-gap: 10px;
  --spectrum-search-asterisk-size: 10px;
  --spectrum-search-asterisk-gap: 5px;
  --spectrum-search-touch-hit-x: 4px;
  --spectrum-search-touch-hit-y: 4px;
  --spectrum-search-text-baseline: 15px;
  --spectrum-search-icon-frame: 40px;
  --spectrum-search-cursor-hit-x: 5px;
  --spectrum-search-icon-margin-left: 15px;
  --spectrum-search-padding-left: 36px;
  --spectrum-search-padding-right: 28px;
  --spectrum-search-icon-width: 16px;
  --spectrum-search-border-size: 1px;
  --spectrum-search-border-size-key-focus: 2px;
  --spectrum-search-border-size-mouse-focus: 1px;
  --spectrum-search-quiet-placeholder-text-font-style: italic;
  --spectrum-search-quiet-placeholder-text-font-weight: 400;
  --spectrum-search-quiet-placeholder-text-size: 17px;
  --spectrum-search-quiet-text-font-style: regular;
  --spectrum-search-quiet-text-font-weight: 400;
  --spectrum-search-quiet-text-size: 17px;
  --spectrum-search-quiet-text-line-height: 25px;
  --spectrum-search-quiet-height: 40px;
  --spectrum-search-quiet-min-width: 112px;
  --spectrum-search-quiet-padding-x: 0;
  --spectrum-search-quiet-padding-top: 6px;
  --spectrum-search-quiet-padding-bottom: 9px;
  --spectrum-search-quiet-border-radius: 5px;
  --spectrum-search-quiet-label-gap-x: 15px;
  --spectrum-search-quiet-label-gap-y: 0;
  --spectrum-search-quiet-label-padding-top: 10px;
  --spectrum-search-quiet-label-padding-bottom: 15px;
  --spectrum-search-quiet-counter-gap: 10px;
  --spectrum-search-quiet-asterisk-size: 10px;
  --spectrum-search-quiet-asterisk-gap: 5px;
  --spectrum-search-quiet-touch-hit-x: 4px;
  --spectrum-search-quiet-touch-hit-y: 4px;
  --spectrum-search-quiet-text-baseline: 15px;
  --spectrum-search-quiet-icon-frame: 40px;
  --spectrum-search-quiet-cursor-hit-x: 5px;
  --spectrum-search-quiet-icon-margin-left: 15px;
  --spectrum-search-quiet-border-size: 1px;
  --spectrum-search-quiet-affixed-border-size: 1px;
  --spectrum-search-quiet-padding-left: 24px;
  --spectrum-search-quiet-padding-right: 20px;
  --spectrum-search-quiet-border-size-key-focus: 2px;
  --spectrum-search-quiet-border-size-mouse-focus: 1px;
  --spectrum-searchwithin-padding-left: 36px;
  --spectrum-searchwithin-padding-right: 28px;
  --spectrum-searchwithin-icon-width: 16px;
  --spectrum-selectlist-divider-size: 2px;
  --spectrum-selectlist-divider-padding: 3px;
  --spectrum-selectlist-option-text-size: 17px;
  --spectrum-selectlist-option-padding: 12px;
  --spectrum-selectlist-option-icon-height: 12px;
  --spectrum-selectlist-option-icon-width: 12px;
  --spectrum-selectlist-option-text-font-weight: 400;
  --spectrum-selectlist-option-text-font-style: regular;
  --spectrum-selectlist-option-focus-border-size: 2px;
  --spectrum-selectlist-padding-left: 15px;
  --spectrum-selectlist-padding-right: 45px;
  --spectrum-selectlist-option-icon-padding-x: 15px;
  --spectrum-selectlist-option-icon-padding-y: 16px;
  --spectrum-selectlist-option-height: 48px;
  --spectrum-selectlist-option-baseline: 12px;
  --spectrum-selectlist-border-size-key-focus: 2px;
  --spectrum-selectlist-option-border-size-key-focus: 2px;
  --spectrum-slider-color-handle-outset-border-size: 1px;
  --spectrum-slider-color-handle-inset-border-size: 1px;
  --spectrum-slider-color-track-height: 24px;
  --spectrum-slider-color-track-border-size: 1px;
  --spectrum-slider-track-border-radius: 1px;
  --spectrum-slider-track-height: 2px;
  --spectrum-slider-handle-border-size: 2px;
  --spectrum-slider-handle-gap: 4px;
  --spectrum-slider-label-text-alignment: left;
  --spectrum-slider-animation-duration: 130ms;
  --spectrum-slider-animation-ease: (.45, 0, .40, 1);
  --spectrum-slider-handle-width: 20px;
  --spectrum-slider-handle-height: 20px;
  --spectrum-slider-handle-border-radius: 10px;
  --spectrum-slider-height: 40px;
  --spectrum-slider-min-width: 160px;
  --spectrum-slider-label-gap-y: 0px;
  --spectrum-slider-label-gap-x: 20px;
  --spectrum-slider-text-baseline: 15px;
  --spectrum-slider-track-cursor-hit-x: 10px;
  --spectrum-slider-track-cursor-hit-y: 20px;
  --spectrum-slider-hot-text-cursor-hit-y: 10px;
  --spectrum-slider-track-touch-hit-x: 10px;
  --spectrum-slider-track-touch-hit-y: 4px;
  --spectrum-slider-medium-handle-touch-hit-x: 16px;
  --spectrum-slider-large-handle-touch-hit-x: 14px;
  --spectrum-slider-medium-handle-touch-hit-y: 16px;
  --spectrum-slider-large-handle-touch-hit-y: 14px;
  --spectrum-slider-radial-reaction-size: 44px;
  --spectrum-slider-handle-border-size-down: 8px;
  --spectrum-slider-handle-border-size-key-focus: 10px;
  --spectrum-slider-fill-track-border-radius: 1px;
  --spectrum-slider-fill-track-height: 2px;
  --spectrum-slider-fill-handle-border-size: 2px;
  --spectrum-slider-fill-handle-gap: 4px;
  --spectrum-slider-fill-label-text-alignment: left;
  --spectrum-slider-fill-animation-duration: 130ms;
  --spectrum-slider-fill-animation-ease: (.45, 0, .40, 1);
  --spectrum-slider-fill-handle-width: 20px;
  --spectrum-slider-fill-handle-height: 20px;
  --spectrum-slider-fill-handle-border-radius: 10px;
  --spectrum-slider-fill-height: 40px;
  --spectrum-slider-fill-min-width: 160px;
  --spectrum-slider-fill-label-gap-y: 0px;
  --spectrum-slider-fill-label-gap-x: 20px;
  --spectrum-slider-fill-text-baseline: 15px;
  --spectrum-slider-fill-track-cursor-hit-x: 10px;
  --spectrum-slider-fill-track-cursor-hit-y: 20px;
  --spectrum-slider-fill-hot-text-cursor-hit-y: 10px;
  --spectrum-slider-fill-track-touch-hit-x: 10px;
  --spectrum-slider-fill-track-touch-hit-y: 4px;
  --spectrum-slider-fill-medium-handle-touch-hit-x: 16px;
  --spectrum-slider-fill-large-handle-touch-hit-x: 14px;
  --spectrum-slider-fill-medium-handle-touch-hit-y: 16px;
  --spectrum-slider-fill-large-handle-touch-hit-y: 14px;
  --spectrum-slider-fill-radial-reaction-size: 44px;
  --spectrum-slider-fill-handle-border-size-down: 8px;
  --spectrum-slider-fill-handle-border-size-key-focus: 10px;
  --spectrum-slider-ramp-track-height: 16px;
  --spectrum-slider-tick-mark-margin-x: 1px;
  --spectrum-slider-tick-mark-height: 10px;
  --spectrum-slider-tick-mark-width: 2px;
  --spectrum-slider-tick-mark-border-radius: 1px;
  --spectrum-splitbutton-icon-width: 10px;
  --spectrum-statuslight-text-font-style: regular;
  --spectrum-statuslight-text-font-weight: 400;
  --spectrum-statuslight-text-size: 17px;
  --spectrum-statuslight-text-line-height: 25px;
  --spectrum-statuslight-height: 40px;
  --spectrum-statuslight-text-gap: 15px;
  --spectrum-statuslight-dot-size: 10px;
  --spectrum-statuslight-info-text-font-style: regular;
  --spectrum-statuslight-info-text-font-weight: 400;
  --spectrum-statuslight-info-text-size: 17px;
  --spectrum-statuslight-info-text-line-height: 25px;
  --spectrum-statuslight-info-height: 40px;
  --spectrum-statuslight-info-text-gap: 15px;
  --spectrum-statuslight-info-dot-size: 10px;
  --spectrum-statuslight-negative-text-font-style: regular;
  --spectrum-statuslight-negative-text-font-weight: 400;
  --spectrum-statuslight-negative-text-size: 17px;
  --spectrum-statuslight-negative-text-line-height: 25px;
  --spectrum-statuslight-negative-height: 40px;
  --spectrum-statuslight-negative-text-gap: 15px;
  --spectrum-statuslight-negative-dot-size: 10px;
  --spectrum-statuslight-neutral-text-font-style: italic;
  --spectrum-statuslight-neutral-text-font-weight: 400;
  --spectrum-statuslight-neutral-text-size: 17px;
  --spectrum-statuslight-neutral-text-line-height: 25px;
  --spectrum-statuslight-neutral-height: 40px;
  --spectrum-statuslight-neutral-text-gap: 15px;
  --spectrum-statuslight-neutral-dot-size: 10px;
  --spectrum-statuslight-neutral-text-color: rgb(118, 118, 118);
  --spectrum-statuslight-notice-text-font-style: regular;
  --spectrum-statuslight-notice-text-font-weight: 400;
  --spectrum-statuslight-notice-text-size: 17px;
  --spectrum-statuslight-notice-text-line-height: 25px;
  --spectrum-statuslight-notice-height: 40px;
  --spectrum-statuslight-notice-text-gap: 15px;
  --spectrum-statuslight-notice-dot-size: 10px;
  --spectrum-statuslight-positive-text-font-style: regular;
  --spectrum-statuslight-positive-text-font-weight: 400;
  --spectrum-statuslight-positive-text-size: 17px;
  --spectrum-statuslight-positive-text-line-height: 25px;
  --spectrum-statuslight-positive-height: 40px;
  --spectrum-statuslight-positive-text-gap: 15px;
  --spectrum-statuslight-positive-dot-size: 10px;
  --spectrum-switch-handle-border-size: 2px;
  --spectrum-switch-text-font-weight: 400;
  --spectrum-switch-track-width: 36px;
  --spectrum-switch-handle-size: 18px;
  --spectrum-switch-text-gap: 13px;
  --spectrum-switch-text-size: 17px;
  --spectrum-switch-track-height: 18px;
  --spectrum-switch-handle-border-radius: 9px;
  --spectrum-switch-height: 40px;
  --spectrum-switch-text-baseline: 15px;
  --spectrum-switch-cursor-hit-x: 10px;
  --spectrum-switch-touch-hit-x: 10px;
  --spectrum-switch-touch-hit-y: 4px;
  --spectrum-switch-handle-border-size-key-focus: 3px;
  --spectrum-table-cell-padding: 16px;
  --spectrum-table-header-text-size: 13px;
  --spectrum-table-header-text-font-weight: 700;
  --spectrum-table-header-text-letter-spacing: 0.06em;
  --spectrum-table-header-height: 12px;
  --spectrum-table-header-padding-y: 4px;
  --spectrum-table-header-sort-icon-width: 10px;
  --spectrum-table-header-sort-icon-height: 12px;
  --spectrum-table-header-sort-icon-margin-left: 4px;
  --spectrum-table-cell-text-size: 17px;
  --spectrum-table-cell-line-height: 30px;
  --spectrum-table-cell-padding-vertical: 12px;
  --spectrum-tabs-compact-text-font-style: regular;
  --spectrum-tabs-compact-text-font-weight: 400;
  --spectrum-tabs-compact-text-size: 17px;
  --spectrum-tabs-compact-text-line-height: 25px;
  --spectrum-tabs-compact-padding-x: 0px;
  --spectrum-tabs-compact-baseline: 15px;
  --spectrum-tabs-compact-item-gap: 30px;
  --spectrum-tabs-compact-height: 40px;
  --spectrum-tabs-compact-rule-height: 2px;
  --spectrum-tabs-compact-rule-border-radius: 1px;
  --spectrum-tabs-compact-focus-ring-height: 40px;
  --spectrum-tabs-compact-focus-ring-size: 2px;
  --spectrum-tabs-compact-focus-ring-padding-x: 11px;
  --spectrum-tabs-compact-focus-ring-border-radius: 6px;
  --spectrum-tabs-text-font-style: regular;
  --spectrum-tabs-text-font-weight: 400;
  --spectrum-tabs-text-size: 17px;
  --spectrum-tabs-text-line-height: 25px;
  --spectrum-tabs-padding-x: 0px;
  --spectrum-tabs-baseline: 25px;
  --spectrum-tabs-item-gap: 30px;
  --spectrum-tabs-height: 60px;
  --spectrum-tabs-rule-height: 2px;
  --spectrum-tabs-rule-border-radius: 1px;
  --spectrum-tabs-focus-ring-height: 40px;
  --spectrum-tabs-focus-ring-size: 2px;
  --spectrum-tabs-focus-ring-padding-x: 11px;
  --spectrum-tabs-focus-ring-border-radius: 6px;
  --spectrum-tabs-quiet-text-font-style: regular;
  --spectrum-tabs-quiet-text-font-weight: 400;
  --spectrum-tabs-quiet-text-size: 17px;
  --spectrum-tabs-quiet-text-line-height: 25px;
  --spectrum-tabs-quiet-padding-x: 0px;
  --spectrum-tabs-quiet-baseline: 25px;
  --spectrum-tabs-quiet-item-gap: 30px;
  --spectrum-tabs-quiet-height: 60px;
  --spectrum-tabs-quiet-rule-height: 2px;
  --spectrum-tabs-quiet-rule-border-radius: 1px;
  --spectrum-tabs-quiet-focus-ring-height: 40px;
  --spectrum-tabs-quiet-focus-ring-size: 2px;
  --spectrum-tabs-quiet-focus-ring-padding-x: 11px;
  --spectrum-tabs-quiet-focus-ring-border-radius: 6px;
  --spectrum-tabs-quiet-compact-text-font-style: regular;
  --spectrum-tabs-quiet-compact-text-font-weight: 400;
  --spectrum-tabs-quiet-compact-text-size: 17px;
  --spectrum-tabs-quiet-compact-text-line-height: 25px;
  --spectrum-tabs-quiet-compact-padding-x: 0px;
  --spectrum-tabs-quiet-compact-baseline: 15px;
  --spectrum-tabs-quiet-compact-item-gap: 30px;
  --spectrum-tabs-quiet-compact-height: 40px;
  --spectrum-tabs-quiet-compact-rule-height: 2px;
  --spectrum-tabs-quiet-compact-rule-border-radius: 1px;
  --spectrum-tabs-quiet-compact-focus-ring-height: 40px;
  --spectrum-tabs-quiet-compact-focus-ring-size: 2px;
  --spectrum-tabs-quiet-compact-focus-ring-padding-x: 11px;
  --spectrum-tabs-quiet-compact-focus-ring-border-radius: 6px;
  --spectrum-tag-text-size: 15px;
  --spectrum-tag-text-font-weight: 400;
  --spectrum-tag-text-font-style: regular;
  --spectrum-tag-text-baseline: 10px;
  --spectrum-tag-height: 30px;
  --spectrum-tag-icon-height: 10px;
  --spectrum-tag-icon-width: 10px;
  --spectrum-tag-border-radius: 5px;
  --spectrum-tag-border-size: 1px;
  --spectrum-tag-padding-x: 13px;
  --spectrum-tag-avatar-padding-x: 10px;
  --spectrum-tag-icon-padding-x: 10px;
  --spectrum-tag-icon-size: 10px;
  --spectrum-tag-border-size-key-focus: 2px;
  --spectrum-tag-deletable-text-size: 15px;
  --spectrum-tag-deletable-text-font-weight: 400;
  --spectrum-tag-deletable-text-font-style: regular;
  --spectrum-tag-deletable-text-baseline: 10px;
  --spectrum-tag-deletable-height: 30px;
  --spectrum-tag-deletable-icon-height: 10px;
  --spectrum-tag-deletable-icon-width: 10px;
  --spectrum-tag-deletable-border-radius: 5px;
  --spectrum-tag-deletable-border-size: 1px;
  --spectrum-tag-deletable-padding-x: 13px;
  --spectrum-tag-deletable-avatar-padding-x: 10px;
  --spectrum-tag-deletable-icon-padding-x: 10px;
  --spectrum-tag-deletable-icon-size: 10px;
  --spectrum-tag-deletable-border-size-key-focus: 2px;
  --spectrum-taggroup-tag-gap-x: 10px;
  --spectrum-taggroup-tag-gap-y: 10px;
  --spectrum-textfield-placeholder-text-font-style: italic;
  --spectrum-textfield-placeholder-text-font-weight: 400;
  --spectrum-textfield-placeholder-text-size: 17px;
  --spectrum-textfield-text-font-style: regular;
  --spectrum-textfield-text-font-weight: 400;
  --spectrum-textfield-text-size: 17px;
  --spectrum-textfield-text-line-height: 25px;
  --spectrum-textfield-height: 40px;
  --spectrum-textfield-min-width: 112px;
  --spectrum-textfield-padding-x: 15px;
  --spectrum-textfield-padding-top: 6px;
  --spectrum-textfield-padding-bottom: 9px;
  --spectrum-textfield-border-radius: 5px;
  --spectrum-textfield-label-gap-x: 10px;
  --spectrum-textfield-label-gap-y: 10px;
  --spectrum-textfield-label-padding-top: 10px;
  --spectrum-textfield-label-padding-bottom: 15px;
  --spectrum-textfield-counter-gap: 10px;
  --spectrum-textfield-asterisk-size: 10px;
  --spectrum-textfield-asterisk-gap: 5px;
  --spectrum-textfield-touch-hit-x: 4px;
  --spectrum-textfield-touch-hit-y: 4px;
  --spectrum-textfield-text-baseline: 15px;
  --spectrum-textfield-icon-frame: 40px;
  --spectrum-textfield-cursor-hit-x: 5px;
  --spectrum-textfield-icon-margin-left: 15px;
  --spectrum-textfield-border-size: 1px;
  --spectrum-textfield-border-size-key-focus: 2px;
  --spectrum-textfield-border-size-mouse-focus: 1px;
  --spectrum-textfield-quiet-placeholder-text-font-style: italic;
  --spectrum-textfield-quiet-placeholder-text-font-weight: 400;
  --spectrum-textfield-quiet-placeholder-text-size: 17px;
  --spectrum-textfield-quiet-text-font-style: regular;
  --spectrum-textfield-quiet-text-font-weight: 400;
  --spectrum-textfield-quiet-text-size: 17px;
  --spectrum-textfield-quiet-text-line-height: 25px;
  --spectrum-textfield-quiet-height: 40px;
  --spectrum-textfield-quiet-min-width: 112px;
  --spectrum-textfield-quiet-padding-x: 0;
  --spectrum-textfield-quiet-padding-top: 6px;
  --spectrum-textfield-quiet-padding-bottom: 9px;
  --spectrum-textfield-quiet-border-radius: 5px;
  --spectrum-textfield-quiet-label-gap-x: 15px;
  --spectrum-textfield-quiet-label-gap-y: 0;
  --spectrum-textfield-quiet-label-padding-top: 10px;
  --spectrum-textfield-quiet-label-padding-bottom: 15px;
  --spectrum-textfield-quiet-counter-gap: 10px;
  --spectrum-textfield-quiet-asterisk-size: 10px;
  --spectrum-textfield-quiet-asterisk-gap: 5px;
  --spectrum-textfield-quiet-touch-hit-x: 4px;
  --spectrum-textfield-quiet-touch-hit-y: 4px;
  --spectrum-textfield-quiet-text-baseline: 15px;
  --spectrum-textfield-quiet-icon-frame: 40px;
  --spectrum-textfield-quiet-cursor-hit-x: 5px;
  --spectrum-textfield-quiet-icon-margin-left: 15px;
  --spectrum-textfield-quiet-border-size: 1px;
  --spectrum-textfield-quiet-affixed-border-size: 1px;
  --spectrum-textfield-quiet-border-size-key-focus: 2px;
  --spectrum-textfield-quiet-border-size-mouse-focus: 1px;
  --spectrum-toast-border-radius: 4px;
  --spectrum-toast-text-font-weight: 600;
  --spectrum-toast-text-size: 17px;
  --spectrum-tool-text-font-style: regular;
  --spectrum-tool-text-font-weight: 400;
  --spectrum-tool-text-size: 17px;
  --spectrum-tool-text-line-height: 25px;
  --spectrum-tool-text-baseline: 15px;
  --spectrum-tool-height: 40px;
  --spectrum-tool-min-width: 40px;
  --spectrum-tool-border-radius: 5px;
  --spectrum-tool-text-padding-x: 15px;
  --spectrum-tool-icon-padding-x: 10px;
  --spectrum-tool-icon-padding-y: 10px;
  --spectrum-tool-hold-icon-padding-bottom: 5px;
  --spectrum-tool-hold-icon-padding-right: 5px;
  --spectrum-tool-hold-icon-size: 5px;
  --spectrum-tool-border-size: 0;
  --spectrum-tool-touch-hit-x: 4px;
  --spectrum-tool-touch-hit-y: 4px;
  --spectrum-tool-border-size-key-focus: 2px;
  --spectrum-toolgroup-icon-button-gap-y: 10px;
  --spectrum-toolgroup-icon-button-gap-x: 10px;
  --spectrum-toolgroup-text-button-gap-y: 10px;
  --spectrum-toolgroup-text-button-gap-x: 10px;
  --spectrum-tooltip-text-font-weight: 400;
  --spectrum-tooltip-min-height: 30px;
  --spectrum-tooltip-padding-x: 13px;
  --spectrum-tooltip-padding-top: 5px;
  --spectrum-tooltip-padding-bottom: 6px;
  --spectrum-tooltip-content-max-width: 126px;
  --spectrum-tooltip-icon-size: 18px;
  --spectrum-tooltip-icon-margin-x: 10px;
  --spectrum-tooltip-tip-height: 5px;
  --spectrum-tooltip-tip-width: 10px;
  --spectrum-tooltip-tip-margin: 10px;
  --spectrum-tooltip-border-radius: 5px;
  --spectrum-tooltip-text-baseline: 10px;
  --spectrum-tooltip-text-size: 15px;
  --spectrum-tooltip-text-line-height: 19px;
  --spectrum-tooltip-info-text-font-weight: 400;
  --spectrum-tooltip-info-min-height: 30px;
  --spectrum-tooltip-info-padding-x: 13px;
  --spectrum-tooltip-info-padding-top: 5px;
  --spectrum-tooltip-info-padding-bottom: 6px;
  --spectrum-tooltip-info-content-max-width: 126px;
  --spectrum-tooltip-info-icon-size: 18px;
  --spectrum-tooltip-info-icon-margin-x: 10px;
  --spectrum-tooltip-info-tip-height: 5px;
  --spectrum-tooltip-info-tip-width: 10px;
  --spectrum-tooltip-info-tip-margin: 10px;
  --spectrum-tooltip-info-border-radius: 5px;
  --spectrum-tooltip-info-text-baseline: 10px;
  --spectrum-tooltip-info-text-size: 15px;
  --spectrum-tooltip-info-text-line-height: 19px;
  --spectrum-tooltip-negative-text-font-weight: 400;
  --spectrum-tooltip-negative-min-height: 30px;
  --spectrum-tooltip-negative-padding-x: 13px;
  --spectrum-tooltip-negative-padding-top: 5px;
  --spectrum-tooltip-negative-padding-bottom: 6px;
  --spectrum-tooltip-negative-content-max-width: 126px;
  --spectrum-tooltip-negative-icon-size: 18px;
  --spectrum-tooltip-negative-icon-margin-x: 10px;
  --spectrum-tooltip-negative-tip-height: 5px;
  --spectrum-tooltip-negative-tip-width: 10px;
  --spectrum-tooltip-negative-tip-margin: 10px;
  --spectrum-tooltip-negative-border-radius: 5px;
  --spectrum-tooltip-negative-text-baseline: 10px;
  --spectrum-tooltip-negative-text-size: 15px;
  --spectrum-tooltip-negative-text-line-height: 19px;
  --spectrum-tooltip-positive-text-font-weight: 400;
  --spectrum-tooltip-positive-min-height: 30px;
  --spectrum-tooltip-positive-padding-x: 13px;
  --spectrum-tooltip-positive-padding-top: 5px;
  --spectrum-tooltip-positive-padding-bottom: 6px;
  --spectrum-tooltip-positive-content-max-width: 126px;
  --spectrum-tooltip-positive-icon-size: 18px;
  --spectrum-tooltip-positive-icon-margin-x: 10px;
  --spectrum-tooltip-positive-tip-height: 5px;
  --spectrum-tooltip-positive-tip-width: 10px;
  --spectrum-tooltip-positive-tip-margin: 10px;
  --spectrum-tooltip-positive-border-radius: 5px;
  --spectrum-tooltip-positive-text-baseline: 10px;
  --spectrum-tooltip-positive-text-size: 15px;
  --spectrum-tooltip-positive-text-line-height: 19px;
  --spectrum-tray-padding-x: 8px;
  --spectrum-tray-padding-y: 0;
  --spectrum-tray-width: 100%;
  --spectrum-tray-min-height: 64px;
  --spectrum-treeview-width: 304px;
  --spectrum-treeview-item-height: 45px;
  --spectrum-treeview-padding-x: 6px;
  --spectrum-treeview-item-border-radius: 5px;
  --spectrum-treeview-item-border-size: 2px;
  --spectrum-treeview-item-padding-y: 8px;
  --spectrum-treeview-item-margin-y: 8px;
  --spectrum-treeview-item-padding-x: 30px;
  --spectrum-treeview-item-indent: 35px;
  --spectrum-treeview-item-icon-gap: 10px;
  --spectrum-treeview-item-border-size-key-focus: 2px;
  --spectrum-body-text-font-style: regular;
  --spectrum-body-text-font-weight: 400;
  --spectrum-body-text-size: 17px;
  --spectrum-body-text-line-height: 25px;
  --spectrum-body-font-line-height: 1.5;
  --spectrum-body-large-text-font-weight: 400;
  --spectrum-body-large-text-size: 22px;
  --spectrum-body-large-text-line-height: 30px;
  --spectrum-body-large-font-line-height: 30px;
  --spectrum-body-secondary-text-font-style: regular;
  --spectrum-body-secondary-text-font-weight: 400;
  --spectrum-body-secondary-text-size: 17px;
  --spectrum-body-secondary-text-line-height: 25px;
  --spectrum-body-small-text-font-weight: 400;
  --spectrum-body-small-text-size: 15px;
  --spectrum-body-small-text-line-height: 20px;
  --spectrum-body-small-font-line-height: 1.3;
  --spectrum-heading-display-text-font-weight: 300;
  --spectrum-heading-display-text-size: 51px;
  --spectrum-heading-display-text-line-height: 1.5;
  --spectrum-heading-page-title-text-font-weight: 300;
  --spectrum-heading-page-title-text-size: 36px;
  --spectrum-heading-page-title-text-line-height: 1.5;
  --spectrum-heading-subtitle1-text-font-weight: 700;
  --spectrum-heading-subtitle1-text-size: 22px;
  --spectrum-heading-subtitle1-text-line-height: 30px;
  --spectrum-heading-subtitle1-font-line-height: 30px;
  --spectrum-heading-subtitle2-text-font-weight: 700;
  --spectrum-heading-subtitle2-text-size: 17px;
  --spectrum-heading-subtitle2-text-line-height: 25px;
  --spectrum-heading-subtitle2-font-line-height: 1.5;
  --spectrum-heading-subtitle3-text-font-weight: 700;
  --spectrum-heading-subtitle3-text-size: 13px;
  --spectrum-heading-subtitle3-text-line-height: 20px;
  --spectrum-heading-subtitle3-text-transform: uppercase;
  --spectrum-heading-subtitle3-font-line-height: 1.3;
  --spectrum-heading-subtitle3-text-letter-spacing: 0.06em;
}
