/* topdoc
---
name: Link - Default
description: A link
status: Released
markup: |
  <a href="#" class="spectrum-Link">Link using spectrum-Link</a>

*/.spectrum-Link {

  /* Remove the gray background on active links in IE 10. */
  background-color: transparent;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  transition: color 125ms ease-in-out;
  outline: none;
}.spectrum-Link:hover {
    text-decoration: underline;
  }.spectrum-Link.focus-ring {
    text-decoration: underline;
  }.spectrum-Link.focus-ring {
    text-decoration: underline;
    -webkit-text-decoration-style: double;
            text-decoration-style: double;
  }/* topdoc
---
name: Link - Disabled
description: A disabled link
status: Released
markup: |
  <p> This uses <a class="spectrum-Link is-disabled">is-disabled</a>.</p>

*/.spectrum-Link.is-disabled {
    cursor: default;
    pointer-events: none;
  }.spectrum-Link.is-disabled:hover,
    .spectrum-Link.is-disabled:focus {
      text-decoration: none;
    }/* topdoc
---
name: Link - Subtle
description: A subtle link
status: Released
markup: |
  <p> This uses <a href="#" class="spectrum-Link
  spectrum-Link--subtle">spectrum-Link--subtle</a>.</p>

*/.spectrum-Link--subtle {
  text-decoration: underline;
}/* topdoc
---
name: Link - Over Background
description: A link over a colored background.
markup: |
  <div style="background-color: rgb(15, 121, 125); padding: 15px 20px; display: inline-block;">
    <p class="spectrum-Body" style="color: rgb(255, 255, 255);">
      Hello, this is my <a href="#" class="spectrum-Link spectrum-Link--overBackground"> spectrum-Link--overBackground</a>
      . This is just filler text, but if you keep reading maybe something good will happen.
    </p>
  </div>

*/.spectrum-Link--overBackground {
  text-decoration: underline;
}
