/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--dark .spectrum-Checkbox-label {
  color: rgb(205, 205, 205);
}
.spectrum--dark .spectrum-Checkbox-box {
  border-color: rgb(123, 123, 123);
}
.spectrum--dark .spectrum-Checkbox-box .spectrum-Checkbox-checkmark {
    color: rgb(50, 50, 50);
  }
.spectrum--dark .spectrum-Checkbox-box {
  background-color: rgb(45, 45, 45);
}
.spectrum--dark .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-color: rgb(55, 142, 240);
  }
.spectrum--dark .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum--dark .spectrum-Checkbox-input.focus-ring ~ .spectrum-Checkbox-label {
    color: rgb(90, 169, 250);
  }
.spectrum--dark .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box,
.spectrum--dark .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
  border-color: rgb(55, 142, 240);
}
.spectrum--dark .spectrum-Checkbox:hover.is-indeterminate .spectrum-Checkbox-box,
  .spectrum--dark .spectrum-Checkbox:hover .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-color: rgb(75, 156, 245);
  }
.spectrum--dark .spectrum-Checkbox:active.is-indeterminate .spectrum-Checkbox-box,
  .spectrum--dark .spectrum-Checkbox:active .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-color: rgb(90, 169, 250);
  }
/* topdoc
---
name: Checkbox - Default
description: The Spectrum checkbox
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <label class="spectrum-Checkbox">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>
  <label class="spectrum-Checkbox">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-1" checked>
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>
  <label class="spectrum-Checkbox is-indeterminate">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-2">
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>

*/
.spectrum--dark .spectrum-Checkbox {
  border-color: rgb(123, 123, 123);
}
.spectrum--dark .spectrum-Checkbox:hover .spectrum-Checkbox-box {
      border-color: rgb(153, 153, 153);
      box-shadow: none;
    }
.spectrum--dark .spectrum-Checkbox:hover .spectrum-Checkbox-label {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Checkbox:active .spectrum-Checkbox-box {
      border-color: rgb(205, 205, 205);
    }
.spectrum--dark .spectrum-Checkbox:active .spectrum-Checkbox-label {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Checkbox.is-invalid .spectrum-Checkbox-box {
      border-color: rgb(236, 91, 98);
    }
.spectrum--dark .spectrum-Checkbox.is-invalid .spectrum-Checkbox-label {
      color: rgb(236, 91, 98);
    }
.spectrum--dark .spectrum-Checkbox.is-invalid:hover .spectrum-Checkbox-box {
      border-color: rgb(247, 109, 116) !important;
    }
.spectrum--dark .spectrum-Checkbox.is-invalid:hover .spectrum-Checkbox-label {
      color: rgb(247, 109, 116);
    }
.spectrum--dark .spectrum-Checkbox.is-invalid:active .spectrum-Checkbox-box {
      border-color: rgb(255, 123, 130);
    }
.spectrum--dark .spectrum-Checkbox.is-invalid:active .spectrum-Checkbox-label {
      color: rgb(255, 123, 130);
    }
/* topdoc
---
name: Checkbox - Disabled
description: The 'disabled' Spectrum checkbox
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <label class="spectrum-Checkbox is-disabled">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-3" disabled>
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>
  <label class="spectrum-Checkbox is-disabled">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-4" disabled checked>
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>
  <label class="spectrum-Checkbox is-disabled is-indeterminate">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-5" disabled>
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>

*/
.spectrum--dark .spectrum-Checkbox-input:disabled + .spectrum-Checkbox-box {
    /* I'm sorry about the !important */
    border-color: rgb(77, 77, 77) !important;

    background-color: transparent;
  }
.spectrum--dark .spectrum-Checkbox-input:disabled ~ .spectrum-Checkbox-label {
    color: rgb(92, 92, 92);
  }
/* topdoc
---
name: Checkbox - Invalid
description: The 'invalid' Spectrum checkbox
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <label class="spectrum-Checkbox is-invalid">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>
  <label class="spectrum-Checkbox is-invalid">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-1" checked>
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>
  <label class="spectrum-Checkbox is-invalid is-indeterminate">
    <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-2">
    <span class="spectrum-Checkbox-box">
      <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
      </svg>
    </span>
    <span class="spectrum-Checkbox-label">Checkbox</span>
  </label>

*/
.spectrum--dark .spectrum-Checkbox-input:error + .spectrum-Checkbox-box {
    border-color: rgb(236, 91, 98);
  }
.spectrum--dark .spectrum-Checkbox-input:error ~ .spectrum-Checkbox-label {
    color: rgb(247, 109, 116);
  }
