.spectrum--darkest .spectrum-Checkbox-label {
  color: rgb(180, 180, 180);
}
.spectrum--darkest .spectrum-Checkbox-checkmark {
  border-color: rgb(105, 105, 105);
}
.spectrum--darkest .spectrum-Checkbox-checkmark::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 8' enable-background='new 0 0 10 8' xml:space='preserve'%3E%3Cpath style='fill:rgb%2830%2C 30%2C 30%29' d='M3.8%2C7.4C3.5%2C7.4%2C3.2%2C7.3%2C3%2C7.1L0.8%2C4.8c-0.4-0.4-0.4-1%2C0-1.4s1-0.4%2C1.4%2C0L3.8%2C5l4-4c0.4-0.4%2C1-0.4%2C1.4%2C0 s0.4%2C1%2C0%2C1.4L4.5%2C7.1C4.3%2C7.3%2C4%2C7.4%2C3.8%2C7.4z'/%3E%3C/svg%3E");
  }
.spectrum--darkest .spectrum-Checkbox-input:checked + .spectrum-Checkbox-checkmark {
    border-color: rgb(105, 105, 105);
  }
.spectrum--darkest .spectrum-Checkbox-input:focus + .spectrum-Checkbox-checkmark {
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-Checkbox-input:focus ~ .spectrum-Checkbox-label {
    color: rgb(75, 156, 245);
  }
/* topdoc
{{ checkbox/checkbox-default.yml }}
*/
.spectrum--darkest .spectrum-Checkbox:hover .spectrum-Checkbox-checkmark {
      border-color: rgb(226, 226, 226);
      box-shadow: none;
    }
.spectrum--darkest .spectrum-Checkbox:hover .spectrum-Checkbox-label {
      color: rgb(226, 226, 226);
    }
.spectrum--darkest .spectrum-Checkbox:active .spectrum-Checkbox-checkmark {
      border-color: rgb(133, 133, 133);
    }
.spectrum--darkest .spectrum-Checkbox:active .spectrum-Checkbox-label {
      color: rgb(180, 180, 180);
    }
/* topdoc
{{ checkbox/checkbox-disabled.yml }}
*/
.spectrum--darkest .spectrum-Checkbox-input:disabled + .spectrum-Checkbox-checkmark {
    border-color: rgb(60, 60, 60);
  }
.spectrum--darkest .spectrum-Checkbox-input:disabled ~ .spectrum-Checkbox-label {
    color: rgb(73, 73, 73);
  }
.spectrum--darkest .spectrum-Checkbox-input:invalid + .spectrum-Checkbox-checkmark {
      border-color: rgb(227, 72, 80);
    }
.spectrum--darkest .spectrum-Checkbox-input:invalid ~ .spectrum-Checkbox-label {
      color: rgb(227, 72, 80);
    }
.spectrum--darkest .spectrum-Checkbox-input:invalid:hover + .spectrum-Checkbox-checkmark {
      border-color: rgb(236, 91, 98);
    }
.spectrum--darkest .spectrum-Checkbox-input:invalid:hover ~ .spectrum-Checkbox-label {
      color: rgb(236, 91, 98);
    }
.spectrum--darkest .spectrum-Checkbox-input:invalid:active + .spectrum-Checkbox-checkmark {
      border-color: rgb(247, 109, 116);
    }
.spectrum--darkest .spectrum-Checkbox-input:invalid:active ~ .spectrum-Checkbox-label {
      color: rgb(247, 109, 116);
    }
/* topdoc
{{ checkbox/checkbox-error.yml }}
*/
.spectrum--darkest .spectrum-Checkbox-input:error + .spectrum-Checkbox-checkmark {
    border-color: rgb(227, 72, 80);
  }
.spectrum--darkest .spectrum-Checkbox-input:error ~ .spectrum-Checkbox-label {
    color: rgb(236, 91, 98);
  }
