
.spectrum--lightest .spectrum-Alert {
  --spectrum-alert-background-color: rgb(255, 255, 255);
  --spectrum-alert-title-text-color: rgb(50, 50, 50);
  --spectrum-alert-text-color: rgb(116, 116, 116);
  --spectrum-alert-error-border-color: rgb(236, 91, 98);
  --spectrum-alert-info-border-color: rgb(55, 142, 240);
  --spectrum-alert-success-border-color: rgb(51, 171, 132);
  --spectrum-alert-warning-border-color: rgb(242, 148, 35);
}
