
.spectrum--large .spectrum-QuickActions {
  --spectrum-dropdown-flyout-menu-offset-y: 8px;
  --spectrum-quickactions-icon-button-gap-x: 10px;
  --spectrum-quickactions-text-button-gap-x: 5px;
  --spectrum-quickactions-padding-x: 5px;
  --spectrum-quickactions-padding-y: 5px;
  --spectrum-quickactions-border-radius: 5px;
  --spectrum-quickactions-height: 50px;
}
