
.spectrum--large .spectrum-Popover {
  --spectrum-global-dimension-size-400: 40px;
  --spectrum-dropdown-flyout-menu-offset-y: 8px;
  --spectrum-popover-border-size: 1px;
  --spectrum-popover-border-radius: 5px;
  --spectrum-popover-tip-width: 25px;
}
