/* topdoc
---
name: Action Menu
description: An action button with a Flyout. Note that the `is-selected` class should be applied to the button when the menu is open.
markup: |

  <div class="spectrum-ActionMenu">
    <button class="spectrum-Button spectrum-Button--quiet--action spectrum-ActionMenu-button is-selected">More Actions</button>

    <div class="spectrum-Popover spectrum-Popover--bottom is-open">
      <ul class="spectrum-SelectList" role="menu">
        <li class="spectrum-SelectList-option" role="menuitem" tabindex="0">Action 1</li>
        <li class="spectrum-SelectList-option" role="menuitem" tabindex="0">Action 2</li>
        <li class="spectrum-SelectList-option" role="menuitem" tabindex="0">Action 3</li>
      </ul>
    </div>
  </div>

  <br>
  <br>

  <div class="spectrum-ActionMenu">
    <button class="spectrum-Button spectrum-Button--quiet--action spectrum-ActionMenu-button is-selected"></button>

    <div class="spectrum-Popover spectrum-Popover--bottom is-open">
      <ul class="spectrum-SelectList" role="menu">
        <li class="spectrum-SelectList-option" role="menuitem" tabindex="0">Action 1</li>
        <li class="spectrum-SelectList-option" role="menuitem" tabindex="0">Action 2</li>
        <li class="spectrum-SelectList-option" role="menuitem" tabindex="0">Action 3</li>
      </ul>
    </div>
  </div>

  <br>
  <br>

  <div class="spectrum-ActionMenu">
    <button class="spectrum-Button spectrum-Button--quiet--action spectrum-ActionMenu-button">More Actions</button>
  </div>

*/
.spectrum-ActionMenu {
  display: inline-block;
}
.spectrum-ActionMenu-button {
  display: block;

  padding: 0 8px;
}
.spectrum-ActionMenu-button::before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: -4px;
    margin-right: 6px;
  }
.spectrum-ActionMenu-button:empty {
  padding: 0 6px;
}
.spectrum-ActionMenu-button:empty::before {
    margin-right: 0;
  }
