/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

.spectrum-Accordion-item {
  border-color: rgb(45, 45, 45);
}

.spectrum-Accordion-indicator {
  color: rgb(105, 105, 105);
}

.spectrum-Accordion-header {
  color: rgb(133, 133, 133);
}

.spectrum-Accordion-header:focus,
  .spectrum-Accordion-header:hover {
    color: rgb(226, 226, 226);

    background-color: rgb(38, 38, 38);
  }

.spectrum-Accordion-header:focus + .spectrum-Accordion-indicator, .spectrum-Accordion-header:hover + .spectrum-Accordion-indicator {
      color: rgb(180, 180, 180);
    }

.spectrum-Accordion-header:focus:after  {
      background-color: rgb(20, 115, 230);
    }

.spectrum-Accordion-item.is-open .spectrum-Accordion-header:hover {
        background-color: transparent;
      }

.spectrum-Accordion-item.is-disabled .spectrum-Accordion-header,
    .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header:hover,
    .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header:focus {
      color: rgb(73, 73, 73);
      background-color: transparent;
    }

.spectrum-Accordion-item.is-disabled .spectrum-Accordion-header + .spectrum-Accordion-indicator {
      color: rgb(60, 60, 60);
    }
