
.spectrum--medium .spectrum-Stepper {
  --spectrum-global-dimension-size-50: 4px;
  --spectrum-global-dimension-size-150: 12px;
  --spectrum-alias-single-line-height: 32px;
  --spectrum-alias-single-line-width: 192px;
}
