header.sdldocs-header.row
  .col-xs-3.col-lg-2.start-xs
    .sdldocs-header-logo-link.box
      a(href='http://spectrum.corp.adobe.com')
        img.sdldocs-header-logo-image(src=relativePath +'img/spectrum_logo_light.svg', alt='Adobe Spectrum Logo')
      h3.sdldocs-header-title.spectrum-Heading.spectrum-Heading--subtitle.box= site.title

  .col-xs-6.sdldocs-header-content
    include menu-default.pug
