nav.sdldocs-nav.col-sm-3
  .box
    each navItem in collections.pageitems
      .row.center-xs.around-xs.start-sm
        .sdldocs-nav-item
            a.sdldocs-nav-link.box(href='#'+navItem.itemId)= navItem.name
