mixin navItem(key, linkPath)
  - key = key || 'no key'
  - var isCurrent = (key == navKey) ? true : false
  - var navClass = 'sdldocs-menu-link'
  - navClass += (isCurrent) ? ' is-selected' : ''
  a(class=navClass, href=linkPath)= key

.sdldocs-menu.box
  .row.start-xs
    .box
      +navItem('home', relativePath)
    .box
      +navItem('articles', relativePath + 'articles')
    .box
      +navItem('faq', relativePath + 'faq')
