section.sdldocs-home-presentation.row.center-xs
  .sdldocs-home-content.col-xs
    .box
      h1.spectrum-Heading.spectrum-Heading--display.sdldocs-home-presentation-title= site.presentationName
      each pitchContent in site.pitch
        p.spectrum-Text.spectrum-Text--large.sdldocs-home-presentation-pitch= pitchContent

