section.sdldocs-home-presentation.row.center-xs
  .sdldocs-home-content.col-xs
    .box
      h1.spectrum-Heading.spectrum-Heading--display.sdldocs-home-presentation-title= sectionName
      h2.spectrum-Text.spectrum-Text--large.sdldocs-home-presentation-pitch= sectionIntro
