hr.sdldocs-main-content.row
.sdldocs-main-content.row.center-xs
 .sdldocs-components.col-xs-12
    h2.spectrum-Heading.spectrum-Heading--pagetitle.sdldocs-article-recent-title.
      Recent Articles
    - var recent = collections.articles.slice(0, 5);
    each article in recent
      article.sdldocs-component.box
        h3
          a.sdldocs-link.sdldocs-article-title-link(href='./' + article.path)= article.pageTitle
        if article.teaser
          h3.spectrum-Heading.spectrum-Heading--subtitle.sdldocs-article-link-teaser= article.teaser
        small.summary-date.article-date
          time(datetime=date)= moment(article.date).format('D MMMM YYYY')
.sdldocs-main-content.row
 .sdldocs-components.col-xs-12
  .box
     p More Articles <a class="sdldocs-link" href="./articles">here</a>.
