
.spectrum--lightest .spectrum-Checkbox {
  --spectrum-checkbox-text-color: rgb(80, 80, 80);
  --spectrum-checkbox-box-background-color: rgb(255, 255, 255);
  --spectrum-checkbox-box-border-color: rgb(149, 149, 149);
  --spectrum-checkbox-text-color-hover: rgb(50, 50, 50);
  --spectrum-checkbox-box-border-color-hover: rgb(116, 116, 116);
  --spectrum-checkbox-text-color-down: rgb(50, 50, 50);
  --spectrum-checkbox-box-border-color-down: rgb(80, 80, 80);
  --spectrum-checkbox-text-color-key-focus: rgb(20, 115, 230);
  --spectrum-checkbox-box-border-color-key-focus: rgb(55, 142, 240);
  --spectrum-checkbox-text-color-disabled: rgb(188, 188, 188);
  --spectrum-checkbox-box-border-color-disabled: rgb(211, 211, 211);
  --spectrum-checkbox-box-background-color-disabled: rgb(255, 255, 255);
  --spectrum-checkbox-box-border-color-selected: rgb(38, 128, 235);
  --spectrum-checkbox-box-border-color-selected-hover: rgb(20, 115, 230);
  --spectrum-checkbox-box-border-color-selected-down: rgb(13, 102, 208);
  --spectrum-checkbox-text-color-error: rgb(215, 55, 63);
  --spectrum-checkbox-box-border-color-error: rgb(227, 72, 80);
  --spectrum-checkbox-text-color-error-hover: rgb(201, 37, 45);
  --spectrum-checkbox-box-border-color-error-hover: rgb(215, 55, 63);
  --spectrum-checkbox-text-color-error-down: rgb(201, 37, 45);
  --spectrum-checkbox-box-border-color-error-down: rgb(201, 37, 45);
  --spectrum-checkbox-checkmark-color: rgb(255, 255, 255);
  --spectrum-checkbox-quiet-box-border-color-selected: rgb(116, 116, 116);
  --spectrum-checkbox-quiet-box-border-color-selected-hover: rgb(80, 80, 80);
  --spectrum-checkbox-quiet-box-border-color-selected-down: rgb(50, 50, 50);
}
