
.spectrum--medium .spectrum-Checkbox {
  --spectrum-global-dimension-size-75: 6px;
  --spectrum-checkbox-text-font-weight: 400;
  --spectrum-checkbox-text-size: 14px;
  --spectrum-checkbox-box-border-size: 2px;
  --spectrum-checkbox-box-border-radius: 2px;
  --spectrum-checkbox-box-size: 14px;
  --spectrum-checkbox-height: 32px;
  --spectrum-checkbox-cursor-hit-x: 8px;
  --spectrum-checkbox-text-gap: 10px;
  --spectrum-icon-checkmark-small-width: 10px;
  --spectrum-icon-checkmark-small-height: 10px;
}
