/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
.spectrum--darkest {

/*
Todo: Determine if unused mixins are required

spectrum-tablist-line-default() {
  border-color: var(--spectrum-tablist-border-color-default)
}

spectrum-tablist-line-focus() {
  border-color: var(--spectrum-tablist-border-color-focus)
}

spectrum-tablist-line-disabled() {
  border-color: var(--spectrum-tablist-border-color-disabled)
}
*/
}
/* topdoc
---
  name: Tab - Default
  description: The default Spectrum Tab element
  markup: |
    <!-- TODO: add markup here -->

*/
.spectrum--darkest .spectrum-Tab {
  color: rgb(133, 133, 133);
}
.spectrum--darkest .spectrum-Tab:hover {
    color: rgb(226, 226, 226)
  }
.spectrum--darkest .spectrum-Tab:focus {
    color: rgb(226, 226, 226)
  }
.spectrum--darkest .spectrum-Tab.is-selected {
    color: rgb(226, 226, 226)
  }
.spectrum--darkest .spectrum-Tab.is-disabled {
    color: rgb(73, 73, 73)
  }
.spectrum--darkest .spectrum-TabList--anchored {
/*
  .spectrum-Tab {
    .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-default);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-default);
      }
    }

    &:hover .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-hover);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-hover);
      }
    }

    &:active .spectrum-Tab-label,
    &.is-selected .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-active);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-active);
      }
    }

    &:focus .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-focus);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-focus);
      }
    }

    &.is-disabled {
      .spectrum-Tab-label {
        color: var(--spectrum-tablist-anchored-label-color-disabled);

        &::after {
          background-color: var(--spectrum-tablist-anchored-border-color-disabled);
        }
      }
    }
  }
*/
}
.spectrum--darkest .spectrum-TabList--anchored::before {
    background-color: rgb(38, 38, 38);
  }
