/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
.spectrum-Label {
  color: rgb(255, 255, 255);
}
/* topdoc
---
name: Label - Special
description: A special label
markup: |
  <span class="spectrum-Label spectrum-Label--and">And</span>
  <span class="spectrum-Label spectrum-Label--or">Or</span>
  <br>
  <span class="spectrum-Label spectrum-Label--active">Active</span>
  <span class="spectrum-Label spectrum-Label--inactive">Inactive</span>

*/
.spectrum-Label--inactive,
.spectrum-Label--grey {
  background-color: rgb(112, 112, 112);
}
.spectrum-Label--green {
  background-color: rgb(38, 142, 108);
}
.spectrum-Label--blue, .spectrum-Label--active, .spectrum-Label--and  {
  background-color: rgb(20, 115, 230);
}
.spectrum-Label--red {
  background-color: rgb(215, 55, 63);
}
.spectrum-Label--orange, .spectrum-Label--or {
  background-color: rgb(218, 123, 17);
}
