.spectrum-Label {
  color: rgb(255, 255, 255);
}
/* topdoc
{{ label/label-special.yml }}
*/
.spectrum-Label--inactive,
.spectrum-Label--grey {
  background-color: rgb(112, 112, 112);
}
.spectrum-Label--green {
  background-color: rgb(51, 171, 132);
}
.spectrum-Label--blue, .spectrum-Label--active, .spectrum-Label--and  {
  background-color: rgb(55, 142, 240);
}
.spectrum-Label--red {
  background-color: rgb(236, 91, 98);
}
.spectrum-Label--orange, .spectrum-Label--or {
  background-color: rgb(242, 148, 35);
}
