
.spectrum--lightest .spectrum-Calendar {
  --spectrum-calendar-day-today-text-color: rgb(80, 80, 80);
  --spectrum-calendar-day-today-border-color: rgb(80, 80, 80);
  --spectrum-calendar-day-title-text-color: rgb(116, 116, 116);
  --spectrum-calendar-day-text-color-hover: rgb(50, 50, 50);
  --spectrum-calendar-day-background-color-hover: rgba(50,50,50,0.06);
  --spectrum-calendar-day-background-color-down: rgba(50,50,50,0.1);
  --spectrum-calendar-day-text-color-selected: rgb(50, 50, 50);
  --spectrum-calendar-day-background-color-selected: rgba(38,128,235,0.1);
  --spectrum-calendar-day-text-color-cap-selected: rgb(50, 50, 50);
  --spectrum-calendar-day-background-color-cap-selected: rgba(38,128,235,0.2);
  --spectrum-calendar-day-text-color-key-focus: rgb(50, 50, 50);
  --spectrum-calendar-day-background-color-key-focus: rgba(50,50,50,0.06);
  --spectrum-calendar-day-border-color-key-focus: rgb(55, 142, 240);
  --spectrum-calendar-day-text-color-selected-hover: rgb(50, 50, 50);
  --spectrum-calendar-day-background-color-selected-hover: rgba(38,128,235,0.2);
  --spectrum-calendar-day-today-background-color-selected-hover: rgba(38,128,235,0.2);
  --spectrum-calendar-day-text-color-disabled: rgb(188, 188, 188);
  --spectrum-calendar-day-today-text-color-disabled: rgb(188, 188, 188);
  --spectrum-calendar-day-today-border-color-disabled: rgb(211, 211, 211);
  --spectrum-calendar-button-icon-color: rgb(116, 116, 116);
}
