
.spectrum--large .spectrum-Slider,
.spectrum--large .spectrum-Dial {
  --spectrum-global-dimension-size-65: 6px;
  --spectrum-global-dimension-size-100: 10px;
  --spectrum-alias-border-radius-regular: 5px;
  --spectrum-dial-container-width: 48px;
  --spectrum-dial-border-radius: 20px;
  --spectrum-dial-min-max-tick-angles: 45deg;
  --spectrum-dial-handle-marker-width: 12px;
  --spectrum-dial-handle-marker-height: 2px;
  --spectrum-dial-handle-marker-border-radius: 1px;
  --spectrum-dial-small-height: 24px;
  --spectrum-dial-small-width: 24px;
  --spectrum-fieldlabel-padding-top: 5px;
  --spectrum-fieldlabel-padding-bottom: 6px;
  --spectrum-label-text-line-height: 1.3;
  --spectrum-label-text-size: 15px;
  --spectrum-slider-color-handle-outset-border-size: 1px;
  --spectrum-slider-color-track-height: 24px;
  --spectrum-slider-track-border-radius: 1px;
  --spectrum-slider-track-height: 2px;
  --spectrum-slider-handle-border-size: 2px;
  --spectrum-slider-handle-gap: 4px;
  --spectrum-slider-animation-duration: 130ms;
  --spectrum-slider-handle-width: 20px;
  --spectrum-slider-handle-height: 20px;
  --spectrum-slider-handle-border-radius: 10px;
  --spectrum-slider-height: 40px;
  --spectrum-slider-min-width: 125px;
  --spectrum-slider-label-gap-x: 20px;
  --spectrum-slider-handle-border-size-down: 8px;
  --spectrum-slider-fill-track-height: 2px;
  --spectrum-slider-ramp-track-height: 16px;
  --spectrum-slider-tick-mark-height: 10px;
  --spectrum-slider-tick-mark-width: 2px;
  --spectrum-slider-tick-mark-border-radius: 1px;
}
