:root {
  /* The size of the icons in tabs */
}

.spectrum-TabList {
  position: relative;
  z-index: 0;

  margin: 0;
  padding: 0;
}

.spectrum-Tab {
  position: relative;

  /* Float above the tab line */
  z-index: 1;

  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color 125ms ease-out;
  height: 32px;
  line-height: 2rem;
}

.spectrum-Tab.is-disabled {
    cursor: default;
  }

.spectrum-Tab-label {
  cursor: pointer;
}

.spectrum-Tab-line {
  position: absolute;

  /* Be below the tab */
  z-index: 0;

  transition: transform 125ms ease-in-out;
  left: 0;
  transform-origin: top left;
}

.spectrum-TabList--page .spectrum-Tab, .spectrum-TabList--panel .spectrum-Tab {
    margin-bottom: 2px;
  }

.spectrum-TabList--page .spectrum-Tab:focus, .spectrum-TabList--panel .spectrum-Tab:focus {
      border-radius: 4px;
    }

.spectrum-TabList--panel .spectrum-Tab-label {
    font-size: 0.65625rem;
    font-weight: 600;
    text-transform: uppercase;
  }

.spectrum-TabList--panel .spectrum-Tab-icon {
    /* Ensure the label doesn't drop down */
    display: inline-block;
    vertical-align: middle;

    /* Support SVG icons */
    width: 18px;
    height: 18px;

    /* Support font icons */
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

.spectrum-TabList--horizontal {
  display: block;
}

.spectrum-TabList--horizontal .spectrum-Tab {
    display: inline-block;
  }

.spectrum-TabList--horizontal .spectrum-Tab-label {
    text-overflow: ellipsis;
  }

.spectrum-TabList--horizontal .spectrum-Tab-line {
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 2px;
  }

.spectrum-TabList--horizontal.spectrum-TabList--page .spectrum-Tab {
      padding: 0 8px;
      margin-right: 8px;
    }

.spectrum-TabList--horizontal.spectrum-TabList--page .spectrum-Tab-label {
      text-transform: capitalize;
    }

.spectrum-TabList--horizontal.spectrum-TabList--anchored {
    display: inline-block;
    border-bottom: 2px solid;
  }

.spectrum-TabList--horizontal.spectrum-TabList--anchored .spectrum-Tab {
      margin: 0px 16px;
      padding-bottom: 8px;
    }

.spectrum-TabList--horizontal.spectrum-TabList--anchored .spectrum-Tab-label {
      text-transform: capitalize;
    }

.spectrum-TabList--horizontal.spectrum-TabList--anchored .spectrum-Tab-line {
      bottom: -2px;
    }

.spectrum-TabList--horizontal.spectrum-TabList--panel .spectrum-Tab {
      margin-right: 8px;
      height: 24px;
    }

.spectrum-TabList--panel .spectrum-Tab {
    line-height: normal;

    padding: 1px 6px 5px 6px;
  }

.spectrum-TabList--vertical {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

.spectrum-TabList--vertical .spectrum-Tab {
    display: block;
    margin-left: 2px;
  }

.spectrum-TabList--vertical .spectrum-Tab-label {
    text-overflow: ellipsis;
    vertical-align: middle;
  }

.spectrum-TabList--vertical .spectrum-Tab-line {
    top: 2px;
    left: 0;
    width: 2px;
    height: 20px;
    border-radius:  1px;
  }

.spectrum-TabList--vertical.spectrum-TabList--panel .spectrum-Tab {
      height: 24px;
    }

.spectrum-Tab-label:empty {
  /* Hide the tab label if it's not being used */
  display: none;
}
