
.spectrum--darkest .spectrum-Slider,
.spectrum--darkest .spectrum-Dial {
  --spectrum-alias-background-color-default: rgb(30, 30, 30);
  --spectrum-dial-handle-marker-color: rgb(162, 162, 162);
  --spectrum-dial-min-max-tick-color: rgb(124, 124, 124);
  --spectrum-dial-border-color-hover: rgb(200, 200, 200);
  --spectrum-dial-handle-marker-color-hover: rgb(200, 200, 200);
  --spectrum-dial-handle-marker-color-key-focus: rgb(8, 8, 8);
  --spectrum-label-text-color: rgb(162, 162, 162);
  --spectrum-label-text-color-disabled: rgb(92, 92, 92);
  --spectrum-slider-color-handle-outset-border-color: rgba(0,0,0,0.05);
  --spectrum-slider-color-handle-inset-border-color: rgba(0,0,0,0.05);
  --spectrum-slider-color-handle-border-color: rgb(8, 8, 8);
  --spectrum-slider-color-handle-color: rgba(0, 0, 0, 0);
  --spectrum-slider-color-track-background-color-gradient-start: rgb(20, 115, 230);
  --spectrum-slider-color-track-background-color-gradient-end: rgb(75, 156, 245);
  --spectrum-slider-color-track-border-color: rgba(0,0,0,0.05);
  --spectrum-slider-color-handle-outset-border-color-key-focus: rgba(0,0,0,0.05);
  --spectrum-slider-color-track-color-disabled: rgb(44, 44, 44);
  --spectrum-slider-color-handle-border-color-disabled: rgb(73, 73, 73);
  --spectrum-slider-color-handle-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-slider-handle-border-color: rgb(162, 162, 162);
  --spectrum-slider-handle-background-color: rgba(0, 0, 0, 0);
  --spectrum-slider-track-color: rgb(57, 57, 57);
  --spectrum-slider-handle-border-color-hover: rgb(200, 200, 200);
  --spectrum-slider-handle-border-color-down: rgb(200, 200, 200);
  --spectrum-slider-handle-background-color-down: rgba(0, 0, 0, 0);
  --spectrum-slider-handle-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-slider-handle-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-slider-handle-border-color-disabled: rgb(73, 73, 73);
  --spectrum-slider-track-color-disabled: rgb(57, 57, 57);
  --spectrum-slider-fill-track-color: rgb(162, 162, 162);
  --spectrum-slider-fill-track-color-disabled: rgb(57, 57, 57);
  --spectrum-slider-player-track-buffer-color: rgb(92, 92, 92);
  --spectrum-slider-player-track-buffer-color-disabled: rgb(57, 57, 57);
  --spectrum-slider-ramp-track-color-disabled: rgb(44, 44, 44);
  --spectrum-slider-tick-mark-color: rgb(57, 57, 57);
}
