
.spectrum--large .spectrum-BarLoader {
  --spectrum-barloader-large-width: 240px;
  --spectrum-barloader-large-label-gap-x: 15px;
  --spectrum-barloader-large-height: 8px;
  --spectrum-barloader-large-border-radius: 4px;
  --spectrum-barloader-large-label-gap-y: 11px;
  --spectrum-barloader-large-indeterminate-fill-width: 212px;
  --spectrum-barloader-large-indeterminate-animation-ease: (.45, 0, .40, 1);
  --spectrum-barloader-large-indeterminate-duration: 1000ms;
  --spectrum-barloader-small-width: 240px;
  --spectrum-barloader-small-label-gap-x: 15px;
  --spectrum-barloader-small-height: 5px;
  --spectrum-barloader-small-border-radius: 3px;
  --spectrum-fieldlabel-text-font-weight: 400;
  --spectrum-fieldlabel-text-line-height: 1.3;
  --spectrum-fieldlabel-text-size: 15px;
}
