.spectrum-Checkbox {
  display: inline-block;
  position: relative;
  font-size: 0;
  height: 2.5rem;
  line-height: 2.5rem;

  padding: 0 0.625rem;
  margin-left: -0.625rem;
}.spectrum-Checkbox-input {
  /* Change the font styles in all browsers for input. */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="checkbox"] in IE 10-. */
  box-sizing: border-box;

  /* Remove the padding for [type="checkbox"] in IE 10-. */
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: .0001;
  z-index: 1;

  cursor: pointer;
}.spectrum-Checkbox-input:disabled {
    cursor: default;
  }.spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-width: 0.5625rem;
  }.spectrum-Checkbox-input:checked + .spectrum-Checkbox-box .spectrum-Checkbox-checkmark {
      transform: scale(1);
      opacity: 1;
    }.spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box,
  .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-width: 0.5625rem;
  }.spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box .spectrum-Checkbox-checkmark, .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box .spectrum-Checkbox-checkmark {
      display: none;
    }.spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box .spectrum-Checkbox-partialCheckmark, .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box .spectrum-Checkbox-partialCheckmark {
      display: block;

      transform: scale(1);
      opacity: 1;
    }.spectrum-Checkbox-label {
  display: inline-block;
  margin: 0 0.8125rem;
  font-size: 1.0625rem;
  font-weight: 400;
  vertical-align: middle;
  transition: color 125ms ease-in-out;
}.spectrum-Checkbox-box {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 1.125rem;
  height: 1.125rem;

  border-radius: 0.125rem;
  border-width: 0.125rem;
  border-style: solid;

  vertical-align: middle;

  transition: border 125ms ease-in-out, box-shadow 125ms ease-in-out;
}.spectrum-Checkbox-checkmark,
.spectrum-Checkbox-partialCheckmark {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem;
  height: 0.75rem;

  margin-top: -0.375rem;
  margin-left: -0.375rem;

  opacity: 0;
  transform: scale(0);

  transition: opacity 125ms ease-in-out, transform 125ms ease-in-out;
}.spectrum-Checkbox-partialCheckmark {
  display: none;
}
