/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

/* topdoc
---
name: SelectList
description: A list of options that can be used in a Popover.
status: Beta
markup: |

  <ul class="spectrum-SelectList" role="listbox">
    <li class="spectrum-SelectList-item is-selected" role="option" tabindex="0">
      Ballard
      <svg class="spectrum-Icon spectrum-SelectList-checkmark" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-MenuCheckmark" />
      </svg>
    </li>
    <li class="spectrum-SelectList-item" role="option" tabindex="0">Fremont</li>
    <li class="spectrum-SelectList-item" role="option" tabindex="0">Greenwood</li>
    <hr class="spectrum-SelectList-divider">
    <li class="spectrum-SelectList-item is-disabled" role="option" tabindex="0">United States of America</li>
  </ul>


*/

.spectrum--dark .spectrum-SelectList {
  background-color: rgba(0, 0, 0, 0);
}

.spectrum--dark .spectrum-SelectList-item {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(205, 205, 205);
}

.spectrum--dark .spectrum-SelectList-item:focus,
  .spectrum--dark .spectrum-SelectList-item.is-focused {
    background-color: rgba(255, 255, 255, .04);
    color: rgb(205, 205, 205);
  }

.spectrum--dark .spectrum-SelectList-item:hover {
    background-color: rgba(255, 255, 255, .04);
    color: rgb(205, 205, 205);
  }

.spectrum--dark .spectrum-SelectList-item.is-selected {
    color: rgb(75, 156, 245);
  }

.spectrum--dark .spectrum-SelectList-item.is-selected .spectrum-SelectList-checkmark {
      color: rgb(75, 156, 245);
    }

.spectrum--dark .spectrum-SelectList-item .is-active,
  .spectrum--dark .spectrum-SelectList-item:active {
    background-color: rgba(255, 255, 255, .04);
  }

.spectrum--dark .spectrum-SelectList-item.is-disabled {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    color: rgb(92, 92, 92);
    cursor: default;
  }

.spectrum--dark .spectrum-SelectList-divider {
  background-color: rgb(50, 50, 50);
}
