/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

.spectrum-Pagination-pageButton:hover {
    background-color: rgba(255, 255, 255, .04);
  }

.spectrum-Pagination-pageButton:focus {
    border-color: rgb(38, 128, 235);
  }

.spectrum-Pagination-pageButton.is-active {
    background-color: rgb(205, 205, 205);
    color: rgb(255, 255, 255);
  }
