:root {

  /* Radio button */

  /* Field group */
}

.spectrum-QuickActions {
  visibility: hidden;

  opacity: 0;

  transition: transform 125ms ease-in-out,
              opacity 125ms ease-in-out,
              visibility 0ms linear 125ms;

  pointer-events: none;
}

.spectrum-QuickActions.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}

.spectrum-QuickActions--left.is-open {
  transform: translateX(4px);
}

.spectrum-QuickActions--right.is-open {
  transform: translateX(-4px);
}

.spectrum-QuickActions {

  display: -ms-inline-flexbox;

  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
}

.spectrum-QuickActions--right.is-open { /* should animate to the left when aligned right */
  }

.spectrum-QuickActions--left.is-open { /* should animate to the right when aligned left */
  }

.spectrum-QuickActions-button {
  width: 32px;
  height: 32px;
  margin-left: 12px;
  padding: 0;
  border-width: 1px;
  line-height: 1.875rem;
  border-radius: 16px;
  border-style: solid;
  transition: border-color 125ms ease-out,
    color 125ms ease-out,
    box-shadow 125ms ease-out;
}

.spectrum-QuickActions-button:hover {
    cursor: pointer;
  }

.spectrum-QuickActions-button:active {
    cursor: pointer;
  }

.spectrum-QuickActions-button:first-child {
    margin-left: 0;
  }
