/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum-Toast {
  background-color: rgb(118, 118, 118);
  color: rgb(255, 255, 255);
}
.spectrum-Toast-typeIcon {
  color: white;
}
.spectrum-Toast-closeButton {
  color: white;
}
.spectrum-Toast-closeButton:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
.spectrum-Toast-closeButton.focus-ring {
    background-color: rgba(255, 255, 255, 1);
  }
.spectrum-Toast-closeButton.focus-ring:not(:active) {
      color: rgb(118, 118, 118);
    }
.spectrum-Toast-closeButton:active {
    background-color: rgba(255, 255, 255, 0.15);
  }
/* topdoc
---
name: Toast - Warning
description: The info toast.
markup: |
  <div class="spectrum-Toast spectrum-Toast--warning">
    <svg class="spectrum-Icon spectrum-Toast-typeIcon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertError" />
    </svg>
    <div class="spectrum-Toast-content">The toast is burning.</div>
    <button class="spectrum-Toast-closeButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-ToastClose" />
      </svg>
    </button>
  </div>

*/
.spectrum-Toast--warning {
  background-color: rgb(230, 134, 25);
}
.spectrum-Toast--warning .spectrum-Toast-closeButton.focus-ring:not(:active) {
      color: rgb(230, 134, 25);
    }
/* topdoc
---
name: Toast - Error
description: The error toast.
markup: |
  <div class="spectrum-Toast spectrum-Toast--error">
    <svg class="spectrum-Icon spectrum-Toast-typeIcon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertError" />
    </svg>
    <div class="spectrum-Toast-content">The toast. The toast. The toast is on fire. The toast. The toast. The toast is on fire. The toast. The toast. The toast is on fire. The toast. The toast. The toast is on fire. </div>
    <button class="spectrum-Toast-closeButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-ToastClose" />
      </svg>
    </button>
  </div>

*/
.spectrum-Toast--error {
  background-color: rgb(227, 72, 80);
}
.spectrum-Toast--error .spectrum-Toast-closeButton.focus-ring:not(:active) {
      color: rgb(227, 72, 80);
    }
/* topdoc
---
name: Toast - Info
description: The info toast.
markup: |
  <div class="spectrum-Toast spectrum-Toast--info">
    <svg class="spectrum-Icon spectrum-Toast-typeIcon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertInfo" />
    </svg>
    <div class="spectrum-Toast-content">The toast is high carb.</div>
    <button class="spectrum-Toast-closeButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-ToastClose" />
      </svg>
    </button>
  </div>

*/
.spectrum-Toast--info {
  background-color: rgb(38, 128, 235);
}
.spectrum-Toast--info .spectrum-Toast-closeButton.focus-ring:not(:active) {
      color: rgb(38, 128, 235);
    }
/* topdoc
---
name: Toast - Success
description: The info toast.
markup: |
  <div class="spectrum-Toast spectrum-Toast--success">
    <svg class="spectrum-Icon spectrum-Toast-typeIcon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-AlertSuccess" />
    </svg>
    <div class="spectrum-Toast-content">The toast is golden brown.</div>
    <button class="spectrum-Toast-closeButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-ToastClose" />
      </svg>
    </button>
  </div>

*/
.spectrum-Toast--success {
  background-color: rgb(45, 157, 120);
}
.spectrum-Toast--success .spectrum-Toast-closeButton.focus-ring:not(:active) {
      color: rgb(45, 157, 120);
    }

