.spectrum--dark .spectrum-Radio-input:checked + .spectrum-Radio-checkmark {
    border-color: rgb(153, 153, 153);
  }
.spectrum--dark .spectrum-Radio-input:focus + .spectrum-Radio-checkmark {
      border-color: rgb(38, 128, 235);
      box-shadow: 0 0 0 1px rgb(38, 128, 235);
    }
.spectrum--dark .spectrum-Radio-input:focus ~ .spectrum-Radio-label {
      color: rgb(90, 169, 250);
    }
/* topdoc
{{ radio/radio-default.yml }}
*/
.spectrum--dark .spectrum-Radio .spectrum-Radio-label {
    color: rgb(205, 205, 205);
  }
.spectrum--dark .spectrum-Radio .spectrum-Radio-checkmark {
    border-color: rgb(123, 123, 123);
  }
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-checkmark {
      border-color: rgb(255, 255, 255);
      box-shadow: none;
    }
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Radio:active .spectrum-Radio-checkmark {
      border-color: rgb(153, 153, 153);
    }
.spectrum--dark .spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(205, 205, 205);
    }
/* topdoc
{{ radio/radio-disabled.yml }}
*/
.spectrum--dark .spectrum-Radio-input:disabled + .spectrum-Radio-checkmark {
    border-color: rgb(77, 77, 77);
  }
.spectrum--dark .spectrum-Radio-input:disabled ~ .spectrum-Radio-label {
    color: rgb(92, 92, 92);
  }
.spectrum--dark .spectrum-Radio-input:invalid + .spectrum-Radio-checkmark {
      border-color: rgb(236, 91, 98);
    }
.spectrum--dark .spectrum-Radio-input:invalid ~ .spectrum-Radio-label {
      color: rgb(236, 91, 98);
    }
/* topdoc
{{ radio/radio-required.yml }}
*/
.spectrum--dark .spectrum-Radio-input:invalid:hover + .spectrum-Radio-checkmark {
      border-color: rgb(247, 109, 116);
    }
.spectrum--dark .spectrum-Radio-input:invalid:hover ~ .spectrum-Radio-label {
      color: rgb(247, 109, 116);
    }
.spectrum--dark .spectrum-Radio-input:invalid:active + .spectrum-Radio-checkmark {
      border-color: rgb(255, 123, 130);
    }
.spectrum--dark .spectrum-Radio-input:invalid:active ~ .spectrum-Radio-label {
      color: rgb(255, 123, 130);
    }
