.spectrum--light .spectrum-Radio-input:checked + .spectrum-Radio-checkmark {
    border-color: rgb(112, 112, 112);
  }
.spectrum--light .spectrum-Radio-input:focus + .spectrum-Radio-checkmark {
      border-color: rgb(38, 128, 235);
      box-shadow: 0 0 0 1px rgb(38, 128, 235);
    }
.spectrum--light .spectrum-Radio-input:focus ~ .spectrum-Radio-label {
      color: rgb(9, 90, 186);
    }
/* topdoc
{{ radio/radio-default.yml }}
*/
.spectrum--light .spectrum-Radio .spectrum-Radio-label {
    color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Radio .spectrum-Radio-checkmark {
    border-color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-Radio:hover .spectrum-Radio-checkmark {
      border-color: rgb(44, 44, 44);
      box-shadow: none;
    }
.spectrum--light .spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-Radio:active .spectrum-Radio-checkmark {
      border-color: rgb(112, 112, 112);
    }
.spectrum--light .spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(75, 75, 75);
    }
/* topdoc
{{ radio/radio-disabled.yml }}
*/
.spectrum--light .spectrum-Radio-input:disabled + .spectrum-Radio-checkmark {
    border-color: rgb(202, 202, 202);
  }
.spectrum--light .spectrum-Radio-input:disabled ~ .spectrum-Radio-label {
    color: rgb(197, 197, 197);
  }
.spectrum--light .spectrum-Radio-input:invalid + .spectrum-Radio-checkmark {
      border-color: rgb(215, 55, 63);
    }
.spectrum--light .spectrum-Radio-input:invalid ~ .spectrum-Radio-label {
      color: rgb(215, 55, 63);
    }
/* topdoc
{{ radio/radio-required.yml }}
*/
.spectrum--light .spectrum-Radio-input:invalid:hover + .spectrum-Radio-checkmark {
      border-color: rgb(201, 37, 45);
    }
.spectrum--light .spectrum-Radio-input:invalid:hover ~ .spectrum-Radio-label {
      color: rgb(201, 37, 45);
    }
.spectrum--light .spectrum-Radio-input:invalid:active + .spectrum-Radio-checkmark {
      border-color: rgb(187, 18, 26);
    }
.spectrum--light .spectrum-Radio-input:invalid:active ~ .spectrum-Radio-label {
      color: rgb(187, 18, 26);
    }
