/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum--light .spectrum-Pagination-pageButton:hover {
    background-color: rgba(44, 44, 44, .04);
  }
.spectrum--light .spectrum-Pagination-pageButton:focus {
    border-color: rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Pagination-pageButton.is-active {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
  }
