
.spectrum--lightest .spectrum-Steplist {
  --spectrum-steplist-complete-marker-color: rgb(149, 149, 149);
  --spectrum-steplist-complete-segment-color: rgb(188, 188, 188);
  --spectrum-steplist-complete-label-text-color: rgb(116, 116, 116);
  --spectrum-steplist-current-marker-color: rgb(80, 80, 80);
  --spectrum-steplist-current-label-text-color: rgb(80, 80, 80);
  --spectrum-steplist-current-marker-color-key-focus: rgb(55, 142, 240);
  --spectrum-steplist-incomplete-marker-color: rgb(234, 234, 234);
  --spectrum-steplist-incomplete-segment-color: rgb(234, 234, 234);
  --spectrum-steplist-incomplete-label-text-color: rgb(149, 149, 149);
}
