/* topdoc
{{ flyout/flyout-default.yml }}
*/
.spectrum-Flyout {
  background-color: rgb(8, 8, 8);
  border-color: rgb(60, 60, 60);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.spectrum-Flyout-option {
  background-color: transparent;
  color: rgb(180, 180, 180);
}
.spectrum-Flyout-option:focus {
    background-color: rgba(rgb(226, 226, 226), .04);
    color: rgb(180, 180, 180);
    background-image: linear-gradient(to right, rgb(20, 115, 230) 0%, rgb(20, 115, 230) 2px, transparent 2px, transparent 100%);
  }
.spectrum-Flyout-option:focus.is-selected {
      background-color: rgba(rgb(226, 226, 226), .04);
      color: rgb(55, 142, 240);
      background-image: linear-gradient(to right, rgb(20, 115, 230) 0%, rgb(20, 115, 230) 2px, transparent 2px, transparent 100%);
    }
.spectrum-Flyout-option:hover {
    background-color: rgba(rgb(226, 226, 226), .04);
    color: rgb(180, 180, 180);
  }
.spectrum-Flyout-option:hover.is-selected {
      background-color: rgba(rgb(226, 226, 226), .04);
      color: rgb(55, 142, 240);
    }
.spectrum-Flyout-option.is-selected {
    background-color: transparent;
    color: rgb(55, 142, 240);
  }
.spectrum-Flyout-option.is-selected::after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 8' enable-background='new 0 0 10 8' xml:space='preserve'%3E%3Cpath style='fill:rgb%2820%2C 115%2C 230%29' d='M3.8%2C7.4C3.5%2C7.4%2C3.2%2C7.3%2C3%2C7.1L0.8%2C4.8c-0.4-0.4-0.4-1%2C0-1.4s1-0.4%2C1.4%2C0L3.8%2C5l4-4c0.4-0.4%2C1-0.4%2C1.4%2C0 s0.4%2C1%2C0%2C1.4L4.5%2C7.1C4.3%2C7.3%2C4%2C7.4%2C3.8%2C7.4z'/%3E%3C/svg%3E");
    }
.spectrum-Flyout-option.is-disabled {
    background-color: transparent;
    color: rgb(73, 73, 73);
  }
.spectrum-Flyout-divider {
  background-color: rgb(38, 38, 38);
}
