/* TODO: is it wonky that textarea shares the selector? */
/* It's a little wonky, right? */
/* topdoc
{{ textfield/textarea-default.yml }}
*/
/* topdoc
{{ textfield/textarea-quiet.yml }}
*/
/* topdoc
{{ textfield/textfield-default.yml }}
*/
.spectrum-Textfield {
  background-color: rgb(8, 8, 8);
  border-color: rgb(45, 45, 45);
  color: rgb(180, 180, 180);
}
.spectrum-Textfield::-webkit-input-placeholder {
    color: rgb(105, 105, 105);
  }
.spectrum-Textfield:-ms-input-placeholder {
    color: rgb(105, 105, 105);
  }
.spectrum-Textfield::placeholder {
    color: rgb(105, 105, 105);
  }
.spectrum-Textfield:hover {
    border-color: rgb(60, 60, 60);
    box-shadow: none;
  }
.spectrum-Textfield:hover::-webkit-input-placeholder {
      color: rgb(180, 180, 180);
    }
.spectrum-Textfield:hover:-ms-input-placeholder {
      color: rgb(180, 180, 180);
    }
.spectrum-Textfield:hover::placeholder {
      color: rgb(180, 180, 180);
    }
.spectrum-Textfield:active {
    border-color: rgb(20, 115, 230);
  }
.spectrum-Textfield:focus {
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum-Textfield[disabled] {
    background-color: rgb(38, 38, 38);
    border-color: transparent;
    color: rgb(73, 73, 73);

    /* For safari mobile browser */
    -webkit-text-fill-color: rgb(73, 73, 73);
  }
.spectrum-Textfield[disabled]::-webkit-input-placeholder {
      color: rgb(45, 45, 45);
    }
.spectrum-Textfield[disabled]:-ms-input-placeholder {
      color: rgb(45, 45, 45);
    }
.spectrum-Textfield[disabled]::placeholder {
      color: rgb(45, 45, 45);
    }
.spectrum-Textfield .is-invalid,
  .spectrum-Textfield:invalid {
    border-color: rgb(215, 55, 63);
  }
.spectrum-Textfield .is-invalid:focus, .spectrum-Textfield:invalid:focus { /* might break things due to pre-defined focus */
      box-shadow: 0 0 0 1px rgb(215, 55, 63);
    }
/* topdoc
{{ textfield/textfield-quiet.yml }}
*/
.spectrum-Textfield--quiet {
  background-color: transparent;
  border-color: rgb(45, 45, 45);
}
.spectrum-Textfield--quiet:hover {
    border-color: rgb(60, 60, 60);
  }
.spectrum-Textfield--quiet:active {
    border-color: rgb(20, 115, 230);
  }
.spectrum-Textfield--quiet:focus {
    border-color: rgb(20, 115, 230);
    box-shadow: 0 1px 0 rgb(20, 115, 230);
  }
.spectrum-Textfield--quiet:disabled {
    background-color: transparent;
    border-color:  rgb(45, 45, 45);
  }
.spectrum-Textfield--quiet .is-invalid,
  .spectrum-Textfield--quiet:invalid {
    border-color: rgb(215, 55, 63);
  }
.spectrum-Textfield--quiet .is-invalid:focus, .spectrum-Textfield--quiet:invalid:focus {
      box-shadow: 0 1px 0 rgb(215, 55, 63);
    }
