/* TODO: is it wonky that textarea shares the selector? */
/* It's a little wonky, right? */
/* topdoc
---
name: Text Area - Default
description: A Spectrum text area - (a multiline text field)
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <textarea placeholder="Enter your life story" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline">
  </textarea>

  <textarea placeholder="Enter your life story" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline" disabled>
  </textarea>

*/
/* topdoc
---
name: Text Area - Quiet
description: A Spectrum text area - quiet
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <textarea placeholder="Enter your life story" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline spectrum-Textfield--quiet">
  </textarea>

  <textarea placeholder="Enter your life story" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline spectrum-Textfield--quiet" disabled>
  </textarea>

*/
/* topdoc
---
name: Text Field - Default
description: A Spectrum text field
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield">

  <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield" disabled>

*/
.spectrum-Textfield {
  background-color: rgb(255, 255, 255);
  border-color: rgb(234, 234, 234);
  color: rgb(80, 80, 80);
}
.spectrum-Textfield::-webkit-input-placeholder {
    color: rgb(149, 149, 149);
  }
.spectrum-Textfield:-ms-input-placeholder {
    color: rgb(149, 149, 149);
  }
.spectrum-Textfield::placeholder {
    color: rgb(149, 149, 149);
  }
.spectrum-Textfield:hover {
    border-color: rgb(211, 211, 211);
    box-shadow: none;
  }
.spectrum-Textfield:hover::-webkit-input-placeholder {
      color: rgb(80, 80, 80);
    }
.spectrum-Textfield:hover:-ms-input-placeholder {
      color: rgb(80, 80, 80);
    }
.spectrum-Textfield:hover::placeholder {
      color: rgb(80, 80, 80);
    }
.spectrum-Textfield:active {
    border-color: rgb(55, 142, 240);
  }
.spectrum-Textfield:focus {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum-Textfield[disabled] {
    background-color: rgb(244, 244, 244);
    border-color: transparent;
    color: rgb(188, 188, 188);

    /* For safari mobile browser */
    -webkit-text-fill-color: rgb(188, 188, 188);
  }
.spectrum-Textfield[disabled]::-webkit-input-placeholder {
      color: rgb(234, 234, 234);
    }
.spectrum-Textfield[disabled]:-ms-input-placeholder {
      color: rgb(234, 234, 234);
    }
.spectrum-Textfield[disabled]::placeholder {
      color: rgb(234, 234, 234);
    }
.spectrum-Textfield .is-invalid,
  .spectrum-Textfield:invalid {
    border-color: rgb(236, 91, 98);
  }
.spectrum-Textfield .is-invalid:focus, .spectrum-Textfield:invalid:focus { /* might break things due to pre-defined focus */
      box-shadow: 0 0 0 1px rgb(236, 91, 98);
    }
/* topdoc
---
name: Text Field - Quiet
description: A Spectrum text field - quiet
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--quiet">

  <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--quiet" disabled>

*/
.spectrum-Textfield--quiet {
  background-color: transparent;
  border-color: rgb(234, 234, 234);
}
.spectrum-Textfield--quiet:hover {
    border-color: rgb(211, 211, 211);
  }
.spectrum-Textfield--quiet:active {
    border-color: rgb(55, 142, 240);
  }
.spectrum-Textfield--quiet:focus {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 1px 0 rgb(55, 142, 240);
  }
.spectrum-Textfield--quiet:disabled {
    background-color: transparent;
    border-color:  rgb(234, 234, 234);
  }
.spectrum-Textfield--quiet .is-invalid,
  .spectrum-Textfield--quiet:invalid {
    border-color: rgb(236, 91, 98);
  }
.spectrum-Textfield--quiet .is-invalid:focus, .spectrum-Textfield--quiet:invalid:focus {
      box-shadow: 0 1px 0 rgb(236, 91, 98);
    }
