
.spectrum--darkest .spectrum-Steplist {
  --spectrum-steplist-complete-marker-color: rgb(124, 124, 124);
  --spectrum-steplist-complete-segment-color: rgb(92, 92, 92);
  --spectrum-steplist-complete-label-text-color: rgb(162, 162, 162);
  --spectrum-steplist-current-marker-color: rgb(200, 200, 200);
  --spectrum-steplist-current-label-text-color: rgb(200, 200, 200);
  --spectrum-steplist-current-marker-color-key-focus: rgb(20, 115, 230);
  --spectrum-steplist-incomplete-marker-color: rgb(57, 57, 57);
  --spectrum-steplist-incomplete-segment-color: rgb(57, 57, 57);
  --spectrum-steplist-incomplete-label-text-color: rgb(124, 124, 124);
}
