:root {

  /* Radio button */

  /* Field group */
}

:root {
  /* Icon Button */
}

.spectrum-Button {
  display: inline-block;
  box-sizing: border-box;

  border-width: 2px;
  border-style: solid;
  border-radius: 16px;

  height: 32px;
  padding: 0 14px 1px; /* 1px to push up text, sits kind of low */
  
  /* Remove button the margin in Firefox and Safari. */
  margin: 0;

  /* Show the button overflow in Edge. */
  overflow: visible;

  font-family: inherit;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-decoration: none;

  /* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
  text-transform: none;
  -webkit-font-smoothing: antialiased;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Adjacent buttons should be aligned correctly */
  vertical-align: top;

  transition: background 125ms ease-out,
              border-color 125ms ease-out,
              color 125ms ease-out,
              box-shadow 125ms ease-out;

  cursor: pointer;
}

.spectrum-Button:focus {
    outline: none;
  }

.spectrum-Button:disabled,
  .spectrum-Button.is-disabled {
    cursor: default;
  }

/* Fix Firefox */

.spectrum-Button::-moz-focus-inner {
    border: 0;
    
    /* Remove the inner border and padding for button in Firefox. */
    border-style: none;
    padding: 0;

    /* Use uppercase PX so values don't get converted to rem */
    margin-top: -2PX;
    margin-bottom: -2PX;
  }

/* Restore the focus styles unset by the previous rule. */

.spectrum-Button:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

.spectrum-Button:hover,
  .spectrum-Button:active {
    box-shadow: none;
  }

.spectrum-Button .spectrum-Icon {
    vertical-align: text-top;
  }

.spectrum-Button .spectrum-Icon + .spectrum-Button-label {
    margin-left: 8px;
  }

/* Space out buttons when placed next to eachother */

.spectrum-Button + .spectrum-Button {
    margin-left: 12px;
  }

a.spectrum-Button {
  /* Remove appearance for clickable types in iOS and Safari. */
  -webkit-appearance: none;
  /* Make link text not selectable  */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.spectrum-Button--action {
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0 12px;
  border-width: 1px;
  border-radius: 4px;
}

.spectrum-Button--action--iconOnly {
  padding: 0 8px;
}

.spectrum-Button--quiet--action {
  font-size: 0.875rem;
  font-weight: 400;
  border-width: 0;
  border-radius: 4px;
}

.spectrum-Button--quiet--action--iconOnly {
  padding: 0 8px;
}

.spectrum-Button--toggle {
  font-size: 0.875rem;
  font-weight: 400;
}

.spectrum-Button--logic--and,
.spectrum-Button--logic--or {
  height: 24px;
  line-height: 0;
  padding: 8px;
  border-width: 2px;
  border-radius: 4px;
  font-size: 0.875rem;
  font-weight: 700;
}

.spectrum-Button--block {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spectrum-Button--icon {
  position: relative;

  /* Contain child elements with z-index */
  z-index: 0;

  box-sizing: border-box;

  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;

  border: none;
  border-radius: 4px;

  /* There's never a background itself */
  background-color: transparent;

  text-align: center;

  cursor: pointer;
}

.spectrum-Button--icon:focus {
    outline: none;
  }

/* The artificial background */

.spectrum-Button--icon::before {
    display: block;

    /* Center ourselves */
    position: absolute;
    top: 8px;
    left: 8px;

    width: 16px;
    height: 16px;

    /* Be below content and icons */
    z-index: 0;

    content: '';

    border-radius: 4px;
  }

.spectrum-Button--icon:disabled {
    cursor: default;
  }

.spectrum-Button--icon .spectrum-Icon {
    /* Float above the artificial background */
    z-index: 1;

    /* Be centered */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 12px;
    height: 12px;
  }

.spectrum-Button--dropdown,
.spectrum-Button--quiet--dropdown {
  height: 32px;

  font-family: inherit;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: normal;
  -webkit-font-smoothing: initial;

  cursor: pointer;
  outline: none;
}

.spectrum-Button--dropdown {
  margin: 0;
  padding: 0 12px;

  border: 1px solid;
  border-radius: 4px;

  transition: background-color 125ms,
    box-shadow 125ms,
    border-color 125ms;
}

.spectrum-Button--dropdown:disabled,
  .spectrum-Button--dropdown.is-disabled {
    border-width: 0;
    cursor: default;
  }

.spectrum-Button--dropdown.is-open {
    border: 1px solid;
  }

.spectrum-Button--quiet--dropdown {
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;
}
