.spectrum-Button,
.spectrum-ActionButton,
.spectrum-LogicButton,
.spectrum-FieldButton,
.spectrum-ClearButton {
  display: inline-block;
  box-sizing: border-box;

  /* Show the button overflow in Edge. */
  overflow: visible;

  /* Remove button the margin in Firefox and Safari. */
  margin: 0;

  /* Remove the inheritance of text transform on button in Edge, Firefox, and IE. */
  text-transform: none;
  -webkit-font-smoothing: antialiased;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  /* Adjacent buttons should be aligned correctly */
  vertical-align: top;

  transition: background 125ms ease-out,
              border-color 125ms ease-out,
              color 125ms ease-out,
              box-shadow 125ms ease-out;

  text-decoration: none;
  text-align: center;
  font-family: adobe-clean, Source Sans Pro, Helvetica, Arial, sans-serif;

  cursor: pointer;
}.spectrum-Button:focus,
.spectrum-ActionButton:focus,
.spectrum-LogicButton:focus,
.spectrum-FieldButton:focus,
.spectrum-ClearButton:focus {
    outline: none;
  }/* Fix Firefox */.spectrum-Button::-moz-focus-inner,
.spectrum-ActionButton::-moz-focus-inner,
.spectrum-LogicButton::-moz-focus-inner,
.spectrum-FieldButton::-moz-focus-inner,
.spectrum-ClearButton::-moz-focus-inner {
    border: 0;

    /* Remove the inner border and padding for button in Firefox. */
    border-style: none;
    padding: 0;

    /* Use uppercase PX so values don't get converted to rem */
    margin-top: -2PX;
    margin-bottom: -2PX;
  }/* Restore the focus styles unset by the previous rule. */.spectrum-Button:-moz-focusring,
.spectrum-ActionButton:-moz-focusring,
.spectrum-LogicButton:-moz-focusring,
.spectrum-FieldButton:-moz-focusring,
.spectrum-ClearButton:-moz-focusring {
    outline: 0.0625rem dotted ButtonText;
  }.spectrum-Button:disabled,
.spectrum-ActionButton:disabled,
.spectrum-LogicButton:disabled,
.spectrum-FieldButton:disabled,
.spectrum-ClearButton:disabled {
    cursor: default;
  }.spectrum-Button .spectrum-Icon,
.spectrum-ActionButton .spectrum-Icon,
.spectrum-LogicButton .spectrum-Icon,
.spectrum-FieldButton .spectrum-Icon,
.spectrum-ClearButton .spectrum-Icon {
    height: 100%;
    vertical-align: middle;
  }.spectrum-Button {

  border-width: 0.125rem;
  border-style: solid;
  border-radius: 1.25rem;

  height: 2.5rem;

  padding: 0 1.25rem 0.0625rem; /* 1px to push up text, sits kind of low */

  font-size: 1.125rem;
  font-weight: 700;
}.spectrum-Button:hover,
  .spectrum-Button:active {
    box-shadow: none;
  }.spectrum-Button .spectrum-Icon + .spectrum-Button-label {
    margin-left: 0.625rem;
  }/* Space out buttons when placed next to eachother */.spectrum-Button + .spectrum-Button {
    margin-left: 0.75rem;
  }a.spectrum-Button {
  /* Remove appearance for clickable types in iOS and Safari. */
  -webkit-appearance: none;
  /* Make link text not selectable  */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}.spectrum-ActionButton {

  height: 2.5rem;
  min-width: 2.5rem;
  padding: 0 0.9375rem;

  border-width: 0.0625rem;
  border-radius: 0.3125rem;

  font-size: 1.0625rem;
  font-weight: 400;

  text-align: center;
}.spectrum-ActionButton-label,
.spectrum-Button-label {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}.spectrum-ActionButton-label:empty, .spectrum-Button-label:empty {
    display: none;
  }.spectrum-Button-label {
  line-height: 2.25rem;
}.spectrum-ActionButton-label {
  line-height: 2.375rem;
}.spectrum-ActionButton--quiet {
  padding: 0 0.9375rem;

  border-width: 0;
  border-radius: 0.3125rem;

  font-size: 1.0625rem;
  font-weight: 400;
}.spectrum-ActionButton--quiet .spectrum-ActionButton-label {
    line-height: 2.5rem;
  }.spectrum-LogicButton {

  height: 1.5rem;
  padding: 0.625rem;

  border-width: 0.125rem;
  border-radius: 0.3125rem;

  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 0;
}.spectrum-Button--block {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}.spectrum-FieldButton {

  height: 2.5rem;

  padding: 0 0.9375rem;

  font-family: inherit;
  font-weight: normal;
  font-size: 1.0625rem;
  line-height: normal;
  -webkit-font-smoothing: initial;

  cursor: pointer;
  outline: none;
}.spectrum-FieldButton {
  margin: 0;
  padding: 0 0.9375rem;

  border-width: 0.0625rem;
  border-style: solid;
  border-radius: 0.25rem;

  transition: background-color 125ms,
    box-shadow 125ms,
    border-color 125ms;
}.spectrum-FieldButton:disabled,
  .spectrum-FieldButton.is-disabled {
    border-width: 0;
    cursor: default;
  }.spectrum-FieldButton.is-open {
    border-width: 0.0625rem;
  }.spectrum-FieldButton--quiet {
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;
}.spectrum-ClearButton {

  width: 2.5rem;
  height: 2.5rem;

  padding: 0;
  margin: 0;

  border: none;
}.spectrum-ClearButton .spectrum-Icon {
    width: 0.625rem;
    height: 100%;
  }.spectrum-ClearButton--small {
  width: 1.875rem;
  height: 1.875rem;
}
