.spectrum-Site {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.spectrum-Site-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  max-height: 100%;
  height: 100%;
}
.spectrum-Site-header {
  display: none;

  box-sizing: border-box;
  height: 60px;
  padding: 10px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.spectrum-Site-sideBar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;

  transition: none;
}
.spectrum-Site-sideBarHeader {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;

  padding: 40px;

  text-decoration: none;
}
.spectrum-Site-sideBarHeader:focus {
  outline: none;
}
.spectrum-Site-sideBarHeader:focus h2 {
  text-decoration: underline;
}
.spectrum-Site-search {
  padding: 0 40px 40px 40px;
}
.spectrum-Site-searchResults {
  top: -100%;
  left: -100%;
  max-height: calc(90vh - 120px);
  z-index: 101;
  position: absolute;

  overflow-y: auto;
}
.spectrum-Site-noSearchResults {
  padding: 40px 40px 40px;
}
.spectrum-Site-logo {
  margin-right: 25px;
  width: 50px;
}
.spectrum-Site-nav {
  -ms-flex-positive: 1;
      flex-grow: 1;

  padding: 0px 24px 40px;
}
.spectrum-Site-bottomNav {
  margin-top: 80px;
}
.spectrum-Site-mainContainer {
  -ms-flex-positive: 1;
      flex-grow: 1;
  border: none;

  overflow-y: auto;
}
.spectrum-Site-page {
  padding: 40px 52px 24px 52px;
  max-width: 1080px;
  margin: auto;
}
.spectrum-Site-hero {
  max-width: 75%;
  margin: auto;
}
.spectrum-Site-heroHeading {
  margin-bottom: 16px;
}
.spectrum-Site-heroImage {
  margin-top: 40px;
  max-width: 100%;
}
.spectrum-Site-overlay {
  display: none;
  visibility: hidden;

  opacity: 0;

  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;

  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .spectrum-Site-overlay {
    display: block;
    transition: opacity 160ms ease-out 0ms,
                visibility 0ms linear 160ms;
  }

  .spectrum-Site-overlay.is-open {
    visibility: visible;

    opacity: 1;

    pointer-events: auto;
    transition: opacity 160ms ease-in 0ms;
  }

  .spectrum-Site-overlay {
    visibility: visible;
  }

  .spectrum-Site-sideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 100%;
    z-index: 100;

    transform: translateX(0);
    transition: transform 160ms ease-in-out;
  }

  .spectrum-Site-sideBar.is-open {
    transform: translateX(100%);
  }

  .spectrum-Site-header {
    display: block;
  }

  .spectrum-Site-page {
    padding-left: 0;
    padding-right: 0;
  }

  .spectrum-Site-hero {
    max-width: 100%;
  }

  .spectrum-Site-heroHeading h1.spectrum-Heading1--display {
    font-size: 44px;
  }
}
.spectrum-CSSComponent {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 70px;
}
.spectrum-CSSComponent-heading {
  margin-bottom: 20px;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: start;
}
.spectrum-CSSComponent-statusContainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
  vertical-align: bottom;
  margin: 0 20px;
}
.spectrum-CSSComponent-status {
  margin: 0 10px;
}
.spectrum-CSSComponent-version {
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: right;
}
.spectrum-CSSComponent-description {
  margin-bottom: 80px;
}
.spectrum-CSSExample {
  margin-bottom: 50px;
}
.spectrum-CSSExample-container {
  position: relative;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  border-radius: 8px;
}
.spectrum-CSSExample-header {
  margin-bottom: 50px;
}
.spectrum-CSSExample-link {
  color: inherit;
  text-decoration: none;
}
.spectrum-CSSExample-link:hover {
  text-decoration: underline;
}
.spectrum-CSSExample-example,
.spectrum-CSSExample-markup {
  box-sizing: border-box;
}
.spectrum-CSSExample-example {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;

  min-height: 80px;

  padding: 40px 50px;

  border-radius: 8px 8px 0 0;
}
.spectrum-CSSExample-markup {
  position: relative;
  max-width: 100%;
  max-height: 112px;

  padding: 13px 22px;

  border-radius: 0 0 8px 8px;

  font-size: 12px;

  overflow: hidden;
}
.spectrum-CSSExample-markup.is-open {
  max-height: 100%;
}
.spectrum-CSSExample-markup.is-open .spectrum-CSSExample-markupToggle::before {
  display: none;
}
.spectrum-CSSExample-markupToggle + pre {
  padding-bottom: 10px;
}
.spectrum-CSSExample-example--overlay {
  position: relative;
}
.spectrum-Dialog.spectrum-CSSExample-dialog {
  position: relative !important;
  transform: none !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  top: 0;
  z-index: 1;
  transition: none;
}
.spectrum-CSSExample-overlayShowButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spectrum-CSSExample-markup pre code {
  white-space: pre-wrap;
}
.spectrum-CSSExample-markupToggle {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-sizing: border-box;
  padding: 0.5rem 0;


  font-size: 17px;
  text-align: center;
}
.spectrum-CSSExample-markupToggle::before {
  content: '';

  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;

  width: 100%;
  height: 40px;

}
@media screen and (max-width: 960px) {
  .spectrum-CSSComponent {
    padding: 0 15px;
    margin: 10px auto;
  }

  .spectrum-CSSComponent-description {
    margin-bottom: 15px;
  }

  .spectrum-CSSExample {
    margin-bottom: 20px;
  }

  .spectrum-CSSExample-example {
    padding: 20px 20px;
  }

  .spectrum-CSSExample-header {
    margin-bottom: 15px;
  }

  .spectrum-CSSComponent-statusContainer,
  .spectrum-CSSComponent-version {
    display: none;
  }
  .spectrum-CSSComponent-title {
    font-size: 34px;
  }
}
.u-scrollable {
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
}
.u-scrollable::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.u-scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 8px;
  height: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
