
.spectrum--darkest .spectrum-SideNav {
  --spectrum-sidenav-item-background-color: rgba(0, 0, 0, 0);
  --spectrum-sidenav-item-text-color: rgb(200, 200, 200);
  --spectrum-sidenav-header-text-color: rgb(162, 162, 162);
  --spectrum-sidenav-item-background-color-hover: rgba(239,239,239,0.08);
  --spectrum-sidenav-item-text-color-hover: rgb(239, 239, 239);
  --spectrum-sidenav-item-background-color-key-focus: rgba(239,239,239,0.08);
  --spectrum-sidenav-item-text-color-key-focus: rgb(239, 239, 239);
  --spectrum-sidenav-item-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-sidenav-item-background-color-down: rgba(239,239,239,0.08);
  --spectrum-sidenav-item-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-sidenav-item-text-color-disabled: rgb(92, 92, 92);
  --spectrum-sidenav-item-background-color-selected: rgba(239,239,239,0.08);
  --spectrum-sidenav-item-text-color-selected: rgb(239, 239, 239);
}
