
.spectrum--darkest .spectrum-TreeView {
  --spectrum-alias-highlight-selected: rgba(38,128,235,0.2);
  --spectrum-alias-text-color-disabled: rgb(92, 92, 92);
  --spectrum-alias-icon-color-disabled: rgb(73, 73, 73);
  --spectrum-treeview-item-text-color: rgb(200, 200, 200);
  --spectrum-treeview-item-text-color-hover: rgb(239, 239, 239);
  --spectrum-treeview-item-background-color-hover: rgba(239,239,239,0.08);
  --spectrum-treeview-item-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-treeview-item-background-color-key-focus: rgba(239,239,239,0.08);
}
