/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--lightest .spectrum-ComboBox .spectrum-Button {
    border-color: rgb(234, 234, 234);
    background-color: rgb(255, 255, 255);
    color: rgb(118, 118, 118);
  }
.spectrum--lightest .spectrum-ComboBox .spectrum-Button:hover {
      border-color: rgb(211, 211, 211);
      background-color: rgb(255, 255, 255);
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-ComboBox .spectrum-Button:active,
    .is-open .spectrum--lightest .spectrum-ComboBox .spectrum-Button {
      border-color: rgb(211, 211, 211);
      background-color: rgb(244, 244, 244);
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-ComboBox .spectrum-Button:disabled {
      background-color: rgb(244, 244, 244);
    }
.spectrum--lightest .spectrum-ComboBox .spectrum-Button:disabled:hover {
        border-color: transparent;
        background-color: rgb(244, 244, 244);
        color: rgb(188, 188, 188);
      }
.spectrum--lightest .spectrum-ComboBox .spectrum-Button.is-invalid,
    .spectrum--lightest .spectrum-ComboBox .spectrum-Button:invalid {
      border-color: rgb(236, 91, 98);
    }
.spectrum--lightest .spectrum-ComboBox-input:focus ~ .spectrum-Button {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-ComboBox-input:focus.is-invalid ~ .spectrum-Button, .spectrum--lightest .spectrum-ComboBox-input:focus:invalid ~ .spectrum-Button {
      border-color: rgb(236, 91, 98);
      box-shadow: 0 0 0 1px rgb(236, 91, 98);
    }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button {
    border-color: rgb(234, 234, 234);
    background-color: inherit;
  }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button:hover,
    .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button.focus-ring,
    .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button:active,
    .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button.is-open,
    .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button:invalid,
    .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button.is-invalid,
    .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button:disabled,
    .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-Button:disabled:hover {
      background-color: inherit;
    }
.spectrum--lightest .spectrum-ComboBox--quiet:hover .spectrum-Button {
      border-color: rgb(211, 211, 211);
    }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-input.is-invalid ~ .spectrum-Button, .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-input:invalid ~ .spectrum-Button {
        border-color: rgb(236, 91, 98);
      }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus ~ .spectrum-Button {
        border-color: rgb(38, 128, 235);
        box-shadow: 0 1px 0 rgb(38, 128, 235);
      }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus.is-invalid ~ .spectrum-Button, .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-input:focus:invalid ~ .spectrum-Button {
          border-color: rgb(236, 91, 98);
          box-shadow: 0 1px 0 rgb(236, 91, 98);
        }
