/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--lightest .spectrum-ComboBox-textfield:focus ~ .spectrum-ComboBox-button {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-ComboBox-textfield:focus.is-invalid ~ .spectrum-ComboBox-button, .spectrum--lightest .spectrum-ComboBox-textfield:focus:invalid ~ .spectrum-ComboBox-button {
      border-color: rgb(236, 91, 98);
      box-shadow: 0 0 0 1px rgb(236, 91, 98);
    }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-button {
    border-color: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-ComboBox--quiet:hover .spectrum-ComboBox-button {
      border-color: rgb(211, 211, 211);
    }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-textfield.is-invalid ~ .spectrum-ComboBox-button, .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:invalid ~ .spectrum-ComboBox-button {
        border-color: rgb(236, 91, 98);
      }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:focus ~ .spectrum-ComboBox-button {
        border-color: rgb(38, 128, 235);
        box-shadow: 0 1px 0 rgb(38, 128, 235);
      }
.spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:focus.is-invalid ~ .spectrum-ComboBox-button, .spectrum--lightest .spectrum-ComboBox--quiet .spectrum-ComboBox-textfield:focus:invalid ~ .spectrum-ComboBox-button {
          border-color: rgb(236, 91, 98);
          box-shadow: 0 1px 0 rgb(236, 91, 98);
        }
.spectrum--lightest .spectrum-ComboBox-button {
  border-color: rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  color: rgb(118, 118, 118);

}
.spectrum--lightest .spectrum-ComboBox-button:hover {
    border-color: rgb(211, 211, 211);
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-ComboBox-button:active,
  .is-open .spectrum--lightest .spectrum-ComboBox-button {
    border-color: rgb(211, 211, 211);
    background-color: rgb(244, 244, 244);
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-ComboBox-button:disabled:hover {
    border-color: transparent;
    background-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-ComboBox-button.is-invalid,
  .spectrum--lightest .spectrum-ComboBox-button:invalid {
    border-color: rgb(236, 91, 98);
  }
.spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-button {
    background-color: inherit;
  }
.spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-button:hover,
    .spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-button.focus-ring,
    .spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-button:active,
    .spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-button.is-open,
    .spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-button:invalid,
    .spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-button.is-invalid,
    .spectrum-ComboBox--quiet .spectrum--lightest .spectrum-ComboBox-buttondisabled {
      background-color: inherit;
    }
