
.spectrum--darkest .spectrum-Alert {
  --spectrum-alert-background-color: rgb(8, 8, 8);
  --spectrum-alert-title-text-color: rgb(239, 239, 239);
  --spectrum-alert-text-color: rgb(162, 162, 162);
  --spectrum-alert-error-border-color: rgb(215, 55, 63);
  --spectrum-alert-info-border-color: rgb(20, 115, 230);
  --spectrum-alert-success-border-color: rgb(38, 142, 108);
  --spectrum-alert-warning-border-color: rgb(218, 123, 17);
}
