/* topdoc
---
  name: Tab - Default
  description: The default Spectrum Tab element
  markup: |
    <!-- TODO: add markup here -->

*/
.spectrum-Tab .spectrum-Tab-label {
    color: rgb(118, 118, 118)
  }
.spectrum-Tab:hover .spectrum-Tab-label {
      color: rgb(50, 50, 50)
    }
.spectrum-Tab:focus .spectrum-Tab-label {
      color: rgb(50, 50, 50)
    }
.spectrum-Tab.is-selected .spectrum-Tab-label {
      color: rgb(50, 50, 50)
    }
.spectrum-Tab[disabled] .spectrum-Tab-label {
      color: rgb(188, 188, 188)
    }
.spectrum-TabList--anchored {
/*
  .spectrum-Tab {
    .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-default);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-default);
      }
    }

    &:hover .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-hover);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-hover);
      }
    }

    &:active .spectrum-Tab-label,
    &.is-selected .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-active);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-active);
      }
    }

    &:focus .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-focus);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-focus);
      }
    }

    &.is-disabled {
      .spectrum-Tab-label {
        color: var(--spectrum-tablist-anchored-label-color-disabled);

        &::after {
          background-color: var(--spectrum-tablist-anchored-border-color-disabled);
        }
      }
    }
  }
*/
}
.spectrum-TabList--anchored::before {
    background-color: rgb(244, 244, 244);
  }
/*
Todo: Determine if unused mixins are required

spectrum-tablist-line-default() {
  border-color: var(--spectrum-tablist-border-color-default)
}

spectrum-tablist-line-focus() {
  border-color: var(--spectrum-tablist-border-color-focus)
}

spectrum-tablist-line-disabled() {
  border-color: var(--spectrum-tablist-border-color-disabled)
}
*/
