.spectrum-Icon {
  display: inline-block;
}

.spectrum-Icon--sizeXXS svg {
  height: 9px;
  width: 9px;
}

.spectrum-Icon--sizeXS svg {
  height: 12px;
  width: 12px;
}

.spectrum-Icon--sizeS svg {
  height: 18px;
  width: 18px;
}

.spectrum-Icon--sizeM svg {
  height: 24px;
  width: 24px;
}

.spectrum-Icon--sizeL svg {
  height: 36px;
  width: 36px;
}

.spectrum-Icon--sizeXL svg {
  height: 48px;
  width: 48px;
}

.spectrum-Icon--sizeXXL svg {
  height: 72px;
  width: 72px;
}
