.spectrum-Icon {
  display: inline-block;
/* Inherit the text color */
  color: inherit;
/* Fill should match the current text color */
  fill: currentColor;
}
.spectrum-Icon.is-animated {
/* Transition any color changes */
  transition: color 150ms ease-in-out, fill 150ms ease-in-out;
}
.spectrum-Icon--sizeXXS,
.spectrum-Icon--sizeXXS img,
.spectrum-Icon--sizeXXS svg {
  height: 9px;
  width: 9px;
}
.spectrum-Icon--sizeXS,
.spectrum-Icon--sizeXS img,
.spectrum-Icon--sizeXS svg {
  height: 12px;
  width: 12px;
}
.spectrum-Icon--sizeS,
.spectrum-Icon--sizeS img,
.spectrum-Icon--sizeS svg {
  height: 18px;
  width: 18px;
}
.spectrum-Icon--sizeM,
.spectrum-Icon--sizeM img,
.spectrum-Icon--sizeM svg {
  height: 24px;
  width: 24px;
}
.spectrum-Icon--sizeL,
.spectrum-Icon--sizeL img,
.spectrum-Icon--sizeL svg {
  height: 36px;
  width: 36px;
}
.spectrum-Icon--sizeXL,
.spectrum-Icon--sizeXL img,
.spectrum-Icon--sizeXL svg {
  height: 48px;
  width: 48px;
}
.spectrum-Icon--sizeXXL,
.spectrum-Icon--sizeXXL img,
.spectrum-Icon--sizeXXL svg {
  height: 72px;
  width: 72px;
}
