.spectrum--light {
/* TODO: is it wonky that textarea shares the selector? */
/* It's a little wonky, right? */

/* topdoc
{{ textfield/textarea-default.yml }}
*/

/* topdoc
{{ textfield/textarea-quiet.yml }}
*/
}
/* topdoc
{{ textfield/textfield-default.yml }}
*/
.spectrum--light .spectrum-Textfield {
  background-color: rgb(255, 255, 255);
  border-color: rgb(225, 225, 225);
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Textfield::-webkit-input-placeholder {
    color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-Textfield:-ms-input-placeholder {
    color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-Textfield::placeholder {
    color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-Textfield:hover {
    border-color: rgb(202, 202, 202);
    box-shadow: none;
  }
.spectrum--light .spectrum-Textfield:hover::-webkit-input-placeholder {
      color: rgb(75, 75, 75);
    }
.spectrum--light .spectrum-Textfield:hover:-ms-input-placeholder {
      color: rgb(75, 75, 75);
    }
.spectrum--light .spectrum-Textfield:hover::placeholder {
      color: rgb(75, 75, 75);
    }
.spectrum--light .spectrum-Textfield:active {
    border-color: rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Textfield:focus {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Textfield[disabled] {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(197, 197, 197);

    /* For safari mobile browser */
    -webkit-text-fill-color: rgb(197, 197, 197);
  }
.spectrum--light .spectrum-Textfield[disabled]::-webkit-input-placeholder {
      color: rgb(225, 225, 225);
    }
.spectrum--light .spectrum-Textfield[disabled]:-ms-input-placeholder {
      color: rgb(225, 225, 225);
    }
.spectrum--light .spectrum-Textfield[disabled]::placeholder {
      color: rgb(225, 225, 225);
    }
.spectrum--light .spectrum-Textfield .is-invalid,
  .spectrum--light .spectrum-Textfield:invalid {
    border-color: rgb(227, 72, 80);
  }
.spectrum--light .spectrum-Textfield .is-invalid:focus, .spectrum--light .spectrum-Textfield:invalid:focus { /* might break things due to pre-defined focus */
      box-shadow: 0 0 0 1px rgb(227, 72, 80);
    }
/* topdoc
{{ textfield/textfield-quiet.yml }}
*/
.spectrum--light .spectrum-Textfield--quiet {
  background-color: transparent;
  border-color: rgb(225, 225, 225);
}
.spectrum--light .spectrum-Textfield--quiet:hover {
    border-color: rgb(202, 202, 202);
  }
.spectrum--light .spectrum-Textfield--quiet:active {
    border-color: rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Textfield--quiet:focus {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 1px 0 rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Textfield--quiet:disabled {
    background-color: transparent;
    border-color:  rgb(225, 225, 225);
  }
.spectrum--light .spectrum-Textfield--quiet .is-invalid,
  .spectrum--light .spectrum-Textfield--quiet:invalid {
    border-color: rgb(227, 72, 80);
  }
.spectrum--light .spectrum-Textfield--quiet .is-invalid:focus, .spectrum--light .spectrum-Textfield--quiet:invalid:focus {
      box-shadow: 0 1px 0 rgb(227, 72, 80);
    }
