
.spectrum--large .spectrum-Menu {
  --spectrum-global-dimension-size-40: 4px;
  --spectrum-global-dimension-size-50: 5px;
  --spectrum-global-dimension-size-75: 8px;
  --spectrum-global-dimension-size-85: 9px;
  --spectrum-global-dimension-size-100: 10px;
  --spectrum-global-dimension-size-150: 15px;
  --spectrum-global-dimension-size-450: 45px;
  --spectrum-global-dimension-font-size-50: 13px;
  --spectrum-alias-line-height-medium: 25px;
  --spectrum-icon-checkmark-medium-width: 16px;
  --spectrum-popover-border-size: 1px;
  --spectrum-popover-padding-y: 5px;
  --spectrum-selectlist-divider-size: 2px;
  --spectrum-selectlist-divider-padding: 3px;
  --spectrum-selectlist-option-text-size: 17px;
  --spectrum-selectlist-option-padding: 12px;
  --spectrum-selectlist-option-text-font-weight: 400;
  --spectrum-selectlist-option-icon-padding-x: 15px;
  --spectrum-selectlist-option-height: 48px;
  --spectrum-selectlist-border-size-key-focus: 2px;
  --spectrum-selectlist-thumbnail-image-padding-x: 10px;
}
