
.spectrum--darkest .spectrum-Accordion {
  --spectrum-accordion-border-color: rgb(57, 57, 57);
  --spectrum-accordion-icon-color: rgb(124, 124, 124);
  --spectrum-accordion-text-color: rgb(162, 162, 162);
  --spectrum-accordion-icon-color-hover: rgb(200, 200, 200);
  --spectrum-accordion-text-color-hover: rgb(239, 239, 239);
  --spectrum-accordion-background-color-hover: rgb(44, 44, 44);
  --spectrum-accordion-border-left-color-key-focus: rgb(20, 115, 230);
  --spectrum-accordion-icon-color-disabled: rgb(73, 73, 73);
  --spectrum-accordion-text-color-disabled: rgb(92, 92, 92);
}
