:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
---
name: Table - Standard
description: The standard table
markup: |
  <table class="spectrum-Table">
    <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell is-sortable is-sorted-desc">Column Title</th>
        <th class="spectrum-Table-headCell is-sortable">Column Title</th>
        <th class="spectrum-Table-headCell">Column Title</th>
      </tr>
    </thead>
    <tbody class="spectrum-Table-body">
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
      </tr>
    </tbody>
  </table>

*/

/* topdoc
---
name: Table - Divs
description: The standard table with divs
markup: |
  <div class="spectrum-Table">
    <div class="spectrum-Table-head" style="display: flex">
      <div class="spectrum-Table-headCell is-sortable is-sorted-desc" style="flex: 1">Column Title</div>
      <div class="spectrum-Table-headCell is-sortable" style="flex: 1">Column Title</div>
      <div class="spectrum-Table-headCell" style="flex: 1">Column Title</div>
    </div>
    <div class="spectrum-Table-body" style="height: 120px">
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Alpha</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Alpha</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Alpha</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Bravo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Bravo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Bravo</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Charlie</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Charlie</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Charlie</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Delta</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Delta</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Delta</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Echo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Echo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Echo</div>
      </div>
    </div>
  </div>

*/

/* topdoc
---
name: Table - Divs Quiet
description: The standard table with divs
markup: |
  <div class="spectrum-Table spectrum-Table--quiet">
    <div class="spectrum-Table-head" style="display: flex">
      <div class="spectrum-Table-headCell is-sortable is-sorted-desc" style="flex: 1">Column Title</div>
      <div class="spectrum-Table-headCell is-sortable" style="flex: 1">Column Title</div>
      <div class="spectrum-Table-headCell" style="flex: 1">Column Title</div>
    </div>
    <div class="spectrum-Table-body" style="height: 120px">
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Alpha</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Alpha</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Alpha</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Bravo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Bravo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Bravo</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Charlie</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Charlie</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Charlie</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Delta</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Delta</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Delta</div>
      </div>
      <div class="spectrum-Table-row" style="display: flex">
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Echo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Echo</div>
        <div class="spectrum-Table-cell" style="flex: 1">Row Item Echo</div>
      </div>
    </div>
  </div>

*/

.spectrum-Table {
  border-collapse: separate;
  border-spacing: 0;
}

.spectrum-Table-headCell {
  text-align: left;
  font-size: 0.65625rem;
  font-weight: 700;
  line-height: 0.75rem;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 4px 16px;
  transition: color 125ms ease-in-out;
  cursor: default;
}

.spectrum-Table-headCell.is-sortable {
    cursor: pointer;
  }

.spectrum-Table-headCell.is-sorted-asc::after, .spectrum-Table-headCell.is-sorted-desc::after {
      content: '';
      display: inline-block;
      margin-left: 4px;
      width: 10px;
      height: 12px;
      background-size: contain;
      vertical-align: bottom;
      transition: transform 125ms ease-in-out;
    }

.spectrum-Table-headCell.is-sorted-asc::after {
      transform: rotateZ(180deg);
    }

.spectrum-Table-cell--alignCenter {
  text-align: center;
}

.spectrum-Table-cell--alignRight {
  text-align: right;
}

.spectrum-Table-body {
  border-radius: 4px;
  overflow: auto;
}

/* The tbody tag doesn't allow setting a border-radius, so these hacks are to make that work
   by putting it on the individual cells instead. */

.spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body {
    border: none;
    border-radius: 0;
  }

.spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:first-child .spectrum-Table-cell:first-child {
      border-top-left-radius: 4px;
    }

.spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:first-child .spectrum-Table-cell:last-child {
      border-top-right-radius: 4px;
    }

.spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:last-child .spectrum-Table-cell:first-child {
      border-bottom-left-radius: 4px;
    }

.spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:last-child .spectrum-Table-cell:last-child {
      border-bottom-right-radius: 4px;
    }

.spectrum-Table-cell {
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding: 12px 16px;
}

.spectrum-Table-row {
  cursor: pointer;
  transition: background-color 125ms ease-in-out;
}

/* topdoc
---
name: Table - Quiet
description: The quiet table
markup: |
  <table class="spectrum-Table spectrum-Table--quiet">
    <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell is-sortable is-sorted-desc">Column Title</th>
        <th class="spectrum-Table-headCell is-sortable">Column Title</th>
        <th class="spectrum-Table-headCell">Column Title</th>
      </tr>
    </thead>
    <tbody class="spectrum-Table-body">
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
      </tr>
    </tbody>
  </table>

*/

.spectrum-Table--quiet .spectrum-Table-body {
    border-radius: 0;
  }

/* topdoc
---
name: Table - Standard Multi-Select
description: The standard multi-select table
markup: |
  <table class="spectrum-Table">
    <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </th>
        <th class="spectrum-Table-headCell is-sortable is-sorted-desc">Column Title</th>
        <th class="spectrum-Table-headCell is-sortable">Column Title</th>
        <th class="spectrum-Table-headCell">Column Title</th>
      </tr>
    </thead>
    <tbody class="spectrum-Table-body">
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Alpha
        </td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
      </tr>
      <tr class="spectrum-Table-row is-selected">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0" checked>
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Bravo
        </td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
      </tr>
      <tr class="spectrum-Table-row is-selected">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0" checked>
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Charlie
        </td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Delta
        </td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Echo
        </td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
      </tr>
    </tbody>
  </table>

*/

.spectrum-Table-checkboxCell {
  padding-right: 0;
}

.spectrum-Table-checkbox {
  vertical-align: super;
  line-height: 0.75rem;
  height: 12px;
}

/* topdoc
---
name: Table - Quiet Multi-Select
description: The quiet multi-select table
markup: |
  <table class="spectrum-Table spectrum-Table--quiet">
    <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </th>
        <th class="spectrum-Table-headCell is-sortable is-sorted-desc">Column Title</th>
        <th class="spectrum-Table-headCell is-sortable">Column Title</th>
        <th class="spectrum-Table-headCell">Column Title</th>
      </tr>
    </thead>
    <tbody class="spectrum-Table-body">
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Alpha
        </td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
      </tr>
      <tr class="spectrum-Table-row is-selected">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0" checked>
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Bravo
        </td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
      </tr>
      <tr class="spectrum-Table-row is-selected">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0" checked>
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Charlie
        </td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Delta
        </td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-checkboxCell">
          <label class="spectrum-Checkbox spectrum-Table-checkbox">
            <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
            <span class="spectrum-Checkbox-checkmark"></span>
          </label>
        </td>
        <td class="spectrum-Table-cell">
          Row Item Echo
        </td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
      </tr>
    </tbody>
  </table>

*/

/* topdoc
---
name: Table - Column Dividers
description: The standard table with column dividers
markup: |
  <table class="spectrum-Table">
    <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell is-sortable is-sorted-desc">Column Title</th>
        <th class="spectrum-Table-headCell is-sortable">Column Title</th>
        <th class="spectrum-Table-headCell">Column Title</th>
      </tr>
    </thead>
    <tbody class="spectrum-Table-body">
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-cell--divider">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
        <td class="spectrum-Table-cell">Row Item Alpha</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-cell--divider">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
        <td class="spectrum-Table-cell">Row Item Bravo</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-cell--divider">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
        <td class="spectrum-Table-cell">Row Item Charlie</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-cell--divider">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
        <td class="spectrum-Table-cell">Row Item Delta</td>
      </tr>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-cell--divider">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
        <td class="spectrum-Table-cell">Row Item Echo</td>
      </tr>
    </tbody>
  </table>

*/