/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
/* topdoc
---
name: Rating - Default
description: The Spectrum Rating stars
markup: |
  <div class="spectrum-Rating">
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
  </div>

*/
.spectrum--light .spectrum-Rating-icon {
  color: rgb(142, 142, 142);
}
/* Star */
.spectrum--light .spectrum-Rating-icon .spectrum-Rating-starActive {
    display: block;
  }
.spectrum--light .spectrum-Rating-icon .spectrum-Rating-starInactive {
    display: none;
  }
.spectrum--light .spectrum-Rating:not(:hover) .spectrum-Rating-icon:not(.is-active) {
    color: rgb(142, 142, 142);
  }
/* StarOutline */
.spectrum--light .spectrum-Rating:not(:hover) .spectrum-Rating-icon:not(.is-active) .spectrum-Rating-starActive {
      display: none;
    }
.spectrum--light .spectrum-Rating:not(:hover) .spectrum-Rating-icon:not(.is-active) .spectrum-Rating-starInactive {
      display: block;
    }
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon:not(.is-active) {
  color: rgb(142, 142, 142);
}
/* StarOutline */
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon:not(.is-active) .spectrum-Rating-starActive {
    display: none;
  }
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon:not(.is-active) .spectrum-Rating-starInactive {
    display: block;
  }
/* topdoc
---
name: Rating - Active
description: The 'active' Spectrum rating
markup: |
  <div class="spectrum-Rating">
    <span class="spectrum-Rating-icon is-active">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon is-active">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon is-active">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
  </div>

*/
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon.is-active {
  color: rgb(142, 142, 142);
}
/* Star */
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon.is-active .spectrum-Rating-starActive {
    display: block;
  }
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon.is-active .spectrum-Rating-starInactive {
    display: none;
  }
.spectrum--light .spectrum-Rating-icon.is-active {
    color: rgb(75, 75, 75);
  }
/* Star */
.spectrum--light .spectrum-Rating-icon.is-active .spectrum-Rating-starActive {
      display: block;
    }
.spectrum--light .spectrum-Rating-icon.is-active .spectrum-Rating-starInactive {
      display: none;
    }
/* topdoc
---
name: Rating - Disabled
description: The 'disabled' Spectrum rating
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-Rating is-disabled">
    <span class="spectrum-Rating-icon is-active">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
    <span class="spectrum-Rating-icon">
      <svg class="spectrum-Icon spectrum-Rating-starActive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-Star" />
      </svg>
      <svg class="spectrum-Icon spectrum-Rating-starInactive" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-StarOutline" />
      </svg>
    </span>
  </div>

*/
.spectrum--light .spectrum-Rating.is-disabled .spectrum-Rating-icon.is-active {
  color: rgb(225, 225, 225);
}
/* Star */
.spectrum--light .spectrum-Rating.is-disabled .spectrum-Rating-icon.is-active .spectrum-Rating-starActive {
    display: block;
  }
.spectrum--light .spectrum-Rating.is-disabled .spectrum-Rating-icon.is-active .spectrum-Rating-starInactive {
    display: none;
  }
.spectrum--light .spectrum-Rating:not(:hover).is-disabled .spectrum-Rating-icon:not(.is-active) {
  color: rgb(225, 225, 225);
}
/* StarOutline */
.spectrum--light .spectrum-Rating:not(:hover).is-disabled .spectrum-Rating-icon:not(.is-active) .spectrum-Rating-starActive {
    display: none;
  }
.spectrum--light .spectrum-Rating:not(:hover).is-disabled .spectrum-Rating-icon:not(.is-active) .spectrum-Rating-starInactive {
    display: block;
  }
