/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
/* topdoc
---
name: Rating - Default
description: The Spectrum Rating stars
markup: |
  <div class="spectrum-Rating">
    <span class="spectrum-Rating-icon"></span>
    <span class="spectrum-Rating-icon"></span>
    <span class="spectrum-Rating-icon"></span>
    <span class="spectrum-Rating-icon"></span>
  </div>

*/
.spectrum--light .spectrum-Rating-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28142%2C 142%2C 142%29%3B' d='M18.477.593%2C22.8%2C12.029l12.212.578a.51.51%2C0%2C0%2C1%2C.295.907l-9.54%2C7.646%2C3.224%2C11.793a.51.51%2C0%2C0%2C1-.772.561L18%2C26.8%2C7.78%2C33.515a.51.51%2C0%2C0%2C1-.772-.561l3.224-11.793L.692%2C13.515a.51.51%2C0%2C0%2C1%2C.295-.907L13.2%2C12.029%2C17.523.593A.51.51%2C0%2C0%2C1%2C18.477.593Z'/%3E%3C/svg%3E");
}
.spectrum--light .spectrum-Rating:not(:hover) .spectrum-Rating-icon:not(.is-active) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28142%2C 142%2C 142%29%3B' d='M18.059%2C5.082l3.554%2C9.505%2C10.219.481-7.975%2C6.405L26.529%2C31.3l-8.534-5.568L9.437%2C31.347l2.7-9.873-7.974-6.4%2C10.2-.49ZM18.082.823a.738.738%2C0%2C0%2C0-.7.478l-4.412%2C11.35-12.2.585a.75.75%2C0%2C0%2C0-.434%2C1.334l9.523%2C7.642-3.23%2C11.8a.752.752%2C0%2C0%2C0%2C.725.951.742.742%2C0%2C0%2C0%2C.41-.125L18%2C28.122%2C28.187%2C34.77a.742.742%2C0%2C0%2C0%2C.408.125.752.752%2C0%2C0%2C0%2C.725-.949L26.131%2C22.213l9.528-7.653a.75.75%2C0%2C0%2C0-.434-1.334l-12.2-.575L18.784%2C1.311A.738.738%2C0%2C0%2C0%2C18.082.823Z'/%3E%3C/svg%3E");
  }
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon:not(.is-active) {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28142%2C 142%2C 142%29%3B' d='M18.059%2C5.082l3.554%2C9.505%2C10.219.481-7.975%2C6.405L26.529%2C31.3l-8.534-5.568L9.437%2C31.347l2.7-9.873-7.974-6.4%2C10.2-.49ZM18.082.823a.738.738%2C0%2C0%2C0-.7.478l-4.412%2C11.35-12.2.585a.75.75%2C0%2C0%2C0-.434%2C1.334l9.523%2C7.642-3.23%2C11.8a.752.752%2C0%2C0%2C0%2C.725.951.742.742%2C0%2C0%2C0%2C.41-.125L18%2C28.122%2C28.187%2C34.77a.742.742%2C0%2C0%2C0%2C.408.125.752.752%2C0%2C0%2C0%2C.725-.949L26.131%2C22.213l9.528-7.653a.75.75%2C0%2C0%2C0-.434-1.334l-12.2-.575L18.784%2C1.311A.738.738%2C0%2C0%2C0%2C18.082.823Z'/%3E%3C/svg%3E");
}
/* topdoc
---
name: Rating - Active
description: The 'active' Spectrum rating
markup: |
  <div class="spectrum-Rating">
    <span class="spectrum-Rating-icon is-active"></span>
    <span class="spectrum-Rating-icon is-active"></span>
    <span class="spectrum-Rating-icon is-active"></span>
    <span class="spectrum-Rating-icon"></span>
  </div>

*/
.spectrum--light .spectrum-Rating-icon:hover ~ .spectrum-Rating-icon.is-active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28142%2C 142%2C 142%29%3B' d='M18.477.593%2C22.8%2C12.029l12.212.578a.51.51%2C0%2C0%2C1%2C.295.907l-9.54%2C7.646%2C3.224%2C11.793a.51.51%2C0%2C0%2C1-.772.561L18%2C26.8%2C7.78%2C33.515a.51.51%2C0%2C0%2C1-.772-.561l3.224-11.793L.692%2C13.515a.51.51%2C0%2C0%2C1%2C.295-.907L13.2%2C12.029%2C17.523.593A.51.51%2C0%2C0%2C1%2C18.477.593Z'/%3E%3C/svg%3E");
}
.spectrum--light .spectrum-Rating-icon.is-active {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%2875%2C 75%2C 75%29%3B' d='M18.477.593%2C22.8%2C12.029l12.212.578a.51.51%2C0%2C0%2C1%2C.295.907l-9.54%2C7.646%2C3.224%2C11.793a.51.51%2C0%2C0%2C1-.772.561L18%2C26.8%2C7.78%2C33.515a.51.51%2C0%2C0%2C1-.772-.561l3.224-11.793L.692%2C13.515a.51.51%2C0%2C0%2C1%2C.295-.907L13.2%2C12.029%2C17.523.593A.51.51%2C0%2C0%2C1%2C18.477.593Z'/%3E%3C/svg%3E");
  }
/* topdoc
---
name: Rating - Disabled
description: The 'disabled' Spectrum rating
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-Rating is-disabled">
    <span class="spectrum-Rating-icon is-active"></span>
    <span class="spectrum-Rating-icon"></span>
    <span class="spectrum-Rating-icon"></span>
  </div>

*/
.spectrum--light .spectrum-Rating.is-disabled .spectrum-Rating-icon {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28179%2C 179%2C 179%29%3B' d='M18.059%2C5.082l3.554%2C9.505%2C10.219.481-7.975%2C6.405L26.529%2C31.3l-8.534-5.568L9.437%2C31.347l2.7-9.873-7.974-6.4%2C10.2-.49ZM18.082.823a.738.738%2C0%2C0%2C0-.7.478l-4.412%2C11.35-12.2.585a.75.75%2C0%2C0%2C0-.434%2C1.334l9.523%2C7.642-3.23%2C11.8a.752.752%2C0%2C0%2C0%2C.725.951.742.742%2C0%2C0%2C0%2C.41-.125L18%2C28.122%2C28.187%2C34.77a.742.742%2C0%2C0%2C0%2C.408.125.752.752%2C0%2C0%2C0%2C.725-.949L26.131%2C22.213l9.528-7.653a.75.75%2C0%2C0%2C0-.434-1.334l-12.2-.575L18.784%2C1.311A.738.738%2C0%2C0%2C0%2C18.082.823Z'/%3E%3C/svg%3E");
    }
.spectrum--light .spectrum-Rating.is-disabled .spectrum-Rating-icon.is-active {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28179%2C 179%2C 179%29%3B' d='M18.477.593%2C22.8%2C12.029l12.212.578a.51.51%2C0%2C0%2C1%2C.295.907l-9.54%2C7.646%2C3.224%2C11.793a.51.51%2C0%2C0%2C1-.772.561L18%2C26.8%2C7.78%2C33.515a.51.51%2C0%2C0%2C1-.772-.561l3.224-11.793L.692%2C13.515a.51.51%2C0%2C0%2C1%2C.295-.907L13.2%2C12.029%2C17.523.593A.51.51%2C0%2C0%2C1%2C18.477.593Z'/%3E%3C/svg%3E");
      }
