/* For documentation beautification only - DO NOT COPY */

.dummy-spacing {
  height: 160px;
}

/* topdoc
---
name: RadioGroup - Default
description: The Spectrum radio group 'default'
markup: |
  <div class="spectrum-RadioGroup">
    <div class="spectrum-Radio">
      <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-0">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-0">Kittens</label>
    </div>
    <div class="spectrum-Radio">
      <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-1">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-1">Dogs</label>
    </div>
  </div>

*/

.spectrum-RadioGroup .spectrum-Radio {
    margin-right: 12px;
  }

/* topdoc
---
name: RadioGroup - Vertical
description: The Spectrum radio group 'vertical'
markup: |
  <div class="spectrum-RadioGroup spectrum-RadioGroup--vertical">
    <div class="spectrum-Radio">
      <input type="radio" name="animals" class="spectrum-Radio-input" id="radio-5">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-5">Kittens</label>
    </div>
    <div class="spectrum-Radio">
      <input type="radio" name="animals" class="spectrum-Radio-input" id="radio-6">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-6">Dogs</label>
    </div>
  </div>

*/

.spectrum-RadioGroup--vertical .spectrum-Radio {
    display: block;
    margin: 0;
  }

/* topdoc
---
name: RadioGroup - Labels Below
description: The Spectrum radio group 'labelsBelow'
markup: |
  <div class="spectrum-RadioGroup spectrum-RadioGroup--labelsBelow">
    <div class="spectrum-Radio">
      <input type="radio" name="rating" class="spectrum-Radio-input" id="radio-2">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-2">1</label>
    </div>
    <div class="spectrum-Radio">
      <input type="radio" name="rating" class="spectrum-Radio-input" id="radio-3">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-3">2</label>
    </div>
    <div class="spectrum-Radio">
      <input type="radio" name="rating" class="spectrum-Radio-input" id="radio-4">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-4">3</label>
    </div>
  </div>

*/

.spectrum-RadioGroup--labelsBelow .spectrum-Radio {
    height: 36px;
    margin: 0;
  }

.spectrum-RadioGroup--labelsBelow .spectrum-Radio-checkmark {
    margin-bottom: 18px;
  }

.spectrum-RadioGroup--labelsBelow .spectrum-Radio-label {
    position: relative;
    top: 12px;
    left: -17px;
  }
