
.spectrum--darkest .spectrum-Textfield {
  --spectrum-textfield-placeholder-text-color: rgb(124, 124, 124);
  --spectrum-textfield-text-color: rgb(200, 200, 200);
  --spectrum-textfield-background-color: rgb(8, 8, 8);
  --spectrum-textfield-border-color: rgb(57, 57, 57);
  --spectrum-textfield-placeholder-text-color-hover: rgb(239, 239, 239);
  --spectrum-textfield-border-color-hover: rgb(73, 73, 73);
  --spectrum-textfield-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-textfield-placeholder-text-color-disabled: rgb(92, 92, 92);
  --spectrum-textfield-text-color-disabled: rgb(92, 92, 92);
  --spectrum-textfield-background-color-disabled: rgb(44, 44, 44);
  --spectrum-textfield-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-textfield-border-color-down: rgb(38, 128, 235);
  --spectrum-textfield-border-color-error: rgb(227, 72, 80);
  --spectrum-textfield-quiet-background-color: rgba(0, 0, 0, 0);
  --spectrum-textfield-quiet-border-color: rgb(57, 57, 57);
  --spectrum-textfield-quiet-border-color-hover: rgb(73, 73, 73);
  --spectrum-textfield-quiet-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-textfield-quiet-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-textfield-quiet-border-color-disabled: rgb(57, 57, 57);
  --spectrum-textfield-quiet-border-color-down: rgb(38, 128, 235);
}
