
.spectrum--light .spectrum-Menu {
  --spectrum-selectlist-option-background-color: rgba(0, 0, 0, 0);
  --spectrum-selectlist-option-text-color: rgb(75, 75, 75);
  --spectrum-selectlist-divider-color: rgb(245, 245, 245);
  --spectrum-selectlist-option-background-color-hover: rgba(44,44,44,0.04);
  --spectrum-selectlist-option-text-color-hover: rgb(75, 75, 75);
  --spectrum-selectlist-option-background-color-down: rgba(44,44,44,0.04);
  --spectrum-selectlist-option-background-color-key-focus: rgba(44,44,44,0.04);
  --spectrum-selectlist-option-text-color-key-focus: rgb(75, 75, 75);
  --spectrum-selectlist-option-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-selectlist-option-text-color-disabled: rgb(179, 179, 179);
  --spectrum-selectlist-option-text-color-selected: rgb(13, 102, 208);
  --spectrum-selectlist-option-icon-color-selected: rgb(20, 115, 230);
  --spectrum-selectlist-option-focus-indicator-color: rgb(38, 128, 235);
  --spectrum-selectlist-background-color: rgba(0, 0, 0, 0);
  --spectrum-heading-subtitle3-text-color: rgb(110, 110, 110);
}
