
.spectrum--large .spectrum-FieldLabel,
.spectrum--large .spectrum-Form {
  --spectrum-global-dimension-size-100: 10px;
  --spectrum-global-dimension-size-250: 25px;
  --spectrum-global-dimension-size-300: 30px;
  --spectrum-fieldlabel-text-font-weight: 400;
  --spectrum-fieldlabel-text-line-height: 1.3;
  --spectrum-fieldlabel-text-size: 15px;
  --spectrum-fieldlabel-asterisk-gap: 2px;
  --spectrum-fieldlabel-asterisk-margin-y: 5px;
  --spectrum-fieldlabel-padding-top: 5px;
  --spectrum-fieldlabel-padding-bottom: 6px;
  --spectrum-fieldlabel-side-asterisk-margin-y: 0px;
  --spectrum-fieldlabel-side-padding-top: 10px;
  --spectrum-fieldlabel-side-padding-x: 10px;
}
