:root {

  /* This must be fixed to prevent problems with different width labels */

  /* Todo: Remove hardcoded values */
}

.spectrum-Slider {
  position: relative;
  display: block;
  min-height: 32px;
  width: 240px;
}

.spectrum-Slider-controls {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  z-index: auto;
  width: 100%;
  min-height: 32px;
}

.spectrum-Slider-track {
  border-radius: 4px;
  pointer-events: none;
  height: 2px;

  top: 16px;

  left: 8px;
  margin-top: -1px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 16px 0 0;

  position: absolute;

  width: calc(100% - 16px);
  margin-left: -8px;
}

.spectrum-Slider-track--fill {
  width: 0;
  height: 2px;
  position: relative;
  margin-left: 0;
}

.spectrum-Slider-track--buffer {
  position: absolute;
  margin-bottom: -2px;
  margin-left: 0;
}

.spectrum-Slider-track--ramp {
  height: 16px;
  position: absolute;
  top: -7px;
}

.spectrum-Slider-handle {
  position: absolute;
  left: 0;

  top: 16px;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  z-index: auto;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: -8px;
  margin-left: -8px;
  width: 16px;
  height: 16px;

  border-width: 2px;
  border-style: solid;

  /* Transition the border for focus animations */
  transition: border 150ms ease-in-out;
}

.spectrum-Slider-handle:focus {
    border-width: 8px;
  }

.spectrum-Slider-handle:active {
    border-width: 8px;
  }

.spectrum-Slider-input {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: .000001;
  cursor: default;
  -webkit-appearance: none;
  border: 0;
  pointer-events: none;
}

.spectrum-Slider-label {
  display: block;
  position: relative;

  width: auto;

  border-radius: 4px;

  font-size: 0.75rem;
  line-height: 0.75rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}

.spectrum-Slider-label-name {
  padding-left: 0;
}

.spectrum-Slider-label-value {
  float: right;
  padding-right: 0;
}

.spectrum-Slider-ticks {
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 11px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 0;
}

.spectrum-Slider-tick-mark {
  position: relative;

  width: 16px;
}

.spectrum-Slider-tick-mark:after {
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    content: '';
    width: 2px;
    height: 10px;
  }

.spectrum-Slider-tick-mark .spectrum-Slider-label {
    position: relative;
    margin: 16px 0 0 0;
    text-align: center;
  }

.spectrum-Slider-tick-mark:first-of-type .spectrum-Slider-label {
      /* Move over so we're left justified */
      text-align: left;
      left: 6px;
    }

.spectrum-Slider-tick-mark:last-of-type .spectrum-Slider-label {
      /* Move over so we're right justified */
      left: -6px;
      text-align: right;
    }

.spectrum-Slider--color .spectrum-Slider-controls {
    margin-top: 8px;
  }

.spectrum-Slider--color .spectrum-Slider-controls,
  .spectrum-Slider--color .spectrum-Slider-track {
    min-height: auto;
    height: 24px;
  }

.spectrum-Slider--color .spectrum-Slider-track {
    top: 0;
    margin-top: 0;
  }

.spectrum-Slider--color .spectrum-Slider-handle {
    left: 40%;
    top: 50%;
  }

.spectrum-Slider--round {
  display: inline-block;
  width: 48px;
  height: auto;
  min-height: 0;
}

.spectrum-Slider--round .spectrum-Slider-controls {
    width: 32px;
    height: 32px;
    min-height: 0;

    border-radius: 16px;
    position: relative;
    display: inline-block;
    margin-right: 24px;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;

    /* Why? */
    transition: all 150ms ease-in-out;

    box-sizing: border-box;
    outline: none;
  }

.spectrum-Slider--round .spectrum-Slider-controls::before,
    .spectrum-Slider--round .spectrum-Slider-controls::after {
      content: '';
      width: 4px;
      height: 2px;
      border-radius: 1px;
      position: absolute;
      bottom: 0;
    }

.spectrum-Slider--round .spectrum-Slider-controls::before {
      left: auto;
      right: -2px;
      transform: rotate(45deg);
    }

.spectrum-Slider--round .spectrum-Slider-controls::after {
      left: -2px;
      transform: rotate(-45deg);
    }

.spectrum-Slider--round.spectrum-Slider--round--small .spectrum-Slider-controls {
      width: 24px;
      height: 24px;
    }

.spectrum-Slider--round .spectrum-Slider-handle {
    width: 100%;
    height: 100%;
    border-width: 2px;
    box-shadow: none;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: 16px;
  }

.spectrum-Slider--round .spectrum-Slider-handle:focus {
      border-width: 2px;
    }

.spectrum-Slider--round .spectrum-Slider-input {
    width: 100%;
    height: 100%;
    overflow: visible;
    opacity: 1;
    transform: rotate(-45deg);
  }

.spectrum-Slider--round .spectrum-Slider-input::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -2px;
      width: 12px;
      height: 2px;
      border-radius: 1px;
      transform: translateY(-50%);
      transition: background-color 150ms ease-in-out;
    }

.spectrum-Slider.is-disabled {
  cursor: default;
}

.spectrum-Slider.is-disabled .spectrum-Slider-handle {
    cursor: default;
  }

