:root {

  /* This must be fixed to prevent problems with different width labels */

  /* Todo: Remove hardcoded values */
}.spectrum-Slider {
  position: relative;
  display: block;
  min-height: 2rem;
  width: 8rem;
}.spectrum-Slider-controls {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  z-index: auto;
  width: 100%;
  min-height: 2rem;
}.spectrum-Slider-track {
  border-radius: 0.0625rem;
  pointer-events: none;
  height: 0.125rem;

  top: 1rem;
  z-index: 1;

  left: 0.5rem;
  margin-top: -0.0625rem;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 1rem 0 0;

  position: absolute;

  width: calc(100% - 1rem);
  margin-left: -0.5rem;
}.spectrum-Slider-track--fill {
  width: 0;
  height: 0.125rem;
  position: relative;
  margin-left: 0;
}.spectrum-Slider-track--buffer {
  position: absolute;
  margin-bottom: -0.125rem;
  margin-left: 0;
}.spectrum-Slider-track--ramp {
  height: 1rem;
  position: absolute;
  top: -0.4375rem;
  width: 100%;
}.spectrum-Slider-handle {
  position: absolute;
  left: 0;
  z-index: 2;

  top: 1rem;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  width: 1rem;
  height: 1rem;

  border-width: 0.125rem;
  border-style: solid;

  transition: border-width 130ms (.45, 0, .40, 1);
}.spectrum-Slider-handle:active,
  .spectrum-Slider-handle.is-focused,
  .spectrum-Slider-handle.is-dragged,
  .spectrum-Slider-handle.is-tophandle {
    border-width: 0.5rem;
    z-index: 1;
  }.spectrum-Slider-input {

  /* Normalize input field */
  /* Change the font styles for input in all browsers */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  /*  Remove the margin for input in Firefox and Safari. */
  margin: 0;

  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: .000001;
  cursor: default;
  -webkit-appearance: none;
  border: 0;
  pointer-events: none;
}.spectrum-Slider-input:focus {
    outline: none;
  }.spectrum-Slider-labelContainer {
  display: block;
  position: relative;

  width: auto;

  border-radius: 0.25rem;

  font-size: 0.75rem;
  line-height: 0.75rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}.spectrum-Slider-label {
  padding-left: 0;
}.spectrum-Slider-value {
  float: right;
  padding-right: 0;
  cursor: default;
}.spectrum-Slider-ticks {
  margin: 0 0.0625rem;
  margin-top: 0.6875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  z-index: 0;
}.spectrum-Slider-tick-mark {
  position: relative;

  width: 0.125rem;
}.spectrum-Slider-tick-mark:after {
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 0.0625rem);
    content: '';
    width: 0.125rem;
    height: 0.625rem;

    border-radius: 0.0625rem;
  }.spectrum-Slider-tick-mark .spectrum-Slider-labelContainer {
    position: relative;
    margin: 1rem 0 0 0;
    text-align: center;
  }.spectrum-Slider-tick-mark:first-of-type .spectrum-Slider-labelContainer {
      /* Move over so we're left justified */
      text-align: left;
      left: 0.375rem;
    }.spectrum-Slider-tick-mark:last-of-type .spectrum-Slider-labelContainer {
      /* Move over so we're right justified */
      left: -0.375rem;
      text-align: right;
    }.spectrum-Slider--color .spectrum-Slider-controls {
    margin-top: 0.5rem;
  }.spectrum-Slider--color .spectrum-Slider-controls,
  .spectrum-Slider--color .spectrum-Slider-track {
    min-height: auto;
    height: 1.5rem;
  }.spectrum-Slider--color .spectrum-Slider-track {
    top: 0;
    margin-top: 0;
  }.spectrum-Slider--color .spectrum-Slider-handle {
    left: 40%;
    top: 50%;
  }.spectrum-Slider--round {
  display: inline-block;
  width: 3rem;
  height: auto;
  min-height: 0;
}.spectrum-Slider--round .spectrum-Slider-controls {
    width: 2rem;
    height: 2rem;
    min-height: 0;

    border-radius: 1rem;
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;

    box-sizing: border-box;
    outline: none;
  }.spectrum-Slider--round .spectrum-Slider-controls::before,
    .spectrum-Slider--round .spectrum-Slider-controls::after {
      content: '';
      width: 0.25rem;
      height: 0.125rem;
      border-radius: 0.0625rem;
      position: absolute;
      bottom: 0;
    }.spectrum-Slider--round .spectrum-Slider-controls::before {
      left: auto;
      right: -0.125rem;
      transform: rotate(45deg);
    }.spectrum-Slider--round .spectrum-Slider-controls::after {
      left: -0.125rem;
      transform: rotate(-45deg);
    }.spectrum-Slider--round.spectrum-Slider--round--small .spectrum-Slider-controls {
      width: 1.5rem;
      height: 1.5rem;
    }.spectrum-Slider--round .spectrum-Slider-handle {
    width: 100%;
    height: 100%;
    border-width: 0.125rem;
    box-shadow: none;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    border-radius: 1rem;
    transform: rotate(-45deg);
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;

    transition: background-color 130ms (.45, 0, .40, 1);
  }.spectrum-Slider--round .spectrum-Slider-handle::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -0.125rem;
      width: 0.75rem;
      height: 0.125rem;
      border-radius: 0.0625rem;
      transform: translateY(-50%);
      transition: background-color 130ms (.45, 0, .40, 1);
    }.spectrum-Slider--round .spectrum-Slider-handle:active,
    .spectrum-Slider--round .spectrum-Slider-handle.is-focused,
    .spectrum-Slider--round .spectrum-Slider-handle.is-dragged {
      border-width: 0.125rem;
      cursor: ns-resize;
      cursor: -webkit-grabbing;
      cursor: grabbing;
    }.spectrum-Slider--round .spectrum-Slider-input {
    width: 100%;
    height: 100%;
  }.spectrum-Slider.is-disabled {
  cursor: default;
}.spectrum-Slider.is-disabled .spectrum-Slider-handle {
    cursor: default;
    pointer-events: none;
  }.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
      .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active {
        border-width: 0.0625rem;
      }
