/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

.spectrum--light,
.spectrum--light .spectrum-Body {
  color: rgb(75, 75, 75);
}

.spectrum--light .spectrum-Body--large {
  color: rgb(75, 75, 75);
}

.spectrum--light .spectrum-Body--small {
  color: rgb(75, 75, 75);
}

.spectrum--light .spectrum-Body--secondary {
  color: rgb(112, 112, 112);
}

.spectrum--light .spectrum-Heading--display {
  color: rgb(44, 44, 44);
}

.spectrum--light .spectrum-Heading--pageTitle {
  color: rgb(112, 112, 112);
}

.spectrum--light .spectrum-Heading--subtitle1 {
  color: rgb(44, 44, 44);
}

.spectrum--light .spectrum-Heading--subtitle2 {
  color: rgb(44, 44, 44);
}

.spectrum--light .spectrum-Heading--subtitle3 {
  color: rgb(112, 112, 112);
}
