
.spectrum--medium .spectrum-BarLoader {
  --spectrum-barloader-large-width: 192px;
  --spectrum-barloader-large-label-gap-x: 12px;
  --spectrum-barloader-large-height: 6px;
  --spectrum-barloader-large-border-radius: 3px;
  --spectrum-barloader-large-label-gap-y: 9px;
  --spectrum-barloader-large-indeterminate-fill-width: 136px;
  --spectrum-barloader-large-indeterminate-animation-ease: (.45, 0, .40, 1);
  --spectrum-barloader-large-indeterminate-duration: 1000ms;
  --spectrum-barloader-small-width: 192px;
  --spectrum-barloader-small-label-gap-x: 12px;
  --spectrum-barloader-small-height: 4px;
  --spectrum-barloader-small-border-radius: 2px;
  --spectrum-fieldlabel-text-font-weight: 400;
  --spectrum-fieldlabel-text-line-height: 1.3;
  --spectrum-fieldlabel-text-size: 12px;
}
