/*
Copyright 2019 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

@import '../commons/index.css';
@import 'font.css';

/*
  Based on: https://paper.dropbox.com/doc/Typography-API--AeJJ7I6jGn1cGxw2XvaJH1AoAg-M9oL1ItYZwARYk8sTCGc5
  Notes:
    Same font-family across weight changes: Adobe Clean
    Not using condensed at all - can delete from Typekit
*/

.spectrum-Heading {
  /* Applies to individual words inside of the heading, only changes font-weight */
  strong {}
  /* Applies to individual words inside of the heading, only changes font-style */
  em {}
}

.spectrum-Heading--1,
.spectrum-Heading--2 {
  /* Only for heading 1 and 2, only changes font-weight */
  &.spectrum-Heading--light {}
  &.spectrum-Heading--heavy {}

  &.spectrum-Heading--article {
    /* only changes font-weight */
    &.spectrum-Heading--light {}
    &.spectrum-Heading--heavy {}

    /* Applies to individual words inside of the heading, only changes font-weight */
    strong {}
  }
}

/*
  Usage:
    <h1 class="spectrum-Heading--1"><strong>Whatever</strong> <em>other</em></h2>
    <h1 class="spectrum-Heading--1 spectrum-Heading--light"><strong>Whatever</strong> <em>other</em></h2>
    <h1 class="spectrum-Heading--1 spectrum-Heading--light spectrum-Heading--article"><strong>Whatever</strong> <em>other</em></h2>
*/

/* These only change font size: shared between Article and normal */
.spectrum-Heading--1 {}
.spectrum-Heading--2 {}
.spectrum-Heading--3 {}
.spectrum-Heading--4 {}
.spectrum-Heading--5 {}
.spectrum-Heading--6 {}

/* --- */

.spectrum-DisplayHeading {
  /* Applies to individual words inside of the heading */
  strong {}
  em {}
}

.spectrum-DisplayHeading--1,
.spectrum-DisplayHeading--2 {
  /* Only for Display 1 and 2, only changes font-weight */
  &.spectrum-DisplayHeading--light {}
  &.spectrum-DisplayHeading--heavy {}

  &.spectrum-DisplayHeading--article {
    /* only changes font-weight */
    &.spectrum-DisplayHeading--light {}
    &.spectrum-DisplayHeading--heavy {}

    /* Applies to individual words inside of the heading, only changes font-weight */
    strong {}
  }
}

.spectrum-DisplayHeading--1 {}
.spectrum-DisplayHeading--2 {}

.spectrum-DisplayBody {}
.spectrum-DisplayBody--1 {}
.spectrum-DisplayBody--2 {}


/* --- */

.spectrum-Code {}
.spectrum-Code--1 {}
.spectrum-Code--2 {}
.spectrum-Code--3 {}
.spectrum-Code--4 {}
.spectrum-Code--5 {}

.spectrum-Body {
  &.spectrum-Body--article {}
}
.spectrum-Body--1
  font-size: var(--spectrum-global-dimension-font-size-400);
}
.spectrum-Body--2
  font-size: var(--spectrum-global-dimension-font-size-300);
}
.spectrum-Body--3
  font-size: var(--spectrum-global-dimension-font-size-200);
}
.spectrum-Body--4
  font-size: var(--spectrum-global-dimension-font-size-100);
}
.spectrum-Body--5
  font-size: var(--spectrum-global-dimension-font-size-75);
}

.spectrum-Detail {
  &.spectrum-Detail--article {}

  &.spectrum-Detail--light {}

  /* Applies to individual words inside of the heading */
  strong {}
  em {}
}

.spectrum-Detail--1 {}
.spectrum-Detail--2 {}
.spectrum-Detail--3 {}
/* i.e. table column header, above of below headings */
/* i.e. file extensions */
.spectrum-Detail--4 {}

/* -- */

/*
  Possibility: wrapper classes that make things article (serif)
  Notes:
    * Semantic issues with using <article> tag
*/
.spectrum-Article {
  .spectrum-Heading {}
  .spectrum-DisplayHeading {}
  .spectrum-DisplayBody {}
  .spectrum-Body {}
  .spectrum-Code {}
  .spectrum-Detail {}
}
