
.spectrum--darkest .spectrum-Dropdown {
  --spectrum-dropdown-placeholder-text-color: rgb(124, 124, 124);
  --spectrum-dropdown-icon-color: rgb(162, 162, 162);
  --spectrum-dropdown-placeholder-text-color-hover: rgb(239, 239, 239);
  --spectrum-dropdown-icon-color-hover: rgb(239, 239, 239);
  --spectrum-dropdown-placeholder-text-color-key-focus: rgb(239, 239, 239);
  --spectrum-dropdown-icon-color-key-focus: rgb(239, 239, 239);
  --spectrum-dropdown-placeholder-text-color-disabled: rgb(92, 92, 92);
  --spectrum-dropdown-icon-color-disabled: rgb(73, 73, 73);
  --spectrum-dropdown-placeholder-text-color-down: rgb(239, 239, 239);
  --spectrum-dropdown-placeholder-text-color-mouse-focus: rgb(239, 239, 239);
  --spectrum-dropdown-validation-icon-color-error: rgb(236, 91, 98);
}
