
.spectrum--dark .spectrum-Pagination {
  --spectrum-pagination-page-button-background-color-hover: rgba(255,255,255,0.06);
  --spectrum-pagination-page-button-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-pagination-page-button-background-color-down: rgb(227, 227, 227);
  --spectrum-pagination-page-button-text-color-down: rgb(255, 255, 255);
}
