:root {
  --spectrum-panel-min-width: var(--spectrum-global-dimension-size-600);
  --spectrum-panel-min-height: var(--spectrum-global-dimension-size-600);

  --spectrum-panel-small-size: 256px;
  --spectrum-panel-large-size: 304px;

  --spectrum-panel-padding: var(--spectrum-global-dimension-size-100);
  --spectrum-panel-spacious-padding: var(--spectrum-global-dimension-size-100);
  --spectrum-panel-floating-border-radius: var(--spectrum-alias-border-radius-regular);

  --spectrum-panel-border-width: var(--spectrum-global-dimension-size-25);
  --spectrum-panel-draghandle-width: var(--spectrum-global-dimension-size-300);
  --spectrum-panel-draghandle-height: var(--spectrum-global-dimension-size-25);
  --spectrum-panel-draghandle-border-radius: var(--spectrum-alias-border-radius-small);

  --spectrum-panel-draghandle-area-width: var(--spectrum-global-dimension-size-200);

  --spectrum-panel-resizable-hit-area: var(--spectrum-global-dimension-size-100);

  /* Header */
  --spectrum-header-min-height: var(--spectrum-global-dimension-size-600);
  --spectrum-header-padding: var(--spectrum-global-dimension-size-100);
  --spectrum-header-border-width: var(--spectrum-global-dimension-size-25);
  --spectrum-header-divider-width: var(--spectrum-global-dimension-size-200);

  --spectrum-header-icon-margin-left: var(--spectrum-global-dimension-size-300);
  --spectrum-header-icon-size: var(--spectrum-global-dimension-size-400);
}

.spectrum-Header {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: var(--spectrum-header-min-height);
  padding: 0 var(--spectrum-header-padding);

  .spectrum-Tabs {
    align-self: flex-end;
  }

  .spectrum-Rule {
    margin: 0 var(--spectrum-header-padding);

    /* Fake padding */
    max-height: calc(var(--spectrum-header-min-height) - var(--spectrum-header-padding) * 2);
  }
}

.spectrum-Header + .spectrum-Panel,
.spectrum-Header + .spectrum-PanelGroup {
  border-top-style: solid;
  border-top-width: var(--spectrum-header-border-width);
}

.spectrum-Header-divider {
  width: var(--spectrum-header-divider-width);
  flex-grow: 0;
}

.spectrum-Header-icon {
  margin-left: var(--spectrum-header-icon-margin-left);
  width: var(--spectrum-header-icon-size);
  height: var(--spectrum-header-icon-size);
}

.spectrum-Panel {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 0;

  box-sizing: border-box;
  min-width: var(--spectrum-panel-min-width);
  min-height: var(--spectrum-panel-min-height);
  padding: var(--spectrum-panel-padding);

  .spectrum-Accordion {
    width: 100%;
  }

  .spectrum-Form {
    margin: 8px;
  }
}


.spectrum-Panel-heading {
  text-align: center;
  flex: 1;
}

.spectrum-Panel--spacious {
  padding: var(--spectrum-global-dimension-size-150);
}

.spectrum-Panel-dragHandle {
  position: relative;
  z-index: 1; /* appear above stuff */

  display: flex;

  width: 0;
  height: 100%;

  cursor: pointer;
  cursor: grab;

  align-content: center;
  justify-content: left;

  &:active,
  &.is-dragged {
    cursor: ns-resize;
    cursor: grabbing;
  }

  &:before {
    display: block;
    content: '';
    border-radius: var(--spectrum-panel-draghandle-border-radius);
    width: var(--spectrum-panel-draghandle-height);
    height: var(--spectrum-panel-draghandle-width);

    transition: background var(--spectrum-global-animation-duration-100) ease-in-out;
  }

  /* hit area */
  &:after {
    content: '';
    position: absolute;
    width: var(--spectrum-panel-draghandle-area-width);
    height: 100%;
    left: calc(-1 * var(--spectrum-panel-padding));
    right: calc(-1 * var(--spectrum-panel-padding));
  }
}

.spectrum-Panel--vertical {
  flex-direction: column;

  align-items: flex-start;

  .spectrum-Panel-dragHandle {
    height: 0;
    width: 100%;

    align-content: flex-start;
    justify-content: center;

    &:before {
      width: var(--spectrum-panel-draghandle-width);
      height: var(--spectrum-panel-draghandle-height);
    }

    /* hit area */
    &:after {
      height: var(--spectrum-panel-draghandle-area-width);
      width: 100%;
      top: calc(-1 * var(--spectrum-panel-padding));
      left: 0;
      right: 0;
    }
  }
}

.spectrum-Panel--floating {
  position: fixed;
  border-radius: var(--spectrum-panel-floating-border-radius);

  .spectrum-Panel-dragHandle {
    width: var(--spectrum-panel-draghandle-area-width);
    height: 100%;
  }

  &.spectrum-Panel--vertical {
    .spectrum-Panel-dragHandle {
      width: 100%;
      height: var(--spectrum-panel-padding);
    }
  }
}

.spectrum-PanelGroup {
  /* Contain the area that holds the resizer */
  position: relative;

  display: flex;
  flex-grow: 0;
  flex-direction: row;
  height: 100%;
}

.spectrum-PanelGroup--resizable {
  &:before {
    position: absolute;
    content: '';
    display: block;
    width: var(--spectrum-panel-resizable-hit-area);

    cursor: ew-resize;
    cursor: col-resize;
  }
}

.spectrum-PanelGroup--right,
.spectrum-PanelGroup--left {
  &.spectrum-PanelGroup--resizable {
    &:before {
      top: 0;
      bottom: 0;
    }
  }
}

.spectrum-PanelGroup--right {
  border-left-style: solid;
  border-left-width: var(--spectrum-panel-border-width);

  &.spectrum-PanelGroup--resizable {
    &:before {
      left: calc(-1 * (var(--spectrum-panel-resizable-hit-area) + var(--spectrum-panel-border-width)) / 2);
    }
  }
}

.spectrum-PanelGroup--left {
  border-right-style: solid;
  border-right-width: var(--spectrum-panel-border-width);

  &.spectrum-PanelGroup--resizable {
    &:before {
      right: calc(-1 * var(--spectrum-panel-border-width));
    }
  }
}


.spectrum-PanelGroup--vertical {
  flex-direction: column;

  > .spectrum-Panel + .spectrum-Panel {
    border-left-style: none;

    border-top-style: solid;
    border-top-width: var(--spectrum-panel-border-width);
  }
}
