:root {
  --spectrum-panel-background-color: var(--spectrum-alias-background-color-default);
  --spectrum-panel-floating-dropshadow-color: var(--spectrum-alias-dropshadow-color);
}

.spectrum-Panel {
  background: var(--spectrum-panel-background-color);
}

.spectrum-Panel--floating {
  box-shadow: 0 1px 4px var(--spectrum-panel-floating-dropshadow-color);
}
