/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
.spectrum-Button:focus {
    box-shadow: 0 0 0 2px rgb(55, 142, 240);
  }
.spectrum-Button:hover {
    box-shadow: none;
  }
.spectrum-Button:active {
    box-shadow: none;
  }
.spectrum-Button.is-selected .spectrum-Icon {
    color: rgb(180, 180, 180);
  }
/* topdoc
---
name: Button - CTA
description: A Spectrum 'call-to-action' button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--cta">Button</button>
  <button class="spectrum-Button spectrum-Button--cta" disabled>Button</button>

*/
.spectrum-Button--cta {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}
.spectrum-Button--cta:focus {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--cta:hover {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--cta:active {
    background-color: rgb(75, 156, 245);
    border-color: rgb(75, 156, 245);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--cta:disabled,
  .spectrum-Button--cta.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Primary
description: A Spectrum 'primary' button (which is also the default style)
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--primary">Button</button>

  <button class="spectrum-Button spectrum-Button--primary"
  disabled>Button</button>

*/
.spectrum-Button--primary {
  background-color: transparent;
  border-color: rgb(180, 180, 180);
  color: rgb(180, 180, 180);
}
.spectrum-Button--primary:focus {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--primary:hover {
    background-color: rgb(180, 180, 180);
    border-color: rgb(180, 180, 180);
    color: rgb(8, 8, 8);
  }
.spectrum-Button--primary:active {
    background-color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
    color: rgb(8, 8, 8);
  }
.spectrum-Button--primary:disabled,
  .spectrum-Button--primary.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Secondary
description: A Spectrum 'secondary' style button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--secondary"
  disabled>Button</button>

*/
.spectrum-Button--secondary {
  background-color: transparent;
  border-color: rgb(105, 105, 105);
  color: rgb(105, 105, 105);
}
.spectrum-Button--secondary:focus {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--secondary:hover {
    background-color: rgb(105, 105, 105);
    border-color: rgb(105, 105, 105);
    color: rgb(8, 8, 8);
  }
.spectrum-Button--secondary:active {
    background-color: rgb(133, 133, 133);
    border-color: rgb(133, 133, 133);
    color: rgb(8, 8, 8);
  }
.spectrum-Button--secondary:disabled,
  .spectrum-Button--secondary.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Warning
description: A Spectrum button in 'warning' style
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--warning"
  disabled>Button</button>

*/
.spectrum-Button--warning {
  background-color: transparent;
  border-color: rgb(236, 91, 98);
  color: rgb(236, 91, 98);
}
.spectrum-Button--warning:focus {
    background-color: rgb(75, 156, 245);
    border-color: rgb(75, 156, 245);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--warning:hover {
    background-color: rgb(236, 91, 98);
    border-color: rgb(236, 91, 98);
    color: rgb(8, 8, 8);
  }
.spectrum-Button--warning:active {
    background-color: rgb(247, 109, 116);
    border-color: rgb(247, 109, 116);
    color: rgb(8, 8, 8);
  }
.spectrum-Button--warning:disabled,
  .spectrum-Button--warning.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Quiet Primary
description: A 'quiet primary' Spectrum button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--primary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--primary"
  disabled>Button</button>

*/
.spectrum-Button--quiet--primary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(180, 180, 180);
}
.spectrum-Button--quiet--primary:focus {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--quiet--primary:hover {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(226, 226, 226);
  }
.spectrum-Button--quiet--primary:active {
    background-color: rgb(45, 45, 45);
    border-color: rgb(45, 45, 45);
    color: rgb(226, 226, 226);
  }
.spectrum-Button--quiet--primary:disabled,
  .spectrum-Button--quiet--primary.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Quiet Secondary
description: A 'quiet secondary' Spectrum button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--secondary">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--secondary"
  disabled>Button</button>

*/
.spectrum-Button--quiet--secondary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(105, 105, 105);
}
.spectrum-Button--quiet--secondary:focus {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--quiet--secondary:hover {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(180, 180, 180);
  }
.spectrum-Button--quiet--secondary:active {
    background-color: rgb(45, 45, 45);
    border-color: rgb(45, 45, 45);
    color: rgb(180, 180, 180);
  }
.spectrum-Button--quiet--secondary:disabled,
  .spectrum-Button--quiet--secondary.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Action
description: A Spectrum 'action' button, used in the action bar
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--action">Button</button>
  <button class="spectrum-Button spectrum-Button--action" disabled>Button</button>

  <button class="spectrum-Button spectrum-Button--action">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--action" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>

  <button class="spectrum-Button spectrum-Button--action spectrum-Button--action--icon-only">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
  <button class="spectrum-Button spectrum-Button--action spectrum-Button--action--icon-only" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>

*/
.spectrum-Button--action {
  background-color: rgb(24, 24, 24);
  border-color: rgb(45, 45, 45);
  color: rgb(180, 180, 180);
}
.spectrum-Button--action:focus {
    background-color: rgb(8, 8, 8);
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 2px rgb(20, 115, 230);
    color: rgb(226, 226, 226);
  }
.spectrum-Button--action:hover {
    background-color: rgb(8, 8, 8);
    border-color: rgb(60, 60, 60);
    box-shadow: none;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--action:active,
  .spectrum-Button--action.is-selected {
    background-color: rgb(38, 38, 38);
    border-color: rgb(60, 60, 60);
    box-shadow: none;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--action:disabled,
  .spectrum-Button--action.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Quiet Action
description: A Spectrum 'action' button, used in the action bar
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--quiet--action">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--quiet--action" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>

  <button class="spectrum-Button spectrum-Button--quiet--action spectrum-Button--quiet--action--icon-only">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
  <button class="spectrum-Button spectrum-Button--quiet--action spectrum-Button--quiet--action--icon-only" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>

*/
.spectrum-Button--quiet--action {
  background-color: transparent;
  border-color: transparent;
  color: rgb(180, 180, 180);
}
.spectrum-Button--quiet--action:focus {
    background-color: transparent;
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 2px rgb(20, 115, 230);
    color: rgb(226, 226, 226);
  }
.spectrum-Button--quiet--action:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--quiet--action:active,
  .spectrum-Button--quiet--action.is-selected {
    background-color: rgb(45, 45, 45);
    border-color: transparent;
    box-shadow: none;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--quiet--action:disabled,
  .spectrum-Button--quiet--action[disabled] {
    background-color: transparent;
    border-color: transparent;
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Toggle
description: A Spectrum 'toggle' button, used in toolbar
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
  '.is-selected': Selected state
markup: |
  <button class="spectrum-Button spectrum-Button--toggle">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
    Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle is-selected">
    Selected Button
  </button>
  <button class="spectrum-Button spectrum-Button--toggle spectrum-Button--toggle--icon-only">
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
  <button class="spectrum-Button spectrum-Button--toggle spectrum-Button--toggle--icon-only" disabled>
    <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Delete" role="img" aria-label="info"></div>
  </button>
*/
.spectrum-Button--toggle {
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  color: rgb(180, 180, 180);

}
.spectrum-Button--toggle:focus {
    background-color: transparent;
    border-color: rgb(20, 115, 230);
    color: rgb(226, 226, 226);
  }
.spectrum-Button--toggle:hover {
    background-color: transparent;
    border-color: transparent;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--toggle:active {
    background-color: rgb(45, 45, 45);
    border-color: transparent;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--toggle:disabled,
  .spectrum-Button--toggle.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(73, 73, 73);
  }
.spectrum-Button--toggle.is-selected {
    background-color: rgb(45, 45, 45);
    border-color: transparent;
    color: rgb(180, 180, 180);
  }
.spectrum-Button--toggle.is-selected:focus {
    background-color: rgb(45, 45, 45);
    border-color: rgb(20, 115, 230);
    color: rgb(226, 226, 226);
  }
.spectrum-Button--toggle.is-selected:hover {
    background-color: rgb(45, 45, 45);
    border-color: transparent;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--toggle.is-selected:active {
    background-color: transparent;
    border-color: transparent;
    color: rgb(226, 226, 226);
  }
.spectrum-Button--toggle.is-selected:disabled,
  .spectrum-Button--toggle.is-selected.is-disabled {
    background-color: rgb(45, 45, 45);
    border-color: transparent;
    color: rgb(73, 73, 73);
  }
/*! topdoc
---
name: Button - Quiet Warning
description: A 'quiet warning' Spectrum button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button
  spectrum-Button--quiet--warning">Button</button>

  <button class="spectrum-Button spectrum-Button--quiet--warning"
  disabled>Button</button>

*/
.spectrum-Button--quiet--warning {
  background-color: transparent;
  border-color: transparent;
  color: rgb(227, 72, 80);
}
.spectrum-Button--quiet--warning:focus {
    background-color: rgb(55, 142, 240);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--quiet--warning:hover {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(236, 91, 98);
  }
.spectrum-Button--quiet--warning:active {
    background-color: rgb(45, 45, 45);
    border-color: rgb(45, 45, 45);
    color: rgb(236, 91, 98);
  }
.spectrum-Button--quiet--warning:disabled,
  .spectrum-Button--quiet--warning.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Logic Button AND
description: The Spectrum logical AND button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--and">And</button>
  <button class="spectrum-Button spectrum-Button--and" disabled>And</button>

*/
.spectrum-Button--and {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}
.spectrum-Button--and:focus {
    background-color: rgb(75, 156, 245);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--and:hover {
    background-color: rgb(75, 156, 245);
    border-color: rgb(75, 156, 245);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--and:disabled,
  .spectrum-Button--and.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Logic Button OR
description: The Spectrum logical OR button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--or">Or</button>
  <button class="spectrum-Button spectrum-Button--or" disabled>Or</button>

*/
.spectrum-Button--or {
  background-color: rgb(216, 55, 144);
  border-color: rgb(216, 55, 144);
  color: rgb(255, 255, 255);
}
.spectrum-Button--or:focus {
    background-color: rgb(236, 90, 170);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--or:hover {
    background-color: rgb(236, 90, 170);
    border-color: rgb(236, 90, 170);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--or:disabled,
  .spectrum-Button--or.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
/* topdoc
---
name: Button - Icon
description: A Spectrum icon-only button
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <button class="spectrum-Button spectrum-Button--icon"><div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Close" role="img" aria-label="info"></div></button>
  <button class="spectrum-Button spectrum-Button--icon" disabled><div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Close" role="img" aria-label="info"></div></button>

*/
.spectrum-Button--icon {
  color: rgb(133, 133, 133);
}
.spectrum-Button--icon:focus {
    color: rgb(180, 180, 180);
  }
.spectrum-Button--icon:hover {
    color: rgb(226, 226, 226);
  }
.spectrum-Button--icon:active {
    color: rgb(180, 180, 180);
  }
.spectrum-Button--icon:active::before {
      background-color: rgb(38, 38, 38);
    }
.spectrum-Button--icon:disabled {
    color: rgb(60, 60, 60);
  }
.spectrum-Button--dropdown {
  color: rgb(180, 180, 180);
  background-color: rgb(24, 24, 24);
  border-color: rgb(45, 45, 45);
}
.spectrum-Button--dropdown:hover {
    color: rgb(226, 226, 226);
    background-color: rgb(8, 8, 8);
    border-color: rgb(60, 60, 60);
  }
.spectrum-Button--dropdown:focus,
  .spectrum-Button--dropdown.is-focused {
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum-Button--dropdown:active,
  .spectrum-Button--dropdown.is-selected {
    background-color: rgb(38, 38, 38);
    border-color: rgb(60, 60, 60);
  }
.spectrum-Button--dropdown:active:focus,
    .spectrum-Button--dropdown:active.is-focused,
    .spectrum-Button--dropdown.is-selected:focus,
    .spectrum-Button--dropdown.is-selected.is-focused {
      box-shadow: none;
    }
.spectrum-Button--dropdown.is-invalid {
    border-color: rgb(215, 55, 63);
  }
.spectrum-Button--dropdown.is-invalid:focus,
    .spectrum-Button--dropdown.is-invalid.is-focused {
      border-color: rgb(215, 55, 63);
      box-shadow: 0 0 0 1px rgb(215, 55, 63);
    }
.spectrum-Button--dropdown:disabled,
  .spectrum-Button--dropdown.is-disabled {
    background-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
.spectrum-Button--dropdown:disabled:focus, .spectrum-Button--dropdown.is-disabled:focus {
      box-shadow: none;
    }
.spectrum-Button--quiet--dropdown {
  border-color: transparent;
  background-color: transparent;
}
.spectrum-Button--quiet--dropdown:focus,
  .spectrum-Button--quiet--dropdown.is-focused {
    box-shadow: 0 2px 0 0 rgb(20, 115, 230);
  }
.spectrum-Button--quiet--dropdown.is-invalid:focus,
    .spectrum-Button--quiet--dropdown.is-invalid.is-focused {
      box-shadow: 0 2px 0 0 rgb(215, 55, 63);
    }
.spectrum-Button--quiet--dropdown:disabled,
  .spectrum-Button--quiet--dropdown.is-disabled {
    color: rgb(73, 73, 73);
  }
.spectrum-Button--quiet--dropdown:disabled:focus, .spectrum-Button--quiet--dropdown.is-disabled:focus {
      box-shadow: none;
    }
