.spectrum-Button:focus {
    box-shadow: 0 0 0 2px rgb(20, 115, 230);
  }
.spectrum-Button:hover {
    box-shadow: none;
  }
.spectrum-Button:active {
    box-shadow: none;
  }
.spectrum-Button.is-selected .spectrum-Icon {
    color: rgb(80, 80, 80);
  }
/* topdoc
{{ button/button-cta.yml }}
*/
.spectrum-Button--cta {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}
.spectrum-Button--cta:focus {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--cta:hover {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--cta:active {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--cta:disabled,
  .spectrum-Button--cta.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-primary.yml }}
*/
.spectrum-Button--primary {
  background-color: transparent;
  border-color: rgb(80, 80, 80);
  color: rgb(80, 80, 80);
}
.spectrum-Button--primary:focus {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--primary:hover {
    background-color: rgb(80, 80, 80);
    border-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--primary:active {
    background-color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--primary:disabled,
  .spectrum-Button--primary.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-secondary.yml }}
*/
.spectrum-Button--secondary {
  background-color: transparent;
  border-color: rgb(149, 149, 149);
  color: rgb(149, 149, 149);
}
.spectrum-Button--secondary:focus {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--secondary:hover {
    background-color: rgb(149, 149, 149);
    border-color: rgb(149, 149, 149);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--secondary:active {
    background-color: rgb(118, 118, 118);
    border-color: rgb(118, 118, 118);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--secondary:disabled,
  .spectrum-Button--secondary.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-warning.yml }}
*/
.spectrum-Button--warning {
  background-color: transparent;
  border-color: rgb(215, 55, 63);
  color: rgb(215, 55, 63);
}
.spectrum-Button--warning:focus {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--warning:hover {
    background-color: rgb(215, 55, 63);
    border-color: rgb(215, 55, 63);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--warning:active {
    background-color: rgb(201, 37, 45);
    border-color: rgb(201, 37, 45);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--warning:disabled,
  .spectrum-Button--warning.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-quiet-primary.yml }}
*/
.spectrum-Button--quiet--primary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(80, 80, 80);
}
.spectrum-Button--quiet--primary:focus {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--quiet--primary:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(50, 50, 50);
  }
.spectrum-Button--quiet--primary:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(50, 50, 50);
  }
.spectrum-Button--quiet--primary:disabled,
  .spectrum-Button--quiet--primary.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-quiet-secondary.yml }}
*/
.spectrum-Button--quiet--secondary {
  background-color: transparent;
  border-color: transparent;
  color: rgb(149, 149, 149);
}
.spectrum-Button--quiet--secondary:focus {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--quiet--secondary:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(80, 80, 80);
  }
.spectrum-Button--quiet--secondary:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(80, 80, 80);
  }
.spectrum-Button--quiet--secondary:disabled,
  .spectrum-Button--quiet--secondary.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-action.yml }}
*/
.spectrum-Button--action {
  background-color: rgb(255, 255, 255);
  border-color: rgb(234, 234, 234);
  border-width: 1px;
  border-radius: 4px;
  color: rgb(80, 80, 80);
}
.spectrum-Button--action:focus {
    background-color: rgb(255, 255, 255);
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 2px rgb(55, 142, 240);
    color: rgb(50, 50, 50);
  }
.spectrum-Button--action:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--action:active {
    background-color: rgb(244, 244, 244);
    border-color: rgb(211, 211, 211);
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--action:disabled,
  .spectrum-Button--action.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-quietaction.yml }}
*/
.spectrum-Button--quiet--action {
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  color: rgb(80, 80, 80);
}
.spectrum-Button--quiet--action:focus {
    background-color: transparent;
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 2px rgb(55, 142, 240);
    color: rgb(50, 50, 50);
  }
.spectrum-Button--quiet--action:hover {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--quiet--action:active {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    box-shadow: none;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--quiet--action:disabled,
  .spectrum-Button--quiet--action[disabled] {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/button-toggle.yml }}
*/
.spectrum-Button--toggle {
  background-color: transparent;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  color: rgb(80, 80, 80);

}
.spectrum-Button--toggle:focus {
    background-color: transparent;
    border-color: rgb(55, 142, 240);
    color: rgb(50, 50, 50);
  }
.spectrum-Button--toggle:hover {
    background-color: transparent;
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--toggle:active {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--toggle:disabled,
  .spectrum-Button--toggle.is-disabled {
    display: none;
  }
.spectrum-Button--toggle.is-selected {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(80, 80, 80);
  }
.spectrum-Button--toggle.is-selected:focus {
    background-color: rgb(234, 234, 234);
    border-color: rgb(55, 142, 240);
    color: rgb(50, 50, 50);
  }
.spectrum-Button--toggle.is-selected:hover {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--toggle.is-selected:active {
    background-color: transparent;
    border-color: transparent;
    color: rgb(50, 50, 50);
  }
.spectrum-Button--toggle.is-selected:disabled,
  .spectrum-Button--toggle.is-selected.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/*! topdoc
{{ button/button-quiet-warning.yml }}
*/
.spectrum-Button--quiet--warning {
  background-color: transparent;
  border-color: transparent;
  color: rgb(227, 72, 80);
}
.spectrum-Button--quiet--warning:focus {
    background-color: rgb(20, 115, 230);
    border-color: rgb(20, 115, 230);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--quiet--warning:hover {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(215, 55, 63);
  }
.spectrum-Button--quiet--warning:active {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(215, 55, 63);
  }
.spectrum-Button--quiet--warning:disabled,
  .spectrum-Button--quiet--warning.is-disabled {
    background-color: transparent;
    border-color: transparent;
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/logicbutton-and.yml }}
*/
.spectrum-Button--and {
  background-color: rgb(38, 128, 235);
  border-color: rgb(38, 128, 235);
  color: rgb(255, 255, 255);
}
.spectrum-Button--and:focus {
    background-color: rgb(13, 102, 208);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--and:hover {
    background-color: rgb(13, 102, 208);
    border-color: rgb(13, 102, 208);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--and:disabled,
  .spectrum-Button--and.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
/* topdoc
{{ button/logicbutton-or.yml }}
*/
.spectrum-Button--or {
  background-color: rgb(216, 55, 144);
  border-color: rgb(216, 55, 144);
  color: rgb(255, 255, 255);
}
.spectrum-Button--or:focus {
    background-color: rgb(188, 28, 116);
    border-color: rgb(55, 142, 240);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--or:hover {
    background-color: rgb(188, 28, 116);
    border-color: rgb(188, 28, 116);
    color: rgb(255, 255, 255);
  }
.spectrum-Button--or:disabled,
  .spectrum-Button--or.is-disabled {
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
    color: rgb(188, 188, 188);
  }
