
.spectrum--darkest .spectrum-SplitView {
  --spectrum-alias-focus-color: rgb(20, 115, 230);
  --spectrum-rail-content-background-color: rgb(30, 30, 30);
  --spectrum-rail-handle-background-color: rgb(57, 57, 57);
  --spectrum-rail-handle-background-color-hover: rgb(73, 73, 73);
  --spectrum-rail-handle-background-color-down: rgb(200, 200, 200);
}
