
.spectrum--darkest .spectrum-Card {
  --spectrum-alias-highlight-selected: rgba(38,128,235,0.2);
  --spectrum-card-border-color: rgb(44, 44, 44);
  --spectrum-card-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-card-border-color-hover: rgb(73, 73, 73);
  --spectrum-card-coverphoto-background-color: rgb(44, 44, 44);
  --spectrum-card-coverphoto-border-color: rgb(44, 44, 44);
  --spectrum-card-description-text-color: rgb(162, 162, 162);
  --spectrum-card-background-color: rgb(8, 8, 8);
  --spectrum-card-quiet-preview-background-color: rgb(44, 44, 44);
  --spectrum-card-quiet-preview-background-color-hover: rgb(57, 57, 57);
  --spectrum-card-quiet-border-color-selected: rgb(38, 128, 235);
  --spectrum-card-quiet-title-text-color: rgb(200, 200, 200);
  --spectrum-card-quiet-subtitle-text-color: rgb(162, 162, 162);
}
