.spectrum-Tooltip {
  visibility: hidden;

  opacity: 0;

  transition: transform 125ms ease-in-out,
              opacity 125ms ease-in-out,
              visibility 0ms linear 125ms;

  pointer-events: none;
}

.spectrum-Tooltip.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}

.spectrum-Tooltip {

  position: relative;
  left: 0px;
  top: 0px;

  display: inline-block;

  width: auto;
  padding: 2px 8px;

  border-radius: 4px;

  font-size: 0.75rem;
  line-height: 0.75rem;
}

.spectrum-Tooltip, .spectrum-Tooltip.is-open {
    pointer-events: none;
  }

.spectrum-Tooltip .spectrum-Link {
    pointer-events: all;
  }

.spectrum-Tooltip-tip {
  position: absolute;
  overflow: hidden;
  width: 8px;
  height: 4px;
}

.spectrum-Tooltip-tip::after {
    content: '';
    width: 6px;
    height: 6px;
    top: -4px;
    left: 1px;
    position: absolute;
    transform: rotate(45deg);
  }

.spectrum-Tooltip--right {
  margin-left: 3px;
}

.spectrum-Tooltip--right.is-open {
    left: 4px;
  }

.spectrum-Tooltip--right .spectrum-Tooltip-tip {
    left: -6px;
    transform: rotate(90deg);
  }

.spectrum-Tooltip--left {
  margin-right: 3px;
}

.spectrum-Tooltip--left.is-open {
    left:  -4px;
  }

.spectrum-Tooltip--left .spectrum-Tooltip-tip {
    right: -6px;
    transform: rotate(-90deg);
  }

.spectrum-Tooltip--right .spectrum-Tooltip-tip, .spectrum-Tooltip--left .spectrum-Tooltip-tip {
    top: 50%;
    margin-top: -2px;
  }

.spectrum-Tooltip--bottom {
  margin-top: 3px;
}

.spectrum-Tooltip--bottom.is-open {
    top: 4px;
  }

.spectrum-Tooltip--bottom .spectrum-Tooltip-tip {
    top: -4px;
    transform: rotate(180deg);
  }

.spectrum-Tooltip--top {
  margin-bottom: 3px;
}

.spectrum-Tooltip--top.is-open {
    top: -4px;
  }

.spectrum-Tooltip--top .spectrum-Tooltip-tip {
    bottom: -4px;
  }

.spectrum-Tooltip--bottom .spectrum-Tooltip-tip, .spectrum-Tooltip--top .spectrum-Tooltip-tip {
    left: 50%;
    margin-left: -2px;
  }

/* topdoc
---
name: Tooltip - Icons
description: A Spectrum tooltip
markup: |
  <span class="spectrum-Tooltip spectrum-Tooltip--top is-open">
    <span class="spectrum-Tooltip-label"><span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Note spectrum-Tooltip-typeIcon"></span>Normal</span>
    <div class="spectrum-Tooltip-tip"></div>
  </span>

  <br>
  <br>

  <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-Tooltip--success
  is-open">
    <span class="spectrum-Tooltip-label"><span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--CheckmarkCircle spectrum-Tooltip-typeIcon"></span>Success</span>
    <div class="spectrum-Tooltip-tip"></div>
  </span>

  <br>
  <br>

  <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-Tooltip--info
  is-open">
    <span class="spectrum-Tooltip-label"><span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Info spectrum-Tooltip-typeIcon"></span>Info</span>
    <div class="spectrum-Tooltip-tip"></div>
  </span>

  <br>
  <br>

  <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-Tooltip--error
  is-open">
    <span class="spectrum-Tooltip-label"><span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Alert spectrum-Tooltip-typeIcon"></span>Warning</span>
    <div class="spectrum-Tooltip-tip"></div>
  </span>

*/

.spectrum-Tooltip-typeIcon {
  margin-right: 8px;

  /* Fix font icon alignment in Chrome on Windows, works for Mac too */
  vertical-align: -2px;
  line-height: 0.875rem;
}

.spectrum-Tooltip-label {
  /* Make sure line height is correct to prevent problems in Windows */
  line-height: 1.25rem;
}

.u-tooltip-showOnHover {
  display: inline-block;
  position: relative;
}

.u-tooltip-showOnHover .spectrum-Tooltip {
    /* Required for animations to work */
    visibility: visible;
    transition: transform 125ms ease-in-out;
    top: -100%;
  }

.u-tooltip-showOnHover .spectrum-Tooltip--right,
  .u-tooltip-showOnHover .spectrum-Tooltip--left {
    top:50%;
  }

.u-tooltip-showOnHover .spectrum-Tooltip--right .spectrum-Tooltip-tip, .u-tooltip-showOnHover .spectrum-Tooltip--left .spectrum-Tooltip-tip {
      top: 50%;
      margin-top: -4px;
    }

.u-tooltip-showOnHover .spectrum-Tooltip--right {
    transform: translate(-8px, -50%);
  }

.u-tooltip-showOnHover .spectrum-Tooltip--left {
    transform: translate(calc(-100% + 8px), -50%);
  }

.u-tooltip-showOnHover .spectrum-Tooltip--bottom,
  .u-tooltip-showOnHover .spectrum-Tooltip--top {
    left:50%;
  }

.u-tooltip-showOnHover .spectrum-Tooltip--bottom .spectrum-Tooltip-tip, .u-tooltip-showOnHover .spectrum-Tooltip--top .spectrum-Tooltip-tip {
      left: 50%;
      margin-left: -4px;
    }

.u-tooltip-showOnHover .spectrum-Tooltip--bottom {
    transform: translate(-50%, -8px);
  }

.u-tooltip-showOnHover .spectrum-Tooltip--top {
    transform: translate(-50%, 8px);
  }

.u-tooltip-showOnHover:hover .spectrum-Tooltip {
    opacity: 1;
  }

.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--bottom {
    transform: translate(-50%, 8px);
  }

.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--top {
    transform: translate(-50%, -8px);
  }

.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--left {
    transform: translate(-100%, -50%);
  }

.u-tooltip-showOnHover:hover .spectrum-Tooltip.spectrum-Tooltip--right {
    transform: translate(0, -50%);
  }

/* topdoc
---
name: Tooltip - Large
description: A Spectrum tooltip
markup: |
  <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-Tooltip--large is-open">
    <span class="spectrum-Tooltip-label">Normal Tooltip</span>
    <div class="spectrum-Tooltip-tip"></div>
  </span>

*/

.spectrum-Tooltip--large {
  padding: 8px 16px;
}
