
.spectrum--lightest .spectrum-InputGroup,
.spectrum--lightest .spectrum-Datepicker {
  --spectrum-dropdown-border-color-key-focus: rgb(55, 142, 240);
  --spectrum-dropdown-border-color-error: rgb(227, 72, 80);
  --spectrum-textfield-border-color-hover: rgb(211, 211, 211);
  --spectrum-textfield-border-color-key-focus: rgb(55, 142, 240);
  --spectrum-textfield-text-color-disabled: rgb(188, 188, 188);
  --spectrum-textfield-border-color-error: rgb(227, 72, 80);
  --spectrum-textfield-quiet-border-color: rgb(234, 234, 234);
  --spectrum-textfield-quiet-border-color-hover: rgb(211, 211, 211);
  --spectrum-textfield-quiet-border-color-key-focus: rgb(55, 142, 240);
}
