
.spectrum--large .spectrum-InputGroup,
.spectrum--large .spectrum-Datepicker {
  --spectrum-global-dimension-size-50: 5px;
  --spectrum-global-dimension-size-100: 10px;
  --spectrum-global-dimension-size-150: 15px;
  --spectrum-global-dimension-size-700: 70px;
  --spectrum-global-dimension-size-1600: 160px;
  --spectrum-alias-single-line-width: 240px;
  --spectrum-combobox-textfield-border-top-right-radius: 0;
  --spectrum-combobox-textfield-border-bottom-right-radius: 0;
  --spectrum-combobox-fieldbutton-border-top-left-radius: 0;
  --spectrum-combobox-fieldbutton-border-bottom-left-radius: 0;
  --spectrum-dropdown-padding-x: 15px;
  --spectrum-textfield-height: 40px;
  --spectrum-textfield-quiet-affixed-border-size: 1px;
}
