/* For documentation beautification only - DO NOT COPY */

.dummy-spacing {
  height: 160px;
}

.spectrum-Fieldlabel--left {
	font-size: 0.75rem;
	display: inline-block;
	margin-right: 2px;
}

.spectrum-Fieldlabel--top {
	font-size: 0.75rem;
	display: block;
	margin-bottom: 2px;
}

.spectrum-Well {
  display: block;
  min-width: 248px;
  padding: 16px;
  margin-top: 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}
