/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
/* topdoc
---
name: Dialog - Modal
description: The Spectrum 'modal' dialog
markup: |
  <button class="spectrum-Button spectrum-Button--primary" onclick="openDialog(this.nextElementSibling)">Open Centered Modal Dialog</button>
  <div class="spectrum-Dialog spectrum-Dialog--centered" id="defaultModalDialog">
    <div class="spectrum-Dialog-header">
      <h2 class="spectrum-Dialog-title">Modal Dialog</h2>
    </div>
    <div class="spectrum-Dialog-content">
      This is a centered modal dialog.
    </div>
    <div class="spectrum-Dialog-footer">
      <button class="spectrum-Button spectrum-Button--secondary" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Cancel</button>
      <button class="spectrum-Button spectrum-Button--cta" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Save</button>
    </div>
  </div>

  <button class="spectrum-Button spectrum-Button--primary" onclick="openDialog(this.nextElementSibling)">Open Scrolling Modal Dialog</button>
  <div class="spectrum-Dialog" id="defaultModalDialog">
    <div class="spectrum-Dialog-header">
      <h2 class="spectrum-Dialog-title">Scrolling Modal Dialog</h2>
    </div>
    <div class="spectrum-Dialog-content">
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
      <div>This is a scrolling modal dialog with lots and lots of content that's also pretty wide.</div>
    </div>
    <div class="spectrum-Dialog-footer">
      <button class="spectrum-Button spectrum-Button--secondary" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Cancel</button>
      <button class="spectrum-Button spectrum-Button--cta" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Save</button>
    </div>
  </div>


*/
.spectrum-Dialog {
  background: rgb(24, 24, 24);
}
.spectrum-Dialog-header {
  background: rgb(24, 24, 24);
}
.spectrum-Dialog-header:after {
    background: rgb(38, 38, 38);
  }
.spectrum-Dialog-title {
  /* Todo: Determine if missing class is required */
  color: rgb(226, 226, 226);
}
.spectrum-Dialog-typeIcon {
  /* Todo: Determine if missing class is required */
  color: rgb(226, 226, 226);
}
.spectrum-Dialog-footer {
  background: rgb(24, 24, 24);
}
/* topdoc
---
name: Dialog - Success
description: A Spectrum 'success' dialog
markup:
  <button variant="primary" class="spectrum-Button spectrum-Button--primary" onclick="openDialog(this.nextElementSibling)">Open Success Dialog</button>
  <div class="spectrum-Dialog spectrum-Dialog--success spectrum-Dialog--centered" id="successDialog">
    <div class="spectrum-Dialog-header">
      <h2 class="spectrum-Dialog-title">Success Dialog</h2>
      <div class="spectrum-Dialog-typeIcon"></div>
    </div>
    <div class="spectrum-Dialog-content">
      This is a success dialog.
    </div>
    <div class="spectrum-Dialog-footer">
      <button class="spectrum-Button spectrum-Button--secondary" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Ok</button>
    </div>
  </div>

*/
.spectrum-Dialog--success .spectrum-Dialog-title {
    color: rgb(45, 157, 120);
  }
.spectrum-Dialog--success .spectrum-Dialog-typeIcon::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%2845%2C 157%2C 120%29' d='M16%2C2A16%2C16%2C0%2C1%2C0%2C32%2C18%2C16%2C16%2C0%2C0%2C0%2C16%2C2Zm10.666%2C9.08h0L14.018%2C27.341a1.208%2C1.208%2C0%2C0%2C1-.875.461c-.023%2C0-.049%2C0-.072%2C0a1.2%2C1.2%2C0%2C0%2C1-.85-.352L4.436%2C19.657a1.2%2C1.2%2C0%2C0%2C1%2C0-1.7l1.326-1.325a1.2%2C1.2%2C0%2C0%2C1%2C1.7%2C0L12.8%2C21.981%2C23.315%2C8.473A1.2%2C1.2%2C0%2C0%2C1%2C25%2C8.263L26.455%2C9.4A1.2%2C1.2%2C0%2C0%2C1%2C26.666%2C11.08Z'/%3E%3C/svg%3E");
  }
/* topdoc
---
name: Dialog - Info
description: The Spectrum 'info' dialog
markup:
  <button class="spectrum-Button spectrum-Button--primary" onclick="openDialog(this.nextElementSibling)">Open Info Dialog</button>
  <div class="spectrum-Dialog spectrum-Dialog--info spectrum-Dialog--centered" id="infoDialog">
    <div class="spectrum-Dialog-header">
      <h2 class="spectrum-Dialog-title">Info / Help Dialog</h2>
      <div class="spectrum-Dialog-typeIcon"></div>
    </div>
    <div class="spectrum-Dialog-content">
      This is an info dialog.
    </div>
    <div class="spectrum-Dialog-footer">
      <button class="spectrum-Button spectrum-Button--secondary" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Ok</button>
    </div>
  </div>

*/
.spectrum-Dialog--help .spectrum-Dialog-title, .spectrum-Dialog--info .spectrum-Dialog-title {
    color: rgb(38, 128, 235);
  }
.spectrum-Dialog--help .spectrum-Dialog-typeIcon::after, .spectrum-Dialog--info .spectrum-Dialog-typeIcon::after {
    color: rgb(38, 128, 235);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%2838%2C 128%2C 235%29' d='M18%2C2A16%2C16%2C0%2C1%2C0%2C34%2C18%2C16%2C16%2C0%2C0%2C0%2C18%2C2Zm-.3%2C4.3a2.718%2C2.718%2C0%2C0%2C1%2C2.864%2C2.824A2.665%2C2.665%2C0%2C0%2C1%2C17.7%2C11.987a2.706%2C2.706%2C0%2C0%2C1-2.864-2.864A2.717%2C2.717%2C0%2C0%2C1%2C17.7%2C6.3ZM22%2C27a1%2C1%2C0%2C0%2C1-1%2C1H15a1%2C1%2C0%2C0%2C1-1-1V25a1%2C1%2C0%2C0%2C1%2C1-1h1V18H15a1%2C1%2C0%2C0%2C1-1-1V15a1%2C1%2C0%2C0%2C1%2C1-1h4a1%2C1%2C0%2C0%2C1%2C1%2C1v9h1a1%2C1%2C0%2C0%2C1%2C1%2C1Z'/%3E%3C/svg%3E");
  }
/* topdoc
---
name: Dialog - Warning
description: A Spectrum 'warning' dialog
markup:
  <button variant="primary" class="spectrum-Button spectrum-Button--primary" onclick="openDialog(this.nextElementSibling)">Open Warning Dialog</button>
  <div class="spectrum-Dialog spectrum-Dialog--warning spectrum-Dialog--centered" id="warningDialog">
    <div class="spectrum-Dialog-header">
      <h2 class="spectrum-Dialog-title">Warning Dialog</h2>
      <div class="spectrum-Dialog-typeIcon"></div>
    </div>
    <div class="spectrum-Dialog-content">
      This is a warning dialog.
    </div>
    <div class="spectrum-Dialog-footer">
      <button class="spectrum-Button spectrum-Button--secondary" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Ok</button>
    </div>
  </div>

*/
.spectrum-Dialog--warning .spectrum-Dialog-title {
    color: rgb(230, 134, 25);
  }
.spectrum-Dialog--warning .spectrum-Dialog-typeIcon::after {
    color: rgb(230, 134, 25);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28230%2C 134%2C 25%29' d='M17.127%2C2.579.4%2C32.512A1%2C1%2C0%2C0%2C0%2C1.272%2C34H34.728a1%2C1%2C0%2C0%2C0%2C.873-1.488L18.873%2C2.579A1%2C1%2C0%2C0%2C0%2C17.127%2C2.579ZM20%2C29.5a.5.5%2C0%2C0%2C1-.5.5h-3a.5.5%2C0%2C0%2C1-.5-.5v-3a.5.5%2C0%2C0%2C1%2C.5-.5h3a.5.5%2C0%2C0%2C1%2C.5.5Zm0-6a.5.5%2C0%2C0%2C1-.5.5h-3a.5.5%2C0%2C0%2C1-.5-.5v-12a.5.5%2C0%2C0%2C1%2C.5-.5h3a.5.5%2C0%2C0%2C1%2C.5.5Z'/%3E%3C/svg%3E");
  }
/* topdoc
---
name: Dialog - Error
description: The Spectrum 'error' dialog
markup:
  <button class="spectrum-Button spectrum-Button--primary" onclick="openDialog(this.nextElementSibling)">Open Error Dialog</button>
  <div class="spectrum-Dialog spectrum-Dialog--error spectrum-Dialog--centered" id="errorDialog">
    <div class="spectrum-Dialog-header">
      <h2 class="spectrum-Dialog-title">Error Dialog</h2>
      <div class="spectrum-Dialog-typeIcon"></div>
    </div>
    <div class="spectrum-Dialog-content">
      This is an error dialog.
    </div>
    <div class="spectrum-Dialog-footer">
      <button class="spectrum-Button spectrum-Button--secondary" onclick="closeDialog(this.closest('.spectrum-Dialog'))">Ok</button>
    </div>
  </div>

*/
.spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(227, 72, 80);
  }
.spectrum-Dialog--error .spectrum-Dialog-typeIcon::after {
    color: rgb(227, 72, 80);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Cpath style='fill:rgb%28227%2C 72%2C 80%29' d='M17.127%2C2.579.4%2C32.512A1%2C1%2C0%2C0%2C0%2C1.272%2C34H34.728a1%2C1%2C0%2C0%2C0%2C.873-1.488L18.873%2C2.579A1%2C1%2C0%2C0%2C0%2C17.127%2C2.579ZM20%2C29.5a.5.5%2C0%2C0%2C1-.5.5h-3a.5.5%2C0%2C0%2C1-.5-.5v-3a.5.5%2C0%2C0%2C1%2C.5-.5h3a.5.5%2C0%2C0%2C1%2C.5.5Zm0-6a.5.5%2C0%2C0%2C1-.5.5h-3a.5.5%2C0%2C0%2C1-.5-.5v-12a.5.5%2C0%2C0%2C1%2C.5-.5h3a.5.5%2C0%2C0%2C1%2C.5.5Z'/%3E%3C/svg%3E");
  }
