.spectrum-Dialog-wrapper {
  background: rgb(255, 255, 255);
}
.spectrum-Dialog-header {
  background: rgb(255, 255, 255);
}
.spectrum-Dialog-header:after {
    background: rgb(244, 244, 244);
  }
.spectrum-Dialog-title {
  /* Todo: Determine if missing class is required */
  color: rgb(50, 50, 50);
}
.spectrum-Dialog-typeIcon {
  /* Todo: Determine if missing class is required */
  color: rgb(50, 50, 50);
}
.spectrum-Dialog-footer {
  background: rgb(255, 255, 255);
}
/* topdoc
---
name: Dialog - Success
description: A Spectrum 'success' dialog
markup:
  <button variant="primary" class="spectrum-Button spectrum-Button--primary" onclick="document.getElementById('successDialog').classList.add('is-open')">Open Dialog - Success</button>
  <div class="spectrum-Dialog spectrum-Dialog--success" id="successDialog">
    <div class="spectrum-Dialog-wrapper" style="width:400px;">
      <div class="spectrum-Dialog-header">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Check-Circle spectrum-Dialog-typeIcon"></div>
        <h2 class="spectrum-Dialog-title">Success Dialog</h2>
      </div>
      <div class="spectrum-Dialog-content">
        <p>This dialog was created from markup. </p>
        <p>This dialog is not centered. </p>
      </div>
      <div class="spectrum-Dialog-footer">
        <button variant="primary" class="spectrum-Button spectrum-Button--quiet--secondary" onclick="document.getElementById('successDialog').classList.remove('is-open')">Ok</button>
      </div>
    </div>
  </div>

*/
.spectrum-Dialog--success .spectrum-Dialog-title {
    color: rgb(45, 157, 120);
  }
.spectrum-Dialog--success .spectrum-Dialog-typeIcon {
    color: rgb(45, 157, 120);
  }
/* topdoc
---
name: Dialog - Info
description: A Spectrum 'info' dialog
markup:
  <button variant="primary" class="spectrum-Button spectrum-Button--primary" onclick="document.getElementById('infoDialog').classList.add('is-open')">Open Dialog - Info</button>
  <div class="spectrum-Dialog spectrum-Dialog--info" id="infoDialog">
    <div class="spectrum-Dialog-wrapper" style="width:400px;">
      <div class="spectrum-Dialog-header">
        <div class="spectrum-Icon spectrum-Dialog-typeIcon spectrum-Icon--sizeS spectrum-Icon--Info-Circle"></div>
        <h2 class="spectrum-Dialog-title">Info / Help Dialog</h2>
      </div>
      <div class="spectrum-Dialog-content">
        <p>This dialog was created from markup. </p>
        <p>This dialog is not centered. </p>
      </div>
      <div class="spectrum-Dialog-footer">
        <button variant="primary" class="spectrum-Button spectrum-Button--quiet--secondary" onclick="document.getElementById('infoDialog').classList.remove('is-open')">Ok</button>
      </div>
    </div>
  </div>

*/
.spectrum-Dialog--help .spectrum-Dialog-title, .spectrum-Dialog--info .spectrum-Dialog-title {
    color: rgb(38, 128, 235);
  }
.spectrum-Dialog--help .spectrum-Dialog-typeIcon, .spectrum-Dialog--info .spectrum-Dialog-typeIcon {
    color: rgb(38, 128, 235);
  }
/* topdoc
---
name: Dialog - Warning
description: A Spectrum 'warning' dialog
markup:
  <button variant="primary" class="spectrum-Button spectrum-Button--primary" onclick="document.getElementById('warningDialog').classList.add('is-open')">Open Dialog - Warning</button>
  <div class="spectrum-Dialog spectrum-Dialog--warning" id="warningDialog">
    <div class="spectrum-Dialog-wrapper" style="width:400px;">
      <div class="spectrum-Dialog-header">
        <div class="spectrum-Icon spectrum-Dialog-typeIcon spectrum-Icon--sizeS spectrum-Icon--Alert"></div>
        <h2 class="spectrum-Dialog-title">Warning Dialog</h2>
      </div>
      <div class="spectrum-Dialog-content">
        <p>This dialog was created from markup. This Dialog is not centered.</p>
      </div>
      <div class="spectrum-Dialog-footer">
        <button variant="primary" class="spectrum-Button spectrum-Button--quiet--secondary" onclick="document.getElementById('warningDialog').classList.remove('is-open')">Ok</button>
      </div>
    </div>
  </div>


*/
.spectrum-Dialog--warning .spectrum-Dialog-title {
    color: rgb(230, 134, 25);
  }
.spectrum-Dialog--warning .spectrum-Dialog-typeIcon {
    color: rgb(230, 134, 25);
  }
/* topdoc
---
name: Dialog - Error
description: A Spectrum 'error' dialog
markup:
  <button variant="primary" class="spectrum-Button spectrum-Button--primary" onclick="document.getElementById('errorDialog').classList.add('is-open')">Open Dialog - Error</button>
  <div class="spectrum-Dialog spectrum-Dialog--error" id="errorDialog">
    <div class="spectrum-Dialog-wrapper" style="width:400px;">
      <div class="spectrum-Dialog-header">
        <div class="spectrum-Icon spectrum-Dialog-typeIcon spectrum-Icon--sizeS spectrum-Icon--Alert"></div>
        <h2 class="spectrum-Dialog-title">Error Dialog</h2>
      </div>
      <div class="spectrum-Dialog-content">
        <p>This dialog was created from markup. This Dialog is not centered.</p>
      </div>
      <div class="spectrum-Dialog-footer">
        <button variant="primary" class="spectrum-Button spectrum-Button--quiet--secondary" onclick="document.getElementById('errorDialog').classList.remove('is-open')">Ok</button>
      </div>
    </div>
  </div>


*/
.spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(227, 72, 80);
  }
.spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(227, 72, 80);
  }
/* topdoc
---
name: Dialog - Modal
description: A Spectrum 'modal' dialog
markup: |
  <button variant="primary" class="spectrum-Button spectrum-Button--primary" onclick="document.getElementById('defaultModalDialog').classList.add('is-open')">Open Dialog - Modal</button>
  <div class="spectrum-Dialog spectrum-Dialog--modal" id="defaultModalDialog">
    <div class="spectrum-Dialog-wrapper" style="width: 400px;">
      <div class="spectrum-Dialog-header">
        <h2 class="spectrum-Dialog-title">Default Dialog - Modal</h2>
      </div>
      <div class="spectrum-Dialog-content">
        <p>This Dialog is not centered.</p>
      </div>
      <div class="spectrum-Dialog-footer">
        <button variant="primary" class="spectrum-Button spectrum-Button--quiet--secondary" onclick="document.getElementById('defaultModalDialog').classList.remove('is-open')">Cancel</button>
        <button variant="primary" class="spectrum-Button spectrum-Button--quiet--primary" onclick="document.getElementById('defaultModalDialog').classList.remove('is-open')">Ok</button>
      </div>
    </div>
  </div>


*/
.spectrum-Dialog--modal {
  background: rgba(0, 0, 0, 0.6);
}
