
.spectrum--dark .spectrum-Steplist {
  --spectrum-steplist-complete-marker-color: rgb(144, 144, 144);
  --spectrum-steplist-complete-segment-color: rgb(110, 110, 110);
  --spectrum-steplist-complete-label-text-color: rgb(185, 185, 185);
  --spectrum-steplist-current-marker-color: rgb(227, 227, 227);
  --spectrum-steplist-current-label-text-color: rgb(227, 227, 227);
  --spectrum-steplist-current-marker-color-key-focus: rgb(38, 128, 235);
  --spectrum-steplist-incomplete-marker-color: rgb(74, 74, 74);
  --spectrum-steplist-incomplete-segment-color: rgb(74, 74, 74);
  --spectrum-steplist-incomplete-label-text-color: rgb(144, 144, 144);
}
