.spectrum-Site {
  background-color: rgb(255, 255, 255);
}
.spectrum-Site-header {
  border-bottom-color: rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
}
.spectrum-Site-sideBar {
  background-color: rgb(255, 255, 255);
}
.spectrum-Site-mainContainer {
  background: rgb(255, 255, 255);
}
.spectrum-Site-overlay {
  background: rgba(0, 0, 0, 0.2);
}
.u-scrollable::-webkit-scrollbar-track,
.u-scrollable::-webkit-scrollbar-track-piece {
  background: rgb(255, 255, 255);
}
.u-scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}
.u-scrollable:hover::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
}
.spectrum-CSSExample-example {
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.spectrum-CSSExample-markup {
  border-top: 1px solid rgb(244, 244, 244);

  background: rgb(255, 255, 255);
}
.spectrum-CSSExample-markupToggle {
  z-index: 1;

  background: white;
}
.spectrum-CSSExample-markup.is-open .spectrum-CSSExample-markupToggle {
  background-color: transparent;
}
.spectrum-CSSExample-example--overlay {
  background: rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.4);
}
.spectrum-CSSExample-markupToggle::before {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%);
}
.spectrum--dark .spectrum-CSSExample-markupToggle,
.spectrum--darkest .spectrum-CSSExample-markupToggle {
  background: rgb(40, 40, 40);
}
.spectrum--dark .spectrum-CSSExample-markupToggle::before,
.spectrum--darkest .spectrum-CSSExample-markupToggle::before {
  background: linear-gradient(to bottom, rgba(40,40,40,0) 10%, rgba(40,40,40,1) 100%);
}
