:root {
  --spectrum-accordion-icon-height-default: 10px;
  --spectrum-accordion-icon-spacing-default: 16px;
  --spectrum-accordion-icon-width-default: 6px;
  --spectrum-accordion-item-border-size-default: 1px;
  --spectrum-accordion-item-content-padding-default: 16px;
  --spectrum-accordion-item-focus-border-size-default: 2px;
  --spectrum-accordion-item-header-font-size-default: 13px;
  --spectrum-accordion-item-height-default: 40px;
  --spectrum-accordion-item-padding-default: 16px;
  --spectrum-alias-background-color-transparent: transparent;
  --spectrum-alias-border-color-transparent: transparent;
  --spectrum-alias-border-corner-radius-large: 16px;
  --spectrum-alias-border-corner-radius-regular: 4px;
  --spectrum-alias-border-corner-radius-small: 2px;
  --spectrum-alias-border-corner-radius-xsmall: 1px;
  --spectrum-alias-border-size-thick: 2px;
  --spectrum-alias-border-size-thickest: 8px;
  --spectrum-alias-border-size-thin: 1px;
  --spectrum-alias-font-family-condensed: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ja: adobe-clean-han-japanese, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ko: adobe-clean-han-korean, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zh: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zhhans: adobe-clean-han-simplified-c, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-size-default: 14px;
  --spectrum-alias-grid-baseline: 8px;
  --spectrum-alias-grid-gutter-large: 40px;
  --spectrum-alias-grid-gutter-medium: 32px;
  --spectrum-alias-grid-gutter-small: 24px;
  --spectrum-alias-grid-gutter-xlarge: 48px;
  --spectrum-alias-grid-gutter-xsmall: 16px;
  --spectrum-alias-grid-layout-region-margin-bottom-large: 40px;
  --spectrum-alias-grid-layout-region-margin-bottom-medium: 32px;
  --spectrum-alias-grid-layout-region-margin-bottom-small: 24px;
  --spectrum-alias-grid-layout-region-margin-bottom-xlarge: 48px;
  --spectrum-alias-grid-layout-region-margin-bottom-xsmall: 16px;
  --spectrum-alias-grid-margin-large: 40px;
  --spectrum-alias-grid-margin-medium: 32px;
  --spectrum-alias-grid-margin-small: 24px;
  --spectrum-alias-grid-margin-xlarge: 48px;
  --spectrum-alias-grid-margin-xsmall: 16px;
  --spectrum-alias-layout-label-gap-size: 8px;
  --spectrum-alias-single-line-height: 32px;
  --spectrum-alias-single-line-width: 192px;
  --spectrum-body-font-line-height-default: 20px;
  --spectrum-body-font-size-default: 14px;
  --spectrum-body-font-weight-default: 400;
  --spectrum-body-italic-font-style-default: italic;
  --spectrum-body-large-font-line-height-default: 24px;
  --spectrum-body-large-font-size-default: 18px;
  --spectrum-body-large-font-weight-default: 400;
  --spectrum-body-secondary-font-line-height-default: 20px;
  --spectrum-body-secondary-font-size-default: 14px;
  --spectrum-body-secondary-font-weight-default: 400;
  --spectrum-body-small-font-line-height-default: 16px;
  --spectrum-body-small-font-size-default: 12px;
  --spectrum-body-small-font-weight-default: 400;
  --spectrum-breadcrumb-chevron-icon-height-default: 8px;
  --spectrum-breadcrumb-chevron-icon-width-default: 5px;
  --spectrum-breadcrumb-font-size-default: 16px;
  --spectrum-breadcrumb-height-default: 32px;
  --spectrum-breadcrumb-line-height-default: 24px;
  --spectrum-breadcrumb-margin-default: 24px;
  --spectrum-breadcrumb-title-active-font-size-default: 28px;
  --spectrum-breadcrumb-title-active-font-weight-default: 300;
  --spectrum-breadcrumb-title-active-line-height-default: 32px;
  --spectrum-breadcrumb-title-margin-default: 0.3em 0;
  --spectrum-button-action-border-corner-radius-default: 4px;
  --spectrum-button-action-border-size-default: 1px;
  --spectrum-button-action-font-size-default: 14px;
  --spectrum-button-action-font-weight-default: 400;
  --spectrum-button-action-icon-padding-x-default: 8px;
  --spectrum-button-action-padding-x-default: 12px;
  --spectrum-button-border-corner-radius-default: 16px;
  --spectrum-button-border-size-default: 2px;
  --spectrum-button-height-default: 32px;
  --spectrum-button-label-font-size-default: 15px;
  --spectrum-button-label-font-weight-default: bold;
  --spectrum-button-label-icon-gap-size-default: 8px;
  --spectrum-button-logic-border-corner-radius-default: 4px;
  --spectrum-button-logic-border-size-default: 2px;
  --spectrum-button-logic-font-size-default: 14px;
  --spectrum-button-logic-font-weight-default: 700;
  --spectrum-button-primary-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-disabled: transparent;
  --spectrum-button-quiet-action-background-color-focus: transparent;
  --spectrum-button-quiet-action-background-color-hover: transparent;
  --spectrum-button-quiet-action-border-color-active: transparent;
  --spectrum-button-quiet-action-border-color-default: transparent;
  --spectrum-button-quiet-action-border-color-disabled: transparent;
  --spectrum-button-quiet-action-border-color-hover: transparent;
  --spectrum-button-quiet-action-border-corner-radius-default: 4px;
  --spectrum-button-quiet-action-border-size-default: 1px;
  --spectrum-button-quiet-action-font-size-default: 14px;
  --spectrum-button-quiet-action-font-weight-default: 400;
  --spectrum-button-quiet-primary-background-color-default: transparent;
  --spectrum-button-quiet-primary-background-color-disabled: transparent;
  --spectrum-button-quiet-primary-border-color-default: transparent;
  --spectrum-button-quiet-primary-border-color-disabled: transparent;
  --spectrum-button-quiet-secondary-background-color-default: transparent;
  --spectrum-button-quiet-secondary-background-color-disabled: transparent;
  --spectrum-button-quiet-secondary-border-color-default: transparent;
  --spectrum-button-quiet-secondary-border-color-disabled: transparent;
  --spectrum-button-quiet-warning-background-color-default: transparent;
  --spectrum-button-quiet-warning-background-color-disabled: transparent;
  --spectrum-button-quiet-warning-border-color-default: transparent;
  --spectrum-button-quiet-warning-border-color-disabled: transparent;
  --spectrum-button-secondary-background-color-default: transparent;
  --spectrum-button-toggle-background-color-default: transparent;
  --spectrum-button-toggle-background-color-disabled: transparent;
  --spectrum-button-toggle-background-color-focus: transparent;
  --spectrum-button-toggle-background-color-hover: transparent;
  --spectrum-button-toggle-border-color-active: transparent;
  --spectrum-button-toggle-border-color-default: transparent;
  --spectrum-button-toggle-border-color-disabled: transparent;
  --spectrum-button-toggle-border-color-hover: transparent;
  --spectrum-button-toggle-border-corner-radius-default: 4px;
  --spectrum-button-toggle-border-size-default: 1px;
  --spectrum-button-toggle-font-size-default: 14px;
  --spectrum-button-toggle-font-weight-default: 400;
  --spectrum-button-toggle-on-background-color-active: transparent;
  --spectrum-button-toggle-on-border-color-active: transparent;
  --spectrum-button-toggle-on-border-color-default: transparent;
  --spectrum-button-toggle-on-border-color-disabled: transparent;
  --spectrum-button-toggle-on-border-color-hover: transparent;
  --spectrum-button-toggle-on-border-corner-radius-default: 4px;
  --spectrum-button-toggle-on-border-size-default: 1px;
  --spectrum-button-toggle-on-font-size-default: 14px;
  --spectrum-button-toggle-on-font-weight-default: 400;
  --spectrum-button-warning-background-color-default: transparent;
  --spectrum-calendar-day-background-color-default: transparent;
  --spectrum-calendar-day-background-color-disabled: transparent;
  --spectrum-calendar-day-border-size-focus: 2px;
  --spectrum-calendar-day-font-size-default: 14px;
  --spectrum-calendar-day-header-font-size-default: 10.5px;
  --spectrum-calendar-day-padding-size-default: 4px;
  --spectrum-calendar-day-size-default: 32px;
  --spectrum-calendar-day-text-color-selected: white;
  --spectrum-calendar-day-text-color-selected-hover: white;
  --spectrum-calendar-day-today-text-color-default: white;
  --spectrum-calendar-day-today-text-color-focus: white;
  --spectrum-calendar-day-today-text-color-hover: white;
  --spectrum-calendar-day-today-text-color-selected: white;
  --spectrum-calendar-day-today-text-color-selected-hover: white;
  --spectrum-calendar-header-font-size-default: 18px;
  --spectrum-calendar-header-height-default: 32px;
  --spectrum-calendar-width-default: 250px;
  --spectrum-cyclebutton-button-background-color-default: transparent;
  --spectrum-cyclebutton-button-border-radius-default: 4px;
  --spectrum-cyclebutton-button-box-shadow-spread-radius-focus: 2px;
  --spectrum-cyclebutton-button-height-default: 32px;
  --spectrum-cyclebutton-button-width-default: 32px;
  --spectrum-dialog-content-font-size-default: 14px;
  --spectrum-dialog-content-font-weight-default: 400;
  --spectrum-dialog-header-font-size-default: 18px;
  --spectrum-dialog-header-font-weight-default: 700;
  --spectrum-dropdown-check-icon-height-default: 12px;
  --spectrum-dropdown-check-icon-width-default: 12px;
  --spectrum-dropdown-chevron-icon-height-default: 8px;
  --spectrum-dropdown-chevron-icon-width-default: 12px;
  --spectrum-dropdown-chevron-margin-default: 14px;
  --spectrum-dropdown-flyout-margin-default: 2px;
  --spectrum-dropdown-font-size-default: 14px;
  --spectrum-dropdown-height-default: 32px;
  --spectrum-dropdown-icon-alert-width-default: 18px;
  --spectrum-dropdown-margin-default: 8px;
  --spectrum-dropdown-padding-default: 12px;
  --spectrum-dropdown-quiet-background-color-default: transparent;
  --spectrum-dropdown-quiet-border-color-default: transparent;
  --spectrum-flyout-border-corner-radius-default: 4px;
  --spectrum-flyout-border-size-default: 1px;
  --spectrum-flyout-max-height-default: 280px;
  --spectrum-global-animation-ease-in: ease-in;
  --spectrum-global-animation-ease-in-out: ease-in-out;
  --spectrum-global-animation-ease-out: ease-out;
  --spectrum-global-animation-transition-time: 125ms;
  --spectrum-global-font-family-base: Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-global-font-letter-spacing-medium: 0.06em;
  --spectrum-global-font-letter-spacing-small: 0;
  --spectrum-global-font-line-height-large: 24px;
  --spectrum-global-font-line-height-medium: 20px;
  --spectrum-global-font-line-height-small: 16px;
  --spectrum-global-font-line-height-xlarge: 32px;
  --spectrum-global-font-line-height-xxlarge: 48px;
  --spectrum-global-font-size-large: 18px;
  --spectrum-global-font-size-medium: 14px;
  --spectrum-global-font-size-small: 12px;
  --spectrum-global-font-size-xlarge: 28px;
  --spectrum-global-font-size-xsmall: 10.5px;
  --spectrum-global-font-size-xxlarge: 40px;
  --spectrum-global-font-weigh-extra-bold: 800;
  --spectrum-global-font-weight-black: 900;
  --spectrum-global-font-weight-bold: 700;
  --spectrum-global-font-weight-light: 300;
  --spectrum-global-font-weight-medium: 500;
  --spectrum-global-font-weight-regular: 400;
  --spectrum-global-font-weight-semi-bold: 600;
  --spectrum-global-font-weight-thin: 100;
  --spectrum-global-font-weight-ultra-light: 200;
  --spectrum-global-layout-breakpoint-large: 1768px;
  --spectrum-global-layout-breakpoint-medium: 1280px;
  --spectrum-global-layout-breakpoint-small: 768px;
  --spectrum-global-layout-breakpoint-xlarge: 2160px;
  --spectrum-global-layout-breakpoint-xsmall: 304px;
  --spectrum-global-layout-grid-columns: 12;
  --spectrum-global-layout-grid-fixed-max-width: 1280px;
  --spectrum-global-layout-grid-fluid-width: 100%;
  --spectrum-global-layout-size-10: 1px;
  --spectrum-global-layout-size-100: 8px;
  --spectrum-global-layout-size-150: 12px;
  --spectrum-global-layout-size-1700: 136px;
  --spectrum-global-layout-size-200: 16px;
  --spectrum-global-layout-size-2400: 192px;
  --spectrum-global-layout-size-25: 2px;
  --spectrum-global-layout-size-300: 24px;
  --spectrum-global-layout-size-400: 32px;
  --spectrum-global-layout-size-50: 4px;
  --spectrum-global-layout-size-500: 40px;
  --spectrum-global-layout-size-600: 48px;
  --spectrum-global-layout-size-700: 56px;
  --spectrum-global-layout-size-800: 64px;
  --spectrum-global-layout-size-900: 72px;
  --spectrum-heading-display-font-line-height-default: 48px;
  --spectrum-heading-display-font-size-default: 40px;
  --spectrum-heading-display-font-weight-default: 300;
  --spectrum-heading-page-title-font-line-height-default: 32px;
  --spectrum-heading-page-title-font-size-default: 28px;
  --spectrum-heading-page-title-font-weight-default: 300;
  --spectrum-heading-subtitle1-font-line-height-default: 24px;
  --spectrum-heading-subtitle1-font-size-default: 18px;
  --spectrum-heading-subtitle1-font-weight-default: 700;
  --spectrum-heading-subtitle2-font-line-height-default: 20px;
  --spectrum-heading-subtitle2-font-size-default: 14px;
  --spectrum-heading-subtitle2-font-weight-default: 700;
  --spectrum-heading-subtitle3-font-letter-spacing-default: 0.06em;
  --spectrum-heading-subtitle3-font-line-height-default: 16px;
  --spectrum-heading-subtitle3-font-size-default: 10.5px;
  --spectrum-heading-subtitle3-font-weight-default: 700;
  --spectrum-heading-subtitle3-text-transform-default: uppercase;
  --spectrum-input-border-color-disabled: transparent;
  --spectrum-input-border-corner-radius-default: 4px;
  --spectrum-input-border-size-default: 1px;
  --spectrum-input-horizontal-padding-default: 12px;
  --spectrum-input-label-font-size-default: 14px;
  --spectrum-input-quiet-background-color-default: transparent;
  --spectrum-input-quiet-background-color-disabled: transparent;
  --spectrum-input-quiet-background-color-hover: transparent;
  --spectrum-input-vertical-padding-default: 8px;
  --spectrum-link-subtle-text-color-active: inherit;
  --spectrum-link-subtle-text-color-default: inherit;
  --spectrum-link-subtle-text-color-focus: inherit;
  --spectrum-link-subtle-text-color-hover: inherit;
  --spectrum-list-border-corner-radius-default: 4px;
  --spectrum-list-border-size-default: 1px;
  --spectrum-list-divider-padding-default: 8px;
  --spectrum-list-divider-size-default: 1px;
  --spectrum-list-option-background-color-default: transparent;
  --spectrum-list-option-background-color-disabled: transparent;
  --spectrum-list-option-background-color-selected: transparent;
  --spectrum-list-option-check-height-default: 8px;
  --spectrum-list-option-check-width-default: 10px;
  --spectrum-list-option-font-size-default: 14px;
  --spectrum-list-option-font-weight-default: 400;
  --spectrum-list-option-padding-default: 12px;
  --spectrum-popover-border-corner-radius-default: 4px;
  --spectrum-popover-border-size-default: 1px;
  --spectrum-popover-tip-width-default: 24px;
  --spectrum-quickaction-border-radius-default: 16px;
  --spectrum-quickaction-height-default: 32px;
  --spectrum-quickaction-margin-default: 12px;
  --spectrum-quickaction-width-default: 32px;
  --spectrum-rail-content-width-default: 304px;
  --spectrum-rail-draghandle-width-default: 2px;
  --spectrum-rail-gripper-border-radius-default: 2px;
  --spectrum-rail-gripper-border-width-horizontal-default: 3px;
  --spectrum-rail-gripper-border-width-vertical-default: 4px;
  --spectrum-rail-gripper-height-default: 16px;
  --spectrum-rail-gripper-width-default: 4px;
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-animation-transition-time-default: 125ms;
  --spectrum-slider-border-width-active: 8px;
  --spectrum-slider-border-width-focus: 8px;
  --spectrum-slider-color-handle-color-default: transparent;
  --spectrum-slider-color-handle-color-disabled: transparent;
  --spectrum-slider-color-handle-inset-border-width-default: 1px;
  --spectrum-slider-color-handle-outset-border-width-default: 1px;
  --spectrum-slider-color-track-border-width-default: 1px;
  --spectrum-slider-color-track-height-default: 24px;
  --spectrum-slider-handle-border-radius-default: 8px;
  --spectrum-slider-handle-border-width-default: 2px;
  --spectrum-slider-handle-height-default: 16px;
  --spectrum-slider-handle-outset-border-width-default: 2px;
  --spectrum-slider-handle-width-default: 16px;
  --spectrum-slider-height-default: 32px;
  --spectrum-slider-margin-bottom-default: 1px;
  --spectrum-slider-ramp-track-height-default: 16px;
  --spectrum-slider-round-border-radius-default: 16px;
  --spectrum-slider-round-border-width-focus: 2px;
  --spectrum-slider-round-container-width-default: 48px;
  --spectrum-slider-round-handle-marker-border-radius-default: 1px;
  --spectrum-slider-round-handle-marker-height-default: 2px;
  --spectrum-slider-round-handle-marker-width-default: 12px;
  --spectrum-slider-round-height-default: 32px;
  --spectrum-slider-round-margin-right-default: 24px;
  --spectrum-slider-round-min-max-tick-angles-default: 45deg;
  --spectrum-slider-round-small-height-default: 24px;
  --spectrum-slider-round-small-width-default: 24px;
  --spectrum-slider-round-width-default: 32px;
  --spectrum-slider-tick-mark-border-radius-default: 1px;
  --spectrum-slider-tick-mark-height-default: 10px;
  --spectrum-slider-tick-mark-width-default: 2px;
  --spectrum-slider-track-border-radius-default: 4px;
  --spectrum-slider-track-height-default: 2px;
  --spectrum-slider-track-width-default: 100%;
  --spectrum-slider-width-default: 240px;
  --spectrum-statuslight-radius-default: 4px;
  --spectrum-switch-checkbox-border-radius-default: 2px;
  --spectrum-switch-checkbox-border-size-default: 2px;
  --spectrum-switch-checkbox-box-size-default: 14px;
  --spectrum-switch-checkbox-mark-size-default: 12px;
  --spectrum-switch-label-font-size-default: 14px;
  --spectrum-switch-label-gap-size-default: 8px;
  --spectrum-switch-radio-border-size-default: 2px;
  --spectrum-switch-radio-diameter-default: 14px;
  --spectrum-switch-radio-radius-default: 7px;
  --spectrum-switch-toggle-handle-border-radius-default: 7px;
  --spectrum-switch-toggle-handle-border-size-default: 2px;
  --spectrum-switch-toggle-handle-height-default: 14px;
  --spectrum-switch-toggle-handle-width-default: 14px;
  --spectrum-switch-toggle-height-default: 14px;
  --spectrum-switch-toggle-track-height-default: 14px;
  --spectrum-switch-toggle-width-default: 26px;
  --spectrum-table-body-cell-font-size-default: 14px;
  --spectrum-table-body-cell-line-height-default: 24px;
  --spectrum-table-body-cell-padding-vertical-default: 12px;
  --spectrum-table-cell-padding-default: 16px;
  --spectrum-table-head-cell-font-size-default: 10.5px;
  --spectrum-table-head-cell-font-weight-default: 700;
  --spectrum-table-head-cell-height-default: 12px;
  --spectrum-table-head-cell-letter-spacing-default: 0.06em;
  --spectrum-table-head-cell-padding-vertical-default: 4px;
  --spectrum-table-head-cell-sort-icon-height-default: 12px;
  --spectrum-table-head-cell-sort-icon-margin-left-default: 4px;
  --spectrum-table-head-cell-sort-icon-width-default: 10px;
  --spectrum-table-quiet-body-cell-background-color-default: transparent;
  --spectrum-tablist-anchored-tab-item-border-width-default: 2px;
  --spectrum-tablist-border-color-hover: transparent;
  --spectrum-tablist-horizontal-tabline-height-default: 2px;
  --spectrum-tablist-horizontal-tabline-width-default: 1px;
  --spectrum-tablist-page-tab-item-margin-right-default: 8px;
  --spectrum-tablist-panel-horizontal-tab-item-height-default: 24px;
  --spectrum-tablist-panel-horizontal-tab-item-margin-right-default: 8px;
  --spectrum-tablist-panel-icons-horizontal-tab-item-height-default: 32px;
  --spectrum-tablist-panel-icons-vertical-tab-item-height-default: 24px;
  --spectrum-tablist-panel-tab-item-label-font-size-default: 10.5px;
  --spectrum-tablist-panel-tab-item-label-font-weight-default: 600;
  --spectrum-tablist-panel-vertical-tab-item-height-default: 24px;
  --spectrum-tablist-tab-item-border-corner-radius-default: 4px;
  --spectrum-tablist-tab-item-border-width-default: 2px;
  --spectrum-tablist-tab-item-height-default: 32px;
  --spectrum-tablist-vertical-tab-item-icon-margin-right-default: 8px;
  --spectrum-tablist-vertical-tabline-border-radius-default: 1px;
  --spectrum-tablist-vertical-tabline-height-default: 20px;
  --spectrum-tablist-vertical-tabline-width-default: 2px;
}
