:root {
  --spectrum-alias-background-color-transparent: transparent;
  --spectrum-alias-border-color-transparent: transparent;
  --spectrum-body-font-line-height-default: 20px;
  --spectrum-body-font-size-default: 14px;
  --spectrum-body-font-weight-default: 400;
  --spectrum-body-italic-font-style-default: italic;
  --spectrum-body-large-font-line-height-default: 24px;
  --spectrum-body-large-font-size-default: 18px;
  --spectrum-body-large-font-weight-default: 400;
  --spectrum-body-secondary-font-line-height-default: 20px;
  --spectrum-body-secondary-font-size-default: 14px;
  --spectrum-body-secondary-font-weight-default: 400;
  --spectrum-body-small-font-line-height-default: 16px;
  --spectrum-body-small-font-size-default: 12px;
  --spectrum-body-small-font-weight-default: 400;
  --spectrum-button-action-border-corner-radius-default: 4px;
  --spectrum-button-action-border-size-default: 1px;
  --spectrum-button-action-font-size-default: 14px;
  --spectrum-button-action-font-weight-default: 400;
  --spectrum-button-action-icon-padding-x-default: 8px;
  --spectrum-button-action-padding-x-default: 12px;
  --spectrum-button-border-corner-radius-default: 16px;
  --spectrum-button-border-size-default: 2px;
  --spectrum-button-height-default: 32px;
  --spectrum-button-label-font-size-default: 15px;
  --spectrum-button-label-font-weight-default: bold;
  --spectrum-button-label-icon-gap-size-default: 8px;
  --spectrum-button-logic-border-corner-radius-default: 4px;
  --spectrum-button-logic-border-size-default: 2px;
  --spectrum-button-logic-font-size-default: 14px;
  --spectrum-button-logic-font-weight-default: 700;
  --spectrum-button-primary-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-focus: transparent;
  --spectrum-button-quiet-action-background-color-hover: transparent;
  --spectrum-button-quiet-action-border-color-active: transparent;
  --spectrum-button-quiet-action-border-color-default: transparent;
  --spectrum-button-quiet-action-border-color-disabled: transparent;
  --spectrum-button-quiet-action-border-color-hover: transparent;
  --spectrum-button-quiet-action-border-corner-radius-default: 4px;
  --spectrum-button-quiet-action-border-size-default: 1px;
  --spectrum-button-quiet-action-font-size-default: 14px;
  --spectrum-button-quiet-action-font-weight-default: 400;
  --spectrum-button-quiet-primary-background-color-default: transparent;
  --spectrum-button-quiet-primary-background-color-disabled: transparent;
  --spectrum-button-quiet-primary-border-color-default: transparent;
  --spectrum-button-quiet-primary-border-color-disabled: transparent;
  --spectrum-button-quiet-secondary-background-color-default: transparent;
  --spectrum-button-quiet-secondary-background-color-disabled: transparent;
  --spectrum-button-quiet-secondary-border-color-default: transparent;
  --spectrum-button-quiet-secondary-border-color-disabled: transparent;
  --spectrum-button-quiet-warning-background-color-default: transparent;
  --spectrum-button-quiet-warning-background-color-disabled: transparent;
  --spectrum-button-quiet-warning-border-color-default: transparent;
  --spectrum-button-quiet-warning-border-color-disabled: transparent;
  --spectrum-button-secondary-background-color-default: transparent;
  --spectrum-button-toggle-on-label-font-size-default: 14px;
  --spectrum-button-toggle-on-label-font-weight-default: normal;
  --spectrum-button-warning-background-color-default: transparent;
  --spectrum-dropdown-quiet-background-color-default: transparent;
  --spectrum-dropdown-quiet-trigger-background-color-disabled: transparent;
  --spectrum-flyout-border-corner-radius-default: 4px;
  --spectrum-flyout-border-size-default: 1px;
  --spectrum-flyout-divider-padding-default: 8px;
  --spectrum-flyout-divider-size-default: 1px;
  --spectrum-flyout-option-background-color-default: transparent;
  --spectrum-flyout-option-background-color-disabled: transparent;
  --spectrum-flyout-option-background-color-selected: transparent;
  --spectrum-flyout-option-check-height-default: 8px;
  --spectrum-flyout-option-check-width-default: 10px;
  --spectrum-flyout-option-font-size-default: 14px;
  --spectrum-flyout-option-font-weight-default: 400;
  --spectrum-flyout-option-padding-default: 12px;
  --spectrum-heading-display-font-line-height-default: 48px;
  --spectrum-heading-display-font-size-default: 40px;
  --spectrum-heading-display-font-weight-default: 300;
  --spectrum-heading-page-title-font-line-height-default: 32px;
  --spectrum-heading-page-title-font-size-default: 28px;
  --spectrum-heading-page-title-font-weight-default: 300;
  --spectrum-heading-subtitle1-font-line-height-default: 24px;
  --spectrum-heading-subtitle1-font-size-default: 18px;
  --spectrum-heading-subtitle1-font-weight-default: 700;
  --spectrum-heading-subtitle2-font-line-height-default: 20px;
  --spectrum-heading-subtitle2-font-size-default: 14px;
  --spectrum-heading-subtitle2-font-weight-default: 700;
  --spectrum-heading-subtitle3-font-letter-spacing-default: 0.06em;
  --spectrum-heading-subtitle3-font-line-height-default: 16px;
  --spectrum-heading-subtitle3-font-size-default: 10.5px;
  --spectrum-heading-subtitle3-font-weight-default: 700;
  --spectrum-heading-subtitle3-text-transform-default: uppercase;
  --spectrum-input-border-color-disabled: transparent;
  --spectrum-input-border-corner-radius-default: 4px;
  --spectrum-input-border-size-default: 1px;
  --spectrum-input-horizontal-padding-default: 12px;
  --spectrum-input-label-font-size-default: 14px;
  --spectrum-input-quiet-background-color-default: transparent;
  --spectrum-input-quiet-background-color-disabled: transparent;
  --spectrum-input-quiet-background-color-hover: transparent;
  --spectrum-input-vertical-padding-default: 8px;
  --spectrum-link-subtle-text-color-active: inherit;
  --spectrum-link-subtle-text-color-default: inherit;
  --spectrum-link-subtle-text-color-focus: inherit;
  --spectrum-link-subtle-text-color-hover: inherit;
  --spectrum-select-quiet-background-color-default: transparent;
  --spectrum-select-quiet-background-color-disabled: transparent;
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-animation-transition-time-default: 150ms;
  --spectrum-slider-border-width-active: 8px;
  --spectrum-slider-border-width-focus: 8px;
  --spectrum-slider-color-handle-color-default: transparent;
  --spectrum-slider-color-handle-color-disabled: transparent;
  --spectrum-slider-color-handle-inset-border-width-default: 1px;
  --spectrum-slider-color-handle-outset-border-width-default: 1px;
  --spectrum-slider-color-track-border-width-default: 1px;
  --spectrum-slider-color-track-height-default: 24px;
  --spectrum-slider-handle-border-radius-default: 8px;
  --spectrum-slider-handle-border-width-default: 2px;
  --spectrum-slider-handle-height-default: 16px;
  --spectrum-slider-handle-outset-border-width-default: 2px;
  --spectrum-slider-handle-width-default: 16px;
  --spectrum-slider-height-default: 32px;
  --spectrum-slider-margin-bottom-default: 1px;
  --spectrum-slider-ramp-track-height-default: 16px;
  --spectrum-slider-round-border-radius-default: 16px;
  --spectrum-slider-round-border-width-focus: 2px;
  --spectrum-slider-round-container-width-default: 48px;
  --spectrum-slider-round-handle-marker-border-radius-default: 1px;
  --spectrum-slider-round-handle-marker-height-default: 2px;
  --spectrum-slider-round-handle-marker-width-default: 12px;
  --spectrum-slider-round-height-default: 32px;
  --spectrum-slider-round-margin-right-default: 24px;
  --spectrum-slider-round-min-max-tick-angles-default: 45deg;
  --spectrum-slider-round-small-height-default: 24px;
  --spectrum-slider-round-small-width-default: 24px;
  --spectrum-slider-round-width-default: 32px;
  --spectrum-slider-tick-mark-border-radius-default: 1px;
  --spectrum-slider-tick-mark-height-default: 10px;
  --spectrum-slider-tick-mark-width-default: 2px;
  --spectrum-slider-track-border-radius-default: 4px;
  --spectrum-slider-track-height-default: 2px;
  --spectrum-slider-track-width-default: 100%;
  --spectrum-slider-width-default: 240px;
  --spectrum-switch-checkbox-border-radius-default: 2px;
  --spectrum-switch-checkbox-border-size-default: 2px;
  --spectrum-switch-checkbox-box-size-default: 14px;
  --spectrum-switch-checkbox-mark-size-default: 12px;
  --spectrum-switch-label-font-size-default: 14px;
  --spectrum-switch-label-gap-size-default: 8px;
  --spectrum-switch-radio-border-size-default: 2px;
  --spectrum-switch-radio-diameter-default: 14px;
  --spectrum-switch-radio-radius-default: 7px;
  --spectrum-switch-toggle-handle-border-radius-default: 7px;
  --spectrum-switch-toggle-handle-border-size-default: 2px;
  --spectrum-switch-toggle-handle-height-default: 14px;
  --spectrum-switch-toggle-handle-width-default: 14px;
  --spectrum-switch-toggle-height-default: 14px;
  --spectrum-switch-toggle-track-height-default: 14px;
  --spectrum-switch-toggle-width-default: 26px;
  --spectrum-tab-anchored-border-color-disabled: transparent;
  --spectrum-tab-anchored-border-color-hover: transparent;
  --spectrum-tab-anchored-border-size-default: 2px;
  --spectrum-tab-anchored-label-size-default: 14px;
  --spectrum-tab-anchored-label-weight-default: 400;
  --spectrum-tab-border-color-default: transparent;
  --spectrum-tab-border-color-hover: transparent;
  --spectrum-tab-border-size-default: 2px;
}
