:root {
  --spectrum-accordion-background-color-hover: rgb(210, 210, 210);
  --spectrum-accordion-border-color-default: rgb(202, 202, 202);
  --spectrum-accordion-border-left-color-focus: rgb(20, 115, 230);
  --spectrum-accordion-icon-color-active: rgb(60, 60, 60);
  --spectrum-accordion-icon-color-default: rgb(125, 125, 125);
  --spectrum-accordion-icon-color-disabled: rgb(180, 180, 180);
  --spectrum-accordion-icon-color-focus: rgb(60, 60, 60);
  --spectrum-accordion-icon-color-hover: rgb(60, 60, 60);
  --spectrum-accordion-text-color-active: rgb(25, 25, 25);
  --spectrum-accordion-text-color-default: rgb(97, 97, 97);
  --spectrum-accordion-text-color-disabled: rgb(160, 160, 160);
  --spectrum-accordion-text-color-focus: rgb(25, 25, 25);
  --spectrum-accordion-text-color-hover: rgb(25, 25, 25);
  --spectrum-alert-background-color-default: rgb(240, 240, 240);
  --spectrum-alert-body-text-color-default: rgb(97, 97, 97);
  --spectrum-alert-error-border-color-default: rgb(201, 37, 45);
  --spectrum-alert-error-icon-color-default: rgb(201, 37, 45);
  --spectrum-alert-header-text-color-default: rgb(25, 25, 25);
  --spectrum-alert-info-border-color-default: rgb(13, 102, 208);
  --spectrum-alert-info-icon-color-default: rgb(13, 102, 208);
  --spectrum-alert-success-border-color-default: rgb(18, 128, 92);
  --spectrum-alert-success-icon-color-default: rgb(18, 128, 92);
  --spectrum-alert-warning-border-color-default: rgb(203, 111, 16);
  --spectrum-alert-warning-icon-color-default: rgb(203, 111, 16);
  --spectrum-alias-background-color-default: rgb(220, 220, 220);
  --spectrum-alias-background-color-hover-overlay: rgba(25, 25, 25, .04);
  --spectrum-alias-background-color-label-grey: rgb(112, 112, 112);
  --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.6);
  --spectrum-alias-background-color-transparent: transparent;
  --spectrum-alias-border-color-focus-blue: rgb(20, 115, 230);
  --spectrum-alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --spectrum-alias-border-color-transparent: transparent;
  --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.08);
  --spectrum-alias-dropshadow-color-alt: rgba(0, 0, 0, 0.1);
  --spectrum-alias-focus-blue: rgb(20, 115, 230);
  --spectrum-alias-font-family-condensed: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ja: adobe-clean-han-japanese, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ko: adobe-clean-han-korean, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zh: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zhhans: adobe-clean-han-simplified-c, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-heading-color: rgb(25, 25, 25);
  --spectrum-alias-text-color: rgb(60, 60, 60);
  --spectrum-alias-text-color-disabled: rgb(160, 160, 160);
  --spectrum-alias-text-color-invalid: rgb(201, 37, 45);
  --spectrum-alias-track-color-default: rgb(202, 202, 202);
  --spectrum-body-large-text-color-default: rgb(60, 60, 60);
  --spectrum-body-secondary-text-color-default: rgb(97, 97, 97);
  --spectrum-body-small-text-color-default: rgb(60, 60, 60);
  --spectrum-body-text-color-default: rgb(60, 60, 60);
  --spectrum-body-text-color-disabled: rgb(160, 160, 160);
  --spectrum-body-text-color-invalid: rgb(201, 37, 45);
  --spectrum-breadcrumb-chevron-icon-color-default: rgb(160, 160, 160);
  --spectrum-breadcrumb-text-color-active: rgb(25, 25, 25);
  --spectrum-breadcrumb-text-color-default: rgb(97, 97, 97);
  --spectrum-breadcrumb-text-color-focus: rgb(9, 90, 186);
  --spectrum-breadcrumb-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-action-background-color-active: rgb(210, 210, 210);
  --spectrum-button-action-background-color-default: rgb(228, 228, 228);
  --spectrum-button-action-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-action-background-color-focus: rgb(240, 240, 240);
  --spectrum-button-action-background-color-hover: rgb(240, 240, 240);
  --spectrum-button-action-border-color-active: rgb(180, 180, 180);
  --spectrum-button-action-border-color-default: rgb(202, 202, 202);
  --spectrum-button-action-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-action-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-action-border-color-hover: rgb(180, 180, 180);
  --spectrum-button-action-text-color-active: rgb(25, 25, 25);
  --spectrum-button-action-text-color-default: rgb(60, 60, 60);
  --spectrum-button-action-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-action-text-color-focus: rgb(25, 25, 25);
  --spectrum-button-action-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-cta-background-color-active: rgb(6, 79, 165);
  --spectrum-button-cta-background-color-default: rgb(13, 102, 208);
  --spectrum-button-cta-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-cta-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-cta-background-color-hover: rgb(9, 90, 186);
  --spectrum-button-cta-border-color-active: rgb(6, 79, 165);
  --spectrum-button-cta-border-color-default: rgb(13, 102, 208);
  --spectrum-button-cta-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-cta-border-color-focus: rgb(9, 90, 186);
  --spectrum-button-cta-border-color-hover: rgb(9, 90, 186);
  --spectrum-button-cta-text-color-active: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-default: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-cta-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-icon-color-active: rgb(60, 60, 60);
  --spectrum-button-icon-color-default: rgb(97, 97, 97);
  --spectrum-button-icon-color-disabled: rgb(97, 97, 97);
  --spectrum-button-icon-color-focus: rgb(25, 25, 25);
  --spectrum-button-icon-color-hover: rgb(25, 25, 25);
  --spectrum-button-logic-and-background-color-default: rgb(13, 102, 208);
  --spectrum-button-logic-and-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-logic-and-background-color-focus: rgb(6, 79, 165);
  --spectrum-button-logic-and-background-color-hover: rgb(6, 79, 165);
  --spectrum-button-logic-and-border-color-default: rgb(13, 102, 208);
  --spectrum-button-logic-and-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-logic-and-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-logic-and-border-color-hover: rgb(6, 79, 165);
  --spectrum-button-logic-or-background-color-default: rgb(188, 28, 116);
  --spectrum-button-logic-or-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-logic-or-background-color-focus: rgb(160, 0, 88);
  --spectrum-button-logic-or-background-color-hover: rgb(160, 0, 88);
  --spectrum-button-logic-or-border-color-default: rgb(188, 28, 116);
  --spectrum-button-logic-or-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-logic-or-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-logic-or-border-color-hover: rgb(160, 0, 88);
  --spectrum-button-logic-text-color-default: rgb(255, 255, 255);
  --spectrum-button-logic-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-primary-background-color-active: rgb(25, 25, 25);
  --spectrum-button-primary-background-color-default: transparent;
  --spectrum-button-primary-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-primary-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-primary-background-color-hover: rgb(60, 60, 60);
  --spectrum-button-primary-border-color-active: rgb(25, 25, 25);
  --spectrum-button-primary-border-color-default: rgb(60, 60, 60);
  --spectrum-button-primary-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-primary-border-color-focus: rgb(9, 90, 186);
  --spectrum-button-primary-border-color-hover: rgb(60, 60, 60);
  --spectrum-button-primary-text-color-active: rgb(240, 240, 240);
  --spectrum-button-primary-text-color-default: rgb(60, 60, 60);
  --spectrum-button-primary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-primary-text-color-hover: rgb(240, 240, 240);
  --spectrum-button-quiet-action-background-color-active: rgb(202, 202, 202);
  --spectrum-button-quiet-action-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-disabled: transparent;
  --spectrum-button-quiet-action-background-color-focus: transparent;
  --spectrum-button-quiet-action-background-color-hover: transparent;
  --spectrum-button-quiet-action-border-color-active: transparent;
  --spectrum-button-quiet-action-border-color-default: transparent;
  --spectrum-button-quiet-action-border-color-disabled: transparent;
  --spectrum-button-quiet-action-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-action-border-color-hover: transparent;
  --spectrum-button-quiet-action-text-color-active: rgb(25, 25, 25);
  --spectrum-button-quiet-action-text-color-default: rgb(60, 60, 60);
  --spectrum-button-quiet-action-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-action-text-color-focus: rgb(25, 25, 25);
  --spectrum-button-quiet-action-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-quiet-primary-background-color-active: rgb(202, 202, 202);
  --spectrum-button-quiet-primary-background-color-default: transparent;
  --spectrum-button-quiet-primary-background-color-disabled: transparent;
  --spectrum-button-quiet-primary-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-quiet-primary-background-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-primary-border-color-active: rgb(202, 202, 202);
  --spectrum-button-quiet-primary-border-color-default: transparent;
  --spectrum-button-quiet-primary-border-color-disabled: transparent;
  --spectrum-button-quiet-primary-border-color-focus: rgb(9, 90, 186);
  --spectrum-button-quiet-primary-border-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-primary-text-color-active: rgb(25, 25, 25);
  --spectrum-button-quiet-primary-text-color-default: rgb(60, 60, 60);
  --spectrum-button-quiet-primary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-primary-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-quiet-secondary-background-color-active: rgb(202, 202, 202);
  --spectrum-button-quiet-secondary-background-color-default: transparent;
  --spectrum-button-quiet-secondary-background-color-disabled: transparent;
  --spectrum-button-quiet-secondary-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-quiet-secondary-background-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-secondary-border-color-active: rgb(202, 202, 202);
  --spectrum-button-quiet-secondary-border-color-default: transparent;
  --spectrum-button-quiet-secondary-border-color-disabled: transparent;
  --spectrum-button-quiet-secondary-border-color-focus: rgb(9, 90, 186);
  --spectrum-button-quiet-secondary-border-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-secondary-text-color-active: rgb(60, 60, 60);
  --spectrum-button-quiet-secondary-text-color-default: rgb(125, 125, 125);
  --spectrum-button-quiet-secondary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-secondary-text-color-hover: rgb(60, 60, 60);
  --spectrum-button-quiet-warning-background-color-active: rgb(202, 202, 202);
  --spectrum-button-quiet-warning-background-color-default: transparent;
  --spectrum-button-quiet-warning-background-color-disabled: transparent;
  --spectrum-button-quiet-warning-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-quiet-warning-background-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-warning-border-color-active: rgb(202, 202, 202);
  --spectrum-button-quiet-warning-border-color-default: transparent;
  --spectrum-button-quiet-warning-border-color-disabled: transparent;
  --spectrum-button-quiet-warning-border-color-focus: rgb(9, 90, 186);
  --spectrum-button-quiet-warning-border-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-warning-text-color-active: rgb(187, 18, 26);
  --spectrum-button-quiet-warning-text-color-default: rgb(201, 37, 45);
  --spectrum-button-quiet-warning-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-warning-text-color-hover: rgb(187, 18, 26);
  --spectrum-button-secondary-background-color-active: rgb(97, 97, 97);
  --spectrum-button-secondary-background-color-default: transparent;
  --spectrum-button-secondary-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-secondary-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-secondary-background-color-hover: rgb(125, 125, 125);
  --spectrum-button-secondary-border-color-active: rgb(97, 97, 97);
  --spectrum-button-secondary-border-color-default: rgb(125, 125, 125);
  --spectrum-button-secondary-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-secondary-border-color-focus: rgb(9, 90, 186);
  --spectrum-button-secondary-border-color-hover: rgb(125, 125, 125);
  --spectrum-button-secondary-text-color-active: rgb(240, 240, 240);
  --spectrum-button-secondary-text-color-default: rgb(125, 125, 125);
  --spectrum-button-secondary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-secondary-text-color-hover: rgb(240, 240, 240);
  --spectrum-button-toggle-background-color-active: rgb(202, 202, 202);
  --spectrum-button-toggle-background-color-default: transparent;
  --spectrum-button-toggle-background-color-disabled: transparent;
  --spectrum-button-toggle-background-color-focus: transparent;
  --spectrum-button-toggle-background-color-hover: transparent;
  --spectrum-button-toggle-border-color-active: transparent;
  --spectrum-button-toggle-border-color-default: transparent;
  --spectrum-button-toggle-border-color-disabled: transparent;
  --spectrum-button-toggle-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-toggle-border-color-hover: transparent;
  --spectrum-button-toggle-on-background-color-default: rgb(202, 202, 202);
  --spectrum-button-toggle-on-background-color-disabled: rgb(202, 202, 202);
  --spectrum-button-toggle-on-background-color-focus: rgb(202, 202, 202);
  --spectrum-button-toggle-on-background-color-hover: rgb(202, 202, 202);
  --spectrum-button-toggle-on-border-color-active: transparent;
  --spectrum-button-toggle-on-border-color-default: transparent;
  --spectrum-button-toggle-on-border-color-disabled: transparent;
  --spectrum-button-toggle-on-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-toggle-on-border-color-hover: transparent;
  --spectrum-button-toggle-on-text-color-active: rgb(25, 25, 25);
  --spectrum-button-toggle-on-text-color-default: rgb(60, 60, 60);
  --spectrum-button-toggle-on-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-toggle-on-text-color-focus: rgb(25, 25, 25);
  --spectrum-button-toggle-on-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-toggle-text-color-active: rgb(25, 25, 25);
  --spectrum-button-toggle-text-color-default: rgb(60, 60, 60);
  --spectrum-button-toggle-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-toggle-text-color-focus: rgb(25, 25, 25);
  --spectrum-button-toggle-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-warning-background-color-active: rgb(170, 13, 21);
  --spectrum-button-warning-background-color-default: transparent;
  --spectrum-button-warning-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-warning-background-color-focus: rgb(6, 79, 165);
  --spectrum-button-warning-background-color-hover: rgb(187, 18, 26);
  --spectrum-button-warning-border-color-active: rgb(170, 13, 21);
  --spectrum-button-warning-border-color-default: rgb(187, 18, 26);
  --spectrum-button-warning-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-warning-border-color-focus: rgb(6, 79, 165);
  --spectrum-button-warning-border-color-hover: rgb(187, 18, 26);
  --spectrum-button-warning-text-color-active: rgb(240, 240, 240);
  --spectrum-button-warning-text-color-default: rgb(187, 18, 26);
  --spectrum-button-warning-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-warning-text-color-hover: rgb(240, 240, 240);
  --spectrum-calendar-button-icon-color-default: rgb(97, 97, 97);
  --spectrum-calendar-day-background-color-default: transparent;
  --spectrum-calendar-day-background-color-disabled: transparent;
  --spectrum-calendar-day-background-color-focus: rgb(202, 202, 202);
  --spectrum-calendar-day-background-color-hover: rgb(210, 210, 210);
  --spectrum-calendar-day-background-color-selected: rgb(13, 102, 208);
  --spectrum-calendar-day-background-color-selected-hover: rgb(9, 90, 186);
  --spectrum-calendar-day-border-color-focus: rgb(20, 115, 230);
  --spectrum-calendar-day-header-text-color-default: rgb(97, 97, 97);
  --spectrum-calendar-day-text-color-default: rgb(60, 60, 60);
  --spectrum-calendar-day-text-color-disabled: rgb(160, 160, 160);
  --spectrum-calendar-day-text-color-focus: rgb(60, 60, 60);
  --spectrum-calendar-day-text-color-hover: rgb(60, 60, 60);
  --spectrum-calendar-day-text-color-selected: white;
  --spectrum-calendar-day-text-color-selected-hover: white;
  --spectrum-calendar-day-today-background-color-default: rgb(60, 60, 60);
  --spectrum-calendar-day-today-background-color-disabled: rgb(210, 210, 210);
  --spectrum-calendar-day-today-background-color-focus: rgb(25, 25, 25);
  --spectrum-calendar-day-today-background-color-hover: rgb(25, 25, 25);
  --spectrum-calendar-day-today-background-color-selected: rgb(13, 102, 208);
  --spectrum-calendar-day-today-background-color-selected-hover: rgb(9, 90, 186);
  --spectrum-calendar-day-today-text-color-default: white;
  --spectrum-calendar-day-today-text-color-disabled: rgb(160, 160, 160);
  --spectrum-calendar-day-today-text-color-focus: white;
  --spectrum-calendar-day-today-text-color-hover: white;
  --spectrum-calendar-day-today-text-color-selected: white;
  --spectrum-calendar-day-today-text-color-selected-hover: white;
  --spectrum-cyclebutton-button-background-color-active: rgb(202, 202, 202);
  --spectrum-cyclebutton-button-background-color-default: transparent;
  --spectrum-cyclebutton-button-box-shadow-color-focus: rgb(20, 115, 230);
  --spectrum-cyclebutton-icon-color-default: rgb(97, 97, 97);
  --spectrum-cyclebutton-icon-color-hover: rgb(25, 25, 25);
  --spectrum-dialog-background-color-default: rgb(228, 228, 228);
  --spectrum-dialog-content-text-color-default: rgb(60, 60, 60);
  --spectrum-dialog-error-icon-color-default: rgb(201, 37, 45);
  --spectrum-dialog-error-title-text-color-default: rgb(201, 37, 45);
  --spectrum-dialog-icon-color-default: rgb(25, 25, 25);
  --spectrum-dialog-info-icon-color-default: rgb(13, 102, 208);
  --spectrum-dialog-info-title-text-color-default: rgb(13, 102, 208);
  --spectrum-dialog-popover-border-color-default: rgb(202, 202, 202);
  --spectrum-dialog-popover-shadow-color-default: rgba(0, 0, 0, 0.08);
  --spectrum-dialog-success-icon-color-default: rgb(18, 128, 92);
  --spectrum-dialog-success-title-text-color-default: rgb(18, 128, 92);
  --spectrum-dialog-title-divider-color-default: rgb(210, 210, 210);
  --spectrum-dialog-title-text-color-default: rgb(25, 25, 25);
  --spectrum-dialog-underlay-background-color-default: rgba(0, 0, 0, 0.6);
  --spectrum-dialog-warning-icon-color-default: rgb(203, 111, 16);
  --spectrum-dialog-warning-title-text-color-default: rgb(203, 111, 16);
  --spectrum-drag-handle-background-color-default: rgb(202, 202, 202);
  --spectrum-drag-handle-background-color-focus: rgb(20, 115, 230);
  --spectrum-drag-handle-background-color-hover: rgb(160, 160, 160);
  --spectrum-drag-handle-icon-color-default: rgb(240, 240, 240);
  --spectrum-drawer-background-color-default: rgb(228, 228, 228);
  --spectrum-dropdown-background-color-default: rgb(228, 228, 228);
  --spectrum-dropdown-background-color-disabled: rgb(210, 210, 210);
  --spectrum-dropdown-background-color-hover: rgb(240, 240, 240);
  --spectrum-dropdown-background-color-open: rgb(210, 210, 210);
  --spectrum-dropdown-border-color-default: rgb(202, 202, 202);
  --spectrum-dropdown-border-color-focus: rgb(20, 115, 230);
  --spectrum-dropdown-border-color-hover: rgb(180, 180, 180);
  --spectrum-dropdown-border-color-invalid-default: rgb(215, 55, 63);
  --spectrum-dropdown-border-color-open: rgb(180, 180, 180);
  --spectrum-dropdown-icon-color-invalid-default: rgb(215, 55, 63);
  --spectrum-dropdown-quiet-icon-color-chevron-hover: rgb(60, 60, 60);
  --spectrum-dropdown-text-color-default: rgb(60, 60, 60);
  --spectrum-dropdown-text-color-disabled: rgb(160, 160, 160);
  --spectrum-dropdown-text-color-hover: rgb(25, 25, 25);
  --spectrum-flyout-border-color-default: rgb(180, 180, 180);
  --spectrum-flyout-shadow-color-default: rgba(0, 0, 0, 0.1);
  --spectrum-global-animation-ease-in: ease-in;
  --spectrum-global-animation-ease-in-out: ease-in-out;
  --spectrum-global-animation-ease-out: ease-out;
  --spectrum-global-color-blue400: rgb(20, 115, 230);
  --spectrum-global-color-blue500: rgb(13, 102, 208);
  --spectrum-global-color-blue600: rgb(9, 90, 186);
  --spectrum-global-color-blue700: rgb(6, 79, 165);
  --spectrum-global-color-celery400: rgb(61, 167, 78);
  --spectrum-global-color-celery500: rgb(55, 153, 71);
  --spectrum-global-color-celery600: rgb(49, 139, 64);
  --spectrum-global-color-celery700: rgb(43, 125, 56);
  --spectrum-global-color-chartreuse400: rgb(124, 195, 63);
  --spectrum-global-color-chartreuse500: rgb(115, 181, 58);
  --spectrum-global-color-chartreuse600: rgb(106, 168, 52);
  --spectrum-global-color-chartreuse700: rgb(97, 155, 47);
  --spectrum-global-color-fuchsia400: rgb(177, 48, 189);
  --spectrum-global-color-fuchsia500: rgb(162, 40, 173);
  --spectrum-global-color-fuchsia600: rgb(147, 33, 158);
  --spectrum-global-color-fuchsia700: rgb(132, 26, 142);
  --spectrum-global-color-green400: rgb(38, 142, 108);
  --spectrum-global-color-green500: rgb(18, 128, 92);
  --spectrum-global-color-green600: rgb(16, 113, 84);
  --spectrum-global-color-green700: rgb(20, 99, 72);
  --spectrum-global-color-grey100: rgb(220, 220, 220);
  --spectrum-global-color-grey200: rgb(210, 210, 210);
  --spectrum-global-color-grey300: rgb(202, 202, 202);
  --spectrum-global-color-grey400: rgb(180, 180, 180);
  --spectrum-global-color-grey50: rgb(240, 240, 240);
  --spectrum-global-color-grey500: rgb(160, 160, 160);
  --spectrum-global-color-grey600: rgb(125, 125, 125);
  --spectrum-global-color-grey700: rgb(97, 97, 97);
  --spectrum-global-color-grey75: rgb(228, 228, 228);
  --spectrum-global-color-grey800: rgb(60, 60, 60);
  --spectrum-global-color-grey900: rgb(25, 25, 25);
  --spectrum-global-color-indigo400: rgb(92, 92, 224);
  --spectrum-global-color-indigo500: rgb(81, 81, 211);
  --spectrum-global-color-indigo600: rgb(70, 70, 198);
  --spectrum-global-color-indigo700: rgb(59, 59, 186);
  --spectrum-global-color-magenta400: rgb(202, 41, 150);
  --spectrum-global-color-magenta500: rgb(188, 28, 116);
  --spectrum-global-color-magenta600: rgb(174, 14, 102);
  --spectrum-global-color-magenta700: rgb(160, 0, 88);
  --spectrum-global-color-orange400: rgb(218, 123, 17);
  --spectrum-global-color-orange500: rgb(203, 111, 16);
  --spectrum-global-color-orange600: rgb(189, 100, 13);
  --spectrum-global-color-orange700: rgb(176, 90, 8);
  --spectrum-global-color-purple400: rgb(134, 76, 204);
  --spectrum-global-color-purple500: rgb(122, 66, 191);
  --spectrum-global-color-purple600: rgb(111, 56, 177);
  --spectrum-global-color-purple700: rgb(99, 46, 164);
  --spectrum-global-color-red400: rgb(215, 55, 63);
  --spectrum-global-color-red500: rgb(201, 37, 45);
  --spectrum-global-color-red600: rgb(187, 18, 26);
  --spectrum-global-color-red700: rgb(170, 13, 21);
  --spectrum-global-color-seafoam400: rgb(22, 135, 140);
  --spectrum-global-color-seafoam500: rgb(15, 121, 125);
  --spectrum-global-color-seafoam600: rgb(9, 108, 111);
  --spectrum-global-color-seafoam700: rgb(8, 96, 99);
  --spectrum-global-color-white: rgb(255, 255, 255);
  --spectrum-global-color-yellow400: rgb(210, 178, 0);
  --spectrum-global-color-yellow500: rgb(196, 166, 0);
  --spectrum-global-color-yellow600: rgb(183, 153, 0);
  --spectrum-global-color-yellow700: rgb(170, 140, 0);
  --spectrum-global-font-family-base: Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-heading-display-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-page-title-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-subtitle1-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-subtitle2-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-subtitle3-text-color-default: rgb(97, 97, 97);
  --spectrum-heading-subtitle3-text-transform-default: uppercase;
  --spectrum-input-background-color-default: rgb(240, 240, 240);
  --spectrum-input-background-color-disabled: rgb(210, 210, 210);
  --spectrum-input-border-color-active: rgb(20, 115, 230);
  --spectrum-input-border-color-default: rgb(202, 202, 202);
  --spectrum-input-border-color-disabled: transparent;
  --spectrum-input-border-color-focus: rgb(20, 115, 230);
  --spectrum-input-border-color-hover: rgb(180, 180, 180);
  --spectrum-input-icon-color-active: rgb(240, 240, 240);
  --spectrum-input-icon-color-default: rgb(97, 97, 97);
  --spectrum-input-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-input-icon-color-hover: rgb(60, 60, 60);
  --spectrum-input-invalid-border-color-default: rgb(215, 55, 63);
  --spectrum-input-label-text-color-default: rgb(97, 97, 97);
  --spectrum-input-placeholder-text-color-default: rgb(125, 125, 125);
  --spectrum-input-placeholder-text-color-disabled: rgb(202, 202, 202);
  --spectrum-input-placeholder-text-color-hover: rgb(60, 60, 60);
  --spectrum-input-quiet-background-color-default: transparent;
  --spectrum-input-quiet-background-color-disabled: transparent;
  --spectrum-input-quiet-background-color-hover: transparent;
  --spectrum-input-quiet-border-color-active: rgb(20, 115, 230);
  --spectrum-input-quiet-border-color-default: rgb(202, 202, 202);
  --spectrum-input-quiet-border-color-disabled: rgb(202, 202, 202);
  --spectrum-input-quiet-border-color-focus: rgb(20, 115, 230);
  --spectrum-input-quiet-border-color-hover: rgb(180, 180, 180);
  --spectrum-input-text-color-default: rgb(60, 60, 60);
  --spectrum-input-text-color-disabled: rgb(160, 160, 160);
  --spectrum-label-colored-background-color-disabled: rgb(112, 112, 112);
  --spectrum-label-colored-blue-background-color-default: rgb(20, 115, 230);
  --spectrum-label-colored-fuchsia-background-color-default: rgb(177, 48, 189);
  --spectrum-label-colored-green-background-color-default: rgb(38, 142, 108);
  --spectrum-label-colored-grey-background-color-default: rgb(112, 112, 112);
  --spectrum-label-colored-orange-background-color-default: rgb(218, 123, 17);
  --spectrum-label-colored-red-background-color-default: rgb(215, 55, 63);
  --spectrum-label-colored-seafoam-background-color-default: rgb(22, 135, 140);
  --spectrum-label-colored-text-color-default: rgb(255, 255, 255);
  --spectrum-label-colored-yellow-background-color-default: rgb(210, 178, 0);
  --spectrum-label-large-text-color-default: rgb(97, 97, 97);
  --spectrum-label-text-color-default: rgb(97, 97, 97);
  --spectrum-label-text-color-disabled: rgb(160, 160, 160);
  --spectrum-link-subtle-box-shadow-color-focus: rgb(60, 60, 60);
  --spectrum-link-subtle-text-color-active: inherit;
  --spectrum-link-subtle-text-color-default: inherit;
  --spectrum-link-subtle-text-color-focus: inherit;
  --spectrum-link-subtle-text-color-hover: inherit;
  --spectrum-link-text-color-active: rgb(6, 79, 165);
  --spectrum-link-text-color-default: rgb(9, 90, 186);
  --spectrum-link-text-color-disabled: rgb(160, 160, 160);
  --spectrum-link-text-color-focus: rgb(9, 90, 186);
  --spectrum-link-text-color-hover: rgb(9, 90, 186);
  --spectrum-list-background-color-default: rgb(228, 228, 228);
  --spectrum-list-background-color-hover: rgba(25, 25, 25, .04);
  --spectrum-list-border-color-default: rgb(180, 180, 180);
  --spectrum-list-divider-color-default: rgb(210, 210, 210);
  --spectrum-list-focusindicator-color-default: rgb(20, 115, 230);
  --spectrum-list-option-background-color-active: rgb(210, 210, 210);
  --spectrum-list-option-background-color-default: transparent;
  --spectrum-list-option-background-color-disabled: transparent;
  --spectrum-list-option-background-color-focus: rgb(220, 220, 220);
  --spectrum-list-option-background-color-hover: rgb(220, 220, 220);
  --spectrum-list-option-background-color-selected: transparent;
  --spectrum-list-option-focus-indicator-color-default: rgb(20, 115, 230);
  --spectrum-list-option-text-color-default: rgb(60, 60, 60);
  --spectrum-list-option-text-color-disabled: rgb(160, 160, 160);
  --spectrum-list-option-text-color-focus: rgb(60, 60, 60);
  --spectrum-list-option-text-color-hover: rgb(60, 60, 60);
  --spectrum-list-option-text-color-selected: rgb(9, 90, 186);
  --spectrum-list-text-color-active: rgb(60, 60, 60);
  --spectrum-list-text-color-default: rgb(60, 60, 60);
  --spectrum-loader-background-color-default: rgb(202, 202, 202);
  --spectrum-loader-blue-color-default: rgb(20, 115, 230);
  --spectrum-loader-grey-color-default: rgb(125, 125, 125);
  --spectrum-miller-column-item-background-color-active: rgb(97, 97, 97);
  --spectrum-miller-column-item-background-color-hover: rgb(210, 210, 210);
  --spectrum-miller-column-item-background-color-selected: rgb(60, 60, 60);
  --spectrum-miller-column-item-chevron-color-active: rgb(240, 240, 240);
  --spectrum-miller-column-item-chevron-color-default: rgb(125, 125, 125);
  --spectrum-miller-column-item-chevron-color-hover: rgb(97, 97, 97);
  --spectrum-miller-column-item-text-color-active: rgb(240, 240, 240);
  --spectrum-miller-column-item-text-color-default: rgb(60, 60, 60);
  --spectrum-miller-column-item-text-color-focus: rgb(20, 115, 230);
  --spectrum-miller-column-item-text-color-selected: rgb(240, 240, 240);
  --spectrum-miller-column-item-thumbnail-background-color-default: rgb(202, 202, 202);
  --spectrum-miller-column-item-thumbnail-background-color-selected: rgb(240, 240, 240);
  --spectrum-miller-column-item-thumbnail-checkmark-color-selected: rgb(25, 25, 25);
  --spectrum-popover-background-color-default: rgb(240, 240, 240);
  --spectrum-popover-border-color-default: rgb(180, 180, 180);
  --spectrum-popover-shadow-color-default: rgb(160, 160, 160);
  --spectrum-quickaction-background-color-default: rgb(240, 240, 240);
  --spectrum-quickaction-border-color-active: rgb(60, 60, 60);
  --spectrum-quickaction-border-color-default: rgb(180, 180, 180);
  --spectrum-quickaction-border-color-focus: rgb(20, 115, 230);
  --spectrum-quickaction-border-color-hover: rgb(97, 97, 97);
  --spectrum-quickaction-box-shadow-color-default: rgba(0, 0, 0, 0.1);
  --spectrum-quickaction-icon-color-focus: rgb(20, 115, 230);
  --spectrum-quickaction-text-color-active: rgb(25, 25, 25);
  --spectrum-quickaction-text-color-default: rgb(97, 97, 97);
  --spectrum-quickaction-text-color-focus: rgb(20, 115, 230);
  --spectrum-quickaction-text-color-hover: rgb(25, 25, 25);
  --spectrum-rail-content-background-color-default: rgb(220, 220, 220);
  --spectrum-rail-draghandle-background-color-active: rgb(60, 60, 60);
  --spectrum-rail-draghandle-background-color-default: rgb(202, 202, 202);
  --spectrum-rail-draghandle-background-color-hover: rgb(180, 180, 180);
  --spectrum-rating-icon-color-active: rgb(60, 60, 60);
  --spectrum-rating-icon-color-default: rgb(125, 125, 125);
  --spectrum-rating-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-rating-icon-color-hover: rgb(25, 25, 25);
  --spectrum-rule-label-text-color-default: rgb(25, 25, 25);
  --spectrum-rule-main-section-default: rgb(60, 60, 60);
  --spectrum-rule-sub-section-1-default: rgb(202, 202, 202);
  --spectrum-rule-sub-section-2-default: rgb(210, 210, 210);
  --spectrum-semantic-informative-color-default: rgb(13, 102, 208);
  --spectrum-semantic-informative-color-icon: rgb(20, 115, 230);
  --spectrum-semantic-informative-color-state-down: rgb(6, 79, 165);
  --spectrum-semantic-informative-color-state-focus: rgb(20, 115, 230);
  --spectrum-semantic-informative-color-status: rgb(20, 115, 230);
  --spectrum-semantic-informative-color-text-large: rgb(13, 102, 208);
  --spectrum-semantic-informative-color-text-small: rgb(9, 90, 186);
  --spectrum-semantic-negative-color-default: rgb(201, 37, 45);
  --spectrum-semantic-negative-color-icon: rgb(215, 55, 63);
  --spectrum-semantic-negative-color-state-down: rgb(170, 13, 21);
  --spectrum-semantic-negative-color-state-focus: rgb(215, 55, 63);
  --spectrum-semantic-negative-color-status: rgb(215, 55, 63);
  --spectrum-semantic-negative-color-text-large: rgb(201, 37, 45);
  --spectrum-semantic-negative-color-text-small: rgb(187, 18, 26);
  --spectrum-semantic-notice-color-default: rgb(203, 111, 16);
  --spectrum-semantic-notice-color-icon: rgb(218, 123, 17);
  --spectrum-semantic-notice-color-state-down: rgb(176, 90, 8);
  --spectrum-semantic-notice-color-state-focus: rgb(218, 123, 17);
  --spectrum-semantic-notice-color-status: rgb(218, 123, 17);
  --spectrum-semantic-notice-color-text-large: rgb(203, 111, 16);
  --spectrum-semantic-notice-color-text-small: rgb(189, 100, 13);
  --spectrum-semantic-positive-color-default: rgb(18, 128, 92);
  --spectrum-semantic-positive-color-icon: rgb(38, 142, 108);
  --spectrum-semantic-positive-color-state-down: rgb(20, 99, 72);
  --spectrum-semantic-positive-color-state-focus: rgb(38, 142, 108);
  --spectrum-semantic-positive-color-status: rgb(38, 142, 108);
  --spectrum-semantic-positive-color-text-large: rgb(18, 128, 92);
  --spectrum-semantic-positive-color-text-small: rgb(16, 113, 84);
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-color-handle-border-color-default: rgb(240, 240, 240);
  --spectrum-slider-color-handle-border-color-disabled: rgb(180, 180, 180);
  --spectrum-slider-color-handle-color-default: transparent;
  --spectrum-slider-color-handle-color-disabled: transparent;
  --spectrum-slider-color-handle-inset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-focus: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-background-color-gradient-end-default: rgb(6, 79, 165);
  --spectrum-slider-color-track-background-color-gradient-start-default: rgb(20, 115, 230);
  --spectrum-slider-color-track-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-color-disabled: rgb(210, 210, 210);
  --spectrum-slider-fill-track-color-default: rgb(97, 97, 97);
  --spectrum-slider-fill-track-color-disabled: rgb(202, 202, 202);
  --spectrum-slider-handle-border-color-active: rgb(60, 60, 60);
  --spectrum-slider-handle-border-color-default: rgb(97, 97, 97);
  --spectrum-slider-handle-border-color-disabled: rgb(180, 180, 180);
  --spectrum-slider-handle-border-color-focus: rgb(20, 115, 230);
  --spectrum-slider-handle-border-color-hover: rgb(60, 60, 60);
  --spectrum-slider-handle-color-default: rgb(220, 220, 220);
  --spectrum-slider-handle-fill-color-active: rgb(60, 60, 60);
  --spectrum-slider-handle-fill-color-focus: rgb(20, 115, 230);
  --spectrum-slider-handle-outset-border-color-default: rgb(220, 220, 220);
  --spectrum-slider-player-track-buffer-color-default: rgb(160, 160, 160);
  --spectrum-slider-player-track-buffer-color-disabled: rgb(202, 202, 202);
  --spectrum-slider-ramp-track-color-disabled: rgb(210, 210, 210);
  --spectrum-slider-round-border-color-hover: rgb(60, 60, 60);
  --spectrum-slider-round-handle-marker-color-default: rgb(97, 97, 97);
  --spectrum-slider-round-handle-marker-color-focus: rgb(240, 240, 240);
  --spectrum-slider-round-handle-marker-color-hover: rgb(60, 60, 60);
  --spectrum-slider-round-min-max-tick-color-default: rgb(125, 125, 125);
  --spectrum-slider-text-color-disabled: rgb(160, 160, 160);
  --spectrum-slider-tick-mark-color-default: rgb(202, 202, 202);
  --spectrum-slider-track-color-default: rgb(202, 202, 202);
  --spectrum-slider-track-color-disabled: rgb(202, 202, 202);
  --spectrum-statuslight-color-organizational-celery: rgb(61, 167, 78);
  --spectrum-statuslight-color-organizational-chartreuse: rgb(124, 195, 63);
  --spectrum-statuslight-color-organizational-fuchsia: rgb(177, 48, 189);
  --spectrum-statuslight-color-organizational-indigo: rgb(92, 92, 224);
  --spectrum-statuslight-color-organizational-magenta: rgb(202, 41, 150);
  --spectrum-statuslight-color-organizational-purple: rgb(134, 76, 204);
  --spectrum-statuslight-color-organizational-seafoam: rgb(22, 135, 140);
  --spectrum-statuslight-color-organizational-yellow: rgb(210, 178, 0);
  --spectrum-statuslight-color-status-active: rgb(20, 115, 230);
  --spectrum-statuslight-color-status-archived: rgb(160, 160, 160);
  --spectrum-statuslight-color-status-negative: rgb(215, 55, 63);
  --spectrum-statuslight-color-status-notice: rgb(218, 123, 17);
  --spectrum-statuslight-color-status-positive: rgb(38, 142, 108);
  --spectrum-statuslight-text-color-active: rgb(60, 60, 60);
  --spectrum-statuslight-text-color-archived: rgb(125, 125, 125);
  --spectrum-statuslight-text-color-negative: rgb(60, 60, 60);
  --spectrum-statuslight-text-color-notice: rgb(60, 60, 60);
  --spectrum-statuslight-text-color-organizational: rgb(60, 60, 60);
  --spectrum-statuslight-text-color-positive: rgb(60, 60, 60);
  --spectrum-steplist-complete-label-text-color-default: rgb(97, 97, 97);
  --spectrum-steplist-complete-marker-color-default: rgb(125, 125, 125);
  --spectrum-steplist-complete-marker-color-focus: rgb(20, 115, 230);
  --spectrum-steplist-complete-marker-color-hover: rgb(97, 97, 97);
  --spectrum-steplist-complete-segment-color-default: rgb(160, 160, 160);
  --spectrum-steplist-current-label-text-color-default: rgb(60, 60, 60);
  --spectrum-steplist-current-marker-color-default: rgb(60, 60, 60);
  --spectrum-steplist-current-marker-color-focus: rgb(20, 115, 230);
  --spectrum-steplist-incomplete-label-text-color-default: rgb(125, 125, 125);
  --spectrum-steplist-incomplete-marker-color-default: rgb(202, 202, 202);
  --spectrum-steplist-incomplete-marker-color-hover: rgb(97, 97, 97);
  --spectrum-steplist-incomplete-segment-color-default: rgb(202, 202, 202);
  --spectrum-switch-border-color-active: rgb(97, 97, 97);
  --spectrum-switch-border-color-default: rgb(125, 125, 125);
  --spectrum-switch-border-color-disabled: rgb(180, 180, 180);
  --spectrum-switch-border-color-error: rgb(201, 37, 45);
  --spectrum-switch-border-color-focus: rgb(20, 115, 230);
  --spectrum-switch-border-color-hover: rgb(25, 25, 25);
  --spectrum-switch-checkbox-checkmark-color-default: rgb(220, 220, 220);
  --spectrum-switch-invalid-border-color-active: rgb(170, 13, 21);
  --spectrum-switch-invalid-border-color-default: rgb(201, 37, 45);
  --spectrum-switch-invalid-border-color-hover: rgb(187, 18, 26);
  --spectrum-switch-label-text-color-active: rgb(60, 60, 60);
  --spectrum-switch-label-text-color-default: rgb(60, 60, 60);
  --spectrum-switch-label-text-color-disabled: rgb(160, 160, 160);
  --spectrum-switch-label-text-color-error: rgb(187, 18, 26);
  --spectrum-switch-label-text-color-focus: rgb(6, 79, 165);
  --spectrum-switch-label-text-color-hover: rgb(25, 25, 25);
  --spectrum-switch-toggle-handle-background-color-default: rgb(220, 220, 220);
  --spectrum-switch-toggle-track-color-active: rgb(97, 97, 97);
  --spectrum-switch-toggle-track-color-default: rgb(202, 202, 202);
  --spectrum-switch-toggle-track-color-disabled: rgb(202, 202, 202);
  --spectrum-switch-toggle-track-color-focus: rgb(20, 115, 230);
  --spectrum-switch-toggle-track-color-hover: rgb(25, 25, 25);
  --spectrum-table-body-cell-background-color-active: rgb(210, 210, 210);
  --spectrum-table-body-cell-background-color-default: rgb(228, 228, 228);
  --spectrum-table-body-cell-background-color-hover: rgb(220, 220, 220);
  --spectrum-table-body-cell-background-color-selected: rgb(220, 220, 220);
  --spectrum-table-body-cell-background-color-selected-hover: rgb(210, 210, 210);
  --spectrum-table-body-cell-border-color-default: rgb(202, 202, 202);
  --spectrum-table-body-cell-text-color-default: rgb(60, 60, 60);
  --spectrum-table-head-cell-sort-icon-color-active: rgb(60, 60, 60);
  --spectrum-table-head-cell-sort-icon-color-default: rgb(125, 125, 125);
  --spectrum-table-head-cell-sort-icon-color-hover: rgb(97, 97, 97);
  --spectrum-table-head-cell-text-color-active: rgb(25, 25, 25);
  --spectrum-table-head-cell-text-color-default: rgb(97, 97, 97);
  --spectrum-table-head-cell-text-color-hover: rgb(60, 60, 60);
  --spectrum-table-quiet-body-cell-background-color-active: rgb(202, 202, 202);
  --spectrum-table-quiet-body-cell-background-color-default: transparent;
  --spectrum-table-quiet-body-cell-background-color-hover: rgb(210, 210, 210);
  --spectrum-table-quiet-body-cell-background-color-selected: rgb(210, 210, 210);
  --spectrum-table-quiet-body-cell-background-color-selected-hover: rgb(202, 202, 202);
  --spectrum-tablist-anchored-border-color-default: rgb(210, 210, 210);
  --spectrum-tablist-anchored-tabline-background-color-focus: rgb(20, 115, 230);
  --spectrum-tablist-anchored-text-color-focus: rgb(20, 115, 230);
  --spectrum-tablist-border-color-active: rgb(25, 25, 25);
  --spectrum-tablist-border-color-disabled: rgb(180, 180, 180);
  --spectrum-tablist-border-color-focus: rgb(20, 115, 230);
  --spectrum-tablist-border-color-hover: transparent;
  --spectrum-tablist-icon-color-active: rgb(25, 25, 25);
  --spectrum-tablist-icon-color-default: rgb(97, 97, 97);
  --spectrum-tablist-icon-color-disabled: rgb(180, 180, 180);
  --spectrum-tablist-icon-color-focus: rgb(25, 25, 25);
  --spectrum-tablist-icon-color-hover: rgb(25, 25, 25);
  --spectrum-tablist-tabline-background-color-default: rgb(25, 25, 25);
  --spectrum-tablist-tabline-border-color-default: rgb(210, 210, 210);
  --spectrum-tablist-text-color-active: rgb(25, 25, 25);
  --spectrum-tablist-text-color-default: rgb(97, 97, 97);
  --spectrum-tablist-text-color-disabled: rgb(160, 160, 160);
  --spectrum-tablist-text-color-focus: rgb(25, 25, 25);
  --spectrum-tablist-text-color-hover: rgb(25, 25, 25);
  --spectrum-tag-background-color-active: rgb(240, 240, 240);
  --spectrum-tag-background-color-default: rgb(228, 228, 228);
  --spectrum-tag-background-color-disabled: rgb(210, 210, 210);
  --spectrum-tag-background-color-focus: rgb(240, 240, 240);
  --spectrum-tag-background-color-hover: rgb(240, 240, 240);
  --spectrum-tag-border-color-active: rgb(25, 25, 25);
  --spectrum-tag-border-color-default: rgb(125, 125, 125);
  --spectrum-tag-border-color-disabled: rgb(210, 210, 210);
  --spectrum-tag-border-color-focus: rgb(20, 115, 230);
  --spectrum-tag-border-color-hover: rgb(25, 25, 25);
  --spectrum-tag-icon-color-active: rgb(25, 25, 25);
  --spectrum-tag-icon-color-default: rgb(97, 97, 97);
  --spectrum-tag-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-tag-icon-color-focus: rgb(20, 115, 230);
  --spectrum-tag-icon-color-hover: rgb(25, 25, 25);
  --spectrum-tag-invalid-border-color-default: rgb(201, 37, 45);
  --spectrum-tag-invalid-text-color-default: rgb(201, 37, 45);
  --spectrum-tag-text-color-active: rgb(25, 25, 25);
  --spectrum-tag-text-color-default: rgb(97, 97, 97);
  --spectrum-tag-text-color-disabled: rgb(160, 160, 160);
  --spectrum-tag-text-color-focus: rgb(25, 25, 25);
  --spectrum-tag-text-color-hover: rgb(25, 25, 25);
  --spectrum-toast-background-color-default: rgb(112, 112, 112);
  --spectrum-toast-error-background-color-default: rgb(201, 37, 45);
  --spectrum-toast-icon-color-default: rgb(255, 255, 255);
  --spectrum-toast-info-background-color-default: rgb(13, 102, 208);
  --spectrum-toast-success-background-color-default: rgb(18, 128, 92);
  --spectrum-toast-text-color-default: rgb(255, 255, 255);
  --spectrum-toast-warning-background-color-default: rgb(203, 111, 16);
  --spectrum-tooltip-background-color-default: rgb(112, 112, 112);
  --spectrum-tooltip-error-background-color-default: rgb(201, 37, 45);
  --spectrum-tooltip-icon-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-info-background-color-default: rgb(13, 102, 208);
  --spectrum-tooltip-success-background-color-default: rgb(18, 128, 92);
  --spectrum-tooltip-text-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-warning-background-color-default: rgb(203, 111, 16);
  --spectrum-well-background-color-default: rgba(25, 25, 25, .02);
  --spectrum-well-border-color-default: rgba(25, 25, 25, .05);
  --spectrum-well-label-text-color-default: rgb(25, 25, 25);
}
