:root {
  --spectrum-midlight-colorstop-celery-400: rgb(61, 167, 78);
  --spectrum-midlight-colorstop-celery-500: rgb(55, 153, 71);
  --spectrum-midlight-colorstop-celery-600: rgb(49, 139, 64);
  --spectrum-midlight-colorstop-celery-700: rgb(43, 125, 56);
  --spectrum-midlight-colorstop-chartreuse-400: rgb(124, 195, 63);
  --spectrum-midlight-colorstop-chartreuse-500: rgb(115, 181, 58);
  --spectrum-midlight-colorstop-chartreuse-600: rgb(106, 168, 52);
  --spectrum-midlight-colorstop-chartreuse-700: rgb(97, 155, 47);
  --spectrum-midlight-colorstop-yellow-400: rgb(210, 178, 0);
  --spectrum-midlight-colorstop-yellow-500: rgb(196, 166, 0);
  --spectrum-midlight-colorstop-yellow-600: rgb(183, 153, 0);
  --spectrum-midlight-colorstop-yellow-700: rgb(170, 140, 0);
  --spectrum-midlight-colorstop-magenta-400: rgb(202, 41, 150);
  --spectrum-midlight-colorstop-magenta-500: rgb(188, 28, 116);
  --spectrum-midlight-colorstop-magenta-600: rgb(174, 14, 102);
  --spectrum-midlight-colorstop-magenta-700: rgb(160, 0, 88);
  --spectrum-midlight-colorstop-fuchsia-400: rgb(177, 48, 189);
  --spectrum-midlight-colorstop-fuchsia-500: rgb(162, 40, 173);
  --spectrum-midlight-colorstop-fuchsia-600: rgb(147, 33, 158);
  --spectrum-midlight-colorstop-fuchsia-700: rgb(132, 26, 142);
  --spectrum-midlight-colorstop-purple-400: rgb(134, 76, 204);
  --spectrum-midlight-colorstop-purple-500: rgb(122, 66, 191);
  --spectrum-midlight-colorstop-purple-600: rgb(111, 56, 177);
  --spectrum-midlight-colorstop-purple-700: rgb(99, 46, 164);
  --spectrum-midlight-colorstop-indigo-400: rgb(92, 92, 224);
  --spectrum-midlight-colorstop-indigo-500: rgb(81, 81, 211);
  --spectrum-midlight-colorstop-indigo-600: rgb(70, 70, 198);
  --spectrum-midlight-colorstop-indigo-700: rgb(59, 59, 186);
  --spectrum-midlight-colorstop-seafoam-400: rgb(22, 135, 140);
  --spectrum-midlight-colorstop-seafoam-500: rgb(15, 121, 125);
  --spectrum-midlight-colorstop-seafoam-600: rgb(9, 108, 111);
  --spectrum-midlight-colorstop-seafoam-700: rgb(8, 96, 99);
  --spectrum-midlight-colorstop-red-400: rgb(215, 55, 63);
  --spectrum-midlight-colorstop-red-500: rgb(201, 37, 45);
  --spectrum-midlight-colorstop-red-600: rgb(187, 18, 26);
  --spectrum-midlight-colorstop-red-700: rgb(170, 13, 21);
  --spectrum-midlight-colorstop-orange-400: rgb(218, 123, 17);
  --spectrum-midlight-colorstop-orange-500: rgb(203, 111, 16);
  --spectrum-midlight-colorstop-orange-600: rgb(189, 100, 13);
  --spectrum-midlight-colorstop-orange-700: rgb(176, 90, 8);
  --spectrum-midlight-colorstop-green-400: rgb(38, 142, 108);
  --spectrum-midlight-colorstop-green-500: rgb(18, 128, 92);
  --spectrum-midlight-colorstop-green-600: rgb(16, 113, 84);
  --spectrum-midlight-colorstop-green-700: rgb(20, 99, 72);
  --spectrum-midlight-colorstop-blue-400: rgb(20, 115, 230);
  --spectrum-midlight-colorstop-blue-500: rgb(13, 102, 208);
  --spectrum-midlight-colorstop-blue-600: rgb(9, 90, 186);
  --spectrum-midlight-colorstop-blue-700: rgb(6, 79, 165);
  --spectrum-midlight-colorstop-gray-50: rgb(240, 240, 240);
  --spectrum-midlight-colorstop-gray-75: rgb(228, 228, 228);
  --spectrum-midlight-colorstop-gray-100: rgb(220, 220, 220);
  --spectrum-midlight-colorstop-gray-200: rgb(210, 210, 210);
  --spectrum-midlight-colorstop-gray-300: rgb(202, 202, 202);
  --spectrum-midlight-colorstop-gray-400: rgb(180, 180, 180);
  --spectrum-midlight-colorstop-gray-500: rgb(160, 160, 160);
  --spectrum-midlight-colorstop-gray-600: rgb(125, 125, 125);
  --spectrum-midlight-colorstop-gray-700: rgb(97, 97, 97);
  --spectrum-midlight-colorstop-gray-800: rgb(60, 60, 60);
  --spectrum-midlight-colorstop-gray-900: rgb(25, 25, 25);
  --spectrum-alias-background-color-default: rgb(220, 220, 220);
  --spectrum-alias-background-color-transparent: rgba(0, 0, 0, 0);
  --spectrum-alias-background-color-label-gray-: rgb(112, 112, 112);
  --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.4);
  --spectrum-alias-background-color-hover-overlay: rgba(25, 25, 25, .04);
  --spectrum-alias-highlight-hover: rgba(25, 25, 25, .06);
  --spectrum-alias-highlight-active: rgba(25, 25, 25, .1);
  --spectrum-alias-highlight-selected: rgba(13, 102, 208, .1);
  --spectrum-alias-highlight-selected-hover: rgba(13, 102, 208, .2);
  --spectrum-alias-text-color: rgb(60, 60, 60);
  --spectrum-alias-text-color-disabled: rgb(160, 160, 160);
  --spectrum-alias-text-color-invalid: rgb(201, 37, 45);
  --spectrum-alias-heading-color: rgb(25, 25, 25);
  --spectrum-alias-border-color-focus-blue: rgb(20, 115, 230);
  --spectrum-alias-border-color-extralight: rgb(220, 220, 220);
  --spectrum-alias-border-color-light: rgb(210, 210, 210);
  --spectrum-alias-border-color-mid: rgb(202, 202, 202);
  --spectrum-alias-border-color-dark: rgb(180, 180, 180);
  --spectrum-alias-border-color-transparent: rgba(0, 0, 0, 0);
  --spectrum-alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.08);
  --spectrum-alias-dropshadow-color-alt: rgba(0, 0, 0, 0.15);
  --spectrum-alias-focus-blue: rgb(20, 115, 230);
  --spectrum-alias-track-color-default: rgb(202, 202, 202);
  --spectrum-alias-icon-color: rgb(97, 97, 97);
  --spectrum-alias-icon-color-hover: rgb(25, 25, 25);
  --spectrum-semantic-negative-color-default: rgb(201, 37, 45);
  --spectrum-semantic-negative-color-dark: rgb(187, 18, 26);
  --spectrum-semantic-negative-color-border: rgb(215, 55, 63);
  --spectrum-semantic-negative-color-icon: rgb(215, 55, 63);
  --spectrum-semantic-negative-color-text-large: rgb(201, 37, 45);
  --spectrum-semantic-negative-color-text-small: rgb(187, 18, 26);
  --spectrum-semantic-negative-color-state-down: rgb(170, 13, 21);
  --spectrum-semantic-negative-color-state-focus: rgb(215, 55, 63);
  --spectrum-semantic-notice-color-default: rgb(203, 111, 16);
  --spectrum-semantic-notice-color-dark: rgb(189, 100, 13);
  --spectrum-semantic-notice-color-border: rgb(218, 123, 17);
  --spectrum-semantic-notice-color-icon: rgb(218, 123, 17);
  --spectrum-semantic-notice-color-text-large: rgb(203, 111, 16);
  --spectrum-semantic-notice-color-text-small: rgb(189, 100, 13);
  --spectrum-semantic-notice-color-state-down: rgb(176, 90, 8);
  --spectrum-semantic-notice-color-state-focus: rgb(218, 123, 17);
  --spectrum-semantic-positive-color-default: rgb(18, 128, 92);
  --spectrum-semantic-positive-color-dark: rgb(16, 113, 84);
  --spectrum-semantic-positive-color-border: rgb(38, 142, 108);
  --spectrum-semantic-positive-color-icon: rgb(38, 142, 108);
  --spectrum-semantic-positive-color-text-large: rgb(18, 128, 92);
  --spectrum-semantic-positive-color-text-small: rgb(16, 113, 84);
  --spectrum-semantic-positive-color-state-down: rgb(20, 99, 72);
  --spectrum-semantic-positive-color-state-focus: rgb(38, 142, 108);
  --spectrum-semantic-informative-color-default: rgb(13, 102, 208);
  --spectrum-semantic-informative-color-dark: rgb(9, 90, 186);
  --spectrum-semantic-informative-color-border: rgb(20, 115, 230);
  --spectrum-semantic-informative-color-icon: rgb(20, 115, 230);
  --spectrum-semantic-informative-color-text-large: rgb(13, 102, 208);
  --spectrum-semantic-informative-color-text-small: rgb(9, 90, 186);
  --spectrum-semantic-informative-color-state-down: rgb(6, 79, 165);
  --spectrum-semantic-informative-color-state-focus: rgb(20, 115, 230);
  --spectrum-accordion-border-color-default: rgb(202, 202, 202);
  --spectrum-accordion-icon-color-default: rgb(125, 125, 125);
  --spectrum-accordion-text-color-default: rgb(97, 97, 97);
  --spectrum-accordion-icon-color-hover: rgb(60, 60, 60);
  --spectrum-accordion-text-color-hover: rgb(25, 25, 25);
  --spectrum-accordion-background-color-hover: rgb(210, 210, 210);
  --spectrum-accordion-icon-color-down: rgb(60, 60, 60);
  --spectrum-accordion-text-color-down: rgb(25, 25, 25);
  --spectrum-accordion-border-left-color-key-focus: rgb(20, 115, 230);
  --spectrum-accordion-icon-color-key-focus: rgb(60, 60, 60);
  --spectrum-accordion-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-accordion-icon-color-disabled: rgb(180, 180, 180);
  --spectrum-accordion-text-color-disabled: rgb(160, 160, 160);
  --spectrum-actionbutton-font-weight-default: 400;
  --spectrum-actionbutton-background-color-default: rgb(228, 228, 228);
  --spectrum-actionbutton-border-color-default: rgb(202, 202, 202);
  --spectrum-actionbutton-text-color-default: rgb(60, 60, 60);
  --spectrum-actionbutton-background-color-hover: rgb(240, 240, 240);
  --spectrum-actionbutton-border-color-hover: rgb(180, 180, 180);
  --spectrum-actionbutton-text-color-hover: rgb(25, 25, 25);
  --spectrum-actionbutton-background-color-down: rgb(210, 210, 210);
  --spectrum-actionbutton-border-color-down: rgb(180, 180, 180);
  --spectrum-actionbutton-text-color-down: rgb(25, 25, 25);
  --spectrum-actionbutton-background-color-key-focus: rgb(240, 240, 240);
  --spectrum-actionbutton-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-actionbutton-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-actionbutton-background-color-disabled: rgb(210, 210, 210);
  --spectrum-actionbutton-border-color-disabled: rgb(210, 210, 210);
  --spectrum-actionbutton-text-color-disabled: rgb(160, 160, 160);
  --spectrum-alert-background-color-default: rgb(240, 240, 240);
  --spectrum-alert-header-text-color-default: rgb(25, 25, 25);
  --spectrum-alert-body-text-color-default: rgb(97, 97, 97);
  --spectrum-alert-border-color-default: rgb(125, 125, 125);
  --spectrum-alert-error-border-color-default: rgb(215, 55, 63);
  --spectrum-alert-error-icon-color-default: rgb(215, 55, 63);
  --spectrum-alert-info-border-color-default: rgb(20, 115, 230);
  --spectrum-alert-info-icon-color-default: rgb(20, 115, 230);
  --spectrum-alert-success-border-color-default: rgb(38, 142, 108);
  --spectrum-alert-success-icon-color-default: rgb(38, 142, 108);
  --spectrum-alert-warning-border-color-default: rgb(218, 123, 17);
  --spectrum-alert-warning-icon-color-default: rgb(218, 123, 17);
  --spectrum-banner-text-color-default: rgb(255, 255, 255);
  --spectrum-banner-error-background-color-default: rgb(201, 37, 45);
  --spectrum-banner-info-background-color-default: rgb(13, 102, 208);
  --spectrum-banner-warning-background-color-default: rgb(203, 111, 16);
  --spectrum-breadcrumb-font-weight-default: 300;
  --spectrum-breadcrumb-text-color-default: rgb(97, 97, 97);
  --spectrum-breadcrumb-chevron-icon-color-default: rgb(160, 160, 160);
  --spectrum-breadcrumb-text-color-hover: rgb(25, 25, 25);
  --spectrum-breadcrumb-text-color-down: rgb(25, 25, 25);
  --spectrum-breadcrumb-text-color-key-focus: rgb(9, 90, 186);
  --spectrum-breadcrumb-title-active-font-weight-default: 300;
  --spectrum-breadcrumb-title-margin-default: 0.3em 0;
  --spectrum-button-cta-background-color-default: rgb(38, 128, 235);
  --spectrum-button-cta-border-color-default: rgb(38, 128, 235);
  --spectrum-button-cta-text-color-default: rgb(255, 255, 255);
  --spectrum-button-cta-background-color-hover: rgb(20, 115, 230);
  --spectrum-button-cta-border-color-hover: rgb(20, 115, 230);
  --spectrum-button-cta-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-cta-background-color-down: rgb(13, 102, 208);
  --spectrum-button-cta-border-color-down: rgb(13, 102, 208);
  --spectrum-button-cta-text-color-down: rgb(255, 255, 255);
  --spectrum-button-cta-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-cta-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-cta-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-cta-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-cta-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-cta-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-text-font-weight-default: 700;
  --spectrum-button-icon-color-default: rgb(97, 97, 97);
  --spectrum-button-icon-color-hover: rgb(25, 25, 25);
  --spectrum-button-icon-color-down: rgb(60, 60, 60);
  --spectrum-button-icon-color-key-focus: rgb(25, 25, 25);
  --spectrum-button-icon-color-disabled: rgb(97, 97, 97);
  --spectrum-button-over-color-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-over-color-border-color-default: rgb(255, 255, 255);
  --spectrum-button-over-color-text-color-default: rgb(255, 255, 255);
  --spectrum-button-over-color-background-color-hover: rgb(255, 255, 255);
  --spectrum-button-over-color-border-color-hover: rgb(255, 255, 255);
  --spectrum-button-over-color-background-color-down: rgb(255, 255, 255);
  --spectrum-button-over-color-border-color-down: rgb(255, 255, 255);
  --spectrum-button-over-color-background-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-over-color-border-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-over-color-background-color-disabled: rgba(255, 255, 255, 0.1);
  --spectrum-button-over-color-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-over-color-text-color-disabled: rgba(255, 255, 255, 0.35);
  --spectrum-button-primary-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-primary-border-color-default: rgb(60, 60, 60);
  --spectrum-button-primary-text-color-default: rgb(60, 60, 60);
  --spectrum-button-primary-background-color-hover: rgb(60, 60, 60);
  --spectrum-button-primary-border-color-hover: rgb(60, 60, 60);
  --spectrum-button-primary-text-color-hover: rgb(240, 240, 240);
  --spectrum-button-primary-background-color-down: rgb(25, 25, 25);
  --spectrum-button-primary-border-color-down: rgb(25, 25, 25);
  --spectrum-button-primary-text-color-down: rgb(240, 240, 240);
  --spectrum-button-primary-background-color-key-focus: rgb(9, 90, 186);
  --spectrum-button-primary-border-color-key-focus: rgb(9, 90, 186);
  --spectrum-button-primary-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-primary-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-primary-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-primary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-action-font-weight-default: 400;
  --spectrum-button-quiet-action-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-text-color-default: rgb(60, 60, 60);
  --spectrum-button-quiet-action-background-color-hover: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-border-color-hover: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-quiet-action-background-color-down: rgb(202, 202, 202);
  --spectrum-button-quiet-action-border-color-down: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-text-color-down: rgb(25, 25, 25);
  --spectrum-button-quiet-action-background-color-key-focus: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-action-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-button-quiet-action-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-action-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-action-background-color-selected: rgb(202, 202, 202);
  --spectrum-button-quiet-action-border-color-selected: rgb(180, 180, 180);
  --spectrum-button-quiet-action-text-color-selected: rgb(60, 60, 60);
  --spectrum-button-quiet-border-size-default: 0;
  --spectrum-button-quiet-padding-x-default: 0;
  --spectrum-button-quiet-over-color-border-size-default: 0;
  --spectrum-button-quiet-over-color-padding-x-default: 0;
  --spectrum-button-quiet-over-color-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-over-color-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-over-color-text-color-default: rgb(255, 255, 255);
  --spectrum-button-quiet-over-color-background-color-hover: rgba(255, 255, 255, 0.1);
  --spectrum-button-quiet-over-color-border-color-hover: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-over-color-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-quiet-over-color-background-color-down: rgba(255, 255, 255, 0.15);
  --spectrum-button-quiet-over-color-border-color-down: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-over-color-text-color-down: rgb(255, 255, 255);
  --spectrum-button-quiet-over-color-background-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-over-color-border-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-over-color-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-over-color-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-over-color-text-color-disabled: rgba(255, 255, 255, 0.35);
  --spectrum-button-quiet-primary-text-font-weight-default: 700;
  --spectrum-button-quiet-primary-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-primary-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-primary-text-color-default: rgb(60, 60, 60);
  --spectrum-button-quiet-primary-background-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-primary-border-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-primary-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-quiet-primary-background-color-down: rgb(202, 202, 202);
  --spectrum-button-quiet-primary-border-color-down: rgb(202, 202, 202);
  --spectrum-button-quiet-primary-text-color-down: rgb(25, 25, 25);
  --spectrum-button-quiet-primary-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-primary-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-primary-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-primary-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-primary-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-primary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-secondary-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-secondary-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-secondary-text-color-default: rgb(125, 125, 125);
  --spectrum-button-quiet-secondary-background-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-secondary-border-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-secondary-text-color-hover: rgb(60, 60, 60);
  --spectrum-button-quiet-secondary-background-color-down: rgb(202, 202, 202);
  --spectrum-button-quiet-secondary-border-color-down: rgb(202, 202, 202);
  --spectrum-button-quiet-secondary-text-color-down: rgb(60, 60, 60);
  --spectrum-button-quiet-secondary-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-secondary-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-secondary-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-secondary-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-secondary-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-secondary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-quiet-warning-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-warning-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-warning-text-color-default: rgb(201, 37, 45);
  --spectrum-button-quiet-warning-background-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-warning-border-color-hover: rgb(210, 210, 210);
  --spectrum-button-quiet-warning-text-color-hover: rgb(187, 18, 26);
  --spectrum-button-quiet-warning-background-color-down: rgb(202, 202, 202);
  --spectrum-button-quiet-warning-border-color-down: rgb(202, 202, 202);
  --spectrum-button-quiet-warning-text-color-down: rgb(187, 18, 26);
  --spectrum-button-quiet-warning-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-warning-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-warning-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-warning-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-warning-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-quiet-warning-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-secondary-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-secondary-border-color-default: rgb(125, 125, 125);
  --spectrum-button-secondary-text-color-default: rgb(125, 125, 125);
  --spectrum-button-secondary-background-color-hover: rgb(125, 125, 125);
  --spectrum-button-secondary-border-color-hover: rgb(125, 125, 125);
  --spectrum-button-secondary-text-color-hover: rgb(240, 240, 240);
  --spectrum-button-secondary-background-color-down: rgb(97, 97, 97);
  --spectrum-button-secondary-border-color-down: rgb(97, 97, 97);
  --spectrum-button-secondary-text-color-down: rgb(240, 240, 240);
  --spectrum-button-secondary-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-secondary-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-secondary-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-secondary-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-secondary-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-secondary-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-warning-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-warning-border-color-default: rgb(201, 37, 45);
  --spectrum-button-warning-text-color-default: rgb(201, 37, 45);
  --spectrum-button-warning-background-color-hover: rgb(201, 37, 45);
  --spectrum-button-warning-border-color-hover: rgb(201, 37, 45);
  --spectrum-button-warning-text-color-hover: rgb(240, 240, 240);
  --spectrum-button-warning-background-color-down: rgb(170, 13, 21);
  --spectrum-button-warning-border-color-down: rgb(170, 13, 21);
  --spectrum-button-warning-text-color-down: rgb(240, 240, 240);
  --spectrum-button-warning-background-color-key-focus: rgb(6, 79, 165);
  --spectrum-button-warning-border-color-key-focus: rgb(6, 79, 165);
  --spectrum-button-warning-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-button-warning-background-color-disabled: rgb(210, 210, 210);
  --spectrum-button-warning-border-color-disabled: rgb(210, 210, 210);
  --spectrum-button-warning-text-color-disabled: rgb(160, 160, 160);
  --spectrum-calendar-day-header-font-weight-default: 500;
  --spectrum-calendar-day-today-font-weight-default: 700;
  --spectrum-calendar-day-text-color-default: rgb(60, 60, 60);
  --spectrum-calendar-day-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-calendar-day-today-text-color-default: rgb(60, 60, 60);
  --spectrum-calendar-day-today-border-color-default: rgb(60, 60, 60);
  --spectrum-calendar-day-header-text-color-default: rgb(97, 97, 97);
  --spectrum-calendar-day-text-color-hover: rgb(25, 25, 25);
  --spectrum-calendar-day-background-color-hover: rgba(25, 25, 25, .06);
  --spectrum-calendar-day-background-color-down: rgba(25, 25, 25, .1);
  --spectrum-calendar-day-text-color-selected: rgb(25, 25, 25);
  --spectrum-calendar-day-font-weight-selected: 700;
  --spectrum-calendar-day-background-color-selected: rgba(13, 102, 208, .1);
  --spectrum-calendar-day-text-color-cap-selected: rgb(25, 25, 25);
  --spectrum-calendar-day-font-weight-cap-selected: 700;
  --spectrum-calendar-day-background-color-cap-selected: rgba(13, 102, 208, .2);
  --spectrum-calendar-day-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-calendar-day-background-color-key-focus: rgba(25, 25, 25, .06);
  --spectrum-calendar-day-today-background-color-key-focus: rgb(25, 25, 25);
  --spectrum-calendar-day-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-calendar-day-text-color-selected-hover: rgb(25, 25, 25);
  --spectrum-calendar-day-background-color-selected-hover: rgba(13, 102, 208, .2);
  --spectrum-calendar-day-today-background-color-selected-hover: rgba(13, 102, 208, .2);
  --spectrum-calendar-day-text-color-disabled: rgb(160, 160, 160);
  --spectrum-calendar-day-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-calendar-day-today-text-color-disabled: rgb(160, 160, 160);
  --spectrum-calendar-day-today-border-color-disabled: rgb(180, 180, 180);
  --spectrum-calendar-button-icon-color-default: rgb(97, 97, 97);
  --spectrum-checkbox-margin-bottom-default: 0;
  --spectrum-checkbox-checkmark-color-default: rgb(220, 220, 220);
  --spectrum-checkbox-box-background-color-default: rgb(228, 228, 228);
  --spectrum-checkbox-box-border-color-default: rgb(125, 125, 125);
  --spectrum-checkbox-text-color-default: rgb(60, 60, 60);
  --spectrum-checkbox-text-font-weight-default: 400;
  --spectrum-checkbox-box-border-color-hover: rgb(97, 97, 97);
  --spectrum-checkbox-text-color-hover: rgb(25, 25, 25);
  --spectrum-checkbox-box-border-color-down: rgb(60, 60, 60);
  --spectrum-checkbox-text-color-down: rgb(25, 25, 25);
  --spectrum-checkbox-box-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-checkbox-text-color-key-focus: rgb(6, 79, 165);
  --spectrum-checkbox-box-border-color-disabled: rgb(180, 180, 180);
  --spectrum-checkbox-text-color-disabled: rgb(160, 160, 160);
  --spectrum-checkbox-box-border-color-selected: rgb(13, 102, 208);
  --spectrum-checkbox-box-border-color-selected-hover: rgb(9, 90, 186);
  --spectrum-checkbox-box-border-color-selected-down: rgb(6, 79, 165);
  --spectrum-checkbox-box-border-color-selected-key-focus: rgb(20, 115, 230);
  --spectrum-checkbox-box-border-color-error: rgb(201, 37, 45);
  --spectrum-checkbox-text-color-error: rgb(187, 18, 26);
  --spectrum-checkbox-box-border-color-error-hover: rgb(187, 18, 26);
  --spectrum-checkbox-box-border-color-error-down: rgb(170, 13, 21);
  --spectrum-checkbox-box-border-color-error-key-focus: rgb(20, 115, 230);
  --spectrum-combobox-textfield-border-top-right-radius-default: 0;
  --spectrum-combobox-textfield-border-bottom-right-radius-default: 0;
  --spectrum-combobox-fieldbutton-border-top-left-radius-default: 0;
  --spectrum-combobox-fieldbutton-border-bottom-left-radius-default: 0;
  --spectrum-cyclebutton-button-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-cyclebutton-icon-color-default: rgb(97, 97, 97);
  --spectrum-cyclebutton-icon-color-hover: rgb(25, 25, 25);
  --spectrum-cyclebutton-button-background-color-down: rgb(202, 202, 202);
  --spectrum-cyclebutton-button-box-shadow-color-key-focus: rgb(20, 115, 230);
  --spectrum-dialog-title-text-font-weight-default: 700;
  --spectrum-dialog-content-text-font-weight-default: 400;
  --spectrum-dialog-background-color-default: rgb(220, 220, 220);
  --spectrum-dialog-underlay-background-color-default: rgba(0, 0, 0, 0.4);
  --spectrum-dialog-icon-color-default: rgb(25, 25, 25);
  --spectrum-dialog-rule-color-default: rgb(210, 210, 210);
  --spectrum-dialog-title-text-color-default: rgb(25, 25, 25);
  --spectrum-dialog-content-text-color-default: rgb(60, 60, 60);
  --spectrum-dialog-error-icon-color-default: rgb(201, 37, 45);
  --spectrum-dialog-error-title-text-color-default: rgb(201, 37, 45);
  --spectrum-dialog-info-icon-color-default: rgb(13, 102, 208);
  --spectrum-dialog-info-title-text-color-default: rgb(13, 102, 208);
  --spectrum-dialog-success-icon-color-default: rgb(18, 128, 92);
  --spectrum-dialog-success-title-text-color-default: rgb(18, 128, 92);
  --spectrum-dialog-warning-icon-color-default: rgb(203, 111, 16);
  --spectrum-dialog-warning-title-text-color-default: rgb(203, 111, 16);
  --spectrum-rule-border-color-default: rgb(60, 60, 60);
  --spectrum-rule-panel-border-color-default: rgb(202, 202, 202);
  --spectrum-rule-subsection-border-color-default: rgb(202, 202, 202);
  --spectrum-rule-subsection2-border-color-default: rgb(210, 210, 210);
  --spectrum-well-background-color-default: rgba(25, 25, 25, .02);
  --spectrum-well-border-color-default: rgba(25, 25, 25, .05);
  --spectrum-well-label-text-color-default: rgb(25, 25, 25);
  --spectrum-drag-handle-background-color: rgb(202, 202, 202);
  --spectrum-drag-handle-icon-color: rgb(240, 240, 240);
  --spectrum-drag-handle-background-color-hover: rgb(160, 160, 160);
  --spectrum-drag-handle-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-drawer-background-color-default: rgb(228, 228, 228);
  --spectrum-dropdown-background-color-default: rgb(228, 228, 228);
  --spectrum-dropdown-border-color-default: rgb(202, 202, 202);
  --spectrum-dropdown-border-color-invalid-default: rgb(215, 55, 63);
  --spectrum-dropdown-icon-color-default: rgb(97, 97, 97);
  --spectrum-dropdown-icon-color-invalid-default: rgb(215, 55, 63);
  --spectrum-dropdown-text-color-default: rgb(60, 60, 60);
  --spectrum-dropdown-border-color-hover: rgb(180, 180, 180);
  --spectrum-dropdown-text-color-hover: rgb(25, 25, 25);
  --spectrum-dropdown-background-color-hover: rgb(240, 240, 240);
  --spectrum-dropdown-background-color-disabled: rgb(210, 210, 210);
  --spectrum-dropdown-text-color-disabled: rgb(160, 160, 160);
  --spectrum-dropdown-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-dropdown-border-color-open: rgb(180, 180, 180);
  --spectrum-dropdown-background-color-open: rgb(210, 210, 210);
  --spectrum-dropdown-quiet-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-dropdown-quiet-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-dropdown-quiet-icon-color-chevron-hover: rgb(60, 60, 60);
  --spectrum-fieldbutton-icon-color-default: rgb(97, 97, 97);
  --spectrum-fieldbutton-background-color-default: rgb(228, 228, 228);
  --spectrum-fieldbutton-border-color-default: rgb(202, 202, 202);
  --spectrum-fieldbutton-border-color-hover: rgb(180, 180, 180);
  --spectrum-fieldbutton-background-color-hover: rgb(240, 240, 240);
  --spectrum-fieldbutton-icon-color-hover: rgb(25, 25, 25);
  --spectrum-fieldbutton-border-color-down: rgb(180, 180, 180);
  --spectrum-fieldbutton-background-color-down: rgb(210, 210, 210);
  --spectrum-fieldbutton-icon-color-down: rgb(25, 25, 25);
  --spectrum-fieldbutton-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-fieldbutton-background-color-disabled: rgb(210, 210, 210);
  --spectrum-fieldbutton-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-fieldbutton-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-input-placeholder-text-font-weight-default: 400;
  --spectrum-input-background-color-default: rgb(240, 240, 240);
  --spectrum-input-border-color-default: rgb(202, 202, 202);
  --spectrum-input-icon-color-default: rgb(97, 97, 97);
  --spectrum-input-label-text-color-default: rgb(97, 97, 97);
  --spectrum-input-text-color-default: rgb(60, 60, 60);
  --spectrum-input-placeholder-text-color-default: rgb(125, 125, 125);
  --spectrum-input-border-color-hover: rgb(180, 180, 180);
  --spectrum-input-icon-color-hover: rgb(60, 60, 60);
  --spectrum-input-placeholder-text-color-hover: rgb(60, 60, 60);
  --spectrum-input-border-color-down: rgb(20, 115, 230);
  --spectrum-input-icon-color-down: rgb(240, 240, 240);
  --spectrum-input-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-input-background-color-disabled: rgb(210, 210, 210);
  --spectrum-input-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-input-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-input-placeholder-text-color-disabled: rgb(202, 202, 202);
  --spectrum-input-text-color-disabled: rgb(160, 160, 160);
  --spectrum-input-invalid-border-color-default: rgb(215, 55, 63);
  --spectrum-input-quiet-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-input-quiet-border-color-default: rgb(202, 202, 202);
  --spectrum-input-quiet-background-color-hover: rgba(0, 0, 0, 0);
  --spectrum-input-quiet-border-color-hover: rgb(180, 180, 180);
  --spectrum-input-quiet-border-color-down: rgb(20, 115, 230);
  --spectrum-input-quiet-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-input-quiet-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-input-quiet-border-color-disabled: rgb(202, 202, 202);
  --spectrum-label-colored-gray-background-color-default: rgb(118, 118, 118);
  --spectrum-label-colored-green-background-color-default: rgb(38, 142, 108);
  --spectrum-label-colored-blue-background-color-default: rgb(20, 115, 230);
  --spectrum-label-colored-red-background-color-default: rgb(215, 55, 63);
  --spectrum-label-colored-seafoam-background-color-default: rgb(22, 135, 140);
  --spectrum-label-colored-fuchsia-background-color-default: rgb(177, 48, 189);
  --spectrum-label-colored-orange-background-color-default: rgb(218, 123, 17);
  --spectrum-label-colored-yellow-background-color-default: rgb(210, 178, 0);
  --spectrum-label-colored-text-color-default: rgb(255, 255, 255);
  --spectrum-link-text-color-default: rgb(9, 90, 186);
  --spectrum-link-underline-color-default: rgba(0, 0, 0, 0);
  --spectrum-link-text-color-hover: rgb(9, 90, 186);
  --spectrum-link-underline-color-hover: rgb(9, 90, 186);
  --spectrum-link-text-color-down: rgb(6, 79, 165);
  --spectrum-link-underline-color-down: rgb(6, 79, 165);
  --spectrum-link-text-color-key-focus: rgb(9, 90, 186);
  --spectrum-link-underline-color-key-focus: rgb(9, 90, 186);
  --spectrum-link-text-color-disabled: rgb(160, 160, 160);
  --spectrum-link-underline-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-link-over-color-text-color-default: rgb(255, 255, 255);
  --spectrum-link-over-color-underline-color-default: rgba(0, 0, 0, 0);
  --spectrum-link-over-color-text-color-hover: rgb(255, 255, 255);
  --spectrum-link-over-color-underline-color-hover: rgb(255, 255, 255);
  --spectrum-link-over-color-text-color-down: rgb(255, 255, 255);
  --spectrum-link-over-color-underline-color-down: rgb(255, 255, 255);
  --spectrum-link-over-color-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-link-over-color-underline-color-key-focus: rgb(255, 255, 255);
  --spectrum-link-over-color-text-color-disabled: rgba(255, 255, 255, 0.5);
  --spectrum-link-over-color-underline-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-link-subtle-box-shadow-color-key-focus: rgb(60, 60, 60);
  --spectrum-loader-background-color-default: rgb(202, 202, 202);
  --spectrum-loader-blue-color-default: rgb(20, 115, 230);
  --spectrum-loader-gray-color-default: rgb(125, 125, 125);
  --spectrum-logicbutton-and-background-color-default: rgb(13, 102, 208);
  --spectrum-logicbutton-and-border-color-default: rgb(13, 102, 208);
  --spectrum-logicbutton-and-background-color-hover: rgb(6, 79, 165);
  --spectrum-logicbutton-and-border-color-hover: rgb(6, 79, 165);
  --spectrum-logicbutton-and-background-color-key-focus: rgb(6, 79, 165);
  --spectrum-logicbutton-and-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-logicbutton-and-background-color-disabled: rgb(210, 210, 210);
  --spectrum-logicbutton-and-border-color-disabled: rgb(210, 210, 210);
  --spectrum-logicbutton-font-weight-default: 700;
  --spectrum-logicbutton-text-color-default: rgb(255, 255, 255);
  --spectrum-logicbutton-text-color-disabled: rgb(160, 160, 160);
  --spectrum-logicbutton-or-background-color-default: rgb(188, 28, 116);
  --spectrum-logicbutton-or-border-color-default: rgb(188, 28, 116);
  --spectrum-logicbutton-or-background-color-hover: rgb(160, 0, 88);
  --spectrum-logicbutton-or-border-color-hover: rgb(160, 0, 88);
  --spectrum-logicbutton-or-background-color-key-focus: rgb(160, 0, 88);
  --spectrum-logicbutton-or-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-logicbutton-or-background-color-disabled: rgb(210, 210, 210);
  --spectrum-logicbutton-or-border-color-disabled: rgb(210, 210, 210);
  --spectrum-miller-column-chevron-color-default: rgb(125, 125, 125);
  --spectrum-miller-column-text-color-default: rgb(60, 60, 60);
  --spectrum-miller-column-thumbnail-background-color-default: rgb(202, 202, 202);
  --spectrum-miller-column-item-background-color-hover: rgb(210, 210, 210);
  --spectrum-miller-column-chevron-color-hover: rgb(97, 97, 97);
  --spectrum-miller-column-item-background-color-down: rgb(202, 202, 202);
  --spectrum-miller-column-chevron-color-down: rgb(97, 97, 97);
  --spectrum-miller-column-item-text-color-down: rgb(240, 240, 240);
  --spectrum-miller-column-item-text-color-key-focus: rgb(20, 115, 230);
  --spectrum-miller-column-item-background-color-selected: rgba(20, 115, 230, 0.1);
  --spectrum-miller-column-item-text-color-selected: rgb(240, 240, 240);
  --spectrum-miller-column-thumbnail-background-color-selected: rgb(240, 240, 240);
  --spectrum-miller-column-chevron-color-selected: rgb(97, 97, 97);
  --spectrum-miller-column-item-background-color-selected-hover: rgba(20, 115, 230, 0.2);
  --spectrum-miller-column-chevron-color-selected-hover: rgb(25, 25, 25);
  --spectrum-pagination-page-button-background-color-hover: rgba(25, 25, 25, .04);
  --spectrum-pagination-page-button-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-pagination-page-button-background-color-down: rgb(60, 60, 60);
  --spectrum-pagination-page-button-text-color-down: rgb(255, 255, 255);
  --spectrum-popover-background-color-default: rgb(240, 240, 240);
  --spectrum-popover-border-color-default: rgb(202, 202, 202);
  --spectrum-popover-shadow-color-default: rgba(0, 0, 0, 0.15);
  --spectrum-quickaction-background-color-default: rgb(240, 240, 240);
  --spectrum-quickaction-border-color-default: rgb(180, 180, 180);
  --spectrum-quickaction-text-color-default: rgb(97, 97, 97);
  --spectrum-quickaction-box-shadow-color-default: rgba(0, 0, 0, 0.15);
  --spectrum-quickaction-border-color-hover: rgb(97, 97, 97);
  --spectrum-quickaction-text-color-hover: rgb(25, 25, 25);
  --spectrum-quickaction-border-color-down: rgb(60, 60, 60);
  --spectrum-quickaction-text-color-down: rgb(25, 25, 25);
  --spectrum-quickaction-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-quickaction-icon-color-key-focus: rgb(20, 115, 230);
  --spectrum-quickaction-text-color-key-focus: rgb(20, 115, 230);
  --spectrum-radio-margin-bottom-default: 0;
  --spectrum-radio-text-font-weight-default: 500;
  --spectrum-radio-circle-border-color-default: rgb(125, 125, 125);
  --spectrum-radio-circle-background-color-default: rgb(228, 228, 228);
  --spectrum-radio-circle-dot-color-default: rgb(228, 228, 228);
  --spectrum-radio-text-color-default: rgb(60, 60, 60);
  --spectrum-radio-circle-border-color-hover: rgb(97, 97, 97);
  --spectrum-radio-text-color-hover: rgb(25, 25, 25);
  --spectrum-radio-circle-border-color-down: rgb(60, 60, 60);
  --spectrum-radio-text-color-down: rgb(25, 25, 25);
  --spectrum-radio-circle-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-radio-text-color-key-focus: rgb(6, 79, 165);
  --spectrum-radio-circle-border-color-disabled: rgb(180, 180, 180);
  --spectrum-radio-text-color-disabled: rgb(160, 160, 160);
  --spectrum-radio-circle-border-color-selected: rgb(13, 102, 208);
  --spectrum-radio-circle-border-color-selected-hover: rgb(9, 90, 186);
  --spectrum-radio-circle-border-color-selected-down: rgb(6, 79, 165);
  --spectrum-radio-circle-border-color-selected-key-focus: rgb(20, 115, 230);
  --spectrum-radio-circle-border-color-error: rgb(201, 37, 45);
  --spectrum-radio-text-color-error: rgb(187, 18, 26);
  --spectrum-radio-circle-border-color-error-hover: rgb(187, 18, 26);
  --spectrum-radio-circle-border-color-error-down: rgb(170, 13, 21);
  --spectrum-radio-circle-border-color-error-key-focus: rgb(20, 115, 230);
  --spectrum-rail-content-background-color-default: rgb(220, 220, 220);
  --spectrum-rail-draghandle-background-color-default: rgb(202, 202, 202);
  --spectrum-rail-draghandle-background-color-hover: rgb(180, 180, 180);
  --spectrum-rail-draghandle-background-color-down: rgb(60, 60, 60);
  --spectrum-rating-icon-color-default: rgb(125, 125, 125);
  --spectrum-rating-icon-color-hover: rgb(25, 25, 25);
  --spectrum-rating-icon-color-down: rgb(60, 60, 60);
  --spectrum-rating-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-selectlist-option-font-weight-default: 400;
  --spectrum-selectlist-background-color-default: rgb(240, 240, 240);
  --spectrum-selectlist-divider-color-default: rgb(220, 220, 220);
  --spectrum-selectlist-option-focus-indicator-color-default: rgb(20, 115, 230);
  --spectrum-selectlist-option-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-selectlist-option-text-color-default: rgb(60, 60, 60);
  --spectrum-selectlist-option-background-color-hover: rgb(220, 220, 220);
  --spectrum-selectlist-option-text-color-hover: rgb(60, 60, 60);
  --spectrum-selectlist-option-background-color-selected: rgba(0, 0, 0, 0);
  --spectrum-selectlist-option-text-color-selected: rgb(9, 90, 186);
  --spectrum-selectlist-option-icon-color-selected: rgb(20, 115, 230);
  --spectrum-selectlist-option-background-color-key-focus: rgb(220, 220, 220);
  --spectrum-selectlist-option-text-color-key-focus: rgb(60, 60, 60);
  --spectrum-selectlist-option-background-color-down: rgb(210, 210, 210);
  --spectrum-selectlist-option-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-selectlist-option-text-color-disabled: rgb(160, 160, 160);
  --spectrum-slider-color-handle-outset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-inset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-border-color-default: rgb(240, 240, 240);
  --spectrum-slider-color-handle-color-default: rgba(0, 0, 0, 0);
  --spectrum-slider-color-track-background-color-gradient-start-default: rgb(20, 115, 230);
  --spectrum-slider-color-track-background-color-gradient-end-default: rgb(6, 79, 165);
  --spectrum-slider-color-track-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-key-focus: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-color-disabled: rgb(210, 210, 210);
  --spectrum-slider-color-handle-border-color-disabled: rgb(180, 180, 180);
  --spectrum-slider-color-handle-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-slider-animation-transition-time-default: 125ms;
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-handle-border-color-default: rgb(97, 97, 97);
  --spectrum-slider-handle-color-default: rgb(220, 220, 220);
  --spectrum-slider-handle-outset-border-color-default: rgb(220, 220, 220);
  --spectrum-slider-track-color-default: rgb(202, 202, 202);
  --spectrum-slider-handle-border-color-hover: rgb(60, 60, 60);
  --spectrum-slider-handle-border-color-down: rgb(60, 60, 60);
  --spectrum-slider-handle-fill-color-down: rgb(60, 60, 60);
  --spectrum-slider-handle-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-slider-handle-fill-color-key-focus: rgb(20, 115, 230);
  --spectrum-slider-text-color-disabled: rgb(160, 160, 160);
  --spectrum-slider-handle-border-color-disabled: rgb(180, 180, 180);
  --spectrum-slider-track-color-disabled: rgb(202, 202, 202);
  --spectrum-slider-fill-track-color-default: rgb(97, 97, 97);
  --spectrum-slider-fill-track-color-disabled: rgb(202, 202, 202);
  --spectrum-slider-player-track-buffer-color-default: rgb(160, 160, 160);
  --spectrum-slider-player-track-buffer-color-disabled: rgb(202, 202, 202);
  --spectrum-slider-ramp-track-color-disabled: rgb(210, 210, 210);
  --spectrum-slider-round-handle-marker-color-default: rgb(97, 97, 97);
  --spectrum-slider-round-min-max-tick-color-default: rgb(125, 125, 125);
  --spectrum-slider-round-border-color-hover: rgb(60, 60, 60);
  --spectrum-slider-round-handle-marker-color-hover: rgb(60, 60, 60);
  --spectrum-slider-round-handle-marker-color-key-focus: rgb(240, 240, 240);
  --spectrum-slider-tick-mark-color-default: rgb(202, 202, 202);
  --spectrum-statuslight-color-organizational-celery: rgb(61, 167, 78);
  --spectrum-statuslight-color-organizational-chartreuse: rgb(124, 195, 63);
  --spectrum-statuslight-color-organizational-yellow: rgb(210, 178, 0);
  --spectrum-statuslight-color-organizational-magenta: rgb(202, 41, 150);
  --spectrum-statuslight-color-organizational-fuchsia: rgb(177, 48, 189);
  --spectrum-statuslight-color-organizational-purple: rgb(134, 76, 204);
  --spectrum-statuslight-color-organizational-indigo: rgb(92, 92, 224);
  --spectrum-statuslight-color-organizational-seafoam: rgb(22, 135, 140);
  --spectrum-statuslight-text-color-default: rgb(125, 125, 125);
  --spectrum-statuslight-state-color-archived: rgb(160, 160, 160);
  --spectrum-statuslight-text-color-archived: rgb(125, 125, 125);
  --spectrum-statuslight-state-color-negative: rgb(215, 55, 63);
  --spectrum-statuslight-text-color-negative: rgb(125, 125, 125);
  --spectrum-statuslight-state-color-notice: rgb(218, 123, 17);
  --spectrum-statuslight-text-color-notice: rgb(125, 125, 125);
  --spectrum-statuslight-state-color-positive: rgb(38, 142, 108);
  --spectrum-statuslight-text-color-positive: rgb(125, 125, 125);
  --spectrum-statuslight-state-color-active: rgb(20, 115, 230);
  --spectrum-statuslight-text-color-active: rgb(125, 125, 125);
  --spectrum-steplist-complete-marker-color-default: rgb(125, 125, 125);
  --spectrum-steplist-complete-segment-color-default: rgb(160, 160, 160);
  --spectrum-steplist-complete-label-text-color-default: rgb(97, 97, 97);
  --spectrum-steplist-complete-marker-color-hover: rgb(97, 97, 97);
  --spectrum-steplist-complete-marker-color-key-focus: rgb(20, 115, 230);
  --spectrum-steplist-current-marker-color-default: rgb(60, 60, 60);
  --spectrum-steplist-current-label-text-color-default: rgb(60, 60, 60);
  --spectrum-steplist-current-marker-color-key-focus: rgb(20, 115, 230);
  --spectrum-steplist-incomplete-marker-color-default: rgb(202, 202, 202);
  --spectrum-steplist-incomplete-segment-color-default: rgb(202, 202, 202);
  --spectrum-steplist-incomplete-label-text-color-default: rgb(125, 125, 125);
  --spectrum-steplist-incomplete-marker-color-hover: rgb(97, 97, 97);
  --spectrum-switch-text-font-weight-default: 400;
  --spectrum-switch-handle-border-color-default: rgb(125, 125, 125);
  --spectrum-switch-handle-background-color-default: rgb(228, 228, 228);
  --spectrum-switch-track-color-default: rgb(202, 202, 202);
  --spectrum-switch-text-color-default: rgb(60, 60, 60);
  --spectrum-switch-handle-border-color-hover: rgb(97, 97, 97);
  --spectrum-switch-text-color-hover: rgb(25, 25, 25);
  --spectrum-switch-handle-border-color-down: rgb(60, 60, 60);
  --spectrum-switch-text-color-down: rgb(25, 25, 25);
  --spectrum-switch-handle-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-switch-text-color-key-focus: rgb(9, 90, 186);
  --spectrum-switch-handle-border-color-disabled: rgb(180, 180, 180);
  --spectrum-switch-track-color-disabled: rgb(202, 202, 202);
  --spectrum-switch-text-color-disabled: rgb(160, 160, 160);
  --spectrum-switch-track-color-disabled-selected: rgb(180, 180, 180);
  --spectrum-switch-handle-border-color-selected: rgb(13, 102, 208);
  --spectrum-switch-track-color-selected: rgb(13, 102, 208);
  --spectrum-switch-handle-border-color-selected-hover: rgb(9, 90, 186);
  --spectrum-switch-track-color-selected-hover: rgb(9, 90, 186);
  --spectrum-switch-handle-border-color-selected-down: rgb(6, 79, 165);
  --spectrum-switch-track-color-selected-down: rgb(6, 79, 165);
  --spectrum-list-background-color-default: rgb(228, 228, 228);
  --spectrum-list-focusindicator-color-default: rgb(20, 115, 230);
  --spectrum-list-text-color-default: rgb(60, 60, 60);
  --spectrum-list-background-color-hover: rgba(25, 25, 25, .04);
  --spectrum-list-text-color-down: rgb(60, 60, 60);
  --spectrum-table-head-cell-font-weight-default: 700;
  --spectrum-table-head-cell-text-color-default: rgb(97, 97, 97);
  --spectrum-table-head-cell-sort-icon-color-default: rgb(125, 125, 125);
  --spectrum-table-body-cell-border-color-default: rgb(202, 202, 202);
  --spectrum-table-body-cell-background-color-default: rgb(228, 228, 228);
  --spectrum-table-body-cell-text-color-default: rgb(60, 60, 60);
  --spectrum-table-head-cell-text-color-hover: rgb(60, 60, 60);
  --spectrum-table-head-cell-sort-icon-color-hover: rgb(97, 97, 97);
  --spectrum-table-body-cell-background-color-hover: rgb(220, 220, 220);
  --spectrum-table-head-cell-text-color-down: rgb(25, 25, 25);
  --spectrum-table-head-cell-sort-icon-color-down: rgb(60, 60, 60);
  --spectrum-table-body-cell-background-color-down: rgb(210, 210, 210);
  --spectrum-table-body-cell-background-color-selected: rgb(220, 220, 220);
  --spectrum-table-body-cell-background-color-selected-hover: rgb(210, 210, 210);
  --spectrum-table-quiet-body-cell-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-table-quiet-body-cell-background-color-hover: rgb(210, 210, 210);
  --spectrum-table-quiet-body-cell-background-color-down: rgb(202, 202, 202);
  --spectrum-table-quiet-body-cell-background-color-selected: rgb(210, 210, 210);
  --spectrum-table-quiet-body-cell-background-color-selected-hover: rgb(202, 202, 202);
  --spectrum-tablist-anchored-border-color-default: rgb(210, 210, 210);
  --spectrum-tablist-anchored-text-color-key-focus: rgb(20, 115, 230);
  --spectrum-tablist-anchored-tabline-background-color-key-focus: rgb(20, 115, 230);
  --spectrum-tablist-tabline-background-color-default: rgb(25, 25, 25);
  --spectrum-tablist-tabline-border-color-default: rgb(210, 210, 210);
  --spectrum-tablist-icon-color-default: rgb(97, 97, 97);
  --spectrum-tablist-text-color-default: rgb(97, 97, 97);
  --spectrum-tablist-border-color-hover: rgba(0, 0, 0, 0);
  --spectrum-tablist-icon-color-hover: rgb(25, 25, 25);
  --spectrum-tablist-text-color-hover: rgb(25, 25, 25);
  --spectrum-tablist-border-color-down: rgb(25, 25, 25);
  --spectrum-tablist-icon-color-down: rgb(25, 25, 25);
  --spectrum-tablist-text-color-down: rgb(25, 25, 25);
  --spectrum-tablist-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-tablist-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-tablist-icon-color-key-focus: rgb(25, 25, 25);
  --spectrum-tablist-border-color-disabled: rgb(180, 180, 180);
  --spectrum-tablist-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-tablist-text-color-disabled: rgb(160, 160, 160);
  --spectrum-tablist-panel-tab-item-label-font-weight-default: 500;
  --spectrum-tag-background-color-default: rgb(228, 228, 228);
  --spectrum-tag-border-color-default: rgb(125, 125, 125);
  --spectrum-tag-text-color-default: rgb(97, 97, 97);
  --spectrum-tag-icon-color-default: rgb(125, 125, 125);
  --spectrum-tag-background-color-hover: rgb(240, 240, 240);
  --spectrum-tag-border-color-hover: rgb(25, 25, 25);
  --spectrum-tag-text-color-hover: rgb(25, 25, 25);
  --spectrum-tag-icon-color-hover: rgb(25, 25, 25);
  --spectrum-tag-background-color-down: rgb(240, 240, 240);
  --spectrum-tag-border-color-down: rgb(25, 25, 25);
  --spectrum-tag-text-color-down: rgb(25, 25, 25);
  --spectrum-tag-icon-color-down: rgb(25, 25, 25);
  --spectrum-tag-background-color-key-focus: rgb(240, 240, 240);
  --spectrum-tag-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-tag-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-tag-icon-color-key-focus: rgb(25, 25, 25);
  --spectrum-tag-background-color-disabled: rgb(210, 210, 210);
  --spectrum-tag-border-color-disabled: rgb(210, 210, 210);
  --spectrum-tag-text-color-disabled: rgb(160, 160, 160);
  --spectrum-tag-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-tag-invalid-border-color-default: rgb(215, 55, 63);
  --spectrum-tag-invalid-text-color-default: rgb(187, 18, 26);
  --spectrum-tag-invalid-icon-color-default: rgb(215, 55, 63);
  --spectrum-tag-invalid-border-color-hover: rgb(215, 55, 63);
  --spectrum-tag-invalid-text-color-hover: rgb(187, 18, 26);
  --spectrum-tag-invalid-icon-color-hover: rgb(201, 37, 45);
  --spectrum-tag-invalid-border-color-key-focus: rgb(201, 37, 45);
  --spectrum-tag-invalid-text-color-key-focus: rgb(170, 13, 21);
  --spectrum-tag-invalid-icon-color-key-focus: rgb(187, 18, 26);
  --spectrum-textfield-label-text-font-weight-default: 400;
  --spectrum-textfield-text-font-weight-default: 400;
  --spectrum-textfield-placeholder-text-font-weight-default: 400;
  --spectrum-textfield-padding-x-default: 0;
  --spectrum-textfield-label-gap-y-default: 0;
  --spectrum-textfield-background-color-default: rgb(240, 240, 240);
  --spectrum-textfield-border-color-hover: rgb(180, 180, 180);
  --spectrum-textfield-icon-color-hover: rgb(60, 60, 60);
  --spectrum-textfield-placeholder-text-color-hover: rgb(60, 60, 60);
  --spectrum-textfield-border-color-down: rgb(20, 115, 230);
  --spectrum-textfield-icon-color-down: rgb(240, 240, 240);
  --spectrum-textfield-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-textfield-placeholder-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-textfield-border-color-mouse-focus: rgb(20, 115, 230);
  --spectrum-textfield-placeholder-text-color-mouse-focus: rgb(125, 125, 125);
  --spectrum-textfield-background-color-disabled: rgb(210, 210, 210);
  --spectrum-textfield-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-textfield-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-textfield-placeholder-text-color-disabled: rgb(160, 160, 160);
  --spectrum-textfield-text-color-disabled: rgb(160, 160, 160);
  --spectrum-textfield-valid-icon-color-default: rgb(38, 142, 108);
  --spectrum-textfield-valid-border-color-hover: rgb(38, 142, 108);
  --spectrum-textfield-valid-icon-color-hover: rgb(38, 142, 108);
  --spectrum-textfield-valid-border-color-down: rgb(20, 115, 230);
  --spectrum-textfield-valid-icon-color-down: rgb(38, 142, 108);
  --spectrum-textfield-valid-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-textfield-valid-icon-color-key-focus: rgb(38, 142, 108);
  --spectrum-textfield-valid-border-color-mouse-focus: rgb(20, 115, 230);
  --spectrum-textfield-valid-icon-color-mouse-focus: rgb(38, 142, 108);
  --spectrum-textfield-valid-icon-color-disabled: rgb(160, 160, 160);
  --spectrum-toast-font-weight-default: 600;
  --spectrum-toast-background-color-default: rgb(118, 118, 118);
  --spectrum-toast-text-color-default: rgb(255, 255, 255);
  --spectrum-toast-icon-color-default: rgb(255, 255, 255);
  --spectrum-toast-error-background-color-default: rgb(201, 37, 45);
  --spectrum-toast-info-background-color-default: rgb(13, 102, 208);
  --spectrum-toast-success-background-color-default: rgb(18, 128, 92);
  --spectrum-toast-warning-background-color-default: rgb(203, 111, 16);
  --spectrum-button-toggle-off-font-weight-default: 400;
  --spectrum-button-toggle-off-background-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-text-color-default: rgb(60, 60, 60);
  --spectrum-button-toggle-off-background-color-hover: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-border-color-hover: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-toggle-off-background-color-down: rgb(202, 202, 202);
  --spectrum-button-toggle-off-border-color-down: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-text-color-down: rgb(25, 25, 25);
  --spectrum-button-toggle-off-background-color-key-focus: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-toggle-off-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-button-toggle-off-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-off-text-color-disabled: rgb(160, 160, 160);
  --spectrum-button-toggle-on-font-weight-default: 400;
  --spectrum-button-toggle-on-background-color-default: rgb(202, 202, 202);
  --spectrum-button-toggle-on-border-color-default: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-on-text-color-default: rgb(60, 60, 60);
  --spectrum-button-toggle-on-background-color-hover: rgb(202, 202, 202);
  --spectrum-button-toggle-on-border-color-hover: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-on-text-color-hover: rgb(25, 25, 25);
  --spectrum-button-toggle-on-background-color-down: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-on-border-color-down: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-on-text-color-down: rgb(25, 25, 25);
  --spectrum-button-toggle-on-background-color-key-focus: rgb(202, 202, 202);
  --spectrum-button-toggle-on-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-button-toggle-on-text-color-key-focus: rgb(25, 25, 25);
  --spectrum-button-toggle-on-background-color-disabled: rgb(202, 202, 202);
  --spectrum-button-toggle-on-border-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-button-toggle-on-text-color-disabled: rgb(160, 160, 160);
  --spectrum-tooltip-font-weight-default: 400;
  --spectrum-tooltip-background-color-default: rgb(118, 118, 118);
  --spectrum-tooltip-tip-color-default: rgb(118, 118, 118);
  --spectrum-tooltip-text-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-icon-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-error-background-color-default: rgb(215, 55, 63);
  --spectrum-tooltip-error-tip-color-default: rgb(215, 55, 63);
  --spectrum-tooltip-info-background-color-default: rgb(20, 115, 230);
  --spectrum-tooltip-info-tip-color-default: rgb(20, 115, 230);
  --spectrum-tooltip-success-background-color-default: rgb(38, 142, 108);
  --spectrum-tooltip-success-tip-color-default: rgb(38, 142, 108);
  --spectrum-tooltip-warning-background-color-default: rgb(189, 100, 13);
  --spectrum-treenav-link-text-color-default: rgb(60, 60, 60);
  --spectrum-treenav-listitem-group-background-color-hover: rgb(228, 228, 228);
  --spectrum-treenav-listitem-group-border-color-hover: rgb(160, 160, 160);
  --spectrum-treenav-row-border-color-hover: rgb(25, 25, 25);
  --spectrum-treenav-link-text-color-hover: rgb(25, 25, 25);
  --spectrum-treenav-wrap-background-color-hover: rgba(25, 25, 25, .04);
  --spectrum-treenav-wrap-box-shadow-color-key-focus: rgb(20, 115, 230);
  --spectrum-body-font-weight-default: 400;
  --spectrum-body-text-color-default: rgb(60, 60, 60);
  --spectrum-body-large-font-weight-default: 400;
  --spectrum-body-large-text-color-default: rgb(60, 60, 60);
  --spectrum-body-secondary-font-weight-default: 400;
  --spectrum-body-secondary-text-color-default: rgb(97, 97, 97);
  --spectrum-body-small-font-weight-default: 400;
  --spectrum-body-small-text-color-default: rgb(60, 60, 60);
  --spectrum-heading-display-font-weight-default: 300;
  --spectrum-heading-display-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-page-title-font-weight-default: 300;
  --spectrum-heading-page-title-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-subtitle1-font-weight-default: 700;
  --spectrum-heading-subtitle1-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-subtitle2-font-weight-default: 700;
  --spectrum-heading-subtitle2-text-color-default: rgb(25, 25, 25);
  --spectrum-heading-subtitle3-font-weight-default: 700;
  --spectrum-heading-subtitle3-text-color-default: rgb(97, 97, 97);
  --spectrum-label-text-color-default: rgb(97, 97, 97);
  --spectrum-label-text-color-disabled: rgb(160, 160, 160);
  --spectrum-label-large-text-color-default: rgb(97, 97, 97);
}
