:root {
  --spectrum-accordion-background-color-hover: rgb(57, 57, 57);
  --spectrum-accordion-border-color-default: rgb(62, 62, 62);
  --spectrum-accordion-border-left-color-focus: rgb(55, 142, 240);
  --spectrum-accordion-icon-color-active: rgb(205, 205, 205);
  --spectrum-accordion-icon-color-default: rgb(123, 123, 123);
  --spectrum-accordion-icon-color-disabled: rgb(77, 77, 77);
  --spectrum-accordion-icon-color-focus: rgb(205, 205, 205);
  --spectrum-accordion-icon-color-hover: rgb(205, 205, 205);
  --spectrum-accordion-text-color-active: rgb(255, 255, 255);
  --spectrum-accordion-text-color-default: rgb(153, 153, 153);
  --spectrum-accordion-text-color-disabled: rgb(92, 92, 92);
  --spectrum-accordion-text-color-focus: rgb(255, 255, 255);
  --spectrum-accordion-text-color-hover: rgb(255, 255, 255);
  --spectrum-actionbutton-background-color-active: rgb(57, 57, 57);
  --spectrum-actionbutton-background-color-default: rgb(45, 45, 45);
  --spectrum-actionbutton-background-color-disabled: rgb(57, 57, 57);
  --spectrum-actionbutton-background-color-focus: rgb(37, 37, 37);
  --spectrum-actionbutton-background-color-hover: rgb(37, 37, 37);
  --spectrum-actionbutton-border-color-active: rgb(77, 77, 77);
  --spectrum-actionbutton-border-color-default: rgb(62, 62, 62);
  --spectrum-actionbutton-border-color-disabled: rgb(57, 57, 57);
  --spectrum-actionbutton-border-color-focus: rgb(55, 142, 240);
  --spectrum-actionbutton-border-color-hover: rgb(77, 77, 77);
  --spectrum-actionbutton-text-color-active: rgb(255, 255, 255);
  --spectrum-actionbutton-text-color-default: rgb(205, 205, 205);
  --spectrum-actionbutton-text-color-disabled: rgb(92, 92, 92);
  --spectrum-actionbutton-text-color-focus: rgb(255, 255, 255);
  --spectrum-actionbutton-text-color-hover: rgb(255, 255, 255);
  --spectrum-alert-background-color-default: rgb(37, 37, 37);
  --spectrum-alert-body-text-color-default: rgb(153, 153, 153);
  --spectrum-alert-border-color-default: rgb(123, 123, 123);
  --spectrum-alert-error-border-color-default: rgb(227, 72, 80);
  --spectrum-alert-error-icon-color-default: rgb(227, 72, 80);
  --spectrum-alert-header-text-color-default: rgb(255, 255, 255);
  --spectrum-alert-info-border-color-default: rgb(38, 128, 235);
  --spectrum-alert-info-icon-color-default: rgb(38, 128, 235);
  --spectrum-alert-success-border-color-default: rgb(45, 157, 120);
  --spectrum-alert-success-icon-color-default: rgb(45, 157, 120);
  --spectrum-alert-warning-border-color-default: rgb(230, 134, 25);
  --spectrum-alert-warning-icon-color-default: rgb(230, 134, 25);
  --spectrum-alias-background-color-default: rgb(50, 50, 50);
  --spectrum-alias-background-color-hover-overlay: rgba(255, 255, 255, .04);
  --spectrum-alias-background-color-label-grey: rgb(112, 112, 112);
  --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.6);
  --spectrum-alias-background-color-transparent: transparent;
  --spectrum-alias-border-color-dark: rgb(77, 77, 77);
  --spectrum-alias-border-color-extralight: rgb(50, 50, 50);
  --spectrum-alias-border-color-focus-blue: rgb(55, 142, 240);
  --spectrum-alias-border-color-light: rgb(57, 57, 57);
  --spectrum-alias-border-color-mid: rgb(62, 62, 62);
  --spectrum-alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --spectrum-alias-border-color-transparent: transparent;
  --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.08);
  --spectrum-alias-dropshadow-color-alt: rgba(0, 0, 0, 0.15);
  --spectrum-alias-focus-blue: rgb(38, 128, 235);
  --spectrum-alias-font-family-condensed: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ja: adobe-clean-han-japanese, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ko: adobe-clean-han-korean, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zh: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zhhans: adobe-clean-han-simplified-c, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-heading-color: rgb(255, 255, 255);
  --spectrum-alias-highlight-active: rgba(255, 255, 255, .1);
  --spectrum-alias-highlight-hover: rgba(255, 255, 255, .06);
  --spectrum-alias-highlight-selected: rgba(55, 142, 240, .1);
  --spectrum-alias-highlight-selected-hover: rgba(55, 142, 240, .2);
  --spectrum-alias-icon-color: rgb(153, 153, 153);
  --spectrum-alias-icon-color-hover: rgb(255, 255, 255);
  --spectrum-alias-text-color: rgb(205, 205, 205);
  --spectrum-alias-text-color-disabled: rgb(92, 92, 92);
  --spectrum-alias-text-color-invalid: rgb(236, 91, 98);
  --spectrum-alias-track-color-default: rgb(62, 62, 62);
  --spectrum-banner-error-background-color-default: rgb(236, 91, 98);
  --spectrum-banner-info-background-color-default: rgb(55, 142, 240);
  --spectrum-banner-text-color-default: rgb(255, 255, 255);
  --spectrum-banner-warning-background-color-default: rgb(242, 148, 35);
  --spectrum-body-large-text-color-default: rgb(205, 205, 205);
  --spectrum-body-secondary-text-color-default: rgb(153, 153, 153);
  --spectrum-body-small-text-color-default: rgb(205, 205, 205);
  --spectrum-body-text-color-default: rgb(205, 205, 205);
  --spectrum-body-text-color-disabled: rgb(92, 92, 92);
  --spectrum-body-text-color-invalid: rgb(236, 91, 98);
  --spectrum-breadcrumb-chevron-icon-color-default: rgb(92, 92, 92);
  --spectrum-breadcrumb-text-color-active: rgb(255, 255, 255);
  --spectrum-breadcrumb-text-color-default: rgb(153, 153, 153);
  --spectrum-breadcrumb-text-color-focus: rgb(75, 156, 245);
  --spectrum-breadcrumb-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-cta-background-color-active: rgb(90, 169, 250);
  --spectrum-button-cta-background-color-default: rgb(55, 142, 240);
  --spectrum-button-cta-background-color-disabled: rgb(57, 57, 57);
  --spectrum-button-cta-background-color-focus: rgb(75, 156, 245);
  --spectrum-button-cta-background-color-hover: rgb(75, 156, 245);
  --spectrum-button-cta-border-color-active: rgb(90, 169, 250);
  --spectrum-button-cta-border-color-default: rgb(55, 142, 240);
  --spectrum-button-cta-border-color-disabled: rgb(57, 57, 57);
  --spectrum-button-cta-border-color-focus: rgb(75, 156, 245);
  --spectrum-button-cta-border-color-hover: rgb(75, 156, 245);
  --spectrum-button-cta-text-color-active: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-default: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-cta-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-icon-color-active: rgb(205, 205, 205);
  --spectrum-button-icon-color-default: rgb(153, 153, 153);
  --spectrum-button-icon-color-disabled: rgb(153, 153, 153);
  --spectrum-button-icon-color-focus: rgb(255, 255, 255);
  --spectrum-button-icon-color-hover: rgb(255, 255, 255);
  --spectrum-button-primary-background-color-active: rgb(255, 255, 255);
  --spectrum-button-primary-background-color-default: transparent;
  --spectrum-button-primary-background-color-disabled: rgb(57, 57, 57);
  --spectrum-button-primary-background-color-focus: rgb(75, 156, 245);
  --spectrum-button-primary-background-color-hover: rgb(205, 205, 205);
  --spectrum-button-primary-border-color-active: rgb(255, 255, 255);
  --spectrum-button-primary-border-color-default: rgb(205, 205, 205);
  --spectrum-button-primary-border-color-disabled: rgb(57, 57, 57);
  --spectrum-button-primary-border-color-focus: rgb(75, 156, 245);
  --spectrum-button-primary-border-color-hover: rgb(205, 205, 205);
  --spectrum-button-primary-text-color-active: rgb(37, 37, 37);
  --spectrum-button-primary-text-color-default: rgb(205, 205, 205);
  --spectrum-button-primary-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-primary-text-color-hover: rgb(37, 37, 37);
  --spectrum-button-quiet-action-background-color-active: rgb(62, 62, 62);
  --spectrum-button-quiet-action-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-disabled: transparent;
  --spectrum-button-quiet-action-background-color-focus: transparent;
  --spectrum-button-quiet-action-background-color-hover: transparent;
  --spectrum-button-quiet-action-background-color-selected: rgb(62, 62, 62);
  --spectrum-button-quiet-action-border-color-active: transparent;
  --spectrum-button-quiet-action-border-color-default: transparent;
  --spectrum-button-quiet-action-border-color-disabled: transparent;
  --spectrum-button-quiet-action-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-quiet-action-border-color-hover: transparent;
  --spectrum-button-quiet-action-border-color-selected: rgb(77, 77, 77);
  --spectrum-button-quiet-action-text-color-active: rgb(255, 255, 255);
  --spectrum-button-quiet-action-text-color-default: rgb(205, 205, 205);
  --spectrum-button-quiet-action-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-quiet-action-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-action-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-quiet-action-text-color-selected: rgb(205, 205, 205);
  --spectrum-button-quiet-primary-background-color-active: rgb(62, 62, 62);
  --spectrum-button-quiet-primary-background-color-default: transparent;
  --spectrum-button-quiet-primary-background-color-disabled: transparent;
  --spectrum-button-quiet-primary-background-color-focus: rgb(75, 156, 245);
  --spectrum-button-quiet-primary-background-color-hover: rgb(57, 57, 57);
  --spectrum-button-quiet-primary-border-color-active: rgb(62, 62, 62);
  --spectrum-button-quiet-primary-border-color-default: transparent;
  --spectrum-button-quiet-primary-border-color-disabled: transparent;
  --spectrum-button-quiet-primary-border-color-focus: rgb(75, 156, 245);
  --spectrum-button-quiet-primary-border-color-hover: rgb(57, 57, 57);
  --spectrum-button-quiet-primary-text-color-active: rgb(255, 255, 255);
  --spectrum-button-quiet-primary-text-color-default: rgb(205, 205, 205);
  --spectrum-button-quiet-primary-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-quiet-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-primary-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-quiet-secondary-background-color-active: rgb(62, 62, 62);
  --spectrum-button-quiet-secondary-background-color-default: transparent;
  --spectrum-button-quiet-secondary-background-color-disabled: transparent;
  --spectrum-button-quiet-secondary-background-color-focus: rgb(75, 156, 245);
  --spectrum-button-quiet-secondary-background-color-hover: rgb(57, 57, 57);
  --spectrum-button-quiet-secondary-border-color-active: rgb(62, 62, 62);
  --spectrum-button-quiet-secondary-border-color-default: transparent;
  --spectrum-button-quiet-secondary-border-color-disabled: transparent;
  --spectrum-button-quiet-secondary-border-color-focus: rgb(75, 156, 245);
  --spectrum-button-quiet-secondary-border-color-hover: rgb(57, 57, 57);
  --spectrum-button-quiet-secondary-text-color-active: rgb(205, 205, 205);
  --spectrum-button-quiet-secondary-text-color-default: rgb(123, 123, 123);
  --spectrum-button-quiet-secondary-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-quiet-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-secondary-text-color-hover: rgb(205, 205, 205);
  --spectrum-button-quiet-warning-background-color-active: rgb(62, 62, 62);
  --spectrum-button-quiet-warning-background-color-default: transparent;
  --spectrum-button-quiet-warning-background-color-disabled: transparent;
  --spectrum-button-quiet-warning-background-color-focus: rgb(75, 156, 245);
  --spectrum-button-quiet-warning-background-color-hover: rgb(57, 57, 57);
  --spectrum-button-quiet-warning-border-color-active: rgb(62, 62, 62);
  --spectrum-button-quiet-warning-border-color-default: transparent;
  --spectrum-button-quiet-warning-border-color-disabled: transparent;
  --spectrum-button-quiet-warning-border-color-focus: rgb(75, 156, 245);
  --spectrum-button-quiet-warning-border-color-hover: rgb(57, 57, 57);
  --spectrum-button-quiet-warning-text-color-active: rgb(247, 109, 116);
  --spectrum-button-quiet-warning-text-color-default: rgb(236, 91, 98);
  --spectrum-button-quiet-warning-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-quiet-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-warning-text-color-hover: rgb(247, 109, 116);
  --spectrum-button-secondary-background-color-active: rgb(153, 153, 153);
  --spectrum-button-secondary-background-color-default: transparent;
  --spectrum-button-secondary-background-color-disabled: rgb(57, 57, 57);
  --spectrum-button-secondary-background-color-focus: rgb(75, 156, 245);
  --spectrum-button-secondary-background-color-hover: rgb(123, 123, 123);
  --spectrum-button-secondary-border-color-active: rgb(153, 153, 153);
  --spectrum-button-secondary-border-color-default: rgb(123, 123, 123);
  --spectrum-button-secondary-border-color-disabled: rgb(57, 57, 57);
  --spectrum-button-secondary-border-color-focus: rgb(75, 156, 245);
  --spectrum-button-secondary-border-color-hover: rgb(123, 123, 123);
  --spectrum-button-secondary-text-color-active: rgb(37, 37, 37);
  --spectrum-button-secondary-text-color-default: rgb(123, 123, 123);
  --spectrum-button-secondary-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-secondary-text-color-hover: rgb(37, 37, 37);
  --spectrum-button-toggle-off-background-color-active: rgb(62, 62, 62);
  --spectrum-button-toggle-off-background-color-default: transparent;
  --spectrum-button-toggle-off-background-color-disabled: transparent;
  --spectrum-button-toggle-off-background-color-focus: transparent;
  --spectrum-button-toggle-off-background-color-hover: transparent;
  --spectrum-button-toggle-off-border-color-active: transparent;
  --spectrum-button-toggle-off-border-color-default: transparent;
  --spectrum-button-toggle-off-border-color-disabled: transparent;
  --spectrum-button-toggle-off-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-toggle-off-border-color-hover: transparent;
  --spectrum-button-toggle-off-text-color-active: rgb(255, 255, 255);
  --spectrum-button-toggle-off-text-color-default: rgb(205, 205, 205);
  --spectrum-button-toggle-off-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-toggle-off-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-toggle-off-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-toggle-on-background-color-active: transparent;
  --spectrum-button-toggle-on-background-color-default: rgb(62, 62, 62);
  --spectrum-button-toggle-on-background-color-disabled: rgb(62, 62, 62);
  --spectrum-button-toggle-on-background-color-focus: rgb(62, 62, 62);
  --spectrum-button-toggle-on-background-color-hover: rgb(62, 62, 62);
  --spectrum-button-toggle-on-border-color-active: transparent;
  --spectrum-button-toggle-on-border-color-default: transparent;
  --spectrum-button-toggle-on-border-color-disabled: transparent;
  --spectrum-button-toggle-on-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-toggle-on-border-color-hover: transparent;
  --spectrum-button-toggle-on-text-color-active: rgb(255, 255, 255);
  --spectrum-button-toggle-on-text-color-default: rgb(205, 205, 205);
  --spectrum-button-toggle-on-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-toggle-on-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-toggle-on-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-warning-background-color-active: rgb(255, 123, 130);
  --spectrum-button-warning-background-color-default: transparent;
  --spectrum-button-warning-background-color-disabled: rgb(57, 57, 57);
  --spectrum-button-warning-background-color-focus: rgb(90, 169, 250);
  --spectrum-button-warning-background-color-hover: rgb(236, 91, 98);
  --spectrum-button-warning-border-color-active: rgb(255, 123, 130);
  --spectrum-button-warning-border-color-default: rgb(236, 91, 98);
  --spectrum-button-warning-border-color-disabled: rgb(57, 57, 57);
  --spectrum-button-warning-border-color-focus: rgb(90, 169, 250);
  --spectrum-button-warning-border-color-hover: rgb(236, 91, 98);
  --spectrum-button-warning-text-color-active: rgb(37, 37, 37);
  --spectrum-button-warning-text-color-default: rgb(236, 91, 98);
  --spectrum-button-warning-text-color-disabled: rgb(92, 92, 92);
  --spectrum-button-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-warning-text-color-hover: rgb(37, 37, 37);
  --spectrum-calendar-button-icon-color-default: rgb(153, 153, 153);
  --spectrum-calendar-day-background-color-active: rgba(255, 255, 255, .1);
  --spectrum-calendar-day-background-color-cap-selected: rgba(55, 142, 240, .2);
  --spectrum-calendar-day-background-color-default: transparent;
  --spectrum-calendar-day-background-color-disabled: transparent;
  --spectrum-calendar-day-background-color-focus: rgba(255, 255, 255, .06);
  --spectrum-calendar-day-background-color-hover: rgba(255, 255, 255, .06);
  --spectrum-calendar-day-background-color-selected: rgba(55, 142, 240, .1);
  --spectrum-calendar-day-background-color-selected-hover: rgba(55, 142, 240, .2);
  --spectrum-calendar-day-border-color-focus: rgb(38, 128, 235);
  --spectrum-calendar-day-header-text-color-default: rgb(153, 153, 153);
  --spectrum-calendar-day-text-color-cap-selected: rgb(255, 255, 255);
  --spectrum-calendar-day-text-color-default: rgb(205, 205, 205);
  --spectrum-calendar-day-text-color-disabled: rgb(92, 92, 92);
  --spectrum-calendar-day-text-color-focus: rgb(255, 255, 255);
  --spectrum-calendar-day-text-color-hover: rgb(255, 255, 255);
  --spectrum-calendar-day-text-color-selected: rgb(255, 255, 255);
  --spectrum-calendar-day-text-color-selected-hover: rgb(255, 255, 255);
  --spectrum-calendar-day-today-background-color-focus: rgb(255, 255, 255);
  --spectrum-calendar-day-today-background-color-selected-hover: rgba(55, 142, 240, .2);
  --spectrum-calendar-day-today-border-color-default: rgb(205, 205, 205);
  --spectrum-calendar-day-today-border-color-disabled: rgb(77, 77, 77);
  --spectrum-calendar-day-today-text-color-default: rgb(205, 205, 205);
  --spectrum-calendar-day-today-text-color-disabled: rgb(92, 92, 92);
  --spectrum-checkbox-background-color-default: rgb(45, 45, 45);
  --spectrum-checkbox-border-color-active: rgb(205, 205, 205);
  --spectrum-checkbox-border-color-checked: rgb(55, 142, 240);
  --spectrum-checkbox-border-color-checked-active: rgb(90, 169, 250);
  --spectrum-checkbox-border-color-checked-hover: rgb(75, 156, 245);
  --spectrum-checkbox-border-color-default: rgb(123, 123, 123);
  --spectrum-checkbox-border-color-disabled: rgb(77, 77, 77);
  --spectrum-checkbox-border-color-error: rgb(236, 91, 98);
  --spectrum-checkbox-border-color-focus: rgb(55, 142, 240);
  --spectrum-checkbox-border-color-hover: rgb(153, 153, 153);
  --spectrum-checkbox-border-color-invalid: rgb(236, 91, 98);
  --spectrum-checkbox-border-color-invalid-active: rgb(255, 123, 130);
  --spectrum-checkbox-border-color-invalid-hover: rgb(247, 109, 116);
  --spectrum-checkbox-checkmark-color-default: rgb(50, 50, 50);
  --spectrum-checkbox-label-text-color-active: rgb(255, 255, 255);
  --spectrum-checkbox-label-text-color-default: rgb(205, 205, 205);
  --spectrum-checkbox-label-text-color-disabled: rgb(92, 92, 92);
  --spectrum-checkbox-label-text-color-error: rgb(247, 109, 116);
  --spectrum-checkbox-label-text-color-focus: rgb(90, 169, 250);
  --spectrum-checkbox-label-text-color-hover: rgb(255, 255, 255);
  --spectrum-cyclebutton-button-background-color-active: rgb(62, 62, 62);
  --spectrum-cyclebutton-button-background-color-default: transparent;
  --spectrum-cyclebutton-button-box-shadow-color-focus: rgb(38, 128, 235);
  --spectrum-cyclebutton-icon-color-default: rgb(153, 153, 153);
  --spectrum-cyclebutton-icon-color-hover: rgb(255, 255, 255);
  --spectrum-dialog-background-color-default: rgb(45, 45, 45);
  --spectrum-dialog-content-text-color-default: rgb(205, 205, 205);
  --spectrum-dialog-error-icon-color-default: rgb(236, 91, 98);
  --spectrum-dialog-error-title-text-color-default: rgb(236, 91, 98);
  --spectrum-dialog-icon-color-default: rgb(255, 255, 255);
  --spectrum-dialog-info-icon-color-default: rgb(55, 142, 240);
  --spectrum-dialog-info-title-text-color-default: rgb(55, 142, 240);
  --spectrum-dialog-popover-border-color-default: rgb(62, 62, 62);
  --spectrum-dialog-popover-shadow-color-default: rgba(0, 0, 0, 0.08);
  --spectrum-dialog-success-icon-color-default: rgb(51, 171, 132);
  --spectrum-dialog-success-title-text-color-default: rgb(51, 171, 132);
  --spectrum-dialog-title-divider-color-default: rgb(57, 57, 57);
  --spectrum-dialog-title-text-color-default: rgb(255, 255, 255);
  --spectrum-dialog-underlay-background-color-default: rgba(0, 0, 0, 0.6);
  --spectrum-dialog-warning-icon-color-default: rgb(242, 148, 35);
  --spectrum-dialog-warning-title-text-color-default: rgb(242, 148, 35);
  --spectrum-drag-handle-background-color-default: rgb(62, 62, 62);
  --spectrum-drag-handle-background-color-focus: rgb(38, 128, 235);
  --spectrum-drag-handle-background-color-hover: rgb(92, 92, 92);
  --spectrum-drag-handle-icon-color-default: rgb(37, 37, 37);
  --spectrum-drawer-background-color-default: rgb(45, 45, 45);
  --spectrum-dropdown-background-color-default: rgb(45, 45, 45);
  --spectrum-dropdown-background-color-disabled: rgb(57, 57, 57);
  --spectrum-dropdown-background-color-hover: rgb(37, 37, 37);
  --spectrum-dropdown-background-color-open: rgb(57, 57, 57);
  --spectrum-dropdown-border-color-default: rgb(62, 62, 62);
  --spectrum-dropdown-border-color-focus: rgb(38, 128, 235);
  --spectrum-dropdown-border-color-hover: rgb(77, 77, 77);
  --spectrum-dropdown-border-color-invalid-default: rgb(227, 72, 80);
  --spectrum-dropdown-border-color-open: rgb(77, 77, 77);
  --spectrum-dropdown-icon-color-default: rgb(153, 153, 153);
  --spectrum-dropdown-icon-color-invalid-default: rgb(227, 72, 80);
  --spectrum-dropdown-quiet-icon-color-chevron-hover: rgb(205, 205, 205);
  --spectrum-dropdown-text-color-default: rgb(205, 205, 205);
  --spectrum-dropdown-text-color-disabled: rgb(92, 92, 92);
  --spectrum-dropdown-text-color-hover: rgb(255, 255, 255);
  --spectrum-fieldbutton-background-color-active: rgb(57, 57, 57);
  --spectrum-fieldbutton-background-color-default: rgb(45, 45, 45);
  --spectrum-fieldbutton-background-color-disabled: rgb(57, 57, 57);
  --spectrum-fieldbutton-background-color-hover: rgb(37, 37, 37);
  --spectrum-fieldbutton-border-color-active: rgb(77, 77, 77);
  --spectrum-fieldbutton-border-color-default: rgb(62, 62, 62);
  --spectrum-fieldbutton-border-color-disabled: transparent;
  --spectrum-fieldbutton-border-color-focus: rgb(55, 142, 240);
  --spectrum-fieldbutton-border-color-hover: rgb(77, 77, 77);
  --spectrum-fieldbutton-icon-color-active: rgb(255, 255, 255);
  --spectrum-fieldbutton-icon-color-default: rgb(153, 153, 153);
  --spectrum-fieldbutton-icon-color-disabled: rgb(92, 92, 92);
  --spectrum-fieldbutton-icon-color-hover: rgb(255, 255, 255);
  --spectrum-global-animation-ease-in: ease-in;
  --spectrum-global-animation-ease-in-out: ease-in-out;
  --spectrum-global-animation-ease-out: ease-out;
  --spectrum-global-color-blue400: rgb(38, 128, 235);
  --spectrum-global-color-blue500: rgb(55, 142, 240);
  --spectrum-global-color-blue600: rgb(75, 156, 245);
  --spectrum-global-color-blue700: rgb(90, 169, 250);
  --spectrum-global-color-celery400: rgb(68, 181, 86);
  --spectrum-global-color-celery500: rgb(75, 195, 95);
  --spectrum-global-color-celery600: rgb(81, 210, 103);
  --spectrum-global-color-celery700: rgb(88, 224, 111);
  --spectrum-global-color-chartreuse400: rgb(133, 208, 68);
  --spectrum-global-color-chartreuse500: rgb(142, 222, 73);
  --spectrum-global-color-chartreuse600: rgb(155, 236, 84);
  --spectrum-global-color-chartreuse700: rgb(163, 248, 88);
  --spectrum-global-color-fuchsia400: rgb(192, 56, 204);
  --spectrum-global-color-fuchsia500: rgb(207, 62, 220);
  --spectrum-global-color-fuchsia600: rgb(217, 81, 229);
  --spectrum-global-color-fuchsia700: rgb(227, 102, 239);
  --spectrum-global-color-green400: rgb(45, 157, 120);
  --spectrum-global-color-green500: rgb(51, 171, 132);
  --spectrum-global-color-green600: rgb(57, 185, 144);
  --spectrum-global-color-green700: rgb(63, 200, 156);
  --spectrum-global-color-grey100: rgb(50, 50, 50);
  --spectrum-global-color-grey200: rgb(57, 57, 57);
  --spectrum-global-color-grey300: rgb(62, 62, 62);
  --spectrum-global-color-grey400: rgb(77, 77, 77);
  --spectrum-global-color-grey50: rgb(37, 37, 37);
  --spectrum-global-color-grey500: rgb(92, 92, 92);
  --spectrum-global-color-grey600: rgb(123, 123, 123);
  --spectrum-global-color-grey700: rgb(153, 153, 153);
  --spectrum-global-color-grey75: rgb(45, 45, 45);
  --spectrum-global-color-grey800: rgb(205, 205, 205);
  --spectrum-global-color-grey900: rgb(255, 255, 255);
  --spectrum-global-color-indigo400: rgb(103, 103, 236);
  --spectrum-global-color-indigo500: rgb(117, 117, 241);
  --spectrum-global-color-indigo600: rgb(130, 130, 246);
  --spectrum-global-color-indigo700: rgb(144, 144, 250);
  --spectrum-global-color-magenta400: rgb(216, 55, 144);
  --spectrum-global-color-magenta500: rgb(226, 73, 157);
  --spectrum-global-color-magenta600: rgb(236, 90, 170);
  --spectrum-global-color-magenta700: rgb(245, 107, 183);
  --spectrum-global-color-orange400: rgb(230, 134, 25);
  --spectrum-global-color-orange500: rgb(242, 148, 35);
  --spectrum-global-color-orange600: rgb(249, 164, 63);
  --spectrum-global-color-orange700: rgb(255, 181, 91);
  --spectrum-global-color-purple400: rgb(146, 86, 217);
  --spectrum-global-color-purple500: rgb(157, 100, 225);
  --spectrum-global-color-purple600: rgb(168, 115, 233);
  --spectrum-global-color-purple700: rgb(180, 131, 240);
  --spectrum-global-color-red400: rgb(227, 72, 80);
  --spectrum-global-color-red500: rgb(236, 91, 98);
  --spectrum-global-color-red600: rgb(247, 109, 116);
  --spectrum-global-color-red700: rgb(255, 123, 130);
  --spectrum-global-color-seafoam400: rgb(27, 149, 154);
  --spectrum-global-color-seafoam500: rgb(32, 163, 168);
  --spectrum-global-color-seafoam600: rgb(35, 178, 184);
  --spectrum-global-color-seafoam700: rgb(38, 192, 199);
  --spectrum-global-color-static-black: rgb(0, 0, 0);
  --spectrum-global-color-static-blue: rgb(20, 115, 230);
  --spectrum-global-color-static-green: rgb(38, 142, 108);
  --spectrum-global-color-static-grey: rgb(112, 112, 112);
  --spectrum-global-color-static-orange: rgb(218, 123, 17);
  --spectrum-global-color-static-red: rgb(215, 55, 63);
  --spectrum-global-color-static-white: rgb(255, 255, 255);
  --spectrum-global-color-yellow400: rgb(223, 191, 0);
  --spectrum-global-color-yellow500: rgb(237, 204, 0);
  --spectrum-global-color-yellow600: rgb(250, 217, 0);
  --spectrum-global-color-yellow700: rgb(255, 226, 46);
  --spectrum-global-font-family-base: Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-heading-display-text-color-default: rgb(255, 255, 255);
  --spectrum-heading-page-title-text-color-default: rgb(255, 255, 255);
  --spectrum-heading-subtitle1-text-color-default: rgb(255, 255, 255);
  --spectrum-heading-subtitle2-text-color-default: rgb(255, 255, 255);
  --spectrum-heading-subtitle3-text-color-default: rgb(153, 153, 153);
  --spectrum-heading-subtitle3-text-transform-default: uppercase;
  --spectrum-input-background-color-default: rgb(37, 37, 37);
  --spectrum-input-background-color-disabled: rgb(57, 57, 57);
  --spectrum-input-border-color-active: rgb(55, 142, 240);
  --spectrum-input-border-color-default: rgb(62, 62, 62);
  --spectrum-input-border-color-disabled: transparent;
  --spectrum-input-border-color-focus: rgb(55, 142, 240);
  --spectrum-input-border-color-hover: rgb(77, 77, 77);
  --spectrum-input-icon-color-active: rgb(37, 37, 37);
  --spectrum-input-icon-color-default: rgb(153, 153, 153);
  --spectrum-input-icon-color-disabled: rgb(92, 92, 92);
  --spectrum-input-icon-color-hover: rgb(205, 205, 205);
  --spectrum-input-invalid-border-color-default: rgb(227, 72, 80);
  --spectrum-input-label-text-color-default: rgb(153, 153, 153);
  --spectrum-input-placeholder-text-color-default: rgb(123, 123, 123);
  --spectrum-input-placeholder-text-color-disabled: rgb(62, 62, 62);
  --spectrum-input-placeholder-text-color-hover: rgb(205, 205, 205);
  --spectrum-input-quiet-border-color-active: rgb(55, 142, 240);
  --spectrum-input-quiet-border-color-default: rgb(62, 62, 62);
  --spectrum-input-quiet-border-color-disabled: rgb(62, 62, 62);
  --spectrum-input-quiet-border-color-focus: rgb(55, 142, 240);
  --spectrum-input-quiet-border-color-hover: rgb(77, 77, 77);
  --spectrum-input-text-color-default: rgb(205, 205, 205);
  --spectrum-input-text-color-disabled: rgb(92, 92, 92);
  --spectrum-label-colored-background-color-disabled: rgb(112, 112, 112);
  --spectrum-label-colored-blue-background-color-default: rgb(20, 115, 230);
  --spectrum-label-colored-fuchsia-background-color-default: rgb(192, 56, 204);
  --spectrum-label-colored-green-background-color-default: rgb(38, 142, 108);
  --spectrum-label-colored-grey-background-color-default: rgb(112, 112, 112);
  --spectrum-label-colored-orange-background-color-default: rgb(218, 123, 17);
  --spectrum-label-colored-red-background-color-default: rgb(215, 55, 63);
  --spectrum-label-colored-seafoam-background-color-default: rgb(27, 149, 154);
  --spectrum-label-colored-text-color-default: rgb(255, 255, 255);
  --spectrum-label-colored-yellow-background-color-default: rgb(223, 191, 0);
  --spectrum-label-large-text-color-default: rgb(153, 153, 153);
  --spectrum-label-text-color-default: rgb(153, 153, 153);
  --spectrum-label-text-color-disabled: rgb(92, 92, 92);
  --spectrum-link-subtle-box-shadow-color-focus: rgb(205, 205, 205);
  --spectrum-link-subtle-text-color-active: inherit;
  --spectrum-link-subtle-text-color-default: inherit;
  --spectrum-link-subtle-text-color-focus: inherit;
  --spectrum-link-subtle-text-color-hover: inherit;
  --spectrum-link-text-color-active: rgb(90, 169, 250);
  --spectrum-link-text-color-default: rgb(75, 156, 245);
  --spectrum-link-text-color-disabled: rgb(92, 92, 92);
  --spectrum-link-text-color-focus: rgb(75, 156, 245);
  --spectrum-link-text-color-hover: rgb(75, 156, 245);
  --spectrum-list-background-color-default: rgb(45, 45, 45);
  --spectrum-list-background-color-hover: rgba(255, 255, 255, .04);
  --spectrum-list-focusindicator-color-default: rgb(55, 142, 240);
  --spectrum-list-text-color-active: rgb(205, 205, 205);
  --spectrum-list-text-color-default: rgb(205, 205, 205);
  --spectrum-loader-background-color-default: rgb(62, 62, 62);
  --spectrum-loader-blue-color-default: rgb(38, 128, 235);
  --spectrum-loader-grey-color-default: rgb(123, 123, 123);
  --spectrum-logicbutton-and-background-color-default: rgb(55, 142, 240);
  --spectrum-logicbutton-and-background-color-disabled: rgb(57, 57, 57);
  --spectrum-logicbutton-and-background-color-focus: rgb(90, 169, 250);
  --spectrum-logicbutton-and-background-color-hover: rgb(90, 169, 250);
  --spectrum-logicbutton-and-border-color-default: rgb(55, 142, 240);
  --spectrum-logicbutton-and-border-color-disabled: rgb(57, 57, 57);
  --spectrum-logicbutton-and-border-color-focus: rgb(55, 142, 240);
  --spectrum-logicbutton-and-border-color-hover: rgb(90, 169, 250);
  --spectrum-logicbutton-or-background-color-default: rgb(226, 73, 157);
  --spectrum-logicbutton-or-background-color-disabled: rgb(57, 57, 57);
  --spectrum-logicbutton-or-background-color-focus: rgb(245, 107, 183);
  --spectrum-logicbutton-or-background-color-hover: rgb(245, 107, 183);
  --spectrum-logicbutton-or-border-color-default: rgb(226, 73, 157);
  --spectrum-logicbutton-or-border-color-disabled: rgb(57, 57, 57);
  --spectrum-logicbutton-or-border-color-focus: rgb(55, 142, 240);
  --spectrum-logicbutton-or-border-color-hover: rgb(245, 107, 183);
  --spectrum-logicbutton-text-color-default: rgb(255, 255, 255);
  --spectrum-logicbutton-text-color-disabled: rgb(92, 92, 92);
  --spectrum-miller-column-chevron-color-active: rgb(153, 153, 153);
  --spectrum-miller-column-chevron-color-default: rgb(123, 123, 123);
  --spectrum-miller-column-chevron-color-hover: rgb(153, 153, 153);
  --spectrum-miller-column-chevron-color-selected: rgb(153, 153, 153);
  --spectrum-miller-column-chevron-color-selected-hover: rgb(255, 255, 255);
  --spectrum-miller-column-item-background-color-active: rgb(62, 62, 62);
  --spectrum-miller-column-item-background-color-hover: rgb(57, 57, 57);
  --spectrum-miller-column-item-background-color-selected: rgba(20, 115, 230, 0.1);
  --spectrum-miller-column-item-background-color-selected-hover: rgba(20, 115, 230, 0.2);
  --spectrum-miller-column-item-text-color-active: rgb(37, 37, 37);
  --spectrum-miller-column-item-text-color-focus: rgb(38, 128, 235);
  --spectrum-miller-column-item-text-color-selected: rgb(37, 37, 37);
  --spectrum-miller-column-text-color-default: rgb(205, 205, 205);
  --spectrum-miller-column-thumbnail-background-color-default: rgb(62, 62, 62);
  --spectrum-miller-column-thumbnail-background-color-selected: rgb(37, 37, 37);
  --spectrum-pagination-page-button-background-color-active: rgb(205, 205, 205);
  --spectrum-pagination-page-button-background-color-hover: rgba(255, 255, 255, .04);
  --spectrum-pagination-page-button-border-color-focus: rgb(38, 128, 235);
  --spectrum-pagination-page-button-text-color-active: rgb(255, 255, 255);
  --spectrum-popover-background-color-default: rgb(37, 37, 37);
  --spectrum-popover-border-color-default: rgb(62, 62, 62);
  --spectrum-popover-shadow-color-default: rgba(0, 0, 0, 0.15);
  --spectrum-quickaction-background-color-default: rgb(37, 37, 37);
  --spectrum-quickaction-border-color-active: rgb(205, 205, 205);
  --spectrum-quickaction-border-color-default: rgb(77, 77, 77);
  --spectrum-quickaction-border-color-focus: rgb(55, 142, 240);
  --spectrum-quickaction-border-color-hover: rgb(153, 153, 153);
  --spectrum-quickaction-box-shadow-color-default: rgba(0, 0, 0, 0.15);
  --spectrum-quickaction-icon-color-focus: rgb(38, 128, 235);
  --spectrum-quickaction-text-color-active: rgb(255, 255, 255);
  --spectrum-quickaction-text-color-default: rgb(153, 153, 153);
  --spectrum-quickaction-text-color-focus: rgb(38, 128, 235);
  --spectrum-quickaction-text-color-hover: rgb(255, 255, 255);
  --spectrum-radio-border-color-active: rgb(205, 205, 205);
  --spectrum-radio-border-color-checked: rgb(55, 142, 240);
  --spectrum-radio-border-color-checked-active: rgb(90, 169, 250);
  --spectrum-radio-border-color-checked-hover: rgb(75, 156, 245);
  --spectrum-radio-border-color-default: rgb(123, 123, 123);
  --spectrum-radio-border-color-disabled: rgb(77, 77, 77);
  --spectrum-radio-border-color-error: rgb(236, 91, 98);
  --spectrum-radio-border-color-focus: rgb(55, 142, 240);
  --spectrum-radio-border-color-hover: rgb(153, 153, 153);
  --spectrum-radio-border-color-invalid: rgb(236, 91, 98);
  --spectrum-radio-border-color-invalid-active: rgb(255, 123, 130);
  --spectrum-radio-border-color-invalid-hover: rgb(247, 109, 116);
  --spectrum-radio-label-text-color-active: rgb(255, 255, 255);
  --spectrum-radio-label-text-color-default: rgb(205, 205, 205);
  --spectrum-radio-label-text-color-disabled: rgb(92, 92, 92);
  --spectrum-radio-label-text-color-error: rgb(247, 109, 116);
  --spectrum-radio-label-text-color-focus: rgb(90, 169, 250);
  --spectrum-radio-label-text-color-hover: rgb(255, 255, 255);
  --spectrum-rail-content-background-color-default: rgb(50, 50, 50);
  --spectrum-rail-draghandle-background-color-active: rgb(205, 205, 205);
  --spectrum-rail-draghandle-background-color-default: rgb(62, 62, 62);
  --spectrum-rail-draghandle-background-color-hover: rgb(77, 77, 77);
  --spectrum-rating-icon-color-active: rgb(205, 205, 205);
  --spectrum-rating-icon-color-default: rgb(123, 123, 123);
  --spectrum-rating-icon-color-disabled: rgb(62, 62, 62);
  --spectrum-rating-icon-color-hover: rgb(255, 255, 255);
  --spectrum-rule-border-color-default: rgb(205, 205, 205);
  --spectrum-rule-panel-border-color-default: rgb(62, 62, 62);
  --spectrum-rule-subsection-border-color-default: rgb(62, 62, 62);
  --spectrum-rule-subsection2-border-color-default: rgb(57, 57, 57);
  --spectrum-selectlist-background-color-default: rgb(37, 37, 37);
  --spectrum-selectlist-divider-color-default: rgb(50, 50, 50);
  --spectrum-selectlist-option-background-color-active: rgb(57, 57, 57);
  --spectrum-selectlist-option-background-color-default: transparent;
  --spectrum-selectlist-option-background-color-disabled: transparent;
  --spectrum-selectlist-option-background-color-focus: rgb(50, 50, 50);
  --spectrum-selectlist-option-background-color-hover: rgb(50, 50, 50);
  --spectrum-selectlist-option-background-color-selected: transparent;
  --spectrum-selectlist-option-focus-indicator-color-default: rgb(55, 142, 240);
  --spectrum-selectlist-option-icon-color-selected: rgb(38, 128, 235);
  --spectrum-selectlist-option-text-color-default: rgb(205, 205, 205);
  --spectrum-selectlist-option-text-color-disabled: rgb(92, 92, 92);
  --spectrum-selectlist-option-text-color-focus: rgb(205, 205, 205);
  --spectrum-selectlist-option-text-color-hover: rgb(205, 205, 205);
  --spectrum-selectlist-option-text-color-selected: rgb(75, 156, 245);
  --spectrum-semantic-informative-color-border: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-dark: rgb(75, 156, 245);
  --spectrum-semantic-informative-color-default: rgb(55, 142, 240);
  --spectrum-semantic-informative-color-icon: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-state-down: rgb(90, 169, 250);
  --spectrum-semantic-informative-color-state-focus: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-status: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-text-large: rgb(55, 142, 240);
  --spectrum-semantic-informative-color-text-small: rgb(75, 156, 245);
  --spectrum-semantic-negative-color-border: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-dark: rgb(247, 109, 116);
  --spectrum-semantic-negative-color-default: rgb(236, 91, 98);
  --spectrum-semantic-negative-color-icon: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-state-down: rgb(255, 123, 130);
  --spectrum-semantic-negative-color-state-focus: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-status: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-text-large: rgb(236, 91, 98);
  --spectrum-semantic-negative-color-text-small: rgb(247, 109, 116);
  --spectrum-semantic-notice-color-border: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-dark: rgb(249, 164, 63);
  --spectrum-semantic-notice-color-default: rgb(242, 148, 35);
  --spectrum-semantic-notice-color-icon: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-state-down: rgb(255, 181, 91);
  --spectrum-semantic-notice-color-state-focus: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-status: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-text-large: rgb(242, 148, 35);
  --spectrum-semantic-notice-color-text-small: rgb(249, 164, 63);
  --spectrum-semantic-positive-color-border: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-dark: rgb(57, 185, 144);
  --spectrum-semantic-positive-color-default: rgb(51, 171, 132);
  --spectrum-semantic-positive-color-icon: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-state-down: rgb(63, 200, 156);
  --spectrum-semantic-positive-color-state-focus: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-status: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-text-large: rgb(51, 171, 132);
  --spectrum-semantic-positive-color-text-small: rgb(57, 185, 144);
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-color-handle-border-color-default: rgb(37, 37, 37);
  --spectrum-slider-color-handle-border-color-disabled: rgb(77, 77, 77);
  --spectrum-slider-color-handle-color-default: transparent;
  --spectrum-slider-color-handle-color-disabled: transparent;
  --spectrum-slider-color-handle-inset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-focus: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-background-color-gradient-end-default: rgb(90, 169, 250);
  --spectrum-slider-color-track-background-color-gradient-start-default: rgb(38, 128, 235);
  --spectrum-slider-color-track-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-color-disabled: rgb(57, 57, 57);
  --spectrum-slider-fill-track-color-default: rgb(153, 153, 153);
  --spectrum-slider-fill-track-color-disabled: rgb(62, 62, 62);
  --spectrum-slider-handle-border-color-active: rgb(205, 205, 205);
  --spectrum-slider-handle-border-color-default: rgb(153, 153, 153);
  --spectrum-slider-handle-border-color-disabled: rgb(77, 77, 77);
  --spectrum-slider-handle-border-color-focus: rgb(55, 142, 240);
  --spectrum-slider-handle-border-color-hover: rgb(205, 205, 205);
  --spectrum-slider-handle-color-default: rgb(50, 50, 50);
  --spectrum-slider-handle-fill-color-active: rgb(205, 205, 205);
  --spectrum-slider-handle-fill-color-focus: rgb(55, 142, 240);
  --spectrum-slider-handle-outset-border-color-default: rgb(50, 50, 50);
  --spectrum-slider-player-track-buffer-color-default: rgb(92, 92, 92);
  --spectrum-slider-player-track-buffer-color-disabled: rgb(62, 62, 62);
  --spectrum-slider-ramp-track-color-disabled: rgb(57, 57, 57);
  --spectrum-slider-round-border-color-hover: rgb(205, 205, 205);
  --spectrum-slider-round-handle-marker-color-default: rgb(153, 153, 153);
  --spectrum-slider-round-handle-marker-color-focus: rgb(37, 37, 37);
  --spectrum-slider-round-handle-marker-color-hover: rgb(205, 205, 205);
  --spectrum-slider-round-min-max-tick-color-default: rgb(123, 123, 123);
  --spectrum-slider-text-color-disabled: rgb(92, 92, 92);
  --spectrum-slider-tick-mark-color-default: rgb(62, 62, 62);
  --spectrum-slider-track-color-default: rgb(62, 62, 62);
  --spectrum-slider-track-color-disabled: rgb(62, 62, 62);
  --spectrum-statuslight-color-organizational-celery: rgb(68, 181, 86);
  --spectrum-statuslight-color-organizational-chartreuse: rgb(133, 208, 68);
  --spectrum-statuslight-color-organizational-fuchsia: rgb(192, 56, 204);
  --spectrum-statuslight-color-organizational-indigo: rgb(103, 103, 236);
  --spectrum-statuslight-color-organizational-magenta: rgb(216, 55, 144);
  --spectrum-statuslight-color-organizational-purple: rgb(146, 86, 217);
  --spectrum-statuslight-color-organizational-seafoam: rgb(27, 149, 154);
  --spectrum-statuslight-color-organizational-yellow: rgb(223, 191, 0);
  --spectrum-statuslight-color-status-active: rgb(38, 128, 235);
  --spectrum-statuslight-color-status-archived: rgb(92, 92, 92);
  --spectrum-statuslight-color-status-negative: rgb(227, 72, 80);
  --spectrum-statuslight-color-status-notice: rgb(230, 134, 25);
  --spectrum-statuslight-color-status-positive: rgb(45, 157, 120);
  --spectrum-statuslight-text-color-archived: rgb(123, 123, 123);
  --spectrum-steplist-complete-label-text-color-default: rgb(153, 153, 153);
  --spectrum-steplist-complete-marker-color-default: rgb(123, 123, 123);
  --spectrum-steplist-complete-marker-color-focus: rgb(38, 128, 235);
  --spectrum-steplist-complete-marker-color-hover: rgb(153, 153, 153);
  --spectrum-steplist-complete-segment-color-default: rgb(92, 92, 92);
  --spectrum-steplist-current-label-text-color-default: rgb(205, 205, 205);
  --spectrum-steplist-current-marker-color-default: rgb(205, 205, 205);
  --spectrum-steplist-current-marker-color-focus: rgb(38, 128, 235);
  --spectrum-steplist-incomplete-label-text-color-default: rgb(123, 123, 123);
  --spectrum-steplist-incomplete-marker-color-default: rgb(62, 62, 62);
  --spectrum-steplist-incomplete-marker-color-hover: rgb(153, 153, 153);
  --spectrum-steplist-incomplete-segment-color-default: rgb(62, 62, 62);
  --spectrum-switch-border-color-active: rgb(205, 205, 205);
  --spectrum-switch-border-color-checked: rgb(55, 142, 240);
  --spectrum-switch-border-color-checked-active: rgb(90, 169, 250);
  --spectrum-switch-border-color-checked-hover: rgb(75, 156, 245);
  --spectrum-switch-border-color-default: rgb(123, 123, 123);
  --spectrum-switch-border-color-disabled: rgb(77, 77, 77);
  --spectrum-switch-border-color-focus: rgb(55, 142, 240);
  --spectrum-switch-border-color-hover: rgb(153, 153, 153);
  --spectrum-switch-handle-background-color-default: rgb(45, 45, 45);
  --spectrum-switch-label-text-color-active: rgb(255, 255, 255);
  --spectrum-switch-label-text-color-disabled: rgb(92, 92, 92);
  --spectrum-switch-label-text-color-focus: rgb(90, 169, 250);
  --spectrum-switch-label-text-color-hover: rgb(255, 255, 255);
  --spectrum-switch-track-color-active: rgb(153, 153, 153);
  --spectrum-switch-track-color-checked: rgb(55, 142, 240);
  --spectrum-switch-track-color-checked-active: rgb(90, 169, 250);
  --spectrum-switch-track-color-checked-hover: rgb(75, 156, 245);
  --spectrum-switch-track-color-default: rgb(62, 62, 62);
  --spectrum-switch-track-color-disabled: rgb(62, 62, 62);
  --spectrum-switch-track-color-disabled-checked: rgb(77, 77, 77);
  --spectrum-switch-track-color-focus: rgb(38, 128, 235);
  --spectrum-switch-track-color-hover: rgb(255, 255, 255);
  --spectrum-table-body-cell-background-color-active: rgb(57, 57, 57);
  --spectrum-table-body-cell-background-color-default: rgb(45, 45, 45);
  --spectrum-table-body-cell-background-color-hover: rgb(50, 50, 50);
  --spectrum-table-body-cell-background-color-selected: rgb(50, 50, 50);
  --spectrum-table-body-cell-background-color-selected-hover: rgb(57, 57, 57);
  --spectrum-table-body-cell-border-color-default: rgb(62, 62, 62);
  --spectrum-table-body-cell-text-color-default: rgb(205, 205, 205);
  --spectrum-table-head-cell-sort-icon-color-active: rgb(205, 205, 205);
  --spectrum-table-head-cell-sort-icon-color-default: rgb(123, 123, 123);
  --spectrum-table-head-cell-sort-icon-color-hover: rgb(153, 153, 153);
  --spectrum-table-head-cell-text-color-active: rgb(255, 255, 255);
  --spectrum-table-head-cell-text-color-default: rgb(153, 153, 153);
  --spectrum-table-head-cell-text-color-hover: rgb(205, 205, 205);
  --spectrum-table-quiet-body-cell-background-color-active: rgb(62, 62, 62);
  --spectrum-table-quiet-body-cell-background-color-default: transparent;
  --spectrum-table-quiet-body-cell-background-color-hover: rgb(57, 57, 57);
  --spectrum-table-quiet-body-cell-background-color-selected: rgb(57, 57, 57);
  --spectrum-table-quiet-body-cell-background-color-selected-hover: rgb(62, 62, 62);
  --spectrum-tablist-anchored-border-color-default: rgb(57, 57, 57);
  --spectrum-tablist-anchored-tabline-background-color-focus: rgb(55, 142, 240);
  --spectrum-tablist-anchored-text-color-focus: rgb(38, 128, 235);
  --spectrum-tablist-border-color-active: rgb(255, 255, 255);
  --spectrum-tablist-border-color-disabled: rgb(77, 77, 77);
  --spectrum-tablist-border-color-focus: rgb(55, 142, 240);
  --spectrum-tablist-border-color-hover: transparent;
  --spectrum-tablist-icon-color-active: rgb(255, 255, 255);
  --spectrum-tablist-icon-color-default: rgb(153, 153, 153);
  --spectrum-tablist-icon-color-disabled: rgb(92, 92, 92);
  --spectrum-tablist-icon-color-focus: rgb(255, 255, 255);
  --spectrum-tablist-icon-color-hover: rgb(255, 255, 255);
  --spectrum-tablist-tabline-background-color-default: rgb(255, 255, 255);
  --spectrum-tablist-tabline-border-color-default: rgb(57, 57, 57);
  --spectrum-tablist-text-color-active: rgb(255, 255, 255);
  --spectrum-tablist-text-color-default: rgb(153, 153, 153);
  --spectrum-tablist-text-color-disabled: rgb(92, 92, 92);
  --spectrum-tablist-text-color-focus: rgb(255, 255, 255);
  --spectrum-tablist-text-color-hover: rgb(255, 255, 255);
  --spectrum-tag-background-color-active: rgb(37, 37, 37);
  --spectrum-tag-background-color-default: rgb(45, 45, 45);
  --spectrum-tag-background-color-disabled: rgb(57, 57, 57);
  --spectrum-tag-background-color-focus: rgb(37, 37, 37);
  --spectrum-tag-background-color-hover: rgb(37, 37, 37);
  --spectrum-tag-border-color-active: rgb(255, 255, 255);
  --spectrum-tag-border-color-default: rgb(123, 123, 123);
  --spectrum-tag-border-color-disabled: rgb(57, 57, 57);
  --spectrum-tag-border-color-focus: rgb(55, 142, 240);
  --spectrum-tag-border-color-hover: rgb(255, 255, 255);
  --spectrum-tag-icon-color-active: rgb(255, 255, 255);
  --spectrum-tag-icon-color-default: rgb(123, 123, 123);
  --spectrum-tag-icon-color-disabled: rgb(92, 92, 92);
  --spectrum-tag-icon-color-focus: rgb(255, 255, 255);
  --spectrum-tag-icon-color-hover: rgb(255, 255, 255);
  --spectrum-tag-invalid-border-color-default: rgb(227, 72, 80);
  --spectrum-tag-invalid-border-color-focus: rgb(236, 91, 98);
  --spectrum-tag-invalid-border-color-hover: rgb(227, 72, 80);
  --spectrum-tag-invalid-icon-color-default: rgb(227, 72, 80);
  --spectrum-tag-invalid-icon-color-focus: rgb(247, 109, 116);
  --spectrum-tag-invalid-icon-color-hover: rgb(236, 91, 98);
  --spectrum-tag-invalid-text-color-default: rgb(247, 109, 116);
  --spectrum-tag-invalid-text-color-focus: rgb(255, 123, 130);
  --spectrum-tag-invalid-text-color-hover: rgb(247, 109, 116);
  --spectrum-tag-text-color-active: rgb(255, 255, 255);
  --spectrum-tag-text-color-default: rgb(153, 153, 153);
  --spectrum-tag-text-color-disabled: rgb(92, 92, 92);
  --spectrum-tag-text-color-focus: rgb(255, 255, 255);
  --spectrum-tag-text-color-hover: rgb(255, 255, 255);
  --spectrum-toast-background-color-default: rgb(112, 112, 112);
  --spectrum-toast-error-background-color-default: rgb(236, 91, 98);
  --spectrum-toast-icon-color-default: rgb(255, 255, 255);
  --spectrum-toast-info-background-color-default: rgb(55, 142, 240);
  --spectrum-toast-success-background-color-default: rgb(51, 171, 132);
  --spectrum-toast-text-color-default: rgb(255, 255, 255);
  --spectrum-toast-warning-background-color-default: rgb(242, 148, 35);
  --spectrum-tooltip-background-color-default: rgb(112, 112, 112);
  --spectrum-tooltip-error-background-color-default: rgb(247, 109, 116);
  --spectrum-tooltip-icon-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-info-background-color-default: rgb(75, 156, 245);
  --spectrum-tooltip-success-background-color-default: rgb(57, 185, 144);
  --spectrum-tooltip-text-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-warning-background-color-default: rgb(249, 164, 63);
  --spectrum-treenav-link-text-color-default: rgb(205, 205, 205);
  --spectrum-treenav-link-text-color-hover: rgb(255, 255, 255);
  --spectrum-treenav-listitem-group-background-color-hover: rgb(45, 45, 45);
  --spectrum-treenav-listitem-group-border-color-hover: rgb(92, 92, 92);
  --spectrum-treenav-row-border-color-hover: rgb(255, 255, 255);
  --spectrum-treenav-wrap-background-color-hover: rgba(255, 255, 255, .04);
  --spectrum-treenav-wrap-box-shadow-color-focus: rgb(38, 128, 235);
  --spectrum-well-background-color-default: rgba(255, 255, 255, .02);
  --spectrum-well-border-color-default: rgba(255, 255, 255, .05);
  --spectrum-well-label-text-color-default: rgb(255, 255, 255);
}
