:root {
  --spectrum-accordion-background-color-hover: rgb(234, 234, 234);
  --spectrum-accordion-border-color-default: rgb(225, 225, 225);
  --spectrum-accordion-border-left-color-focus: rgb(38, 128, 235);
  --spectrum-accordion-icon-color-active: rgb(75, 75, 75);
  --spectrum-accordion-icon-color-default: rgb(142, 142, 142);
  --spectrum-accordion-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-accordion-icon-color-focus: rgb(75, 75, 75);
  --spectrum-accordion-icon-color-hover: rgb(75, 75, 75);
  --spectrum-accordion-text-color-active: rgb(44, 44, 44);
  --spectrum-accordion-text-color-default: rgb(112, 112, 112);
  --spectrum-accordion-text-color-disabled: rgb(179, 179, 179);
  --spectrum-accordion-text-color-focus: rgb(44, 44, 44);
  --spectrum-accordion-text-color-hover: rgb(44, 44, 44);
  --spectrum-alert-background-color-default: rgb(255, 255, 255);
  --spectrum-alert-body-text-color-default: rgb(112, 112, 112);
  --spectrum-alert-error-border-color-default: rgb(215, 55, 63);
  --spectrum-alert-error-icon-color-default: rgb(215, 55, 63);
  --spectrum-alert-header-text-color-default: rgb(44, 44, 44);
  --spectrum-alert-info-border-color-default: rgb(20, 115, 230);
  --spectrum-alert-info-icon-color-default: rgb(20, 115, 230);
  --spectrum-alert-success-border-color-default: rgb(38, 142, 108);
  --spectrum-alert-success-icon-color-default: rgb(38, 142, 108);
  --spectrum-alert-warning-border-color-default: rgb(218, 123, 17);
  --spectrum-alert-warning-icon-color-default: rgb(218, 123, 17);
  --spectrum-alias-background-color-default: rgb(245, 245, 245);
  --spectrum-alias-background-color-hover-overlay: rgba(44, 44, 44, .04);
  --spectrum-alias-background-color-label-grey: rgb(112, 112, 112);
  --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.6);
  --spectrum-alias-background-color-transparent: transparent;
  --spectrum-alias-border-color-focus-blue: rgb(38, 128, 235);
  --spectrum-alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --spectrum-alias-border-color-transparent: transparent;
  --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.08);
  --spectrum-alias-dropshadow-color-alt: rgba(0, 0, 0, 0.1);
  --spectrum-alias-focus-blue: rgb(38, 128, 235);
  --spectrum-alias-font-family-condensed: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ja: adobe-clean-han-japanese, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-ko: adobe-clean-han-korean, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zh: adobe-clean-han-traditional, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-font-family-zhhans: adobe-clean-han-simplified-c, Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-alias-heading-color: rgb(44, 44, 44);
  --spectrum-alias-text-color: rgb(75, 75, 75);
  --spectrum-alias-text-color-disabled: rgb(179, 179, 179);
  --spectrum-alias-text-color-invalid: rgb(215, 55, 63);
  --spectrum-alias-track-color-default: rgb(225, 225, 225);
  --spectrum-body-large-text-color-default: rgb(75, 75, 75);
  --spectrum-body-secondary-text-color-default: rgb(112, 112, 112);
  --spectrum-body-small-text-color-default: rgb(75, 75, 75);
  --spectrum-body-text-color-default: rgb(75, 75, 75);
  --spectrum-body-text-color-disabled: rgb(179, 179, 179);
  --spectrum-body-text-color-invalid: rgb(215, 55, 63);
  --spectrum-breadcrumb-chevron-icon-color-default: rgb(179, 179, 179);
  --spectrum-breadcrumb-text-color-active: rgb(44, 44, 44);
  --spectrum-breadcrumb-text-color-default: rgb(112, 112, 112);
  --spectrum-breadcrumb-text-color-focus: rgb(13, 102, 208);
  --spectrum-breadcrumb-text-color-hover: rgb(44, 44, 44);
  --spectrum-button-action-background-color-active: rgb(234, 234, 234);
  --spectrum-button-action-background-color-default: rgb(252, 252, 252);
  --spectrum-button-action-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-action-background-color-focus: rgb(255, 255, 255);
  --spectrum-button-action-background-color-hover: rgb(255, 255, 255);
  --spectrum-button-action-border-color-active: rgb(202, 202, 202);
  --spectrum-button-action-border-color-default: rgb(225, 225, 225);
  --spectrum-button-action-border-color-disabled: rgb(234, 234, 234);
  --spectrum-button-action-border-color-focus: rgb(38, 128, 235);
  --spectrum-button-action-border-color-hover: rgb(202, 202, 202);
  --spectrum-button-action-text-color-active: rgb(44, 44, 44);
  --spectrum-button-action-text-color-default: rgb(75, 75, 75);
  --spectrum-button-action-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-action-text-color-focus: rgb(44, 44, 44);
  --spectrum-button-action-text-color-hover: rgb(44, 44, 44);
  --spectrum-button-cta-background-color-active: rgb(9, 90, 186);
  --spectrum-button-cta-background-color-default: rgb(20, 115, 230);
  --spectrum-button-cta-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-cta-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-cta-background-color-hover: rgb(13, 102, 208);
  --spectrum-button-cta-border-color-active: rgb(9, 90, 186);
  --spectrum-button-cta-border-color-default: rgb(20, 115, 230);
  --spectrum-button-cta-border-color-disabled: rgb(234, 234, 234);
  --spectrum-button-cta-border-color-focus: rgb(13, 102, 208);
  --spectrum-button-cta-border-color-hover: rgb(13, 102, 208);
  --spectrum-button-cta-text-color-active: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-default: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-cta-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-icon-color-active: rgb(75, 75, 75);
  --spectrum-button-icon-color-default: rgb(112, 112, 112);
  --spectrum-button-icon-color-disabled: rgb(112, 112, 112);
  --spectrum-button-icon-color-focus: rgb(44, 44, 44);
  --spectrum-button-icon-color-hover: rgb(44, 44, 44);
  --spectrum-button-logic-and-background-color-default: rgb(20, 115, 230);
  --spectrum-button-logic-and-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-logic-and-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-logic-and-background-color-hover: rgb(9, 90, 186);
  --spectrum-button-logic-and-border-color-default: rgb(20, 115, 230);
  --spectrum-button-logic-and-border-color-disabled: rgb(234, 234, 234);
  --spectrum-button-logic-and-border-color-focus: rgb(38, 128, 235);
  --spectrum-button-logic-and-border-color-hover: rgb(9, 90, 186);
  --spectrum-button-logic-or-background-color-default: rgb(202, 41, 150);
  --spectrum-button-logic-or-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-logic-or-background-color-focus: rgb(174, 14, 102);
  --spectrum-button-logic-or-background-color-hover: rgb(174, 14, 102);
  --spectrum-button-logic-or-border-color-default: rgb(202, 41, 150);
  --spectrum-button-logic-or-border-color-disabled: rgb(234, 234, 234);
  --spectrum-button-logic-or-border-color-focus: rgb(38, 128, 235);
  --spectrum-button-logic-or-border-color-hover: rgb(174, 14, 102);
  --spectrum-button-logic-text-color-default: rgb(255, 255, 255);
  --spectrum-button-logic-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-primary-background-color-active: rgb(44, 44, 44);
  --spectrum-button-primary-background-color-default: transparent;
  --spectrum-button-primary-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-primary-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-primary-background-color-hover: rgb(75, 75, 75);
  --spectrum-button-primary-border-color-active: rgb(44, 44, 44);
  --spectrum-button-primary-border-color-default: rgb(75, 75, 75);
  --spectrum-button-primary-border-color-disabled: rgb(234, 234, 234);
  --spectrum-button-primary-border-color-focus: rgb(13, 102, 208);
  --spectrum-button-primary-border-color-hover: rgb(75, 75, 75);
  --spectrum-button-primary-text-color-active: rgb(255, 255, 255);
  --spectrum-button-primary-text-color-default: rgb(75, 75, 75);
  --spectrum-button-primary-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-primary-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-quiet-action-background-color-active: rgb(225, 225, 225);
  --spectrum-button-quiet-action-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-disabled: transparent;
  --spectrum-button-quiet-action-background-color-focus: transparent;
  --spectrum-button-quiet-action-background-color-hover: transparent;
  --spectrum-button-quiet-action-border-color-active: transparent;
  --spectrum-button-quiet-action-border-color-default: transparent;
  --spectrum-button-quiet-action-border-color-disabled: transparent;
  --spectrum-button-quiet-action-border-color-focus: rgb(38, 128, 235);
  --spectrum-button-quiet-action-border-color-hover: transparent;
  --spectrum-button-quiet-action-text-color-active: rgb(44, 44, 44);
  --spectrum-button-quiet-action-text-color-default: rgb(75, 75, 75);
  --spectrum-button-quiet-action-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-quiet-action-text-color-focus: rgb(44, 44, 44);
  --spectrum-button-quiet-action-text-color-hover: rgb(44, 44, 44);
  --spectrum-button-quiet-primary-background-color-active: rgb(225, 225, 225);
  --spectrum-button-quiet-primary-background-color-default: transparent;
  --spectrum-button-quiet-primary-background-color-disabled: transparent;
  --spectrum-button-quiet-primary-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-quiet-primary-background-color-hover: rgb(234, 234, 234);
  --spectrum-button-quiet-primary-border-color-active: rgb(225, 225, 225);
  --spectrum-button-quiet-primary-border-color-default: transparent;
  --spectrum-button-quiet-primary-border-color-disabled: transparent;
  --spectrum-button-quiet-primary-border-color-focus: rgb(13, 102, 208);
  --spectrum-button-quiet-primary-border-color-hover: rgb(234, 234, 234);
  --spectrum-button-quiet-primary-text-color-active: rgb(44, 44, 44);
  --spectrum-button-quiet-primary-text-color-default: rgb(75, 75, 75);
  --spectrum-button-quiet-primary-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-quiet-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-primary-text-color-hover: rgb(44, 44, 44);
  --spectrum-button-quiet-secondary-background-color-active: rgb(225, 225, 225);
  --spectrum-button-quiet-secondary-background-color-default: transparent;
  --spectrum-button-quiet-secondary-background-color-disabled: transparent;
  --spectrum-button-quiet-secondary-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-quiet-secondary-background-color-hover: rgb(234, 234, 234);
  --spectrum-button-quiet-secondary-border-color-active: rgb(225, 225, 225);
  --spectrum-button-quiet-secondary-border-color-default: transparent;
  --spectrum-button-quiet-secondary-border-color-disabled: transparent;
  --spectrum-button-quiet-secondary-border-color-focus: rgb(13, 102, 208);
  --spectrum-button-quiet-secondary-border-color-hover: rgb(234, 234, 234);
  --spectrum-button-quiet-secondary-text-color-active: rgb(75, 75, 75);
  --spectrum-button-quiet-secondary-text-color-default: rgb(142, 142, 142);
  --spectrum-button-quiet-secondary-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-quiet-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-secondary-text-color-hover: rgb(75, 75, 75);
  --spectrum-button-quiet-warning-background-color-active: rgb(225, 225, 225);
  --spectrum-button-quiet-warning-background-color-default: transparent;
  --spectrum-button-quiet-warning-background-color-disabled: transparent;
  --spectrum-button-quiet-warning-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-quiet-warning-background-color-hover: rgb(234, 234, 234);
  --spectrum-button-quiet-warning-border-color-active: rgb(225, 225, 225);
  --spectrum-button-quiet-warning-border-color-default: transparent;
  --spectrum-button-quiet-warning-border-color-disabled: transparent;
  --spectrum-button-quiet-warning-border-color-focus: rgb(13, 102, 208);
  --spectrum-button-quiet-warning-border-color-hover: rgb(234, 234, 234);
  --spectrum-button-quiet-warning-text-color-active: rgb(201, 37, 45);
  --spectrum-button-quiet-warning-text-color-default: rgb(215, 55, 63);
  --spectrum-button-quiet-warning-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-quiet-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-warning-text-color-hover: rgb(201, 37, 45);
  --spectrum-button-secondary-background-color-active: rgb(112, 112, 112);
  --spectrum-button-secondary-background-color-default: transparent;
  --spectrum-button-secondary-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-secondary-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-secondary-background-color-hover: rgb(142, 142, 142);
  --spectrum-button-secondary-border-color-active: rgb(112, 112, 112);
  --spectrum-button-secondary-border-color-default: rgb(142, 142, 142);
  --spectrum-button-secondary-border-color-disabled: rgb(234, 234, 234);
  --spectrum-button-secondary-border-color-focus: rgb(13, 102, 208);
  --spectrum-button-secondary-border-color-hover: rgb(142, 142, 142);
  --spectrum-button-secondary-text-color-active: rgb(255, 255, 255);
  --spectrum-button-secondary-text-color-default: rgb(142, 142, 142);
  --spectrum-button-secondary-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-secondary-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-toggle-background-color-active: rgb(225, 225, 225);
  --spectrum-button-toggle-background-color-default: transparent;
  --spectrum-button-toggle-background-color-disabled: transparent;
  --spectrum-button-toggle-background-color-focus: transparent;
  --spectrum-button-toggle-background-color-hover: transparent;
  --spectrum-button-toggle-border-color-active: transparent;
  --spectrum-button-toggle-border-color-default: transparent;
  --spectrum-button-toggle-border-color-disabled: transparent;
  --spectrum-button-toggle-border-color-focus: rgb(38, 128, 235);
  --spectrum-button-toggle-border-color-hover: transparent;
  --spectrum-button-toggle-on-background-color-default: rgb(225, 225, 225);
  --spectrum-button-toggle-on-background-color-disabled: rgb(225, 225, 225);
  --spectrum-button-toggle-on-background-color-focus: rgb(225, 225, 225);
  --spectrum-button-toggle-on-background-color-hover: rgb(225, 225, 225);
  --spectrum-button-toggle-on-border-color-active: transparent;
  --spectrum-button-toggle-on-border-color-default: transparent;
  --spectrum-button-toggle-on-border-color-disabled: transparent;
  --spectrum-button-toggle-on-border-color-focus: rgb(38, 128, 235);
  --spectrum-button-toggle-on-border-color-hover: transparent;
  --spectrum-button-toggle-on-text-color-active: rgb(44, 44, 44);
  --spectrum-button-toggle-on-text-color-default: rgb(75, 75, 75);
  --spectrum-button-toggle-on-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-toggle-on-text-color-focus: rgb(44, 44, 44);
  --spectrum-button-toggle-on-text-color-hover: rgb(44, 44, 44);
  --spectrum-button-toggle-text-color-active: rgb(44, 44, 44);
  --spectrum-button-toggle-text-color-default: rgb(75, 75, 75);
  --spectrum-button-toggle-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-toggle-text-color-focus: rgb(44, 44, 44);
  --spectrum-button-toggle-text-color-hover: rgb(44, 44, 44);
  --spectrum-button-warning-background-color-active: rgb(187, 18, 26);
  --spectrum-button-warning-background-color-default: transparent;
  --spectrum-button-warning-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-warning-background-color-focus: rgb(9, 90, 186);
  --spectrum-button-warning-background-color-hover: rgb(201, 37, 45);
  --spectrum-button-warning-border-color-active: rgb(187, 18, 26);
  --spectrum-button-warning-border-color-default: rgb(201, 37, 45);
  --spectrum-button-warning-border-color-disabled: rgb(234, 234, 234);
  --spectrum-button-warning-border-color-focus: rgb(9, 90, 186);
  --spectrum-button-warning-border-color-hover: rgb(201, 37, 45);
  --spectrum-button-warning-text-color-active: rgb(255, 255, 255);
  --spectrum-button-warning-text-color-default: rgb(201, 37, 45);
  --spectrum-button-warning-text-color-disabled: rgb(179, 179, 179);
  --spectrum-button-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-warning-text-color-hover: rgb(255, 255, 255);
  --spectrum-calendar-button-icon-color-default: rgb(112, 112, 112);
  --spectrum-calendar-day-background-color-default: transparent;
  --spectrum-calendar-day-background-color-disabled: transparent;
  --spectrum-calendar-day-background-color-focus: rgb(225, 225, 225);
  --spectrum-calendar-day-background-color-hover: rgb(234, 234, 234);
  --spectrum-calendar-day-background-color-selected: rgb(20, 115, 230);
  --spectrum-calendar-day-background-color-selected-hover: rgb(13, 102, 208);
  --spectrum-calendar-day-border-color-focus: rgb(38, 128, 235);
  --spectrum-calendar-day-header-text-color-default: rgb(112, 112, 112);
  --spectrum-calendar-day-text-color-default: rgb(75, 75, 75);
  --spectrum-calendar-day-text-color-disabled: rgb(179, 179, 179);
  --spectrum-calendar-day-text-color-focus: rgb(75, 75, 75);
  --spectrum-calendar-day-text-color-hover: rgb(75, 75, 75);
  --spectrum-calendar-day-text-color-selected: white;
  --spectrum-calendar-day-text-color-selected-hover: white;
  --spectrum-calendar-day-today-background-color-default: rgb(75, 75, 75);
  --spectrum-calendar-day-today-background-color-disabled: rgb(234, 234, 234);
  --spectrum-calendar-day-today-background-color-focus: rgb(44, 44, 44);
  --spectrum-calendar-day-today-background-color-hover: rgb(44, 44, 44);
  --spectrum-calendar-day-today-background-color-selected: rgb(20, 115, 230);
  --spectrum-calendar-day-today-background-color-selected-hover: rgb(13, 102, 208);
  --spectrum-calendar-day-today-text-color-default: white;
  --spectrum-calendar-day-today-text-color-disabled: rgb(179, 179, 179);
  --spectrum-calendar-day-today-text-color-focus: white;
  --spectrum-calendar-day-today-text-color-hover: white;
  --spectrum-calendar-day-today-text-color-selected: white;
  --spectrum-calendar-day-today-text-color-selected-hover: white;
  --spectrum-cyclebutton-button-background-color-active: rgb(225, 225, 225);
  --spectrum-cyclebutton-button-background-color-default: transparent;
  --spectrum-cyclebutton-button-box-shadow-color-focus: rgb(38, 128, 235);
  --spectrum-cyclebutton-icon-color-default: rgb(112, 112, 112);
  --spectrum-cyclebutton-icon-color-hover: rgb(44, 44, 44);
  --spectrum-dialog-background-color-default: rgb(252, 252, 252);
  --spectrum-dialog-content-text-color-default: rgb(75, 75, 75);
  --spectrum-dialog-error-icon-color-default: rgb(215, 55, 63);
  --spectrum-dialog-error-title-text-color-default: rgb(215, 55, 63);
  --spectrum-dialog-icon-color-default: rgb(44, 44, 44);
  --spectrum-dialog-info-icon-color-default: rgb(20, 115, 230);
  --spectrum-dialog-info-title-text-color-default: rgb(20, 115, 230);
  --spectrum-dialog-popover-border-color-default: rgb(225, 225, 225);
  --spectrum-dialog-popover-shadow-color-default: rgba(0, 0, 0, 0.08);
  --spectrum-dialog-success-icon-color-default: rgb(38, 142, 108);
  --spectrum-dialog-success-title-text-color-default: rgb(38, 142, 108);
  --spectrum-dialog-title-divider-color-default: rgb(234, 234, 234);
  --spectrum-dialog-title-text-color-default: rgb(44, 44, 44);
  --spectrum-dialog-underlay-background-color-default: rgba(0, 0, 0, 0.6);
  --spectrum-dialog-warning-icon-color-default: rgb(218, 123, 17);
  --spectrum-dialog-warning-title-text-color-default: rgb(218, 123, 17);
  --spectrum-drag-handle-background-color-default: rgb(225, 225, 225);
  --spectrum-drag-handle-background-color-focus: rgb(38, 128, 235);
  --spectrum-drag-handle-background-color-hover: rgb(179, 179, 179);
  --spectrum-drag-handle-icon-color-default: rgb(255, 255, 255);
  --spectrum-drawer-background-color-default: rgb(252, 252, 252);
  --spectrum-dropdown-background-color-default: rgb(252, 252, 252);
  --spectrum-dropdown-background-color-disabled: rgb(234, 234, 234);
  --spectrum-dropdown-background-color-hover: rgb(255, 255, 255);
  --spectrum-dropdown-background-color-open: rgb(234, 234, 234);
  --spectrum-dropdown-border-color-default: rgb(225, 225, 225);
  --spectrum-dropdown-border-color-focus: rgb(38, 128, 235);
  --spectrum-dropdown-border-color-hover: rgb(202, 202, 202);
  --spectrum-dropdown-border-color-invalid-default: rgb(227, 72, 80);
  --spectrum-dropdown-border-color-open: rgb(202, 202, 202);
  --spectrum-dropdown-icon-color-invalid-default: rgb(227, 72, 80);
  --spectrum-dropdown-quiet-icon-color-chevron-hover: rgb(75, 75, 75);
  --spectrum-dropdown-text-color-default: rgb(75, 75, 75);
  --spectrum-dropdown-text-color-disabled: rgb(179, 179, 179);
  --spectrum-dropdown-text-color-hover: rgb(44, 44, 44);
  --spectrum-flyout-border-color-default: rgb(202, 202, 202);
  --spectrum-flyout-shadow-color-default: rgba(0, 0, 0, 0.1);
  --spectrum-global-animation-ease-in: ease-in;
  --spectrum-global-animation-ease-in-out: ease-in-out;
  --spectrum-global-animation-ease-out: ease-out;
  --spectrum-global-color-blue400: rgb(38, 128, 235);
  --spectrum-global-color-blue500: rgb(20, 115, 230);
  --spectrum-global-color-blue600: rgb(13, 102, 208);
  --spectrum-global-color-blue700: rgb(9, 90, 186);
  --spectrum-global-color-celery400: rgb(68, 181, 86);
  --spectrum-global-color-celery500: rgb(61, 167, 78);
  --spectrum-global-color-celery600: rgb(55, 153, 71);
  --spectrum-global-color-celery700: rgb(49, 139, 64);
  --spectrum-global-color-chartreuse400: rgb(133, 208, 68);
  --spectrum-global-color-chartreuse500: rgb(124, 195, 63);
  --spectrum-global-color-chartreuse600: rgb(115, 181, 58);
  --spectrum-global-color-chartreuse700: rgb(106, 168, 52);
  --spectrum-global-color-fuchsia400: rgb(192, 56, 204);
  --spectrum-global-color-fuchsia500: rgb(177, 48, 189);
  --spectrum-global-color-fuchsia600: rgb(162, 40, 173);
  --spectrum-global-color-fuchsia700: rgb(147, 33, 158);
  --spectrum-global-color-green400: rgb(45, 157, 120);
  --spectrum-global-color-green500: rgb(38, 142, 108);
  --spectrum-global-color-green600: rgb(18, 128, 92);
  --spectrum-global-color-green700: rgb(16, 113, 84);
  --spectrum-global-color-grey100: rgb(245, 245, 245);
  --spectrum-global-color-grey200: rgb(234, 234, 234);
  --spectrum-global-color-grey300: rgb(225, 225, 225);
  --spectrum-global-color-grey400: rgb(202, 202, 202);
  --spectrum-global-color-grey50: rgb(255, 255, 255);
  --spectrum-global-color-grey500: rgb(179, 179, 179);
  --spectrum-global-color-grey600: rgb(142, 142, 142);
  --spectrum-global-color-grey700: rgb(112, 112, 112);
  --spectrum-global-color-grey75: rgb(252, 252, 252);
  --spectrum-global-color-grey800: rgb(75, 75, 75);
  --spectrum-global-color-grey900: rgb(44, 44, 44);
  --spectrum-global-color-indigo400: rgb(103, 103, 236);
  --spectrum-global-color-indigo500: rgb(92, 92, 224);
  --spectrum-global-color-indigo600: rgb(81, 81, 211);
  --spectrum-global-color-indigo700: rgb(70, 70, 198);
  --spectrum-global-color-magenta400: rgb(216, 55, 144);
  --spectrum-global-color-magenta500: rgb(202, 41, 150);
  --spectrum-global-color-magenta600: rgb(188, 28, 116);
  --spectrum-global-color-magenta700: rgb(174, 14, 102);
  --spectrum-global-color-orange400: rgb(230, 134, 25);
  --spectrum-global-color-orange500: rgb(218, 123, 17);
  --spectrum-global-color-orange600: rgb(203, 111, 16);
  --spectrum-global-color-orange700: rgb(189, 100, 13);
  --spectrum-global-color-purple400: rgb(146, 86, 217);
  --spectrum-global-color-purple500: rgb(134, 76, 204);
  --spectrum-global-color-purple600: rgb(122, 66, 191);
  --spectrum-global-color-purple700: rgb(111, 56, 177);
  --spectrum-global-color-red400: rgb(227, 72, 80);
  --spectrum-global-color-red500: rgb(215, 55, 63);
  --spectrum-global-color-red600: rgb(201, 37, 45);
  --spectrum-global-color-red700: rgb(187, 18, 26);
  --spectrum-global-color-seafoam400: rgb(27, 149, 154);
  --spectrum-global-color-seafoam500: rgb(22, 135, 140);
  --spectrum-global-color-seafoam600: rgb(15, 121, 125);
  --spectrum-global-color-seafoam700: rgb(9, 108, 111);
  --spectrum-global-color-white: rgb(255, 255, 255);
  --spectrum-global-color-yellow400: rgb(223, 191, 0);
  --spectrum-global-color-yellow500: rgb(210, 178, 0);
  --spectrum-global-color-yellow600: rgb(196, 166, 0);
  --spectrum-global-color-yellow700: rgb(183, 153, 0);
  --spectrum-global-font-family-base: Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-heading-display-text-color-default: rgb(44, 44, 44);
  --spectrum-heading-page-title-text-color-default: rgb(44, 44, 44);
  --spectrum-heading-subtitle1-text-color-default: rgb(44, 44, 44);
  --spectrum-heading-subtitle2-text-color-default: rgb(44, 44, 44);
  --spectrum-heading-subtitle3-text-color-default: rgb(112, 112, 112);
  --spectrum-heading-subtitle3-text-transform-default: uppercase;
  --spectrum-input-background-color-default: rgb(255, 255, 255);
  --spectrum-input-background-color-disabled: rgb(234, 234, 234);
  --spectrum-input-border-color-active: rgb(38, 128, 235);
  --spectrum-input-border-color-default: rgb(225, 225, 225);
  --spectrum-input-border-color-disabled: transparent;
  --spectrum-input-border-color-focus: rgb(38, 128, 235);
  --spectrum-input-border-color-hover: rgb(202, 202, 202);
  --spectrum-input-icon-color-active: rgb(255, 255, 255);
  --spectrum-input-icon-color-default: rgb(112, 112, 112);
  --spectrum-input-icon-color-disabled: rgb(179, 179, 179);
  --spectrum-input-icon-color-hover: rgb(75, 75, 75);
  --spectrum-input-invalid-border-color-default: rgb(227, 72, 80);
  --spectrum-input-label-text-color-default: rgb(112, 112, 112);
  --spectrum-input-placeholder-text-color-default: rgb(142, 142, 142);
  --spectrum-input-placeholder-text-color-disabled: rgb(225, 225, 225);
  --spectrum-input-placeholder-text-color-hover: rgb(75, 75, 75);
  --spectrum-input-quiet-background-color-default: transparent;
  --spectrum-input-quiet-background-color-disabled: transparent;
  --spectrum-input-quiet-background-color-hover: transparent;
  --spectrum-input-quiet-border-color-active: rgb(38, 128, 235);
  --spectrum-input-quiet-border-color-default: rgb(225, 225, 225);
  --spectrum-input-quiet-border-color-disabled: rgb(225, 225, 225);
  --spectrum-input-quiet-border-color-focus: rgb(38, 128, 235);
  --spectrum-input-quiet-border-color-hover: rgb(202, 202, 202);
  --spectrum-input-text-color-default: rgb(75, 75, 75);
  --spectrum-input-text-color-disabled: rgb(179, 179, 179);
  --spectrum-label-colored-background-color-disabled: rgb(112, 112, 112);
  --spectrum-label-colored-blue-background-color-default: rgb(38, 128, 235);
  --spectrum-label-colored-fuchsia-background-color-default: rgb(192, 56, 204);
  --spectrum-label-colored-green-background-color-default: rgb(45, 157, 120);
  --spectrum-label-colored-grey-background-color-default: rgb(112, 112, 112);
  --spectrum-label-colored-orange-background-color-default: rgb(230, 134, 25);
  --spectrum-label-colored-red-background-color-default: rgb(227, 72, 80);
  --spectrum-label-colored-seafoam-background-color-default: rgb(27, 149, 154);
  --spectrum-label-colored-text-color-default: rgb(255, 255, 255);
  --spectrum-label-colored-yellow-background-color-default: rgb(223, 191, 0);
  --spectrum-label-large-text-color-default: rgb(112, 112, 112);
  --spectrum-label-text-color-default: rgb(112, 112, 112);
  --spectrum-label-text-color-disabled: rgb(179, 179, 179);
  --spectrum-link-subtle-box-shadow-color-focus: rgb(75, 75, 75);
  --spectrum-link-subtle-text-color-active: inherit;
  --spectrum-link-subtle-text-color-default: inherit;
  --spectrum-link-subtle-text-color-focus: inherit;
  --spectrum-link-subtle-text-color-hover: inherit;
  --spectrum-link-text-color-active: rgb(9, 90, 186);
  --spectrum-link-text-color-default: rgb(13, 102, 208);
  --spectrum-link-text-color-disabled: rgb(179, 179, 179);
  --spectrum-link-text-color-focus: rgb(13, 102, 208);
  --spectrum-link-text-color-hover: rgb(13, 102, 208);
  --spectrum-list-background-color-default: rgb(252, 252, 252);
  --spectrum-list-background-color-hover: rgba(44, 44, 44, .04);
  --spectrum-list-border-color-default: rgb(202, 202, 202);
  --spectrum-list-divider-color-default: rgb(234, 234, 234);
  --spectrum-list-focusindicator-color-default: rgb(38, 128, 235);
  --spectrum-list-option-background-color-active: rgb(234, 234, 234);
  --spectrum-list-option-background-color-default: transparent;
  --spectrum-list-option-background-color-disabled: transparent;
  --spectrum-list-option-background-color-focus: rgb(245, 245, 245);
  --spectrum-list-option-background-color-hover: rgb(245, 245, 245);
  --spectrum-list-option-background-color-selected: transparent;
  --spectrum-list-option-focus-indicator-color-default: rgb(38, 128, 235);
  --spectrum-list-option-text-color-default: rgb(75, 75, 75);
  --spectrum-list-option-text-color-disabled: rgb(179, 179, 179);
  --spectrum-list-option-text-color-focus: rgb(75, 75, 75);
  --spectrum-list-option-text-color-hover: rgb(75, 75, 75);
  --spectrum-list-option-text-color-selected: rgb(13, 102, 208);
  --spectrum-list-text-color-active: rgb(75, 75, 75);
  --spectrum-list-text-color-default: rgb(75, 75, 75);
  --spectrum-loader-background-color-default: rgb(225, 225, 225);
  --spectrum-loader-blue-color-default: rgb(38, 128, 235);
  --spectrum-loader-grey-color-default: rgb(142, 142, 142);
  --spectrum-miller-column-item-background-color-active: rgb(112, 112, 112);
  --spectrum-miller-column-item-background-color-hover: rgb(234, 234, 234);
  --spectrum-miller-column-item-background-color-selected: rgb(75, 75, 75);
  --spectrum-miller-column-item-chevron-color-active: rgb(255, 255, 255);
  --spectrum-miller-column-item-chevron-color-default: rgb(142, 142, 142);
  --spectrum-miller-column-item-chevron-color-hover: rgb(112, 112, 112);
  --spectrum-miller-column-item-text-color-active: rgb(255, 255, 255);
  --spectrum-miller-column-item-text-color-default: rgb(75, 75, 75);
  --spectrum-miller-column-item-text-color-focus: rgb(38, 128, 235);
  --spectrum-miller-column-item-text-color-selected: rgb(255, 255, 255);
  --spectrum-miller-column-item-thumbnail-background-color-default: rgb(225, 225, 225);
  --spectrum-miller-column-item-thumbnail-background-color-selected: rgb(255, 255, 255);
  --spectrum-miller-column-item-thumbnail-checkmark-color-selected: rgb(44, 44, 44);
  --spectrum-popover-background-color-default: rgb(255, 255, 255);
  --spectrum-popover-border-color-default: rgb(202, 202, 202);
  --spectrum-popover-shadow-color-default: rgb(179, 179, 179);
  --spectrum-quickaction-background-color-default: rgb(255, 255, 255);
  --spectrum-quickaction-border-color-active: rgb(75, 75, 75);
  --spectrum-quickaction-border-color-default: rgb(202, 202, 202);
  --spectrum-quickaction-border-color-focus: rgb(38, 128, 235);
  --spectrum-quickaction-border-color-hover: rgb(112, 112, 112);
  --spectrum-quickaction-box-shadow-color-default: rgba(0, 0, 0, 0.1);
  --spectrum-quickaction-icon-color-focus: rgb(38, 128, 235);
  --spectrum-quickaction-text-color-active: rgb(44, 44, 44);
  --spectrum-quickaction-text-color-default: rgb(112, 112, 112);
  --spectrum-quickaction-text-color-focus: rgb(38, 128, 235);
  --spectrum-quickaction-text-color-hover: rgb(44, 44, 44);
  --spectrum-rail-overlay-background-color-default: rgba(0, 0, 0, 0.4);
  --spectrum-rail-slider-border-color-active: rgb(75, 75, 75);
  --spectrum-rail-slider-border-color-default: rgb(225, 225, 225);
  --spectrum-rail-slider-border-color-hover: rgb(202, 202, 202);
  --spectrum-rating-icon-color-active: rgb(75, 75, 75);
  --spectrum-rating-icon-color-default: rgb(142, 142, 142);
  --spectrum-rating-icon-color-disabled: rgb(179, 179, 179);
  --spectrum-rating-icon-color-hover: rgb(44, 44, 44);
  --spectrum-rule-label-text-color-default: rgb(44, 44, 44);
  --spectrum-rule-main-section-default: rgb(75, 75, 75);
  --spectrum-rule-sub-section-1-default: rgb(225, 225, 225);
  --spectrum-rule-sub-section-2-default: rgb(234, 234, 234);
  --spectrum-semantic-informative-color-default: rgb(20, 115, 230);
  --spectrum-semantic-informative-color-icon: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-state-down: rgb(9, 90, 186);
  --spectrum-semantic-informative-color-state-focus: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-status: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-text-large: rgb(20, 115, 230);
  --spectrum-semantic-informative-color-text-small: rgb(13, 102, 208);
  --spectrum-semantic-negative-color-default: rgb(215, 55, 63);
  --spectrum-semantic-negative-color-icon: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-state-down: rgb(187, 18, 26);
  --spectrum-semantic-negative-color-state-focus: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-status: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-text-large: rgb(215, 55, 63);
  --spectrum-semantic-negative-color-text-small: rgb(201, 37, 45);
  --spectrum-semantic-notice-color-default: rgb(218, 123, 17);
  --spectrum-semantic-notice-color-icon: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-state-down: rgb(189, 100, 13);
  --spectrum-semantic-notice-color-state-focus: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-status: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-text-large: rgb(218, 123, 17);
  --spectrum-semantic-notice-color-text-small: rgb(203, 111, 16);
  --spectrum-semantic-positive-color-default: rgb(38, 142, 108);
  --spectrum-semantic-positive-color-icon: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-state-down: rgb(16, 113, 84);
  --spectrum-semantic-positive-color-state-focus: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-status: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-text-large: rgb(38, 142, 108);
  --spectrum-semantic-positive-color-text-small: rgb(18, 128, 92);
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-color-handle-border-color-default: rgb(255, 255, 255);
  --spectrum-slider-color-handle-border-color-disabled: rgb(202, 202, 202);
  --spectrum-slider-color-handle-color-default: transparent;
  --spectrum-slider-color-handle-color-disabled: transparent;
  --spectrum-slider-color-handle-inset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-focus: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-background-color-gradient-end-default: rgb(9, 90, 186);
  --spectrum-slider-color-track-background-color-gradient-start-default: rgb(38, 128, 235);
  --spectrum-slider-color-track-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-color-disabled: rgb(234, 234, 234);
  --spectrum-slider-fill-track-color-default: rgb(112, 112, 112);
  --spectrum-slider-fill-track-color-disabled: rgb(225, 225, 225);
  --spectrum-slider-handle-border-color-active: rgb(75, 75, 75);
  --spectrum-slider-handle-border-color-default: rgb(112, 112, 112);
  --spectrum-slider-handle-border-color-disabled: rgb(202, 202, 202);
  --spectrum-slider-handle-border-color-focus: rgb(38, 128, 235);
  --spectrum-slider-handle-border-color-hover: rgb(75, 75, 75);
  --spectrum-slider-handle-color-default: rgb(245, 245, 245);
  --spectrum-slider-handle-fill-color-active: rgb(75, 75, 75);
  --spectrum-slider-handle-fill-color-focus: rgb(38, 128, 235);
  --spectrum-slider-handle-outset-border-color-default: rgb(245, 245, 245);
  --spectrum-slider-player-track-buffer-color-default: rgb(179, 179, 179);
  --spectrum-slider-player-track-buffer-color-disabled: rgb(225, 225, 225);
  --spectrum-slider-ramp-track-color-disabled: rgb(234, 234, 234);
  --spectrum-slider-round-border-color-hover: rgb(75, 75, 75);
  --spectrum-slider-round-handle-marker-color-default: rgb(112, 112, 112);
  --spectrum-slider-round-handle-marker-color-focus: rgb(255, 255, 255);
  --spectrum-slider-round-handle-marker-color-hover: rgb(75, 75, 75);
  --spectrum-slider-round-min-max-tick-color-default: rgb(142, 142, 142);
  --spectrum-slider-text-color-disabled: rgb(179, 179, 179);
  --spectrum-slider-tick-mark-color-default: rgb(225, 225, 225);
  --spectrum-slider-track-color-default: rgb(225, 225, 225);
  --spectrum-slider-track-color-disabled: rgb(225, 225, 225);
  --spectrum-statuslight-color-organizational-celery: rgb(68, 181, 86);
  --spectrum-statuslight-color-organizational-chartreuse: rgb(133, 208, 68);
  --spectrum-statuslight-color-organizational-fuchsia: rgb(192, 56, 204);
  --spectrum-statuslight-color-organizational-indigo: rgb(103, 103, 236);
  --spectrum-statuslight-color-organizational-magenta: rgb(216, 55, 144);
  --spectrum-statuslight-color-organizational-purple: rgb(146, 86, 217);
  --spectrum-statuslight-color-organizational-seafoam: rgb(27, 149, 154);
  --spectrum-statuslight-color-organizational-yellow: rgb(223, 191, 0);
  --spectrum-statuslight-color-status-active: rgb(38, 128, 235);
  --spectrum-statuslight-color-status-archived: rgb(179, 179, 179);
  --spectrum-statuslight-color-status-negative: rgb(227, 72, 80);
  --spectrum-statuslight-color-status-notice: rgb(230, 134, 25);
  --spectrum-statuslight-color-status-positive: rgb(45, 157, 120);
  --spectrum-statuslight-text-color-active: rgb(75, 75, 75);
  --spectrum-statuslight-text-color-archived: rgb(142, 142, 142);
  --spectrum-statuslight-text-color-negative: rgb(75, 75, 75);
  --spectrum-statuslight-text-color-notice: rgb(75, 75, 75);
  --spectrum-statuslight-text-color-organizational: rgb(75, 75, 75);
  --spectrum-statuslight-text-color-positive: rgb(75, 75, 75);
  --spectrum-steplist-complete-label-text-color-default: rgb(112, 112, 112);
  --spectrum-steplist-complete-marker-color-default: rgb(142, 142, 142);
  --spectrum-steplist-complete-marker-color-focus: rgb(38, 128, 235);
  --spectrum-steplist-complete-marker-color-hover: rgb(112, 112, 112);
  --spectrum-steplist-complete-segment-color-default: rgb(179, 179, 179);
  --spectrum-steplist-current-label-text-color-default: rgb(75, 75, 75);
  --spectrum-steplist-current-marker-color-default: rgb(75, 75, 75);
  --spectrum-steplist-current-marker-color-focus: rgb(38, 128, 235);
  --spectrum-steplist-incomplete-label-text-color-default: rgb(142, 142, 142);
  --spectrum-steplist-incomplete-marker-color-default: rgb(225, 225, 225);
  --spectrum-steplist-incomplete-marker-color-hover: rgb(112, 112, 112);
  --spectrum-steplist-incomplete-segment-color-default: rgb(225, 225, 225);
  --spectrum-switch-border-color-active: rgb(112, 112, 112);
  --spectrum-switch-border-color-default: rgb(142, 142, 142);
  --spectrum-switch-border-color-disabled: rgb(202, 202, 202);
  --spectrum-switch-border-color-error: rgb(215, 55, 63);
  --spectrum-switch-border-color-focus: rgb(38, 128, 235);
  --spectrum-switch-border-color-hover: rgb(44, 44, 44);
  --spectrum-switch-checkbox-checkmark-color-default: rgb(245, 245, 245);
  --spectrum-switch-invalid-border-color-active: rgb(187, 18, 26);
  --spectrum-switch-invalid-border-color-default: rgb(215, 55, 63);
  --spectrum-switch-invalid-border-color-hover: rgb(201, 37, 45);
  --spectrum-switch-label-text-color-active: rgb(75, 75, 75);
  --spectrum-switch-label-text-color-default: rgb(75, 75, 75);
  --spectrum-switch-label-text-color-disabled: rgb(179, 179, 179);
  --spectrum-switch-label-text-color-error: rgb(201, 37, 45);
  --spectrum-switch-label-text-color-focus: rgb(9, 90, 186);
  --spectrum-switch-label-text-color-hover: rgb(44, 44, 44);
  --spectrum-switch-toggle-handle-background-color-default: rgb(245, 245, 245);
  --spectrum-switch-toggle-track-color-active: rgb(112, 112, 112);
  --spectrum-switch-toggle-track-color-default: rgb(225, 225, 225);
  --spectrum-switch-toggle-track-color-disabled: rgb(225, 225, 225);
  --spectrum-switch-toggle-track-color-focus: rgb(38, 128, 235);
  --spectrum-switch-toggle-track-color-hover: rgb(44, 44, 44);
  --spectrum-table-body-cell-background-color-active: rgb(234, 234, 234);
  --spectrum-table-body-cell-background-color-default: rgb(252, 252, 252);
  --spectrum-table-body-cell-background-color-hover: rgb(245, 245, 245);
  --spectrum-table-body-cell-background-color-selected: rgb(245, 245, 245);
  --spectrum-table-body-cell-background-color-selected-hover: rgb(234, 234, 234);
  --spectrum-table-body-cell-border-color-default: rgb(225, 225, 225);
  --spectrum-table-body-cell-text-color-default: rgb(75, 75, 75);
  --spectrum-table-head-cell-sort-icon-color-active: rgb(75, 75, 75);
  --spectrum-table-head-cell-sort-icon-color-default: rgb(142, 142, 142);
  --spectrum-table-head-cell-sort-icon-color-hover: rgb(112, 112, 112);
  --spectrum-table-head-cell-text-color-active: rgb(44, 44, 44);
  --spectrum-table-head-cell-text-color-default: rgb(112, 112, 112);
  --spectrum-table-head-cell-text-color-hover: rgb(75, 75, 75);
  --spectrum-table-quiet-body-cell-background-color-active: rgb(225, 225, 225);
  --spectrum-table-quiet-body-cell-background-color-default: transparent;
  --spectrum-table-quiet-body-cell-background-color-hover: rgb(234, 234, 234);
  --spectrum-table-quiet-body-cell-background-color-selected: rgb(234, 234, 234);
  --spectrum-table-quiet-body-cell-background-color-selected-hover: rgb(225, 225, 225);
  --spectrum-tablist-anchored-border-color-default: rgb(234, 234, 234);
  --spectrum-tablist-anchored-tabline-background-color-focus: rgb(38, 128, 235);
  --spectrum-tablist-anchored-text-color-focus: rgb(38, 128, 235);
  --spectrum-tablist-border-color-active: rgb(44, 44, 44);
  --spectrum-tablist-border-color-disabled: rgb(202, 202, 202);
  --spectrum-tablist-border-color-focus: rgb(38, 128, 235);
  --spectrum-tablist-border-color-hover: transparent;
  --spectrum-tablist-icon-color-active: rgb(44, 44, 44);
  --spectrum-tablist-icon-color-default: rgb(112, 112, 112);
  --spectrum-tablist-icon-color-disabled: rgb(202, 202, 202);
  --spectrum-tablist-icon-color-focus: rgb(44, 44, 44);
  --spectrum-tablist-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tablist-tabline-background-color-default: rgb(44, 44, 44);
  --spectrum-tablist-tabline-border-color-default: rgb(234, 234, 234);
  --spectrum-tablist-text-color-active: rgb(44, 44, 44);
  --spectrum-tablist-text-color-default: rgb(112, 112, 112);
  --spectrum-tablist-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tablist-text-color-focus: rgb(44, 44, 44);
  --spectrum-tablist-text-color-hover: rgb(44, 44, 44);
  --spectrum-tag-background-color-active: rgb(255, 255, 255);
  --spectrum-tag-background-color-default: rgb(252, 252, 252);
  --spectrum-tag-background-color-disabled: rgb(234, 234, 234);
  --spectrum-tag-background-color-focus: rgb(255, 255, 255);
  --spectrum-tag-background-color-hover: rgb(255, 255, 255);
  --spectrum-tag-border-color-active: rgb(44, 44, 44);
  --spectrum-tag-border-color-default: rgb(142, 142, 142);
  --spectrum-tag-border-color-disabled: rgb(234, 234, 234);
  --spectrum-tag-border-color-focus: rgb(38, 128, 235);
  --spectrum-tag-border-color-hover: rgb(44, 44, 44);
  --spectrum-tag-icon-color-active: rgb(44, 44, 44);
  --spectrum-tag-icon-color-default: rgb(112, 112, 112);
  --spectrum-tag-icon-color-disabled: rgb(179, 179, 179);
  --spectrum-tag-icon-color-focus: rgb(38, 128, 235);
  --spectrum-tag-icon-color-hover: rgb(44, 44, 44);
  --spectrum-tag-invalid-border-color-default: rgb(215, 55, 63);
  --spectrum-tag-invalid-text-color-default: rgb(215, 55, 63);
  --spectrum-tag-text-color-active: rgb(44, 44, 44);
  --spectrum-tag-text-color-default: rgb(112, 112, 112);
  --spectrum-tag-text-color-disabled: rgb(179, 179, 179);
  --spectrum-tag-text-color-focus: rgb(44, 44, 44);
  --spectrum-tag-text-color-hover: rgb(44, 44, 44);
  --spectrum-toast-background-color-default: rgb(112, 112, 112);
  --spectrum-toast-error-background-color-default: rgb(215, 55, 63);
  --spectrum-toast-icon-color-default: rgb(255, 255, 255);
  --spectrum-toast-info-background-color-default: rgb(20, 115, 230);
  --spectrum-toast-success-background-color-default: rgb(38, 142, 108);
  --spectrum-toast-text-color-default: rgb(255, 255, 255);
  --spectrum-toast-warning-background-color-default: rgb(218, 123, 17);
  --spectrum-tooltip-background-color-default: rgb(112, 112, 112);
  --spectrum-tooltip-error-background-color-default: rgb(215, 55, 63);
  --spectrum-tooltip-icon-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-info-background-color-default: rgb(20, 115, 230);
  --spectrum-tooltip-success-background-color-default: rgb(38, 142, 108);
  --spectrum-tooltip-text-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-warning-background-color-default: rgb(218, 123, 17);
  --spectrum-well-background-color-default: rgba(44, 44, 44, .02);
  --spectrum-well-border-color-default: rgba(44, 44, 44, .05);
  --spectrum-well-label-text-color-default: rgb(44, 44, 44);
}
