:root {
  --spectrum-accordion-name: 'Accordion (Default)';
  --spectrum-accordion-description: 'The default variant of accordion';
  --spectrum-accordion-status: 'Beta';
  --spectrum-actionbutton-name: 'Action Button (Default)';
  --spectrum-actionbutton-description: 'The default variant of Action Button';
  --spectrum-actionbutton-status: 'Released';
  --spectrum-actionbutton-quiet-name: 'Action Button (Quiet)';
  --spectrum-actionbutton-quiet-description: 'An Actionbutton that is quiet';
  --spectrum-actionbutton-quiet-status: 'Released';
  --spectrum-actionbuttongroup-name: 'Action Button Group';
  --spectrum-actionbuttongroup-description: 'Group of action buttons';
  --spectrum-actionbuttongroup-status: 'Released';
  --spectrum-alert-name: 'Alert (Default)';
  --spectrum-alert-description: 'The default variant of Alert';
  --spectrum-alert-status: 'Beta';
  --spectrum-alert-error-name: 'Alert (Error)';
  --spectrum-alert-error-description: 'The error variant of Alert';
  --spectrum-alert-error-status: 'Beta';
  --spectrum-alert-info-name: 'Alert (Info)';
  --spectrum-alert-info-description: 'The info variant of Alert';
  --spectrum-alert-info-status: 'Beta';
  --spectrum-alert-success-name: 'Alert (Success)';
  --spectrum-alert-success-description: 'The success variant of Alert';
  --spectrum-alert-success-status: 'Beta';
  --spectrum-alert-warning-name: 'Alert (Warning)';
  --spectrum-alert-warning-description: 'The warning variant of Alert';
  --spectrum-alert-warning-status: 'Beta';
  --spectrum-avatar-small-name: 'Avatar (small)';
  --spectrum-avatar-small-description: 'The small variant of Avatar';
  --spectrum-avatar-small-status: 'Released';
  --spectrum-banner-name: 'Banner (Default)';
  --spectrum-banner-description: 'The default variant of Banner';
  --spectrum-banner-status: 'Beta';
  --spectrum-banner-error-name: 'Banner (Error)';
  --spectrum-banner-error-description: 'The error variant of Banner';
  --spectrum-banner-error-status: 'Beta';
  --spectrum-banner-info-name: 'Banner (Info)';
  --spectrum-banner-info-description: 'The info variant of Banner';
  --spectrum-banner-info-status: 'Beta';
  --spectrum-banner-warning-name: 'Banner (Warning)';
  --spectrum-banner-warning-description: 'The warning variant of Banner';
  --spectrum-banner-warning-status: 'Beta';
  --spectrum-breadcrumb-name: 'Breadcrumb';
  --spectrum-breadcrumb-description: 'The default variant of Breadcrumb';
  --spectrum-breadcrumb-status: 'Beta';
  --spectrum-breadcrumb-title-name: 'Breadcrumb Title';
  --spectrum-breadcrumb-title-description: 'Used for the Title variant of a Breadcrumb';
  --spectrum-breadcrumb-title-status: 'Beta';
  --spectrum-button-cta-name: 'Button (CTA)';
  --spectrum-button-cta-description: 'Actions that require high visibility';
  --spectrum-button-cta-status: 'Released';
  --spectrum-button-over-background-name: 'Button (Over Color)';
  --spectrum-button-over-background-description: 'For any button used on top of a background';
  --spectrum-button-over-background-status: 'Released';
  --spectrum-button-primary-name: 'Button (Primary)';
  --spectrum-button-primary-description: 'For primary user actions';
  --spectrum-button-primary-status: 'Released';
  --spectrum-button-quiet-over-background-name: 'Button (Quiet Over Color)';
  --spectrum-button-quiet-over-background-description: 'For any quiet button used on top of a background';
  --spectrum-button-quiet-over-background-status: 'Released';
  --spectrum-button-quiet-primary-name: 'Button (Quiet Primary)';
  --spectrum-button-quiet-primary-description: 'For primary user actions';
  --spectrum-button-quiet-primary-status: 'Released';
  --spectrum-button-quiet-secondary-name: 'Button (Quiet Secondary)';
  --spectrum-button-quiet-secondary-description: 'For secondary user actions';
  --spectrum-button-quiet-secondary-status: 'Released';
  --spectrum-button-quiet-warning-name: 'Button (Quiet Warning)';
  --spectrum-button-quiet-warning-description: 'For destructive actions';
  --spectrum-button-quiet-warning-status: 'Released';
  --spectrum-button-secondary-name: 'Button (Secondary)';
  --spectrum-button-secondary-description: 'For secondary user actions';
  --spectrum-button-secondary-status: 'Released';
  --spectrum-button-warning-name: 'Button (Warning)';
  --spectrum-button-warning-description: 'For actions that are destructive';
  --spectrum-button-warning-status: 'Released';
  --spectrum-buttongroup-name: 'Button Group';
  --spectrum-buttongroup-description: 'Group of buttons';
  --spectrum-buttongroup-status: 'Released';
  --spectrum-calendar-day-name: 'Calendar Day';
  --spectrum-calendar-day-description: 'Values used for the Day part of a Calendar';
  --spectrum-calendar-day-status: 'Beta';
  --spectrum-calendar-name: 'Calendar';
  --spectrum-calendar-description: 'The default Calendar element';
  --spectrum-calendar-status: 'Beta';
  --spectrum-checkbox-name: 'Checkbox (Default)';
  --spectrum-checkbox-description: 'The values used for the default variant of the Checkbox element';
  --spectrum-checkbox-status: 'Released';
  --spectrum-clearbutton-medium-name: 'Clear Button (medium)';
  --spectrum-clearbutton-medium-description: 'A button that clears things, medium sized';
  --spectrum-clearbutton-medium-status: 'Beta';
  --spectrum-clearbutton-small-name: 'Clear Button (small)';
  --spectrum-clearbutton-small-description: 'A button that clears things, small sized';
  --spectrum-clearbutton-small-status: 'Beta';
  --spectrum-combobox-name: 'ComboBox (Default)';
  --spectrum-combobox-description: 'The default variant of Combobox';
  --spectrum-combobox-status: 'Beta';
  --spectrum-cyclebutton-name: 'Cycle Button';
  --spectrum-cyclebutton-description: 'Hi! I am a Cylebutton. Like a button, but that cycles.';
  --spectrum-cyclebutton-status: 'Beta';
  --spectrum-dial-name: 'Dial';
  --spectrum-dial-description: 'The Dial Element (Design Beta).  You can dial values with it, sort of like a round slider';
  --spectrum-dial-status: 'Beta';
  --spectrum-dial-small-name: 'Dial (Small)';
  --spectrum-dial-small-description: 'The Small Dial Element (Design Beta).  You can dial values with it, sort of like a round slider';
  --spectrum-dial-small-status: 'Beta';
  --spectrum-dialog-name: 'Dialog (Default)';
  --spectrum-dialog-description: 'The default variant of Dialog';
  --spectrum-dialog-status: 'Released';
  --spectrum-dialog-error-name: 'Dialog (Error)';
  --spectrum-dialog-error-description: 'The error variant of Dialog';
  --spectrum-dialog-error-status: 'Released';
  --spectrum-drag-name: 'Drag (Default)';
  --spectrum-drag-description: 'The default variant for drag';
  --spectrum-drag-status: 'Beta';
  --spectrum-drawer-name: 'Drawer (Default)';
  --spectrum-drawer-description: 'The default variant of Drawer';
  --spectrum-drawer-status: 'Beta';
  --spectrum-dropdown-name: 'Dropdown - Default';
  --spectrum-dropdown-description: 'The default variant for the Dropdown element';
  --spectrum-dropdown-status: 'Released';
  --spectrum-dropdown-quiet-name: 'Dropdown (Quiet)';
  --spectrum-dropdown-quiet-description: 'The quiet variant of Dropdown';
  --spectrum-dropdown-quiet-status: 'Released';
  --spectrum-fieldbutton-name: 'Field Button (Default)';
  --spectrum-fieldbutton-description: 'The default variant for the Field Button element';
  --spectrum-fieldbutton-status: 'Beta';
  --spectrum-fieldbutton-quiet-name: 'Field Button (Quiet)';
  --spectrum-fieldbutton-quiet-description: 'The quiet variant for the Field Button element';
  --spectrum-fieldbutton-quiet-status: 'Beta';
  --spectrum-flyout-name: 'Flyout (Default)';
  --spectrum-flyout-description: 'Values for the default Flyout element';
  --spectrum-flyout-status: 'Released';
  --spectrum-label-colored-name: 'Colored Label - Default';
  --spectrum-label-colored-description: 'DEPRECATED: this is a colored label that is deprecated';
  --spectrum-label-colored-status: 'Deprecated';
  --spectrum-label-name: 'Typography - Label (Default)';
  --spectrum-label-description: 'Default label text';
  --spectrum-label-status: 'Released';
  --spectrum-label-large-name: 'Typography - Label (Large)';
  --spectrum-label-large-description: 'Large lable text';
  --spectrum-label-large-status: 'Released';
  --spectrum-link-name: 'Link (Default)';
  --spectrum-link-description: 'The default variant of link';
  --spectrum-link-status: 'Released';
  --spectrum-link-over-background-name: 'Link (Over Background)';
  --spectrum-link-over-background-description: 'The variant of Link to use when the link is over a background';
  --spectrum-link-over-background-status: 'Released';
  --spectrum-loader-bar-large-name: 'Loader Bar (Large)';
  --spectrum-loader-bar-large-description: 'Large variant of Loader Bar. A bar loader shows the progression of an operation.';
  --spectrum-loader-bar-large-status: 'Released';
  --spectrum-loader-bar-large-over-background-name: 'Loader Bar (Large Over Color)';
  --spectrum-loader-bar-large-over-background-description: 'The Large Over Color variant of Loader Bar. A bar loader shows the progression of an operation.';
  --spectrum-loader-bar-large-over-background-status: 'Released';
  --spectrum-loader-bar-small-name: 'Loader Bar (Small)';
  --spectrum-loader-bar-small-description: 'The small variant of Loader Bar. A bar loader shows the progression of an operation.';
  --spectrum-loader-bar-small-status: 'Released';
  --spectrum-loader-bar-small-over-background-name: 'Loader Bar (Small Over Color)';
  --spectrum-loader-bar-small-over-background-description: 'The small, over color variant of a Loader Bar. A bar loader shows the progression of an operation.';
  --spectrum-loader-bar-small-over-background-status: 'Released';
  --spectrum-loader-circle-large-name: 'Loader Circle (Large)';
  --spectrum-loader-circle-large-description: 'Large variant of a circle loader. A circle loader shows the activity of a system operation.';
  --spectrum-loader-circle-large-status: 'Released';
  --spectrum-loader-circle-large-over-background-name: 'Loader Circle (Large Over Color)';
  --spectrum-loader-circle-large-over-background-description: 'The large, over color variant of a circle loader. A circle loader shows the activity of a system operation.';
  --spectrum-loader-circle-large-over-background-status: 'Released';
  --spectrum-loader-circle-medium-name: 'Loader Circle (Medium)';
  --spectrum-loader-circle-medium-description: 'The medium variant of a Loader Circle. A circle loader shows the activity of a system operation.';
  --spectrum-loader-circle-medium-status: 'Released';
  --spectrum-loader-circle-medium-over-background-name: 'Loader Circle (Medium Over Color)';
  --spectrum-loader-circle-medium-over-background-description: 'The medium, over color variant of a Loader Circle. A circle loader shows the activity of a system operation.';
  --spectrum-loader-circle-medium-over-background-status: 'Released';
  --spectrum-loader-circle-small-name: 'Loader Circle (Small)';
  --spectrum-loader-circle-small-description: 'The small variant of a circle loader. A circle loader shows the activity of a system operation.';
  --spectrum-loader-circle-small-status: 'Released';
  --spectrum-loader-circle-small-over-background-name: 'Loader Circle (Small Over Color)';
  --spectrum-loader-circle-small-over-background-description: 'The small, over color variant of a circle loader. A circle loader shows the activity of a system operation.';
  --spectrum-loader-circle-small-over-background-status: 'Released';
  --spectrum-logicbutton-and-name: 'Logic Button (AND)';
  --spectrum-logicbutton-and-description: 'The AND variant of a Logic Button';
  --spectrum-logicbutton-and-status: 'Beta';
  --spectrum-logicbutton-or-name: 'Logic Button (OR)';
  --spectrum-logicbutton-or-description: 'The OR variant of a Logic Button';
  --spectrum-logicbutton-or-status: 'Beta';
  --spectrum-meter-large-name: 'Meter - Large';
  --spectrum-meter-large-description: 'A meter is a visual representation of a quantity or an achievement.';
  --spectrum-meter-large-status: 'Released';
  --spectrum-meter-small-name: 'Meter - Small';
  --spectrum-meter-small-description: 'A meter is a visual representation of a quantity or an achievement.';
  --spectrum-meter-small-status: 'Released';
  --spectrum-miller-column-name: 'Miller Columns (Default)';
  --spectrum-miller-column-description: 'The default element for creating Miller Column views';
  --spectrum-miller-column-status: 'Beta';
  --spectrum-pagination-name: 'Pagination (Default)';
  --spectrum-pagination-description: 'The default variant of the Pagination element';
  --spectrum-pagination-status: 'Beta';
  --spectrum-popover-name: 'Popover (Default)';
  --spectrum-popover-description: 'The default variant of Popover';
  --spectrum-popover-status: 'Released';
  --spectrum-quickactions-name: 'Quickactions';
  --spectrum-quickactions-description: 'Quickactions element';
  --spectrum-quickactions-status: 'Released';
  --spectrum-radio-name: 'Radio Button (Default)';
  --spectrum-radio-description: 'The default variant for radio button';
  --spectrum-radio-status: 'Released';
  --spectrum-rail-name: 'Rail (Default)';
  --spectrum-rail-description: 'The default variant of the Rail element';
  --spectrum-rail-status: 'Beta';
  --spectrum-rating-name: 'Rating Default (aka Star Rating)';
  --spectrum-rating-description: 'The default Rating element, which is a star rating element';
  --spectrum-rating-status: 'Beta';
  --spectrum-rule-large-name: 'Rule (Large)';
  --spectrum-rule-large-description: 'The large variant of Rule. A Rule separates information';
  --spectrum-rule-large-status: 'Released';
  --spectrum-rule-medium-name: 'Rule (Medium)';
  --spectrum-rule-medium-description: 'The medium variant of Rule. A Rule separates information';
  --spectrum-rule-medium-status: 'Released';
  --spectrum-rule-small-name: 'Rule (Small)';
  --spectrum-rule-small-description: 'A Rule separates information';
  --spectrum-rule-small-status: 'Released';
  --spectrum-search-name: 'Search (Default)';
  --spectrum-search-description: 'The default variant of a search field';
  --spectrum-search-status: 'Beta';
  --spectrum-search-quiet-name: 'Search (Quiet)';
  --spectrum-search-quiet-description: 'The quiet variant of the search element';
  --spectrum-search-quiet-status: 'Beta';
  --spectrum-searchwithin-name: 'Search Within (Default)';
  --spectrum-searchwithin-description: 'The default Search Within element';
  --spectrum-searchwithin-status: 'Beta';
  --spectrum-selectlist-name: 'Select List';
  --spectrum-selectlist-description: 'The default variant of the Select List element. Selectable list of options, typically used in flyouts';
  --spectrum-selectlist-status: 'Released';
  --spectrum-slider-color-name: 'Slider (Color)';
  --spectrum-slider-color-description: 'Values to use for a color slider';
  --spectrum-slider-color-status: 'Beta';
  --spectrum-slider-name: 'Slider (Default)';
  --spectrum-slider-description: 'The default Slider. A slider is a tool for selecting a value within a range.';
  --spectrum-slider-status: 'Released';
  --spectrum-slider-fill-name: 'Slider Fill';
  --spectrum-slider-fill-description: 'A slider is a tool for selecting a value within a range.';
  --spectrum-slider-fill-status: 'Released';
  --spectrum-slider-player-name: 'Slider (Player)';
  --spectrum-slider-player-description: 'The player variant of Slider';
  --spectrum-slider-player-status: 'Beta';
  --spectrum-slider-ramp-name: 'Slider (Ramped)';
  --spectrum-slider-ramp-description: 'The ramped variant of Slider';
  --spectrum-slider-ramp-status: 'Beta';
  --spectrum-slider-tick-name: 'Slider';
  --spectrum-slider-tick-description: 'Data for the Slider tick mark';
  --spectrum-slider-tick-status: 'Beta';
  --spectrum-splitbutton-name: 'Split Button';
  --spectrum-splitbutton-description: 'The default variant of a Splitbutton';
  --spectrum-splitbutton-status: 'Beta';
  --spectrum-statuslight-name: 'Status Light';
  --spectrum-statuslight-description: 'The default variant of Statuslight';
  --spectrum-statuslight-status: 'Released';
  --spectrum-statuslight-info-name: 'Status Light (Info)';
  --spectrum-statuslight-info-description: 'The informative semantic variant of Status Light';
  --spectrum-statuslight-info-status: 'Released';
  --spectrum-statuslight-negative-name: 'Status Light (Negative)';
  --spectrum-statuslight-negative-description: 'The negative semantic variant of Status Light';
  --spectrum-statuslight-negative-status: 'Released';
  --spectrum-statuslight-neutral-name: 'Status Light (Neutral)';
  --spectrum-statuslight-neutral-description: 'The neutral semantic variant of Status Light';
  --spectrum-statuslight-neutral-status: 'Released';
  --spectrum-statuslight-notice-name: 'Status Light (Notice)';
  --spectrum-statuslight-notice-description: 'The notice semantic variant of Status Light';
  --spectrum-statuslight-notice-status: 'Released';
  --spectrum-statuslight-positive-name: 'Status Light (Positive)';
  --spectrum-statuslight-positive-description: 'The positive semantic variant of Status Light';
  --spectrum-statuslight-positive-status: 'Released';
  --spectrum-steplist-complete-name: 'Steplist - Complete';
  --spectrum-steplist-complete-description: 'The marker and segment styles. This is the 'Complete' state';
  --spectrum-steplist-complete-status: 'Beta';
  --spectrum-steplist-current-name: 'Steplist - Current';
  --spectrum-steplist-current-description: 'The marker and segment styles. This is the 'Current' state';
  --spectrum-steplist-current-status: 'Beta';
  --spectrum-steplist-incomplete-name: 'Steplist - Incomplete';
  --spectrum-steplist-incomplete-description: 'The marker and segment styles. This is the 'Incomplete' state';
  --spectrum-steplist-incomplete-status: 'Beta';
  --spectrum-switch-name: 'Switch';
  --spectrum-switch-description: 'The default variant for Switch';
  --spectrum-switch-status: 'Released';
  --spectrum-list-name: 'List';
  --spectrum-list-description: 'Used in table';
  --spectrum-list-status: 'Beta';
  --spectrum-table-name: 'Table Default';
  --spectrum-table-description: 'The default variant for Table';
  --spectrum-table-status: 'Beta';
  --spectrum-table-quiet-name: 'Table Quiet';
  --spectrum-table-quiet-description: 'The quiet variant of Table.  Use in conjunction with default table values';
  --spectrum-table-quiet-status: 'Beta';
  --spectrum-tabs-compact-name: 'Tabs (Compact)';
  --spectrum-tabs-compact-description: 'Compact Tabs, should only be used as quiet';
  --spectrum-tabs-compact-status: 'Beta';
  --spectrum-tabs-name: 'Tabs (Default / Standard)';
  --spectrum-tabs-description: 'Standard Tabs';
  --spectrum-tabs-status: 'Released';
  --spectrum-tabs-quiet-name: 'Tabs (Quiet)';
  --spectrum-tabs-quiet-description: 'Quiet Tabs';
  --spectrum-tabs-quiet-status: 'Released';
  --spectrum-tabs-quiet-compact-name: 'Tabs (Quiet Compact)';
  --spectrum-tabs-quiet-compact-description: 'Compact Tabs, available as quiet only';
  --spectrum-tabs-quiet-compact-status: 'Released';
  --spectrum-tag-name: 'Tag (Default)';
  --spectrum-tag-description: 'The default variant of Tag';
  --spectrum-tag-status: 'Released';
  --spectrum-tag-deletable-name: 'Tag (Deletable)';
  --spectrum-tag-deletable-description: 'The deletable variant of Tag';
  --spectrum-tag-deletable-status: 'Released';
  --spectrum-taggroup-name: 'Tag Group (Default)';
  --spectrum-taggroup-description: 'Group of tags';
  --spectrum-taggroup-status: 'Released';
  --spectrum-textfield-name: 'Textfield Default';
  --spectrum-textfield-description: 'A text field is used to input and edit custom text entries.';
  --spectrum-textfield-status: 'Released';
  --spectrum-textfield-quiet-name: 'Textfield Quiet';
  --spectrum-textfield-quiet-description: 'Quiet variant of a textfield.';
  --spectrum-textfield-quiet-status: 'Released';
  --spectrum-toast-name: 'Toast - Default';
  --spectrum-toast-description: 'The default variant of Toast';
  --spectrum-toast-status: 'Beta';
  --spectrum-toast-error-name: 'Toast (Error)';
  --spectrum-toast-error-description: 'The error variant of Toast';
  --spectrum-toast-error-status: 'Beta';
  --spectrum-toast-info-name: 'Toast (Info)';
  --spectrum-toast-info-description: 'The info variant of Toast';
  --spectrum-toast-info-status: 'Beta';
  --spectrum-toast-success-name: 'Toast (Success)';
  --spectrum-toast-success-description: 'The success variant of Toast';
  --spectrum-toast-success-status: 'Beta';
  --spectrum-toast-warning-name: 'Toast (Warning)';
  --spectrum-toast-warning-description: 'The warning variant of Toast';
  --spectrum-toast-warning-status: 'Beta';
  --spectrum-tool-name: 'Tool (Default)';
  --spectrum-tool-description: 'Tool buttons';
  --spectrum-tool-status: 'Released';
  --spectrum-toolgroup-name: 'Tool Group';
  --spectrum-toolgroup-description: 'Group of tools (as used in toolbars)';
  --spectrum-toolgroup-status: 'Released';
  --spectrum-tooltip-name: 'Tooltip (Default)';
  --spectrum-tooltip-description: 'The default variant of Tooltip';
  --spectrum-tooltip-status: 'Released';
  --spectrum-tooltip-info-name: 'Tooltip (Info)';
  --spectrum-tooltip-info-description: 'This is the informative or info variant of Tooltip';
  --spectrum-tooltip-info-status: 'Released';
  --spectrum-tooltip-negative-name: 'Tooltip (Negative/Error)';
  --spectrum-tooltip-negative-description: 'This is the negative a.k.a. error variant of Tooltip';
  --spectrum-tooltip-negative-status: 'Released';
  --spectrum-tooltip-positive-name: 'Tooltip (Positive/Success)';
  --spectrum-tooltip-positive-description: 'This is the postive (a.k.a.) success variant of Tooltip';
  --spectrum-tooltip-positive-status: 'Released';
  --spectrum-tray-name: 'Tray (Default)';
  --spectrum-tray-description: 'Default variant of Tray. A Tray is a mobile container for menus';
  --spectrum-tray-status: 'Released';
  --spectrum-treeview-name: 'Tree View';
  --spectrum-treeview-description: 'Tree navigation for organizing the hierarchical things';
  --spectrum-treeview-status: 'Beta';
  --spectrum-body-name: 'Typography - Body';
  --spectrum-body-description: 'Regular body text';
  --spectrum-body-status: 'Released';
  --spectrum-body-large-name: 'Typography - Body Text (Large)';
  --spectrum-body-large-description: 'Large body text is large';
  --spectrum-body-large-status: 'Released';
  --spectrum-body-secondary-name: 'Text - Secondary';
  --spectrum-body-secondary-description: 'Secondary text is secondary';
  --spectrum-body-secondary-status: 'Released';
  --spectrum-body-small-name: 'Typography - Body Small';
  --spectrum-body-small-description: 'Small body text';
  --spectrum-body-small-status: 'Released';
  --spectrum-heading-display-name: 'Typography - Heading (Display)';
  --spectrum-heading-display-description: 'The display variant of heading';
  --spectrum-heading-display-status: 'Released';
  --spectrum-heading-page-title-name: 'Typography - Heading (Page Title)';
  --spectrum-heading-page-title-description: 'The page-title variant of Heading';
  --spectrum-heading-page-title-status: 'Released';
  --spectrum-heading-subtitle1-name: 'Typeography - Heading (Subtitle 1)';
  --spectrum-heading-subtitle1-description: 'The subtitle-1 variant of heading';
  --spectrum-heading-subtitle1-status: 'Released';
  --spectrum-heading-subtitle2-name: 'Typography - Heading (Subtitle 2)';
  --spectrum-heading-subtitle2-description: 'The subtitle-2 variant of heading';
  --spectrum-heading-subtitle2-status: 'Released';
  --spectrum-heading-subtitle3-name: 'Typography - Heading (Subtitle 3)';
  --spectrum-heading-subtitle3-description: 'The subtitle-3 variant of heading';
  --spectrum-heading-subtitle3-status: 'Released';
  --spectrum-well-name: 'Well (Default)';
  --spectrum-well-description: 'The default variant for Well';
  --spectrum-well-status: 'Beta';
}
