:root {
  --spectrum-global-color-static-black: rgb(0, 0, 0);
  --spectrum-global-color-static-white: rgb(255, 255, 255);
  --spectrum-global-color-static-blue: rgb(20, 115, 230);
  --spectrum-global-color-static-gray-50: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-75: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-100: rgb(255, 255, 255);
  --spectrum-global-color-static-gray-200: rgb(244, 244, 244);
  --spectrum-global-color-static-gray-300: rgb(234, 234, 234);
  --spectrum-global-color-static-gray-400: rgb(211, 211, 211);
  --spectrum-global-color-static-gray-500: rgb(188, 188, 188);
  --spectrum-global-color-static-gray-600: rgb(149, 149, 149);
  --spectrum-global-color-static-gray-700: rgb(118, 118, 118);
  --spectrum-global-color-static-gray-800: rgb(80, 80, 80);
  --spectrum-global-color-static-gray-900: rgb(50, 50, 50);
  --spectrum-global-color-static-blue-400: rgb(55, 142, 240);
  --spectrum-global-color-static-blue-500: rgb(38, 128, 235);
  --spectrum-global-color-static-blue-600: rgb(20, 115, 230);
  --spectrum-global-color-static-blue-700: rgb(13, 102, 208);
  --spectrum-global-color-background-red: rgb(215, 55, 63);
  --spectrum-global-color-background-orange: rgb(218, 123, 17);
  --spectrum-global-color-background-green: rgb(38, 142, 108);
  --spectrum-global-font-family-base: Adobe Clean, Helvetica, Arial, sans-serif;
  --spectrum-global-font-weight-thin: 100;
  --spectrum-global-font-weight-ultra-light: 200;
  --spectrum-global-font-weight-light: 300;
  --spectrum-global-font-weight-regular: 400;
  --spectrum-global-font-weight-medium: 500;
  --spectrum-global-font-weight-semi-bold: 600;
  --spectrum-global-font-weight-bold: 700;
  --spectrum-global-font-weigh-extra-bold: 800;
  --spectrum-global-font-weight-black: 900;
  --spectrum-global-font-letter-spacing-small: 0;
  --spectrum-global-layout-grid-columns: 12;
  --spectrum-global-animation-transition-time: 125ms;
  --spectrum-global-animation-ease-in-out: ease-in-out;
  --spectrum-global-animation-ease-in: ease-in;
  --spectrum-global-animation-ease-out: ease-out;
}
