:root {
  --spectrum-light-colorstop-name: 'Light Color Stop';
  --spectrum-light-colorstop-comment: 'The Light UI color stop';
  --spectrum-alias-name: 'Color Aliases';
  --spectrum-alias-createdVersion: '2.0.0';
  --spectrum-alias-updatedVersion: '2.1.1';
  --spectrum-alias-description: 'Holds color aliases, which are color groups that elements share';
  --spectrum-semantic-name: 'Color Semantics';
  --spectrum-semantic-comment: 'Semantic values for color configuation';
  --spectrum-accordion-name: 'Accordion';
  --spectrum-accordion-description: 'TODO: this DNA item needs a description';
  --spectrum-accordion-status: 'Beta';
  --spectrum-actionbutton-name: 'Action Button';
  --spectrum-actionbutton-description: 'TODO: this DNA item needs a description';
  --spectrum-actionbutton-status: 'Beta';
  --spectrum-actionbutton-icon-name: 'Action Button - Icon only';
  --spectrum-actionbutton-icon-description: 'TODO: this DNA item needs a description';
  --spectrum-actionbutton-icon-status: 'Beta';
  --spectrum-alert-name: 'Alert';
  --spectrum-alert-description: 'TODO: this DNA item needs a description';
  --spectrum-alert-status: 'Beta';
  --spectrum-alert-error-name: 'Alert';
  --spectrum-alert-error-description: 'TODO: this DNA item needs a description';
  --spectrum-alert-error-status: 'Beta';
  --spectrum-alert-info-name: 'Alert';
  --spectrum-alert-info-description: 'TODO: this DNA item needs a description';
  --spectrum-alert-info-status: 'Beta';
  --spectrum-alert-success-name: 'Alert';
  --spectrum-alert-success-description: 'TODO: this DNA item needs a description';
  --spectrum-alert-success-status: 'Beta';
  --spectrum-alert-warning-name: 'Alert';
  --spectrum-alert-warning-description: 'TODO: this DNA item needs a description';
  --spectrum-alert-warning-status: 'Beta';
  --spectrum-banner-name: 'Banner';
  --spectrum-banner-description: 'TODO: this DNA item needs a description';
  --spectrum-banner-status: 'Beta';
  --spectrum-banner-error-name: 'Banner';
  --spectrum-banner-error-description: 'TODO: this DNA item needs a description';
  --spectrum-banner-error-status: 'Beta';
  --spectrum-banner-info-name: 'Banner';
  --spectrum-banner-info-description: 'TODO: this DNA item needs a description';
  --spectrum-banner-info-status: 'Beta';
  --spectrum-banner-warning-name: 'Banner';
  --spectrum-banner-warning-description: 'TODO: this DNA item needs a description';
  --spectrum-banner-warning-status: 'Beta';
  --spectrum-breadcrumb-name: 'Breadcrumb';
  --spectrum-breadcrumb-description: 'TODO: this DNA item needs a description';
  --spectrum-breadcrumb-status: 'Beta';
  --spectrum-breadcrumb-title-name: 'Breadcrumb Title';
  --spectrum-breadcrumb-title-description: 'TODO: this DNA item needs a description';
  --spectrum-breadcrumb-title-status: 'Beta';
  --spectrum-breadcrumb-title-margin-default: 0.3em 0;
  --spectrum-button-cta-name: 'Button CTA';
  --spectrum-button-cta-description: 'TODO: this DNA item needs a description';
  --spectrum-button-cta-status: 'Released';
  --spectrum-button-name: 'Button';
  --spectrum-button-description: 'TODO: this DNA item needs a description';
  --spectrum-button-status: 'Released';
  --spectrum-button-over-color-name: 'Button Over Color';
  --spectrum-button-over-color-description: 'TODO: this DNA element needs a description';
  --spectrum-button-over-color-status: 'Released';
  --spectrum-button-primary-name: 'Button Primary';
  --spectrum-button-primary-description: 'TODO: this DNA item needs a description';
  --spectrum-button-primary-status: 'Released';
  --spectrum-button-quiet-action-name: 'Action Button';
  --spectrum-button-quiet-action-description: 'TODO: this DNA item needs a description';
  --spectrum-button-quiet-action-status: 'Released';
  --spectrum-button-quiet-name: 'Button Quiet Default';
  --spectrum-button-quiet-description: 'TODO: this DNA item needs a description';
  --spectrum-button-quiet-status: 'Released';
  --spectrum-button-quiet-over-color-name: 'Button Quiet Over Color';
  --spectrum-button-quiet-over-color-description: 'TODO: this DNA item needs a description';
  --spectrum-button-quiet-over-color-status: 'Released';
  --spectrum-button-quiet-primary-name: 'Button Quiet-Primary';
  --spectrum-button-quiet-primary-description: 'TODO: this DNA item needs a description';
  --spectrum-button-quiet-primary-status: 'Released';
  --spectrum-button-quiet-secondary-name: 'Button Quiet-Secondary';
  --spectrum-button-quiet-secondary-description: 'TODO: this DNA item needs a description';
  --spectrum-button-quiet-secondary-status: 'Released';
  --spectrum-button-quiet-warning-name: 'Button Quiet-Warning';
  --spectrum-button-quiet-warning-description: 'TODO: this DNA item needs a description';
  --spectrum-button-quiet-warning-status: 'Released';
  --spectrum-button-secondary-name: 'Button Secondary';
  --spectrum-button-secondary-description: 'TODO: this DNA item needs a description';
  --spectrum-button-secondary-status: 'Released';
  --spectrum-button-warning-name: 'Button Warning';
  --spectrum-button-warning-description: 'TODO: this DNA item needs a description';
  --spectrum-button-warning-status: 'Released';
  --spectrum-calendar-day-name: 'Calendar Day';
  --spectrum-calendar-day-description: 'TODO: this DNA item needs a description';
  --spectrum-calendar-day-status: 'Beta';
  --spectrum-calendar-name: 'Calendar';
  --spectrum-calendar-description: 'TODO: this DNA item needs a description';
  --spectrum-calendar-status: 'Beta';
  --spectrum-checkbox-name: 'Checkbox';
  --spectrum-checkbox-description: 'used for checkbox';
  --spectrum-checkbox-status: 'Released';
  --spectrum-combobox-name: 'ComboBox';
  --spectrum-combobox-description: 'TODO: this DNA item needs a description';
  --spectrum-combobox-status: 'Beta';
  --spectrum-cyclebutton-name: 'Cycle Button';
  --spectrum-cyclebutton-description: 'TODO: this DNA item needs a description';
  --spectrum-cyclebutton-status: 'Beta';
  --spectrum-dialog-name: 'Dialog - Default';
  --spectrum-dialog-description: 'TODO: this DNA item needs a description';
  --spectrum-dialog-status: 'Released';
  --spectrum-dialog-error-name: 'Dialog - Error';
  --spectrum-dialog-error-description: 'TODO: this DNA item needs a description';
  --spectrum-dialog-error-status: 'Released';
  --spectrum-dialog-info-name: 'Dialog - Info';
  --spectrum-dialog-info-description: 'TODO: this DNA item needs a description';
  --spectrum-dialog-info-status: 'Deprecated';
  --spectrum-dialog-success-name: 'Dialog - Success';
  --spectrum-dialog-success-description: 'TODO: this DNA item needs a description';
  --spectrum-dialog-success-status: 'Deprecated';
  --spectrum-dialog-warning-name: 'Dialog - Warning';
  --spectrum-dialog-warning-description: 'TODO: this DNA item needs a description';
  --spectrum-dialog-warning-status: 'Deprecated';
  --spectrum-rule-name: 'Rule';
  --spectrum-rule-description: 'TODO: this DNA item needs a description';
  --spectrum-rule-status: 'Beta';
  --spectrum-rule-panel-name: 'Rule';
  --spectrum-rule-panel-description: 'TODO: this DNA item needs a description';
  --spectrum-rule-panel-status: 'Beta';
  --spectrum-rule-subsection-name: 'Rule';
  --spectrum-rule-subsection-description: 'TODO: this DNA item needs a description';
  --spectrum-rule-subsection-status: 'Beta';
  --spectrum-rule-subsection2-name: 'Rule';
  --spectrum-rule-subsection2-description: 'TODO: this DNA item needs a description';
  --spectrum-rule-subsection2-status: 'Beta';
  --spectrum-well-name: 'Well';
  --spectrum-well-description: 'TODO: this DNA item needs a description';
  --spectrum-well-status: 'Beta';
  --spectrum-drag-name: 'Drag - Default';
  --spectrum-drag-description: 'TODO: this DNA item needs a description';
  --spectrum-drag-status: 'Beta';
  --spectrum-drawer-name: 'Drawer - Default';
  --spectrum-drawer-description: 'TODO: this DNA item needs a description';
  --spectrum-drawer-status: 'Beta';
  --spectrum-dropdown-name: 'Dropdown - Default';
  --spectrum-dropdown-description: 'TODO: this DNA item needs a description';
  --spectrum-dropdown-status: 'Released';
  --spectrum-dropdown-quiet-name: 'Dropdown - Quiet';
  --spectrum-dropdown-quiet-description: 'TODO: this DNA item needs a description';
  --spectrum-dropdown-quiet-status: 'Released';
  --spectrum-fieldbutton-name: 'Field Button';
  --spectrum-fieldbutton-description: 'TODO: this DNA item needs a description';
  --spectrum-fieldbutton-status: 'Beta';
  --spectrum-input-name: 'Input';
  --spectrum-input-description: 'TODO: this DNA item needs a description';
  --spectrum-input-status: 'Released';
  --spectrum-input-invalid-name: 'Input - Invalid';
  --spectrum-input-invalid-description: 'TODO: this DNA item needs a description';
  --spectrum-input-invalid-status: 'Released';
  --spectrum-input-quiet-name: 'Input - Quiet';
  --spectrum-input-quiet-description: 'TODO: this DNA item needs a description';
  --spectrum-input-quiet-status: 'Released';
  --spectrum-label-colored-name: 'Colored Label - Default';
  --spectrum-label-colored-description: 'TODO: this DNA item needs a description';
  --spectrum-label-colored-status: 'Beta';
  --spectrum-link-name: 'Link - default';
  --spectrum-link-description: 'TODO: this DNA item needs a description';
  --spectrum-link-status: 'Released';
  --spectrum-link-over-color-name: 'Link Over Color';
  --spectrum-link-over-color-description: 'TODO: this DNA item needs a description';
  --spectrum-link-over-color-status: 'Released';
  --spectrum-link-subtle-name: 'Link - subtle';
  --spectrum-link-subtle-description: 'TODO: this DNA item needs a description';
  --spectrum-link-subtle-status: 'Deprecated';
  --spectrum-loader-name: 'Loader';
  --spectrum-loader-description: 'Determinate progress bar and indeterminate loader';
  --spectrum-loader-status: 'Beta';
  --spectrum-logicbutton-and-name: 'Logic Button AND';
  --spectrum-logicbutton-and-description: 'TODO: this DNA item needs a description';
  --spectrum-logicbutton-and-status: 'Beta';
  --spectrum-logicbutton-name: 'Logic Button DEFAULT';
  --spectrum-logicbutton-description: 'TODO: this DNA item needs a description';
  --spectrum-logicbutton-status: 'Beta';
  --spectrum-logicbutton-or-name: 'Logic Button OR';
  --spectrum-logicbutton-or-description: 'TODO: this DNA item needs a description';
  --spectrum-logicbutton-or-status: 'Beta';
  --spectrum-miller-column-name: 'Miller Columns';
  --spectrum-miller-column-description: 'Column Views';
  --spectrum-miller-column-status: 'Beta';
  --spectrum-pagination-name: 'Pagination';
  --spectrum-pagination-description: 'TODO: this DNA item needs a description';
  --spectrum-pagination-status: 'Beta';
  --spectrum-popover-name: 'Popover';
  --spectrum-popover-description: 'TODO: this DNA item needs a description';
  --spectrum-popover-status: 'Beta';
  --spectrum-quickaction-name: 'Quickaction';
  --spectrum-quickaction-description: 'TODO: this DNA item needs a description';
  --spectrum-quickaction-status: 'Beta';
  --spectrum-radio-name: 'Radio Button';
  --spectrum-radio-description: 'used for radio button';
  --spectrum-radio-status: 'Released';
  --spectrum-rail-name: 'Rail';
  --spectrum-rail-description: 'TODO: this DNA item needs a description';
  --spectrum-rail-status: 'Beta';
  --spectrum-rating-name: 'Rating Star';
  --spectrum-rating-description: 'TODO: this DNA item needs a description';
  --spectrum-rating-status: 'Beta';
  --spectrum-search-name: 'Search';
  --spectrum-search-description: 'TODO: this DNA item needs a description';
  --spectrum-search-status: 'Beta';
  --spectrum-search-quiet-name: 'Search Quiet';
  --spectrum-search-quiet-description: 'TODO: this DNA item needs a description';
  --spectrum-search-quiet-status: 'Beta';
  --spectrum-searchwithin-name: 'Search Within';
  --spectrum-searchwithin-description: 'TODO: this DNA item needs a description';
  --spectrum-searchwithin-status: 'Beta';
  --spectrum-selectlist-name: 'Select List';
  --spectrum-selectlist-description: 'Selectable list of options, typically used in flyouts';
  --spectrum-selectlist-status: 'Beta';
  --spectrum-slider-color-name: 'Slider';
  --spectrum-slider-color-description: 'TODO: this DNA item needs a description';
  --spectrum-slider-color-status: 'Beta';
  --spectrum-slider-name: 'Slider';
  --spectrum-slider-description: 'TODO: this DNA item needs a description';
  --spectrum-slider-status: 'Beta';
  --spectrum-slider-animation-transition-time-default: 125ms;
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-fill-name: 'Slider';
  --spectrum-slider-fill-description: 'TODO: this DNA item needs a description';
  --spectrum-slider-fill-status: 'Beta';
  --spectrum-slider-player-name: 'Slider';
  --spectrum-slider-player-description: 'TODO: this DNA item needs a description';
  --spectrum-slider-player-status: 'Beta';
  --spectrum-slider-ramp-name: 'Slider';
  --spectrum-slider-ramp-description: 'TODO: this DNA item needs a description';
  --spectrum-slider-ramp-status: 'Beta';
  --spectrum-slider-round-name: 'Slider';
  --spectrum-slider-round-description: 'TODO: this DNA item needs a description';
  --spectrum-slider-round-status: 'Beta';
  --spectrum-slider-tick-name: 'Slider';
  --spectrum-slider-tick-description: 'TODO: this DNA item needs a description';
  --spectrum-slider-tick-status: 'Beta';
  --spectrum-splitbutton-name: 'Split Button';
  --spectrum-splitbutton-description: 'TODO: this DNA item needs a description';
  --spectrum-splitbutton-status: 'Beta';
  --spectrum-statuslight-name: 'Status Light';
  --spectrum-statuslight-description: 'TODO: this DNA item needs a description';
  --spectrum-statuslight-status: 'Beta';
  --spectrum-steplist-complete-name: 'Steplist - Complete';
  --spectrum-steplist-complete-description: 'The marker and segment styles. This is the 'Complete' state';
  --spectrum-steplist-complete-status: 'Beta';
  --spectrum-steplist-current-name: 'Steplist - Current';
  --spectrum-steplist-current-description: 'The marker and segment styles. This is the 'Current' state';
  --spectrum-steplist-current-status: 'Beta';
  --spectrum-steplist-incomplete-name: 'Steplist - Incomplete';
  --spectrum-steplist-incomplete-description: 'The marker and segment styles. This is the 'Incomplete' state';
  --spectrum-steplist-incomplete-status: 'Beta';
  --spectrum-switch-name: 'Switch';
  --spectrum-switch-description: 'used for switch';
  --spectrum-switch-status: 'Released';
  --spectrum-list-name: 'List';
  --spectrum-list-description: 'Used in table';
  --spectrum-list-status: 'Beta';
  --spectrum-table-name: 'Table Default';
  --spectrum-table-description: 'TODO: this DNA item needs a description';
  --spectrum-table-status: 'Beta';
  --spectrum-table-quiet-name: 'Table Quiet';
  --spectrum-table-quiet-description: 'TODO: this DNA item needs a description';
  --spectrum-table-quiet-status: 'Beta';
  --spectrum-tablist-anchored-name: 'Anchored Tab';
  --spectrum-tablist-anchored-description: 'TODO: this DNA item needs a description';
  --spectrum-tablist-anchored-status: 'Beta';
  --spectrum-tablist-name: 'TabList';
  --spectrum-tablist-description: 'TODO: this DNA item needs a description';
  --spectrum-tablist-status: 'Beta';
  --spectrum-tablist-page-name: 'TabList';
  --spectrum-tablist-page-description: 'TODO: this DNA item needs a description';
  --spectrum-tablist-page-status: 'Beta';
  --spectrum-tablist-panel-name: 'TabList';
  --spectrum-tablist-panel-description: 'TODO: this DNA item needs a description';
  --spectrum-tablist-panel-status: 'Beta';
  --spectrum-tablist-panel-icons-name: 'TabList';
  --spectrum-tablist-panel-icons-description: 'TODO: this DNA item needs a description';
  --spectrum-tablist-panel-icons-status: 'Beta';
  --spectrum-tag-name: 'Tag';
  --spectrum-tag-description: 'TODO: this DNA item needs a description';
  --spectrum-tag-status: 'Beta';
  --spectrum-tag-invalid-name: 'Tag - Invalid';
  --spectrum-tag-invalid-description: 'TODO: this DNA item needs a description';
  --spectrum-tag-invalid-status: 'Beta';
  --spectrum-textfield-name: 'Textfield Default';
  --spectrum-textfield-description: 'TODO: this DNA item needs a description';
  --spectrum-textfield-status: 'Released';
  --spectrum-textfield-valid-name: 'Textfield Error';
  --spectrum-textfield-valid-description: 'TODO: this DNA item needs a description';
  --spectrum-textfield-valid-status: 'Released';
  --spectrum-toast-name: 'Toast - Default';
  --spectrum-toast-description: 'TODO: this DNA item needs a description';
  --spectrum-toast-status: 'Beta';
  --spectrum-toast-error-name: 'Toast - Error';
  --spectrum-toast-error-description: 'TODO: this DNA item needs a description';
  --spectrum-toast-error-status: 'Beta';
  --spectrum-toast-info-name: 'Toast - Info';
  --spectrum-toast-info-description: 'TODO: this DNA item needs a description';
  --spectrum-toast-info-status: 'Beta';
  --spectrum-toast-success-name: 'Toast - Success';
  --spectrum-toast-success-description: 'TODO: this DNA item needs a description';
  --spectrum-toast-success-status: 'Beta';
  --spectrum-toast-warning-name: 'Toast - Warning';
  --spectrum-toast-warning-description: 'TODO: this DNA item needs a description';
  --spectrum-toast-warning-status: 'Beta';
  --spectrum-button-toggle-off-name: 'Toggle Button';
  --spectrum-button-toggle-off-description: 'TODO: this DNA item needs a description';
  --spectrum-button-toggle-off-status: 'Beta';
  --spectrum-button-toggle-on-name: 'Toggle Button';
  --spectrum-button-toggle-on-description: 'TODO: this DNA item needs a description';
  --spectrum-button-toggle-on-status: 'Beta';
  --spectrum-tooltip-name: 'Tooltip';
  --spectrum-tooltip-description: 'TODO: this DNA item needs a description';
  --spectrum-tooltip-status: 'Released';
  --spectrum-tooltip-error-name: 'Tooltip - Error';
  --spectrum-tooltip-error-description: 'TODO: this DNA item needs a description';
  --spectrum-tooltip-error-status: 'Released';
  --spectrum-tooltip-info-name: 'Tooltip - Info';
  --spectrum-tooltip-info-description: 'TODO: this DNA item needs a description';
  --spectrum-tooltip-info-status: 'Released';
  --spectrum-tooltip-success-name: 'Tooltip - Success';
  --spectrum-tooltip-success-description: 'TODO: this DNA item needs a description';
  --spectrum-tooltip-success-status: 'Released';
  --spectrum-tooltip-warning-name: 'Tooltip - Warning';
  --spectrum-tooltip-warning-description: 'TODO: this DNA item needs a description';
  --spectrum-tooltip-warning-status: 'Deprecated';
  --spectrum-treenav-name: 'Tree Nav';
  --spectrum-treenav-description: 'TODO: this DNA item needs a description';
  --spectrum-treenav-status: 'Beta';
  --spectrum-body-name: 'Typography - Body';
  --spectrum-body-description: 'TODO: this DNA item needs a description';
  --spectrum-body-status: 'Beta';
  --spectrum-body-large-name: 'Typography - Body';
  --spectrum-body-large-description: 'TODO: this DNA item needs a description';
  --spectrum-body-large-status: 'Beta';
  --spectrum-body-secondary-name: 'Text - Secondary';
  --spectrum-body-secondary-description: 'TODO: this DNA item needs a description';
  --spectrum-body-secondary-status: 'Beta';
  --spectrum-body-small-name: 'Typography - Body Small';
  --spectrum-body-small-description: 'TODO: this DNA item needs a description';
  --spectrum-body-small-status: 'Beta';
  --spectrum-heading-display-name: 'Heading - Display';
  --spectrum-heading-display-description: 'TODO: this DNA item needs a description';
  --spectrum-heading-display-status: 'Beta';
  --spectrum-heading-page-title-name: 'Heading - Page Title';
  --spectrum-heading-page-title-description: 'TODO: this DNA item needs a description';
  --spectrum-heading-page-title-status: 'Beta';
  --spectrum-heading-subtitle1-name: 'Heading - Subtitle 1';
  --spectrum-heading-subtitle1-description: 'TODO: this DNA item needs a description';
  --spectrum-heading-subtitle1-status: 'Beta';
  --spectrum-heading-subtitle2-name: 'Heading - Subtitle 2';
  --spectrum-heading-subtitle2-description: 'TODO: this DNA item needs a description';
  --spectrum-heading-subtitle2-status: 'Beta';
  --spectrum-heading-subtitle3-name: 'Heading - Subtitle 3';
  --spectrum-heading-subtitle3-description: 'TODO: this DNA item needs a description';
  --spectrum-heading-subtitle3-status: 'Beta';
  --spectrum-label-name: 'Typography - Label Default';
  --spectrum-label-description: 'TODO: this DNA item needs a description';
  --spectrum-label-status: 'Beta';
  --spectrum-label-large-name: 'Typography - Label Large';
  --spectrum-label-large-description: 'TODO: this DNA item needs a description';
  --spectrum-label-large-status: 'Beta';
}
