:root {
  --spectrum-accordion-background-color-hover: rgb(244, 244, 244);
  --spectrum-accordion-border-color-default: rgb(234, 234, 234);
  --spectrum-accordion-border-left-color-focus: rgb(55, 142, 240);
  --spectrum-accordion-icon-color-active: rgb(80, 80, 80);
  --spectrum-accordion-icon-color-default: rgb(149, 149, 149);
  --spectrum-accordion-icon-color-disabled: rgb(211, 211, 211);
  --spectrum-accordion-icon-color-focus: rgb(80, 80, 80);
  --spectrum-accordion-icon-color-hover: rgb(80, 80, 80);
  --spectrum-accordion-text-color-active: rgb(50, 50, 50);
  --spectrum-accordion-text-color-default: rgb(118, 118, 118);
  --spectrum-accordion-text-color-disabled: rgb(188, 188, 188);
  --spectrum-accordion-text-color-focus: rgb(50, 50, 50);
  --spectrum-accordion-text-color-hover: rgb(50, 50, 50);
  --spectrum-alert-background-color-default: rgb(255, 255, 255);
  --spectrum-alert-body-text-color-default: rgb(118, 118, 118);
  --spectrum-alert-error-border-color-default: rgb(227, 72, 80);
  --spectrum-alert-error-icon-color-default: rgb(227, 72, 80);
  --spectrum-alert-header-text-color-default: rgb(50, 50, 50);
  --spectrum-alert-info-border-color-default: rgb(38, 128, 235);
  --spectrum-alert-info-icon-color-default: rgb(38, 128, 235);
  --spectrum-alert-success-border-color-default: rgb(45, 157, 120);
  --spectrum-alert-success-icon-color-default: rgb(45, 157, 120);
  --spectrum-alert-warning-border-color-default: rgb(230, 134, 25);
  --spectrum-alert-warning-icon-color-default: rgb(230, 134, 25);
  --spectrum-alias-background-color-default: rgb(255, 255, 255);
  --spectrum-alias-background-color-hover-overlay: rgba(50, 50, 50, .04);
  --spectrum-alias-background-color-label-grey: rgb(112, 112, 112);
  --spectrum-alias-background-color-modal-overlay: rgba(0, 0, 0, 0.6);
  --spectrum-alias-background-color-transparent: transparent;
  --spectrum-alias-border-color-focus-blue: rgb(55, 142, 240);
  --spectrum-alias-border-color-translucent-dark: rgba(0, 0, 0, 0.05);
  --spectrum-alias-border-color-transparent: transparent;
  --spectrum-alias-dropshadow-color: rgba(0, 0, 0, 0.08);
  --spectrum-alias-dropshadow-color-alt: rgba(0, 0, 0, 0.1);
  --spectrum-alias-focus-blue: rgb(55, 142, 240);
  --spectrum-alias-heading-color: rgb(50, 50, 50);
  --spectrum-alias-text-color: rgb(80, 80, 80);
  --spectrum-alias-text-color-disabled: rgb(188, 188, 188);
  --spectrum-alias-text-color-invalid: rgb(227, 72, 80);
  --spectrum-alias-track-color-default: rgb(234, 234, 234);
  --spectrum-body-large-text-color-default: rgb(80, 80, 80);
  --spectrum-body-secondary-text-color-default: rgb(118, 118, 118);
  --spectrum-body-small-text-color-default: rgb(80, 80, 80);
  --spectrum-body-text-color-default: rgb(80, 80, 80);
  --spectrum-body-text-color-disabled: rgb(188, 188, 188);
  --spectrum-body-text-color-invalid: rgb(227, 72, 80);
  --spectrum-breadcrumb-chevron-icon-color-default: rgb(188, 188, 188);
  --spectrum-breadcrumb-text-color-active: rgb(50, 50, 50);
  --spectrum-breadcrumb-text-color-default: rgb(118, 118, 118);
  --spectrum-breadcrumb-text-color-focus: rgb(20, 115, 230);
  --spectrum-breadcrumb-text-color-hover: rgb(50, 50, 50);
  --spectrum-button-action-background-color-active: rgb(244, 244, 244);
  --spectrum-button-action-background-color-default: rgb(255, 255, 255);
  --spectrum-button-action-background-color-disabled: rgb(244, 244, 244);
  --spectrum-button-action-background-color-focus: rgb(255, 255, 255);
  --spectrum-button-action-background-color-hover: rgb(255, 255, 255);
  --spectrum-button-action-border-color-active: rgb(211, 211, 211);
  --spectrum-button-action-border-color-default: rgb(234, 234, 234);
  --spectrum-button-action-border-color-disabled: rgb(244, 244, 244);
  --spectrum-button-action-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-action-border-color-hover: rgb(211, 211, 211);
  --spectrum-button-action-text-color-active: rgb(50, 50, 50);
  --spectrum-button-action-text-color-default: rgb(80, 80, 80);
  --spectrum-button-action-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-action-text-color-focus: rgb(50, 50, 50);
  --spectrum-button-action-text-color-hover: rgb(50, 50, 50);
  --spectrum-button-cta-background-color-active: rgb(13, 102, 208);
  --spectrum-button-cta-background-color-default: rgb(38, 128, 235);
  --spectrum-button-cta-background-color-disabled: rgb(244, 244, 244);
  --spectrum-button-cta-background-color-focus: rgb(20, 115, 230);
  --spectrum-button-cta-background-color-hover: rgb(20, 115, 230);
  --spectrum-button-cta-border-color-active: rgb(13, 102, 208);
  --spectrum-button-cta-border-color-default: rgb(38, 128, 235);
  --spectrum-button-cta-border-color-disabled: rgb(244, 244, 244);
  --spectrum-button-cta-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-cta-border-color-hover: rgb(20, 115, 230);
  --spectrum-button-cta-text-color-active: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-default: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-cta-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-cta-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-icon-color-active: rgb(80, 80, 80);
  --spectrum-button-icon-color-default: rgb(118, 118, 118);
  --spectrum-button-icon-color-disabled: rgb(118, 118, 118);
  --spectrum-button-icon-color-focus: rgb(50, 50, 50);
  --spectrum-button-icon-color-hover: rgb(50, 50, 50);
  --spectrum-button-logic-and-background-color-default: rgb(38, 128, 235);
  --spectrum-button-logic-and-background-color-disabled: rgb(244, 244, 244);
  --spectrum-button-logic-and-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-logic-and-background-color-hover: rgb(13, 102, 208);
  --spectrum-button-logic-and-border-color-default: rgb(38, 128, 235);
  --spectrum-button-logic-and-border-color-disabled: rgb(244, 244, 244);
  --spectrum-button-logic-and-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-logic-and-border-color-hover: rgb(13, 102, 208);
  --spectrum-button-logic-or-background-color-default: rgb(216, 55, 144);
  --spectrum-button-logic-or-background-color-disabled: rgb(244, 244, 244);
  --spectrum-button-logic-or-background-color-focus: rgb(188, 28, 116);
  --spectrum-button-logic-or-background-color-hover: rgb(188, 28, 116);
  --spectrum-button-logic-or-border-color-default: rgb(216, 55, 144);
  --spectrum-button-logic-or-border-color-disabled: rgb(244, 244, 244);
  --spectrum-button-logic-or-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-logic-or-border-color-hover: rgb(188, 28, 116);
  --spectrum-button-logic-text-color-default: rgb(255, 255, 255);
  --spectrum-button-logic-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-primary-background-color-active: rgb(50, 50, 50);
  --spectrum-button-primary-background-color-default: transparent;
  --spectrum-button-primary-background-color-disabled: rgb(244, 244, 244);
  --spectrum-button-primary-background-color-focus: rgb(20, 115, 230);
  --spectrum-button-primary-background-color-hover: rgb(80, 80, 80);
  --spectrum-button-primary-border-color-active: rgb(50, 50, 50);
  --spectrum-button-primary-border-color-default: rgb(80, 80, 80);
  --spectrum-button-primary-border-color-disabled: rgb(244, 244, 244);
  --spectrum-button-primary-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-primary-border-color-hover: rgb(80, 80, 80);
  --spectrum-button-primary-text-color-active: rgb(255, 255, 255);
  --spectrum-button-primary-text-color-default: rgb(80, 80, 80);
  --spectrum-button-primary-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-primary-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-quiet-action-background-color-active: rgb(234, 234, 234);
  --spectrum-button-quiet-action-background-color-default: transparent;
  --spectrum-button-quiet-action-background-color-disabled: transparent;
  --spectrum-button-quiet-action-background-color-focus: transparent;
  --spectrum-button-quiet-action-background-color-hover: transparent;
  --spectrum-button-quiet-action-border-color-active: transparent;
  --spectrum-button-quiet-action-border-color-default: transparent;
  --spectrum-button-quiet-action-border-color-disabled: transparent;
  --spectrum-button-quiet-action-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-quiet-action-border-color-hover: transparent;
  --spectrum-button-quiet-action-text-color-active: rgb(50, 50, 50);
  --spectrum-button-quiet-action-text-color-default: rgb(80, 80, 80);
  --spectrum-button-quiet-action-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-quiet-action-text-color-focus: rgb(50, 50, 50);
  --spectrum-button-quiet-action-text-color-hover: rgb(50, 50, 50);
  --spectrum-button-quiet-primary-background-color-active: rgb(234, 234, 234);
  --spectrum-button-quiet-primary-background-color-default: transparent;
  --spectrum-button-quiet-primary-background-color-disabled: transparent;
  --spectrum-button-quiet-primary-background-color-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-primary-background-color-hover: rgb(244, 244, 244);
  --spectrum-button-quiet-primary-border-color-active: rgb(234, 234, 234);
  --spectrum-button-quiet-primary-border-color-default: transparent;
  --spectrum-button-quiet-primary-border-color-disabled: transparent;
  --spectrum-button-quiet-primary-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-primary-border-color-hover: rgb(244, 244, 244);
  --spectrum-button-quiet-primary-text-color-active: rgb(50, 50, 50);
  --spectrum-button-quiet-primary-text-color-default: rgb(80, 80, 80);
  --spectrum-button-quiet-primary-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-quiet-primary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-primary-text-color-hover: rgb(50, 50, 50);
  --spectrum-button-quiet-secondary-background-color-active: rgb(234, 234, 234);
  --spectrum-button-quiet-secondary-background-color-default: transparent;
  --spectrum-button-quiet-secondary-background-color-disabled: transparent;
  --spectrum-button-quiet-secondary-background-color-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-secondary-background-color-hover: rgb(244, 244, 244);
  --spectrum-button-quiet-secondary-border-color-active: rgb(234, 234, 234);
  --spectrum-button-quiet-secondary-border-color-default: transparent;
  --spectrum-button-quiet-secondary-border-color-disabled: transparent;
  --spectrum-button-quiet-secondary-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-secondary-border-color-hover: rgb(244, 244, 244);
  --spectrum-button-quiet-secondary-text-color-active: rgb(80, 80, 80);
  --spectrum-button-quiet-secondary-text-color-default: rgb(149, 149, 149);
  --spectrum-button-quiet-secondary-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-quiet-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-secondary-text-color-hover: rgb(80, 80, 80);
  --spectrum-button-quiet-warning-background-color-active: rgb(234, 234, 234);
  --spectrum-button-quiet-warning-background-color-default: transparent;
  --spectrum-button-quiet-warning-background-color-disabled: transparent;
  --spectrum-button-quiet-warning-background-color-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-warning-background-color-hover: rgb(244, 244, 244);
  --spectrum-button-quiet-warning-border-color-active: rgb(234, 234, 234);
  --spectrum-button-quiet-warning-border-color-default: transparent;
  --spectrum-button-quiet-warning-border-color-disabled: transparent;
  --spectrum-button-quiet-warning-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-quiet-warning-border-color-hover: rgb(244, 244, 244);
  --spectrum-button-quiet-warning-text-color-active: rgb(215, 55, 63);
  --spectrum-button-quiet-warning-text-color-default: rgb(227, 72, 80);
  --spectrum-button-quiet-warning-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-quiet-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-quiet-warning-text-color-hover: rgb(215, 55, 63);
  --spectrum-button-secondary-background-color-active: rgb(118, 118, 118);
  --spectrum-button-secondary-background-color-default: transparent;
  --spectrum-button-secondary-background-color-disabled: rgb(244, 244, 244);
  --spectrum-button-secondary-background-color-focus: rgb(20, 115, 230);
  --spectrum-button-secondary-background-color-hover: rgb(149, 149, 149);
  --spectrum-button-secondary-border-color-active: rgb(118, 118, 118);
  --spectrum-button-secondary-border-color-default: rgb(149, 149, 149);
  --spectrum-button-secondary-border-color-disabled: rgb(244, 244, 244);
  --spectrum-button-secondary-border-color-focus: rgb(20, 115, 230);
  --spectrum-button-secondary-border-color-hover: rgb(149, 149, 149);
  --spectrum-button-secondary-text-color-active: rgb(255, 255, 255);
  --spectrum-button-secondary-text-color-default: rgb(149, 149, 149);
  --spectrum-button-secondary-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-secondary-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-secondary-text-color-hover: rgb(255, 255, 255);
  --spectrum-button-toggle-background-color-active: rgb(234, 234, 234);
  --spectrum-button-toggle-background-color-default: transparent;
  --spectrum-button-toggle-background-color-disabled: transparent;
  --spectrum-button-toggle-background-color-focus: transparent;
  --spectrum-button-toggle-background-color-hover: transparent;
  --spectrum-button-toggle-border-color-active: transparent;
  --spectrum-button-toggle-border-color-default: transparent;
  --spectrum-button-toggle-border-color-disabled: transparent;
  --spectrum-button-toggle-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-toggle-border-color-hover: transparent;
  --spectrum-button-toggle-on-background-color-default: rgb(234, 234, 234);
  --spectrum-button-toggle-on-background-color-disabled: rgb(234, 234, 234);
  --spectrum-button-toggle-on-background-color-focus: rgb(234, 234, 234);
  --spectrum-button-toggle-on-background-color-hover: rgb(234, 234, 234);
  --spectrum-button-toggle-on-border-color-active: transparent;
  --spectrum-button-toggle-on-border-color-default: transparent;
  --spectrum-button-toggle-on-border-color-disabled: transparent;
  --spectrum-button-toggle-on-border-color-focus: rgb(55, 142, 240);
  --spectrum-button-toggle-on-border-color-hover: transparent;
  --spectrum-button-toggle-on-text-color-active: rgb(50, 50, 50);
  --spectrum-button-toggle-on-text-color-default: rgb(80, 80, 80);
  --spectrum-button-toggle-on-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-toggle-on-text-color-focus: rgb(50, 50, 50);
  --spectrum-button-toggle-on-text-color-hover: rgb(50, 50, 50);
  --spectrum-button-toggle-text-color-active: rgb(50, 50, 50);
  --spectrum-button-toggle-text-color-default: rgb(80, 80, 80);
  --spectrum-button-toggle-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-toggle-text-color-focus: rgb(50, 50, 50);
  --spectrum-button-toggle-text-color-hover: rgb(50, 50, 50);
  --spectrum-button-warning-background-color-active: rgb(201, 37, 45);
  --spectrum-button-warning-background-color-default: transparent;
  --spectrum-button-warning-background-color-disabled: rgb(244, 244, 244);
  --spectrum-button-warning-background-color-focus: rgb(13, 102, 208);
  --spectrum-button-warning-background-color-hover: rgb(215, 55, 63);
  --spectrum-button-warning-border-color-active: rgb(201, 37, 45);
  --spectrum-button-warning-border-color-default: rgb(215, 55, 63);
  --spectrum-button-warning-border-color-disabled: rgb(244, 244, 244);
  --spectrum-button-warning-border-color-focus: rgb(13, 102, 208);
  --spectrum-button-warning-border-color-hover: rgb(215, 55, 63);
  --spectrum-button-warning-text-color-active: rgb(255, 255, 255);
  --spectrum-button-warning-text-color-default: rgb(215, 55, 63);
  --spectrum-button-warning-text-color-disabled: rgb(188, 188, 188);
  --spectrum-button-warning-text-color-focus: rgb(255, 255, 255);
  --spectrum-button-warning-text-color-hover: rgb(255, 255, 255);
  --spectrum-dialog-background-color-default: rgb(255, 255, 255);
  --spectrum-dialog-content-text-color-default: rgb(80, 80, 80);
  --spectrum-dialog-error-icon-color-default: rgb(227, 72, 80);
  --spectrum-dialog-error-title-text-color-default: rgb(227, 72, 80);
  --spectrum-dialog-icon-color-default: rgb(50, 50, 50);
  --spectrum-dialog-info-icon-color-default: rgb(38, 128, 235);
  --spectrum-dialog-info-title-text-color-default: rgb(38, 128, 235);
  --spectrum-dialog-popover-border-color-default: rgb(234, 234, 234);
  --spectrum-dialog-popover-shadow-color-default: rgba(0, 0, 0, 0.08);
  --spectrum-dialog-success-icon-color-default: rgb(45, 157, 120);
  --spectrum-dialog-success-title-text-color-default: rgb(45, 157, 120);
  --spectrum-dialog-title-divider-color-default: rgb(244, 244, 244);
  --spectrum-dialog-title-text-color-default: rgb(50, 50, 50);
  --spectrum-dialog-underlay-background-color-default: rgba(0, 0, 0, 0.6);
  --spectrum-dialog-warning-icon-color-default: rgb(230, 134, 25);
  --spectrum-dialog-warning-title-text-color-default: rgb(230, 134, 25);
  --spectrum-drag-handle-background-color-default: rgb(234, 234, 234);
  --spectrum-drag-handle-background-color-focus: rgb(55, 142, 240);
  --spectrum-drag-handle-background-color-hover: rgb(188, 188, 188);
  --spectrum-drag-handle-icon-color-default: rgb(255, 255, 255);
  --spectrum-drawer-background-color-default: rgb(255, 255, 255);
  --spectrum-dropdown-background-color-default: rgb(255, 255, 255);
  --spectrum-dropdown-border-color-default: rgb(234, 234, 234);
  --spectrum-dropdown-border-color-error-default: rgb(236, 91, 98);
  --spectrum-dropdown-border-color-hover: rgb(211, 211, 211);
  --spectrum-dropdown-divider-background-color-default: rgb(244, 244, 244);
  --spectrum-dropdown-dropshadow-color-default: rgba(0, 0, 0, 0.1);
  --spectrum-dropdown-icon-color-error-default: rgb(236, 91, 98);
  --spectrum-dropdown-option-background-color-hover: rgba(50, 50, 50, .04);
  --spectrum-dropdown-option-border-color-focus: rgb(55, 142, 240);
  --spectrum-dropdown-option-text-color-default: rgb(80, 80, 80);
  --spectrum-dropdown-option-text-color-selected-default: rgb(55, 142, 240);
  --spectrum-dropdown-quiet-background-color-default: transparent;
  --spectrum-dropdown-quiet-icon-color-chevron-hover: rgb(80, 80, 80);
  --spectrum-dropdown-quiet-menu-background-color-default: rgb(255, 255, 255);
  --spectrum-dropdown-quiet-trigger-background-color-disabled: transparent;
  --spectrum-dropdown-quiet-trigger-text-color-hover: rgb(50, 50, 50);
  --spectrum-dropdown-quiet-trigger-text-color-open-default: rgb(50, 50, 50);
  --spectrum-dropdown-trigger-background-color-default: rgb(255, 255, 255);
  --spectrum-dropdown-trigger-background-color-disabled: rgb(244, 244, 244);
  --spectrum-dropdown-trigger-border-color-focus: rgb(55, 142, 240);
  --spectrum-dropdown-trigger-text-color-default: rgb(80, 80, 80);
  --spectrum-dropdown-trigger-text-color-disabled: rgb(188, 188, 188);
  --spectrum-flyout-background-color-default: rgb(255, 255, 255);
  --spectrum-flyout-border-color-default: rgb(211, 211, 211);
  --spectrum-flyout-divider-color-default: rgb(244, 244, 244);
  --spectrum-flyout-option-background-color-focus: rgba(50, 50, 50, .04);
  --spectrum-flyout-option-background-color-hover: rgba(50, 50, 50, .04);
  --spectrum-flyout-option-background-color-selected: transparent;
  --spectrum-flyout-option-focus-indicator-color-default: rgb(55, 142, 240);
  --spectrum-flyout-option-text-color-default: rgb(80, 80, 80);
  --spectrum-flyout-option-text-color-disabled: rgb(188, 188, 188);
  --spectrum-flyout-option-text-color-focus: rgb(80, 80, 80);
  --spectrum-flyout-option-text-color-hover: rgb(80, 80, 80);
  --spectrum-flyout-option-text-color-selected: rgb(20, 115, 230);
  --spectrum-flyout-shadow-color-default: rgba(0, 0, 0, 0.1);
  --spectrum-global-color-blue400: rgb(55, 142, 240);
  --spectrum-global-color-blue500: rgb(38, 128, 235);
  --spectrum-global-color-blue600: rgb(20, 115, 230);
  --spectrum-global-color-blue700: rgb(13, 102, 208);
  --spectrum-global-color-celery400: rgb(75, 195, 95);
  --spectrum-global-color-celery500: rgb(68, 181, 86);
  --spectrum-global-color-celery600: rgb(61, 167, 78);
  --spectrum-global-color-celery700: rgb(55, 153, 71);
  --spectrum-global-color-chartreuse400: rgb(142, 222, 73);
  --spectrum-global-color-chartreuse500: rgb(133, 208, 68);
  --spectrum-global-color-chartreuse600: rgb(124, 195, 63);
  --spectrum-global-color-chartreuse700: rgb(115, 181, 58);
  --spectrum-global-color-fuchsia400: rgb(207, 62, 220);
  --spectrum-global-color-fuchsia500: rgb(192, 56, 204);
  --spectrum-global-color-fuchsia600: rgb(177, 48, 189);
  --spectrum-global-color-fuchsia700: rgb(162, 40, 173);
  --spectrum-global-color-green400: rgb(51, 171, 132);
  --spectrum-global-color-green500: rgb(45, 157, 120);
  --spectrum-global-color-green600: rgb(38, 142, 108);
  --spectrum-global-color-green700: rgb(18, 128, 92);
  --spectrum-global-color-grey100: rgb(255, 255, 255);
  --spectrum-global-color-grey200: rgb(244, 244, 244);
  --spectrum-global-color-grey300: rgb(234, 234, 234);
  --spectrum-global-color-grey400: rgb(211, 211, 211);
  --spectrum-global-color-grey50: rgb(255, 255, 255);
  --spectrum-global-color-grey500: rgb(188, 188, 188);
  --spectrum-global-color-grey600: rgb(149, 149, 149);
  --spectrum-global-color-grey700: rgb(118, 118, 118);
  --spectrum-global-color-grey75: rgb(255, 255, 255);
  --spectrum-global-color-grey800: rgb(80, 80, 80);
  --spectrum-global-color-grey900: rgb(50, 50, 50);
  --spectrum-global-color-indigo400: rgb(117, 117, 241);
  --spectrum-global-color-indigo500: rgb(103, 103, 236);
  --spectrum-global-color-indigo600: rgb(92, 92, 224);
  --spectrum-global-color-indigo700: rgb(81, 81, 211);
  --spectrum-global-color-magenta400: rgb(226, 73, 157);
  --spectrum-global-color-magenta500: rgb(216, 55, 144);
  --spectrum-global-color-magenta600: rgb(202, 41, 130);
  --spectrum-global-color-magenta700: rgb(188, 28, 116);
  --spectrum-global-color-orange400: rgb(242, 148, 35);
  --spectrum-global-color-orange500: rgb(230, 134, 25);
  --spectrum-global-color-orange600: rgb(218, 123, 17);
  --spectrum-global-color-orange700: rgb(203, 111, 16);
  --spectrum-global-color-purple400: rgb(157, 100, 225);
  --spectrum-global-color-purple500: rgb(146, 86, 217);
  --spectrum-global-color-purple600: rgb(134, 76, 204);
  --spectrum-global-color-purple700: rgb(122, 66, 191);
  --spectrum-global-color-red400: rgb(236, 91, 98);
  --spectrum-global-color-red500: rgb(227, 72, 80);
  --spectrum-global-color-red600: rgb(215, 55, 63);
  --spectrum-global-color-red700: rgb(201, 37, 45);
  --spectrum-global-color-seafoam400: rgb(32, 163, 168);
  --spectrum-global-color-seafoam500: rgb(27, 149, 154);
  --spectrum-global-color-seafoam600: rgb(22, 135, 140);
  --spectrum-global-color-seafoam700: rgb(15, 121, 125);
  --spectrum-global-color-white: rgb(255, 255, 255);
  --spectrum-global-color-yellow400: rgb(237, 204, 0);
  --spectrum-global-color-yellow500: rgb(223, 191, 0);
  --spectrum-global-color-yellow600: rgb(210, 178, 0);
  --spectrum-global-color-yellow700: rgb(196, 166, 0);
  --spectrum-heading-display-text-color-default: rgb(50, 50, 50);
  --spectrum-heading-page-title-text-color-default: rgb(50, 50, 50);
  --spectrum-heading-subtitle1-text-color-default: rgb(50, 50, 50);
  --spectrum-heading-subtitle2-text-color-default: rgb(50, 50, 50);
  --spectrum-heading-subtitle3-text-color-default: rgb(118, 118, 118);
  --spectrum-heading-subtitle3-text-transform-default: uppercase;
  --spectrum-input-background-color-default: rgb(255, 255, 255);
  --spectrum-input-background-color-disabled: rgb(244, 244, 244);
  --spectrum-input-border-color-active: rgb(55, 142, 240);
  --spectrum-input-border-color-default: rgb(234, 234, 234);
  --spectrum-input-border-color-disabled: transparent;
  --spectrum-input-border-color-focus: rgb(55, 142, 240);
  --spectrum-input-border-color-hover: rgb(211, 211, 211);
  --spectrum-input-icon-color-active: rgb(255, 255, 255);
  --spectrum-input-icon-color-default: rgb(118, 118, 118);
  --spectrum-input-icon-color-disabled: rgb(188, 188, 188);
  --spectrum-input-icon-color-hover: rgb(80, 80, 80);
  --spectrum-input-invalid-border-color-default: rgb(236, 91, 98);
  --spectrum-input-label-text-color-default: rgb(118, 118, 118);
  --spectrum-input-placeholder-text-color-default: rgb(149, 149, 149);
  --spectrum-input-placeholder-text-color-disabled: rgb(234, 234, 234);
  --spectrum-input-placeholder-text-color-hover: rgb(80, 80, 80);
  --spectrum-input-quiet-background-color-default: transparent;
  --spectrum-input-quiet-background-color-disabled: transparent;
  --spectrum-input-quiet-background-color-hover: transparent;
  --spectrum-input-quiet-border-color-active: rgb(55, 142, 240);
  --spectrum-input-quiet-border-color-default: rgb(234, 234, 234);
  --spectrum-input-quiet-border-color-disabled: rgb(234, 234, 234);
  --spectrum-input-quiet-border-color-focus: rgb(55, 142, 240);
  --spectrum-input-quiet-border-color-hover: rgb(211, 211, 211);
  --spectrum-input-text-color-default: rgb(80, 80, 80);
  --spectrum-input-text-color-disabled: rgb(188, 188, 188);
  --spectrum-label-colored-background-color-disabled: rgb(112, 112, 112);
  --spectrum-label-colored-blue-background-color-default: rgb(55, 142, 240);
  --spectrum-label-colored-fuchsia-background-color-default: rgb(207, 62, 220);
  --spectrum-label-colored-green-background-color-default: rgb(51, 171, 132);
  --spectrum-label-colored-grey-background-color-default: rgb(112, 112, 112);
  --spectrum-label-colored-orange-background-color-default: rgb(242, 148, 35);
  --spectrum-label-colored-red-background-color-default: rgb(236, 91, 98);
  --spectrum-label-colored-seafoam-background-color-default: rgb(32, 163, 168);
  --spectrum-label-colored-text-color-default: rgb(255, 255, 255);
  --spectrum-label-colored-yellow-background-color-default: rgb(237, 204, 0);
  --spectrum-label-large-text-color-default: rgb(118, 118, 118);
  --spectrum-label-text-color-default: rgb(118, 118, 118);
  --spectrum-label-text-color-disabled: rgb(188, 188, 188);
  --spectrum-link-subtle-box-shadow-color-focus: rgb(80, 80, 80);
  --spectrum-link-subtle-text-color-active: inherit;
  --spectrum-link-subtle-text-color-default: inherit;
  --spectrum-link-subtle-text-color-focus: inherit;
  --spectrum-link-subtle-text-color-hover: inherit;
  --spectrum-link-text-color-active: rgb(13, 102, 208);
  --spectrum-link-text-color-default: rgb(20, 115, 230);
  --spectrum-link-text-color-disabled: rgb(188, 188, 188);
  --spectrum-link-text-color-focus: rgb(20, 115, 230);
  --spectrum-link-text-color-hover: rgb(20, 115, 230);
  --spectrum-list-background-color-default: rgb(255, 255, 255);
  --spectrum-list-background-color-hover: rgb(244, 244, 244);
  --spectrum-list-focusindicator-color-default: rgb(55, 142, 240);
  --spectrum-list-text-color-active: rgb(80, 80, 80);
  --spectrum-list-text-color-default: rgb(80, 80, 80);
  --spectrum-loader-background-color-default: rgb(234, 234, 234);
  --spectrum-loader-blue-color-default: rgb(55, 142, 240);
  --spectrum-loader-grey-color-default: rgb(149, 149, 149);
  --spectrum-miller-column-item-background-color-active: rgb(118, 118, 118);
  --spectrum-miller-column-item-background-color-hover: rgb(244, 244, 244);
  --spectrum-miller-column-item-background-color-selected: rgb(80, 80, 80);
  --spectrum-miller-column-item-chevron-color-active: rgb(255, 255, 255);
  --spectrum-miller-column-item-chevron-color-default: rgb(149, 149, 149);
  --spectrum-miller-column-item-chevron-color-hover: rgb(118, 118, 118);
  --spectrum-miller-column-item-text-color-active: rgb(255, 255, 255);
  --spectrum-miller-column-item-text-color-default: rgb(80, 80, 80);
  --spectrum-miller-column-item-text-color-focus: rgb(55, 142, 240);
  --spectrum-miller-column-item-text-color-selected: rgb(255, 255, 255);
  --spectrum-miller-column-item-thumbnail-background-color-default: rgb(234, 234, 234);
  --spectrum-miller-column-item-thumbnail-background-color-selected: rgb(255, 255, 255);
  --spectrum-miller-column-item-thumbnail-checkmark-color-selected: rgb(50, 50, 50);
  --spectrum-popover-background-color-default: rgb(255, 255, 255);
  --spectrum-popover-border-color-default: rgb(211, 211, 211);
  --spectrum-popover-shadow-color-default: rgb(188, 188, 188);
  --spectrum-quickaction-background-color-default: rgba(255, 255, 255, 0.95);
  --spectrum-quickaction-border-color-active: rgb(80, 80, 80);
  --spectrum-quickaction-border-color-default: rgb(211, 211, 211);
  --spectrum-quickaction-border-color-focus: rgb(55, 142, 240);
  --spectrum-quickaction-border-color-hover: rgb(118, 118, 118);
  --spectrum-quickaction-icon-color-focus: rgb(55, 142, 240);
  --spectrum-quickaction-shadow-color-default: rgba(0, 0, 0, 0.08);
  --spectrum-quickaction-text-color-active: rgb(50, 50, 50);
  --spectrum-quickaction-text-color-default: rgb(118, 118, 118);
  --spectrum-quickaction-text-color-focus: rgb(55, 142, 240);
  --spectrum-quickaction-text-color-hover: rgb(50, 50, 50);
  --spectrum-rule-label-text-color-default: rgb(50, 50, 50);
  --spectrum-rule-main-section-default: rgb(80, 80, 80);
  --spectrum-rule-sub-section-1-default: rgb(234, 234, 234);
  --spectrum-rule-sub-section-2-default: rgb(244, 244, 244);
  --spectrum-select-background-color-default: rgb(255, 255, 255);
  --spectrum-select-background-color-hover: rgb(255, 255, 255);
  --spectrum-select-border-color-default: rgb(234, 234, 234);
  --spectrum-select-border-color-focus: rgb(55, 142, 240);
  --spectrum-select-icon-color-default: rgb(118, 118, 118);
  --spectrum-select-icon-color-disabled: rgb(188, 188, 188);
  --spectrum-select-quiet-background-color-default: transparent;
  --spectrum-select-quiet-background-color-disabled: transparent;
  --spectrum-select-quiet-text-color-hover: rgb(50, 50, 50);
  --spectrum-semantic-informative-color-default: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-icon: rgb(55, 142, 240);
  --spectrum-semantic-informative-color-state-down: rgb(13, 102, 208);
  --spectrum-semantic-informative-color-state-focus: rgb(55, 142, 240);
  --spectrum-semantic-informative-color-status: rgb(55, 142, 240);
  --spectrum-semantic-informative-color-text-large: rgb(38, 128, 235);
  --spectrum-semantic-informative-color-text-small: rgb(20, 115, 230);
  --spectrum-semantic-negative-color-default: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-icon: rgb(236, 91, 98);
  --spectrum-semantic-negative-color-state-down: rgb(201, 37, 45);
  --spectrum-semantic-negative-color-state-focus: rgb(236, 91, 98);
  --spectrum-semantic-negative-color-status: rgb(236, 91, 98);
  --spectrum-semantic-negative-color-text-large: rgb(227, 72, 80);
  --spectrum-semantic-negative-color-text-small: rgb(215, 55, 63);
  --spectrum-semantic-notice-color-default: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-icon: rgb(242, 148, 35);
  --spectrum-semantic-notice-color-state-down: rgb(203, 111, 16);
  --spectrum-semantic-notice-color-state-focus: rgb(242, 148, 35);
  --spectrum-semantic-notice-color-status: rgb(242, 148, 35);
  --spectrum-semantic-notice-color-text-large: rgb(230, 134, 25);
  --spectrum-semantic-notice-color-text-small: rgb(218, 123, 17);
  --spectrum-semantic-positive-color-default: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-icon: rgb(51, 171, 132);
  --spectrum-semantic-positive-color-state-down: rgb(18, 128, 92);
  --spectrum-semantic-positive-color-state-focus: rgb(51, 171, 132);
  --spectrum-semantic-positive-color-status: rgb(51, 171, 132);
  --spectrum-semantic-positive-color-text-large: rgb(45, 157, 120);
  --spectrum-semantic-positive-color-text-small: rgb(38, 142, 108);
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-color-handle-border-color-default: rgb(255, 255, 255);
  --spectrum-slider-color-handle-border-color-disabled: rgb(211, 211, 211);
  --spectrum-slider-color-handle-color-default: transparent;
  --spectrum-slider-color-handle-color-disabled: transparent;
  --spectrum-slider-color-handle-inset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-handle-outset-border-color-focus: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-background-color-gradient-end-default: rgb(13, 102, 208);
  --spectrum-slider-color-track-background-color-gradient-start-default: rgb(55, 142, 240);
  --spectrum-slider-color-track-border-color-default: rgba(0, 0, 0, 0.05);
  --spectrum-slider-color-track-color-disabled: rgb(244, 244, 244);
  --spectrum-slider-fill-track-color-default: rgb(118, 118, 118);
  --spectrum-slider-fill-track-color-disabled: rgb(234, 234, 234);
  --spectrum-slider-handle-border-color-active: rgb(80, 80, 80);
  --spectrum-slider-handle-border-color-default: rgb(118, 118, 118);
  --spectrum-slider-handle-border-color-disabled: rgb(211, 211, 211);
  --spectrum-slider-handle-border-color-focus: rgb(55, 142, 240);
  --spectrum-slider-handle-border-color-hover: rgb(80, 80, 80);
  --spectrum-slider-handle-color-default: rgb(255, 255, 255);
  --spectrum-slider-handle-fill-color-active: rgb(80, 80, 80);
  --spectrum-slider-handle-fill-color-focus: rgb(55, 142, 240);
  --spectrum-slider-handle-outset-border-color-default: rgb(255, 255, 255);
  --spectrum-slider-player-track-buffer-color-default: rgb(188, 188, 188);
  --spectrum-slider-player-track-buffer-color-disabled: rgb(234, 234, 234);
  --spectrum-slider-ramp-track-color-disabled: rgb(244, 244, 244);
  --spectrum-slider-round-border-color-hover: rgb(80, 80, 80);
  --spectrum-slider-round-handle-marker-color-default: rgb(118, 118, 118);
  --spectrum-slider-round-handle-marker-color-focus: rgb(255, 255, 255);
  --spectrum-slider-round-handle-marker-color-hover: rgb(80, 80, 80);
  --spectrum-slider-round-min-max-tick-color-default: rgb(149, 149, 149);
  --spectrum-slider-text-color-disabled: rgb(188, 188, 188);
  --spectrum-slider-tick-mark-color-default: rgb(234, 234, 234);
  --spectrum-slider-track-color-default: rgb(234, 234, 234);
  --spectrum-slider-track-color-disabled: rgb(234, 234, 234);
  --spectrum-steplist-complete-label-text-color-default: rgb(118, 118, 118);
  --spectrum-steplist-complete-marker-color-default: rgb(149, 149, 149);
  --spectrum-steplist-complete-marker-color-focus: rgb(55, 142, 240);
  --spectrum-steplist-complete-marker-color-hover: rgb(118, 118, 118);
  --spectrum-steplist-complete-segment-color-default: rgb(188, 188, 188);
  --spectrum-steplist-current-label-text-color-default: rgb(80, 80, 80);
  --spectrum-steplist-current-marker-color-default: rgb(80, 80, 80);
  --spectrum-steplist-current-marker-color-focus: rgb(55, 142, 240);
  --spectrum-steplist-incomplete-label-text-color-default: rgb(149, 149, 149);
  --spectrum-steplist-incomplete-marker-color-default: rgb(234, 234, 234);
  --spectrum-steplist-incomplete-marker-color-hover: rgb(118, 118, 118);
  --spectrum-steplist-incomplete-segment-color-default: rgb(234, 234, 234);
  --spectrum-switch-border-color-active: rgb(118, 118, 118);
  --spectrum-switch-border-color-default: rgb(149, 149, 149);
  --spectrum-switch-border-color-disabled: rgb(211, 211, 211);
  --spectrum-switch-border-color-error: rgb(227, 72, 80);
  --spectrum-switch-border-color-focus: rgb(55, 142, 240);
  --spectrum-switch-border-color-hover: rgb(50, 50, 50);
  --spectrum-switch-checkbox-checkmark-color-default: rgb(255, 255, 255);
  --spectrum-switch-invalid-border-color-active: rgb(201, 37, 45);
  --spectrum-switch-invalid-border-color-default: rgb(227, 72, 80);
  --spectrum-switch-invalid-border-color-hover: rgb(215, 55, 63);
  --spectrum-switch-label-text-color-active: rgb(80, 80, 80);
  --spectrum-switch-label-text-color-default: rgb(80, 80, 80);
  --spectrum-switch-label-text-color-disabled: rgb(188, 188, 188);
  --spectrum-switch-label-text-color-error: rgb(215, 55, 63);
  --spectrum-switch-label-text-color-focus: rgb(13, 102, 208);
  --spectrum-switch-label-text-color-hover: rgb(50, 50, 50);
  --spectrum-switch-toggle-handle-background-color-default: rgb(255, 255, 255);
  --spectrum-switch-toggle-track-color-active: rgb(118, 118, 118);
  --spectrum-switch-toggle-track-color-default: rgb(234, 234, 234);
  --spectrum-switch-toggle-track-color-disabled: rgb(234, 234, 234);
  --spectrum-switch-toggle-track-color-focus: rgb(55, 142, 240);
  --spectrum-switch-toggle-track-color-hover: rgb(50, 50, 50);
  --spectrum-tablist-anchored-border-color-default: rgb(244, 244, 244);
  --spectrum-tablist-anchored-tabline-background-color-focus: rgb(55, 142, 240);
  --spectrum-tablist-border-color-active: rgb(50, 50, 50);
  --spectrum-tablist-border-color-disabled: rgb(211, 211, 211);
  --spectrum-tablist-border-color-focus: rgb(55, 142, 240);
  --spectrum-tablist-border-color-hover: transparent;
  --spectrum-tablist-icon-color-active: rgb(50, 50, 50);
  --spectrum-tablist-icon-color-default: rgb(118, 118, 118);
  --spectrum-tablist-icon-color-disabled: rgb(211, 211, 211);
  --spectrum-tablist-icon-color-focus: rgb(50, 50, 50);
  --spectrum-tablist-icon-color-hover: rgb(50, 50, 50);
  --spectrum-tablist-tabline-background-color-default: rgb(50, 50, 50);
  --spectrum-tablist-tabline-border-color-default: rgb(244, 244, 244);
  --spectrum-tablist-text-color-active: rgb(50, 50, 50);
  --spectrum-tablist-text-color-default: rgb(118, 118, 118);
  --spectrum-tablist-text-color-disabled: rgb(188, 188, 188);
  --spectrum-tablist-text-color-focus: rgb(50, 50, 50);
  --spectrum-tablist-text-color-hover: rgb(50, 50, 50);
  --spectrum-tag-border-color-active: rgb(50, 50, 50);
  --spectrum-tag-border-color-default: rgb(149, 149, 149);
  --spectrum-tag-border-color-disabled: rgb(244, 244, 244);
  --spectrum-tag-border-color-focus: rgb(55, 142, 240);
  --spectrum-tag-border-color-hover: rgb(80, 80, 80);
  --spectrum-tag-icon-color-active: rgb(50, 50, 50);
  --spectrum-tag-icon-color-default: rgb(118, 118, 118);
  --spectrum-tag-icon-color-disabled: rgb(188, 188, 188);
  --spectrum-tag-icon-color-focus: rgb(20, 115, 230);
  --spectrum-tag-icon-color-hover: rgb(80, 80, 80);
  --spectrum-tag-invalid-border-color-default: rgb(227, 72, 80);
  --spectrum-tag-invalid-text-color-default: rgb(227, 72, 80);
  --spectrum-tag-text-color-active: rgb(50, 50, 50);
  --spectrum-tag-text-color-default: rgb(118, 118, 118);
  --spectrum-tag-text-color-disabled: rgb(188, 188, 188);
  --spectrum-tag-text-color-focus: rgb(20, 115, 230);
  --spectrum-tag-text-color-hover: rgb(80, 80, 80);
  --spectrum-toast-background-color-default: rgb(112, 112, 112);
  --spectrum-toast-error-background-color-default: rgb(227, 72, 80);
  --spectrum-toast-icon-color-default: rgb(255, 255, 255);
  --spectrum-toast-info-background-color-default: rgb(38, 128, 235);
  --spectrum-toast-success-background-color-default: rgb(45, 157, 120);
  --spectrum-toast-text-color-default: rgb(255, 255, 255);
  --spectrum-toast-warning-background-color-default: rgb(230, 134, 25);
  --spectrum-tooltip-background-color-default: rgb(112, 112, 112);
  --spectrum-tooltip-error-background-color-default: rgb(227, 72, 80);
  --spectrum-tooltip-icon-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-info-background-color-default: rgb(38, 128, 235);
  --spectrum-tooltip-success-background-color-default: rgb(45, 157, 120);
  --spectrum-tooltip-text-color-default: rgb(255, 255, 255);
  --spectrum-tooltip-warning-background-color-default: rgb(230, 134, 25);
  --spectrum-well-background-color-default: rgba(50, 50, 50, .02);
  --spectrum-well-border-color-default: rgba(50, 50, 50, .05);
  --spectrum-well-label-text-color-default: rgb(50, 50, 50);
}
