:root {
  --spectrum-accordion-item-height-default: 40px;
  --spectrum-accordion-item-padding-default: 16px;
  --spectrum-accordion-item-border-size-default: 1px;
  --spectrum-accordion-item-focus-border-size-default: 2px;
  --spectrum-accordion-icon-spacing-default: 16px;
  --spectrum-accordion-icon-width-default: 6px;
  --spectrum-accordion-icon-height-default: 10px;
  --spectrum-accordion-item-header-font-size-default: 11px;
  --spectrum-accordion-item-header-tracking-default: 60pt;
  --spectrum-accordion-item-content-padding-default: 16px;
  --spectrum-actionbutton-border-size-default: 1px;
  --spectrum-actionbutton-border-radius-default: 4px;
  --spectrum-actionbutton-font-size-default: 14px;
  --spectrum-actionbutton-font-weight-default: 400;
  --spectrum-actionbutton-padding-x-default: 12px;
  --spectrum-actionbutton-icon-padding-x-default: 8px;
  --spectrum-alert-padding-x-default: 20px;
  --spectrum-alert-padding-y-default: 20px;
  --spectrum-alert-min-width-default: 368px;
  --spectrum-alert-content-margin-top-default: 8px;
  --spectrum-banner-border-radius-default: 8px;
  --spectrum-banner-padding-vertical-default: 4px;
  --spectrum-banner-padding-horizontal-default: 8px;
  --spectrum-banner-font-size-default: 12px;
  --spectrum-banner-line-height-default: 16px;
  --spectrum-breadcrumb-height-default: 32px;
  --spectrum-breadcrumb-font-size-default: 16px;
  --spectrum-breadcrumb-font-weight-default: 300;
  --spectrum-breadcrumb-line-height-default: 24px;
  --spectrum-breadcrumb-chevron-icon-width-default: 5px;
  --spectrum-breadcrumb-chevron-icon-height-default: 8px;
  --spectrum-breadcrumb-margin-default: 32px;
  --spectrum-breadcrumb-title-active-font-size-default: 28px;
  --spectrum-breadcrumb-title-active-font-weight-default: 300;
  --spectrum-breadcrumb-title-active-line-height-default: 32px;
  --spectrum-breadcrumb-title-margin-default: 0.3em 0;
  --spectrum-button-padding-x-default: 16px;
  --spectrum-button-border-radius-default: 16px;
  --spectrum-button-border-size-default: 2px;
  --spectrum-button-height-default: 32px;
  --spectrum-button-min-width-default: 72px;
  --spectrum-button-text-font-weight-default: 700;
  --spectrum-button-text-gap-default: 8px;
  --spectrum-button-text-font-size-default: 15px;
  --spectrum-scale-lg-button-height: 40px;
  --spectrum-scale-lg-button-min-width: 90px;
  --spectrum-scale-lg-button-padding-x: 20px;
  --spectrum-scale-lg-button-border-radius: 16px;
  --spectrum-scale-lg-button-touch-hit-x: 4px;
  --spectrum-scale-lg-button-touch-hit-y: 4px;
  --spectrum-scale-lg-button-text-font-size: 18px;
  --spectrum-button-border-size-increase-key-focus: 1px;
  --spectrum-button-quiet-action-border-size-default: 1px;
  --spectrum-button-quiet-action-border-radius-default: 4px;
  --spectrum-button-quiet-action-font-size-default: 14px;
  --spectrum-button-quiet-action-font-weight-default: 400;
  --spectrum-button-quiet-border-size-default: 0;
  --spectrum-button-quiet-padding-x-default: 0;
  --spectrum-button-quiet-cursor-hit-x-default: 16px;
  --spectrum-button-quiet-touch-hit-x-default: 16px;
  --spectrum-button-quiet-touch-hit-y-default: 8px;
  --spectrum-button-quiet-cursor-hit-x: 20px;
  --spectrum-button-quiet-touch-hit-x: 20px;
  --spectrum-button-quiet-touch-hit-y: 4px;
  --spectrum-button-quiet-over-color-border-size-default: 0;
  --spectrum-button-quiet-over-color-padding-x-default: 0;
  --spectrum-button-quiet-over-color-cursor-hit-x-default: 16px;
  --spectrum-button-quiet-over-color-touch-hit-x-default: 16px;
  --spectrum-button-quiet-over-color-touch-hit-y-default: 8px;
  --spectrum-button-quiet-over-color-cursor-hit-x: 20px;
  --spectrum-button-quiet-over-color-touch-hit-x: 20px;
  --spectrum-button-quiet-over-color-touch-hit-y: 4px;
  --spectrum-button-quiet-primary-padding-x-default: 16px;
  --spectrum-button-quiet-primary-border-radius-default: 16px;
  --spectrum-button-quiet-primary-border-size-default: 2px;
  --spectrum-button-quiet-primary-height-default: 32px;
  --spectrum-button-quiet-primary-min-width-default: 72px;
  --spectrum-button-quiet-primary-text-font-weight-default: 700;
  --spectrum-button-quiet-primary-text-gap-default: 8px;
  --spectrum-button-quiet-primary-text-font-size-default: 15px;
  --spectrum-scale-lg-button-quiet-primary-height: 40px;
  --spectrum-scale-lg-button-quiet-primary-min-width: 90px;
  --spectrum-scale-lg-button-quiet-primary-padding-x: 20px;
  --spectrum-scale-lg-button-quiet-primary-border-radius: 16px;
  --spectrum-scale-lg-button-quiet-primary-touch-hit-x: 4px;
  --spectrum-scale-lg-button-quiet-primary-touch-hit-y: 4px;
  --spectrum-scale-lg-button-quiet-primary-text-font-size: 18px;
  --spectrum-calendar-day-size-default: 32px;
  --spectrum-calendar-day-padding-size-default: 4px;
  --spectrum-calendar-day-font-size-default: 14px;
  --spectrum-calendar-day-header-font-size-default: 11px;
  --spectrum-calendar-day-header-font-weight-default: 500;
  --spectrum-calendar-day-today-font-weight-default: 700;
  --spectrum-calendar-day-font-weight-selected: 700;
  --spectrum-calendar-day-font-weight-cap-selected: 700;
  --spectrum-calendar-day-border-size-key-focus: 2px;
  --spectrum-calendar-width-default: 250px;
  --spectrum-calendar-header-height-default: 32px;
  --spectrum-calendar-header-font-size-default: 18px;
  --spectrum-checkbox-box-size-default: 14px;
  --spectrum-checkbox-box-border-size-default: 2px;
  --spectrum-checkbox-box-border-radius-default: 2px;
  --spectrum-checkbox-checkmark-size-default: 12px;
  --spectrum-checkbox-height-default: 32px;
  --spectrum-checkbox-margin-bottom-default: 0;
  --spectrum-checkbox-cursor-hit-x-default: 8px;
  --spectrum-checkbox-touch-hit-x-default: 8px;
  --spectrum-checkbox-touch-hit-y-default: 8px;
  --spectrum-checkbox-text-gap-default: 10px;
  --spectrum-checkbox-text-font-size-default: 14px;
  --spectrum-checkbox-text-baseline-default: 12px;
  --spectrum-scale-lg-checkbox-box-size: 18px;
  --spectrum-scale-lg-checkbox-cursor-hit-x: 10px;
  --spectrum-scale-lg-checkbox-touch-hit-x: 10px;
  --spectrum-scale-lg-checkbox-touch-hit-y: 4px;
  --spectrum-scale-lg-checkbox-text-gap: 12px;
  --spectrum-scale-lg-checkbox-text-font-size: 17px;
  --spectrum-scale-lg-checkbox-text-baseline: 15px;
  --spectrum-checkbox-text-font-weight-default: 400;
  --spectrum-combobox-textfield-border-top-right-radius-default: 0;
  --spectrum-combobox-textfield-border-bottom-right-radius-default: 0;
  --spectrum-combobox-fieldbutton-border-top-left-radius-default: 0;
  --spectrum-combobox-fieldbutton-border-bottom-left-radius-default: 0;
  --spectrum-cyclebutton-button-width-default: 32px;
  --spectrum-cyclebutton-button-height-default: 32px;
  --spectrum-cyclebutton-button-border-radius-default: 4px;
  --spectrum-cyclebutton-button-box-shadow-spread-radius-key-focus: 2px;
  --spectrum-dialog-padding-default: 40px;
  --spectrum-dialog-border-radius-default: 4px;
  --spectrum-dialog-content-margin-bottom-default: 40px;
  --spectrum-dialog-width-default: 90%;
  --spectrum-dialog-min-width-default: 288px;
  --spectrum-dialog-max-width-default: 480px;
  --spectrum-dialog-icon-margin-left-default: 24px;
  --spectrum-dialog-rule-height-default: 2px;
  --spectrum-dialog-rule-margin-top-default: 12px;
  --spectrum-dialog-rule-margin-bottom-default: 16px;
  --spectrum-dialog-rule-border-radius-default: 1px;
  --spectrum-dialog-title-text-size-default: 18px;
  --spectrum-dialog-title-text-line-height-default: 22px;
  --spectrum-dialog-title-text-font-weight-default: 700;
  --spectrum-dialog-content-text-size-default: 14px;
  --spectrum-dialog-content-text-font-weight-default: 400;
  --spectrum-scale-lg-dialog-padding: 24px;
  --spectrum-scale-lg-dialog-border-radius: 5px;
  --spectrum-scale-lg-dialog-content-margin-bottom: 48px;
  --spectrum-rule-border-width-default: 2px;
  --spectrum-rule-panel-border-width-default: 0.5px;
  --spectrum-rule-panel-height-default: 24px;
  --spectrum-rule-panel-margin-horizontal-default: 4px;
  --spectrum-rule-subsection-border-width-default: 1.5px;
  --spectrum-rule-subsection2-border-width-default: 1px;
  --spectrum-dropdown-margin-default: 8px;
  --spectrum-dropdown-height-default: 32px;
  --spectrum-dropdown-padding-default: 12px;
  --spectrum-dropdown-font-size-default: 14px;
  --spectrum-dropdown-check-icon-width-default: 12px;
  --spectrum-dropdown-check-icon-height-default: 12px;
  --spectrum-dropdown-chevron-icon-width-default: 12px;
  --spectrum-dropdown-chevron-icon-height-default: 8px;
  --spectrum-dropdown-chevron-margin-default: 14px;
  --spectrum-dropdown-icon-alert-width-default: 18px;
  --spectrum-dropdown-flyout-margin-default: 2px;
  --spectrum-fieldbutton-height-default: 32px;
  --spectrum-fieldbutton-border-size-default: 1px;
  --spectrum-fieldbutton-border-radius-default: 4px;
  --spectrum-input-height-default: 32px;
  --spectrum-input-label-font-size-default: 14px;
  --spectrum-input-border-size-default: 1px;
  --spectrum-input-border-radius-default: 4px;
  --spectrum-input-vertical-padding-default: 8px;
  --spectrum-input-horizontal-padding-default: 12px;
  --spectrum-input-placeholder-text-style-default: italic;
  --spectrum-input-placeholder-text-font-weight-default: 400;
  --spectrum-link-underline-gap-default: 1px;
  --spectrum-link-underline-size-default: 1px;
  --spectrum-link-over-color-underline-gap-default: 1px;
  --spectrum-link-over-color-underline-size-default: 1px;
  --spectrum-logicbutton-border-size-default: 2px;
  --spectrum-logicbutton-border-radius-default: 4px;
  --spectrum-logicbutton-font-size-default: 14px;
  --spectrum-logicbutton-font-weight-default: 700;
  --spectrum-logicbutton-height-default: 24px;
  --spectrum-miller-column-item-height-default: 40px;
  --spectrum-miller-column-chevron-height-default: 12px;
  --spectrum-miller-column-thumbnail-width-default: 24px;
  --spectrum-miller-column-thumbnail-height-default: 24px;
  --spectrum-miller-column-thumbnail-margin-left-default: 8px;
  --spectrum-miller-column-item-label-padding-left-default: 8px;
  --spectrum-miller-column-item-margin-bottom-default: 4px;
  --spectrum-miller-column-width-default: 272px;
  --spectrum-miller-column-item-border-radius-default: 4px;
  --spectrum-miller-column-item-padding-left-default: 16px;
  --spectrum-miller-column-item-padding-right-default: 16px;
  --spectrum-pagination-input-width-default: 48px;
  --spectrum-pagination-counter-height-default: 32px;
  --spectrum-pagination-counter-margin-left-default: 5px;
  --spectrum-pagination-direction-button-font-size-default: 15px;
  --spectrum-pagination-page-button-width-default: 32px;
  --spectrum-pagination-page-button-line-height-default: 26px;
  --spectrum-pagination-page-button-margin-horizontal-default: 5px;
  --spectrum-pagination-page-button-border-width-default: 2px;
  --spectrum-popover-border-size-default: 1px;
  --spectrum-popover-border-radius-default: 4px;
  --spectrum-popover-shadow-blur-default: 4px;
  --spectrum-popover-shadow-y-offset-default: 1px;
  --spectrum-popover-tip-width-default: 24px;
  --spectrum-quickaction-border-radius-default: 16px;
  --spectrum-quickaction-margin-default: 12px;
  --spectrum-quickaction-height-default: 32px;
  --spectrum-quickaction-width-default: 32px;
  --spectrum-radio-height-default: 32px;
  --spectrum-radio-margin-bottom-default: 0;
  --spectrum-radio-cursor-hit-x-default: 8px;
  --spectrum-radio-touch-hit-x-default: 8px;
  --spectrum-radio-touch-hit-y-default: 8px;
  --spectrum-radio-circle-diameter-default: 14px;
  --spectrum-radio-circle-dot-size-default: 4px;
  --spectrum-radio-circle-border-size-default: 2px;
  --spectrum-radio-text-gap-default: 10px;
  --spectrum-radio-text-font-size-default: 14px;
  --spectrum-radio-text-font-weight-default: 500;
  --spectrum-radio-text-baseline-default: 12px;
  --spectrum-scale-lg-radio-height: 40px;
  --spectrum-scale-lg-radio-margin-bottom: 8px;
  --spectrum-scale-lg-radio-cursor-hit-x: 10px;
  --spectrum-scale-lg-radio-touch-hit-x: 10px;
  --spectrum-scale-lg-radio-touch-hit-y: 4px;
  --spectrum-scale-lg-radio-circle-diameter: 18px;
  --spectrum-scale-lg-radio-text-font-size: 17px;
  --spectrum-scale-lg-radio-text-baseline: 15px;
  --spectrum-rail-content-width-default: 304px;
  --spectrum-rail-draghandle-width-default: 2px;
  --spectrum-rail-gripper-width-default: 4px;
  --spectrum-rail-gripper-height-default: 16px;
  --spectrum-rail-gripper-border-width-vertical-default: 4px;
  --spectrum-rail-gripper-border-width-horizontal-default: 3px;
  --spectrum-rail-gripper-border-radius-default: 2px;
  --spectrum-search-padding-left-default: 36px;
  --spectrum-search-padding-right-default: 28px;
  --spectrum-search-icon-width-default: 16px;
  --spectrum-search-quiet-padding-left-default: 24px;
  --spectrum-search-quiet-padding-right-default: 20px;
  --spectrum-searchwithin-padding-left-default: 36px;
  --spectrum-searchwithin-padding-right-default: 28px;
  --spectrum-searchwithin-icon-width-default: 16px;
  --spectrum-selectlist-divider-size-default: 2px;
  --spectrum-selectlist-divider-padding-default: 3px;
  --spectrum-selectlist-option-font-size-default: 14px;
  --spectrum-selectlist-option-font-weight-default: 400;
  --spectrum-selectlist-option-padding-default: 12px;
  --spectrum-selectlist-option-icon-height-default: 12px;
  --spectrum-selectlist-option-icon-width-default: 12px;
  --spectrum-slider-color-handle-outset-border-width-default: 1px;
  --spectrum-slider-color-handle-inset-border-width-default: 1px;
  --spectrum-slider-color-track-height-default: 24px;
  --spectrum-slider-color-track-border-width-default: 1px;
  --spectrum-slider-height-default: 32px;
  --spectrum-slider-width-default: 240px;
  --spectrum-slider-margin-bottom-default: 1px;
  --spectrum-slider-handle-width-default: 16px;
  --spectrum-slider-handle-height-default: 16px;
  --spectrum-slider-handle-border-width-default: 2px;
  --spectrum-slider-handle-border-radius-default: 8px;
  --spectrum-slider-handle-outset-border-width-default: 4px;
  --spectrum-slider-track-border-radius-default: 4px;
  --spectrum-slider-track-height-default: 2px;
  --spectrum-slider-track-width-default: 100%;
  --spectrum-slider-animation-transition-time-default: 125ms;
  --spectrum-slider-animation-ease-default: ease-in-out;
  --spectrum-slider-border-width-down: 8px;
  --spectrum-slider-border-width-key-focus: 8px;
  --spectrum-slider-ramp-track-height-default: 16px;
  --spectrum-slider-round-container-width-default: 48px;
  --spectrum-slider-round-height-default: 32px;
  --spectrum-slider-round-width-default: 32px;
  --spectrum-slider-round-small-height-default: 24px;
  --spectrum-slider-round-small-width-default: 24px;
  --spectrum-slider-round-border-radius-default: 16px;
  --spectrum-slider-round-margin-right-default: 24px;
  --spectrum-slider-round-min-max-tick-angles-default: 45deg;
  --spectrum-slider-round-handle-marker-width-default: 12px;
  --spectrum-slider-round-handle-marker-height-default: 2px;
  --spectrum-slider-round-handle-marker-border-radius-default: 1px;
  --spectrum-slider-round-border-width-key-focus: 2px;
  --spectrum-slider-tick-mark-height-default: 10px;
  --spectrum-slider-tick-mark-width-default: 2px;
  --spectrum-slider-tick-mark-border-radius-default: 1px;
  --spectrum-splitbutton-icon-width-default: 10px;
  --spectrum-statuslight-circle-width-default: 8px;
  --spectrum-statuslight-circle-margin-horizontal-default: 12px;
  --spectrum-switch-height-default: 32px;
  --spectrum-switch-track-width-default: 26px;
  --spectrum-switch-track-height-default: 14px;
  --spectrum-switch-cursor-hit-x-default: 8px;
  --spectrum-switch-touch-hit-x-default: 8px;
  --spectrum-switch-touch-hit-y-default: 8px;
  --spectrum-switch-handle-diameter-default: 14px;
  --spectrum-switch-handle-border-radius-default: 7px;
  --spectrum-switch-handle-border-size-default: 2px;
  --spectrum-switch-text-gap-default: 10px;
  --spectrum-switch-text-baseline-default: 12px;
  --spectrum-switch-text-font-size-default: 14px;
  --spectrum-switch-text-font-weight-default: 400;
  --spectrum-scale-lg-switch-height: 40px;
  --spectrum-scale-lg-switch-track-width: 36px;
  --spectrum-scale-lg-switch-track-height: 18px;
  --spectrum-scale-lg-switch-handle-diameter: 18px;
  --spectrum-scale-lg-switch-handle-border-radius: 9px;
  --spectrum-scale-lg-switch-text-gap: 12px;
  --spectrum-scale-lg-switch-text-baseline: 15px;
  --spectrum-scale-lg-switch-cursor-hit-x: 10px;
  --spectrum-scale-lg-switch-touch-hit-x: 10px;
  --spectrum-scale-lg-switch-touch-hit-y: 4px;
  --spectrum-table-cell-padding-default: 16px;
  --spectrum-table-head-cell-font-size-default: 11px;
  --spectrum-table-head-cell-font-weight-default: 700;
  --spectrum-table-head-cell-letter-spacing-default: 0.06em;
  --spectrum-table-head-cell-height-default: 12px;
  --spectrum-table-head-cell-padding-vertical-default: 4px;
  --spectrum-table-head-cell-sort-icon-width-default: 10px;
  --spectrum-table-head-cell-sort-icon-height-default: 12px;
  --spectrum-table-head-cell-sort-icon-margin-left-default: 4px;
  --spectrum-table-body-cell-font-size-default: 14px;
  --spectrum-table-body-cell-line-height-default: 24px;
  --spectrum-table-body-cell-padding-vertical-default: 12px;
  --spectrum-tablist-anchored-tab-item-border-width-default: 2px;
  --spectrum-tablist-tab-item-height-default: 32px;
  --spectrum-tablist-tab-item-border-width-default: 2px;
  --spectrum-tablist-tab-item-border-radius-default: 4px;
  --spectrum-tablist-horizontal-tabline-width-default: 1px;
  --spectrum-tablist-horizontal-tabline-height-default: 2px;
  --spectrum-tablist-vertical-tabline-width-default: 2px;
  --spectrum-tablist-vertical-tabline-height-default: 20px;
  --spectrum-tablist-vertical-tabline-border-radius-default: 1px;
  --spectrum-tablist-vertical-tab-item-icon-margin-right-default: 8px;
  --spectrum-tablist-page-tab-item-margin-right-default: 12px;
  --spectrum-tablist-panel-tab-item-label-font-size-default: 11px;
  --spectrum-tablist-panel-tab-item-label-font-weight-default: 500;
  --spectrum-tablist-panel-tab-item-label-letter-spacing-default: 0.06em;
  --spectrum-tablist-panel-horizontal-tab-item-margin-right-default: 10px;
  --spectrum-tablist-panel-horizontal-tab-item-height-default: 24px;
  --spectrum-tablist-panel-vertical-tab-item-height-default: 24px;
  --spectrum-tablist-panel-icons-horizontal-tab-item-height-default: 32px;
  --spectrum-tablist-panel-icons-vertical-tab-item-height-default: 24px;
  --spectrum-textfield-border-size-default: 1px;
  --spectrum-textfield-label-text-font-weight-default: 400;
  --spectrum-textfield-text-font-weight-default: 400;
  --spectrum-textfield-placeholder-text-font-style-default: italic;
  --spectrum-textfield-placeholder-text-font-weight-default: 400;
  --spectrum-textfield-height-default: 32px;
  --spectrum-textfield-min-width-default: 72px;
  --spectrum-textfield-padding-x-default: 0;
  --spectrum-textfield-padding-top-default: 6px;
  --spectrum-textfield-padding-bottom-default: 9px;
  --spectrum-textfield-border-radius-default: 4px;
  --spectrum-textfield-label-gap-x-default: 12px;
  --spectrum-textfield-label-gap-y-default: 0;
  --spectrum-textfield-label-padding-top-default: 8px;
  --spectrum-textfield-label-padding-bottom-default: 12px;
  --spectrum-textfield-label-text-font-size-default: 12px;
  --spectrum-textfield-counter-gap-default: 12px;
  --spectrum-textfield-asterisk-size-default: 8px;
  --spectrum-textfield-asterisk-gap-default: 4px;
  --spectrum-textfield-touch-hit-x-default: 8px;
  --spectrum-textfield-touch-hit-y-default: 8px;
  --spectrum-textfield-cursor-hit-x-default: 8px;
  --spectrum-textfield-text-baseline-default: 12px;
  --spectrum-textfield-icon-frame-default: 32px;
  --spectrum-textfield-text-size-default: 14px;
  --spectrum-textfield-text-line-height-default: 20px;
  --spectrum-scale-lg-textfield-height: 40px;
  --spectrum-scale-lg-textfield-min-width: 90px;
  --spectrum-scale-lg-textfield-padding-x: 15px;
  --spectrum-scale-lg-textfield-padding-top: 8px;
  --spectrum-scale-lg-textfield-padding-bottom: 11px;
  --spectrum-scale-lg-textfield-border-radius: 5px;
  --spectrum-scale-lg-textfield-label-gap-x: 15px;
  --spectrum-scale-lg-textfield-label-gap-y: 10px;
  --spectrum-scale-lg-textfield-label-padding-top: 10px;
  --spectrum-scale-lg-textfield-label-padding-bottom: 11px;
  --spectrum-scale-lg-textfield-label-text-font-size: 15px;
  --spectrum-scale-lg-textfield-counter-gap: 8px;
  --spectrum-scale-lg-textfield-asterisk-size: 10px;
  --spectrum-scale-lg-textfield-asterisk-gap: 5px;
  --spectrum-scale-lg-textfield-touch-hit-x: 4px;
  --spectrum-scale-lg-textfield-touch-hit-y: 4px;
  --spectrum-scale-lg-textfield-cursor-hit-x: 10px;
  --spectrum-scale-lg-textfield-text-baseline: 15px;
  --spectrum-scale-lg-textfield-icon-frame: 40px;
  --spectrum-scale-lg-textfield-text-size: 17px;
  --spectrum-scale-lg-textfield-text-line-height: 25px;
  --spectrum-toast-border-radius-default: 4px;
  --spectrum-toast-font-weight-default: 600;
  --spectrum-toast-font-size-default: 14px;
  --spectrum-button-toggle-off-border-size-default: 1px;
  --spectrum-button-toggle-off-border-radius-default: 4px;
  --spectrum-button-toggle-off-font-size-default: 14px;
  --spectrum-button-toggle-off-font-weight-default: 400;
  --spectrum-button-toggle-on-border-size-default: 1px;
  --spectrum-button-toggle-on-border-radius-default: 4px;
  --spectrum-button-toggle-on-font-size-default: 14px;
  --spectrum-button-toggle-on-font-weight-default: 400;
  --spectrum-tooltip-padding-x-default: 10px;
  --spectrum-tooltip-padding-top-default: 4px;
  --spectrum-tooltip-padding-bottom-default: 5px;
  --spectrum-tooltip-icon-margin-x-default: 8px;
  --spectrum-tooltip-tip-height-default: 4px;
  --spectrum-tooltip-tip-width-default: 8px;
  --spectrum-tooltip-tip-margin-default: 8px;
  --spectrum-tooltip-border-radius-default: 4px;
  --spectrum-tooltip-text-baseline-default: 8px;
  --spectrum-tooltip-text-font-size-default: 12px;
  --spectrum-tooltip-text-line-height-default: 16px;
  --spectrum-tooltip-font-weight-default: 400;
  --spectrum-scale-lg-tooltip-padding-x: 13px;
  --spectrum-scale-lg-tooltip-padding-top: 5px;
  --spectrum-scale-lg-tooltip-padding-bottom: 6px;
  --spectrum-scale-lg-tooltip-icon-margin-x: 10px;
  --spectrum-scale-lg-tooltip-tip-height: 5px;
  --spectrum-scale-lg-tooltip-tip-width: 10px;
  --spectrum-scale-lg-tooltip-tip-margin: 10px;
  --spectrum-scale-lg-tooltip-border-radius: 5px;
  --spectrum-scale-lg-tooltip-text-baseline: 10px;
  --spectrum-scale-lg-tooltip-text-font-size: 15px;
  --spectrum-scale-lg-tooltip-text-line-height: 20px;
  --spectrum-treenav-width-default: 304px;
  --spectrum-treenav-listitem-border-width-default: 2px;
  --spectrum-treenav-link-padding-vertical-default: 8px;
  --spectrum-treenav-link-padding-left-default: 30px;
  --spectrum-treenav-link-margin-bottom-default: 6px;
  --spectrum-treenav-icon-margin-right-default: 6px;
  --spectrum-treenav-listitem-group-padding-top-default: 6px;
  --spectrum-treenav-chevron-font-size-default: 14px;
  --spectrum-treenav-chevron-line-height-default: 36px;
  --spectrum-treenav-row-padding-horizontal-default: 6px;
  --spectrum-treenav-wrap-border-radius-default: 4px;
  --spectrum-treenav-list-padding-left-default: 20px;
  --spectrum-treenav-wrap-box-shadow-spread-radius-key-focus: 2px;
  --spectrum-body-font-size-default: 14px;
  --spectrum-body-font-weight-default: 400;
  --spectrum-body-font-line-height-default: 20px;
  --spectrum-body-italic-font-style-default: italic;
  --spectrum-body-large-font-size-default: 18px;
  --spectrum-body-large-font-weight-default: 400;
  --spectrum-body-large-font-line-height-default: 24px;
  --spectrum-body-secondary-font-size-default: 14px;
  --spectrum-body-secondary-font-weight-default: 400;
  --spectrum-body-secondary-font-line-height-default: 20px;
  --spectrum-body-small-font-size-default: 12px;
  --spectrum-body-small-font-weight-default: 400;
  --spectrum-body-small-font-line-height-default: 16px;
  --spectrum-heading-display-font-weight-default: 300;
  --spectrum-heading-display-font-size-default: 40px;
  --spectrum-heading-display-font-line-height-default: 48px;
  --spectrum-heading-page-title-font-weight-default: 300;
  --spectrum-heading-page-title-font-size-default: 28px;
  --spectrum-heading-page-title-font-line-height-default: 32px;
  --spectrum-heading-subtitle1-font-weight-default: 700;
  --spectrum-heading-subtitle1-font-size-default: 18px;
  --spectrum-heading-subtitle1-font-line-height-default: 24px;
  --spectrum-heading-subtitle2-font-weight-default: 700;
  --spectrum-heading-subtitle2-font-size-default: 14px;
  --spectrum-heading-subtitle2-font-line-height-default: 20px;
  --spectrum-heading-subtitle3-text-transform-default: uppercase;
  --spectrum-heading-subtitle3-font-weight-default: 700;
  --spectrum-heading-subtitle3-font-size-default: 11px;
  --spectrum-heading-subtitle3-font-line-height-default: 16px;
  --spectrum-heading-subtitle3-font-letter-spacing-default: 0.06em;
}
