
.spectrum--dark .spectrum-Asset {
  --spectrum-asset-folder-background-color: rgb(74, 74, 74);
  --spectrum-asset-file-background-color: rgb(37, 37, 37);
  --spectrum-asset-icon-outline-color: rgb(110, 110, 110);
}
