
.spectrum--medium .spectrum-Popover {
  --spectrum-global-dimension-size-400: 32px;
  --spectrum-dropdown-flyout-menu-offset-y: 6px;
  --spectrum-popover-border-size: 1px;
  --spectrum-popover-border-radius: 4px;
  --spectrum-popover-tip-width: 20px;
}
