.spectrum--large .spectrum-SplitButton + .spectrum-SplitButton,
  .spectrum--large .spectrum-SplitButton + .spectrum-Button {
    margin-left: 12px;
  }
.spectrum--large .spectrum-Button + .spectrum-SplitButton {
  margin-left: 12px;
}
.spectrum--large .spectrum-SplitButton-action {
  border-radius: 20px 0 0 20px;
}
.spectrum--large .spectrum-SplitButton-action.spectrum-Button--cta {
    margin-right: 2px;
  }
.spectrum--large .spectrum-SplitButton-trigger {

  border-radius: 0 20px 20px 0;
  border-left-width: 0;
  padding-left: 8px;
  padding-right: 10px
}
.spectrum--large .spectrum-SplitButton-icon {
  width: 10px;
  height: 6px;
}
