:root {

  /* Radio button */

  /* Field group */
}

.spectrum-SplitButton {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.spectrum-SplitButton-action {
  border-radius: 16px 0 0 16px;
}

/* CTA is special and doesn't have a border between the buttons */

.spectrum-SplitButton-action.spectrum-Button--cta {
    border-right: 0;
    margin-right: 2px;
  }

.spectrum-SplitButton-trigger {
  margin-left: 0 !important;

  border-radius: 0 16px 16px 0;
  border-left-width: 0;
  padding-left: 8.00004px;
  padding-right: 10px;
}

.spectrum-SplitButton-trigger::after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    margin-top: 1px;
    background-repeat: no-repeat;
    background-position: center center;
  }

.spectrum-SplitButton-action,
.spectrum-SplitButton-trigger {
  position: relative;

  display: block;
  float: left;
}

.spectrum-SplitButton-action:focus, .spectrum-SplitButton-trigger:focus {
    /* Be on top when focused or border leaks */
    z-index: 1;
  }
