:root {

  /* Radio button */
}

/* topdoc
---
name: SplitButton - CTA
description: A CTA split button.
status: Beta
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-SplitButton">
    <button class="spectrum-Button spectrum-Button--cta spectrum-SplitButton-action">Split Button</button>
    <button class="spectrum-Button spectrum-Button--cta spectrum-SplitButton-trigger">
      <svg class="spectrum-Icon spectrum-SplitButton-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

*/

/* topdoc
---
name: SplitButton - Primary
description: A primary split button.
status: Beta
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-SplitButton">
    <button class="spectrum-Button spectrum-Button--primary spectrum-SplitButton-action">Split Button</button>
    <button class="spectrum-Button spectrum-Button--primary spectrum-SplitButton-trigger">
      <svg class="spectrum-Icon spectrum-SplitButton-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

*/

/* topdoc
---
name: SplitButton - Secondary
description: A secondary split button.
status: Beta
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-SplitButton">
    <button class="spectrum-Button spectrum-Button--secondary spectrum-SplitButton-action">Split Button</button>
    <button class="spectrum-Button spectrum-Button--secondary spectrum-SplitButton-trigger">
      <svg class="spectrum-Icon spectrum-SplitButton-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

*/

.spectrum-SplitButton {
  position: relative;
  display: inline-block;
  margin-right: 12px;
}

.spectrum-SplitButton-action {
  border-radius: 16px 0 0 16px;
}

/* CTA is special and doesn't have a border between the buttons */

.spectrum-SplitButton-action.spectrum-Button--cta {
    border-right: 0;
    margin-right: 2px;
  }

.spectrum-SplitButton-trigger {
  margin-left: 0 !important;

  border-radius: 0 16px 16px 0;
  border-left-width: 0;
  padding-left: 8.00004px;
  padding-right: 10px;
}

.spectrum-SplitButton-trigger.focus-ring {
    box-shadow: none;
  }

.spectrum-SplitButton-icon {
  display: block;
  width: 10px;
  height: 6px;
  margin-top: 1px;
}

.spectrum-SplitButton-action,
.spectrum-SplitButton-trigger {
  position: relative;

  display: block;
  float: left;
}

.spectrum-SplitButton-action:focus, .spectrum-SplitButton-trigger:focus {
    /* Be on top when focused or border leaks */
    z-index: 1;
  }
