:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
---
name: Toast - Default
description: The default toast.
markup: |
  <div class="spectrum-Toast">
    <div class="spectrum-Toast-content">This is a toast.</div>
    <button class="spectrum-Toast-closeButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-ToastClose" />
      </svg>
    </button>
  </div>

  <br>

  <div class="spectrum-Toast" style="position: absolute">
    <div class="spectrum-Toast-content">This is a toast.</div>
    <button class="spectrum-Toast-closeButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-ToastClose" />
      </svg>
    </button>
  </div>

*/

.spectrum-Toast {
  position: relative;

  /* Ensure text vertical alignment matches the specs */
  padding: 13px 18px 15px 18px;

  border-radius: 4px;

  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased;
}

.spectrum-Toast-typeIcon {
  position: absolute;
  left: 16px;
  top: 15px;

  width: 18px;
  height: 18px;
  vertical-align: -4px;
}

.spectrum-Toast-content {
  display: block;

  padding-right: 30px;
}

.spectrum-Toast--warning .spectrum-Toast-content, .spectrum-Toast--error .spectrum-Toast-content, .spectrum-Toast--info .spectrum-Toast-content, .spectrum-Toast--success .spectrum-Toast-content {
    padding-left: 28px;
  }

.spectrum-Toast-closeButton {
  position: absolute;
  right: 8px;
  top: 8px;

  padding: 0;

  width: 32px;
  height: 32px;

  border: none;
  border-radius: 18px;

  background-color: transparent;

  transition: background-color 125ms ease-in-out;

  cursor: pointer;
}

.spectrum-Toast-closeButton .spectrum-Icon {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 8px;
    height: 8px;
  }

.spectrum-Toast-closeButton:focus {
    outline: none;
  }
