/* topdoc
{{ tooltip/tooltip-default.yml }}
*/
.spectrum-Tooltip .spectrum-Tooltip-content,
  .spectrum-Tooltip .spectrum-Tooltip-tip::after {
    background-color: rgb(112, 112, 112);
    color: rgb(255, 255, 255);
  }
/* topdoc
{{ tooltip/tooltip-error.yml }}
*/
.spectrum-Tooltip--error .spectrum-Tooltip-content,
  .spectrum-Tooltip--error .spectrum-Tooltip-tip::after {
    background-color: rgb(236, 91, 98);
  }
/* topdoc
{{ tooltip/tooltip-info.yml }}
*/
.spectrum-Tooltip--info .spectrum-Tooltip-content,
  .spectrum-Tooltip--info .spectrum-Tooltip-tip::after {
    background-color: rgb(55, 142, 240);
  }
/* topdoc
{{ tooltip/tooltip-success.yml }}
*/
.spectrum-Tooltip--success .spectrum-Tooltip-content,
  .spectrum-Tooltip--success .spectrum-Tooltip-tip::after {
    background-color: rgb(51, 171, 132);
  }
