
.spectrum-Avatar {
  --spectrum-avatar-small-width: var(--spectrum-global-dimension-size-200);
  --spectrum-avatar-small-height: var(--spectrum-global-dimension-size-200);
  --spectrum-avatar-small-border-radius: 50%;
}
