
.spectrum--lightest .spectrum-BarLoader {
  --spectrum-barloader-large-track-color: rgb(234, 234, 234);
  --spectrum-barloader-large-track-fill-color: rgb(38, 128, 235);
  --spectrum-barloader-large-over-background-track-color: rgba(255,255,255,0.2);
  --spectrum-barloader-large-over-background-track-fill-color: rgb(255, 255, 255);
  --spectrum-fieldlabel-text-color: rgb(116, 116, 116);
  --spectrum-meter-large-track-color-positive: rgb(51, 171, 132);
  --spectrum-meter-large-track-color-warning: rgb(242, 148, 35);
  --spectrum-meter-large-track-color-critical: rgb(236, 91, 98);
}
