
.spectrum--dark .spectrum-Dropdown {
  --spectrum-dropdown-placeholder-text-color: rgb(144, 144, 144);
  --spectrum-dropdown-icon-color: rgb(185, 185, 185);
  --spectrum-dropdown-placeholder-text-color-hover: rgb(255, 255, 255);
  --spectrum-dropdown-icon-color-hover: rgb(255, 255, 255);
  --spectrum-dropdown-placeholder-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-dropdown-icon-color-key-focus: rgb(255, 255, 255);
  --spectrum-dropdown-placeholder-text-color-disabled: rgb(110, 110, 110);
  --spectrum-dropdown-icon-color-disabled: rgb(90, 90, 90);
  --spectrum-dropdown-placeholder-text-color-down: rgb(255, 255, 255);
  --spectrum-dropdown-placeholder-text-color-mouse-focus: rgb(255, 255, 255);
  --spectrum-dropdown-validation-icon-color-error: rgb(247, 109, 116);
}
