/* For documentation beautification only - DO NOT COPY */

.dummy-spacing {
  height: 160px;
}

@keyframes spectrum-wait-spinner-small-animation {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -960px center;
  }
}

@keyframes spectrum-wait-spinner-medium-animation {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -1920px center;
  }
}

@keyframes spectrum-wait-spinner-large-animation {
  from {
    background-position: 0 center;
  }
  to {
    background-position: -3840px center;
  }
}

/* dots wait (three dots) */

@keyframes spectrum-wait-dots-small-animation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -960px center;
  }
}

@keyframes spectrum-wait-dots-medium-animation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -1280px center;
  }
}

@keyframes spectrum-wait-dots-large-animation {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -2560px center;
  }
}

/* topdoc
---
name: Wait - Default (Radial) - Small
description: A Spectrum Wait of default type (radial) in default size (small)
markup: |
  <span class="spectrum-Wait"></span>

*/

.spectrum-Wait {
  display: inline-block;

  background-size: auto 100%;
  background-repeat: no-repeat;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(60);

  width: 16px;
  height: 16px;

  animation-name: spectrum-wait-spinner-small-animation;
}

/* topdoc
---
name: Wait - Default (Radial) - Medium
description: A Spectrum Wait of default type (radial) in medium size
markup: |
  <span class="spectrum-Wait spectrum-Wait--medium"></span>

*/

.spectrum-Wait--medium {
  width: 32px;
  height: 32px;

  animation-name: spectrum-wait-spinner-medium-animation;
}

/* topdoc
---
name: Wait - Default (Radial) - Large
description: A Spectrum Wait of default type (radial) in large size
markup: |
  <span class="spectrum-Wait spectrum-Wait--large"></span>

*/

.spectrum-Wait--large {
  width: 64px;
  height: 64px;

  animation-name: spectrum-wait-spinner-large-animation;
}

.spectrum-Wait--centered {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -8px;
  margin-left: -8px;
}

.spectrum-Wait--centered.spectrum-Wait--medium {
    margin-top: -16px;
    margin-left: -16px;
  }

.spectrum-Wait--centered.spectrum-Wait--large {
    margin-top: -32px;
    margin-left: -32px;
  }

/* topdoc
---
name: Wait - Dots - Small
description: A Spectrum wait of 'dots' type in the default (small) size
markup: |
  <span class="spectrum-Wait spectrum-Wait--dots"></span>

*/

.spectrum-Wait--dots {
  background-repeat: no-repeat;

  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(40);

  width: 24px;
  height: 9px;

  background-size: auto 9px;

  animation-name: spectrum-wait-dots-small-animation;
}

.spectrum-Wait--dots.spectrum-Wait--centered {
    margin-top: -4.5px;
    margin-left: -12px;
  }

/* topdoc
---
name: Wait - Dots - Medium
description:  A Spectrum wait of 'dots' type in the medium size
markup: |
  <span class="spectrum-Wait spectrum-Wait--dots spectrum-Wait--medium"></span>

*/

.spectrum-Wait--dots.spectrum-Wait--medium {
    width: 32px;
    height: 12px;

    background-size: auto 12px;

    animation-name: spectrum-wait-dots-medium-animation;
  }

.spectrum-Wait--dots.spectrum-Wait--medium.spectrum-Wait--centered {
      margin-top: -6px;
      margin-left: -16px;
    }

/* topdoc
---
name: Wait - Dots - Large
description: A Spectrum wait of 'dots' type in the ;arge size
markup: |
  <span class="spectrum-Wait spectrum-Wait--dots spectrum-Wait--large"></span>

*/

.spectrum-Wait--dots.spectrum-Wait--large {
    width: 64px;
    height: 24px;

    background-size: auto 24px;

    animation-name: spectrum-wait-dots-large-animation;
  }

.spectrum-Wait--dots.spectrum-Wait--large.spectrum-Wait--centered {
      margin-top: -12px;
      margin-left: -32px;
    }
