
.spectrum--light .spectrum-Link {
  --spectrum-link-text-color: rgb(13, 102, 208);
  --spectrum-link-text-color-hover: rgb(13, 102, 208);
  --spectrum-link-text-color-down: rgb(9, 90, 186);
  --spectrum-link-text-color-key-focus: rgb(13, 102, 208);
  --spectrum-link-text-color-disabled: rgb(179, 179, 179);
  --spectrum-link-over-background-text-color: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-hover: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-down: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-disabled: rgba(255,255,255,0.5);
}
