.spectrum-Shell {
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
.spectrum-Shell .spectrum-Tabs-item {
    top: 1px;
  }
.spectrum-Shell .spectrum-Button--icon {
    width: 18px;
    height: 18px;
  }
.spectrum-Shell-leftContainer,  .spectrum-Shell-rightContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.spectrum-Shell-logoIcon {
  height: 24px;
  width: 24px;
  position: relative;
  margin-right: 12px;
}
.spectrum-Shell-logoLabel {
  margin-right: 72px;
}
.spectrum-Shell-rightContainer > * {
  margin: 0 14px;
}
.spectrum-Shell-rightContainer > *:first-child {
    margin-left: 28px;
  }
.spectrum-Shell-rightContainer > *:last-child {
    margin-right: 0;
  }
.spectrum-Shell-avatar {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  position: relative;
}
.spectrum-Shell-avatar img {
    width: 100%;
    height: 100%;
  }
