
.spectrum--dark .spectrum-Link {
  --spectrum-link-text-color: rgb(75, 156, 245);
  --spectrum-link-text-color-hover: rgb(75, 156, 245);
  --spectrum-link-text-color-down: rgb(90, 169, 250);
  --spectrum-link-text-color-key-focus: rgb(75, 156, 245);
  --spectrum-link-text-color-disabled: rgb(110, 110, 110);
  --spectrum-link-over-background-text-color: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-hover: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-down: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-link-over-background-text-color-disabled: rgba(255,255,255,0.5);
}
