.spectrum--large .spectrum-InputGroup {
  min-width: 192px;
}
.spectrum--large .spectrum-InputGroup .spectrum-FieldButton {
    padding: 0 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
.spectrum--large .spectrum-InputGroup-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.spectrum--large .spectrum-InputGroup-icon {
  width: 10px;
  height: 10px;
}
.spectrum--large .spectrum-InputGroup--quiet .spectrum-FieldButton {
    border-radius: 0;
    border-bottom: 1px solid
  }
