
.spectrum--dark .spectrum-Tabs {
  --spectrum-tabs-text-color: rgb(185, 185, 185);
  --spectrum-tabs-icon-color: rgb(185, 185, 185);
  --spectrum-tabs-selection-indicator-color: rgb(255, 255, 255);
  --spectrum-tabs-focus-ring-color: rgb(38, 128, 235);
  --spectrum-tabs-rule-color: rgb(62, 62, 62);
  --spectrum-tabs-text-color-hover: rgb(255, 255, 255);
  --spectrum-tabs-icon-color-hover: rgb(255, 255, 255);
  --spectrum-tabs-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-tabs-icon-color-key-focus: rgb(255, 255, 255);
  --spectrum-tabs-text-color-disabled: rgb(110, 110, 110);
  --spectrum-tabs-icon-color-disabled: rgb(90, 90, 90);
  --spectrum-tabs-text-color-selected: rgb(255, 255, 255);
  --spectrum-tabs-icon-color-selected: rgb(255, 255, 255);
  --spectrum-tabs-quiet-selection-indicator-color: rgb(255, 255, 255);
  --spectrum-tabs-quiet-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-quiet-vertical-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-vertical-rule-color: rgb(62, 62, 62);
}
