.spectrum--large .spectrum-SelectList-checkmark {

  width: 12px;
  height: 12px;
}
.spectrum--large .spectrum-SelectList-item {

  padding: 0 36px 0 12px;

  height: 32px;
  line-height: 32px;

  font-size: 17px;
  font-weight: 400;
}
.spectrum--large .spectrum-SelectList-divider {

  height: 2px;
  margin: 3px 12px;
}
