.spectrum--large .spectrum-SelectList-checkmark {

  width: 12px;
  height: 12px;
}
.spectrum--large .spectrum-SelectList-item {

  padding: 0 36px 0 12px;

  height: 32px;
  line-height: 32px;

  font-size: 17px;
  font-weight: 400;
}
.spectrum--large .spectrum-SelectList-divider {

  height: 2px;
  margin: 3px 12px;
}
.spectrum--large .spectrum-SelectList-sectionHeading {
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin: 4px 0;
  padding: 0 36px 0 12px;
}
