:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
---
name: Miller - Default
description: The default spectrum miller column
markup: |
  <div class="spectrum-MillerColumns">
    <ul class="spectrum-MillerColumn">
      <li class="spectrum-MillerColumn-item is-branch is-branch-selectable" tabindex="0">
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <span class="spectrum-MillerColumn-itemLabel">Action 1</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item is-branch is-branch-selectable is-selected" tabindex="0">
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-1" checked>
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <span class="spectrum-MillerColumn-itemLabel">Action 2</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item is-branch is-branch-selectable" tabindex="0">
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-2">
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <img src="img/example-ava.jpg" class="spectrum-MillerColumn-itemThumbnail">
        <span class="spectrum-MillerColumn-itemLabel">Action 3</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
    </ul>
    <ul class="spectrum-MillerColumn">
      <li class="spectrum-MillerColumn-item is-branch is-branch-selectable" tabindex="0">
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-0">
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <span class="spectrum-MillerColumn-itemLabel">Action 1</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item is-branch-selectable is-selected" tabindex="0">
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-1" checked>
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <span class="spectrum-MillerColumn-itemLabel">Action 2</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item is-branch-selectable is-selected" tabindex="0">
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-2" checked>
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <img src="img/example-ava.jpg" class="spectrum-MillerColumn-itemThumbnail">
        <span class="spectrum-MillerColumn-itemLabel">Action 3</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
    </ul>
  </div>

  <div class="dummy-spacing"></div>
  Files select
  <div class="spectrum-MillerColumns">
    <ul class="spectrum-MillerColumn">
      <li class="spectrum-MillerColumn-item is-branch" tabindex="0">
        <span class="spectrum-MillerColumn-itemLabel">Action 1</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item" tabindex="0">
        <span class="spectrum-MillerColumn-itemLabel">Action 2</span>
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-1">
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item is-navigated is-branch" tabindex="0">
        <img src="img/example-ava.jpg" class="spectrum-MillerColumn-itemThumbnail">
        <span class="spectrum-MillerColumn-itemLabel">Action 3</span></span>

        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
    </ul>

    <ul class="spectrum-MillerColumn">
      <li class="spectrum-MillerColumn-item is-branch" tabindex="0">
        <span class="spectrum-MillerColumn-itemLabel">Action 1</span>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item" tabindex="0">
        <span class="spectrum-MillerColumn-itemLabel">Action 2</span>
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-1">
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
      <li class="spectrum-MillerColumn-item is-selected" tabindex="0">
        <img src="img/example-ava.jpg" class="spectrum-MillerColumn-itemThumbnail">
        <span class="spectrum-MillerColumn-itemLabel">Action 3</span>
        <label class="spectrum-Checkbox">
          <input type="checkbox" class="spectrum-Checkbox-input" id="checkbox-2" checked>
          <span class="spectrum-Checkbox-box">
            <svg class="spectrum-Icon spectrum-Checkbox-checkmark" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-css-icon-CheckboxCheckmark" />
            </svg>
          </span>
        </label>
        <svg class="spectrum-Icon spectrum-MillerColumn-childIndicator" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-css-icon-MillerColumnRightChevron" />
        </svg>
      </li>
    </ul>
  </div>

*/

.spectrum-MillerColumn {
  display: inline-block;
  width: 272px;
}

.spectrum-MillerColumn-childIndicator {
  display: none;
  width: 6px;
  height: 10px;
  transition: transform ease 125ms;
}

.spectrum-MillerColumn-item {
  cursor: pointer;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 0 16px 0 16px;
  margin-bottom: 4px;
  font-size: 0.875rem;
  font-weight: 400;
  font-style: normal;
  height: 40px;
  border-radius: 4px;
  -ms-flex-align: center;
      align-items: center;
  width: 272px;
}

/* checkbox on the left, shows up always */

.spectrum-MillerColumn-item.is-branch-selectable .spectrum-Checkbox, .spectrum-MillerColumn-item.is-selected .spectrum-Checkbox, .spectrum-MillerColumn-item:hover .spectrum-Checkbox {
      display: inline-block;
    }

/* show chevron */

.spectrum-MillerColumn-item.is-branch .spectrum-MillerColumn-childIndicator {
      display: block;
    }

.spectrum-MillerColumn-item .spectrum-Checkbox {
    display: none;
  }

.spectrum-MillerColumn-item .spectrum-MillerColumn-itemThumbnail {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    vertical-align: middle;
  }

.spectrum-MillerColumn-itemLabel {
  -ms-flex: 1;
      flex: 1;
  padding-left: 8px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

