
.spectrum--medium .spectrum-TreeView {
  --spectrum-global-dimension-size-25: 2px;
  --spectrum-global-dimension-size-65: 5px;
  --spectrum-global-dimension-size-125: 10px;
  --spectrum-global-dimension-size-400: 32px;
  --spectrum-treeview-item-height: 36px;
  --spectrum-treeview-item-border-radius: 4px;
  --spectrum-treeview-item-border-size: 2px;
  --spectrum-treeview-item-padding-y: 8px;
  --spectrum-treeview-item-margin-y: 8px;
  --spectrum-treeview-item-padding-x: 30px;
  --spectrum-treeview-item-indent: 28px;
  --spectrum-treeview-item-icon-gap: 8px;
}
