
.spectrum--lightest .spectrum-Tabs {
  --spectrum-tabs-text-color: rgb(116, 116, 116);
  --spectrum-tabs-icon-color: rgb(116, 116, 116);
  --spectrum-tabs-selection-indicator-color: rgb(50, 50, 50);
  --spectrum-tabs-focus-ring-color: rgb(55, 142, 240);
  --spectrum-tabs-rule-color: rgb(244, 244, 244);
  --spectrum-tabs-text-color-hover: rgb(50, 50, 50);
  --spectrum-tabs-icon-color-hover: rgb(50, 50, 50);
  --spectrum-tabs-text-color-key-focus: rgb(50, 50, 50);
  --spectrum-tabs-icon-color-key-focus: rgb(50, 50, 50);
  --spectrum-tabs-text-color-disabled: rgb(188, 188, 188);
  --spectrum-tabs-icon-color-disabled: rgb(211, 211, 211);
  --spectrum-tabs-text-color-selected: rgb(50, 50, 50);
  --spectrum-tabs-icon-color-selected: rgb(50, 50, 50);
  --spectrum-tabs-quiet-selection-indicator-color: rgb(50, 50, 50);
  --spectrum-tabs-quiet-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-quiet-vertical-rule-color: rgba(0, 0, 0, 0);
  --spectrum-tabs-vertical-rule-color: rgb(244, 244, 244);
}
