
.spectrum--darkest .spectrum-Radio {
  --spectrum-radio-text-color: rgb(200, 200, 200);
  --spectrum-radio-circle-border-color: rgb(124, 124, 124);
  --spectrum-radio-circle-background-color: rgb(26, 26, 26);
  --spectrum-radio-text-color-hover: rgb(239, 239, 239);
  --spectrum-radio-circle-border-color-hover: rgb(162, 162, 162);
  --spectrum-radio-text-color-down: rgb(239, 239, 239);
  --spectrum-radio-circle-border-color-down: rgb(200, 200, 200);
  --spectrum-radio-text-color-key-focus: rgb(55, 142, 240);
  --spectrum-radio-circle-border-color-key-focus: rgb(20, 115, 230);
  --spectrum-radio-text-color-disabled: rgb(92, 92, 92);
  --spectrum-radio-circle-border-color-disabled: rgb(73, 73, 73);
  --spectrum-radio-circle-border-color-selected: rgb(38, 128, 235);
  --spectrum-radio-circle-border-color-selected-hover: rgb(55, 142, 240);
  --spectrum-radio-circle-border-color-selected-down: rgb(75, 156, 245);
  --spectrum-radio-circle-border-color-error: rgb(227, 72, 80);
  --spectrum-radio-circle-border-color-error-hover: rgb(236, 91, 98);
  --spectrum-radio-circle-border-color-error-down: rgb(247, 109, 116);
  --spectrum-radio-quiet-circle-border-color-selected: rgb(162, 162, 162);
  --spectrum-radio-quiet-circle-border-color-selected-hover: rgb(200, 200, 200);
  --spectrum-radio-quiet-circle-border-color-selected-down: rgb(239, 239, 239);
}
