
.spectrum--light .spectrum-ToggleSwitch {
  --spectrum-switch-text-color: rgb(75, 75, 75);
  --spectrum-switch-handle-border-color: rgb(142, 142, 142);
  --spectrum-switch-handle-background-color: rgb(250, 250, 250);
  --spectrum-switch-track-color: rgb(225, 225, 225);
  --spectrum-switch-text-color-hover: rgb(44, 44, 44);
  --spectrum-switch-handle-border-color-hover: rgb(110, 110, 110);
  --spectrum-switch-text-color-down: rgb(44, 44, 44);
  --spectrum-switch-handle-border-color-down: rgb(75, 75, 75);
  --spectrum-switch-text-color-key-focus: rgb(13, 102, 208);
  --spectrum-switch-handle-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-switch-text-color-disabled: rgb(179, 179, 179);
  --spectrum-switch-handle-border-color-disabled: rgb(202, 202, 202);
  --spectrum-switch-track-color-disabled: rgb(225, 225, 225);
  --spectrum-switch-handle-border-color-selected: rgb(20, 115, 230);
  --spectrum-switch-track-color-selected: rgb(20, 115, 230);
  --spectrum-switch-handle-border-color-selected-hover: rgb(13, 102, 208);
  --spectrum-switch-track-color-selected-hover: rgb(13, 102, 208);
  --spectrum-switch-handle-border-color-selected-down: rgb(9, 90, 186);
  --spectrum-switch-track-color-selected-down: rgb(9, 90, 186);
  --spectrum-switch-text-color-selected-key-focus: rgb(13, 102, 208);
  --spectrum-switch-track-color-selected-key-focus: rgb(38, 128, 235);
  --spectrum-switch-handle-border-color-selected-key-focus: rgb(38, 128, 235);
  --spectrum-switch-text-color-selected-disabled: rgb(179, 179, 179);
  --spectrum-switch-track-color-selected-disabled: rgb(202, 202, 202);
  --spectrum-switch-handle-border-color-selected-disabled: rgb(202, 202, 202);
  --spectrum-switch-quiet-handle-border-color-selected: rgb(110, 110, 110);
  --spectrum-switch-quiet-track-color-selected: rgb(110, 110, 110);
  --spectrum-switch-quiet-handle-border-color-selected-hover: rgb(75, 75, 75);
  --spectrum-switch-quiet-track-color-selected-hover: rgb(75, 75, 75);
  --spectrum-switch-quiet-handle-border-color-selected-down: rgb(44, 44, 44);
  --spectrum-switch-quiet-track-color-selected-down: rgb(44, 44, 44);
}
