
.spectrum--darkest .spectrum-StatusLight {
  --spectrum-statuslight-text-color: rgb(200, 200, 200);
  --spectrum-statuslight-text-color-disabled: rgb(92, 92, 92);
  --spectrum-statuslight-dot-color-disabled: rgb(73, 73, 73);
  --spectrum-statuslight-dot-color-label-celery: rgb(61, 167, 78);
  --spectrum-statuslight-dot-color-label-chartreuse: rgb(124, 195, 63);
  --spectrum-statuslight-dot-color-label-yellow: rgb(210, 178, 0);
  --spectrum-statuslight-dot-color-label-magenta: rgb(202, 41, 150);
  --spectrum-statuslight-dot-color-label-fuchsia: rgb(177, 48, 189);
  --spectrum-statuslight-dot-color-label-purple: rgb(134, 76, 204);
  --spectrum-statuslight-dot-color-label-indigo: rgb(92, 92, 224);
  --spectrum-statuslight-dot-color-label-seafoam: rgb(22, 135, 140);
  --spectrum-statuslight-info-dot-color: rgb(20, 115, 230);
  --spectrum-statuslight-negative-dot-color: rgb(215, 55, 63);
  --spectrum-statuslight-neutral-text-color: rgb(162, 162, 162);
  --spectrum-statuslight-neutral-dot-color: rgb(92, 92, 92);
  --spectrum-statuslight-notice-dot-color: rgb(218, 123, 17);
  --spectrum-statuslight-positive-dot-color: rgb(38, 142, 108);
}
