/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-Calendar-prevMonth::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='16' viewBox='0 0 12 16'%3E%3Cpath style='fill:rgb%28112%2C 112%2C 112%29' d='M.5%2C7.99871a1.24041%2C1.24041%2C0%2C0%2C0%2C.3856.89671l-.0028.003%2C7%2C6.74783.0025-.0031a1.2457%2C1.2457%2C0%2C1%2C0%2C1.7459-1.77732l-.0165-.01591.003-.0031L3.55%2C7.99871%2C9.6177%2C2.15l-.0027-.0027A1.24569%2C1.24569%2C0%2C1%2C0%2C7.89626.34371L7.885.35457%2C7.8823.35187%2C7.8666.367l-.0009.0008L.8828%2C7.099l.0027.0029A1.24041%2C1.24041%2C0%2C0%2C0%2C.5%2C7.99871Z'/%3E%3C/svg%3E");
}
.spectrum-Calendar-nextMonth::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='16' viewBox='0 0 12 16'%3E%3Cpath style='fill:rgb%28112%2C 112%2C 112%29' d='M11.5%2C8.00129a1.24041%2C1.24041%2C0%2C0%2C0-.3856-.89671l.0028-.003-7-6.74783-.0025.0031A1.2457%2C1.2457%2C0%2C1%2C0%2C2.3688%2C2.13416l.0165.01591-.003.0031L8.45%2C8.00129%2C2.3823%2C13.85l.0027.0027a1.24569%2C1.24569%2C0%2C1%2C0%2C1.71874%2C1.80358l.01126-.01086.0027.0027.0157-.01509.0009-.0008L11.1172%2C8.901l-.0027-.0029A1.24041%2C1.24041%2C0%2C0%2C0%2C11.5%2C8.00129Z'/%3E%3C/svg%3E");
}
.spectrum-Calendar-dayOfWeek {
  color: rgb(112, 112, 112);
}
.spectrum-Calendar-date:hover {
    color: rgb(44, 44, 44);
  }
.spectrum-Calendar-date:hover:not(.is-range-end):not(.is-range-start):before {
        background: rgba(44, 44, 44, .06);
      }
.spectrum-Calendar-date:hover.is-selected {
      color: rgb(44, 44, 44);
    }
.spectrum-Calendar-date:hover.is-selected:not(.is-range-end):not(.is-range-start):before {
          background: rgba(20, 115, 230, .2);
        }
.spectrum-Calendar-date:hover .is-range-selection:before {
        background: rgba(20, 115, 230, .2);
      }
.spectrum-Calendar-date:active {
    background-color: rgba(44, 44, 44, .1);
  }
.spectrum-Calendar-date.is-selected {
    color: rgb(44, 44, 44);
    background: rgba(20, 115, 230, .1);
  }
.spectrum-Calendar-date.is-selected:not(.is-range-selection) {
    font-weight: 700;
    background: rgba(20, 115, 230, .2);
  }
.spectrum-Calendar-date.is-today {
    color: rgb(75, 75, 75);
    font-weight: 700;
  }
.spectrum-Calendar-date.is-today:before {
      border-color: rgb(75, 75, 75);
    }
.spectrum-Calendar-date.is-today:hover.is-selected:before {
          background: rgba(20, 115, 230, .2);
        }
.spectrum-Calendar-date.is-today.is-disabled {
      color: rgb(179, 179, 179);
    }
.spectrum-Calendar-date.is-today.is-disabled:before {
        border-color: rgb(202, 202, 202);
      }
.spectrum-Calendar-date.is-focused:not(.is-range-selection) {
    background: rgba(44, 44, 44, .06);
    border-color: rgb(38, 128, 235);
    color: rgb(44, 44, 44);
  }
.spectrum-Calendar-date.is-focused:not(.is-range-selection).is-today {
      border-color: rgb(38, 128, 235);
    }
.spectrum-Calendar-date.is-focused:not(.is-range-selection):active,
    .spectrum-Calendar-date.is-focused:not(.is-range-selection).is-selected {
      color: rgb(44, 44, 44);
      background: rgba(20, 115, 230, .2);
      border-color: rgb(38, 128, 235);
    }
.spectrum-Calendar-date.is-disabled {
    color: rgb(179, 179, 179);
  }
.spectrum-Calendar-date.is-range-start,
  .spectrum-Calendar-date.is-range-end {
    color: rgb(44, 44, 44);
  }
.spectrum-Calendar-date.is-range-start:after, .spectrum-Calendar-date.is-range-end:after {
      background-color: rgba(20, 115, 230, .1);
    }
