/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--lightest {

/* topdoc
---
name: Breadcrumb - Default
description: The default Spectrum breadcrumb
modifiers:
  ':hover': Hover state
  ':focus': Focused
  ':active': Active state
markup: |
  <nav>
    <ul class="spectrum-Breadcrumbs">
      <li class="spectrum-Breadcrumb"><a class="spectrum-Breadcrumb-link" href="#">Nike</a></li>
      <li class="spectrum-Breadcrumb"><a class="spectrum-Breadcrumb-link" role="link" tabindex="0">Mens</a></li>
      <li class="spectrum-Breadcrumb"><a class="spectrum-Breadcrumb-link" role="link" aria-current="page">Summer 2016</a></li>
    </ul>
  </nav>

*/

/* topdoc
---
name: Breadcrumb - Title
description: A Spectrum 'page title' breadcrumb
modifiers:
  ':hover': Hover state
  ':focus': Focused
  ':active': Active state
markup: |
  <nav>
    <ul class="spectrum-Breadcrumbs spectrum-Breadcrumbs--title">
      <li class="spectrum-Breadcrumb"><a class="spectrum-Breadcrumb-link" href="#">Home</a></li>
      <li class="spectrum-Breadcrumb"><a class="spectrum-Breadcrumb-link" role="link" tabindex="0">Playground</a></li>
      <li class="spectrum-Breadcrumb">
        <h1 class="spectrum-Heading--page-title">
          <a class="spectrum-Breadcrumb-link" role="link" aria-current="page">Sliders</a>
        </h1>
      </li>
    </ul>
  </nav>

*/
}
.spectrum--lightest .spectrum-Breadcrumb {
  color: rgb(118, 118, 118);
}
.spectrum--lightest .spectrum-Breadcrumb .spectrum-Breadcrumb-link {
    color: inherit;
    text-decoration: none;
  }
.spectrum--lightest .spectrum-Breadcrumb .spectrum-Breadcrumb-link:hover {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-Breadcrumb .spectrum-Breadcrumb-link:focus {
      color: rgb(20, 115, 230);
      outline: 0;
      border-bottom: 2px solid rgb(20, 115, 230);
    }
.spectrum--lightest .spectrum-Breadcrumb .spectrum-Breadcrumb-link:active {
      color: rgb(50, 50, 50);
      border-bottom: 0;
    }
.spectrum--lightest .spectrum-Breadcrumb .spectrum-Breadcrumb-link::after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='7' viewBox='0 0 4 7'%3E%3Cpath style='fill:rgb%28118%2C 118%2C 118%29' d='M4%2C3.5a.4982.4982%2C0%2C0%2C0-.1468-.3538L.8538.1468A.5.5%2C0%2C1%2C0%2C.1465.8535L2.793%2C3.5.1467%2C6.1463a.5.5%2C0%2C1%2C0%2C.707.707l3-3A.4983.4983%2C0%2C0%2C0%2C4%2C3.5Z'/%3E%3C/svg%3E");
    }
.spectrum--lightest .spectrum-Breadcrumb.is-selected,
  .spectrum--lightest .spectrum-Breadcrumb:last-of-type {
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Breadcrumb.is-selected ~ .spectrum-Breadcrumb:last-of-type {
        color: rgb(118, 118, 118);
      }
.spectrum--lightest .spectrum-Breadcrumb.is-selected .spectrum-Breadcrumb-link:focus {
        color: rgb(50, 50, 50);
        border-bottom: 0;
      }
