
.spectrum--medium .spectrum-Dropdown {
  --spectrum-global-dimension-size-2400: 192px;
  --spectrum-global-dimension-size-3000: 240px;
  --spectrum-dropdown-placeholder-text-font-style: italic;
  --spectrum-dropdown-placeholder-text-font-weight: 400;
  --spectrum-dropdown-text-size: 14px;
  --spectrum-dropdown-icon-size: 18px;
  --spectrum-dropdown-border-size: 1px;
  --spectrum-dropdown-height: 32px;
  --spectrum-dropdown-min-width: 48px;
  --spectrum-dropdown-padding-x: 12px;
  --spectrum-dropdown-icon-gap: 8px;
  --spectrum-dropdown-icon-margin-left: 12px;
  --spectrum-dropdown-quiet-min-width: 48px;
  --spectrum-dropdown-quiet-popover-offset-x: 12px;
  --spectrum-icon-chevron-down-medium-height: 6px;
  --spectrum-popover-border-size: 1px;
  --spectrum-selectlist-thumbnail-image-padding-x: 8px;
}
