
.spectrum--large .spectrum-StatusLight {
  --spectrum-global-dimension-size-75: 8px;
  --spectrum-statuslight-text-font-weight: 400;
  --spectrum-statuslight-text-size: 17px;
  --spectrum-statuslight-height: 40px;
  --spectrum-statuslight-text-gap: 15px;
  --spectrum-statuslight-dot-size: 10px;
}
