/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum--darkest .spectrum-Popover {
  background-color: rgb(8, 8, 8);
  border-color: rgb(45, 45, 45);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}
.spectrum--darkest .spectrum-Popover .spectrum-Dialog-header,
  .spectrum--darkest .spectrum-Popover .spectrum-Dialog-footer,
  .spectrum--darkest .spectrum-Popover .spectrum-Dialog-wrapper {
    background-color: transparent;
  }
.spectrum--darkest .spectrum-Popover .spectrum-Popover-tip::after {
    background-color: rgb(8, 8, 8);
    border-color: rgb(45, 45, 45);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  }
