
.spectrum--lightest .spectrum-CoachMarkPopover,
.spectrum--lightest .spectrum-CoachMarkIndicator {
  --spectrum-coachmark-indicator-ring-default-color: rgb(55, 142, 240);
  --spectrum-coachmark-indicator-ring-low-contrast-color: rgb(255, 255, 255);
  --spectrum-coachmark-indicator-ring-high-contrast-color: rgb(50, 50, 50);
  --spectrum-coachmark-background-color: rgb(255, 255, 255);
  --spectrum-coachmark-shadow-color: rgba(0,0,0,0.15);
  --spectrum-coachmark-border-color: rgb(211, 211, 211);
  --spectrum-coachmark-title-text-color: rgb(50, 50, 50);
  --spectrum-coachmark-content-text-color: rgb(80, 80, 80);
  --spectrum-coachmark-step-text-color: rgb(116, 116, 116);
}
