.spectrum--large .spectrum-Pagination-input {
  width: 48px;
  min-width: 48px;
}
.spectrum--large .spectrum-Pagination-counter {
  height: 32px;
  line-height: 32px;
  margin-left: 5px;
}
.spectrum--large .spectrum-Pagination-directionButton {
  font-size: 15px;
}
.spectrum--large .spectrum-Pagination-pageButton {
  width: 32px;
  height: 32px;
  line-height: 26px;
  margin: 0 5px;
  border: 2px solid transparent;
  transition: background-color 125ms ease-in-out,
              color 125ms ease-in-out,
              border-color 125ms ease-in-out;
}
.spectrum--large .spectrum-Pagination-prevButton {
  border-radius: 20px 0 0 20px;
  padding-right: 6px;
  padding-left: 6px
}
.spectrum--large .spectrum-Pagination-nextButton {
  border-radius: 0 20px 20px 0;
}
.spectrum--large .spectrum-Pagination-nextButton.spectrum-Button--cta {
    margin-left: 2px !important;
  }
.spectrum--large .spectrum-Pagination-prevButton .spectrum-Icon, .spectrum--large .spectrum-Pagination-nextButton .spectrum-Icon {
    width: 7px;
    height: 10px;
  }
