/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
/* topdoc
---
name: Cycle Button - Default
description: A Spectrum cycle button
markup: |
  <button class="spectrum-CycleButton">
    <svg class="spectrum-Icon spectrum-Icon--sizeS is-active" focusable="false" aria-hidden="true" aria-label="Folder">
      <use xlink:href="#spectrum-icon-18-PlayCircle" />
    </svg>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="PauseCircle">
      <use xlink:href="#spectrum-icon-18-PauseCircle" />
    </svg>
  </button>

*/
.spectrum-CycleButton {
  background-color: transparent;
}
.spectrum-CycleButton .spectrum-Icon {
    color: rgb(133, 133, 133);
  }
.spectrum-CycleButton:hover .spectrum-Icon {
      color: rgb(226, 226, 226);
    }
.spectrum-CycleButton:active {
    background-color: rgb(45, 45, 45);
  }
.spectrum-CycleButton:focus {
    /* we cannot achieve rounded corners with outline so we use box-shadow instead */
    box-shadow: 0px 0px 0px 2px rgb(20, 115, 230) inset;
  }
.spectrum-CycleButton:focus .spectrum-Icon {
      color: rgb(226, 226, 226);
    }
