
.spectrum--dark .spectrum-Rule {
  --spectrum-rule-large-background-color: rgb(227, 227, 227);
  --spectrum-rule-medium-background-color: rgb(74, 74, 74);
  --spectrum-rule-small-background-color: rgb(74, 74, 74);
}
