
.spectrum--medium .spectrum-Tabs {
  --spectrum-global-dimension-size-40: 3px;
  --spectrum-tabs-compact-vertical-item-height: 32px;
  --spectrum-tabs-compact-vertical-item-gap: 4px;
  --spectrum-tabs-text-font-weight: 400;
  --spectrum-tabs-text-size: 14px;
  --spectrum-tabs-height: 48px;
  --spectrum-tabs-icon-gap: 8px;
  --spectrum-tabs-rule-border-radius: 1px;
  --spectrum-tabs-focus-ring-height: 32px;
  --spectrum-tabs-focus-ring-size: 2px;
  --spectrum-tabs-focus-ring-padding-x: 8px;
  --spectrum-tabs-focus-ring-border-radius: 5px;
  --spectrum-tabs-item-gap: 24px;
  --spectrum-tabs-rule-height: 2px;
  --spectrum-tabs-selection-indicator-animation-duration: 130ms;
  --spectrum-tabs-quiet-compact-height: 32px;
  --spectrum-tabs-vertical-item-height: 44px;
  --spectrum-tabs-vertical-item-gap: 4px;
  --spectrum-tabs-vertical-item-margin-left: 12px;
  --spectrum-tabs-vertical-rule-width: 2px;
}
