/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-Radio-input:checked + .spectrum-Radio-button {
    border-color: rgb(38, 128, 235);
  }
.spectrum-Radio-input.focus-ring + .spectrum-Radio-button {
      border-color: rgb(38, 128, 235);
      box-shadow: 0 0 0 1px rgb(38, 128, 235);
    }
.spectrum-Radio-input.focus-ring ~ .spectrum-Radio-label {
      color: rgb(75, 156, 245);
    }
/* topdoc
---
name: Radio - Default
description: The Spectrum radio thingy
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-Radio">
    <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-0">
    <span class="spectrum-Radio-button"></span>
    <label class="spectrum-Radio-label" for="radio-0">Kittens</label>
  </div>
  <div class="spectrum-Radio">
    <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-1" checked>
    <span class="spectrum-Radio-button"></span>
    <label class="spectrum-Radio-label" for="radio-0">Puppies</label>
  </div>

*/
.spectrum-Radio .spectrum-Radio-label {
    color: rgb(180, 180, 180);
  }
.spectrum-Radio .spectrum-Radio-button {
    border-color: rgb(105, 105, 105);
  }
.spectrum-Radio:hover .spectrum-Radio-button {
      border-color: rgb(133, 133, 133);
      box-shadow: none;
    }
.spectrum-Radio:hover .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: rgb(55, 142, 240);
    }
.spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(226, 226, 226);
    }
.spectrum-Radio:active .spectrum-Radio-button {
      border-color: rgb(180, 180, 180);
    }
.spectrum-Radio:active .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: rgb(75, 156, 245);
    }
.spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(226, 226, 226);
    }
.spectrum-Radio.is-invalid .spectrum-Radio-button {
      border-color: rgb(227, 72, 80);
    }
.spectrum-Radio.is-invalid .spectrum-Radio-label {
      color: rgb(227, 72, 80);
    }
/* topdoc
---
name: Radio - Invalid
description: The 'invalid' Spectrum radio
modifiers:
  ':hover': Hover state
  ':active': Active state
  ':focus': Focused
markup: |
  <form>
    <div class="spectrum-Radio is-invalid">
      <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-0">
      <span class="spectrum-Radio-button"></span>
      <label class="spectrum-Radio-label" for="radio-0">Kittens</label>
    </div>
    <div class="spectrum-Radio is-invalid">
      <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-1">
      <span class="spectrum-Radio-button"></span>
      <label class="spectrum-Radio-label" for="radio-1">Puppies</label>
    </div>
  </form>
*/
.spectrum-Radio.is-invalid:hover .spectrum-Radio-button {
      border-color: rgb(236, 91, 98) !important;
    }
.spectrum-Radio.is-invalid:hover .spectrum-Radio-label {
      color: rgb(236, 91, 98);
    }
.spectrum-Radio.is-invalid:active .spectrum-Radio-button {
      border-color: rgb(247, 109, 116) !important;
    }
.spectrum-Radio.is-invalid:active .spectrum-Radio-label {
      color: rgb(247, 109, 116);
    }
/* topdoc
---
name: Radio - Disabled
description: The 'disabled' Spectrum radio
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-Radio">
    <input type="radio" name="pets-disabled" class="spectrum-Radio-input" id="radio-disable-0" disabled>
    <span class="spectrum-Radio-button"></span>
    <label class="spectrum-Radio-label" for="radio-disable-0">Kittens</label>
  </div>
  <div class="spectrum-Radio">
    <input type="radio" name="pets-disabled" class="spectrum-Radio-input" id="radio-1" disabled checked>
    <span class="spectrum-Radio-button"></span>
    <label class="spectrum-Radio-label" for="radio-disable-0">Puppies</label>
  </div>

*/
.spectrum-Radio-input:disabled + .spectrum-Radio-button {
    border-color: rgb(60, 60, 60);
  }
.spectrum-Radio-input:disabled ~ .spectrum-Radio-label {
    color: rgb(73, 73, 73);
  }
