.spectrum-Radio-input:checked + .spectrum-Radio-checkmark {
    border-color: rgb(118, 118, 118);
  }
.spectrum-Radio-input:focus + .spectrum-Radio-checkmark {
      border-color: rgb(55, 142, 240);
      box-shadow: 0 0 0 1px rgb(55, 142, 240);
    }
.spectrum-Radio-input:focus ~ .spectrum-Radio-label {
      color: rgb(13, 102, 208);
    }
/* topdoc
{{ radio/radio-default.yml }}
*/
.spectrum-Radio .spectrum-Radio-label {
    color: rgb(80, 80, 80);
  }
.spectrum-Radio .spectrum-Radio-checkmark {
    border-color: rgb(149, 149, 149);
  }
.spectrum-Radio:hover .spectrum-Radio-checkmark {
      border-color: rgb(50, 50, 50);
      box-shadow: none;
    }
.spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(50, 50, 50);
    }
.spectrum-Radio:active .spectrum-Radio-checkmark {
      border-color: rgb(118, 118, 118);
    }
.spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(80, 80, 80);
    }
/* topdoc
{{ radio/radio-disabled.yml }}
*/
.spectrum-Radio-input:disabled + .spectrum-Radio-checkmark {
    border-color: rgb(211, 211, 211);
  }
.spectrum-Radio-input:disabled ~ .spectrum-Radio-label {
    color: rgb(188, 188, 188);
  }
.spectrum-Radio-input:invalid + .spectrum-Radio-checkmark {
      border-color: rgb(227, 72, 80);
    }
.spectrum-Radio-input:invalid ~ .spectrum-Radio-label {
      color: rgb(227, 72, 80);
    }
/* topdoc
{{ radio/radio-required.yml }}
*/
.spectrum-Radio-input:invalid:hover + .spectrum-Radio-checkmark {
      border-color: rgb(215, 55, 63);
    }
.spectrum-Radio-input:invalid:hover ~ .spectrum-Radio-label {
      color: rgb(215, 55, 63);
    }
.spectrum-Radio-input:invalid:active + .spectrum-Radio-checkmark {
      border-color: rgb(201, 37, 45);
    }
.spectrum-Radio-input:invalid:active ~ .spectrum-Radio-label {
      color: rgb(201, 37, 45);
    }
