/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum-Radio-input:checked + .spectrum-Radio-checkmark {
    border-color: rgb(118, 118, 118);
  }
.spectrum-Radio-input.focus-ring + .spectrum-Radio-checkmark {
      border-color: rgb(55, 142, 240);
      box-shadow: 0 0 0 1px rgb(55, 142, 240);
    }
.spectrum-Radio-input.focus-ring ~ .spectrum-Radio-label {
      color: rgb(13, 102, 208);
    }
/* topdoc
---
name: Radio - Default
description: The Spectrum radio thingy
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-Radio">
    <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-0">
    <span class="spectrum-Radio-checkmark"></span>
    <label class="spectrum-Radio-label" for="radio-0">Kittens</label>
  </div>
  <div class="spectrum-Radio">
    <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-1" checked>
    <span class="spectrum-Radio-checkmark"></span>
    <label class="spectrum-Radio-label" for="radio-0">Puppies</label>
  </div>

*/
.spectrum-Radio .spectrum-Radio-label {
    color: rgb(80, 80, 80);
  }
.spectrum-Radio .spectrum-Radio-checkmark {
    border-color: rgb(149, 149, 149);
  }
.spectrum-Radio:hover .spectrum-Radio-checkmark {
      border-color: rgb(50, 50, 50);
      box-shadow: none;
    }
.spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(50, 50, 50);
    }
.spectrum-Radio:active .spectrum-Radio-checkmark {
      border-color: rgb(118, 118, 118);
    }
.spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(80, 80, 80);
    }
.spectrum-Radio.is-invalid .spectrum-Radio-checkmark {
      border-color: rgb(227, 72, 80);
    }
.spectrum-Radio.is-invalid .spectrum-Radio-label {
      color: rgb(227, 72, 80);
    }
/* topdoc
---
name: Radio - Invalid
description: The 'invalid' Spectrum radio
modifiers:
  ':hover': Hover state
  ':active': Active state
  ':focus': Focused
markup: |
  <form>
    <div class="spectrum-Radio is-invalid">
      <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-0">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-0">Kittens</label>
    </div>
    <div class="spectrum-Radio is-invalid">
      <input type="radio" name="pets" class="spectrum-Radio-input" id="radio-1">
      <span class="spectrum-Radio-checkmark"></span>
      <label class="spectrum-Radio-label" for="radio-1">Puppies</label>
    </div>
  </form>
*/
.spectrum-Radio.is-invalid:hover .spectrum-Radio-checkmark {
      border-color: rgb(215, 55, 63);
    }
.spectrum-Radio.is-invalid:hover .spectrum-Radio-label {
      color: rgb(215, 55, 63);
    }
.spectrum-Radio.is-invalid:active .spectrum-Radio-checkmark {
      border-color: rgb(201, 37, 45);
    }
.spectrum-Radio.is-invalid:active .spectrum-Radio-label {
      color: rgb(201, 37, 45);
    }
/* topdoc
---
name: Radio - Disabled
description: The 'disabled' Spectrum radio
modifiers:
  ':disabled': Disabled state
  ':hover': Hover state
  ':focus': Focused
markup: |
  <div class="spectrum-Radio">
    <input type="radio" name="pets-disabled" class="spectrum-Radio-input" id="radio-disable-0" disabled>
    <span class="spectrum-Radio-checkmark"></span>
    <label class="spectrum-Radio-label" for="radio-disable-0">Kittens</label>
  </div>
  <div class="spectrum-Radio">
    <input type="radio" name="pets-disabled" class="spectrum-Radio-input" id="radio-1" disabled checked>
    <span class="spectrum-Radio-checkmark"></span>
    <label class="spectrum-Radio-label" for="radio-disable-0">Puppies</label>
  </div>

*/
.spectrum-Radio-input:disabled + .spectrum-Radio-checkmark {
    border-color: rgb(211, 211, 211);
  }
.spectrum-Radio-input:disabled ~ .spectrum-Radio-label {
    color: rgb(188, 188, 188);
  }
