/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--darkest .spectrum-InputGroup-input:focus ~ .spectrum-InputGroup-button {
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-InputGroup-button, .spectrum--darkest .spectrum-InputGroup-input:focus:invalid ~ .spectrum-InputGroup-button {
      border-color: rgb(215, 55, 63);
      box-shadow: 0 0 0 1px rgb(215, 55, 63);
    }
.spectrum--darkest .spectrum-InputGroup-button {
  border-color: rgb(45, 45, 45);
  background-color: rgb(24, 24, 24);
  color: rgb(133, 133, 133);
}
.spectrum--darkest .spectrum-InputGroup-button:hover {
    border-color: rgb(60, 60, 60);
    background-color: rgb(8, 8, 8);
    color: rgb(226, 226, 226);
  }
.spectrum--darkest .spectrum-InputGroup-button:active,
  .spectrum--darkest .spectrum-InputGroup-button.is-selected {
    border-color: rgb(60, 60, 60);
    background-color: rgb(38, 38, 38);
    color: rgb(226, 226, 226);
  }
.spectrum--darkest .spectrum-InputGroup-button:disabled:hover {
    border-color: transparent;
    background-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
.spectrum--darkest .spectrum-InputGroup-button.is-invalid,
  .spectrum--darkest .spectrum-InputGroup-button:invalid {
    border-color: rgb(215, 55, 63);
  }
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button {
    border-color: rgb(45, 45, 45);
    background-color: inherit;
  }
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:hover,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button.focus-ring,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:active,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button.is-selected,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:invalid,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button.is-invalid,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:disabled,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:disabled:hover {
      background-color: inherit;
    }
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button.is-selected {
      border-color: rgb(60, 60, 60);
    }
.spectrum--darkest .spectrum-InputGroup--quiet:hover .spectrum-InputGroup-button {
      border-color: rgb(60, 60, 60);
    }
.spectrum--darkest .spectrum-InputGroup--quiet:hover .spectrum-InputGroup-button:disabled {
        border-color: rgb(45, 45, 45);
      }
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input.is-invalid ~ .spectrum-InputGroup-button, .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:invalid ~ .spectrum-InputGroup-button {
        border-color: rgb(215, 55, 63);
      }
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus ~ .spectrum-InputGroup-button {
        border-color: rgb(38, 128, 235);
        box-shadow: 0 1px 0 rgb(38, 128, 235);
      }
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-InputGroup-button, .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus:invalid ~ .spectrum-InputGroup-button {
          border-color: rgb(215, 55, 63);
          box-shadow: 0 1px 0 rgb(215, 55, 63);
        }
