/* For documentation beautification only - DO NOT COPY */

.dummy-spacing {
  height: 160px;
}

/* topdoc
---
name: Field Label
description: >-
  Field label for use with form inputs.
markup: |
  <label for="lifestory" class="spectrum-FieldLabel">Life Story *</label>

  <textarea id="lifestory" placeholder="Enter your life story" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline"></textarea>

*/

.spectrum-FieldLabel {
  display: block;

  margin: 0 0 5px;

  font-size: 0.75rem;
  line-height: 0.75rem;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}

/* topdoc
---
name: Field Label - Left
description: >-
  Field label for use with form inputs; left variation.
markup: |
  <div>
    <label for="lifestory" class="spectrum-FieldLabel spectrum-FieldLabel--left">Life Story *</label>
    <textarea id="lifestory" placeholder="Enter your life story" name="field" class="spectrum-Textfield spectrum-Textfield--multiline"></textarea>
  </div>

*/

.spectrum-FieldLabel--left {
  display: inline-block;
  margin-right: 8px;
}
