extends default-layout

block append vars
  - var relativePath = '../'
  - var navKey = 'articles'

block presentation
  include partials/presentation-section.pug

block content
  include partials/article-list.pug
