extends default-layout

block append vars
  - var navKey = 'faq'
  - var relativePath = '../';

block presentation
  include partials/presentation-section.pug

block content
  .sdldocs-main-content.row

    block left-nav
      - collections.pageitems = collections.faq
      include partials/leftnav-default.pug

    .sdldocs-components.col-xs-12.col-sm-8
      each contentItem in collections.faq
        .row
          article.box(id=contentItem.itemId)
            h2.spectrum-Heading.spectrum-Heading--pagetitle= contentItem.name
            .sdldocs-article!=  contentItem.contents
