extends default-layout

block append vars
  - var navKey = 'home'

block content
  .sdldocs-main-content.row
    .sdldocs-components.col-xs-12.center-xs
      article.sdldocs-component.box
        h2.spectrum-Heading.spectrum-Heading--pagetitle.
          Default Template

        .something-custom.
          You would probably override templates/index.pug with your own
          custom index page.
