
.spectrum--dark .spectrum-Table {
  --spectrum-alias-highlight-selected: rgba(55,142,240,0.15);
  --spectrum-alias-border-color-focus: rgb(38, 128, 235);
  --spectrum-table-background-color: rgb(37, 37, 37);
  --spectrum-table-border-color: rgb(74, 74, 74);
  --spectrum-table-divider-border-color: rgb(74, 74, 74);
  --spectrum-table-row-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-header-text-color: rgb(185, 185, 185);
  --spectrum-table-header-sort-icon-color: rgb(144, 144, 144);
  --spectrum-table-header-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-cell-text-color: rgb(227, 227, 227);
  --spectrum-table-cell-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-cell-border-color: rgb(74, 74, 74);
  --spectrum-table-row-background-color-hover: rgba(255,255,255,0.07);
  --spectrum-table-header-text-color-hover: rgb(255, 255, 255);
  --spectrum-table-header-sort-icon-color-hover: rgb(255, 255, 255);
  --spectrum-table-row-background-color-down: rgba(255,255,255,0.1);
  --spectrum-table-header-text-color-down: rgb(255, 255, 255);
  --spectrum-table-header-sort-icon-color-down: rgb(255, 255, 255);
  --spectrum-table-header-text-color-key-focus: rgb(255, 255, 255);
  --spectrum-table-header-sort-icon-color-key-focus: rgb(255, 255, 255);
  --spectrum-table-cell-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-table-row-background-color-selected: rgba(55,142,240,0.15);
  --spectrum-table-row-background-color-selected-hover: rgba(55,142,240,0.25);
  --spectrum-table-row-background-color-selected-key-focus: rgba(55,142,240,0.25);
  --spectrum-table-quiet-row-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-quiet-cell-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-quiet-row-background-color-hover: rgba(255,255,255,0.07);
  --spectrum-table-quiet-row-background-color-down: rgba(255,255,255,0.1);
  --spectrum-table-quiet-row-background-color-selected: rgba(55,142,240,0.15);
  --spectrum-table-quiet-row-background-color-selected-hover: rgba(55,142,240,0.25);
  --spectrum-table-quiet-row-background-color-selected-key-focus: rgba(55,142,240,0.25);
}
