/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum-Accordion-item {
  border-color: rgb(62, 62, 62);
}
.spectrum-Accordion-indicator {
  color: rgb(123, 123, 123);
}
.spectrum-Accordion-header {
  color: rgb(153, 153, 153);
}
.spectrum-Accordion-header:focus,
  .spectrum-Accordion-header:hover {
    color: rgb(255, 255, 255);

    background-color: rgb(57, 57, 57);
  }
.spectrum-Accordion-header:focus + .spectrum-Accordion-indicator, .spectrum-Accordion-header:hover + .spectrum-Accordion-indicator {
      color: rgb(205, 205, 205);
    }
.spectrum-Accordion-header:focus:after  {
      background-color: rgb(38, 128, 235);
    }
.spectrum-Accordion-item.is-open .spectrum-Accordion-header:hover {
        background-color: transparent;
      }
.spectrum-Accordion-item.is-disabled .spectrum-Accordion-header,
    .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header:hover,
    .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header:focus {
      color: rgb(92, 92, 92);
      background-color: transparent;
    }
.spectrum-Accordion-item.is-disabled .spectrum-Accordion-header + .spectrum-Accordion-indicator {
      color: rgb(77, 77, 77);
    }
