/* topdoc
---
name: Search
description: The searchy, cleary field.
status: Beta
markup: |
  <form class="spectrum-Search">
    <input type="search" placeholder="Search" name="search" value="" class="spectrum-Textfield spectrum-Search-input">
    <svg class="spectrum-Icon spectrum-Search-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-SearchMagGlass" />
    </svg>
    <button type="reset" class="spectrum-ClearButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-TagClose" />
      </svg>
    </button>
  </form>

  <form class="spectrum-Search">
    <input type="search" placeholder="Search" name="search" value="" class="spectrum-Textfield spectrum-Search-input" disabled>
    <svg class="spectrum-Icon spectrum-Search-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-SearchMagGlass" />
    </svg>
    <button type="reset" class="spectrum-ClearButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-TagClose" />
      </svg>
    </button>
  </form>


*//* topdoc
---
name: Search - Quiet
description: The quiet searchy, cleary field.
status: Beta
markup: |
  <form class="spectrum-Search">
    <input type="search" placeholder="Search" name="search" value="" class="spectrum-Textfield spectrum-Textfield--quiet spectrum-Search-input">
    <svg class="spectrum-Icon spectrum-Search-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-SearchMagGlass" />
    </svg>
    <button type="reset" class="spectrum-ClearButton">
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SearchClear" />
      </svg>
    </button>
  </form>

  <form class="spectrum-Search">
    <input type="search" placeholder="Search" name="search" value="" class="spectrum-Textfield spectrum-Textfield--quiet spectrum-Search-input" disabled>
    <svg class="spectrum-Icon spectrum-Search-icon" focusable="false" aria-hidden="true">
      <use xlink:href="#spectrum-css-icon-SearchMagGlass" />
    </svg>
    <button type="reset" class="spectrum-ClearButton" disabled>
      <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SearchClear" />
      </svg>
    </button>
  </form>

*/.spectrum-Search {
  display: inline-block;
  position: relative;
}.spectrum-Search .spectrum-ClearButton {
    position: absolute;
    right: 0;
    top: 0;
  }.spectrum-Search-input {
  display: block;

  /* Correct the odd appearance of input[type="search"] in Chrome and Safari.*/
  /* This gets overridden by .spectrum-Textfield */
  -webkit-appearance: textfield;

  /* Correct the outline for input[type="search"] style in Safari. */
  outline-offset: -0.125rem;

  /* Use padding instead of text-indent so long strings don't overlap the icon */
  padding-left: 2.25rem;
  text-indent: 0;

  /* Don't let long strings overlap the close icon */
  padding-right: 1.75rem;
}/* Remove the inner padding and cancel buttons for input[type="search"] in Chrome and Safari on macOS. */.spectrum-Search-input::-webkit-search-cancel-button,
  .spectrum-Search-input::-webkit-search-decoration {
    -webkit-appearance: none;
  }.spectrum-Search-input.spectrum-Textfield--quiet {
    padding-left: 1.5rem;
    padding-right: 1.25rem;
  }/* Since quiet button has no left padding, push the icon all the way to the left */.spectrum-Search-input.spectrum-Textfield--quiet ~ .spectrum-Search-icon {
      left: 0;
    }.spectrum-Search-input.spectrum-Textfield--quiet ~ .spectrum-Search-clear {
      right: -0.5rem;
    }/* Since quiet button has no right padding, push the icon all the way to the right */.spectrum-Search-input.spectrum-Textfield--quiet ~ .spectrum-Search-rightIcon {
      right: 0;
    }.spectrum-Search-icon {
  display: block;
  position: absolute;
  left: 0.75rem;
  top: 0;
  width: 1rem;
  height: 2rem;

  /* Support SVG icons */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1rem 1rem;

  pointer-events: none;
}
