/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
/* topdoc
---
name: Well
description: A Spectrum well
markup: |
  <h3 class="spectrum-Heading--subtitle2">Well Label (Optional)</h3>
  <span class="spectrum-Well">
  <em>Well done is better than well said.</em>
  <br>
  <strong>Benjamin Franklin</strong>
  <br><br>
  Well said Ben!
  <span class="spectrum-Well">
  <em>Well done is better than well said.</em>
  <br>
  <strong>Benjamin Franklin</strong>
  <br><br>
  Well said Ben!
  </span>
  </span>

*/
.spectrum--light .spectrum-Well {
  background-color: rgba(44, 44, 44, .02);
  border-color: rgba(44, 44, 44, .05);
}
