/* topdoc
{{ slider/slider-ramp.yml }}
*/
.spectrum--dark .spectrum-Slider {
}
/* topdoc
{{ slider/slider-tick-label.yml }}
*/
.spectrum--dark .spectrum-Slider-controls {
  background-color: transparent;
}
/* topdoc
{{ slider/slider-tick.yml }}
*/
.spectrum--dark .spectrum-Slider-track {
  background: rgb(62, 62, 62);
}
/*
Todo: Determine if unused mixin is required
spectrum-slider-track-disabled(){
  background: $spectrum-slider-track-color-disabled;
}
*/
.spectrum--dark .spectrum-Slider-track--fill {
  background: rgb(153, 153, 153);
}
/* topdoc
{{ slider/slider-video.yml }}
*/
.spectrum--dark .spectrum-Slider-track--buffer {
  background: rgb(92, 92, 92);
}
/* topdoc
{{ slider/slider-double.yml }}
*/
.spectrum--dark .spectrum-Slider-track--ramp path {
    fill: rgb(62, 62, 62);
  }
/* topdoc
{{ slider/slider-filled.yml }}
*/
.spectrum--dark .spectrum-Slider-handle {
  border-color: rgb(153, 153, 153);
  background: rgb(50, 50, 50);
  box-shadow: 0 0 0 2px rgb(50, 50, 50);
}
.spectrum--dark .spectrum-Slider-handle:hover {
    border-color: rgb(205, 205, 205);
  }
.spectrum--dark .spectrum-Slider-handle:focus {
    border-color: rgb(38, 128, 235);
    background: rgb(38, 128, 235);
  }
.spectrum--dark .spectrum-Slider-handle:active {
    border-color: rgb(205, 205, 205);
    background: rgb(205, 205, 205);
  }
/* topdoc
{{ slider/slider-label.yml }}
*/
.spectrum--dark .spectrum-Slider-input {
  background: transparent;
}
/*
Todo: Determine if missing mixin is required
.spectrum-Slider-ticks {
  spectrum-slider-ticks()
}
*/
.spectrum--dark .spectrum-Slider-tick-mark:after {
    background-color: rgb(62, 62, 62);
    border-radius: 1px;
  }
/*
Todo: Determine if these are supposed to be pseudo classes
*/
.spectrum--dark .spectrum-Slider-controls--hover .spectrum-Slider-handle {
    border-color: rgb(205, 205, 205);
    transition: all 150ms ease-in-out;
  }
/* topdoc
{{ slider/slider-default.yml }}
*/
.spectrum--dark .spectrum-Slider-controls--focus .spectrum-Slider-handle {
    border-color: rgb(38, 128, 235);
    background: rgb(38, 128, 235);
    border-width: 8px;
    transition: all 150ms ease-in-out;
  }
.spectrum--dark .spectrum-Slider-controls--active .spectrum-Slider-handle {
    border-color: rgb(205, 205, 205);
    background: rgb(205, 205, 205);
    border-width: 8px;
    transition: all 150ms ease-in-out;
  }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-label {
    color: rgb(92, 92, 92);
  }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-handle {
    border-color: rgb(77, 77, 77);
    background: rgb(50, 50, 50);
  }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-handle:hover,
    .spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-handle:focus,
    .spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-handle:active {
      border-color: rgb(77, 77, 77);
      border-width: 2px;
      background: rgb(50, 50, 50);
    }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-track--fill {
    background: rgb(62, 62, 62);
  }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-track--buffer {
    background: rgb(62, 62, 62);
  }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-track--ramp path {
      fill: rgb(57, 57, 57);
    }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-track {
      background: rgb(57, 57, 57);
      box-shadow: none;
    }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle {
      background: transparent;
      box-shadow: none;
      border-color: rgb(77, 77, 77);
    }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
      .spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:focus,
      .spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active {
        border-width: 2px;
        background: transparent;
        box-shadow: none;
        border-color: rgb(77, 77, 77);
      }
/* topdoc
{{ slider/slider-colored.yml }}
*/
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-track {
    background: linear-gradient(to right, rgb(38, 128, 235), rgb(90, 169, 250));
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-handle {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);
    border-color: rgb(37, 37, 37);
    background: transparent;
  }
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-handle:focus {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    }
/* topdoc
{{ slider/slider-round.yml }}
*/
.spectrum--dark .spectrum-Slider--round .spectrum-Slider-handle:hover .spectrum-Slider-input::after {
      background-color: rgb(205, 205, 205);
    }
.spectrum--dark .spectrum-Slider--round .spectrum-Slider-handle:focus .spectrum-Slider-input::after {
      background-color: rgb(37, 37, 37);
    }
.spectrum--dark .spectrum-Slider--round .spectrum-Slider-input::after {
      background-color: rgb(153, 153, 153);
    }
.spectrum--dark .spectrum-Slider--round .spectrum-Slider-controls::before,
    .spectrum--dark .spectrum-Slider--round .spectrum-Slider-controls::after {
      background-color: rgb(123, 123, 123);
    }
