
.spectrum--dark .spectrum-BarLoader {
  --spectrum-barloader-large-track-color: rgb(74, 74, 74);
  --spectrum-barloader-large-track-fill-color: rgb(55, 142, 240);
  --spectrum-barloader-large-over-background-track-color: rgba(255,255,255,0.2);
  --spectrum-barloader-large-over-background-track-fill-color: rgb(255, 255, 255);
  --spectrum-fieldlabel-text-color: rgb(185, 185, 185);
  --spectrum-meter-large-track-color-positive: rgb(45, 157, 120);
  --spectrum-meter-large-track-color-warning: rgb(230, 134, 25);
  --spectrum-meter-large-track-color-critical: rgb(227, 72, 80);
}
