
.spectrum--lightest .spectrum-ToggleSwitch {
  --spectrum-switch-text-color: rgb(80, 80, 80);
  --spectrum-switch-handle-border-color: rgb(149, 149, 149);
  --spectrum-switch-handle-background-color: rgb(255, 255, 255);
  --spectrum-switch-track-color: rgb(234, 234, 234);
  --spectrum-switch-text-color-hover: rgb(50, 50, 50);
  --spectrum-switch-handle-border-color-hover: rgb(116, 116, 116);
  --spectrum-switch-text-color-down: rgb(50, 50, 50);
  --spectrum-switch-handle-border-color-down: rgb(80, 80, 80);
  --spectrum-switch-text-color-key-focus: rgb(20, 115, 230);
  --spectrum-switch-handle-border-color-key-focus: rgb(55, 142, 240);
  --spectrum-switch-text-color-disabled: rgb(188, 188, 188);
  --spectrum-switch-handle-border-color-disabled: rgb(211, 211, 211);
  --spectrum-switch-track-color-disabled: rgb(234, 234, 234);
  --spectrum-switch-handle-border-color-selected: rgb(38, 128, 235);
  --spectrum-switch-track-color-selected: rgb(38, 128, 235);
  --spectrum-switch-handle-border-color-selected-hover: rgb(20, 115, 230);
  --spectrum-switch-track-color-selected-hover: rgb(20, 115, 230);
  --spectrum-switch-handle-border-color-selected-down: rgb(13, 102, 208);
  --spectrum-switch-track-color-selected-down: rgb(13, 102, 208);
  --spectrum-switch-text-color-selected-key-focus: rgb(20, 115, 230);
  --spectrum-switch-track-color-selected-key-focus: rgb(55, 142, 240);
  --spectrum-switch-handle-border-color-selected-key-focus: rgb(55, 142, 240);
  --spectrum-switch-text-color-selected-disabled: rgb(188, 188, 188);
  --spectrum-switch-track-color-selected-disabled: rgb(211, 211, 211);
  --spectrum-switch-handle-border-color-selected-disabled: rgb(211, 211, 211);
  --spectrum-switch-quiet-handle-border-color-selected: rgb(116, 116, 116);
  --spectrum-switch-quiet-track-color-selected: rgb(116, 116, 116);
  --spectrum-switch-quiet-handle-border-color-selected-hover: rgb(80, 80, 80);
  --spectrum-switch-quiet-track-color-selected-hover: rgb(80, 80, 80);
  --spectrum-switch-quiet-handle-border-color-selected-down: rgb(50, 50, 50);
  --spectrum-switch-quiet-track-color-selected-down: rgb(50, 50, 50);
}
