
.spectrum--medium .spectrum-Menu {
  --spectrum-global-dimension-size-40: 3px;
  --spectrum-global-dimension-size-50: 4px;
  --spectrum-global-dimension-size-75: 6px;
  --spectrum-global-dimension-size-85: 7px;
  --spectrum-global-dimension-size-100: 8px;
  --spectrum-global-dimension-size-150: 12px;
  --spectrum-global-dimension-size-450: 36px;
  --spectrum-global-dimension-font-size-50: 11px;
  --spectrum-alias-line-height-medium: 20px;
  --spectrum-icon-checkmark-medium-width: 12px;
  --spectrum-popover-border-size: 1px;
  --spectrum-popover-padding-y: 4px;
  --spectrum-selectlist-divider-size: 2px;
  --spectrum-selectlist-divider-padding: 3px;
  --spectrum-selectlist-option-text-size: 14px;
  --spectrum-selectlist-option-padding: 12px;
  --spectrum-selectlist-option-text-font-weight: 400;
  --spectrum-selectlist-option-icon-padding-x: 12px;
  --spectrum-selectlist-option-height: 32px;
  --spectrum-selectlist-border-size-key-focus: 2px;
  --spectrum-selectlist-thumbnail-image-padding-x: 8px;
}
