
.spectrum--lightest .spectrum-Menu {
  --spectrum-selectlist-option-background-color: rgba(0, 0, 0, 0);
  --spectrum-selectlist-option-text-color: rgb(80, 80, 80);
  --spectrum-selectlist-divider-color: rgb(255, 255, 255);
  --spectrum-selectlist-option-background-color-hover: rgba(50,50,50,0.04);
  --spectrum-selectlist-option-text-color-hover: rgb(80, 80, 80);
  --spectrum-selectlist-option-background-color-down: rgba(50,50,50,0.04);
  --spectrum-selectlist-option-background-color-key-focus: rgba(50,50,50,0.04);
  --spectrum-selectlist-option-text-color-key-focus: rgb(80, 80, 80);
  --spectrum-selectlist-option-background-color-disabled: rgba(0, 0, 0, 0);
  --spectrum-selectlist-option-text-color-disabled: rgb(188, 188, 188);
  --spectrum-selectlist-option-text-color-selected: rgb(20, 115, 230);
  --spectrum-selectlist-option-icon-color-selected: rgb(38, 128, 235);
  --spectrum-selectlist-option-focus-indicator-color: rgb(55, 142, 240);
  --spectrum-selectlist-background-color: rgba(0, 0, 0, 0);
  --spectrum-heading-subtitle3-text-color: rgb(116, 116, 116);
}
