
.spectrum--large .spectrum-Tags {
  --spectrum-global-dimension-size-50: 5px;
  --spectrum-tag-text-size: 15px;
  --spectrum-tag-height: 30px;
  --spectrum-tag-border-size: 1px;
  --spectrum-tag-padding-x: 13px;
  --spectrum-tag-avatar-padding-x: 10px;
  --spectrum-tag-icon-padding-x: 10px;
  --spectrum-taggroup-tag-gap-x: 10px;
  --spectrum-taggroup-tag-gap-y: 10px;
}
