/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum--darkest .spectrum-TagList-item {
  color: rgb(133, 133, 133);
  background-color: rgb(24, 24, 24);
  border: 1px solid rgb(105, 105, 105);
}
.spectrum--darkest .spectrum-TagList-item:hover {
    background-color: rgb(8, 8, 8);
    color: rgb(226, 226, 226);
    border-color: rgb(226, 226, 226);
  }
.spectrum--darkest .spectrum-TagList-item.focus-ring {
    background-color: rgb(8, 8, 8);
    color: rgb(226, 226, 226);
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-TagList-item.is-invalid {
    color: rgb(236, 91, 98);
    border-color: rgb(215, 55, 63);
  }
.spectrum--darkest .spectrum-TagList-item.is-invalid:hover {
      border-color: rgb(215, 55, 63);
      color: rgb(236, 91, 98);
    }
.spectrum--darkest .spectrum-TagList-item.is-invalid.focus-ring {
      color: rgb(247, 109, 116);
      border-color: rgb(215, 55, 63);
      box-shadow: 0 0 0 1px rgb(215, 55, 63);

    }
.spectrum--darkest .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton .spectrum-Icon {
        color: rgb(215, 55, 63);
      }
.spectrum--darkest .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton::focus .spectrum-Icon {
          color: rgb(236, 91, 98);
        }
.spectrum--darkest .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton:hover .spectrum-Icon {
          color: rgb(227, 72, 80);
        }
.spectrum--darkest .spectrum-TagList-item.is-disabled {
    color: rgb(73, 73, 73);
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
  }
.spectrum--darkest .spectrum-TagList-item.is-disabled .spectrum-TagList-item-avatar {
      opacity: 0.3;
    }
.spectrum--darkest .spectrum-TagList-item-removeButton .spectrum-Icon {
    color: rgb(105, 105, 105);
  }
.spectrum--darkest .spectrum-TagList-item-removeButton:hover .spectrum-Icon {
      color: rgb(226, 226, 226);
    }
.spectrum--darkest .spectrum-TagList-item.is-disabled .spectrum-TagList-item-removeButton .spectrum-Icon {
    color: rgb(73, 73, 73);
  }
