/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--light .spectrum-TagList-item {
  color: rgb(112, 112, 112);
  background-color: rgb(252, 252, 252);
  border: 1px solid rgb(142, 142, 142);
}
.spectrum--light .spectrum-TagList-item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    border-color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-TagList-item.focus-ring {
    background-color: rgb(255, 255, 255);
    color: rgb(44, 44, 44);
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum--light .spectrum-TagList-item.is-invalid {
    color: rgb(201, 37, 45);
    border-color: rgb(227, 72, 80);
  }
.spectrum--light .spectrum-TagList-item.is-invalid:hover {
      border-color: rgb(227, 72, 80);
      color: rgb(201, 37, 45);
    }
.spectrum--light .spectrum-TagList-item.is-invalid.focus-ring {
      color: rgb(187, 18, 26);
      border-color: rgb(227, 72, 80);
      box-shadow: 0 0 0 1px rgb(227, 72, 80);

    }
.spectrum--light .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton .spectrum-Icon {
        color: rgb(227, 72, 80);
      }
.spectrum--light .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton::focus .spectrum-Icon {
          color: rgb(201, 37, 45);
        }
.spectrum--light .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton:hover .spectrum-Icon {
          color: rgb(215, 55, 63);
        }
.spectrum--light .spectrum-TagList-item.is-disabled {
    color: rgb(179, 179, 179);
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
  }
.spectrum--light .spectrum-TagList-item.is-disabled .spectrum-TagList-item-avatar {
      opacity: 0.3;
    }
.spectrum--light .spectrum-TagList-item-removeButton .spectrum-Icon {
    color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-TagList-item-removeButton:hover .spectrum-Icon {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-TagList-item.is-disabled .spectrum-TagList-item-removeButton .spectrum-Icon {
    color: rgb(179, 179, 179);
  }
