/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--lightest .spectrum-TagList-item {
  color: rgb(118, 118, 118);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(149, 149, 149);
}
.spectrum--lightest .spectrum-TagList-item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    border-color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-TagList-item.focus-ring {
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum--lightest .spectrum-TagList-item.is-invalid {
    color: rgb(215, 55, 63);
    border-color: rgb(236, 91, 98);
  }
.spectrum--lightest .spectrum-TagList-item.is-invalid:hover {
      border-color: rgb(236, 91, 98);
      color: rgb(215, 55, 63);
    }
.spectrum--lightest .spectrum-TagList-item.is-invalid.focus-ring {
      color: rgb(201, 37, 45);
      border-color: rgb(236, 91, 98);
      box-shadow: 0 0 0 1px rgb(236, 91, 98);

    }
.spectrum--lightest .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton .spectrum-Icon {
        color: rgb(236, 91, 98);
      }
.spectrum--lightest .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton::focus .spectrum-Icon {
          color: rgb(215, 55, 63);
        }
.spectrum--lightest .spectrum-TagList-item.is-invalid .spectrum-TagList-item-removeButton:hover .spectrum-Icon {
          color: rgb(227, 72, 80);
        }
.spectrum--lightest .spectrum-TagList-item.is-disabled {
    color: rgb(188, 188, 188);
    background-color: rgb(244, 244, 244);
    border-color: rgb(244, 244, 244);
  }
.spectrum--lightest .spectrum-TagList-item.is-disabled .spectrum-TagList-item-avatar {
      opacity: 0.3;
    }
.spectrum--lightest .spectrum-TagList-item-removeButton .spectrum-Icon {
    color: rgb(149, 149, 149);
  }
.spectrum--lightest .spectrum-TagList-item-removeButton:hover .spectrum-Icon {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-TagList-item.is-disabled .spectrum-TagList-item-removeButton .spectrum-Icon {
    color: rgb(188, 188, 188);
  }
