/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum,
.spectrum-Body {
  color: rgb(205, 205, 205);
}
.spectrum-Body--large {
  color: rgb(205, 205, 205);
}
.spectrum-Body--small {
  color: rgb(205, 205, 205);
}
.spectrum-Body--secondary {
  color: rgb(153, 153, 153);
}
.spectrum-Heading--display {
  color: rgb(255, 255, 255);
}
.spectrum-Heading--page-title {
  color: rgb(255, 255, 255);
}
.spectrum-Heading--subtitle1 {
  color: rgb(255, 255, 255);
}
.spectrum-Heading--subtitle2 {
  color: rgb(255, 255, 255);
}
.spectrum-Heading--subtitle3 {
  color: rgb(153, 153, 153);
}
