/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
/* topdoc
---
name: Tooltip
description: A Spectrum tooltip
markup: |
  <span class="spectrum-Tooltip spectrum-Tooltip--top is-open">
    <span class="spectrum-Tooltip-label">Normal Tooltip</span>
    <span class="spectrum-Tooltip-tip"></span>
  </span>

  <br><br>

  <span class="spectrum-Tooltip spectrum-Tooltip--left is-open">
    <span class="spectrum-Tooltip-label">Normal Tooltip</span>
    <span class="spectrum-Tooltip-tip"></span>
  </span>

  <br><br>

  <span class="spectrum-Tooltip spectrum-Tooltip--right is-open">
    <span class="spectrum-Tooltip-label">Normal Tooltip</span>
    <span class="spectrum-Tooltip-tip"></span>
  </span>

  <br><br>

  <span class="spectrum-Tooltip spectrum-Tooltip--bottom is-open">
    <span class="spectrum-Tooltip-label">Normal Tooltip</span>
    <span class="spectrum-Tooltip-tip"></span>
  </span>

  <br><br>

  <span class="spectrum-Tooltip spectrum-Tooltip--top is-open">
    <span class="spectrum-Tooltip-label"><a href="#" class="spectrum-Link spectrum-Link--subtle">Link to</a></span>
    <span class="spectrum-Tooltip-tip"></span>
  </span>
*/
.spectrum--light .spectrum-Tooltip,
  .spectrum--light .spectrum-Tooltip .spectrum-Tooltip-tip::after {
    background-color: rgb(112, 112, 112);
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Tooltip--error,
  .spectrum--light .spectrum-Tooltip--error .spectrum-Tooltip-tip::after {
    background-color: rgb(201, 37, 45);
  }
.spectrum--light .spectrum-Tooltip--info,
  .spectrum--light .spectrum-Tooltip--info .spectrum-Tooltip-tip::after {
    background-color: rgb(13, 102, 208);
  }
.spectrum--light .spectrum-Tooltip--success,
  .spectrum--light .spectrum-Tooltip--success .spectrum-Tooltip-tip::after {
    background-color: rgb(18, 128, 92);
  }
