/* topdoc
{{ tooltip/tooltip-default.yml }}
*/
.spectrum--light .spectrum-Tooltip .spectrum-Tooltip-content,
  .spectrum--light .spectrum-Tooltip .spectrum-Tooltip-tip::after {
    background-color: rgb(112, 112, 112);
    color: rgb(255, 255, 255);
  }
/* topdoc
{{ tooltip/tooltip-error.yml }}
*/
.spectrum--light .spectrum-Tooltip--error .spectrum-Tooltip-content,
  .spectrum--light .spectrum-Tooltip--error .spectrum-Tooltip-tip::after {
    background-color: rgb(215, 55, 63);
  }
/* topdoc
{{ tooltip/tooltip-info.yml }}
*/
.spectrum--light .spectrum-Tooltip--info .spectrum-Tooltip-content,
  .spectrum--light .spectrum-Tooltip--info .spectrum-Tooltip-tip::after {
    background-color: rgb(20, 115, 230);
  }
/* topdoc
{{ tooltip/tooltip-success.yml }}
*/
.spectrum--light .spectrum-Tooltip--success .spectrum-Tooltip-content,
  .spectrum--light .spectrum-Tooltip--success .spectrum-Tooltip-tip::after {
    background-color: rgb(38, 142, 108);
  }
