
.spectrum--darkest .spectrum-Asset {
  --spectrum-asset-folder-background-color: rgb(57, 57, 57);
  --spectrum-asset-file-background-color: rgb(8, 8, 8);
  --spectrum-asset-icon-outline-color: rgb(92, 92, 92);
}
