
.spectrum--large .spectrum-Underlay {
  --spectrum-dialog-background-entry-animation-duration: 300ms;
  --spectrum-dialog-background-exit-animation-delay: 160ms;
  --spectrum-dialog-background-exit-animation-duration: 190ms;
}
