:root {

  /* Radio button */

  /* Field group */
}

.spectrum-CycleButton {
  width: 32px;
  height: 32px;
  line-height: 2rem;
  border-radius: 4px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.spectrum-CycleButton:focus {
    /* we cannot achieve rounded corners with outline so we use box-shadow (on skin.css) instead */
    outline: 0;
  }

.spectrum-CycleButton-icon:not(.is-active) {
  display: none
}
