:root {

  /* Radio button */
}

/* topdoc
---
name: Rule - Default
description:
status: Beta
markup: |
  <h2 class="spectrum-Heading--subtitle1">Main Section (Text Customizable or Optional)</h2>
  <hr class="spectrum-Rule">

*/

.spectrum-Rule {

  /* Add the correct box sizing for hr in Firefox. */
  box-sizing: content-box;
  height: 0;

  /* Show the overflow for hr in Edge and IE. */
  overflow: visible;

  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}

/* topdoc
---
name: Rule - Sub Section
description:
status: Beta
markup: |
  <h2 class="spectrum-Heading--subtitle1">Sub Section (Text Customizable or Optional)</h2>
  <hr class="spectrum-Rule spectrum-Rule--subsection">

*/

.spectrum-Rule--subsection {
  border-width: 1.5px;
  border-radius: 1.5px;
}

/* topdoc
---
name: Rule - Sub Section 2
description:
status: Beta
markup: |
  <h2 class="spectrum-Heading--subtitle1">Sub Section 2 (Text Customizable or Optional)</h2>
  <hr class="spectrum-Rule spectrum-Rule--subsection2">

*/

.spectrum-Rule--subsection2 {
  border-width: 1px;
  border-radius: 1px;
}

/* topdoc
---
name: Rule - Panel
description:
status: Beta
markup: |
  <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Delete">
    <use xlink:href="#spectrum-icon-18-Delete" />
  </svg>
  <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="PauseCircle">
    <use xlink:href="#spectrum-icon-18-PauseCircle" />
  </svg>
  <span class="spectrum-Rule spectrum-Rule--panel"></span>
  <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Filter">
    <use xlink:href="#spectrum-icon-18-Filter" />
  </svg>
  <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Comment">
    <use xlink:href="#spectrum-icon-18-Comment" />
  </svg>

*/

.spectrum-Rule--panel {
  box-sizing: border-box;
  display: inline-block;
  border-width: 0.5px;
  height: 24px;
  vertical-align: text-bottom;
  margin: 0 4px;
  border-radius: 0;
}
