/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
/* topdoc
---
name: Cycle Button - Default
description: A Spectrum cycle button
markup: |
  <button class="spectrum-CycleButton">
    <svg class="spectrum-Icon spectrum-Icon--sizeS is-active" focusable="false" aria-hidden="true" aria-label="Folder">
      <use xlink:href="#spectrum-icon-18-PlayCircle" />
    </svg>
    <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="PauseCircle">
      <use xlink:href="#spectrum-icon-18-PauseCircle" />
    </svg>
  </button>

*/
.spectrum--dark .spectrum-CycleButton {
  background-color: rgba(0, 0, 0, 0);
}
.spectrum--dark .spectrum-CycleButton .spectrum-Icon {
    color: rgb(153, 153, 153);
  }
.spectrum--dark .spectrum-CycleButton:hover .spectrum-Icon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-CycleButton:active {
    background-color: rgb(62, 62, 62);
  }
.spectrum--dark .spectrum-CycleButton:focus {
    /* we cannot achieve rounded corners with outline so we use box-shadow instead */
    box-shadow: 0px 0px 0px 2px rgb(38, 128, 235) inset;
  }
.spectrum--dark .spectrum-CycleButton:focus .spectrum-Icon {
      color: rgb(255, 255, 255);
    }
