/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
/* topdoc
---
name: Cycle Button - Default
description: A Spectrum cycle button
markup: |
  <button class="spectrum-CycleButton">
    <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--PlayCircle spectrum-CycleButton-icon is-active"></span>
    <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--PauseCircle spectrum-CycleButton-icon"></span>
  </button>

*/
.spectrum--dark .spectrum-CycleButton {
  background-color: transparent;
}
.spectrum--dark .spectrum-CycleButton:hover .spectrum-CycleButton-icon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-CycleButton:active {
    background-color: rgb(62, 62, 62);
  }
.spectrum--dark .spectrum-CycleButton:focus {
    /* we cannot achieve rounded corners with outline so we use box-shadow instead */
    box-shadow: 0px 0px 0px 2px rgb(38, 128, 235) inset;
  }
.spectrum--dark .spectrum-CycleButton:focus .spectrum-CycleButton-icon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-CycleButton-icon {
  color: rgb(153, 153, 153);
}
