
.spectrum--large .spectrum-Checkbox {
  --spectrum-global-dimension-size-75: 8px;
  --spectrum-checkbox-text-font-weight: 400;
  --spectrum-checkbox-text-size: 17px;
  --spectrum-checkbox-box-border-size: 2px;
  --spectrum-checkbox-box-border-radius: 2px;
  --spectrum-checkbox-box-size: 18px;
  --spectrum-checkbox-height: 40px;
  --spectrum-checkbox-cursor-hit-x: 10px;
  --spectrum-checkbox-text-gap: 13px;
  --spectrum-icon-checkmark-small-width: 12px;
  --spectrum-icon-checkmark-small-height: 12px;
}
