/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--light .spectrum-ActionMenu-button::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Ccircle style='fill:rgb%2875%2C 75%2C 75%29' cx='18' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2875%2C 75%2C 75%29' cx='30' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2875%2C 75%2C 75%29' cx='6' cy='18' r='4.1'/%3E%3C/svg%3E");
  }
.spectrum--light .spectrum-ActionMenu-button:focus::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='18' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='30' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='6' cy='18' r='4.1'/%3E%3C/svg%3E");
  }
.spectrum--light .spectrum-ActionMenu-button:hover::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='18' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='30' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='6' cy='18' r='4.1'/%3E%3C/svg%3E");
  }
.spectrum--light .spectrum-ActionMenu-button:active::before, .spectrum--light .spectrum-ActionMenu-button.is-selected::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='18' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='30' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%2844%2C 44%2C 44%29' cx='6' cy='18' r='4.1'/%3E%3C/svg%3E");
    }
.spectrum--light .spectrum-ActionMenu-button:disabled::before, .spectrum--light .spectrum-ActionMenu-button.is-disabled::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36' viewBox='0 0 36 36'%3E%3Ccircle style='fill:rgb%28179%2C 179%2C 179%29' cx='18' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%28179%2C 179%2C 179%29' cx='30' cy='18' r='4.1'/%3E%3Ccircle style='fill:rgb%28179%2C 179%2C 179%29' cx='6' cy='18' r='4.1'/%3E%3C/svg%3E");
    }
