/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
.spectrum--light .spectrum-Accordion-item {
  border-color: rgb(225, 225, 225);
}
.spectrum--light .spectrum-Accordion-header {
  color: rgb(112, 112, 112);
}
.spectrum--light .spectrum-Accordion-header::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10'%3E%3Cpath style='fill:rgb%28142%2C 142%2C 142%29' d='M6%2C5a.99422.99422%2C0%2C0%2C0-.29272-.70561L1.71586.30456A.99781.99781%2C0%2C0%2C0%2C.28015%2C1.69066l.02453.02452L3.59071%2C5%2C.30468%2C8.28483A.9978.9978%2C0%2C1%2C0%2C1.69135%2C9.72l.02451-.0245L5.70728%2C5.70561A.99412.99412%2C0%2C0%2C0%2C6%2C5Z'/%3E%3C/svg%3E");
  }
.spectrum--light .spectrum-Accordion-header:focus,
  .spectrum--light .spectrum-Accordion-header:hover {
    color: rgb(44, 44, 44);

    background-color: rgb(234, 234, 234);
  }
.spectrum--light .spectrum-Accordion-header:focus::before, .spectrum--light .spectrum-Accordion-header:hover::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10'%3E%3Cpath style='fill:rgb%2875%2C 75%2C 75%29' d='M6%2C5a.99422.99422%2C0%2C0%2C0-.29272-.70561L1.71586.30456A.99781.99781%2C0%2C0%2C0%2C.28015%2C1.69066l.02453.02452L3.59071%2C5%2C.30468%2C8.28483A.9978.9978%2C0%2C1%2C0%2C1.69135%2C9.72l.02451-.0245L5.70728%2C5.70561A.99412.99412%2C0%2C0%2C0%2C6%2C5Z'/%3E%3C/svg%3E");
    }
.spectrum--light .spectrum-Accordion-header:focus:after  {
      background-color: rgb(20, 115, 230);
    }
.spectrum--light .spectrum-Accordion-item.is-open .spectrum-Accordion-header:hover {
        background-color: transparent;
      }
.spectrum--light .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header,
    .spectrum--light .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header:hover,
    .spectrum--light .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header:focus {
      color: rgb(179, 179, 179);
      background-color: transparent;
    }
.spectrum--light .spectrum-Accordion-item.is-disabled .spectrum-Accordion-header::before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='6' height='10' viewBox='0 0 6 10'%3E%3Cpath style='fill:rgb%28202%2C 202%2C 202%29' d='M6%2C5a.99422.99422%2C0%2C0%2C0-.29272-.70561L1.71586.30456A.99781.99781%2C0%2C0%2C0%2C.28015%2C1.69066l.02453.02452L3.59071%2C5%2C.30468%2C8.28483A.9978.9978%2C0%2C1%2C0%2C1.69135%2C9.72l.02451-.0245L5.70728%2C5.70561A.99412.99412%2C0%2C0%2C0%2C6%2C5Z'/%3E%3C/svg%3E");
    }
