/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
/* topdoc
---
name: Flyout
description: Spectrum Flyouts
markup: |

  <ul class="spectrum-Flyout is-open" role="menu">
    <li class="spectrum-Flyout-option is-selected" role="menuitem" tabindex="0">Ballard</li>
    <li class="spectrum-Flyout-option" role="menuitem" tabindex="0">Fremont</li>
    <li class="spectrum-Flyout-option" role="menuitem" tabindex="0">Greenwood</li>
    <hr class="spectrum-Flyout-divider">
    <li class="spectrum-Flyout-option is-disabled" role="menuitem" tabindex="0">United States of America</li>
  </ul>

  <div class="dummy-spacing"></div>

*/
.spectrum--lightest .spectrum-Flyout {
  background-color: rgb(255, 255, 255);
  border-color: rgb(211, 211, 211);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.spectrum--lightest .spectrum-Flyout-option {
  background-color: transparent;
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Flyout-option:focus {
    background-color: rgba(50, 50, 50, .04);
    color: rgb(80, 80, 80);
    background-image: linear-gradient(to right, rgb(55, 142, 240) 0%, rgb(55, 142, 240) 2px, transparent 2px, transparent 100%);
  }
.spectrum--lightest .spectrum-Flyout-option:focus.is-selected {
      background-color: rgba(50, 50, 50, .04);
      color: rgb(20, 115, 230);
      background-image: linear-gradient(to right, rgb(55, 142, 240) 0%, rgb(55, 142, 240) 2px, transparent 2px, transparent 100%);
    }
.spectrum--lightest .spectrum-Flyout-option:hover {
    background-color: rgba(50, 50, 50, .04);
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Flyout-option:hover.is-selected {
      background-color: rgba(50, 50, 50, .04);
      color: rgb(20, 115, 230);
    }
.spectrum--lightest .spectrum-Flyout-option.is-selected {
    background-color: transparent;
    color: rgb(20, 115, 230);
  }
.spectrum--lightest .spectrum-Flyout-option.is-selected::after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10 8' enable-background='new 0 0 10 8' xml:space='preserve'%3E%3Cpath style='fill:rgb%2855%2C 142%2C 240%29' d='M3.8%2C7.4C3.5%2C7.4%2C3.2%2C7.3%2C3%2C7.1L0.8%2C4.8c-0.4-0.4-0.4-1%2C0-1.4s1-0.4%2C1.4%2C0L3.8%2C5l4-4c0.4-0.4%2C1-0.4%2C1.4%2C0 s0.4%2C1%2C0%2C1.4L4.5%2C7.1C4.3%2C7.3%2C4%2C7.4%2C3.8%2C7.4z'/%3E%3C/svg%3E");
    }
.spectrum--lightest .spectrum-Flyout-option.is-disabled {
    background-color: transparent;
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Flyout-divider {
  background-color: rgb(244, 244, 244);
}
