
.spectrum--lightest .spectrum-Table {
  --spectrum-alias-highlight-selected: rgba(38,128,235,0.1);
  --spectrum-alias-border-color-focus: rgb(55, 142, 240);
  --spectrum-table-background-color: rgb(255, 255, 255);
  --spectrum-table-border-color: rgb(234, 234, 234);
  --spectrum-table-divider-border-color: rgb(234, 234, 234);
  --spectrum-table-row-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-header-text-color: rgb(116, 116, 116);
  --spectrum-table-header-sort-icon-color: rgb(149, 149, 149);
  --spectrum-table-header-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-cell-text-color: rgb(80, 80, 80);
  --spectrum-table-cell-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-cell-border-color: rgb(234, 234, 234);
  --spectrum-table-row-background-color-hover: rgba(50,50,50,0.06);
  --spectrum-table-header-text-color-hover: rgb(50, 50, 50);
  --spectrum-table-header-sort-icon-color-hover: rgb(50, 50, 50);
  --spectrum-table-row-background-color-down: rgba(50,50,50,0.1);
  --spectrum-table-header-text-color-down: rgb(50, 50, 50);
  --spectrum-table-header-sort-icon-color-down: rgb(50, 50, 50);
  --spectrum-table-header-text-color-key-focus: rgb(50, 50, 50);
  --spectrum-table-header-sort-icon-color-key-focus: rgb(50, 50, 50);
  --spectrum-table-cell-border-color-key-focus: rgb(55, 142, 240);
  --spectrum-table-row-background-color-selected: rgba(38,128,235,0.1);
  --spectrum-table-row-background-color-selected-hover: rgba(38,128,235,0.2);
  --spectrum-table-row-background-color-selected-key-focus: rgba(38,128,235,0.2);
  --spectrum-table-quiet-row-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-quiet-cell-background-color: rgba(0, 0, 0, 0);
  --spectrum-table-quiet-row-background-color-hover: rgba(50,50,50,0.06);
  --spectrum-table-quiet-row-background-color-down: rgba(50,50,50,0.1);
  --spectrum-table-quiet-row-background-color-selected: rgba(38,128,235,0.1);
  --spectrum-table-quiet-row-background-color-selected-hover: rgba(38,128,235,0.2);
  --spectrum-table-quiet-row-background-color-selected-key-focus: rgba(38,128,235,0.2);
}
