
.spectrum--large .spectrum-CircleLoader {
  --spectrum-loader-circle-large-height: 80px;
  --spectrum-loader-circle-large-width: 80px;
  --spectrum-loader-circle-large-border-size: 5px;
  --spectrum-loader-circle-medium-height: 32px;
  --spectrum-loader-circle-medium-width: 32px;
  --spectrum-loader-circle-medium-border-size: 4px;
  --spectrum-loader-circle-small-height: 16px;
  --spectrum-loader-circle-small-width: 16px;
  --spectrum-loader-circle-small-border-size: 3px;
}
