/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
.spectrum--lightest .spectrum-Calendar-prevMonth::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='16' viewBox='0 0 12 16'%3E%3Cpath style='fill:rgb%28118%2C 118%2C 118%29' d='M.5%2C7.99871a1.24041%2C1.24041%2C0%2C0%2C0%2C.3856.89671l-.0028.003%2C7%2C6.74783.0025-.0031a1.2457%2C1.2457%2C0%2C1%2C0%2C1.7459-1.77732l-.0165-.01591.003-.0031L3.55%2C7.99871%2C9.6177%2C2.15l-.0027-.0027A1.24569%2C1.24569%2C0%2C1%2C0%2C7.89626.34371L7.885.35457%2C7.8823.35187%2C7.8666.367l-.0009.0008L.8828%2C7.099l.0027.0029A1.24041%2C1.24041%2C0%2C0%2C0%2C.5%2C7.99871Z'/%3E%3C/svg%3E");
}
.spectrum--lightest .spectrum-Calendar-nextMonth::after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='16' viewBox='0 0 12 16'%3E%3Cpath style='fill:rgb%28118%2C 118%2C 118%29' d='M11.5%2C8.00129a1.24041%2C1.24041%2C0%2C0%2C0-.3856-.89671l.0028-.003-7-6.74783-.0025.0031A1.2457%2C1.2457%2C0%2C1%2C0%2C2.3688%2C2.13416l.0165.01591-.003.0031L8.45%2C8.00129%2C2.3823%2C13.85l.0027.0027a1.24569%2C1.24569%2C0%2C1%2C0%2C1.71874%2C1.80358l.01126-.01086.0027.0027.0157-.01509.0009-.0008L11.1172%2C8.901l-.0027-.0029A1.24041%2C1.24041%2C0%2C0%2C0%2C11.5%2C8.00129Z'/%3E%3C/svg%3E");
}
.spectrum--lightest .spectrum-Calendar-dayOfWeek {
  color: rgb(118, 118, 118);
}
.spectrum--lightest .spectrum-Calendar-date {
  color: rgb(80, 80, 80);
  background: transparent;
}
.spectrum--lightest .spectrum-Calendar-date:hover:not(.is-range-selection) {
    color: rgb(80, 80, 80);
    background: rgb(244, 244, 244);
  }
.spectrum--lightest .spectrum-Calendar-date:hover:not(.is-range-selection):active,
    .spectrum--lightest .spectrum-Calendar-date:hover:not(.is-range-selection).is-selected {
      color: white;
      background: rgb(20, 115, 230);
    }
.spectrum--lightest .spectrum-Calendar-date:active,
  .spectrum--lightest .spectrum-Calendar-date.is-selected {
    color: white;
    background: rgb(38, 128, 235);
  }
.spectrum--lightest .spectrum-Calendar-date.is-today {
    color: white;
    background: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Calendar-date.is-today:hover {
      color: white;
      background: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-Calendar-date.is-today:hover:active,
      .spectrum--lightest .spectrum-Calendar-date.is-today:hover.is-selected {
        color: white;
        background: rgb(20, 115, 230);
        border-color: rgb(20, 115, 230);
      }
.spectrum--lightest .spectrum-Calendar-date.is-today:active,
    .spectrum--lightest .spectrum-Calendar-date.is-today.is-selected {
      color: white;
      background: rgb(38, 128, 235);
    }
.spectrum--lightest .spectrum-Calendar-date.is-today.is-disabled {
      color: rgb(188, 188, 188);
      background: rgb(244, 244, 244);
    }
.spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection) {
    background: rgb(234, 234, 234);
    border-color: rgb(55, 142, 240);
    color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection).is-today {
      background: rgb(50, 50, 50);
      border-color: rgb(55, 142, 240);
      color: white;
    }
.spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection):active,
    .spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection).is-selected {
      color: white;
      background: rgb(38, 128, 235);
      border-color: rgb(38, 128, 235);
    }
.spectrum--lightest .spectrum-Calendar-date.is-disabled {
    color: rgb(188, 188, 188);
  }
