/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
/* :before is used for the track of the switch */
.spectrum-ToggleSwitch-content::before {
    background-color: rgb(62, 62, 62);
  }
/* :after is used for the handle of the switch */
.spectrum-ToggleSwitch-content::after {
    background-color: rgb(45, 45, 45);
    border-color: rgb(123, 123, 123);
  }
.spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-content::before {
      background-color: rgb(55, 142, 240);
    }
.spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-content::after {
      border-color: rgb(55, 142, 240);
    }
.spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-content::after {
        border-color: rgb(55, 142, 240);
        box-shadow: 0 0 0 1px rgb(55, 142, 240);
      }
.spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-content::before {
        background-color: rgb(38, 128, 235);
      }
.spectrum-ToggleSwitch-input.focus-ring ~ .spectrum-ToggleSwitch-label {
      color: rgb(90, 169, 250);
    }
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(153, 153, 153);
          box-shadow: none;
        }
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(75, 156, 245);
        }
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(75, 156, 245);
        }
.spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
        color: rgb(255, 255, 255);
      }
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(205, 205, 205);
        }
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(90, 169, 250);
        }
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(90, 169, 250);
        }
.spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
        color: rgb(255, 255, 255);
      }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled ~ .spectrum-ToggleSwitch-label {
        color: rgb(92, 92, 92);
      }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(62, 62, 62);
        }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(77, 77, 77);
        }
.spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(77, 77, 77);
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(62, 62, 62);
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-content::after {
        /* Don't be blue */
        border-color: rgb(123, 123, 123);
      }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(62, 62, 62);
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(55, 142, 240);
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(62, 62, 62);
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(62, 62, 62);
        }
.spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(77, 77, 77);
        }
.spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(62, 62, 62);
        }
.spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(153, 153, 153);
        }
.spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::before {
          background-color: rgb(62, 62, 62);
        }
.spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-content::after {
          border-color: rgb(205, 205, 205);
        }
