/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */

  /* Loader */

  /* Shell */
}
.spectrum-InputGroup:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus),
      .spectrum-InputGroup:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) ~ .spectrum-InputGroup-button {
        border-color: rgb(77, 77, 77);
      }
.spectrum-InputGroup-input:focus ~ .spectrum-InputGroup-button {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-InputGroup-button, .spectrum-InputGroup-input:focus:invalid ~ .spectrum-InputGroup-button {
      border-color: rgb(227, 72, 80);
      box-shadow: 0 0 0 1px rgb(227, 72, 80);
    }
.spectrum-InputGroup--quiet .spectrum-InputGroup-button,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button:hover,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button:focus,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button:active,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button.is-selected,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button:invalid,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button.is-invalid,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button:disabled,
    .spectrum-InputGroup--quiet .spectrum-InputGroup-button:disabled:hover {
      border-color: rgb(62, 62, 62);
    }
.spectrum-InputGroup--quiet:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus),
      .spectrum-InputGroup--quiet:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) ~ .spectrum-InputGroup-button {
        border-color: rgb(77, 77, 77);
      }
.spectrum-InputGroup--quiet .spectrum-InputGroup-input.is-invalid,
      .spectrum-InputGroup--quiet .spectrum-InputGroup-input.is-invalid ~ .spectrum-InputGroup-button,
      .spectrum-InputGroup--quiet .spectrum-InputGroup-input:invalid,
      .spectrum-InputGroup--quiet .spectrum-InputGroup-input:invalid ~ .spectrum-InputGroup-button {
        border-color: rgb(227, 72, 80);
      }
.spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus ~ .spectrum-InputGroup-button {
        border-color: rgb(38, 128, 235);
        box-shadow: 0 1px 0 rgb(38, 128, 235);
      }
.spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-InputGroup-button, .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus:invalid ~ .spectrum-InputGroup-button {
          border-color: rgb(227, 72, 80);
          box-shadow: 0 1px 0 rgb(227, 72, 80);
        }
