/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

.spectrum-InputGroup:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus),
      .spectrum-InputGroup:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) ~ .spectrum-FieldButton {
        border-color: rgb(77, 77, 77);
      }

.spectrum-InputGroup-input:focus ~ .spectrum-FieldButton {
    border-color: rgb(38, 128, 235);
  }

.spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-FieldButton, .spectrum-InputGroup-input:focus:invalid ~ .spectrum-FieldButton {
      border-color: rgb(227, 72, 80);
    }

/* Only add the 2px ring for keyboard focus */

.spectrum-InputGroup-input.focus-ring ~ .spectrum-FieldButton {
    box-shadow: 0 0 0 0.0625rem rgb(38, 128, 235);
  }

.spectrum-InputGroup-input.focus-ring.is-invalid ~ .spectrum-FieldButton, .spectrum-InputGroup-input.focus-ring:invalid ~ .spectrum-FieldButton {
      box-shadow: 0 0 0 0.0625rem rgb(227, 72, 80);
    }

.spectrum-InputGroup--quiet .spectrum-FieldButton,
    .spectrum-InputGroup--quiet .spectrum-FieldButton:hover,
    .spectrum-InputGroup--quiet .spectrum-FieldButton:focus,
    .spectrum-InputGroup--quiet .spectrum-FieldButton:active,
    .spectrum-InputGroup--quiet .spectrum-FieldButton.is-selected,
    .spectrum-InputGroup--quiet .spectrum-FieldButton:invalid,
    .spectrum-InputGroup--quiet .spectrum-FieldButton.is-invalid,
    .spectrum-InputGroup--quiet .spectrum-FieldButton:disabled,
    .spectrum-InputGroup--quiet .spectrum-FieldButton:disabled:hover {
      border-color: rgb(62, 62, 62);
    }

.spectrum-InputGroup--quiet:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus),
      .spectrum-InputGroup--quiet:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) ~ .spectrum-FieldButton {
        border-color: rgb(77, 77, 77);
      }

.spectrum-InputGroup--quiet .spectrum-InputGroup-input.is-invalid,
      .spectrum-InputGroup--quiet .spectrum-InputGroup-input.is-invalid ~ .spectrum-FieldButton,
      .spectrum-InputGroup--quiet .spectrum-InputGroup-input:invalid,
      .spectrum-InputGroup--quiet .spectrum-InputGroup-input:invalid ~ .spectrum-FieldButton {
        border-color: rgb(227, 72, 80);
      }

/* Always add the 2px ring for keyboard focus for quiet inputgroups */

.spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus ~ .spectrum-FieldButton {
        box-shadow: 0 0.0625rem 0 rgb(38, 128, 235);
        border-color: rgb(38, 128, 235);
      }

.spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-FieldButton, .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus:invalid ~ .spectrum-FieldButton {
          box-shadow: 0 0.0625rem 0 rgb(227, 72, 80);
          border-color: rgb(227, 72, 80);
        }
