
.spectrum--darkest .spectrum-Label {
  --spectrum-label-colored-gray-background-color: rgb(116, 116, 116);
  --spectrum-label-colored-green-background-color: rgb(38, 142, 108);
  --spectrum-label-colored-blue-background-color: rgb(20, 115, 230);
  --spectrum-label-colored-red-background-color: rgb(215, 55, 63);
  --spectrum-label-colored-seafoam-background-color: rgb(22, 135, 140);
  --spectrum-label-colored-fuchsia-background-color: rgb(177, 48, 189);
  --spectrum-label-colored-orange-background-color: rgb(218, 123, 17);
  --spectrum-label-colored-yellow-background-color: rgb(210, 178, 0);
  --spectrum-label-colored-text-color: rgb(255, 255, 255);
}
