/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/

  /* Button */
}
/* topdoc
---
name: Quick Actions
description: Spectrum quick actions (requires an icon)
markup: |
  <div class="spectrum-QuickActions is-open">
    <button class="spectrum-QuickActions-button">
      <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Text" role="img" aria-label="info"></span>
    </button>
    <button class="spectrum-QuickActions-button">
      <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--RotateLeft" role="img" aria-label="info"></span>
    </button>
    <button class="spectrum-QuickActions-button">
      <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Crop" role="img" aria-label="info"></span>
    </button>
    <button class="spectrum-QuickActions-button">
      <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--DeleteOutline" role="img" aria-label="info"></span>
    </button>
  </div>

*/
.spectrum-QuickActions-button {
  background-color: rgb(37, 37, 37);
  border-color: rgb(77, 77, 77);
  color: rgb(153, 153, 153);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.spectrum-QuickActions-button:hover {
    border-color: rgb(153, 153, 153);
    color: rgb(255, 255, 255);
  }
.spectrum-QuickActions-button:focus {
    border-color: rgb(38, 128, 235);
    color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
    outline: none;
  }
.spectrum-QuickActions-button:active {
    border-color: rgb(205, 205, 205);
    color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
