/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

.spectrum--darkest .spectrum-InputGroup:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus),
      .spectrum--darkest .spectrum-InputGroup:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) ~ .spectrum-FieldButton {
        border-color: rgb(60, 60, 60);
      }

.spectrum--darkest .spectrum-InputGroup-input:focus ~ .spectrum-FieldButton {
    border-color: rgb(20, 115, 230);
  }

.spectrum--darkest .spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-FieldButton, .spectrum--darkest .spectrum-InputGroup-input:focus:invalid ~ .spectrum-FieldButton {
      border-color: rgb(215, 55, 63);
    }

/* Only add the 2px ring for keyboard focus */

.spectrum--darkest .spectrum-InputGroup-input.focus-ring ~ .spectrum-FieldButton {
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }

.spectrum--darkest .spectrum-InputGroup-input.focus-ring.is-invalid ~ .spectrum-FieldButton, .spectrum--darkest .spectrum-InputGroup-input.focus-ring:invalid ~ .spectrum-FieldButton {
      box-shadow: 0 0 0 1px rgb(215, 55, 63);
    }

.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton:hover,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton:focus,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton:active,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton.is-selected,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton:invalid,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton.is-invalid,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton:disabled,
    .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-FieldButton:disabled:hover {
      border-color: rgb(45, 45, 45);
    }

.spectrum--darkest .spectrum-InputGroup--quiet:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus),
      .spectrum--darkest .spectrum-InputGroup--quiet:hover .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) ~ .spectrum-FieldButton {
        border-color: rgb(60, 60, 60);
      }

.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input.is-invalid,
      .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input.is-invalid ~ .spectrum-FieldButton,
      .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:invalid,
      .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:invalid ~ .spectrum-FieldButton {
        border-color: rgb(215, 55, 63);
      }

/* Always add the 2px ring for keyboard focus for quiet inputgroups */

.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus ~ .spectrum-FieldButton {
        box-shadow: 0 1px 0 rgb(20, 115, 230);
        border-color: rgb(20, 115, 230);
      }

.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus.is-invalid ~ .spectrum-FieldButton, .spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-input:focus:invalid ~ .spectrum-FieldButton {
          box-shadow: 0 1px 0 rgb(215, 55, 63);
          border-color: rgb(215, 55, 63);
        }
