
.spectrum--darkest .spectrum-Dropzone {
  --spectrum-global-color-blue-400: rgb(20, 115, 230);
  --spectrum-dropzone-border-color: rgb(57, 57, 57);
  --spectrum-dropzone-border-color-selected-hover: rgb(20, 115, 230);
  --spectrum-dropzone-background-color-selected-hover: rgba(38,128,235,0.2);
}
