
.spectrum--dark .spectrum-InputGroup,
.spectrum--dark .spectrum-Datepicker {
  --spectrum-dropdown-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-dropdown-border-color-error: rgb(236, 91, 98);
  --spectrum-textfield-border-color-hover: rgb(90, 90, 90);
  --spectrum-textfield-border-color-key-focus: rgb(38, 128, 235);
  --spectrum-textfield-text-color-disabled: rgb(110, 110, 110);
  --spectrum-textfield-border-color-error: rgb(236, 91, 98);
  --spectrum-textfield-quiet-border-color: rgb(74, 74, 74);
  --spectrum-textfield-quiet-border-color-hover: rgb(90, 90, 90);
  --spectrum-textfield-quiet-border-color-key-focus: rgb(38, 128, 235);
}
