.spectrum-Stepper {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  width: 192px;
  line-height: 0;
  border-radius: 4px;
  transition: border-color 125ms ease-in-out, box-shadow 125ms ease-in-out;
}

.spectrum-Stepper::before {
  content: '';
}

.spectrum-Stepper-buttons {
  display: block;
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {
  display: block;

  height: 16px;
  width: 24px;

  padding-left: 6px;
  padding-right: 6px;

  /* Avoid margin added by adjacent buttons */
  margin: 0 !important;

  border-width: 1px;
  border-right-width: 0;
  border-radius: 4px 0 0 4px;
}

.spectrum-Stepper-stepUp {
  border-bottom: none;
  border-bottom-left-radius: 0;
}

.spectrum-Stepper-stepDown {
  border-top: none;
  border-top-left-radius: 0;
}

.spectrum-Stepper-stepDown:focus {
    border-top: none;
  }

.spectrum-Stepper-input {
  position: relative;

  -ms-flex: 1;

      flex: 1;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.spectrum-Stepper-stepUpIcon,
.spectrum-Stepper-stepDownIcon {
  position: relative;
  width: 12px;
  height: 12px;
}

.spectrum-Stepper-stepUpIcon::after, .spectrum-Stepper-stepDownIcon::after {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    content: '';
  }

.spectrum-Stepper-stepUpIcon::after {
  /* Off by 1px otherwise */
  top: 5px;
}

.spectrum-Stepper--quiet {
  border-radius: 0;
}

.spectrum-Stepper--quiet .spectrum-Stepper-buttons .spectrum-Button--quiet--action {
      border-top: none;
      border-left: none;
    }

.spectrum-Stepper--quiet .spectrum-Stepper-buttons .spectrum-Stepper-stepDown {
      border-radius: 0;
    }
