/* topdoc
{{ dropdown/dropdown-default.yml }}
*/

.spectrum-Dropdown {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  font-size: 0.875rem;
  cursor: pointer;
  display: inline-block;
}

.spectrum-Dropdown.is-disabled {
    border-width: 0;
  }

.spectrum-Dropdown.is-disabled .spectrum-Dropdown-trigger {
      border-width: 0;
      cursor: default;
    }

/*
    Todo: Determine if missing mixin is required?
    spectrum-dropdown--open()
    */

.spectrum-Dropdown.is-open .spectrum-Dropdown-menu {
      /*
        Note: No position information included for this demo.
        The implementation of Spectrum must calculate the fixed position of the dropdown relative to its trigger.
      */
      display: block;
    }

.spectrum-Dropdown.has-error .spectrum-Dropdown-open-icon::after {
        /* make room for the alert icon */
        right: 32px
      }

.spectrum-Dropdown.has-error .spectrum-Dropdown-error-icon {
      display: inline;
    }

.spectrum-Dropdown.has-error .spectrum-Dropdown-trigger {
      -ms-flex-pack: end;
          justify-content: flex-end;
    }

.spectrum-Dropdown.has-error .spectrum-Dropdown-trigger-label {
      position: absolute;
      left: 10px;
    }

.spectrum-Dropdown-trigger {
  width: 100%;
  height: 32px;
  border-width: 0;
  border-radius: 4px;
  outline: none;
  margin: 0;
  cursor: pointer;
  padding: 0 10px;
  font-family: inherit;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.spectrum-Dropdown-trigger--placeholder {
  font-style: italic;
}

.spectrum-Dropdown-menu {
  display: none;
}

.spectrum-Dropdown-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.spectrum-Dropdown-option {
  position: relative;

  padding: 0 10px;
  height: 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.spectrum-Dropdown-option.is-selected::after {
      position: absolute;
      right: 10px;
      top: 11px;

      width: 12px;
      height: 12px;

      background-repeat: no-repeat;
      background-size: 12px 12px;

      transform: scale(1);
      opacity: 1;

      content: '';
    }

.spectrum-Dropdown-divider {
  height: 1px;
  width: calc(100% - 20px);
  margin: 0;
  margin-left: 10px;
  border: none;
}

.spectrum-Dropdown-error-icon {
  margin-left: 8px;
  display: none;
}

.spectrum-Dropdown-open-icon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 4px;
}

/* to create a gap between label and icon in quiet mode */

.spectrum-Dropdown-open-icon::after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 8px;

    background-repeat: no-repeat;
    background-position: center;
    /* background-size: var(--spectrum-dropdown-chevron-icon-width) var(--spectrum-dropdown-chevron-icon-height); */

    transform: scale(1);
    opacity: 1;

    content: '';
  }

/* topdoc
{{ dropdown/dropdown-quiet.yml }}
*/

.spectrum-Dropdown--quiet {
  border: none;
}

.spectrum-Dropdown--quiet .spectrum-Dropdown-trigger {
    padding: 0;
    margin: 0;

    border-width: 0 0 2px 0;
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;

    -ms-flex-pack: start;

        justify-content: flex-start;
  }

.spectrum-Dropdown--quiet .spectrum-Dropdown-option {
    padding-right: 32px;
  }

.spectrum-Dropdown--quiet.is-open {
    box-shadow: none;
  }

.spectrum-Dropdown--quiet.is-open .spectrum-Dropdown-menu {
      border-radius: 4px;
    }

.spectrum-Dropdown--quiet.is-open .spectrum-Dropdown-divider {
      display: none;
    }

.spectrum-Dropdown--quiet.has-error .spectrum-Dropdown-trigger-label {
      position: static;
    }

/*
.spectrum-Dropdown-trigger--focus {
  spectrum-dropdown-trigger--focus()
}

.spectrum-Dropdown-option--focus {
  spectrum-dropdown-option--focus()
}

.spectrum-Dropdown--quiet {
  .spectrum-Dropdown-trigger--focus {
    spectrum-dropdown-trigger--quiet--focus()
  }
}
*/

