:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
name: Dropdown - Default
description: A Spectrum 'default' dropdown element with a Flyout whose minimum width is the width of the trigger. Also note that dropdown width must be set by the user.
markup: |
  <h4>Closed</h4>
  <div class="spectrum-Dropdown" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-label is-placeholder">Select a Country</span>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

  <h4>Open</h4>
  <div class="spectrum-Dropdown is-open" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown is-selected spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-label">Ballard</span>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
    <div class="spectrum-Popover spectrum-Popover--bottom is-open">
      <ul class="spectrum-SelectList" role="menu" tabindex="0">
        <li class="spectrum-SelectList-item is-selected" role="menuitem" tabindex="-1">
          Ballard
          <svg class="spectrum-Icon spectrum-SelectList-checkmark" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-MenuCheckmark" />
          </svg>
        </li>
        <li class="spectrum-SelectList-item" role="menuitem" tabindex="-1">Fremont</li>
        <li class="spectrum-SelectList-item" role="menuitem" tabindex="-1">Greenwood</li>
        <hr class="spectrum-SelectList-divider">
        <li class="spectrum-SelectList-item is-disabled" role="menuitem" tabindex="-1">United States of America</li>
      </ul>
    </div>
  </div>

  <h4>Disabled</h4>
  <div class="spectrum-Dropdown is-disabled" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown spectrum-Dropdown-trigger" disabled aria-haspopup="true">
      <span class="spectrum-Dropdown-label is-placeholder">Select a Country</span>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

*/

.spectrum-Dropdown {
  position: relative;
  display: inline-block;
  min-width: 192px;
}

.spectrum-Dropdown .spectrum-Popover {
    min-width: 100%;
    margin-top: 2px;
    overflow-y: auto;
  }

.spectrum-Dropdown--quiet .spectrum-Popover {
    left: -12px;
  }

.spectrum-Dropdown-trigger {
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.spectrum-Dropdown-trigger .spectrum-Dropdown-label {
    /* Be the biggest! */
    -ms-flex: 1;
        flex: 1;

    white-space: nowrap;
    overflow: hidden;

    margin-right: 12px;

    text-overflow: ellipsis;
    text-align: left;
  }

.spectrum-Dropdown-trigger .spectrum-Dropdown-label.is-placeholder {
      font-style: italic;
    }

.spectrum-Dropdown-icon {
  display: inline-block;
  position: relative;
  vertical-align: top;

  width: 10px;
  height: 6px;

  margin-left: 5px;

  opacity: 1;
}

/* topdoc
name: Dropdown - Quiet
description: A Spectrum 'quiet' dropdown.
markup: |
  <h4>Closed</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-label is-placeholder">Select a Country</span>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

  <h4>Open</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet is-open" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown is-selected spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-label">Ballard</span>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
    <div class="spectrum-Popover spectrum-Popover--bottom is-open">
      <ul class="spectrum-SelectList" role="menu" tabindex="0">
        <li class="spectrum-SelectList-item is-selected" role="menuitem" tabindex="-1">Ballard</li>
        <li class="spectrum-SelectList-item" role="menuitem" tabindex="-1">Fremont</li>
        <li class="spectrum-SelectList-item" role="menuitem" tabindex="-1">Greenwood</li>
        <hr class="spectrum-SelectList-divider">
        <li class="spectrum-SelectList-item is-disabled" role="menuitem" tabindex="-1">United States of America</li>
      </ul>
    </div>
  </div>

  <h4>Disabled</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet is-disabled" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown spectrum-Dropdown-trigger" disabled aria-haspopup="true">
      <span class="spectrum-Dropdown-label is-placeholder">Select a Country</span>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

*/

.spectrum-Dropdown--quiet {
  min-width: 0;
}

.spectrum-Dropdown--quiet .spectrum-Dropdown-trigger {
    width: auto;
  }

/* topdoc
name: Dropdown - Invalid
description: A Spectrum 'invalid' dropdown element. This is also a good example of how to use a custom icon.
markup: |
  <h4>Closed</h4>
  <div class="spectrum-Dropdown is-invalid" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown is-invalid spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-label">Select a Country</span>
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Folder">
        <use xlink:href="#spectrum-icon-18-Alert" />
      </svg>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

  <h4>Open</h4>
  <div class="spectrum-Dropdown is-invalid" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown is-invalid spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-label">Ballard</span>
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Folder">
        <use xlink:href="#spectrum-icon-18-Alert" />
      </svg>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
    <div class="spectrum-Popover spectrum-Popover--bottom is-open">
      <ul class="spectrum-SelectList" role="menu" tabindex="0">
        <li class="spectrum-SelectList-item is-selected" role="menuitem" tabindex="-1">
          Ballard
          <svg class="spectrum-Icon spectrum-SelectList-checkmark" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-MenuCheckmark" />
          </svg>
        </li>
        <li class="spectrum-SelectList-item" role="menuitem" tabindex="-1">Fremont</li>
        <li class="spectrum-SelectList-item" role="menuitem" tabindex="-1">Greenwood</li>
        <hr class="spectrum-SelectList-divider">
        <li class="spectrum-SelectList-item is-disabled" role="menuitem" tabindex="-1">United States of America</li>
      </ul>
    </div>
  </div>

  <h4>Disabled</h4>
  <div class="spectrum-Dropdown is-invalid" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown is-invalid spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-label">Select a Country</span>
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Folder">
        <use xlink:href="#spectrum-icon-18-Alert" />
      </svg>
      <svg class="spectrum-Icon spectrum-Dropdown-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-css-icon-SelectDownChevron" />
      </svg>
    </button>
  </div>

*/
