:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
name: Dropdown - Default
description: A Spectrum 'default' dropdown element with a flyout whose minimum width is the width of the trigger. Also note that dropdown width must be set by the user.
markup: |
  <h4>Closed</h4>
  <div class="spectrum-Dropdown" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label is-placeholder">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <h4>Open</h4>
  <div class="spectrum-Dropdown is-open" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown is-selected spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label">Ballard</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout is-open" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <div class="dummy-spacing"></div>

  <h4>Disabled</h4>
  <div class="spectrum-Dropdown is-disabled" style="width: 195px;">
    <button class="spectrum-Button spectrum-Button--dropdown spectrum-Dropdown-trigger" disabled aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label is-placeholder">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-option">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

*/

.spectrum-Dropdown {
  position: relative;
  display: inline-block;
  min-width: 192px;
}

.spectrum-List.spectrum-Dropdown-flyout {
  min-width: 100%;
  max-height: 280px;
  margin-top: 2px;
  overflow-y: auto;
}

.spectrum-Dropdown-trigger {
  position: relative;
  width: 100%;
}

.spectrum-Dropdown-trigger .spectrum-Dropdown-trigger-container {
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }

.spectrum-Dropdown-trigger .spectrum-Dropdown-trigger-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;
  }

.spectrum-Dropdown-trigger .spectrum-Dropdown-trigger-label.is-placeholder {
      font-style: italic;
    }

.spectrum-Dropdown-icon-container .spectrum-Icon {
    margin-left: 8px;;
  }

.spectrum-Dropdown-icon-container .spectrum-Dropdown-open-icon {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 18px;
    vertical-align: top;
  }

.spectrum-Dropdown-icon-container .spectrum-Dropdown-open-icon::after {
      position: absolute;
      top: 6px;
      left: 0;

      width: 12px;
      height: 8px;

      background-repeat: no-repeat;
      background-position: center;

      opacity: 1;

      content: '';
    }

/* topdoc
name: Dropdown - Quiet
description: A Spectrum 'quiet' dropdown.
markup: |
  <h4>Closed</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label is-placeholder">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <h4>Open</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet is-open">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown is-selected spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label">Ballard</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout is-open" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>
  <div class="dummy-spacing"></div>

  <h4>Disabled</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet is-disabled">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown spectrum-Dropdown-trigger" disabled aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label is-placeholder">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-Dropdown-flyout" role="menu" tabindex="0">
      <li class="spectrum-Flyout-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-Flyout-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-Flyout-divider">
      <li class="spectrum-Flyout-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

*/

.spectrum-Dropdown--quiet {
  min-width: 0;
}

.spectrum-Dropdown--quiet .spectrum-Dropdown-trigger {
    margin: 0 12px;
    width: calc(100% - 24px);
  }

/* topdoc
name: Dropdown - Invalid
description: A Spectrum 'invalid' dropdown element. This is also a good example of how to use a custom icon.
markup: |
  <h4>Closed</h4>
  <div class="spectrum-Dropdown is-invalid">
    <button class="spectrum-Button spectrum-Button--dropdown is-invalid spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <h4>Open</h4>
  <div class="spectrum-Dropdown is-open is-invalid">
    <button class="spectrum-Button spectrum-Button--dropdown is-selected is-invalid spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout is-open" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <div class="dummy-spacing"></div>

  <h4>Closed</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet is-invalid">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown is-invalid spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <h4>Open</h4>
  <div class="spectrum-Dropdown spectrum-Dropdown--quiet is-open is-invalid">
    <button class="spectrum-Button spectrum-Button--quiet--dropdown is-selected is-invalid spectrum-Dropdown-trigger" aria-haspopup="true">
      <span class="spectrum-Dropdown-trigger-container">
        <span class="spectrum-Dropdown-trigger-label">Select a Country</span>
        <span class="spectrum-Dropdown-icon-container">
          <span class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Alert"></span>
          <span class="spectrum-Dropdown-open-icon"></span>
        </span>
      </span>
    </button>
    <ul class="spectrum-Flyout spectrum-Flyout--bottom spectrum-List spectrum-Dropdown-flyout is-open" role="menu" tabindex="0">
      <li class="spectrum-List-option is-selected" role="menuitem" tabindex="-1">Ballard</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Fremont</li>
      <li class="spectrum-List-option" role="menuitem" tabindex="-1">Greenwood</li>
      <hr class="spectrum-List-divider">
      <li class="spectrum-List-option is-disabled" role="menuitem" tabindex="-1">United States of America</li>
    </ul>
  </div>

  <div class="dummy-spacing"></div>

*/
