:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
---
name: Alert - Closable
description: >-
  The closable Spectrum alert. It has a close button in the footer.
  Combine this strategy with any variant.
markup: |
  <div class="spectrum-Alert spectrum-Alert--error">
    <div class="spectrum-Alert-typeIcon" role="img" aria-label="alert"></div>
    <div class="spectrum-Alert-header">Incorrect Payment Information - Error</div>
    <div class="spectrum-Alert-content">This is an alert.</div>
    <div class="spectrum-Alert-footer">
      <button class="spectrum-Button spectrum-Button--quiet--primary">Close</button>
    </div>
  </div>

*/

.spectrum-Alert {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  min-width: 384px;
  min-height: 38px;
  margin: 8px 0;
  padding: 16px 20px;

  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.spectrum-Alert-typeIcon {
  position: absolute;
  top: 20px;
  right: 20px;

  /* Support font icons */
  text-align: right;
}

.spectrum-Alert-typeIcon::after {
  display: block;
  content: '';
  width: 18px;
  height: 18px;

  /* Support font icons */
  font-size: 1.125rem;

  /* Support SVG icons */
  background-size: contain;
}

.spectrum-Alert-header {
  display: inline-block;
  height: auto;
  min-height: 0;
  margin: 0;
  padding: 0;

  /* Leave room for the icon */
  padding-right: 30px;

  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  line-height: 0.875rem;
  text-transform: none;
}

.spectrum-Alert-content {
  display: block;
  margin: 12px 0 0 0;
  padding: 0;

  font-size: 0.875rem;
  word-wrap: break-word;
}

.spectrum-Alert-footer {
  display: block;

  text-align: right;

  padding-top: 0.5rem;
}

.spectrum-Alert-footer:empty {
    display: none;
  }

.spectrum-Alert-footer .spectrum-Button {
    margin-right: 0;

    /* Spacing between buttons */
    margin-left: 0.75rem;
  }
