spectrum-fontIcon--font-face--18(path) {
  @font-face {
    font-family: 'spectrum-css-icons-18';
    src: url(path + '/spectrum-css-icons-18.eot'); /* IE9 Compat Modes */
    src: url(path + '/spectrum-css-icons-18.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url(path + '/spectrum-css-icons-18.woff2') format('woff2'), /* Super Modern Browsers */
         url(path + '/spectrum-css-icons-18.woff') format('woff'), /* Pretty Modern Browsers */
         url(path + '/spectrum-css-icons-18.ttf') format('truetype'), /* Safari, Android, iOS */
         url(path + '/spectrum-css-icons-18.svg#spectrum-css-icons-18') format('svg'); /* Legacy iOS */

    font-weight: normal;
    font-style: normal;
  }
}

spectrum-fontIcon() {
  display: inline-block
  font-style: normal
  font-weight: normal
  line-height: inherit

  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
}

spectrum-fontIcon--sizeXXS() {
  font-family: spectrum-css-icons-18;
  font-size: 9px;
  &::before {
    height: 9px;
    width: 9px;
  }
}

spectrum-fontIcon--sizeS() {
  font-family: spectrum-css-icons-18;
  font-size: 18px;
  &::before {
    height: 18px;
    width: 18px;
  }
}

spectrum-fontIcon--sizeL() {
  font-family: spectrum-css-icons-18;
  font-size: 36px;
  &::before {
    height: 36px;
    width: 36px;
  }
}

spectrum-fontIcon--sizeXXL() {
  font-family: spectrum-css-icons-18;
  font-size: 72px;
  &::before {
    height: 72px;
    width: 72px;
  }
}

spectrum-fontIcon-iconclasses(prefix) {
  
  {prefix}--Add::before {
    content: "\ea01";
  }
  {prefix}--AddCircle::before {
    content: "\ea02";
  }
  {prefix}--AddTo::before {
    content: "\ea03";
  }
  {prefix}--AdobeDocumentCloud::before {
    content: "\ea04";
  }
  {prefix}--AdobeLogo::before {
    content: "\ea05";
  }
  {prefix}--AdobeSendNow::before {
    content: "\ea06";
  }
  {prefix}--Alert::before {
    content: "\ea07";
  }
  {prefix}--Alias::before {
    content: "\ea08";
  }
  {prefix}--AlignBottom::before {
    content: "\ea09";
  }
  {prefix}--AlignCenter::before {
    content: "\ea0a";
  }
  {prefix}--AlignLeft::before {
    content: "\ea0b";
  }
  {prefix}--AlignMiddle::before {
    content: "\ea0c";
  }
  {prefix}--AlignRight::before {
    content: "\ea0d";
  }
  {prefix}--AlignTop::before {
    content: "\ea0e";
  }
  {prefix}--Anchor::before {
    content: "\ea0f";
  }
  {prefix}--AnchorSelect::before {
    content: "\ea10";
  }
  {prefix}--Android::before {
    content: "\ea11";
  }
  {prefix}--Annotate::before {
    content: "\ea12";
  }
  {prefix}--Apple::before {
    content: "\ea13";
  }
  {prefix}--Archive::before {
    content: "\ea14";
  }
  {prefix}--Artboard::before {
    content: "\ea15";
  }
  {prefix}--Asset::before {
    content: "\ea16";
  }
  {prefix}--Asterisk::before {
    content: "\ea17";
  }
  {prefix}--At::before {
    content: "\ea18";
  }
  {prefix}--Attach::before {
    content: "\ea19";
  }
  {prefix}--Audio::before {
    content: "\ea1a";
  }
  {prefix}--Back30Sekonds::before {
    content: "\ea1b";
  }
  {prefix}--Behance::before {
    content: "\ea1c";
  }
  {prefix}--Bell::before {
    content: "\ea1d";
  }
  {prefix}--Blog::before {
    content: "\ea1e";
  }
  {prefix}--Blower::before {
    content: "\ea1f";
  }
  {prefix}--Blur::before {
    content: "\ea20";
  }
  {prefix}--Bookmark::before {
    content: "\ea21";
  }
  {prefix}--Box::before {
    content: "\ea22";
  }
  {prefix}--Brush::before {
    content: "\ea23";
  }
  {prefix}--Building::before {
    content: "\ea24";
  }
  {prefix}--Calendar::before {
    content: "\ea25";
  }
  {prefix}--CalendarLocked::before {
    content: "\ea26";
  }
  {prefix}--CalendarUnlocked::before {
    content: "\ea27";
  }
  {prefix}--Camera::before {
    content: "\ea28";
  }
  {prefix}--Cancel::before {
    content: "\ea29";
  }
  {prefix}--Captcha::before {
    content: "\ea2a";
  }
  {prefix}--Chat::before {
    content: "\ea2b";
  }
  {prefix}--Checkmark::before {
    content: "\ea2c";
  }
  {prefix}--CheckmarkCircle::before {
    content: "\ea2d";
  }
  {prefix}--ClassicGridView::before {
    content: "\ea2e";
  }
  {prefix}--Clock::before {
    content: "\ea2f";
  }
  {prefix}--CloneStamp::before {
    content: "\ea30";
  }
  {prefix}--Close::before {
    content: "\ea31";
  }
  {prefix}--CloseCaptions::before {
    content: "\ea32";
  }
  {prefix}--CloseCircle::before {
    content: "\ea33";
  }
  {prefix}--Code::before {
    content: "\ea34";
  }
  {prefix}--ColorFill::before {
    content: "\ea35";
  }
  {prefix}--ColorPalette::before {
    content: "\ea36";
  }
  {prefix}--ColorWheel::before {
    content: "\ea37";
  }
  {prefix}--Comment::before {
    content: "\ea38";
  }
  {prefix}--Contrast::before {
    content: "\ea39";
  }
  {prefix}--Copy::before {
    content: "\ea3a";
  }
  {prefix}--CreativeCloud::before {
    content: "\ea3b";
  }
  {prefix}--CreditCard::before {
    content: "\ea3c";
  }
  {prefix}--Crop::before {
    content: "\ea3d";
  }
  {prefix}--Curate::before {
    content: "\ea3e";
  }
  {prefix}--Cut::before {
    content: "\ea3f";
  }
  {prefix}--Dashboard::before {
    content: "\ea40";
  }
  {prefix}--Data::before {
    content: "\ea41";
  }
  {prefix}--Date::before {
    content: "\ea42";
  }
  {prefix}--Delete::before {
    content: "\ea43";
  }
  {prefix}--DeleteOutline::before {
    content: "\ea44";
  }
  {prefix}--DesktopAndMobile::before {
    content: "\ea45";
  }
  {prefix}--DeviceDesktop::before {
    content: "\ea46";
  }
  {prefix}--DeviceLaptop::before {
    content: "\ea47";
  }
  {prefix}--DevicePhone::before {
    content: "\ea48";
  }
  {prefix}--DevicePhoneRefresh::before {
    content: "\ea49";
  }
  {prefix}--DevicePreview::before {
    content: "\ea4a";
  }
  {prefix}--DeviceRotateLandscape::before {
    content: "\ea4b";
  }
  {prefix}--DeviceRotatePortrait::before {
    content: "\ea4c";
  }
  {prefix}--DeviceTV::before {
    content: "\ea4d";
  }
  {prefix}--DeviceTablet::before {
    content: "\ea4e";
  }
  {prefix}--Devices::before {
    content: "\ea4f";
  }
  {prefix}--DistributeHorizontalCenter::before {
    content: "\ea50";
  }
  {prefix}--DistributeLeftEdge::before {
    content: "\ea51";
  }
  {prefix}--DistributeRightEdge::before {
    content: "\ea52";
  }
  {prefix}--DistributeSpaceHoriz::before {
    content: "\ea53";
  }
  {prefix}--DistributeSpaceVert::before {
    content: "\ea54";
  }
  {prefix}--DividePath::before {
    content: "\ea56";
  }
  {prefix}--Document::before {
    content: "\ea55";
  }
  {prefix}--DocumentOutline::before {
    content: "\ea57";
  }
  {prefix}--Download::before {
    content: "\ea58";
  }
  {prefix}--DownloadFromCloud::before {
    content: "\ea59";
  }
  {prefix}--Draw::before {
    content: "\ea5a";
  }
  {prefix}--Edit::before {
    content: "\ea5b";
  }
  {prefix}--Education::before {
    content: "\ea5c";
  }
  {prefix}--Effects::before {
    content: "\ea5d";
  }
  {prefix}--Ellipse::before {
    content: "\ea5e";
  }
  {prefix}--Email::before {
    content: "\ea5f";
  }
  {prefix}--Engagement::before {
    content: "\ea60";
  }
  {prefix}--Erase::before {
    content: "\ea61";
  }
  {prefix}--ExcludeOverlap::before {
    content: "\ea62";
  }
  {prefix}--Exposure::before {
    content: "\ea63";
  }
  {prefix}--Facebook::before {
    content: "\ea64";
  }
  {prefix}--Filter::before {
    content: "\ea65";
  }
  {prefix}--Firefox::before {
    content: "\ea66";
  }
  {prefix}--Flag::before {
    content: "\ea67";
  }
  {prefix}--Flash::before {
    content: "\ea68";
  }
  {prefix}--FlashAuto::before {
    content: "\ea69";
  }
  {prefix}--FlashOff::before {
    content: "\ea6a";
  }
  {prefix}--FlashOn::before {
    content: "\ea6b";
  }
  {prefix}--Flickr::before {
    content: "\ea6c";
  }
  {prefix}--FlipHorizontal::before {
    content: "\ea6d";
  }
  {prefix}--FlipVertical::before {
    content: "\ea6e";
  }
  {prefix}--Folder::before {
    content: "\ea6f";
  }
  {prefix}--FolderOpen::before {
    content: "\ea70";
  }
  {prefix}--FullScreen::before {
    content: "\ea71";
  }
  {prefix}--FullScreenExit::before {
    content: "\ea72";
  }
  {prefix}--Globe::before {
    content: "\ea73";
  }
  {prefix}--GlobeOutline::before {
    content: "\ea74";
  }
  {prefix}--GooglePlus::before {
    content: "\ea75";
  }
  {prefix}--Gradient::before {
    content: "\ea76";
  }
  {prefix}--Graphic::before {
    content: "\ea77";
  }
  {prefix}--Heal::before {
    content: "\ea78";
  }
  {prefix}--Heart::before {
    content: "\ea79";
  }
  {prefix}--Help::before {
    content: "\ea7a";
  }
  {prefix}--HelpOutline::before {
    content: "\ea7b";
  }
  {prefix}--History::before {
    content: "\ea7c";
  }
  {prefix}--Home::before {
    content: "\ea7e";
  }
  {prefix}--Illustrator::before {
    content: "\ea7d";
  }
  {prefix}--Image::before {
    content: "\ea7f";
  }
  {prefix}--ImageAlbum::before {
    content: "\ea80";
  }
  {prefix}--ImageCarousel::before {
    content: "\ea81";
  }
  {prefix}--ImageText::before {
    content: "\ea82";
  }
  {prefix}--Images::before {
    content: "\ea83";
  }
  {prefix}--InDesign::before {
    content: "\ea84";
  }
  {prefix}--Inbox::before {
    content: "\ea85";
  }
  {prefix}--Info::before {
    content: "\ea86";
  }
  {prefix}--InfoOutline::before {
    content: "\ea87";
  }
  {prefix}--Instagram::before {
    content: "\ea88";
  }
  {prefix}--InternetExplorer::before {
    content: "\ea89";
  }
  {prefix}--IntersectOverlap::before {
    content: "\ea8a";
  }
  {prefix}--InvertAdjl::before {
    content: "\ea8b";
  }
  {prefix}--Label::before {
    content: "\ea8c";
  }
  {prefix}--Landscape::before {
    content: "\ea8d";
  }
  {prefix}--Layers::before {
    content: "\ea8e";
  }
  {prefix}--LayersBackward::before {
    content: "\ea8f";
  }
  {prefix}--LayersBringToFront::before {
    content: "\ea90";
  }
  {prefix}--LayersForward::before {
    content: "\ea91";
  }
  {prefix}--LayersSendToBack::before {
    content: "\ea92";
  }
  {prefix}--Light::before {
    content: "\ea93";
  }
  {prefix}--Lightroom::before {
    content: "\ea94";
  }
  {prefix}--Line::before {
    content: "\ea95";
  }
  {prefix}--Link::before {
    content: "\ea96";
  }
  {prefix}--LinkOut::before {
    content: "\ea97";
  }
  {prefix}--LinkedIn::before {
    content: "\ea98";
  }
  {prefix}--Location::before {
    content: "\ea99";
  }
  {prefix}--LockClosed::before {
    content: "\ea9a";
  }
  {prefix}--LockOpen::before {
    content: "\ea9b";
  }
  {prefix}--LogOut::before {
    content: "\ea9c";
  }
  {prefix}--Looks::before {
    content: "\ea9d";
  }
  {prefix}--LoupeView::before {
    content: "\ea9e";
  }
  {prefix}--MagicWand::before {
    content: "\ea9f";
  }
  {prefix}--Mailbox::before {
    content: "\eaa0";
  }
  {prefix}--MapView::before {
    content: "\eaa1";
  }
  {prefix}--Maximize::before {
    content: "\eaa2";
  }
  {prefix}--Measure::before {
    content: "\eaa3";
  }
  {prefix}--Merge::before {
    content: "\eaa4";
  }
  {prefix}--MergeLayers::before {
    content: "\eaa5";
  }
  {prefix}--Minimize::before {
    content: "\eaa6";
  }
  {prefix}--MobileServices::before {
    content: "\eaa7";
  }
  {prefix}--ModernGridView::before {
    content: "\eaa8";
  }
  {prefix}--More::before {
    content: "\eaa9";
  }
  {prefix}--Move::before {
    content: "\eaaa";
  }
  {prefix}--MoveTo::before {
    content: "\eaab";
  }
  {prefix}--Muse::before {
    content: "\eaac";
  }
  {prefix}--NamingOrder::before {
    content: "\eaad";
  }
  {prefix}--NoEdit::before {
    content: "\eaae";
  }
  {prefix}--Note::before {
    content: "\eaaf";
  }
  {prefix}--OpenRecent::before {
    content: "\eab0";
  }
  {prefix}--Orbit::before {
    content: "\eab1";
  }
  {prefix}--OutlinePath::before {
    content: "\eab2";
  }
  {prefix}--PageBreak::before {
    content: "\eab3";
  }
  {prefix}--Pan::before {
    content: "\eab4";
  }
  {prefix}--Paste::before {
    content: "\eab5";
  }
  {prefix}--Pause::before {
    content: "\eab6";
  }
  {prefix}--PauseCircle::before {
    content: "\eab7";
  }
  {prefix}--Pending::before {
    content: "\eab8";
  }
  {prefix}--Perspective::before {
    content: "\eab9";
  }
  {prefix}--PhoneGap::before {
    content: "\eaba";
  }
  {prefix}--PhoneGapBuilder::before {
    content: "\eabb";
  }
  {prefix}--Photoshop::before {
    content: "\eabc";
  }
  {prefix}--PinOff::before {
    content: "\eabd";
  }
  {prefix}--PinOn::before {
    content: "\eabe";
  }
  {prefix}--Pinterest::before {
    content: "\eabf";
  }
  {prefix}--Play::before {
    content: "\eac0";
  }
  {prefix}--PlayCircle::before {
    content: "\eac1";
  }
  {prefix}--Polygon::before {
    content: "\eac2";
  }
  {prefix}--Portrait::before {
    content: "\eac3";
  }
  {prefix}--Print::before {
    content: "\eac4";
  }
  {prefix}--ProjectEdit::before {
    content: "\eac5";
  }
  {prefix}--ProjectNameEdit::before {
    content: "\eac6";
  }
  {prefix}--Promote::before {
    content: "\eac7";
  }
  {prefix}--Properties::before {
    content: "\eac8";
  }
  {prefix}--PropertiesCopy::before {
    content: "\eac9";
  }
  {prefix}--Public::before {
    content: "\eaca";
  }
  {prefix}--RectSelect::before {
    content: "\eacb";
  }
  {prefix}--Rectangle::before {
    content: "\eacc";
  }
  {prefix}--Redo::before {
    content: "\eacd";
  }
  {prefix}--Refresh::before {
    content: "\eace";
  }
  {prefix}--RegionSelect::before {
    content: "\eacf";
  }
  {prefix}--Remove::before {
    content: "\ead0";
  }
  {prefix}--RemoveCircle::before {
    content: "\ead1";
  }
  {prefix}--Rename::before {
    content: "\ead2";
  }
  {prefix}--Reorder::before {
    content: "\ead3";
  }
  {prefix}--Replay::before {
    content: "\ead4";
  }
  {prefix}--Replies::before {
    content: "\ead5";
  }
  {prefix}--Reply::before {
    content: "\ead6";
  }
  {prefix}--Revert::before {
    content: "\ead7";
  }
  {prefix}--RotateCCW::before {
    content: "\ead8";
  }
  {prefix}--RotateCW::before {
    content: "\ead9";
  }
  {prefix}--RotateLeft::before {
    content: "\eada";
  }
  {prefix}--RotateRight::before {
    content: "\eadb";
  }
  {prefix}--Sampler::before {
    content: "\eadc";
  }
  {prefix}--SaveFloppy::before {
    content: "\eadd";
  }
  {prefix}--SaveTo::before {
    content: "\eade";
  }
  {prefix}--Search::before {
    content: "\eadf";
  }
  {prefix}--Select::before {
    content: "\eae0";
  }
  {prefix}--Send::before {
    content: "\eae1";
  }
  {prefix}--SentimentNegative::before {
    content: "\eae2";
  }
  {prefix}--SentimentNeutral::before {
    content: "\eae3";
  }
  {prefix}--SentimentPositive::before {
    content: "\eae4";
  }
  {prefix}--Settings::before {
    content: "\eae5";
  }
  {prefix}--Shapes::before {
    content: "\eae6";
  }
  {prefix}--Share::before {
    content: "\eae7";
  }
  {prefix}--ShareAndroid::before {
    content: "\eae8";
  }
  {prefix}--ShareWindows::before {
    content: "\eae9";
  }
  {prefix}--Sharpen::before {
    content: "\eaea";
  }
  {prefix}--ShoppingCart::before {
    content: "\eaeb";
  }
  {prefix}--ShowAllLayers::before {
    content: "\eaec";
  }
  {prefix}--ShowOneLayer::before {
    content: "\eaed";
  }
  {prefix}--Shuffle::before {
    content: "\eaee";
  }
  {prefix}--Slice::before {
    content: "\eaef";
  }
  {prefix}--SplitView::before {
    content: "\eaf0";
  }
  {prefix}--Star::before {
    content: "\eaf1";
  }
  {prefix}--StarOutline::before {
    content: "\eaf2";
  }
  {prefix}--StepBackward::before {
    content: "\eaf3";
  }
  {prefix}--StepBackwardCircle::before {
    content: "\eaf4";
  }
  {prefix}--StepForward::before {
    content: "\eaf5";
  }
  {prefix}--StepForwardCircle::before {
    content: "\eaf6";
  }
  {prefix}--Stock::before {
    content: "\eaf7";
  }
  {prefix}--Stop::before {
    content: "\eaf8";
  }
  {prefix}--StopCircle::before {
    content: "\eaf9";
  }
  {prefix}--Stopwatch::before {
    content: "\eafa";
  }
  {prefix}--Subscribe::before {
    content: "\eafb";
  }
  {prefix}--SubstractBackPath::before {
    content: "\eafc";
  }
  {prefix}--SubtractFrontPath::before {
    content: "\eafd";
  }
  {prefix}--Sync::before {
    content: "\eafe";
  }
  {prefix}--Target::before {
    content: "\eaff";
  }
  {prefix}--Targeted::before {
    content: "\eb00";
  }
  {prefix}--Temperature::before {
    content: "\eb01";
  }
  {prefix}--Text::before {
    content: "\eb02";
  }
  {prefix}--TextAdd::before {
    content: "\eb03";
  }
  {prefix}--TextAlignCenter::before {
    content: "\eb04";
  }
  {prefix}--TextAlignJustify::before {
    content: "\eb05";
  }
  {prefix}--TextAlignLeft::before {
    content: "\eb06";
  }
  {prefix}--TextAlignRight::before {
    content: "\eb07";
  }
  {prefix}--TextBold::before {
    content: "\eb08";
  }
  {prefix}--TextBulleted::before {
    content: "\eb09";
  }
  {prefix}--TextBulletedHierarchy::before {
    content: "\eb0a";
  }
  {prefix}--TextBulletedHierarchyExclude::before {
    content: "\eb0b";
  }
  {prefix}--TextColor::before {
    content: "\eb0c";
  }
  {prefix}--TextDecrease::before {
    content: "\eb0d";
  }
  {prefix}--TextEdit::before {
    content: "\eb0e";
  }
  {prefix}--TextExclude::before {
    content: "\eb0f";
  }
  {prefix}--TextIncrease::before {
    content: "\eb10";
  }
  {prefix}--TextItalic::before {
    content: "\eb11";
  }
  {prefix}--TextKerning::before {
    content: "\eb12";
  }
  {prefix}--TextLetteredLowerCase::before {
    content: "\eb14";
  }
  {prefix}--TextLetteredUpperCase::before {
    content: "\eb13";
  }
  {prefix}--TextNumbered::before {
    content: "\eb16";
  }
  {prefix}--TextParagraph::before {
    content: "\eb15";
  }
  {prefix}--TextSize::before {
    content: "\eb17";
  }
  {prefix}--TextSizeAdd::before {
    content: "\eb18";
  }
  {prefix}--TextStyle::before {
    content: "\eb19";
  }
  {prefix}--TextSubscript::before {
    content: "\eb1a";
  }
  {prefix}--TextSuperscript::before {
    content: "\eb1b";
  }
  {prefix}--TextUnderline::before {
    content: "\eb1c";
  }
  {prefix}--ThumbDown::before {
    content: "\eb1d";
  }
  {prefix}--ThumbDownOutline::before {
    content: "\eb1e";
  }
  {prefix}--ThumbUp::before {
    content: "\eb1f";
  }
  {prefix}--ThumbUpOutline::before {
    content: "\eb20";
  }
  {prefix}--Transparency::before {
    content: "\eb21";
  }
  {prefix}--TrimPath::before {
    content: "\eb22";
  }
  {prefix}--Trophy::before {
    content: "\eb23";
  }
  {prefix}--Tumblr::before {
    content: "\eb24";
  }
  {prefix}--Twitter::before {
    content: "\eb25";
  }
  {prefix}--Undo::before {
    content: "\eb26";
  }
  {prefix}--Unlink::before {
    content: "\eb27";
  }
  {prefix}--Unmerge::before {
    content: "\eb28";
  }
  {prefix}--UploadToCloud::before {
    content: "\eb29";
  }
  {prefix}--User::before {
    content: "\eb2a";
  }
  {prefix}--UserGroup::before {
    content: "\eb2b";
  }
  {prefix}--VectorDraw::before {
    content: "\eb2c";
  }
  {prefix}--Video::before {
    content: "\eb2d";
  }
  {prefix}--VideoOutline::before {
    content: "\eb2e";
  }
  {prefix}--ViewBiWeek::before {
    content: "\eb2f";
  }
  {prefix}--ViewCard::before {
    content: "\eb30";
  }
  {prefix}--ViewColumn::before {
    content: "\eb31";
  }
  {prefix}--ViewDay::before {
    content: "\eb32";
  }
  {prefix}--ViewGrid::before {
    content: "\eb33";
  }
  {prefix}--ViewList::before {
    content: "\eb34";
  }
  {prefix}--ViewRow::before {
    content: "\eb35";
  }
  {prefix}--ViewWeek::before {
    content: "\eb36";
  }
  {prefix}--Vignette::before {
    content: "\eb37";
  }
  {prefix}--Visibility::before {
    content: "\eb38";
  }
  {prefix}--VisibilityOff::before {
    content: "\eb39";
  }
  {prefix}--VoiceOver::before {
    content: "\eb3a";
  }
  {prefix}--VolumeMute::before {
    content: "\eb3b";
  }
  {prefix}--VolumeOne::before {
    content: "\eb3c";
  }
  {prefix}--VolumeThree::before {
    content: "\eb3d";
  }
  {prefix}--VolumeTwo::before {
    content: "\eb3e";
  }
  {prefix}--Watch::before {
    content: "\eb3f";
  }
  {prefix}--WhatsApp::before {
    content: "\eb40";
  }
  {prefix}--YouTube::before {
    content: "\eb41";
  }
  {prefix}--ZoomIn::before {
    content: "\eb42";
  }
  {prefix}--ZoomOut::before {
    content: "\eb43";
  }
}
