


@font-face {
  font-family: 'spectrum-css-icons-24';
  src: url('24/spectrum-css-icons-24.eot'); /* IE9 Compat Modes */
  src: url('24/spectrum-css-icons-24.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('24/spectrum-css-icons-24.woff2') format('woff2'), /* Super Modern Browsers */
       url('24/spectrum-css-icons-24.woff') format('woff'), /* Pretty Modern Browsers */
       url('24/spectrum-css-icons-24.ttf') format('truetype'), /* Safari, Android, iOS */
       url('24/spectrum-css-icons-24.svg#24/spectrum-css-icons-24') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

.spectrum-Icon {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spectrum-Icon--sizeXXS {
  font-family: spectrum-css-icons-24;
  font-size: 9px;
  &::before {
    height: 9px;
    width: 9px;
  }
}

.spectrum-Icon--sizeXS {
  font-family: spectrum-css-icons-24;
  font-size: 12px;
  &::before {
    height: 12px;
    width: 12px;
  }
}

.spectrum-Icon--sizeS {
  font-family: spectrum-css-icons-24;
  font-size: 18px;
  &::before {
    height: 18px;
    width: 18px;
  }
}

.spectrum-Icon--sizeM {
  font-family: spectrum-css-icons-24;
  font-size: 24px;
  &::before {
    height: 24px;
    width: 24px;
  }
}

.spectrum-Icon--sizeL {
  font-family: spectrum-css-icons-24;
  font-size: 36px;
  &::before {
    height: 36px;
    width: 36px;
  }
}

.spectrum-Icon--sizeXL {
  font-family: spectrum-css-icons-24;
  font-size: 48px;
  &::before {
    height: 48px;
    width: 48px;
  }
}

.spectrum-Icon--sizeXXL {
  font-family: spectrum-css-icons-24;
  font-size: 72px;
  &::before {
    height: 72px;
    width: 72px;
  }
}


.spectrum-Icon--123::before {
    content: "\ea01";
}
.spectrum-Icon--ABC::before {
    content: "\ea02";
}
.spectrum-Icon--Actions::before {
    content: "\ea03";
}
.spectrum-Icon--Add::before {
    content: "\ea04";
}
.spectrum-Icon--AddCircle::before {
    content: "\ea05";
}
.spectrum-Icon--AddToSelection::before {
    content: "\ea06";
}
.spectrum-Icon--Adjust::before {
    content: "\ea07";
}
.spectrum-Icon--Adobe::before {
    content: "\ea08";
}
.spectrum-Icon--AdobeAnalytics::before {
    content: "\ea09";
}
.spectrum-Icon--AdobeAudienceManager::before {
    content: "\ea0a";
}
.spectrum-Icon--AdobeCampaign::before {
    content: "\ea0b";
}
.spectrum-Icon--AdobeConnect::before {
    content: "\ea0c";
}
.spectrum-Icon--AdobeDocumentCloud::before {
    content: "\ea0d";
}
.spectrum-Icon--AdobeExperienceManager::before {
    content: "\ea0e";
}
.spectrum-Icon--AdobeMarketingCloud::before {
    content: "\ea0f";
}
.spectrum-Icon--AdobeMediaOptimizer::before {
    content: "\ea10";
}
.spectrum-Icon--AdobePrimetime::before {
    content: "\ea11";
}
.spectrum-Icon--AdobeSendNow::before {
    content: "\ea12";
}
.spectrum-Icon--AdobeSign::before {
    content: "\ea13";
}
.spectrum-Icon--AdobeSocial::before {
    content: "\ea14";
}
.spectrum-Icon--AdobeTarget::before {
    content: "\ea15";
}
.spectrum-Icon--Alert::before {
    content: "\ea16";
}
.spectrum-Icon--AlertAdd::before {
    content: "\ea17";
}
.spectrum-Icon--AlertCheck::before {
    content: "\ea18";
}
.spectrum-Icon--Alias::before {
    content: "\ea19";
}
.spectrum-Icon--AmazonWebServices::before {
    content: "\ea1a";
}
.spectrum-Icon--Anchor::before {
    content: "\ea1b";
}
.spectrum-Icon--Android::before {
    content: "\ea1c";
}
.spectrum-Icon--Annotate::before {
    content: "\ea1d";
}
.spectrum-Icon--Answer::before {
    content: "\ea1e";
}
.spectrum-Icon--AnswerFavorite::before {
    content: "\ea1f";
}
.spectrum-Icon--App::before {
    content: "\ea20";
}
.spectrum-Icon--Apple::before {
    content: "\ea21";
}
.spectrum-Icon--ApproveReject::before {
    content: "\ea22";
}
.spectrum-Icon--Apps::before {
    content: "\ea23";
}
.spectrum-Icon--Archive::before {
    content: "\ea24";
}
.spectrum-Icon--ArchiveRemove::before {
    content: "\ea25";
}
.spectrum-Icon--ArrowDown::before {
    content: "\ea26";
}
.spectrum-Icon--ArrowLeft::before {
    content: "\ea27";
}
.spectrum-Icon--ArrowRight::before {
    content: "\ea28";
}
.spectrum-Icon--ArrowUp::before {
    content: "\ea29";
}
.spectrum-Icon--Asset::before {
    content: "\ea2a";
}
.spectrum-Icon--AssetCheck::before {
    content: "\ea2b";
}
.spectrum-Icon--AssetsAdded::before {
    content: "\ea2c";
}
.spectrum-Icon--AssetsDownloaded::before {
    content: "\ea2d";
}
.spectrum-Icon--AssetsExpired::before {
    content: "\ea2e";
}
.spectrum-Icon--AssetsLinkedPublished::before {
    content: "\ea2f";
}
.spectrum-Icon--AssetsModified::before {
    content: "\ea30";
}
.spectrum-Icon--AssetsPublished::before {
    content: "\ea31";
}
.spectrum-Icon--Asterisk::before {
    content: "\ea32";
}
.spectrum-Icon--At::before {
    content: "\ea33";
}
.spectrum-Icon--Attach::before {
    content: "\ea34";
}
.spectrum-Icon--AttachmentExclude::before {
    content: "\ea35";
}
.spectrum-Icon--Back::before {
    content: "\ea36";
}
.spectrum-Icon--Back30Seconds::before {
    content: "\ea37";
}
.spectrum-Icon--Beaker::before {
    content: "\ea38";
}
.spectrum-Icon--BeakerCheck::before {
    content: "\ea39";
}
.spectrum-Icon--BeakerShare::before {
    content: "\ea3a";
}
.spectrum-Icon--Behance::before {
    content: "\ea3b";
}
.spectrum-Icon--Bell::before {
    content: "\ea3c";
}
.spectrum-Icon--BidRule::before {
    content: "\ea3d";
}
.spectrum-Icon--BidRuleAdd::before {
    content: "\ea3e";
}
.spectrum-Icon--Bitly::before {
    content: "\ea3f";
}
.spectrum-Icon--Blackberry::before {
    content: "\ea40";
}
.spectrum-Icon--Blog::before {
    content: "\ea41";
}
.spectrum-Icon--Blur::before {
    content: "\ea42";
}
.spectrum-Icon--Book::before {
    content: "\ea43";
}
.spectrum-Icon--Bookmark::before {
    content: "\ea44";
}
.spectrum-Icon--Boolean::before {
    content: "\ea45";
}
.spectrum-Icon--Box::before {
    content: "\ea46";
}
.spectrum-Icon--BoxAdd::before {
    content: "\ea47";
}
.spectrum-Icon--BoxExport::before {
    content: "\ea48";
}
.spectrum-Icon--BoxImport::before {
    content: "\ea49";
}
.spectrum-Icon--Brackets::before {
    content: "\ea4a";
}
.spectrum-Icon--BracketsSquare::before {
    content: "\ea4b";
}
.spectrum-Icon--Branch1::before {
    content: "\ea4c";
}
.spectrum-Icon--Branch2::before {
    content: "\ea4d";
}
.spectrum-Icon--Branch3::before {
    content: "\ea4e";
}
.spectrum-Icon--BranchCircle::before {
    content: "\ea4f";
}
.spectrum-Icon--Breakdown::before {
    content: "\ea50";
}
.spectrum-Icon--BreakdownAdd::before {
    content: "\ea51";
}
.spectrum-Icon--Briefcase::before {
    content: "\ea52";
}
.spectrum-Icon--Browse::before {
    content: "\ea53";
}
.spectrum-Icon--Brush::before {
    content: "\ea54";
}
.spectrum-Icon--Bug::before {
    content: "\ea55";
}
.spectrum-Icon--Building::before {
    content: "\ea56";
}
.spectrum-Icon--BulkEditUsers::before {
    content: "\ea57";
}
.spectrum-Icon--Button::before {
    content: "\ea58";
}
.spectrum-Icon--Calculator::before {
    content: "\ea59";
}
.spectrum-Icon--Calendar::before {
    content: "\ea5a";
}
.spectrum-Icon--CalendarAdd::before {
    content: "\ea5b";
}
.spectrum-Icon--CalendarLocked::before {
    content: "\ea5c";
}
.spectrum-Icon--CalendarUnlocked::before {
    content: "\ea5d";
}
.spectrum-Icon--CallCenter::before {
    content: "\ea5e";
}
.spectrum-Icon--Camera::before {
    content: "\ea5f";
}
.spectrum-Icon--CameraRefresh::before {
    content: "\ea60";
}
.spectrum-Icon--Campaign::before {
    content: "\ea61";
}
.spectrum-Icon--CampaignAdd::before {
    content: "\ea62";
}
.spectrum-Icon--CampaignClose::before {
    content: "\ea63";
}
.spectrum-Icon--CampaignDelete::before {
    content: "\ea64";
}
.spectrum-Icon--CampaignEdit::before {
    content: "\ea65";
}
.spectrum-Icon--Captcha::before {
    content: "\ea66";
}
.spectrum-Icon--Card::before {
    content: "\ea67";
}
.spectrum-Icon--Channel::before {
    content: "\ea68";
}
.spectrum-Icon--Check::before {
    content: "\ea69";
}
.spectrum-Icon--CheckCircle::before {
    content: "\ea6a";
}
.spectrum-Icon--CheckPause::before {
    content: "\ea6b";
}
.spectrum-Icon--CheckmarkCircle::before {
    content: "\ea6c";
}
.spectrum-Icon--ChevronDoubleLeft::before {
    content: "\ea6d";
}
.spectrum-Icon--ChevronDoubleRight::before {
    content: "\ea6e";
}
.spectrum-Icon--ChevronDown::before {
    content: "\ea6f";
}
.spectrum-Icon--ChevronLeft::before {
    content: "\ea70";
}
.spectrum-Icon--ChevronRight::before {
    content: "\ea71";
}
.spectrum-Icon--ChevronUp::before {
    content: "\ea72";
}
.spectrum-Icon--ChevronUpDown::before {
    content: "\ea73";
}
.spectrum-Icon--Chrome::before {
    content: "\ea74";
}
.spectrum-Icon--Circle::before {
    content: "\ea75";
}
.spectrum-Icon--Clock::before {
    content: "\ea76";
}
.spectrum-Icon--ClockCheck::before {
    content: "\ea77";
}
.spectrum-Icon--Close::before {
    content: "\ea78";
}
.spectrum-Icon--CloseCircle::before {
    content: "\ea79";
}
.spectrum-Icon--ClosedCaptions::before {
    content: "\ea7a";
}
.spectrum-Icon--Cloud::before {
    content: "\ea7b";
}
.spectrum-Icon--Code::before {
    content: "\ea7c";
}
.spectrum-Icon--Collection::before {
    content: "\ea7d";
}
.spectrum-Icon--CollectionAdd::before {
    content: "\ea7e";
}
.spectrum-Icon--CollectionAddTo::before {
    content: "\ea7f";
}
.spectrum-Icon--CollectionCheck::before {
    content: "\ea80";
}
.spectrum-Icon--CollectionEdit::before {
    content: "\ea81";
}
.spectrum-Icon--CollectionExclude::before {
    content: "\ea82";
}
.spectrum-Icon--CollectionLink::before {
    content: "\ea83";
}
.spectrum-Icon--ColorPalette::before {
    content: "\ea84";
}
.spectrum-Icon--ColumnSettings::before {
    content: "\ea85";
}
.spectrum-Icon--ColumnTwoA::before {
    content: "\ea86";
}
.spectrum-Icon--ColumnTwoB::before {
    content: "\ea87";
}
.spectrum-Icon--ColumnTwoC::before {
    content: "\ea88";
}
.spectrum-Icon--Comment::before {
    content: "\ea89";
}
.spectrum-Icon--CommentAdd::before {
    content: "\ea8a";
}
.spectrum-Icon--Compare::before {
    content: "\ea8b";
}
.spectrum-Icon--Compass::before {
    content: "\ea8c";
}
.spectrum-Icon--ConfidenceFour::before {
    content: "\ea8d";
}
.spectrum-Icon--ConfidenceOne::before {
    content: "\ea8e";
}
.spectrum-Icon--ConfidenceThree::before {
    content: "\ea8f";
}
.spectrum-Icon--ConfidenceTwo::before {
    content: "\ea90";
}
.spectrum-Icon--ConversionFunnel::before {
    content: "\ea91";
}
.spectrum-Icon--Copy::before {
    content: "\ea92";
}
.spectrum-Icon--CoverImage::before {
    content: "\ea93";
}
.spectrum-Icon--CreativeCloud::before {
    content: "\ea94";
}
.spectrum-Icon--CreditCard::before {
    content: "\ea95";
}
.spectrum-Icon--Crop::before {
    content: "\ea96";
}
.spectrum-Icon--Crosshairs::before {
    content: "\ea97";
}
.spectrum-Icon--Curate::before {
    content: "\ea98";
}
.spectrum-Icon--CursorArrow::before {
    content: "\ea99";
}
.spectrum-Icon--Cut::before {
    content: "\ea9a";
}
.spectrum-Icon--DPS::before {
    content: "\ea9b";
}
.spectrum-Icon--Dashboard::before {
    content: "\ea9c";
}
.spectrum-Icon--Data::before {
    content: "\ea9d";
}
.spectrum-Icon--DataAdd::before {
    content: "\ea9e";
}
.spectrum-Icon--DataAdobe::before {
    content: "\ea9f";
}
.spectrum-Icon--DataBook::before {
    content: "\eaa0";
}
.spectrum-Icon--DataCheck::before {
    content: "\eaa1";
}
.spectrum-Icon--DataCorrelated::before {
    content: "\eaa2";
}
.spectrum-Icon--DataDownload::before {
    content: "\eaa3";
}
.spectrum-Icon--DataEdit::before {
    content: "\eaa4";
}
.spectrum-Icon--DataRefresh::before {
    content: "\eaa5";
}
.spectrum-Icon--DataRemove::before {
    content: "\eaa6";
}
.spectrum-Icon--DataUnavailable::before {
    content: "\eaa7";
}
.spectrum-Icon--DataUpload::before {
    content: "\eaa8";
}
.spectrum-Icon--DataUser::before {
    content: "\eaa9";
}
.spectrum-Icon--Date::before {
    content: "\eaaa";
}
.spectrum-Icon--DateInput::before {
    content: "\eaab";
}
.spectrum-Icon--Deduplication::before {
    content: "\eaac";
}
.spectrum-Icon--Delegate::before {
    content: "\eaad";
}
.spectrum-Icon--Delete::before {
    content: "\eaae";
}
.spectrum-Icon--DeleteOutline::before {
    content: "\eaaf";
}
.spectrum-Icon--DeliveryFusion::before {
    content: "\eab0";
}
.spectrum-Icon--Demographic::before {
    content: "\eab1";
}
.spectrum-Icon--DeviceDesktop::before {
    content: "\eab2";
}
.spectrum-Icon--DeviceLaptop::before {
    content: "\eab3";
}
.spectrum-Icon--DevicePhone::before {
    content: "\eab4";
}
.spectrum-Icon--DevicePhoneRefresh::before {
    content: "\eab5";
}
.spectrum-Icon--DevicePreview::before {
    content: "\eab6";
}
.spectrum-Icon--DeviceRotateLandscape::before {
    content: "\eab7";
}
.spectrum-Icon--DeviceRotatePortrait::before {
    content: "\eab8";
}
.spectrum-Icon--DeviceTV::before {
    content: "\eab9";
}
.spectrum-Icon--DeviceTablet::before {
    content: "\eaba";
}
.spectrum-Icon--Devices::before {
    content: "\eabb";
}
.spectrum-Icon--Dimension::before {
    content: "\eabc";
}
.spectrum-Icon--Disqus::before {
    content: "\eabd";
}
.spectrum-Icon--Divide::before {
    content: "\eabe";
}
.spectrum-Icon--DocumentFragment::before {
    content: "\eabf";
}
.spectrum-Icon--DocumentFragmentGroup::before {
    content: "\eac0";
}
.spectrum-Icon--Dolly::before {
    content: "\eac1";
}
.spectrum-Icon--Download::before {
    content: "\eac2";
}
.spectrum-Icon--DownloadFromCloud::before {
    content: "\eac3";
}
.spectrum-Icon--Downloaded::before {
    content: "\eac4";
}
.spectrum-Icon--Draft::before {
    content: "\eac5";
}
.spectrum-Icon--DragHandle::before {
    content: "\eac6";
}
.spectrum-Icon--Dropdown::before {
    content: "\eac7";
}
.spectrum-Icon--Duplicate::before {
    content: "\eac8";
}
.spectrum-Icon--Edit::before {
    content: "\eac9";
}
.spectrum-Icon--EditCircle::before {
    content: "\eaca";
}
.spectrum-Icon--EditExclude::before {
    content: "\eacb";
}
.spectrum-Icon--Education::before {
    content: "\eacc";
}
.spectrum-Icon--Effects::before {
    content: "\eacd";
}
.spectrum-Icon--Efficient::before {
    content: "\eace";
}
.spectrum-Icon--Email::before {
    content: "\eacf";
}
.spectrum-Icon--EmailAlert::before {
    content: "\ead0";
}
.spectrum-Icon--EmailCancel::before {
    content: "\ead1";
}
.spectrum-Icon--EmailCheck::before {
    content: "\ead2";
}
.spectrum-Icon--EmailExclude::before {
    content: "\ead3";
}
.spectrum-Icon--EmailGear::before {
    content: "\ead4";
}
.spectrum-Icon--EmailKey::before {
    content: "\ead5";
}
.spectrum-Icon--EmailLightning::before {
    content: "\ead6";
}
.spectrum-Icon--EmailNotification::before {
    content: "\ead7";
}
.spectrum-Icon--EmailRefresh::before {
    content: "\ead8";
}
.spectrum-Icon--EmailSchedule::before {
    content: "\ead9";
}
.spectrum-Icon--Engagement::before {
    content: "\eada";
}
.spectrum-Icon--Event::before {
    content: "\eadb";
}
.spectrum-Icon--EventExclude::before {
    content: "\eadc";
}
.spectrum-Icon--EventShare::before {
    content: "\eadd";
}
.spectrum-Icon--Exclude::before {
    content: "\eade";
}
.spectrum-Icon--Experience::before {
    content: "\eadf";
}
.spectrum-Icon--ExperienceAdd::before {
    content: "\eae0";
}
.spectrum-Icon--ExperienceAddTo::before {
    content: "\eae1";
}
.spectrum-Icon--ExperienceExport::before {
    content: "\eae2";
}
.spectrum-Icon--ExperienceImport::before {
    content: "\eae3";
}
.spectrum-Icon--Export::before {
    content: "\eae4";
}
.spectrum-Icon--Extension::before {
    content: "\eae5";
}
.spectrum-Icon--Eyedropper::before {
    content: "\eae6";
}
.spectrum-Icon--Facebook::before {
    content: "\eae7";
}
.spectrum-Icon--FacebookCoverImage::before {
    content: "\eae8";
}
.spectrum-Icon--Fast::before {
    content: "\eae9";
}
.spectrum-Icon--FastForward::before {
    content: "\eaea";
}
.spectrum-Icon--FastForwardCircle::before {
    content: "\eaeb";
}
.spectrum-Icon--Feed::before {
    content: "\eaec";
}
.spectrum-Icon--FeedAdd::before {
    content: "\eaed";
}
.spectrum-Icon--FeedManagement::before {
    content: "\eaee";
}
.spectrum-Icon--File::before {
    content: "\eaef";
}
.spectrum-Icon--FileAdd::before {
    content: "\eaf0";
}
.spectrum-Icon--FileCSV::before {
    content: "\eaf1";
}
.spectrum-Icon--FileCampaign::before {
    content: "\eaf2";
}
.spectrum-Icon--FileChart::before {
    content: "\eaf3";
}
.spectrum-Icon--FileCode::before {
    content: "\eaf4";
}
.spectrum-Icon--FileData::before {
    content: "\eaf5";
}
.spectrum-Icon--FileEmail::before {
    content: "\eaf6";
}
.spectrum-Icon--FileExcel::before {
    content: "\eaf7";
}
.spectrum-Icon--FileFolder::before {
    content: "\eaf8";
}
.spectrum-Icon--FileGear::before {
    content: "\eaf9";
}
.spectrum-Icon--FileGlobe::before {
    content: "\eafa";
}
.spectrum-Icon--FileGlobe2::before {
    content: "\eafb";
}
.spectrum-Icon--FileHTML::before {
    content: "\eafc";
}
.spectrum-Icon--FileImportant::before {
    content: "\eafd";
}
.spectrum-Icon--FileKey::before {
    content: "\eafe";
}
.spectrum-Icon--FileMobile::before {
    content: "\eaff";
}
.spectrum-Icon--FilePDF::before {
    content: "\eb00";
}
.spectrum-Icon--FileShare::before {
    content: "\eb01";
}
.spectrum-Icon--FileSingleWebPage::before {
    content: "\eb02";
}
.spectrum-Icon--FileSpace::before {
    content: "\eb03";
}
.spectrum-Icon--FileTemplate::before {
    content: "\eb04";
}
.spectrum-Icon--FileTxt::before {
    content: "\eb05";
}
.spectrum-Icon--FileUser::before {
    content: "\eb06";
}
.spectrum-Icon--FileWord::before {
    content: "\eb07";
}
.spectrum-Icon--FileWorkflow::before {
    content: "\eb08";
}
.spectrum-Icon--FileXML::before {
    content: "\eb09";
}
.spectrum-Icon--FileZip::before {
    content: "\eb0a";
}
.spectrum-Icon--FilingCabinet::before {
    content: "\eb0b";
}
.spectrum-Icon--Film::before {
    content: "\eb0c";
}
.spectrum-Icon--Filter::before {
    content: "\eb0d";
}
.spectrum-Icon--FilterAdd::before {
    content: "\eb0e";
}
.spectrum-Icon--FilterCheck::before {
    content: "\eb0f";
}
.spectrum-Icon--FilterDelete::before {
    content: "\eb10";
}
.spectrum-Icon--FilterEdit::before {
    content: "\eb11";
}
.spectrum-Icon--FilterHeart::before {
    content: "\eb12";
}
.spectrum-Icon--FilterRemove::before {
    content: "\eb13";
}
.spectrum-Icon--FilterStar::before {
    content: "\eb14";
}
.spectrum-Icon--FindAndReplace::before {
    content: "\eb15";
}
.spectrum-Icon--Firefox::before {
    content: "\eb16";
}
.spectrum-Icon--Flag::before {
    content: "\eb17";
}
.spectrum-Icon--FlagExclude::before {
    content: "\eb18";
}
.spectrum-Icon--Flash::before {
    content: "\eb19";
}
.spectrum-Icon--Flashlight::before {
    content: "\eb1a";
}
.spectrum-Icon--Flickr::before {
    content: "\eb1b";
}
.spectrum-Icon--Folder::before {
    content: "\eb1c";
}
.spectrum-Icon--FolderAdd::before {
    content: "\eb1d";
}
.spectrum-Icon--FolderAddTo::before {
    content: "\eb1e";
}
.spectrum-Icon--FolderAdobe::before {
    content: "\eb1f";
}
.spectrum-Icon--FolderArchive::before {
    content: "\eb20";
}
.spectrum-Icon--FolderDelete::before {
    content: "\eb21";
}
.spectrum-Icon--FolderGear::before {
    content: "\eb22";
}
.spectrum-Icon--FolderLocked::before {
    content: "\eb23";
}
.spectrum-Icon--FolderLockedAdobe::before {
    content: "\eb24";
}
.spectrum-Icon--FolderOutline::before {
    content: "\eb25";
}
.spectrum-Icon--FolderRemove::before {
    content: "\eb26";
}
.spectrum-Icon--FolderSearch::before {
    content: "\eb27";
}
.spectrum-Icon--FolderUser::before {
    content: "\eb28";
}
.spectrum-Icon--Follow::before {
    content: "\eb29";
}
.spectrum-Icon--FollowOff::before {
    content: "\eb2a";
}
.spectrum-Icon--ForPlacementOnly::before {
    content: "\eb2b";
}
.spectrum-Icon--Forecast::before {
    content: "\eb2c";
}
.spectrum-Icon--Form::before {
    content: "\eb2d";
}
.spectrum-Icon--Forward::before {
    content: "\eb2e";
}
.spectrum-Icon--FullScreen::before {
    content: "\eb2f";
}
.spectrum-Icon--FullScreenExit::before {
    content: "\eb30";
}
.spectrum-Icon--Game::before {
    content: "\eb31";
}
.spectrum-Icon--Gauge1::before {
    content: "\eb32";
}
.spectrum-Icon--Gauge2::before {
    content: "\eb33";
}
.spectrum-Icon--Gauge3::before {
    content: "\eb34";
}
.spectrum-Icon--Gauge4::before {
    content: "\eb35";
}
.spectrum-Icon--Gauge5::before {
    content: "\eb36";
}
.spectrum-Icon--Gear::before {
    content: "\eb37";
}
.spectrum-Icon--Gears::before {
    content: "\eb38";
}
.spectrum-Icon--GearsAdd::before {
    content: "\eb39";
}
.spectrum-Icon--GearsDelete::before {
    content: "\eb3a";
}
.spectrum-Icon--GearsEdit::before {
    content: "\eb3b";
}
.spectrum-Icon--GenderFemale::before {
    content: "\eb3c";
}
.spectrum-Icon--GenderMale::before {
    content: "\eb3d";
}
.spectrum-Icon--Gift::before {
    content: "\eb3e";
}
.spectrum-Icon--Globe::before {
    content: "\eb3f";
}
.spectrum-Icon--GlobeCheck::before {
    content: "\eb40";
}
.spectrum-Icon--GlobeClock::before {
    content: "\eb41";
}
.spectrum-Icon--GlobeEnter::before {
    content: "\eb42";
}
.spectrum-Icon--GlobeExit::before {
    content: "\eb43";
}
.spectrum-Icon--GlobeGrid::before {
    content: "\eb44";
}
.spectrum-Icon--GlobeRemove::before {
    content: "\eb45";
}
.spectrum-Icon--GlobeSearch::before {
    content: "\eb46";
}
.spectrum-Icon--GlobeStrike::before {
    content: "\eb47";
}
.spectrum-Icon--GlobeStrikeClock::before {
    content: "\eb48";
}
.spectrum-Icon--Google::before {
    content: "\eb49";
}
.spectrum-Icon--GoogleAnalytics::before {
    content: "\eb4a";
}
.spectrum-Icon--GooglePlayStore::before {
    content: "\eb4b";
}
.spectrum-Icon--GooglePlus::before {
    content: "\eb4c";
}
.spectrum-Icon--GooglePlus1::before {
    content: "\eb4d";
}
.spectrum-Icon--GraphArea::before {
    content: "\eb4e";
}
.spectrum-Icon--GraphAreaStacked::before {
    content: "\eb4f";
}
.spectrum-Icon--GraphBarHorizontal::before {
    content: "\eb50";
}
.spectrum-Icon--GraphBarHorizontalAdd::before {
    content: "\eb51";
}
.spectrum-Icon--GraphBarHorizontalStacked::before {
    content: "\eb52";
}
.spectrum-Icon--GraphBarVertical::before {
    content: "\eb53";
}
.spectrum-Icon--GraphBarVerticalAdd::before {
    content: "\eb54";
}
.spectrum-Icon--GraphBarVerticalStacked::before {
    content: "\eb55";
}
.spectrum-Icon--GraphBubble::before {
    content: "\eb56";
}
.spectrum-Icon--GraphBullet::before {
    content: "\eb57";
}
.spectrum-Icon--GraphConfidenceBands::before {
    content: "\eb58";
}
.spectrum-Icon--GraphDonut::before {
    content: "\eb59";
}
.spectrum-Icon--GraphDonutAdd::before {
    content: "\eb5a";
}
.spectrum-Icon--GraphGantt::before {
    content: "\eb5b";
}
.spectrum-Icon--GraphHistogram::before {
    content: "\eb5c";
}
.spectrum-Icon--GraphPathing::before {
    content: "\eb5d";
}
.spectrum-Icon--GraphPie::before {
    content: "\eb5e";
}
.spectrum-Icon--GraphProfitCurve::before {
    content: "\eb5f";
}
.spectrum-Icon--GraphScatter::before {
    content: "\eb60";
}
.spectrum-Icon--GraphStream::before {
    content: "\eb61";
}
.spectrum-Icon--GraphStreamRanked::before {
    content: "\eb62";
}
.spectrum-Icon--GraphStreamRankedAdd::before {
    content: "\eb63";
}
.spectrum-Icon--GraphSunburst::before {
    content: "\eb64";
}
.spectrum-Icon--GraphTree::before {
    content: "\eb65";
}
.spectrum-Icon--GraphTrend::before {
    content: "\eb66";
}
.spectrum-Icon--GraphTrendAdd::before {
    content: "\eb67";
}
.spectrum-Icon--GraphTrendAlert::before {
    content: "\eb68";
}
.spectrum-Icon--Group::before {
    content: "\eb69";
}
.spectrum-Icon--HTML5::before {
    content: "\eb6a";
}
.spectrum-Icon--Hammer::before {
    content: "\eb6b";
}
.spectrum-Icon--Hand::before {
    content: "\eb6c";
}
.spectrum-Icon--Hand0::before {
    content: "\eb6d";
}
.spectrum-Icon--Hand1::before {
    content: "\eb6e";
}
.spectrum-Icon--Hand2::before {
    content: "\eb6f";
}
.spectrum-Icon--Hand3::before {
    content: "\eb70";
}
.spectrum-Icon--Hand4::before {
    content: "\eb71";
}
.spectrum-Icon--Heart::before {
    content: "\eb72";
}
.spectrum-Icon--Help::before {
    content: "\eb73";
}
.spectrum-Icon--HelpCircle::before {
    content: "\eb74";
}
.spectrum-Icon--History::before {
    content: "\eb75";
}
.spectrum-Icon--Home::before {
    content: "\eb76";
}
.spectrum-Icon--Image::before {
    content: "\eb77";
}
.spectrum-Icon--ImageAdd::before {
    content: "\eb78";
}
.spectrum-Icon--ImageAlbum::before {
    content: "\eb79";
}
.spectrum-Icon--ImageCarousel::before {
    content: "\eb7a";
}
.spectrum-Icon--ImageCheck::before {
    content: "\eb7b";
}
.spectrum-Icon--ImageMapCircle::before {
    content: "\eb7c";
}
.spectrum-Icon--ImageMapPolygon::before {
    content: "\eb7d";
}
.spectrum-Icon--ImageMapRectangle::before {
    content: "\eb7e";
}
.spectrum-Icon--ImageNext::before {
    content: "\eb7f";
}
.spectrum-Icon--ImageProfile::before {
    content: "\eb80";
}
.spectrum-Icon--ImageText::before {
    content: "\eb81";
}
.spectrum-Icon--Images::before {
    content: "\eb82";
}
.spectrum-Icon--Import::before {
    content: "\eb83";
}
.spectrum-Icon--Inbox::before {
    content: "\eb84";
}
.spectrum-Icon--Individual::before {
    content: "\eb85";
}
.spectrum-Icon--Info::before {
    content: "\eb86";
}
.spectrum-Icon--InfoCircle::before {
    content: "\eb87";
}
.spectrum-Icon--Instagram::before {
    content: "\eb88";
}
.spectrum-Icon--InternetExplorer::before {
    content: "\eb89";
}
.spectrum-Icon--JumpToTop::before {
    content: "\eb8a";
}
.spectrum-Icon--Key::before {
    content: "\eb8b";
}
.spectrum-Icon--KeyClock::before {
    content: "\eb8c";
}
.spectrum-Icon--KeyExclude::before {
    content: "\eb8d";
}
.spectrum-Icon--Keyboard::before {
    content: "\eb8e";
}
.spectrum-Icon--Launch::before {
    content: "\eb8f";
}
.spectrum-Icon--Layers::before {
    content: "\eb90";
}
.spectrum-Icon--LayersBackward::before {
    content: "\eb91";
}
.spectrum-Icon--LayersBringToFront::before {
    content: "\eb92";
}
.spectrum-Icon--LayersForward::before {
    content: "\eb93";
}
.spectrum-Icon--LayersSendToBack::before {
    content: "\eb94";
}
.spectrum-Icon--Lightbulb::before {
    content: "\eb95";
}
.spectrum-Icon--Link::before {
    content: "\eb96";
}
.spectrum-Icon--LinkCheck::before {
    content: "\eb97";
}
.spectrum-Icon--LinkFacebook::before {
    content: "\eb98";
}
.spectrum-Icon--LinkGlobe::before {
    content: "\eb99";
}
.spectrum-Icon--LinkNav::before {
    content: "\eb9a";
}
.spectrum-Icon--LinkOff::before {
    content: "\eb9b";
}
.spectrum-Icon--LinkPage::before {
    content: "\eb9c";
}
.spectrum-Icon--LinkUser::before {
    content: "\eb9d";
}
.spectrum-Icon--LinkedIn::before {
    content: "\eb9e";
}
.spectrum-Icon--Linux::before {
    content: "\eb9f";
}
.spectrum-Icon--Location::before {
    content: "\eba0";
}
.spectrum-Icon--LocationContribution::before {
    content: "\eba1";
}
.spectrum-Icon--LockOff::before {
    content: "\eba2";
}
.spectrum-Icon--LockOn::before {
    content: "\eba3";
}
.spectrum-Icon--LogOut::before {
    content: "\eba4";
}
.spectrum-Icon--Login::before {
    content: "\eba5";
}
.spectrum-Icon--MBox::before {
    content: "\eba6";
}
.spectrum-Icon--Mailbox::before {
    content: "\eba7";
}
.spectrum-Icon--MarketingActivities::before {
    content: "\eba8";
}
.spectrum-Icon--Menu::before {
    content: "\eba9";
}
.spectrum-Icon--Merge::before {
    content: "\ebaa";
}
.spectrum-Icon--Minus::before {
    content: "\ebab";
}
.spectrum-Icon--MinusCircle::before {
    content: "\ebac";
}
.spectrum-Icon--MobileServices::before {
    content: "\ebad";
}
.spectrum-Icon--Money::before {
    content: "\ebae";
}
.spectrum-Icon--Moon::before {
    content: "\ebaf";
}
.spectrum-Icon--More::before {
    content: "\ebb0";
}
.spectrum-Icon--MoreVertical::before {
    content: "\ebb1";
}
.spectrum-Icon--Move::before {
    content: "\ebb2";
}
.spectrum-Icon--MoveLeftRight::before {
    content: "\ebb3";
}
.spectrum-Icon--MoveUpDown::before {
    content: "\ebb4";
}
.spectrum-Icon--Multiple::before {
    content: "\ebb5";
}
.spectrum-Icon--MultipleAdd::before {
    content: "\ebb6";
}
.spectrum-Icon--MultipleCheck::before {
    content: "\ebb7";
}
.spectrum-Icon--MultipleExclude::before {
    content: "\ebb8";
}
.spectrum-Icon--News::before {
    content: "\ebb9";
}
.spectrum-Icon--NewsAdd::before {
    content: "\ebba";
}
.spectrum-Icon--Newsgator::before {
    content: "\ebbb";
}
.spectrum-Icon--Nielsen::before {
    content: "\ebbc";
}
.spectrum-Icon--Note::before {
    content: "\ebbd";
}
.spectrum-Icon--NoteAdd::before {
    content: "\ebbe";
}
.spectrum-Icon--OS::before {
    content: "\ebbf";
}
.spectrum-Icon--Offer::before {
    content: "\ebc0";
}
.spectrum-Icon--OfferDelete::before {
    content: "\ebc1";
}
.spectrum-Icon--OnAir::before {
    content: "\ebc2";
}
.spectrum-Icon--OneDrive::before {
    content: "\ebc3";
}
.spectrum-Icon--Open::before {
    content: "\ebc4";
}
.spectrum-Icon--OpenRecent::before {
    content: "\ebc5";
}
.spectrum-Icon--Opera::before {
    content: "\ebc6";
}
.spectrum-Icon--Orbit::before {
    content: "\ebc7";
}
.spectrum-Icon--Organisations::before {
    content: "\ebc8";
}
.spectrum-Icon--Organize::before {
    content: "\ebc9";
}
.spectrum-Icon--Page::before {
    content: "\ebca";
}
.spectrum-Icon--PageBreak::before {
    content: "\ebcb";
}
.spectrum-Icon--PageExclude::before {
    content: "\ebcc";
}
.spectrum-Icon--PageGear::before {
    content: "\ebcd";
}
.spectrum-Icon--PageRule::before {
    content: "\ebce";
}
.spectrum-Icon--PageShare::before {
    content: "\ebcf";
}
.spectrum-Icon--PageTag::before {
    content: "\ebd0";
}
.spectrum-Icon--Pages::before {
    content: "\ebd1";
}
.spectrum-Icon--PagesExclude::before {
    content: "\ebd2";
}
.spectrum-Icon--PaintBucket::before {
    content: "\ebd3";
}
.spectrum-Icon--Panel::before {
    content: "\ebd4";
}
.spectrum-Icon--Paste::before {
    content: "\ebd5";
}
.spectrum-Icon--PasteHTML::before {
    content: "\ebd6";
}
.spectrum-Icon--PasteList::before {
    content: "\ebd7";
}
.spectrum-Icon--PasteText::before {
    content: "\ebd8";
}
.spectrum-Icon--Pause::before {
    content: "\ebd9";
}
.spectrum-Icon--PauseCircle::before {
    content: "\ebda";
}
.spectrum-Icon--PausePlay::before {
    content: "\ebdb";
}
.spectrum-Icon--PausePlayCircle::before {
    content: "\ebdc";
}
.spectrum-Icon--Pawn::before {
    content: "\ebdd";
}
.spectrum-Icon--Pending::before {
    content: "\ebde";
}
.spectrum-Icon--PeopleGroup::before {
    content: "\ebdf";
}
.spectrum-Icon--PersonalizationField::before {
    content: "\ebe0";
}
.spectrum-Icon--PhoneGap::before {
    content: "\ebe1";
}
.spectrum-Icon--PhoneGapBuilder::before {
    content: "\ebe2";
}
.spectrum-Icon--PinOff::before {
    content: "\ebe3";
}
.spectrum-Icon--PinOn::before {
    content: "\ebe4";
}
.spectrum-Icon--Pinterest::before {
    content: "\ebe5";
}
.spectrum-Icon--Pivot::before {
    content: "\ebe6";
}
.spectrum-Icon--Play::before {
    content: "\ebe7";
}
.spectrum-Icon--PlayCircle::before {
    content: "\ebe8";
}
.spectrum-Icon--Plug::before {
    content: "\ebe9";
}
.spectrum-Icon--PopIn::before {
    content: "\ebea";
}
.spectrum-Icon--PopOut::before {
    content: "\ebeb";
}
.spectrum-Icon--Preview::before {
    content: "\ebec";
}
.spectrum-Icon--Print::before {
    content: "\ebed";
}
.spectrum-Icon--PrintPreview::before {
    content: "\ebee";
}
.spectrum-Icon--Project::before {
    content: "\ebef";
}
.spectrum-Icon--ProjectAdd::before {
    content: "\ebf0";
}
.spectrum-Icon--Promote::before {
    content: "\ebf1";
}
.spectrum-Icon--Properties::before {
    content: "\ebf2";
}
.spectrum-Icon--Public::before {
    content: "\ebf3";
}
.spectrum-Icon--Publish::before {
    content: "\ebf4";
}
.spectrum-Icon--PublishCheck::before {
    content: "\ebf5";
}
.spectrum-Icon--PublishPending::before {
    content: "\ebf6";
}
.spectrum-Icon--PublishReject::before {
    content: "\ebf7";
}
.spectrum-Icon--PublishRemove::before {
    content: "\ebf8";
}
.spectrum-Icon--PublishSchedule::before {
    content: "\ebf9";
}
.spectrum-Icon--PushNotification::before {
    content: "\ebfa";
}
.spectrum-Icon--Question::before {
    content: "\ebfb";
}
.spectrum-Icon--RSS::before {
    content: "\ebfc";
}
.spectrum-Icon--Rail::before {
    content: "\ebfd";
}
.spectrum-Icon--RailBottom::before {
    content: "\ebfe";
}
.spectrum-Icon--RailLeft::before {
    content: "\ebff";
}
.spectrum-Icon--RailRight::before {
    content: "\ec00";
}
.spectrum-Icon--RailRightClose::before {
    content: "\ec01";
}
.spectrum-Icon--RailRightOpen::before {
    content: "\ec02";
}
.spectrum-Icon--RailTop::before {
    content: "\ec03";
}
.spectrum-Icon--Redo::before {
    content: "\ec04";
}
.spectrum-Icon--ReflectHorizontal::before {
    content: "\ec05";
}
.spectrum-Icon--ReflectVertical::before {
    content: "\ec06";
}
.spectrum-Icon--Refresh::before {
    content: "\ec07";
}
.spectrum-Icon--Reorder::before {
    content: "\ec08";
}
.spectrum-Icon--Replies::before {
    content: "\ec09";
}
.spectrum-Icon--Reply::before {
    content: "\ec0a";
}
.spectrum-Icon--Report::before {
    content: "\ec0b";
}
.spectrum-Icon--ReportAdd::before {
    content: "\ec0c";
}
.spectrum-Icon--Resize::before {
    content: "\ec0d";
}
.spectrum-Icon--Retweet::before {
    content: "\ec0e";
}
.spectrum-Icon--Revenue::before {
    content: "\ec0f";
}
.spectrum-Icon--Revert::before {
    content: "\ec10";
}
.spectrum-Icon--Rewind::before {
    content: "\ec11";
}
.spectrum-Icon--RewindCircle::before {
    content: "\ec12";
}
.spectrum-Icon--Ribbon::before {
    content: "\ec13";
}
.spectrum-Icon--RotateLeft::before {
    content: "\ec14";
}
.spectrum-Icon--RotateRight::before {
    content: "\ec15";
}
.spectrum-Icon--SMS::before {
    content: "\ec16";
}
.spectrum-Icon--SMSKey::before {
    content: "\ec17";
}
.spectrum-Icon--SMSLightning::before {
    content: "\ec18";
}
.spectrum-Icon--SMSRefresh::before {
    content: "\ec19";
}
.spectrum-Icon--Safari::before {
    content: "\ec1a";
}
.spectrum-Icon--Save::before {
    content: "\ec1b";
}
.spectrum-Icon--SaveAs::before {
    content: "\ec1c";
}
.spectrum-Icon--SaveTo::before {
    content: "\ec1d";
}
.spectrum-Icon--Scribble::before {
    content: "\ec1e";
}
.spectrum-Icon--Search::before {
    content: "\ec1f";
}
.spectrum-Icon--Seat::before {
    content: "\ec20";
}
.spectrum-Icon--SeatAdd::before {
    content: "\ec21";
}
.spectrum-Icon--Select::before {
    content: "\ec22";
}
.spectrum-Icon--SelectAll::before {
    content: "\ec23";
}
.spectrum-Icon--SelectContainer::before {
    content: "\ec24";
}
.spectrum-Icon--SelectGear::before {
    content: "\ec25";
}
.spectrum-Icon--SendForSignature::before {
    content: "\ec26";
}
.spectrum-Icon--SentimentNegative::before {
    content: "\ec27";
}
.spectrum-Icon--SentimentNeutral::before {
    content: "\ec28";
}
.spectrum-Icon--SentimentPositive::before {
    content: "\ec29";
}
.spectrum-Icon--Separator::before {
    content: "\ec2a";
}
.spectrum-Icon--Servers::before {
    content: "\ec2b";
}
.spectrum-Icon--Share::before {
    content: "\ec2c";
}
.spectrum-Icon--ShareCheck::before {
    content: "\ec2d";
}
.spectrum-Icon--Sharpen::before {
    content: "\ec2e";
}
.spectrum-Icon--Shield::before {
    content: "\ec2f";
}
.spectrum-Icon--ShoppingCart::before {
    content: "\ec30";
}
.spectrum-Icon--Shuffle::before {
    content: "\ec31";
}
.spectrum-Icon--SinaWeibo::before {
    content: "\ec32";
}
.spectrum-Icon--Slow::before {
    content: "\ec33";
}
.spectrum-Icon--Spam::before {
    content: "\ec34";
}
.spectrum-Icon--Spellcheck::before {
    content: "\ec35";
}
.spectrum-Icon--Spin::before {
    content: "\ec36";
}
.spectrum-Icon--Stage::before {
    content: "\ec37";
}
.spectrum-Icon--Stamp::before {
    content: "\ec38";
}
.spectrum-Icon--StarFill::before {
    content: "\ec39";
}
.spectrum-Icon--StarStroke::before {
    content: "\ec3a";
}
.spectrum-Icon--Starburst::before {
    content: "\ec3b";
}
.spectrum-Icon--Stop::before {
    content: "\ec3c";
}
.spectrum-Icon--StopCircle::before {
    content: "\ec3d";
}
.spectrum-Icon--Stopwatch::before {
    content: "\ec3e";
}
.spectrum-Icon--StrokeWidth::before {
    content: "\ec3f";
}
.spectrum-Icon--Subscribe::before {
    content: "\ec40";
}
.spectrum-Icon--SubstractFromSelection::before {
    content: "\ec41";
}
.spectrum-Icon--SuccessMetric::before {
    content: "\ec42";
}
.spectrum-Icon--Summarize::before {
    content: "\ec43";
}
.spectrum-Icon--Switch::before {
    content: "\ec44";
}
.spectrum-Icon--Sync::before {
    content: "\ec45";
}
.spectrum-Icon--SyncRemove::before {
    content: "\ec46";
}
.spectrum-Icon--Table::before {
    content: "\ec47";
}
.spectrum-Icon--TableAdd::before {
    content: "\ec48";
}
.spectrum-Icon--TableAndChart::before {
    content: "\ec49";
}
.spectrum-Icon--TableColumnAddLeft::before {
    content: "\ec4a";
}
.spectrum-Icon--TableColumnAddRight::before {
    content: "\ec4b";
}
.spectrum-Icon--TableColumnMerge::before {
    content: "\ec4c";
}
.spectrum-Icon--TableColumnRemoveCenter::before {
    content: "\ec4d";
}
.spectrum-Icon--TableColumnSplit::before {
    content: "\ec4e";
}
.spectrum-Icon--TableEdit::before {
    content: "\ec4f";
}
.spectrum-Icon--TableHistogram::before {
    content: "\ec50";
}
.spectrum-Icon--TableMergeCells::before {
    content: "\ec51";
}
.spectrum-Icon--TableRowAddBottom::before {
    content: "\ec52";
}
.spectrum-Icon--TableRowAddTop::before {
    content: "\ec53";
}
.spectrum-Icon--TableRowMerge::before {
    content: "\ec54";
}
.spectrum-Icon--TableRowRemoveCenter::before {
    content: "\ec55";
}
.spectrum-Icon--TableRowSplit::before {
    content: "\ec56";
}
.spectrum-Icon--TableSelectColumn::before {
    content: "\ec57";
}
.spectrum-Icon--TableSelectRow::before {
    content: "\ec58";
}
.spectrum-Icon--Tableau::before {
    content: "\ec59";
}
.spectrum-Icon--Tag::before {
    content: "\ec5a";
}
.spectrum-Icon--TagExclude::before {
    content: "\ec5b";
}
.spectrum-Icon--Tags::before {
    content: "\ec5c";
}
.spectrum-Icon--Target::before {
    content: "\ec5d";
}
.spectrum-Icon--Targeted::before {
    content: "\ec5e";
}
.spectrum-Icon--TaskList::before {
    content: "\ec5f";
}
.spectrum-Icon--Teapot::before {
    content: "\ec60";
}
.spectrum-Icon--TestAB::before {
    content: "\ec61";
}
.spectrum-Icon--TestABEdit::before {
    content: "\ec62";
}
.spectrum-Icon--TestABGear::before {
    content: "\ec63";
}
.spectrum-Icon--TestABRemove::before {
    content: "\ec64";
}
.spectrum-Icon--TestProfile::before {
    content: "\ec65";
}
.spectrum-Icon--Text::before {
    content: "\ec66";
}
.spectrum-Icon--TextAdd::before {
    content: "\ec67";
}
.spectrum-Icon--TextBold::before {
    content: "\ec68";
}
.spectrum-Icon--TextBulleted::before {
    content: "\ec69";
}
.spectrum-Icon--TextBulletedAttach::before {
    content: "\ec6a";
}
.spectrum-Icon--TextBulletedHierarchy::before {
    content: "\ec6b";
}
.spectrum-Icon--TextBulletedHierarchyExclude::before {
    content: "\ec6c";
}
.spectrum-Icon--TextCenter::before {
    content: "\ec6d";
}
.spectrum-Icon--TextColor::before {
    content: "\ec6e";
}
.spectrum-Icon--TextDecrease::before {
    content: "\ec6f";
}
.spectrum-Icon--TextEdit::before {
    content: "\ec70";
}
.spectrum-Icon--TextExclude::before {
    content: "\ec71";
}
.spectrum-Icon--TextIncrease::before {
    content: "\ec72";
}
.spectrum-Icon--TextIndentDecrease::before {
    content: "\ec73";
}
.spectrum-Icon--TextIndentIncrease::before {
    content: "\ec74";
}
.spectrum-Icon--TextItalic::before {
    content: "\ec75";
}
.spectrum-Icon--TextJustified::before {
    content: "\ec76";
}
.spectrum-Icon--TextKerning::before {
    content: "\ec77";
}
.spectrum-Icon--TextLeft::before {
    content: "\ec78";
}
.spectrum-Icon--TextLetteredLowercase::before {
    content: "\ec79";
}
.spectrum-Icon--TextLetteredUppercase::before {
    content: "\ec7a";
}
.spectrum-Icon--TextNumbered::before {
    content: "\ec7b";
}
.spectrum-Icon--TextParagraph::before {
    content: "\ec7c";
}
.spectrum-Icon--TextRight::before {
    content: "\ec7d";
}
.spectrum-Icon--TextRomanLowercase::before {
    content: "\ec7e";
}
.spectrum-Icon--TextRomanUppercase::before {
    content: "\ec7f";
}
.spectrum-Icon--TextSize::before {
    content: "\ec80";
}
.spectrum-Icon--TextSizeAdd::before {
    content: "\ec81";
}
.spectrum-Icon--TextSpaceAfter::before {
    content: "\ec82";
}
.spectrum-Icon--TextSpaceBefore::before {
    content: "\ec83";
}
.spectrum-Icon--TextStrikethrough::before {
    content: "\ec84";
}
.spectrum-Icon--TextStyle::before {
    content: "\ec85";
}
.spectrum-Icon--TextSubscript::before {
    content: "\ec86";
}
.spectrum-Icon--TextSuperscript::before {
    content: "\ec87";
}
.spectrum-Icon--TextUnderline::before {
    content: "\ec88";
}
.spectrum-Icon--ThumbDown::before {
    content: "\ec89";
}
.spectrum-Icon--ThumbUp::before {
    content: "\ec8a";
}
.spectrum-Icon--Transparency::before {
    content: "\ec8b";
}
.spectrum-Icon--Trap::before {
    content: "\ec8c";
}
.spectrum-Icon--TreeCollapse::before {
    content: "\ec8d";
}
.spectrum-Icon--TreeCollapseAll::before {
    content: "\ec8e";
}
.spectrum-Icon--TreeExpand::before {
    content: "\ec8f";
}
.spectrum-Icon--TreeExpandAll::before {
    content: "\ec90";
}
.spectrum-Icon--TrendInspect::before {
    content: "\ec91";
}
.spectrum-Icon--TriangleDown::before {
    content: "\ec92";
}
.spectrum-Icon--TriangleRight::before {
    content: "\ec93";
}
.spectrum-Icon--Trophy::before {
    content: "\ec94";
}
.spectrum-Icon--Tumblr::before {
    content: "\ec95";
}
.spectrum-Icon--Twitter::before {
    content: "\ec96";
}
.spectrum-Icon--Type::before {
    content: "\ec97";
}
.spectrum-Icon--USA::before {
    content: "\ec98";
}
.spectrum-Icon--Undo::before {
    content: "\ec99";
}
.spectrum-Icon--Ungroup::before {
    content: "\ec9a";
}
.spectrum-Icon--Unmerge::before {
    content: "\ec9b";
}
.spectrum-Icon--Upload::before {
    content: "\ec9c";
}
.spectrum-Icon--User::before {
    content: "\ec9d";
}
.spectrum-Icon--UserActivity::before {
    content: "\ec9e";
}
.spectrum-Icon--UserAdd::before {
    content: "\ec9f";
}
.spectrum-Icon--UserAdmin::before {
    content: "\eca0";
}
.spectrum-Icon--UserArrow::before {
    content: "\eca1";
}
.spectrum-Icon--UserEdit::before {
    content: "\eca2";
}
.spectrum-Icon--UserExclude::before {
    content: "\eca3";
}
.spectrum-Icon--UserLock::before {
    content: "\eca4";
}
.spectrum-Icon--UserShare::before {
    content: "\eca5";
}
.spectrum-Icon--Users::before {
    content: "\eca6";
}
.spectrum-Icon--UsersAdd::before {
    content: "\eca7";
}
.spectrum-Icon--UsersExclude::before {
    content: "\eca8";
}
.spectrum-Icon--UsersLock::before {
    content: "\eca9";
}
.spectrum-Icon--UsersShare::before {
    content: "\ecaa";
}
.spectrum-Icon--VK::before {
    content: "\ecab";
}
.spectrum-Icon--ViewAllTags::before {
    content: "\ecac";
}
.spectrum-Icon--ViewBiWeek::before {
    content: "\ecad";
}
.spectrum-Icon--ViewCard::before {
    content: "\ecae";
}
.spectrum-Icon--ViewColumn::before {
    content: "\ecaf";
}
.spectrum-Icon--ViewDay::before {
    content: "\ecb0";
}
.spectrum-Icon--ViewDetail::before {
    content: "\ecb1";
}
.spectrum-Icon--ViewGrid::before {
    content: "\ecb2";
}
.spectrum-Icon--ViewList::before {
    content: "\ecb3";
}
.spectrum-Icon--ViewOff::before {
    content: "\ecb4";
}
.spectrum-Icon--ViewOn::before {
    content: "\ecb5";
}
.spectrum-Icon--ViewRow::before {
    content: "\ecb6";
}
.spectrum-Icon--ViewSingle::before {
    content: "\ecb7";
}
.spectrum-Icon--ViewStack::before {
    content: "\ecb8";
}
.spectrum-Icon--ViewWeek::before {
    content: "\ecb9";
}
.spectrum-Icon--ViewedMarkAs::before {
    content: "\ecba";
}
.spectrum-Icon--Visit::before {
    content: "\ecbb";
}
.spectrum-Icon--VisitShare::before {
    content: "\ecbc";
}
.spectrum-Icon--VolumeMute::before {
    content: "\ecbd";
}
.spectrum-Icon--VolumeOne::before {
    content: "\ecbe";
}
.spectrum-Icon--VolumeThree::before {
    content: "\ecbf";
}
.spectrum-Icon--VolumeTwo::before {
    content: "\ecc0";
}
.spectrum-Icon--Wand::before {
    content: "\ecc1";
}
.spectrum-Icon--Watch::before {
    content: "\ecc2";
}
.spectrum-Icon--Windows7::before {
    content: "\ecc3";
}
.spectrum-Icon--Windows8::before {
    content: "\ecc4";
}
.spectrum-Icon--Wordpress::before {
    content: "\ecc5";
}
.spectrum-Icon--Workflow::before {
    content: "\ecc6";
}
.spectrum-Icon--WorkflowAdd::before {
    content: "\ecc7";
}
.spectrum-Icon--Wrench::before {
    content: "\ecc8";
}
.spectrum-Icon--YouTube::before {
    content: "\ecc9";
}
.spectrum-Icon--ZoomIn::before {
    content: "\ecca";
}
.spectrum-Icon--ZoomOut::before {
    content: "\eccb";
}
