.spectrum--large .spectrum-TagList-item {

  margin: 5px 5px;
  padding: 0 13px;
  height: 30px;

  border-radius: 4px;

  transition: border-color 125ms ease-in-out,
    color 125ms ease-in-out,
    box-shadow 125ms ease-in-out,
    background-color 125ms ease-in-out;
}
.spectrum--large .spectrum-TagList-item > .spectrum-Icon,
  .spectrum--large .spectrum-TagList-item > .spectrum-Avatar {
    margin-right: 10px;
  }
.spectrum--large .spectrum-TagList-item .spectrum-ClearButton {
    margin-right: -13px;
  }
.spectrum--large .spectrum-TagList-item-label {
  font-size: 15px;
}
