:root {

  /* Radio button */

  /* Field group */
}

/* topdoc
---
  name: TagList - Default
  description: A taglist with items that cannot be edited.
  markup: |
    <div class="spectrum-TagList" role="list" aria-label="list">
      <div class="spectrum-TagList-item" role="listitem">
        <span class="spectrum-TagList-item-label">Tag 1</span>
      </div>
      <div class="spectrum-TagList-item is-invalid" role="listitem">
        <span class="spectrum-TagList-item-label">Tag 2</span>
      </div>
      <div class="spectrum-TagList-item is-disabled" role="listitem">
        <span class="spectrum-TagList-item-label">Tag 2</span>
      </div>
    </div>

*/

/* topdoc
---
  name: TagList - Removable
  description: An editable taglist.
  markup: |
    <div class="spectrum-TagList" role="list" aria-label="Tags">
      <div class="spectrum-TagList-item" tabindex="0" role="listitem">
        <span class="spectrum-TagList-item-label">Tag 1</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag 1" tabindex="-1">
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
      <div class="spectrum-TagList-item is-invalid" tabindex="0" role="listitem">
        <span class="spectrum-TagList-item-label">Tag 2</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag 2" tabindex="-1">
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
      <div class="spectrum-TagList-item is-disabled" tabindex="0" role="listitem">
        <span class="spectrum-TagList-item-label">Tag 2</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag 3" tabindex="-1" disabled>
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
    </div>

*/

/* topdoc
---
  name: TagList - Avatars
  description: The Spectrum tag list with avatars
  markup: |
    <div class="spectrum-TagList" role="list" aria-label="Tags">
      <div class="spectrum-TagList-item" role="listitem" tabindex="0">
        <img class="spectrum-TagList-item-avatar" src="img/example-ava.jpg" alt="Avatar">
        <span class="spectrum-TagList-item-label">Shantanu</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag Shantanu" tabindex="-1">
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
      <div class="spectrum-TagList-item is-invalid" role="listitem" tabindex="0">
        <img class="spectrum-TagList-item-avatar" src="img/example-ava.jpg" alt="Avatar">
        <span class="spectrum-TagList-item-label">Shantanu</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag Shantanu" tabindex="-1">
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
      <div class="spectrum-TagList-item is-disabled" role="listitem">
        <img class="spectrum-TagList-item-avatar" src="img/example-ava.jpg" alt="Avatar">
        <span class="spectrum-TagList-item-label">Shantanu</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag Shantanu" tabindex="-1" disabled>
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
    </div>

*/

/* topdoc
---
  name: TagList - Icons
  description: The Spectrum tag list with icons
  markup: |
    <div class="spectrum-TagList" role="list" aria-label="Tags">
      <div class="spectrum-TagList-item" role="listitem" tabindex="0">
        <svg class="spectrum-Icon spectrum-Icon--sizeXS" focusable="false" aria-hidden="true" aria-label="Tag">
          <use xlink:href="#spectrum-icon-24-SentimentPositive" />
        </svg>
        <span class="spectrum-TagList-item-label">Shantanu</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag Shantanu" tabindex="-1">
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
      <div class="spectrum-TagList-item is-invalid" role="listitem" tabindex="0">
        <svg class="spectrum-Icon spectrum-Icon--sizeXS" focusable="false" aria-hidden="true" aria-label="Tag">
          <use xlink:href="#spectrum-icon-24-SentimentPositive" />
        </svg>
        <span class="spectrum-TagList-item-label">Shantanu</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag Shantanu" tabindex="-1">
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
      <div class="spectrum-TagList-item is-disabled" role="listitem">
        <svg class="spectrum-Icon spectrum-Icon--sizeXS" focusable="false" aria-hidden="true" aria-label="Tag">
          <use xlink:href="#spectrum-icon-24-SentimentPositive" />
        </svg>
        <span class="spectrum-TagList-item-label">Shantanu</span>
        <button class="spectrum-TagList-item-removeButton spectrum-Button spectrum-Button--icon" aria-label="Remove tag Shantanu" tabindex="-1" disabled>
          <svg class="spectrum-Icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-css-icon-TagClose" />
          </svg>
        </button>
      </div>
    </div>

*/

.spectrum-TagList {
  display: inline-block;

  margin: 0;
  padding: 0;
  list-style: none;
}

.spectrum-TagList > .spectrum-TagList-item {
    margin: 0 8px 8px 0;
  }

.spectrum-TagList:after {
    content: "";
    display: table;
    clear: both;
  }

.spectrum-TagList-item {
  float: left;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: 4px;
  outline: none;
  padding: 4px 8px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  transition: border-color 125ms ease-in-out,
    color 125ms ease-in-out,
    box-shadow 125ms ease-in-out,
    background-color 125ms ease-in-out;
}

.spectrum-TagList-item.is-disabled {
    pointer-events: none;
  }

.spectrum-TagList-item .spectrum-Icon {
    margin-right: 8px;
  }

.spectrum-TagList-item-label {
  -ms-flex: 1;
      flex: 1;
  font-size: 0.75rem;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spectrum-TagList-item-removeButton {
  width: 24px;
  height: 24px;
  margin-right: -8px; /* Undo right padding on .spectrum-TagList-item */
  cursor: pointer;
}

/* The fake background, inherited from .spectrum-Button--icon */

.spectrum-TagList-item-removeButton::before {
    top: 6px;
    left: 6px;

    width: 12px;
    height: 12px;
  }

/* The actual icon */

.spectrum-TagList-item-removeButton .spectrum-Icon {
    width: 8px;
    height: 8px;
  }

.spectrum-TagList-item-avatar {
  height: 16px;
  margin-right: 8px;
  border-radius: 50%;
  user-drag: none;
}

.spectrum-TagList-item-icon,
.spectrum-TagList-item-avatar {
  /* Move it 2px to the left cause Nate says so */
  margin-left: -2px;
}
