.spectrum--dark,
.spectrum--dark .spectrum-Body {
  color: rgb(205, 205, 205);
}
.spectrum--dark .spectrum-Body--large {
  color: rgb(205, 205, 205);
}
.spectrum--dark .spectrum-Body--small {
  color: rgb(205, 205, 205);
}
.spectrum--dark .spectrum-Body--secondary {
  color: rgb(153, 153, 153);
}
.spectrum--dark .spectrum-Heading--display {
  color: rgb(255, 255, 255);
}
.spectrum--dark .spectrum-Heading--page-title {
  color: rgb(255, 255, 255);
}
.spectrum--dark .spectrum-Heading--subtitle1 {
  color: rgb(255, 255, 255);
}
.spectrum--dark .spectrum-Heading--subtitle2 {
  color: rgb(255, 255, 255);
}
.spectrum--dark .spectrum-Heading--subtitle3 {
  color: rgb(153, 153, 153);
}
