.spectrum--large .spectrum-Shell {
  height: 48px
}
.spectrum--large .spectrum-Shell-logoIcon {
  height: 24px;
  width: 24px;
}
.spectrum--large .spectrum-Shell-avatar {
  width: 24px;
  height: 24px
}
