/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

/* topdoc
---
name: Quick Actions
description: Spectrum quick actions (requires an icon)
status: Beta
markup: |
  <div class="spectrum-QuickActions is-open">
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Text">
        <use xlink:href="#spectrum-icon-18-Text" />
      </svg>
    </button>
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="RotateLeft">
        <use xlink:href="#spectrum-icon-18-RotateLeft" />
      </svg>
    </button>
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Crop">
        <use xlink:href="#spectrum-icon-18-Crop" />
      </svg>
    </button>
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="DeleteOutline">
        <use xlink:href="#spectrum-icon-18-DeleteOutline" />
      </svg>
    </button>
  </div>

*/

.spectrum--darkest .spectrum-QuickActions-item {
  background-color: rgb(26, 26, 26);
  border-color: rgb(45, 45, 45);
  color: rgb(180, 180, 180);
}

.spectrum--darkest .spectrum-QuickActions-item.focus-ring {
    background-color: rgb(8, 8, 8);
    border-color: rgb(20, 115, 230);
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
    color: rgb(226, 226, 226);
  }

.spectrum--darkest .spectrum-QuickActions-item:hover {
    background-color: rgb(8, 8, 8);
    border-color: rgb(60, 60, 60);
    box-shadow: none;
    color: rgb(226, 226, 226);
  }

.spectrum--darkest .spectrum-QuickActions-item:active,
  .spectrum--darkest .spectrum-QuickActions-item.is-selected {
    background-color: rgb(38, 38, 38);
    border-color: rgb(60, 60, 60);
    box-shadow: none;
    color: rgb(226, 226, 226);
  }

.spectrum--darkest .spectrum-QuickActions-item:disabled,
  .spectrum--darkest .spectrum-QuickActions-item.is-disabled {
    background-color: rgb(38, 38, 38);
    border-color: rgb(38, 38, 38);
    color: rgb(73, 73, 73);
  }
