/* Temporary skin variables that need to be moved into origins */

:root {
  /* Icon Button*/

  /* Button */

  /* Shell */

  /* haha remove this */
}

/* topdoc
---
name: Quick Actions
description: Spectrum quick actions (requires an icon)
status: Beta
markup: |
  <div class="spectrum-QuickActions is-open">
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Text">
        <use xlink:href="#spectrum-icon-18-Text" />
      </svg>
    </button>
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="RotateLeft">
        <use xlink:href="#spectrum-icon-18-RotateLeft" />
      </svg>
    </button>
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="Crop">
        <use xlink:href="#spectrum-icon-18-Crop" />
      </svg>
    </button>
    <button class="spectrum-QuickActions-item">
      <svg class="spectrum-Icon spectrum-Icon--sizeS" focusable="false" aria-hidden="true" aria-label="DeleteOutline">
        <use xlink:href="#spectrum-icon-18-DeleteOutline" />
      </svg>
    </button>
  </div>

*/

.spectrum--light .spectrum-QuickActions-item {
  background-color: rgb(250, 250, 250);
  border-color: rgb(225, 225, 225);
  color: rgb(75, 75, 75);
}

.spectrum--light .spectrum-QuickActions-item.focus-ring {
    background-color: rgb(255, 255, 255);
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
    color: rgb(44, 44, 44);
  }

.spectrum--light .spectrum-QuickActions-item:hover {
    background-color: rgb(255, 255, 255);
    border-color: rgb(202, 202, 202);
    box-shadow: none;
    color: rgb(44, 44, 44);
  }

.spectrum--light .spectrum-QuickActions-item:active,
  .spectrum--light .spectrum-QuickActions-item.is-selected {
    background-color: rgb(234, 234, 234);
    border-color: rgb(202, 202, 202);
    box-shadow: none;
    color: rgb(44, 44, 44);
  }

.spectrum--light .spectrum-QuickActions-item:disabled,
  .spectrum--light .spectrum-QuickActions-item.is-disabled {
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
    color: rgb(179, 179, 179);
  }
