
.spectrum--medium .spectrum-Pagination {
  --spectrum-pagination-textfield-width: 48px;
  --spectrum-pagination-counter-margin-left: 5px;
  --spectrum-pagination-page-button-margin-horizontal: 5px;
}
