/* Temporary skin variables that need to be moved into origins */
:root {
  /* Icon Button*/
}
.spectrum--darkest .spectrum-Select:hover {
    border-color: rgb(60, 60, 60);
  }
.spectrum--darkest .spectrum-Select.is-open .spectrum-Select-trigger {
      background-color: rgb(38, 38, 38);
      border-color: rgb(60, 60, 60);
    }
.spectrum--darkest .spectrum-Select.is-invalid .spectrum-Select-trigger {
      border-color: rgb(215, 55, 63);
    }
.spectrum--darkest .spectrum-Select.is-disabled .spectrum-Select-open-icon::after {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Crect x='1' y='1' width='10' height='6' style='fill:%23ff13dc%3Bopacity:0'/%3E%3Cpath style='fill:rgb%2873%2C 73%2C 73%29' d='M11 2a1 1 0 0 0-1.7-0.7L6 4.6 2.7 1.3A1 1 0 1 0 1.3 2.7l4 4a1 1 0 0 0 1.4 0l4-4A1 1 0 0 0 11 2Z'/%3E%3C/svg%3E");
      }
.spectrum--darkest .spectrum-Select.is-disabled .spectrum-Select-trigger {
      background-color: rgb(38, 38, 38);
      color: rgb(73, 73, 73);
    }
.spectrum--darkest .spectrum-Select-trigger {
  color: rgb(180, 180, 180);
  background-color: rgb(24, 24, 24);
  border-color: rgb(45, 45, 45);
}
.spectrum--darkest .spectrum-Select-trigger:hover {
    color: rgb(226, 226, 226);
    background-color: rgb(8, 8, 8);
  }
.spectrum--darkest .spectrum-Select-trigger:focus {
    box-shadow: 0 0 0 2px rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-Select-invalid-icon {
  color: rgb(215, 55, 63);
}
.spectrum--darkest .spectrum-Select-open-icon::after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Crect x='1' y='1' width='10' height='6' style='fill:%23ff13dc%3Bopacity:0'/%3E%3Cpath style='fill:rgb%28180%2C 180%2C 180%29' d='M11 2a1 1 0 0 0-1.7-0.7L6 4.6 2.7 1.3A1 1 0 1 0 1.3 2.7l4 4a1 1 0 0 0 1.4 0l4-4A1 1 0 0 0 11 2Z'/%3E%3C/svg%3E");
  }
.spectrum--darkest .spectrum-Select--quiet .spectrum-Select-trigger {
    border-color: transparent;
    background: transparent;
  }
.spectrum--darkest .spectrum-Select--quiet .spectrum-Select-trigger:focus {
      border-color: rgb(20, 115, 230);
      box-shadow: none;
    }
.spectrum--darkest .spectrum-Select--quiet.is-disabled .spectrum-Select-trigger {
      background-color: transparent;
    }
.spectrum--darkest .spectrum-Select--quiet.is-open .spectrum-Select-trigger {
      border-color: transparent;
      background: transparent;
    }
